{% extends "base_noindex.html" %}
{% block content %}
<head><title>Does not exist | Damadam</title></head>
<style>body{background: #f0f3f4}</style>
   
   	<div style="margin-left:auto;margin-right:auto">
		<h1 class="cxl lsp clb" style="text-align:center">Ye exist nahi karta ...</h1>
	</div>

    <div class="mbl mts clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:750px;margin-left:auto;margin-right:auto;width:97%">
	    <div style="padding:10px;text-align:center">
		    <div class="cxl sp lsp" style="border-bottom:1px solid #f0f3f4;padding-bottom:10px">Sorry! Ye expire ho gaya hai, ya kabhi exist hi nahi karta tha</div>
		    
		    <div class="cl sp lsp cgy mtl" style="text-align:center">Ap Damadam ka <a href="{% url 'home' %}" class="cb" style="border-bottom:1px solid dodgerblue">home</a> visit karein ...</div>
		</div>
	</div>

<br><br>
{% endblock %}