{% extends "base/base_topic_home.html" %}
{% block content %}
<main style="display:block" itemscope itemtype="http://schema.org/CollectionPage">

	<article style="overflow:hidden;background:#fefefa;max-width:750px;margin-left:auto;margin-right:auto;display:block">

		{% include "topics/topic_header.html" with topic_header=topic topic_description=topic_description c1=c1 c2=c2 %}
		
		<form method="POST" action="{% url 'subscribe_to_topic' topic_url %}">
			{% csrf_token %}
			<button type="submit" aria-label="subscribe" name="sub_scr" style="padding:0;margin:0;border:none;width:100%;height:40px;border-radius:0;font-weight:bold;background: {{ c1 }};background: linear-gradient(45deg, {{ c1 }} 0%, {{ c2 }} 100%)" class="cm clw sp pg_ok_res" value="1">SUBSCRIBE</button>
		</form>

	</article>

		{% if submissions %}

			{% load get_item %}
			{% load emoticons_tags %}
			{% load get_text_object %}
			{% load url_target_blank %}
			{% load get_inline_replies_section %}

			<section style="display:block">
			<div class="fx fxjscn fxaicn">
				<a href="{% url 'topic_page' topic_url %}" style="display:inline-block"><button class="rf" style="vertical-align:text-bottom;height:24px;width:44px;background:0 0" type="submit"><img src="{{ STATIC_URL }}img/refresh.svg" style="height:24px;width:24px" width="24" height="24"></button></a>
				<h2 style="text-align:center;font-weight:600" class="lsp cxl clb">Latest submissions:</h2>
			</div>

			{% for submission in submissions %}

				<article itemprop="hasPart" itemscope itemtype="http://schema.org/SocialMediaPosting" class="mbl" style="overflow:hidden;background:white;max-width:750px;margin-left:auto;margin-right:auto;display:block">
					<div>
						<a name="section{{ forloop.counter }}"></a>
						
						<section style="display:block">
						{% text_object obid=submission.i ooid=submission.si text=submission.d|urlize|url_target_blank|emoticons|linebreaksbr raw_text=submission.d origin='22' upload_time=submission.t machine_time=submission.mt oun=submission.su av_url=submission.sa vsc=submission.nv  is_fbs=on_fbs home_hash=submission.h static_url=STATIC_URL is_star=submission.s alignment=submission.c topic=topic topic_url=topic_url show_topic='1' et=submission.et time_now=time_now %}
						</section>

						<section style="display:block" class="mls mrs mbl">
						{% include "reply_bar.html" with target_user_id=submission.si target_obj_type='3' obj_id=submission.i origin='22' form=thin_rep_form btn_color='bct' topic_url=topic_url %}
						</section>

						<section style="display:block" class="mls mbl">
						{% inline_replies_section raw_replies=submission.rb static_url=STATIC_URL self_user_id=ident home_hash=submission.h origin='' obj_owner_id=submission.si obj_type='tx' %}
						</section>

					</div>
				</article>
				
			{% endfor %}
			</section>

			<div class="fx fxjscn fxaicn">
				{% if page.has_previous %}
				<div class="mbl" style="padding:0 10px">
					<a href="?page={{ page.previous_page_number }}#section0">{% include 'big_buttons/big_prev_button.html' %}</a>
				</div>
				{% endif %}
				{% if page.has_next %}
				<div class="mbl" style="padding:0 10px">
					<a href="?page={{ page.next_page_number }}#section0">{% include 'big_buttons/big_next_button.html' %}</a>
				</div>
				{% endif %}
			</div>

			{% include "transparent_buttons_js_helper.html" with static_url=STATIC_URL %}

		{% else %}
			<br>
		{% endif %}

</main>
{% endblock %}