{% extends "base/base_profile.html" %}
{% block content %}
<head><title>Memorize new password | Damadam</title></head>

<h1 class="cxl lsp clb" style="text-align:center">Remember your password!</h1>

<div class="mbl clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:500px;margin-left:auto;margin-right:auto;overflow: hidden;text-align:center">

	<div class="cxl lsp">Iski screenshot le lein, ya kahein likh lein:</div>
	<hr size=1 COLOR="#e5e7e9">
	<div class="sp mtl lsp">
		<div class="cxl" style="word-wrap:break-word;color:#dd2778"><b>{{ new_pass }}</b></div>
	</div>
	<a href="{% url 'home' %}#section0"><button class="btn bcb bl pg_ok_res mtl mbl cl sp" style="height:30px" type="submit">Done</button></a>
	<hr size=1 COLOR="#e5e7e9">
	<span class="sp lsp cs cgy"><b>Note:</b> Ap apney device se yahan logged in hain, lekin dusrey devices se log out ho gaye hain</span>
</div>

<br><br>
{% endblock %}
