
{% extends "base.html" %}
{% block content %}
<head><title>Memorize new password | Damadam.pk</title></head>
<style>body{background-image: url('{{ STATIC_URL }}img/wallpaper.png');}</style>
<h1 class="cxl lsp clb" style="text-align:center">Remember your password!</h1>

<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden;text-align:center">

	<div class="cxl lsp">New password ki screenshot le lein ya apney paas likh lein</div>
	<hr size=1 COLOR="#f2f2f2">
	<div class="cg sp mt">
		<span class="cs" style="word-wrap:break-word;"><b>{{ new_pass }}</b></span><br>
		<span style="word-wrap:break-word;"><b>{{ new_pass }}</b></span><br>
		<span class="cxl" style="word-wrap:break-word;"><b>{{ new_pass }}</b></span><br>
	</div>
	<a href="{% url 'home' %}#section0"><button class="btn bcg bm mts mbs pg_ok_res sp" style="height:26px">OK</button></a>
	<hr size=1 COLOR="#e5e7e9">
	<span class="sp lsp cs cgy"><b>Note:</b> Ap apney device se Damadam mein logged in hain, lekin dusrey devices se log out ho gaye hain</span>
</div>

<br><br>
{% endblock %}
