{% extends "base.html" %}
{% block content %}
<head><title>Change password tutorial | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>
<h1 class="cxl clb lsp" style="text-align:center">Change your password</h1>

<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:450px;width:92%;margin:0 auto;overflow: hidden;text-align:center">
	<div class="cxl lsp">Password change se apni security barhain!</div>
	<hr size=1 COLOR="#e5e7e9">
	<div class="sp lsp mts mbs">Password change se apka account is browser ke ilawa baqi tamam browers se logout ho jata hai</div>
	<a href="{% url 'reauth' %}"><button class="btn bcg bm mbl mts pg_ok_res sp" style="height:28px">OK</button></a>
</div>

<br><br>
{% endblock %}