<div class="bizcard mtl" style="text-align:center;overflow:hidden;background-color:#F0F3F4;border-radius: 10px;padding-bottom:6px;">
  
      <form method="POST" action="{% url 'anonymize_user_in_personal_group' %}" style="display:inline">
        {% csrf_token %}
        {% if is_nick %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/anon.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
        {% else %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/un_anon.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
        {% endif %}
      </form>
      <form method="POST" action="{% url 'personal_group_photo_settings' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/photo.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
      <form method="POST" action="{% url 'delete_all_posts_from_personal_group' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/delundel.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
      <form method="POST" action="{% url 'show_all_saved_posts_in_personal_group' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/sv.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
      <form method="POST" action="{% url 'personal_group_sms_settings' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/sms.svg');width:27px;height:27px;" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
      <form method="POST" action="{% url 'personal_group_exit_settings' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/exit.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
      <form method="POST" action="{% url 'personal_group_help1' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/help.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
</div>