<div class="bizcard mts" style="text-align:center;overflow:hidden;background-color:#F0F3F4;border-radius: 8px;padding:4px 0 6px 0;">
      <form method="POST" action="{% url 'anonymize_user_in_personal_group' %}" style="display:inline">
        {% csrf_token %}
        {% if is_nick %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/anon.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
        {% else %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/un_anon.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
        {% endif %}
      </form>
      <form method="POST" action="{% url 'personal_group_photo_settings' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/photo.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
      <form method="POST" action="{% url 'delete_all_posts_from_personal_group' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/delundel.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
      <form method="POST" action="{% url 'personal_group_exit_settings' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/exit.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
      <form method="POST" action="{% url 'personal_group_help1' %}" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="cp cp-bg mls mrs" style="background-image: url('{{ static_url }}img/help.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
      <form method="POST" action="{% url 'post_chat_action_in_personal_group' %}" style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="opt" value="6">
        <button type="submit" class="cp cp-bg mls" style="background-image: url('{{ static_url }}img/gear.svg')" name="tid" value="{{ tid }}">&nbsp;</button>
      </form>
</div>