<form method="POST" style="display:{{ show_reply_btn }};margin-bottom:4px;margin-right:4px" action="{% url 'publicreply_view' %}">
{% csrf_token %}
	<button itemprop="discussionUrl" class="vt" name="lid" value="{{ link_id }}" style="border:1px solid #3CB7DD;width:50px;height:42px;color:#3CB7DD;font-size:12px;padding:0;text-align:center"><div class="mbs">{% if comm_count > 999 %}999+{% else %}{{ comm_count }}{% endif %}</div><div style="font-size:8.2px;color:#3CB7DD" itemprop="commentCount">JAWAB</div></button>
</form>