{% if star_id %}
<a itemprop="discussionUrl" href="{% url 'comment_pk' photo_id origin star_id %}" style="margin-bottom:4px;margin-right:4px">
<button class="vt" style="padding:0;border:1px solid {{ border_color }};width:50px;height:42px;color:#ff8000;font-size:12px;text-align:center"><div class="mt mbs" itemprop="commentCount">{% if comm_count > 999 %}999+{% else %}{{ comm_count }}{% endif %}</div><div style="font-size:8.2px;color:#ff8000" class="mt">{% if comm_count == 1 %}TABSRA{% else %}TABSRY{% endif %}</div></button>
</a>
{% elif comm_count > 6 %}
<a itemprop="discussionUrl" href="{% url 'comment_pk' photo_id origin %}" style="margin-bottom:4px;margin-right:4px">
<button class="vt" style="padding:0;border:1px solid {{ border_color }};width:50px;height:42px;color:#ff8000;font-size:12px;text-align:center"><div class="mt mbs" itemprop="commentCount">{% if comm_count > 999 %}999+{% else %}{{ comm_count }}{% endif %}</div><div style="font-size:8.2px;color:#ff8000" class="mt">TABSRY</div></button>
</a>
{% elif origin == '5' or from_single_notif %}
<a itemprop="discussionUrl" href="{% url 'comment_pk' photo_id origin %}" style="margin-bottom:4px;margin-right:4px">
<button class="vt" style="padding:0;border:1px solid {{ border_color }};width:50px;height:42px;color:#ff8000;font-size:12px;text-align:center"><div class="mbs mt" itemprop="commentCount">{% if comm_count > 999 %}999+{% else %}{{ comm_count }}{% endif %}</div><div style="font-size:8.2px;color:#ff8000" class="mt">{% if comm_count == 1 %}TABSRA{% else %}TABSRY{% endif %}</div></button>
</a>
{% endif %}