<form action="{% url 'cast_vote' %}" style="margin-bottom:4px;margin-right:4px;padding:0" method="POST">
{% csrf_token %}<input type="hidden" name="tp" value="{{ tp }}">
{% if liked %}
	<button name="vote" class="vbtn vt" style="border:1px solid #d3d3d3;width:50px;height:42px;padding:0;text-align:center" type="submit" value="{{ obid }}:{{ ooid }}:{{ is_pht }}:{{ from }}"><div><img src="{{ static_url }}img/unlike.svg" class="mt" width="15" height="15"></div><div style="font-size:8.2px;color:#808080" class="mt">UNLIKE</div></button>
{% else %}
	<button name="vote" class="vbtn vt" style="border:1px solid #f30051;width:50px;height:42px;padding:0;text-align:center" type="submit" value="{{ obid }}:{{ ooid }}:{{ is_pht }}:{{ from }}"><div><img src="{{ static_url }}img/like.svg" class="mt" width="15" height="15"></div><div style="font-size:8.2px;color:#f30051" class="mt">LIKE</div></button>
{% endif %}
</form>