/*

Using https://cssminifier.com/ to minify

Section 1 is html styling: name components as they are defined in html code i.e. html,body etc.;

Section 2 is text formatting:

Section 3 is Button formatting. Naming a class for a Button is also a combination of size and color
*/

/*=================================================
S1: Html styling
==================================================*/
    html{
    width:100%;
    background-color:#FFFFFF;
    font-family: helvetica,"Droid Arabic Naskh",arial,sans-serif;
    height:100%;
    margin-left: 0px;
    max-width:100%;
    }

    body{
    width:100%;
    font-family: helvetica,"Droid Arabic Naskh",arial,sans-serif;
    font: helvetica,"Droid Arabic Naskh",arial,sans-serif;
    margin-left: 0px;
    max-width:100%;
    margin-top: 0em;
    }

    a {

    color: blue;
    text-decoration: none;
    }

   button, input[type="button"], input[type="reset"], input[type="submit"]
    {
    cursor: pointer;
    -webkit-appearance: button;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-align: center;
    font-family: helvetica,'Droid Arabic Naskh',arial,sans-serif;
    }



    .card {
    /* Add shadows to create the "card" effect */
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
    padding:3px;
    margin-bottom:5px;
    background-color:white;
    border-radius: 6px;
    margin-top: 10px;
    }

    .bizcard{
    /* Simpler, more optimized "card" effect */
    border-radius: 6px;
    -webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);
    -moz-box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);
    box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);
    }

    /*border colors*/

    .signup  {
    
    background-color: green;
    border-radius: 6px;
    width:90%;
    margin: 0 auto;
    text-align: center;
    padding:5px;
    max-width: 300px;
    
    }

    .header {
    background-color: #2de0ae;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    color: #FFF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    }

    .circles-bg{
      -moz-background-size:350px 350px;
      -webkit-background-size:350px 350px;
      background-position: -120px -195px, 405px 270px;
      background-size:350px 350px;
    }

    .checkerboard-bg{
      -moz-background-size:29px 29px;
      -webkit-background-size:29px 29px;
      background-size:29px 29px;
      background-position:0 0, 14px 14px;
    }

    /* navigation bar*/


    ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF9C00;
    font-size: 90%;
    text-align: center;
    }

    ul.navbar li {
        margin: auto;
        display: inline-block;
        border-right: 1px solid #ffb366;
    }

    ul.navbar li:first-child {
        border-left: 1px solid #ffb366;
    }

    ul.navbar li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 1.5px;
        padding-bottom: 1.5px;
        text-decoration: none;
    }

    ul.navbar li a:hover {
        background-color: #e67300;
    }

    /* ul-based navigation bar for classifieds*/

    ul.navbar_classifieds {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    font-size: 0.8em;
    text-align: center;
    width: 95%;
    padding-left:5px;
    padding-right:5px;
    border-radius:4px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #d9d9d9;
    max-width: 400px;
    }

    ul.navbar_classifieds li {
        margin: auto;
        display: inline-block;
        border-right: 1px solid #E8E8E8;
    }

    ul.navbar_classifieds li:first-child {
        border-left: 1px solid #E8E8E8;
    }

    ul.navbar_classifieds li a {
        display: inline-block;
        color: #424242;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        text-decoration: none;
    }

    ul.navbar_classifieds li a:hover {
        background-color: #d9d9d9;
        color:#14852e;
    }


    /* div-based navigation bar for classifieds*/

    div.navbar_classifieds {
    list-style-type: none;
    overflow: hidden;
    background-color: #E8E8E8;
    font-size: 0.8em;
    border-radius:4px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #d9d9d9;
    width: 95%;
    padding-left:5px;
    padding-right:5px;
    max-width: 400px;
    }

    div.navbar_classifieds span {
        border-right: 1px solid #E8E8E8;
    }

    div.navbar_classifieds span:first-child {
        border-left: 1px solid #E8E8E8;
    }

    div.navbar_classifieds span a {
        display: inline-block;
        color: #424242;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        text-decoration: none;
    }

    div.navbar_classifieds span a:hover {
        background-color: #d9d9d9;
        color:#14852e;
    }

    .hov:hover {

        padding-right: 1em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        background-color: #e6e6e6;
    }

    /* Classified tabs*/

    div.tab {
    overflow: hidden;
    background-color: white;
    text-align:center;
    display:inline-block;
    width:95%;
    max-width:400px;
    padding:5px;

    }

    div.tab button {
        background-color: #eeeeee;
        float: left;
        padding: 0.5em;
        border: none;
        width:49.5%;

    }

    div.tab button:hover{
        border-bottom: 2px solid #ffa726;
        color:#fb8c00;
    }

    button.jh:hover, button.bjh:hover{
            background-color:#00C853; 
            border:1px solid #00C853;
        }

        button.ch:hover, button.bch:hover{
            background-color:#FF5722;
            border:1px solid #FF5722;  
        }


        .jh{
            
            border:1px solid #69F0AE;
            border-radius: 4px 17px 17px 17px; 
            width:50px;
            height:50px;
        }
        .ch{
            border:1px solid #FFCCBC; 
            border-radius: 17px 4px 17px 17px;
            width:50px;
            height:50px;
        }

        .bjh{
            border:1px solid #69F0AE;
            width:50px;
            background-color: #69F0AE;
        }

        .bch{
            border:1px solid #FFCCBC;
            width:50px;
            background-color: #FFCCBC;
        }


    .emoji-table{

    border: 1px solid #d9d9d9;
    background: #F3F3F3;
    padding-top:0.3em;
    padding-bottom:0.3em;
}

/*inline reply buttons for home and matka*/

.box-with-button-right {
  background-color: white;
  border-radius: 4px;
  display: block;
  position: relative;
  height: 30px;
  box-sizing: border-box;
  padding-right: 40px;
}

.box-with-button-right input {
  height: 100%;
  width: 100%;
  border-radius: 3px 0px 0px 3px;
  margin: 0;
  text-indent: 4px;
  background-color: #F8F8F8;

}

.box-with-button-right button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  font-size:13px;
  width: 80px;
  border-radius: 0px 3px 3px 0px;
  color: white;

}


/*background color cream*/
.bgc{
    background-color:#FFFFE0;
}

/*=================================================
S2 Text formatting: Headings and Captions etc.

font size 65% is named cxs,
font size 80% grey text will be class = "cs cgy",
==================================================*/

    h2{
        font-size:125%;
    }

    /*caption extra small*/
    .cxs{
        font-size:65%;
    }

    /*caption small*/
    .cs{
        font-size:85%;
    }

    /*caption medium*/
    .cm{
        font-size: 100%
    }

    /*caption large*/
    .cl{
        font-size:107%;
    }

    /*caption extra large*/
    .cxl{
        font-size:130%;
    }


    /*color black : big_photo_regular*/
    .clb
    {
        color:#404040;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    }
    /*color red : big_photo*/
    .cr
    {
        color:red;
    }

    /*color aquamarine*/    
    .ca{
        background-color:#77FFD1;
    }

    .ab{
        border: 1px #77FFD1 solid;
    }

    /*color sky blue*/
    .csb{
        background-color:#BDEBFE;
    }

    .sbb{
        border: 1px #BDEBFE solid;
    }

    /*color dark green*/
    .cdg{
        color:#008035;
    }

    /*color green*/
   .cg{
        color:#179b36;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin-bottom:0.5em;
    }

    /*color grey*/
    .cgy{
        color:grey;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin-bottom:0.5em;
    }


    /* color background yellow : caption_form */
    .clbgy{
        background-color:#FFFFE0;
    }

    /*color teal for namaz caption*/
    .ct{
    color:#1f8cad;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding-bottom:0.4em;
    }

/*color purple for main nav bar*/
    .cp {


        color:#765989;

    }

    .cdo{
        color:#ef6c00;
    }

      /*color orange for photo related alert*/
    .co{
   text-shadow: 0 0 0.3px rgba(0,0,0,0.1);
   color:#ff9933;
    }

    /*color lightgrey */
    .clg{
        color:lightgrey;
    }
/* white caption */
.clw {
    color:white;
}
/* pink caption */
.clp {

    color:#a22a2a;
}
/* caption blue */
.cb {
    color:#1947D1;
}

/*dark teal for home comments*/
.cdt {
      color: #176982;
}

.ct {

    color:#229ec3;
}

/*color lightgrey */                        .clg{color:lightgrey;}
/*color caption deeppink*/                  .cdp{color:deeppink;}
/*color background yellow : caption_form */ .clbgy{background-color:#FFFFE0;}

/*=================================================
Buttons
==================================================*/
    /*button to cross out jawab or notification

    9.7em namaz [record save krna]  [extra large]
    1.7em notification cross [X]    [extra small]
    7.7em authorize [account bnao]  [large]
    6.2em ban red [1 week]          [large]
    6.2em ban orange [ Forever ]    [large]


    4.5em->5em aagay [all medium]
    4.5em->5em wapis
    4em->5em wapis orange
    4em->5em wapis blue
    5em->5em jhappi
    5em->5em chapair
    4em->5em haan
    4em->5em nahi
    5em->5em Zabardast
    5em->5em Bekar

    ==============
    color
    ==============

    red
    orange
    green
    purple
    blue
    blue text with gold bg

    */

    /*for all buttons*/
    .btn{
        border-radius:4px;
        border:none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: white;
        padding-left:2px;
        padding-right:2px;
    }


    /*button extra small: font size for this will be the class 'cs' a.k.a caption small */
    .bxs
    {
         width:1.7em;
    }

    .bms
    {
         width:2.2em;
    }

    /*button small*/
    .bs{
         width:5em;
    }


    /*button medium*/
    .bm{
         width:6.2em;
    }

    /*button large*/
    .bl
    {
         width:7.7em;
    }

    /*button extra large*/
    .bxl
    {
         width:9.7em;
    }

/*colors labels when input (E.g. radio button) is selected*/
input:checked + label{
  background: #e6fff3;
}


/*button color red*/
.bcr
{
    background-color:#FF1A1A;
    border-color:#cc0000;
}

/*button color green*/
.bcg{
    background-color:#1CB841;
    border-color:green;
}

/*button color orange*/
.bco{
    border-color: #ff8000;
    background: #ff9933;
}

/*button color blue*/
.bcb{
    background-color:#59A5F5;
    border-color:#0b63c1;
}

/*button color purple*/
.bcp{
    background-color:#9971a5;
    border-color:#765989;
}

/*snapchat feature - convert to orange button
share photo feature
button color golden
*/
.bcgd
{
    color:#1947D1;
    background-color:gold;
    border:solid;
    border-color:gold;
}

/*button color grey*/
.bcgy{
   background-color:#bfbfbf;
   border-color:#a6a6a6;
}

/*button color teal*/
.bct{
    background-color:#3cb7dd;
    border-color:#229ec3;

}

/*button color cream*/

.bcc {
    background-color:#FFEFD5;
    border-color:orange;
}

/* World cricket colored buttons */

.wxi {
    background-color:#4d0099;
    border-color:#330066;
}

.pak {
    background-color:#008000;
    border-color:#006600;
}

.wid {
    background-color:#990000;
    border-color:#660000;
}

.ind {
    background-color:#1293CC;
    border-color:#0e77a4;
}

.eng {
    background-color:#020277;
    border-color:#01014b;
}

.slk {
    background-color:#26548B;
    border-color:#163050;
}

.nze {
    background-color:#404040;
    border-color:black;
}

.saf {
    background-color:#ddcc5e;
    border-color:#bda928;
}

.aus {
    background-color:#FFFF4D;
    border-color:#FFFF1A;
    color:#666600;
}

/* PSL team colored buttons */

.msu {
    background-color:#525045;
    border-color:#38362E;
}

.zal {
    background-color:#FCEE0A;
    border-color:#e3d802;
    color:#7E7801;
}

.qal {
    background-color:#8AE44F;
    border-color:#6DDD22;
    color:#2C580E;
}

.uni {
    background-color:#EE3000;
    border-color:#CC2900;
}

.kng {
    background-color:#2857D0;
    border-color:#2148AB;
}

.gld {
    background-color:#54348A;
    border-color:#432A6F;
}
/*background color cream*/                  .bgc{background-color:#FFFFE0;}
/*background color lightgreen*/             .bglg{background-color:#EDFFEE;}
/*background color light orange*/           .bglo{background-color:#ffe8cc;}


.nw { white-space: nowrap;}

.bw {word-wrap:break-word;}

/*=======================================*/


/*=================================================
End Buttons
==================================================*/






    .pinkstar {

    font-size:110%;
    color:deeppink;
    }

/*=================================================
Photos
==================================================*/

.pht {

    width:100%;max-width:450px;
    margin-bottom:0.3em;border:1px solid lightgrey

}

.bright{
    filter:brightness(30%);
    -webkit-filter: brightness(0.3);
}


/*=================================================
Divs
==================================================*/




/* div back grounds*/


.div {

    margin-top:0.5em;padding-top:0.5em;padding-bottom:0.5em;
}

.box {

    margin-top:0.5em;padding-top:0.5em;padding-bottom:0.5em;
}

/* background color light blue*/
.dbb{

    background-color:#e7f2fe;
}

/* backgound color light yellow*/

.dby {
background-color:#ffffe0;
border:1px solid #FFF0C6;
border-radius: 6px;
}

/* backgound color light purple*/
.dbp {

    background-color:#faebeb;
    border:1px solid #EBD9E0;
    border-radius: 6px;
}

/* backgound color light green*/
.dbg {

    background-color:#e9fced;
    border:1px solid #D5F5DC;
    border-radius: 6px;
}

/* backgound color light teal*/
.dbt {

    background-color:#e9f7fb;
    border:1px solid #CFEDF6;
    border-radius: 6px;
}

/*=================================================
MARGINS
==================================================*/

/*margin*/          .margin{margin: 0 auto; max-width: 98%; padding: 0px;border-radius:6px;padding-bottom:5px;}
/*margin auto*/     .ma{margin:auto;}
/*margin top*/      .mt{margin-top:0.2em;}

/*--SMALL MARGINS--*/
/*margin small*/     .ms{margin:0.5em;}
/*margin bot small*/ .mbs{margin-bottom:0.5em;}
/*margin top small*/ .mts{margin-top:0.5em;}
/*margin left small*/.mls{margin-left:0.5em;}
/*margin right small*/.mrs{margin-right:0.5em;}

/*--ZERO LARGE--*/
/*margin bot large*/ .mbl{margin-bottom:1em;}
/*margin top large*/ .mtl{margin-top:1em;}
/*margin left large*/.mll{margin-left:1em;}
/*margin right large*/.mrl{margin-right:1em;}

/*========*/



/*===============================================================================================================*/
/*caption shadow*/  .csw{text-shadow: 0 0 0.3px rgba(0,0,0,0.3);margin-bottom:0.5em;}
/*===============================================================================================================*/

/*image border blue*/   .ibb{border:1px solid blue;width:100%;max-width: 400px}
/*image border teal*/   .ibt{border:1px solid teal;width:100%;max-width: 400px}
/*image border orange*/ .ibo{border:1px solid #ff8000;width:100%;max-width: 400px}
/*image border grey*/   .ibg{border:1px solid lightgrey;width:100%;max-width: 400px}
/*image border green*/  .ibgn{border:1px solid green;width:100%;max-width: 400px}
/*image border purple*/ .ibp{border:1px solid #765989;width:100%;max-width: 400px}
/*image width*/ .iw{width:100%;max-width:400px;margin-bottom:0.3em;}
/*image width*/ .iw2{width:100%;max-width:400px;margin-top:-0.3em;}
/*filter brightness 50%*/.fbh{filter:brightness(50%);-webkit-filter: brightness(0.5);}
/*filter brightness 30%*/.fbl{filter:brightness(30%);-webkit-filter: brightness(0.3);}


/*===============================================================================================================*/
/*speech bubble*/
/*===============================================================================================================*/

.bubble {
   position: relative;
   background: #f3961c;
    border: 0px solid #f3961c;
   max-width:80%;
    min-width:5%;
   padding:10px;
   font-family:arial;
   margin:0 auto;
   margin-left: 10px;
   font-size:14px;
   border-radius:6px;
    display:inline-block;

}
.bubble:after,
.bubble:before {
   right: 100%;
   top: 50%;
    border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
}

.bubble:after {
   border-color: #FFFFCC;
   border-right-color: #f3961c;
   border-width: 15px;
   margin-top: -15px;
}
.bubble:before {
    border-color: #FFFFCC;
   border-right-color: #FFFFCC;
   border-width: 16px;
   margin-top: -16px;
}
/* this is for the preloader running in post_basic_items_photo */
.loader {
    font-size: 20px;
    font-family: serif;
    color: #00C853;
    display: none;

}

.spinner {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #FFA000;
    border-right: 5px solid #00C853;
    border-bottom: 5px solid #FF9933;
    border-left: 5px solid #00C853;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

.UploadBtn, .p {
    display: show;
}

#overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: transparent;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* CSS FOR PRIVATE CHAT */

/* generates a flexbox with various alignments */

.fx {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.fxjscn {
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}

.fxjssb {
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
}

.fxjsfs {
-webkit-box-pack:start;
    -ms-flex-pack:start;
        justify-content:flex-start;
}

.fxaicn {
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.fxaibl {
     -webkit-box-align:baseline;
        -ms-flex-align:baseline;
            align-items:baseline;
}

.fxaife {
    -webkit-box-align:end;
        -ms-flex-align:end;
            align-items:flex-end;
}

/* ensures buttons don't get highlighted after being pressed */

::-moz-focus-inner, :active, :focus {
    outline:none;
    -moz-outline-style: none;
}

/* online dot in mehfils */

.st-dot{
  display:inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;  
}

/* increasing line height for better readability */

.lsp{
  line-height:1.55;
}

/* spacing out characters for cases when small font is used */

.sp{
  letter-spacing: 1px;
}

/* circular styling of avatar image in private chat */

.av_btn{
  text-align:center;
  display: inline-block;
  border-radius:50%; 
  padding: 5px;
  background-color:white;
  font-weight: bold;
}

/* placing of rounded avatar images at the corners of speech bubbles*/

.tr_cnr{
  margin-top:-16px;
  margin-right:-16px;
}

.tl_cnr{
  margin-left:-16px;
  margin-top:-16px;
}

/* shadows behind photos posted in private chat */

.sh-l{
  -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.15); 
  -moz-box-shadow: -1px 1px 3px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 3px rgba(0,0,0,0.15);
}

.sh-r{
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.15); 
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}

/* disallowing text selection */

.nos {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }

/* styling of big phot in private chat */

.bx{
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
}

.pol{
  background-color:#FEFCFC;
  padding:5px;
  display:inline-block;
  border-radius: 6px;
}

.pgpic{
  width:100%;
  border-radius:12px;
}

.ow{
  overflow-wrap: break-word;
}

.imc{
  display: table-caption;
  caption-side: bottom;
}

/* online dot in private chat */

.new-dot{
  display:inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #F50057;
  margin-left: -10px;
}

/* big hidden photo */

.cvs{
  padding-top:10px;
  padding-bottom:10px;
  border-radius:6px;
}

.hid-shd{
  margin-left:10px;
  margin-right:10px;
}

.hid-bg{
  background-color:#F0F3F5;
  background: linear-gradient(45deg, #F0F3F4 0%,#F0F3F4 50%,#E2E7E9 51%,#E2E7E9 100%);
  background: -moz-linear-gradient(45deg, #F0F3F4 0%, #F0F3F4 50%, #E2E7E9 51%, #E2E7E9 100%);
  background: -webkit-linear-gradient(45deg, #F0F3F4 0%,#F0F3F4 50%,#E2E7E9 51%,#E2E7E9 100%);
}

.hid-txt{
  padding-left:6px;
  padding-right:6px;
  color:#8B9FA7;
}

.tsh{
  text-shadow: -1px -1px 1px white, 2px 2px 1px white;
}

.ral{
  margin:0 0 0 auto;
}

/* preloader animation for JS-facilitated AJAX requests */

.outer_ldr {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes ldr {
  to {transform: rotate(360deg);}
}
 
.ldr:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #0AF;
  border-top-color: #FF0;
  animation: ldr .6s linear infinite;
}

.cap {
  position: relative;
  z-index: 10;
}

.ovl {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.88;
  z-index: 100;
  background-color: #FFFFFF;
}

/*
.ldr {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 10;
}

.ldr hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: indicator 2s ease infinite;
}

.ldr :first-child {
  background: #9DBFFB;
  animation-delay: -1.5s;
}

.ldr :nth-child(2) {
  background: #FFF266;
  animation-delay: -1s;
}

.ldr :nth-child(3) {
  background: #66FFD4;
  animation-delay: -0.5s;
}

.ldr :last-child {
  background: #F18074;
}

@keyframes indicator {
  0%,
  100% {
    transform: translate(0)
  }
  25% {
    transform: translate(160%)
  }
  50% {
    transform: translate(160%, 160%)
  }
  75% {
    transform: translate(0, 160%)
  }
}

@-webkit-keyframes indicator {
  0%,
  100% {
    -webkit-transform: translate(0)
  }
  25% {
    -webkit-transform: translate(160%)
  }
  50% {
    -webkit-transform: translate(160%, 160%)
  }
  75% {
    -webkit-transform: translate(0, 160%)
  }
}
*/

/* pressed states of various buttons and labels */

button.pg_ok:focus{
  background-color:#9DCDFE;
}

label.pg_ok:focus{
    background-color:#9DCDFE;
}

label.pg_ok{
    background-color:#59A5F5;
}

img.pg_label:focus{
  opacity: 0.75;
}

label.pg_ok_res{
        background-color:#00B39B;
}
label.pg_ok_res:focus{
    background-color:#3AC0AD;
}

button.pg_ok_res:focus{
    opacity:0.7;
}

button.pg_cl:focus{
  background-color:#D1D1D0;
}

button.pg_ex:focus{
  background-color:#F94D4C;
}

/* renders THEIR chat save button in personal group */

  #t-arr-gr{ 
    position: relative; 
    height: 1px;
    width: 6px;
    background-color: #5EC8A4;
    top:-4px;
    right:2px;
  }

  #t-arr-gr:after{
    content: "";
    position: absolute;
    width:1px;
    height: 5px;
    background-color: #5EC8A4;
    top:1px;
    right:5px;
  }

  #b-arr-gr{
    position: relative; 
    height: 1px;
    width: 6px;
    background-color: #5EC8A4;
    top:4px;
    left:2px;
  }

  #b-arr-gr:after{
    content: "";
    position: absolute;
    width:1px;
    height: 5px;
    background-color: #5EC8A4;
    top:-5px;
    left:5px;
  }

/* renders fancy backgrounds behind THEIR emoji strips */

.circles-gr{
   background-color: #77FFD1;
}

@supports (background: radial-gradient(#FCD8DE 30%, transparent 16%)) {
.circles-gr{
  
  background:
      -moz-radial-gradient(#FCD8DE 30%, transparent 16%),
      -moz-radial-gradient(#99FFDD 30%, transparent 16%),
       #FFFF99;
  background:
      -webkit-radial-gradient(#FCD8DE 30%, transparent 16%),
      -webkit-radial-gradient(#99FFDD 30%, transparent 16%),
       #FFFF99;
  -moz-background-size:350px 350px;
  -webkit-background-size:350px 350px;
  background-position: -120px -195px, 405px 270px;
  background-size:350px 350px;

}
}

.rad-gr{
  background-color: #77FFD1;
}

@supports (background: repeating-radial-gradient(circle, #FFFF9E, #FFFF9E 10px,#A0FFDE 10px, #A0FFDE 20px)) {
.rad-gr{
  background: repeating-radial-gradient(circle, #FFFF9E, #FFFF9E 10px,#A0FFDE 10px, #A0FFDE 20px);
}
}

.polka-gr{
    background: #77FFD1;
}

@supports (background: radial-gradient(#F1C3CB 20%, transparent 0)) {
.polka-gr{
    background-color: #FFFF99;
    background-image:radial-gradient(#77FFD1 20%, transparent 0), radial-gradient(#ffb3cc 20%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}
}

.checkerboard-gr{
  background: #77FFD1;
}

@supports (background: linear-gradient(45deg, #FFFF9E 25%, transparent 25%,transparent 75%, #FFFF9E 75%, #FFFF9E 100%)) {
.checkerboard-gr{
  background-color: #77FFD1;
  background-image:
    -moz-linear-gradient(45deg, #F2FFD7 25%, transparent 25%,transparent 75%, #F2FFD7 75%, #F2FFD7 100%),
    -moz-linear-gradient(45deg, #F2FFD7 25%, transparent 25%,transparent 75%, #F2FFD7 75%, #F2FFD7 100%);
  background-image:
    -webkit-linear-gradient(45deg, #FFFF9E 25%, transparent 25%,transparent 75%, #FFFF9E 75%, #FFFF9E 100%),
    -webkit-linear-gradient(45deg, #FFFF9E 25%, transparent 25%,transparent 75%, #FFFF9E 75%, #FFFF9E 100%);
  -moz-background-size:29px 29px;
  -webkit-background-size:29px 29px;
  background-size:29px 29px;
  background-position:0 0, 14px 14px;
}
}

.graph-gr{
  background-color: #77FFD1;
}

@supports (background: repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px)) {
.graph-gr{
  background-color: #FFFF99;
  background-size: 20px 20px;
  background-image:
     -webkit-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px),
     -webkit-repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px);
  background-image:
     -moz-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px),
     -moz-repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px);
  background-image:
     -o-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px),
     -o-repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px);
  background-image:
     repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px),
     repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px);

}
}

/* Renders a yellowish stroke around text written in THEIR emoji strip*/

@supports (background: radial-gradient(#faeaed 30%, transparent 16%)){
.yellowstroke{
  text-shadow: 0.05em 0 #FFFF99, 0 0.05em #FFFF99, -0.05em 0 #FFFF99, 0 -0.05em #FFFF99, -0.05em -0.05em #FFFF99, -0.05em 0.05em #FFFF99, 0.05em -0.05em #FFFF99, 0.05em 0.05em #FFFF99;
}
}

/* renders OWN chat save button in personal group */

 #t-arr{ 
    position: relative; 
    height: 1px;
    width: 6px;
    background-color: #66c3e5;
    top:-4px;
    right:2px;
  }

  #t-arr:after{
    content: "";
    position: absolute;
    width:1px;
    height: 5px;
    background-color: #66c3e5;
    top:1px;
    right:5px;
  }

  #b-arr{
    position: relative; 
    height: 1px;
    width: 6px;
    background-color: #66c3e5;
    top:4px;
    left:2px;
  }

  #b-arr:after{
    content: "";
    position: absolute;
    width:1px;
    height: 5px;
    background-color: #66c3e5;
    top:-5px;
    left:5px;
  }

/* renders fancy backgrounds behind OWN emoji strips */

.circles{
   background-color: #BDEBFE;
}

@supports (background: radial-gradient(#FFD1D8 30%, transparent 16%)) {
.circles{

  background:
      -moz-radial-gradient(#FFD1D8 30%, transparent 16%),
      -moz-radial-gradient(#B4E8FE 30%, transparent 16%),
       #E0F5FF;
  background:
      -webkit-radial-gradient(#FFD1D8 30%, transparent 16%),
      -webkit-radial-gradient(#B4E8FE 30%, transparent 16%),
       #E0F5FF;
  -moz-background-size:350px 350px;
  -webkit-background-size:350px 350px;
  background-position: -120px -195px, 405px 270px;
  background-size:350px 350px;

}
}

.checkerboard{
  background: #BDEBFE;
}

@supports (background: linear-gradient(45deg, #BCE4FE 25%, transparent 25%,transparent 75%, #BCE4FE 75%, #BCE4FE 100%)) {
.checkerboard{
  background-color: #E0F5FF;
  background-image:
    -moz-linear-gradient(45deg, #BCE4FE 25%, transparent 25%,transparent 75%, #BCE4FE 75%, #BCE4FE 100%),
    -moz-linear-gradient(45deg, #BCE4FE 25%, transparent 25%,transparent 75%, #BCE4FE 75%, #BCE4FE 100%);
  background-image:
    -webkit-linear-gradient(45deg, #BCE4FE 25%, transparent 25%,transparent 75%, #BCE4FE 75%, #BCE4FE 100%),
    -webkit-linear-gradient(45deg, #BCE4FE 25%, transparent 25%,transparent 75%, #BCE4FE 75%, #BCE4FE 100%);
  -moz-background-size:29px 29px;
  -webkit-background-size:29px 29px;
  background-size:29px 29px;
  background-position:0 0, 14px 14px;
}
}

.graph{
  background-color: #BDEBFE;
}

@supports (background: repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px)) {
.graph{
  background-size: 20px 20px;
  background-image:
     -webkit-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px),
     -webkit-repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px);
  background-image:
     -moz-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px),
     -moz-repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px);
  background-image:
     -o-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px),
     -o-repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px);
  background-image:
     repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 1px, transparent 15px),
     repeating-linear-gradient(-45deg, rgba(255, 105, 180, .5), rgba(255, 105, 180, .5) 1px, transparent 1px, transparent 15px);
  background-color: #E0F5FF;
}
}

.rad{
  background-color: #BDEBFE;
}

@supports (background: repeating-radial-gradient(circle,#BCE4FE,#BCE4FE 10px,#E0F5FF 10px, #E0F5FF 20px)) {
.rad{
  background: repeating-radial-gradient(circle,#BCE4FE,#BCE4FE 10px,#E0F5FF 10px, #E0F5FF 20px);
}
}

.polka{
  background-color: #BDEBFE;
}


@supports (background: radial-gradient(#ABDEFE 20%, transparent 0)) {
.polka{
    background-color: #E0F5FF;
    background-image:radial-gradient(#ABDEFE 20%, transparent 0), radial-gradient(#FFD3CD 20%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}
}

/* Renders a bluish stroke around text written in OWN emoji strip*/

@supports (background: radial-gradient(#faeaed 30%, transparent 16%)){
.bluestroke{
  text-shadow: 0.05em 0 #E0F5FF, 0 0.05em #E0F5FF, -0.05em 0 #E0F5FF, 0 -0.05em #E0F5FF, -0.05em -0.05em #E0F5FF, -0.05em 0.05em #E0F5FF, 0.05em -0.05em #E0F5FF, 0.05em 0.05em #E0F5FF;
}
}

/* General styling of emoji strips for both OWN and THEIR cases */

.act{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.anim {
  flex: 1 1;
  min-width: 64px;
  text-align: center;

}

.olay{
  display: inline-block;
  width:50px;
  height: 50px;
  position: relative;
}

.olay > img,
.anim > img {
  width: 100%;
  height: auto;
  max-width: 50px;
}

.txt {
  flex: 1 1 180px;
  text-align: center;
}


/* Animations and graphics for emoji strips */

@keyframes entrance { 
    0% { transform: translateX(100%) skewX(-15deg); opacity: 0; } 
    60% { transform: translateX(-30%) skewX(15deg); opacity: 1; } 
    80% { transform: translateX(0%) skewX(-10deg); opacity: 1; } 
    100% { transform: translateX(0%) skewX(0deg); opacity: 1; } 
} 

.tear {
  width: 8px;
  height: 8px;
  border-radius: 0 50% 50% 50%;
  border: 1px solid #00B0FF;
  background-color:#80D8FF;
  transform: rotate(45deg);
}


@keyframes cry { 
    0% {opacity: 1;}
    100% {transform: translateY(20px) rotate(45deg);} 
} 

@keyframes drift { 
    10% {opacity: 1;}
    20% {transform: translateY(2px);}
    100% {transform: translateY(-50px);}
}

@keyframes tada { 
  0% {transform: scale(1);} 
  10%, 20% {transform: scale(0.9) rotate(-3deg);} 
  30%, 50%, 70%, 90% {transform: scale(1.2) rotate(3deg);} 
  40%, 60%, 80% {transform: scale(1.2) rotate(-3deg);} 
  100% {transform: scale(1) rotate(0);} 
} 

@keyframes chuckle {
  10%, 30%, 50%, 70%, 90% {transform: translateY(0);}
  20% {transform: translateY(-10px);}
  40% {transform: translateY(-10px);}
  60% {transform: translateY(-8px);}
  80% {transform: translateY(-6px);}
}


@keyframes heartbeat {
  0% {transform: scale( 1);}
  20% {transform: scale( .65);}
  40% {transform: scale( 1);}
  60% {transform: scale( .65);}
  80% {transform: scale( 1);}
  100% {transform: scale( 1);}
}

/* renders straight line. Usage: Personal group invite icon, direct response icon (inside personal group)*/

#line {
    width: 13px;
    height: 1px;
    background-color: white;
    margin: 2px 0px;
}

#line-gr {
  width: 13px;
  height: 1px;
  background-color: #5EC8A4;
  margin: 2px 0px;
  }

/* Styling photos and +, - icons displayed in personal group and its photo settings */

.ext-cvs{
    padding-right: 10px;
    padding-left: 10px;
}

.cd {
    padding: 10px;
    overflow:hidden;
    margin-bottom:17px;
    border-radius: 6px;
}

.ctr{
    margin:0 auto;
}

#minus{
  width:12px;
  height: 1px;
  background-color:#B3B3B3;
  margin:0 auto; 
}

#plus { 
  position: relative; 
  background: #B3B3B3; 
  height: 1px; 
  width: 11px; 
  margin:0 auto; 
} 

#plus:after { 
  content: "";
  position: absolute; 
  background: #B3B3B3;  
  height: 11px; 
  left: 5px; 
  top: -5px; 
  width: 1px; 
}

#minus-bl{
  width:12px;
  height: 1px;
  background-color:#66c3e5;
  margin:0 auto; 
}

#plus-bl { 
  position: relative; 
  background: #66c3e5; 
  height: 1px; 
  width: 11px; 
  margin:0 auto; 
} 

#plus-bl:after { 
  content: "";
  position: absolute; 
  background: #66c3e5;  
  height: 11px; 
  left: 5px; 
  top: -5px; 
  width: 1px; 
}

#bminus{
  width:12px;
  height: 1px;
  background-color:#0094C7;
  margin:0 auto; 
}

#bplus { 
  position: relative; 
  background-color: #0094C7; 
  height: 1px; 
  width: 11px; 
  margin:0 auto; 
} 

#bplus:after { 
  content: "";
  position: absolute; 
  background-color: #0094C7;  
  height: 11px; 
  left: 5px; 
  top: -5px; 
  width: 1px; 
}

#bminus-gr{
  width:12px;
  height: 1px;
  background-color:#5EC8A4;
  margin:0 auto; 
  }

#bplus-gr { 
  position: relative; 
  background-color: #5EC8A4; 
  height: 1px; 
  width: 11px; 
  margin:0 auto; 
  } 

#bplus-gr:after { 
  content: "";
  position: absolute; 
  background-color: #5EC8A4;  
  height: 11px; 
  left: 5px; 
  top: -5px; 
  width: 1px; 
  }

.sh{
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
}

button.del:hover{
    background-color:#DEF5FE;
    border-radius: 1px 8px 1px 8px;
}

.del{
    border-style:none;
}

.re-bg{
  background: transparent;
}

.re{
  border-style:none;
}

button.re:hover{
    background-color:#BDFFE9;
    border-radius: 1px 8px 1px 8px;
}

/* Styling posts and icons in 'saved posts' settings of personal group */

.sv-bg-gr{
   background: transparent;
  }

.sv-gr{
  border-style:none;
  }

button.sv-gr:hover{
  background-color:#BDFFE9;
  border-radius: 1px 8px 1px 8px;
  }

.sv-bg{
    background: transparent;
}

.sv{
border-style:none;
}

button.sv:hover{
  background-color:#DEF5FE;
  border-radius: 1px 8px 1px 8px;
}

.h7:after,
.h7:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
    color:#DCDCDC;
}

/* styles buttons shown in general settings page in personal group */

.st-bg{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    border:1px dotted lightgrey;
    border-radius: 12px;
    background-position: center;
    background-color: transparent;
    background-size:cover;
}

.st-bg:hover{
    opacity:0.5;
    transform: scale(0.88);
}

/* Styling accept/reject buttons in private chat invite list */

.acc-bg{
    border-radius: 2px 11px 2px 11px;
}

button.acc:hover{
    opacity:0.5;
    transform: scale(0.88);
    
}

.acc{
    border-style:none;
}

/* Styles highlighted text (selection in radio buttos) */

.radbut input[type="radio"]:checked+label {
  background-color: #FFFFC4;
  padding-bottom: 1px;
  padding-top: 1px;
}

/* renders online dot in private messaging */

.bg-st-dot{
  display:inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  vertical-align:text-top;
}

/* renders the spinning refresh button (and its html5 animation) */

.rf-bg{
    background-repeat: no-repeat;
    background-position: center; 
    background-color: transparent;
    background-size:cover;
    width: 26px;
    height: 26px;
    margin-top: 6px;
}

button.rf:focus{
    -webkit-animation: rotation 0.5s 20 linear;
    outline:none;
    border:0;
    -moz-outline-style: none;
}

@-webkit-keyframes rotation {
    from {
    -webkit-transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(359deg);
    }
}

.rf{
    border-style:none;
}

/* styles the online status bar at the top of personal group */

.fr{
    text-align:center;
    border-radius:8px;
}

/* styles the buttons appearing in top and bottom navbars inside personal group */

.cp-bg{
    background-repeat: no-repeat;
    background-position: center; 
    background-color: transparent;
    background-size:cover;
    width: 25px;
    height: 25px;
    margin-top: 6px;
}

button.cp:hover{
    opacity:0.5;
    transform: scale(0.88);
}
.cp{
    border-style:none;
}

/*styles the hover and focus states of transparent bg buttons on home, photos etc*/

button.vt{
    background: 0 0;
}

button.vt:focus,button.vt:hover{
    background-color:#f6f6f6;
 }

/*styles the hover and focus states of white buttons e.g. in mehfils info page*/

button.wt{
background: #FFF;
}

button.wt:focus,button.wt:hover{
background-color:#f6f6f6;
}

/*styles the inline buttons appearing within each 1-on-1*/

.no-bg{
background:0 0;
}
.own-bt,.th-bt{
border-style:none;
}
button.own-bt:hover{
background-color:#e0f5ff;
}
button.th-bt:hover{
background-color:#ccffee;
}

/*styles 1-on-1 help pages*/

.helpitem {
    padding:10px;
}

.nav-btn {

    display:inline-block;
    font-weight:bold;
    background-color:white; 
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
}