<form method="GET" action="{% url 'main_navbar' %}" itemscope itemtype="http://schema.org/SiteNavigationElement" class="clb fx fxjscn fxaicn" style="background:#ffe804;width:100%;flex-wrap:wrap;border-bottom:1px solid #e8e090;border-top:1px solid #e8e090">

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="9">STARS</button>

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="20">SEARCH</button>

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="12">ONLINE</button>

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="5">TEXT</button>

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="13">TOPICS</button>

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="16">HELP</button>

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="17">ABOUT</button>

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="18">LOG&nbsp;OUT</button>

</form>
