<form method="GET" action="{% url 'main_navbar' %}" itemscope itemtype="http://schema.org/SiteNavigationElement" class="clb fx fxjscn fxaicn" style="background:#ffe804;width:100%;flex-wrap:wrap;border-bottom:1px solid #e8e090;border-top:1px solid #e8e090">

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="6">SIGN&nbsp;UP</button>

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="7">LOGIN</button>

	<button type="submit" name="dec" class="sp cxs hd" style="padding:0;height:34px;width:100%;max-width:100px;border-radius:0;border:none" value="4">IMAGS</button>

</form>
