{% extends "base.html" %}
{% block content %}
<head><title>{{ slug }}'s likes | Damadam</title></head>
<style>body{background: #f0f3f4}</style>

{% load s3 %}
{% load human_time %}
{% load emoticons_tags %}
{% load get_text_object %}
{% load get_photo_object %}
{% load get_big_send_button %}
{% load get_big_group_button %}
{% load get_big_points_button %}
{% load get_big_home_reply_button %}
{% load get_transparent_buttons_js %}
{% load get_big_photo_comment_button %}
{% load get_big_external_share_button %}
<h1 class="cxl clb lsp" style="text-align:center">Posts liked by {{ slug|truncatechars:'13' }}:</h1>

	{% for datum in data %}
		
		{% if datum.tp == 'tx' %}

		<article class="mbl" style="max-width:750px;display:block;border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;margin-left:auto;margin-right:auto">
			{% text_object obid=datum.obid ooid=datum.ooid text=datum.d|emoticons|linebreaksbr raw_text=datum.d origin='25' upload_time=datum.t|human_time machine_time=datum.mt oun=datum.ou av_url=datum.av|s3:'thumb' vsc=datum.nv home_hash='' static_url=STATIC_URL is_star=datum.s alignment=datum.c topic=datum.tn topic_url=datum.url show_topic='1' c1=datum.c1 c2=datum.c2 %}
		
			<div style="flex-wrap:wrap" class="fx fxjscn fxaicn cxs sp cgy mbl">
				{% big_points_button obj_id=datum.obid owner_id=datum.ooid is_pht=0 origin='25' net_votes=datum.nv base_color='rgb(24, 180, 136)' static_url=STATIC_URL %}
				{% big_group_button own_id=own_id target_id=datum.ooid parent_object_id=datum.obid object_type='link' origin='25' target_username=datum.ou home_hash='' %}
				{% big_home_reply_button link_id=datum.obid comm_count=datum.cc static_url=STATIC_URL always_show=True %}
			</div>

		</article>

		{% else %}

		<article class="mbl" style="max-width:750px;display:block;border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;margin-left:auto;margin-right:auto">
			{% photo_object pid=datum.id ooid=datum.ooid img_url=datum.i|s3 img_thumb=datum.i|s3:'thumb' caption=datum.cp|emoticons raw_caption=datum.cp origin='25' upload_time=datum.t|human_time machine_time=datum.mt oun=datum.ou av_url=datum.av|s3:'thumb' vsc=datum.nv is_fbs=on_fbs home_hash='' static_url=STATIC_URL is_star=datum.s show_trending=datum.tr lazyload_idx=forloop.counter %}

			<div style="flex-wrap:wrap" class="fx fxjscn fxaicn cxs sp cgy mbl">
				{% big_points_button obj_id=datum.obid owner_id=datum.ooid is_pht=1 origin='25' net_votes=datum.nv base_color='rgb(24, 180, 136)' static_url=STATIC_URL %}
				{% big_group_button own_id=own_id target_id=datum.ooid parent_object_id=datum.obid object_type='photo' origin='25' target_username=datum.ou home_hash='' %}
				{% big_photo_comment_button photo_id=datum.obid origin='25' comm_count=datum.cc static_url=STATIC_URL star_id=datum.ooid %}
				{% big_send_button photo_owner_username=datum.ou photo_id=datum.obid photo_owner_id=datum.ooid photo_caption=datum.cp origin='25' home_hash='' img_url=datum.i static_url=STATIC_URL %}
				{% big_external_share_button owner_username=datum.ou on_opera=on_opera photo_id=datum.obid origin='25' static_url=STATIC_URL %}	
			</div>

		</article>

		{% endif %}
		{% transparent_buttons_js ident=ident static_url=STATIC_URL %}
	
	
	{% empty %}

	<div class="mbl" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:97%;margin-right:auto;margin-left:auto;text-align:center;background:white">

		<div class="cxl lsp clb mts mbs" style="text-align:center">Sorry! Ye abhi khali hai ...</div>
		<hr size=1 COLOR="#f4f4f4" style="margin:0">

			<div class="clb cl sp lsp" style="text-align:center;background:#e9fcf8;padding:10px">Yahan woh posts save hoti hain jinko user ne 'like' kia ho</div>

	</div>
	{% endfor %}


<div class="mbl fx fxjscn fxaicn">
	{% if page.has_previous %}
    <div style="padding:0 10px">
    	<a href="?page={{ page.previous_page_number }}#section0">{% include 'big_buttons/big_prev_button.html' %}</a>
    </div>
    {% endif %}
    {% if page.has_next %}
    <div style="padding:0 10px">
    	<a href="?page={{ page.next_page_number }}#section0">{% include 'big_buttons/big_next_button.html' %}</a>
    </div>
    {% endif %}
</div>

<form method="POST" class="mbl" action="{% url 'manage_user' %}" style="max-width:500px;width:97%;margin-right:auto;margin-left:auto;text-align:center">{% csrf_token %}<input type="hidden" name="m_id" value="{{ defender_id }}"><input type="hidden" name="t_id" value="{{ own_id }}"><button type="submit" class="btn bcgy pg_ok_res sp" style="height:40px;width:95%;font-weight:bold">BACK</button></form>


<br>

{% endblock %}