{% extends "base.html" %}
{% load future_time %}
{% block content %}
<head><title>Cannot like | Damadam</title></head>
<style>body{background: #E9EBEE}</style>
<div class="mbs clb cxl" style="text-align:center;font-weight:bold">Please wait...</div>
<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:450px;width:93%;margin:0 auto;overflow: hidden;text-align:center">
	<div class="cxl mt mbs">Ap 'like' kar sakain ge {{ time_remaining|future_time }}</div>
	
	<form method="POST" class="mbs" action="{% url 'redirect_to_content' %}">
	{% csrf_token %}
	<input type="hidden" name="obid" value="{{ obid }}">
	<input type="hidden" name="orig" value="{{ orig }}">
	<input type="hidden" name="lid" value="{{ lid }}">
	<input type="hidden" name="oun" value="{{ oun }}">
	<button type="submit" class="cl pg_ok_res sp cb" name="topic" style="background:0 0;padding:0;border:none;border-bottom:1px dotted mediumblue" value="{{ topic }}">wapis</button>
	</form>

	<hr size=1 COLOR="#E6E6E6">
	<div class="cgy">
		<b class="cl sp lsp">Liking help:</b><br>
		<div class="sp lsp" style="text-align:left">
		<div class="mt">1) Mayari, mazedar ya malumati posts ko like karein</div>
		<div class="mts">2) Liked posts matkey mein save ho jati hain</div>
		<div class="mts">3) Bad posts ko <img src="{{ STATIC_URL }}img/warn_g.svg" width="18" height="18"> button ke zariye report karein takey mahol saaf rakha ja sakey</div>
		</div>
	</div>
</div>
<br><br>
{% endblock %}