{% if action == '4' %}
    
  <div class="mtl mbl cxl bizcard graph" style="padding:3px">

      <div class="tr_cnr" style="text-align:right;">
        <a href="{% url 'user_profile' username %}">{% if own_nick %}<img src="{{ av_url }}" width="22" height="22" alt="{{ username|slice:"1" }}" class="av_btn {{ bclass }}" style="font-size:77%;">{% else %}<div class="av_btn {{ bclass }}" style="width:22px;height:22px;color:#01579B;line-height:23px;font-size:77%;">{{ trunick }}</div>{% endif %}</a>
      </div> 

      <div class="act" style="padding-top:0px;margin-top:-10px;margin-bottom:-3px;">
        <div class="anim">
          <div class="olay">
            <div class="tear" style="position:absolute;top: 29px;left: 35px;opacity:0;animation: cry 0.5s 4;animation-timing-function: ease-in"></div>
            <div class="tear" style="position:absolute;top: 29px;left: 10px;opacity:0;animation: cry 0.4s 4;animation-timing-function: ease-in"></div>
            <img src="{{ static_url }}img/sad_small.svg" alt=":(" width="50" height="50">
          </div>
        </div>
        <div class="txt">
          <b class="bluestroke" style="color:#01579B;">Mein buhut udas hoon...</b>
        </div>
      </div>
  </div>

 {% elif action == '5' %}

  <div class="mtl mbl cxl bizcard checkerboard" style="padding:3px">

    <div class="tr_cnr" style="text-align:right;">
      <a href="{% url 'user_profile' username %}">{% if own_nick %}<img src="{{ av_url }}" width="22" height="22" alt="{{ username|slice:"1" }}" class="av_btn {{ bclass }}" style="font-size:77%;">{% else %}<div class="av_btn {{ bclass }}" style="width:22px;height:22px;color:#01579B;line-height:23px;font-size:77%;">{{ trunick }}</div>{% endif %}</a>
    </div>

    <div class="act" style="padding-top:0px;margin-top:-10px;margin-bottom:-3px;">
      <div class="anim">
        <img src="{{ static_url }}img/wassap_small.svg" alt=":)" width="50" height="50" style="animation: entrance 0.5s 1;animation-timing-function: ease-out;">
      </div>
      <div class="txt">
        <b class="bluestroke" style="color:#01579B;">Kya scene hai?</b>
      </div>
    </div>
  </div>

  {% elif action == '1' %}

  <div class="mtl mbl cxl bizcard polka" style="padding:3px">       

    <div class="tr_cnr" style="text-align:right;">
      <a href="{% url 'user_profile' username %}">{% if own_nick %}<img src="{{ av_url }}" width="22" height="22" alt="{{ username|slice:"1" }}" class="av_btn {{ bclass }}" style="font-size:77%;">{% else %}<div class="av_btn {{ bclass }}" style="width:22px;height:22px;color:#01579B;line-height:23px;font-size:77%;">{{ trunick }}</div>{% endif %}</a>
    </div>

    <div class="act" style="padding-top:0px;margin-top:-10px;margin-bottom:-3px;">
      <div class="anim">
        <img src="{{ static_url }}img/heart_small.svg" alt="<3" width="50" height="50" style="animation: heartbeat 0.8s 3;animation-timing-function: ease-out;">
        </div>
        <div class="txt">
        <span class="bluestroke" style="color:#01579B;"><b>{% if own_nick %}{{ username }}{% else %}{{ trunick }}{% endif %}</b>&nbsp;ki dharkan tez ho geyi</span>
      </div>
    </div>
  </div>

  {% elif action == '3' %}

  <div class="mtl mbl cxl bizcard rad" style="padding:3px">

      <div class="tr_cnr" style="text-align:right;">
        <a href="{% url 'user_profile' username %}">{% if own_nick %}<img src="{{ av_url }}" width="22" height="22" alt="{{ username|slice:"1" }}" class="av_btn {{ bclass }}" style="font-size:77%;">{% else %}<div class="av_btn {{ bclass }}" style="width:22px;height:22px;color:#01579B;line-height:23px;font-size:77%;">{{ trunick }}</div>{% endif %}</a>
      </div>

      <div class="act" style="padding-top:0px;margin-top:-10px;margin-bottom:-3px;">
        <div class="anim">
          <img src="{{ static_url }}img/clock_small.svg" alt="clock" width="50" height="50" style="animation: tada 0.8s 2;">
        </div>
        <div class="txt">
          <b class="bluestroke" style="color:#01579B;">Meko jaldi reply karo...</b>
        </div>
      </div>
  </div>

  {% elif action == '2' %}

  <div class="mtl mbl cxl bizcard circles" style="padding:3px">

      <div class="tr_cnr" style="text-align:right;"> 
        <a href="{% url 'user_profile' username %}">{% if own_nick %}<img src="{{ av_url }}" width="22" height="22" alt="{{ username|slice:"1" }}" class="av_btn {{ bclass }}" style="font-size:77%;">{% else %}<div class="av_btn {{ bclass }}" style="width:22px;height:22px;color:#01579B;line-height:23px;font-size:77%;">{{ trunick }}</div>{% endif %}</a>
      </div>

      <div class="act" style="padding-top:0px;margin-top:-10px;margin-bottom:-3px;">
        <div class="anim">
          <div class="olay">
          <div style="font-size:17px;z-index:2;position:absolute;top: 23px;left: 35px;opacity: 0;animation: drift 0.8s 1;color:white;text-shadow: 1px 1px 1px white, 2px 2px 3px #01579B;animation-timing-function: ease-in;">HA</div>
          <div style="font-size:17px;z-index:2;position:absolute;top: 23px;left: 35px;opacity: 0;animation: drift 1.6s 1;color:white;text-shadow: 1px 1px 1px white, 2px 2px 3px #01579B;animation-timing-function: ease-in;">HA</div>
          <div style="font-size:17px;z-index:2;position:absolute;top: 23px;left: 35px;opacity: 0;animation: drift 2.6s 1;color:white;text-shadow: 1px 1px 1px white, 2px 2px 3px #01579B;animation-timing-function: ease-in;">HA</div>
          <img src="{{ static_url }}img/lol_small.svg" alt=":D" width="50" height="50" style="animation: chuckle 1s 1;">
          </div>
        </div>
        <div class="txt">
          <span class="bluestroke" style="color:#01579B;"><b>{% if own_nick %}{{ username }}{% else %}{{ trunick }}{% endif %}</b>&nbsp;ko hansi ka dora par gaya!</span>
        </div>
      </div>
  </div>

{% endif %}