<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Kick out help:</h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="clb description">
		<div class="cl mts mbs lsp sp">'Kick out' ke page mein top pe 2 options hain: <img src="{{ static_url }}img/kick.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/block-cp.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/kick.svg" width="20" height="20" class="mrs">Is option ke zariye bad members (or officers) ko mehfil se kick out and block kiya ja sakta hai. Owners kick karney ka reason bhi de saktey hain, takey member apni ghalti samajh le</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/block-cp.svg" width="20" height="20" class="mrs">Is option ke zariye kicked out users ka block khatam kia ja sakta hai. Aisa karney se kicked out users mehfil mein dubara enter ho saktey hain</div>
	</div>
</div>