<div class="{{ css_shadow }} bx pol" style="max-width:{{ max_width }}px;width:100%;padding:10px 10px 30px 10px;">
{% if original_poster %}
<a href="{% url 'user_profile' original_poster %}" style="text-decoration:none">
<div class="cxs sp cgy mbl" style="text-align:center">foto via {{ original_poster|truncatechars:'15' }}</div>
</a>
{% endif %}
  <img src="{{ img_url }}" alt="pic loading ..." class="pgpic" style="max-width:{{ max_width }}px">
  {% if img_caption %}
    <div class="cxl cgy mtl ow" style="text-align:center;margin-bottom:-10px">
      <span class="lsp"><bdi>{{ img_caption }}</bdi></span>
    </div>
  {% endif %}
</div>