{% extends "base_pg.html" %}
{% load s3 %}
{% block content %}
<head><title>Action on shared photo | Damadam.pk</title></head>
<div class="margin clb" style="max-width:420px;width:92%;text-align:center;">

    <div class="mbl">
    
       <div class="mbs">
        {% if action == 'hide' %}<span class="cl cgy">Kya ye foto hide kar di jaye?</span>{% elif action == 'unhide' %}<span class="cl cgy">Kya ye foto dikha di jaye?</span>{% endif %}
        </div>

        <form action="{% url 'hide_photo_from_personal_group_chat' %}" method="POST" class="mtl mbl">
            {% csrf_token %}
            <input type="hidden" name="act" value="{{ action }}">
            <input type="hidden" name="bid" value="{{ bid }}">
            <input type="hidden" name="iid" value="{{ iid }}">
            <input type="hidden" name="tid" value="{{ tid }}">
            <input type="hidden" name="idx" value="{{ idx }}">
            <button class="btn bcb bm mrl mbs pg_ok" style="border:none;height:30px;" name="dec" value="1">Haan</button>
            <button class="btn bcgy bm mts pg_cl" style="border:none;height:30px;" name="dec" value="0">Nahi</button>
        </form>
    
        <hr size=1 COLOR="#e6e6e6">
    
    </div>

    <div class="sh cd ca" style="display:inline-block;">
        <img src="{{ img_url|s3 }}" alt="pic loading ..." style="border-radius:12px;width:100%;">
    </div>

</div>

<br><br>

{% endblock %}
