{% extends "base_pg.html" %}
{% load human_time %}
{% load next_page %}
{% load prev_page %}
{% load emoticons_tags %}
{% load truncap %}
{% load subtract %}
{% load s3 %}
{% block content %}
<head><title>{{ user.username }}'s friend list | Damadam.pk</title></head>
<style type="text/css">
	body{background: #E9EBEE}
	.pages{
		border:1px solid #E6E6E6;
		padding:2px 10px;
		border-radius:6px;
		background-color:#F0F3F4;
	}
	button.pages:focus{
        background-color:#E6E6E6;
 	}
 	.curr_page{
 		border:2px solid #E6E6E6;
		padding:2px 10px;
		border-radius:6px;
		background-color:#FDFDFD;
 	}
</style>

<div class="clb" style="max-width:450px;width:95%;margin:0 auto">
<div class="lsp">	
		<div class="mbl" style="text-align:center">
		{% include "personal_group/navbars/1_on_1_navbar.html" with section='1' static_url=STATIC_URL inv_count=invite_count %}    
			{% if num_pages < 2 %}
			<h1 class="cxl">1 on 1 messaging:</h1>
			{% else %}
			<div class="mtl fx fxjscn fxaicn">
				<div>
				<form style="display:inline" method="GET" action="{% url 'personal_group_user_listing' %}">
				<button style="background:0 0;border:none" type="submit" name="page" value="{{ current_page|prev_page:num_pages }}"><img src="{{ STATIC_URL }}img/back.svg" style="width:22px;height:22px;vertical-align:text-bottom"></button>
				</form>
				</div>
				<div><h1 style="display:inline" class="mls mrs cxl">1 on 1 messaging:</h1></div>
				<div>
				<form style="display:inline" method="GET" action="{% url 'personal_group_user_listing' %}">
				<button  style="background:0 0;border:none" type="submit" name="page" value="{{ current_page|next_page:num_pages }}"><img src="{{ STATIC_URL }}img/forward.svg" style="width:22px;height:22px;vertical-align:text-bottom"></button>
				</form>
				</div>
			</div>
			{% endif %}
		</div>

	{% for data in payload %}
	<div style="margin-bottom:22px">
	<div class="bizcard" style="background-color:white;margin:0 auto;width:95%">
		<a href="{% url 'profile' data.friend_username %}">
		{% if data.is_friend_anon == '0' %}
			{% if data.lt_msg_wid != own_id and data.lt_msg_time|add:"0" > data.own_last_seen|add:"0" %}
			<img src="{{ data.friend_av_url|s3:'thumb' }}" alt="{{ data.friend_username|slice:":1" }}" width="22" height="22" class="av_btn cb" style="border:1px solid #00CC99;position:absolute;margin-left:-16px;margin-top:-16px">
			{% else %}
			<img src="{{ data.friend_av_url|s3:'thumb' }}" alt="{{ data.friend_username|slice:":1" }}" width="22" height="22" class="av_btn cb" style="border:1px solid #D9D9D9;position:absolute;margin-left:-16px;margin-top:-16px">
			{% endif %}
		{% else %}
			{% if data.lt_msg_wid != own_id and data.lt_msg_time|add:"0" > data.own_last_seen|add:"0" %}
			<div class="av_btn ab" style="border:1px solid #00CC99;position:absolute;width:22px;height:22px;line-height:23px;color:#306654;margin-left:-16px;margin-top:-16px">{{ data.friend_username|truncap }}</div>
			{% else %}
			<div class="av_btn ab" style="border:1px solid #D9D9D9;position:absolute;width:22px;height:22px;line-height:23px;color:#306654;margin-left:-16px;margin-top:-16px">{{ data.friend_username|truncap }}</div>
			{% endif %}
		{% endif %}
		</a>
		<div style="padding:8px">
			<div class="fx fxjssb fxaibl">
				{% if data.is_friend_anon == '0' %}
				<div style="margin-left:12px">
					<a href="{% url 'profile' data.friend_username %}">
					{% if data.lt_msg_wid != own_id and data.lt_msg_time|add:"0" > data.own_last_seen|add:"0" %}
					<span style="color:#009973;margin-right:3px">{{ data.friend_username|truncatechars:13 }}</span>
					{% else %}
					<span class="cgy" style="margin-right:3px">{{ data.friend_username|truncatechars:13 }}</span>
					{% endif %}
					</a>
					{% if current_time|subtract:data.friend_last_seen < 60 %}
					<div class="bg-st-dot mrs" style="background-color:#00FF00;vertical-align:middle"></div>
					{% elif current_time|subtract:data.friend_last_seen < 120 %}
					<div class="bg-st-dot mrs" style="background-color:#9BE29B;vertical-align:middle"></div>
					{% endif %}
				</div>
				{% else %}
				<div>
					{% if current_time|subtract:data.friend_last_seen < 60 %}
					<div class="bg-st-dot mrs" style="margin-left:12px;background-color:#00FF00;vertical-align:middle"></div>
					{% elif current_time|subtract:data.friend_last_seen < 120 %}
					<div class="bg-st-dot mrs" style="margin-left:12px;background-color:#9BE29B;vertical-align:middle"></div>
					{% endif %}
				</div>
				{% endif %}
				{% if data.friend_last_seen == '-1' %}
				<div class="cgy sp cxs" style="text-align:right">never seen</div>
				{% else %}
				<div class="cgy sp cxs" style="text-align:right">seen {{ data.friend_last_seen|human_time }}</div>
				{% endif %}
			</div>
			
			<div class="fx fxjssb">
				<div style="flex:1">
				<form method="POST" class="mts" action="{% url 'enter_personal_group' %}">
			        {% csrf_token %}
					<input type="hidden" name="tid" value="{{ data.friend_id }}">
		        		{% if data.lt_msg_wid != own_id %}
		        			{% if data.lt_msg_time|add:"0" > data.own_last_seen|add:"0" %}
		        				<button type="submit" class="lsp cl" style="background:0 0;border:none;margin:0;padding:0;width:100%;text-align:left;border-right:1px solid #00CC99;border-radius:0"><b>
		        				{% if data.lt_msg_type == 'text' %}
								<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;{% if data.lt_msg_st == 'del' %}<span class="cgy">Msg mita dia gya</span>{% else %}<bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi>{% endif %}
								{% elif data.lt_msg_type == 'action' %}
								<img src="{{ STATIC_URL }}img/sticker.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Apke liye big sticker aya
								{% elif data.lt_msg_type == 'text_res' %}
								<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;{% if data.lt_msg_st == 'del' %}<span class="cgy">Msg mita dia gya</span>{% else %}<bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi>{% endif %}
								{% elif data.lt_msg_type == 'img' %}
								{% if data.lt_msg_st == 'del' %}<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;<span class="cgy">Msg mita dia gya</span>{% elif data.lt_msg_st == 'yes' %}<img src="{{ STATIC_URL }}img/pic.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;<span class="cgy">Ap ne foto hide kar di</span>{% else %}<img src="{{ data.lt_msg_img|s3:'thumb' }}" height="60" style="border-radius:6px;max-width:99%">{% if data.lt_msg_tx != 'None' %}<div class="mt"><bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi></div>{% endif %}{% endif %}
								{% elif data.lt_msg_type == 'img_res' %}
								{% if data.lt_msg_st == 'del' %}<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;<span class="cgy">Msg mita dia gya</span>{% elif data.lt_msg_st == 'yes' %}<img src="{{ STATIC_URL }}img/pic.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;<span class="cgy">Ap ne foto hide kar di</span>{% else %}<img src="{{ data.lt_msg_img|s3:'thumb' }}" height="60" style="border-radius:6px;max-width:99%">{% if data.lt_msg_tx != 'None' %}<div class="mt"><bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi></div>{% endif %}{% endif %}
								{% elif data.lt_msg_type == 'shared_img' %}
								{% if data.lt_msg_st == 'del' %}<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;<span class="cgy">Msg mita dia gya</span>{% elif data.lt_msg_st == 'yes' %}<img src="{{ STATIC_URL }}img/pic.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;<span class="cgy">Ap ne foto hide kar di</span>{% else %}<img src="{{ data.lt_msg_img|s3:'thumb' }}" height="60" style="border-radius:6px;max-width:99%">{% if data.lt_msg_tx != 'None' %}<div class="mt"><bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi></div>{% endif %}{% endif %}
								{% elif data.lt_msg_type == 'notif' %}
								<img src="{{ STATIC_URL }}img/key.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap se ijazat mangi geyi
								{% elif data.lt_msg_type == 'creation' %}
								<img src="{{ STATIC_URL }}img/wassap_small.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Apka invite qabool kar liya gaya
								{% elif data.lt_msg_type == 'suspend' %}
								<span style="color:#F71600"><img src="{{ STATIC_URL }}img/exit.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ye 1 on 1 chore di geyi</span>
								{% elif data.lt_msg_type == 'unsuspend' %}
								<img src="{{ STATIC_URL }}img/enter.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ye 1 on 1 phir se join kar li geyi
								{% endif %}
								<div class="mts sp cs" style="color:#808080">{{ data.lt_msg_time|human_time }}</div>
								</b></button>
		        			{% else %}
		        				<button type="submit" class="lsp cl" style="background:0 0;border:none;margin:0;padding:0;width:100%;text-align:left;border-right:1px solid #D9D9D9;border-radius:0"><span style="color:#808080">
		        				{% if data.lt_msg_type == 'text' %}
								<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;{% if data.lt_msg_st == 'del' %}Msg mita dia gya{% else %}<bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi>{% endif %}
								{% elif data.lt_msg_type == 'action' %}
								<img src="{{ STATIC_URL }}img/sticker.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Apke liye big sticker aya
								{% elif data.lt_msg_type == 'text_res' %}
								<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;{% if data.lt_msg_st == 'del' %}Msg mita dia gya{% else %}<bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi>{% endif %}
								{% elif data.lt_msg_type == 'img' %}
								{% if data.lt_msg_st == 'del' %}<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Msg mita dia gya{% elif data.lt_msg_st == 'yes' %}<img src="{{ STATIC_URL }}img/pic.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne foto hide kar di{% else %}<img src="{{ data.lt_msg_img|s3:'thumb' }}" height="60" style="border-radius:6px;max-width:99%">{% if data.lt_msg_tx != 'None' %}<div class="mt"><bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi></div>{% endif %}{% endif %}
								{% elif data.lt_msg_type == 'img_res' %}
								{% if data.lt_msg_st == 'del' %}<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Msg mita dia gya{% elif data.lt_msg_st == 'yes' %}<img src="{{ STATIC_URL }}img/pic.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne foto hide kar di{% else %}<img src="{{ data.lt_msg_img|s3:'thumb' }}" height="60" style="border-radius:6px;max-width:99%">{% if data.lt_msg_tx != 'None' %}<div class="mt"><bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi></div>{% endif %}{% endif %}
								{% elif data.lt_msg_type == 'shared_img' %}
								{% if data.lt_msg_st == 'del' %}<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Msg mita dia gya{% elif data.lt_msg_st == 'yes' %}<img src="{{ STATIC_URL }}img/pic.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne foto hide kar di{% else %}<img src="{{ data.lt_msg_img|s3:'thumb' }}" height="60" style="border-radius:6px;max-width:99%">{% if data.lt_msg_tx != 'None' %}<div class="mt"><bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi></div>{% endif %}{% endif %}
								{% elif data.lt_msg_type == 'notif' %}
								<img src="{{ STATIC_URL }}img/key.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap se ijazat mangi geyi
								{% elif data.lt_msg_type == 'creation' %}
								 <img src="{{ STATIC_URL }}img/wassap_small.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Apka invite qabool kar liya gaya
								{% elif data.lt_msg_type == 'suspend' %}
								<img src="{{ STATIC_URL }}img/exit.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ye 1 on 1 chore di geyi
								{% elif data.lt_msg_type == 'unsuspend' %}
								<img src="{{ STATIC_URL }}img/enter.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ye 1 on 1 phir se join kar li geyi
								{% endif %}
								<div class="mts sp cs">{{ data.lt_msg_time|human_time }}</div>
								</span></button>
		        			{% endif %}
		        		{% else %}
			        		<button type="submit" class="lsp cl" style="background:0 0;border:none;margin:0;padding:0;width:100%;text-align:left;border-right:1px solid #D9D9D9;border-radius:0"><span style="color:#808080">
			        		{% if data.lt_msg_type == 'text' %}
							<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;{% if data.lt_msg_st == 'del' %}Ap ne msg mita dia{% else %}<bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi>{% endif %}
							{% elif data.lt_msg_type == 'action' %}
							<img src="{{ STATIC_URL }}img/sticker.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne big sticker send kiya
							{% elif data.lt_msg_type == 'text_res' %}
							<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;{% if data.lt_msg_st == 'del' %}Ap ne msg mita dia{% else %}<bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi>{% endif %}
							{% elif data.lt_msg_type == 'img' %}
							{% if data.lt_msg_st == 'del' %}<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne msg mita dia{% elif data.lt_msg_st == 'yes' %}<img src="{{ STATIC_URL }}img/pic.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Foto hide kar di geyi{% else %}<img src="{{ data.lt_msg_img|s3:'thumb' }}" height="60" style="border-radius:6px;max-width:99%">{% if data.lt_msg_tx != 'None' %}<div class="mt"><bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi></div>{% endif %}{% endif %}
							{% elif data.lt_msg_type == 'img_res' %}
							{% if data.lt_msg_st == 'del' %}<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne msg mita dia{% elif data.lt_msg_st == 'yes' %}<img src="{{ STATIC_URL }}img/pic.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Foto hide kar di geyi{% else %}<img src="{{ data.lt_msg_img|s3:'thumb' }}" height="60" style="border-radius:6px;max-width:99%">{% if data.lt_msg_tx != 'None' %}<div class="mt"><bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi></div>{% endif %}{% endif %}
							{% elif data.lt_msg_type == 'shared_img' %}
							{% if data.lt_msg_st == 'del' %}<img src="{{ STATIC_URL }}img/chat.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne msg mita dia{% elif data.lt_msg_st == 'yes' %}<img src="{{ STATIC_URL }}img/pic.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Foto hide kar di geyi{% else %}<img src="{{ data.lt_msg_img|s3:'thumb' }}" height="60" style="border-radius:6px;max-width:99%">{% if data.lt_msg_tx != 'None' %}<div class="mt"><bdi>{% emoticons %}{{ data.lt_msg_tx|truncatechars:"28" }}{% endemoticons %}</bdi></div>{% endif %}{% endif %}
							{% elif data.lt_msg_type == 'notif' %}
							<img src="{{ STATIC_URL }}img/key.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne ijazat mangi
							{% elif data.lt_msg_type == 'creation' %}
							<img src="{{ STATIC_URL }}img/wassap_small.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne invite qabool kar lia
							{% elif data.lt_msg_type == 'suspend' %}
							<img src="{{ STATIC_URL }}img/exit.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne 1 on 1 chore di
							{% elif data.lt_msg_type == 'unsuspend' %}
							<img src="{{ STATIC_URL }}img/enter.svg" style="width:22px;height:22px;vertical-align:middle">&nbsp;Ap ne ye 1 on 1 phir se join kar li
							{% endif %}
							<div class="mts sp cs">{{ data.lt_msg_time|human_time }}</div>
							</span></button>
		        		{% endif %}
		        	</button>
		        </form>
				</div>
				{% if data.lt_msg_wid != own_id and data.lt_msg_time|add:"0" > data.own_last_seen|add:"0" %}
				<div style="padding-left:7px; margin:auto 0;">
				{% else %}
				<div style="padding-left:7px; margin:auto 0;">
				{% endif %}
				<form method="POST" class="mts" action="{% url 'personal_group_sms_settings' %}">
					{% csrf_token %}
					<button type="submit" name="tid" style="background:0 0;border:none;margin:0;padding:0;border-radius:0" class="cgy cs sp" value="{{ data.friend_id }}"><img src="{{ STATIC_URL }}img/sms.svg" width="25" height="25"></button>
				</form>
				<form method="POST" class="mt mbs" action="{% url 'enter_personal_group' %}">
					{% csrf_token %}
					<button name="tid" style="background-color:#67B0FD;display:inline-block;padding:2px 3px;border-radius:3px;vertical-align:middle;border:none" value="{{ data.friend_id }}">
                    <div id="line"></div>
                    <div id="line"></div>
                    <div id="line" style="width: 8px"></div>
                    </button>
				</form>
				</div>
			</div>
			
		</div>
	</div>
	</div>
	{% empty %}		
	<div class="bizcard" style="background-color:white;margin:0 auto;padding:10px">
	<div class="bizcard" style="background-color:white;text-align:center;padding:7px">
	<span class="cxl">Ye khali hai</span>
	<hr size=1 COLOR="#f2f2f2">
	<span class="cl cgy">Kisi bhi user se 1 on 1 messaging karney ke liye nickname ke agey bana <button name="tid" style="background-color:#67B0FD;display:inline-block;padding:2px 3px;border-radius:3px;vertical-align:middle;border:none" value="{{ data.friend_id }}">
                    <div id="line"></div>
                    <div id="line"></div>
                    <div id="line" style="width: 8px"></div>
                    </button> button dabain</span>
	<div class="mtl mbs"><a href="{% url 'home' %}"><button class="bcb btn bm sp pg_ok_res" style="height:23px">home</button></a></div>
	</div>
	</div>
	{% endfor %}
</div>
	{% if num_pages > 1 %}
		<div style="text-align:center">
		<form method="GET" action="{% url 'personal_group_user_listing' %}">
		{% for page_num in pages %}
			{% if current_page == page_num %}
			<button class="mrs curr_page cl" name="page" value="{{ page_num }}" style="display:inline-block;font-weight:bold">{{ page_num }}</button>
			{% else %}
			<button class="mrs pages" name="page" value="{{ page_num }}" style="display:inline-block;color:#909090">{{ page_num }}</button>
			{% endif %}	
		{% endfor %}
		</form>
		</div>
	{% endif %}
</div>
<br><br>
{% endblock %}