{% extends "base/base_share.html" %}
{% block content %}
<head><title>Templates | Damadam</title></head>
<div class="mtl">
	{% include "content/share_content_navbar.html" with static_url=STATIC_URL section='photo' %}
</div>
<h1 class="cxl clb lsp" style="text-align:center">Download templates:</h1>

<div class="clb mbl mts" style="overflow:hidden;background:white;max-width:500px;margin-left:auto;margin-right:auto;text-align:center;padding-bottom:10px">

	<div class="fx fxjscn fxaicn">
        <a href="{% url 'upload_public_photo' %}#section0" class="sp" style="width:50%"><div style="background:gainsboro;border-radius:0;width:100%;border:none;color:#808080;height:40px;line-height:40px;font-weight:bold;border-bottom:1px solid #dcdcdc">POST IMAGE</div></a>
        <button class="sp nos" style="background:white;border-radius:0;border:none;color:#4b9eca;height:40px;font-weight:bold;width:50%;border-bottom:1px solid #dcdcdc;">TEMPLATES</button>
    </div>

	<div class="sp lsp cl" style="padding:8px;background:ivory">Neechay templates download kar ke editing karein. Sab se dilchusp edits 'trending' mein aien ge:</div>

	<div class="mbl cxs sp" style="border-bottom:1px solid #f0f3f4;border-top:1px solid #f0f3f4;;background: white;padding:6px 0;color:#a9a9a9"><b>BEST EDITING APP: PICS ART <a href="https://play.google.com/store/apps/details?id=com.picsart.studio&hl=en" target="_blank" rel="nofollow" class="cb">(link)</a></b></div>

	<div class="mt fx fxjscn fxaicn" style="flex-wrap:wrap">

	<!-- enable lazyloading -->
		<a href="{{ STATIC_URL }}img/content_templates/60.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/60.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/59.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/59.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/58.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/58.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/57.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/57.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/56.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/56.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/55.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/55.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/54.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/54.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/53.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/53.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/52.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/52.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/51.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/51.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/50.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/50.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/49.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/49.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/48.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/48.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/47.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/47.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/46.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/46.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/44.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/44.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/43.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/43.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/41.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/41.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/42.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/thumbs/42.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/40.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/40.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/39.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/39.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/38.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/38.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/37.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/37.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/34.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/34.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/33.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/33.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/32.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/32.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/31.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/31.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/30.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/30.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/29.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/29.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/28.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/28.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/27.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/27.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/26.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/26.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/25.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/25.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/22.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/22.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/21.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/21.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/20.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/20.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/19.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/19.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/18.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/18.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/17.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/17.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/16.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/16.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/15.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/15.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/13.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/13.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/12.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/12.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/11.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/11.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/10.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/10.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/9.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/9.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/7.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/7.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/6.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/6.png" class="lazyload" width="166"></div></a>

		<a href="{{ STATIC_URL }}img/content_templates/5.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/5.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/4.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/4.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/3.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/3.png" class="lazyload" width="166"></div></a>
		<a href="{{ STATIC_URL }}img/content_templates/1.png" download><div style="width:160px;height:160px;overflow:hidden;border:1px solid gainsboro"><img src="{{ STATIC_URL }}img/content_templates/1.png" class="lazyload" width="166"></div></a>

	</div>
</div>

<br><br>
{% endblock %}