<div itemscope itemtype="http://schema.org/CreativeWork">

	{% if show_uname_credentials %}
		<div class="mbs">
	  
	  	<a href="{% url 'profile' oun %}" style="text-decoration: none;">
	  		<img src="{{ av_url }}" alt="{{ oun }}" style="border:1px solid #DCDCDC;position:absolute;margin-left:-16px;margin-top:-16px" width="22" height="22" class="av_btn">
	  	</a>
		
		<div class="fx fxjssb">
		
		<div style="padding-left:22px"><a href="{% url 'profile' oun %}" style="text-decoration: none;">{% if is_pinkstar == '1' %}<img src="{{ static_url }}img/pstar.svg" alt="*" height="13" width="13" style="color:deeppink">&nbsp;{% endif %}<b class="clb cs sp">{{ oun }}</b>&nbsp;<span class="cxs sp cg">({{ score }})</span></a>&nbsp;<span class="sp cxs cgy">- {{ ut }}</span></div>
	 	<form style="padding-right:3px;display:{{ report_display }}" method="POST" action="{% url 'report_or_block' %}">
			{% csrf_token %}
			<input type="hidden" name="tp" value="pht">
			<button type="submit" name="report" style="background:0 0;padding:0;border:none" class="report mt pg_ok_res" value="img#{{ origin }}#{{ pid }}#{{ oun }}#{{ ooid }}#{{ img_thumb }}#{{ home_hash }}#{{ raw_caption }}"><img src="{{ static_url }}img/warn_g.svg" width="15" height="15"></button>
		</form>
		  
		</div>

		</div>
		
		<div itemscope itemtype="http://schema.org/ImageObject">	

		{% if vsc < VDC %}
		<div class="mls" style="color:gray">--- --- ---</div>
		{% else %}
		<div class="mls" style="overflow:hidden;max-width:400px;margin-bottom:4px">
		<b class="cl clb mrs lsp" itemprop="caption"><bdi>{{ cap }}</bdi></b>{% if is_fbs == '1' %}<span class="cxs sp cgy">(fbs)</span>{% endif %}
		</div>
		{% endif %}

		<div class="mls" style="overflow:hidden;padding-right:3px">
		{% if block_time_remaining %}
		<img class="pht mbs mt" alt="censored" src="{{ static_url }}img/broken.svg" style="border-radius:12px">
		{% else %}
		<span itemprop="contentUrl">
			{% if vsc < VDC %}
				<img class="pht mbs mt" alt="censored" src="{{ static_url }}img/broken.svg" style="border-radius:12px">
			{% elif vsc < VDP %}
				<img class="pht bright mbs mt" src="{{ img_url }}" alt="{{ raw_caption }}" style="border-radius:12px">
			{% else %}
				<img class="pht mbs mt" src="{{ img_url }}" alt="{{ raw_caption }}" style="border-radius:12px">
			{% endif %}
		</span>
		{% endif %}
		</div>

		</div>
	{% else %}
		<div itemscope itemtype="http://schema.org/ImageObject">	

		<div class="fx fxjssb">
		{% if vsc < VDC %}
		<div class="mls" style="color:gray">--- --- ---</div>
		{% else %}
		<div class="mls" style="overflow:hidden;max-width:400px;margin-bottom:4px">
		<b class="cl clb mrs lsp" itemprop="caption"><bdi>{{ cap }}</bdi></b>{% if is_fbs == '1' %}<span class="cxs sp cgy">(fbs)</span>{% endif %}&nbsp;<span class="sp cxs cgy">- {{ ut }}</span>
		</div>
		{% endif %}
		<form style="padding-right:3px;display:{{ report_display }}" method="POST" action="{% url 'report_or_block' %}">
			{% csrf_token %}
			<button type="submit" name="report" style="background:0 0;padding:0;border:none" class="report mt pg_ok_res" value="img#{{ origin }}#{{ pid }}#{{ oun }}#{{ ooid }}#{{ img_thumb }}#{{ home_hash }}#{{ raw_caption }}"><img src="{{ static_url }}img/warn_g.svg" width="15" height="15"></button>
		</form>
		</div>

		<div class="mls" style="overflow:hidden;padding-right:3px">
		{% if block_time_remaining %}
		<img class="pht mbs mt" alt="censored" src="{{ static_url }}img/broken.svg" style="border-radius:12px">
		{% else %}
		<span itemprop="contentUrl">
			{% if vsc < VDC %}
				<img class="pht mbs mt" alt="censored" src="{{ static_url }}img/broken.svg" style="border-radius:12px">
			{% elif vsc < VDP %}
				<img class="pht bright mbs mt" src="{{ img_url }}" alt="{{ raw_caption }}" style="border-radius:12px">
			{% else %}
				<img class="pht mbs mt" src="{{ img_url }}" alt="{{ raw_caption }}" style="border-radius:12px">
			{% endif %}
		</span>
		{% endif %}
		</div>

		</div>
	{% endif %}
</div>