<div>
	<style type="text/css">.main_txt>a{color:#01579b;text-decoration:none}.main_txt>a:hover{text-decoration:underline}.main_txt>a:active,.main_txt>a:visited{color:#01579b}</style>
  {% if topic and show_topic %}
	{% include "topics/topic_header.html" with topic_header=topic color1=c1 color2=c2 static_url=static_url topic_url=topic_url %}
  {% endif %}
  <div class="fx fxjssb fxaicn mt" style="background:white">
	<div class="fx fxjsfs fxaicn" style="padding:7px">
		<a href="{% url 'user_profile' oun %}" class="mrs" style="text-decoration: none;"><img src="{{ av_url }}" alt="{{ oun }}" width="22" height="22" class="cxs sp" style="border-radius:50%;border:1px solid gainsboro"></a>
		<div style="word-break: break-all;"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><a itemprop="url" href="{% url 'user_profile' oun %}" style="text-decoration: none"><h3 style="padding:0;margin:0;display:inline" class="clb cs sp" itemprop="name">{{ oun }}</h3></a></span>{% if is_star %}&nbsp;<img src="{{ static_url }}img/gstar.svg" width="14" height="14">{% endif %}&nbsp;<time class="sp cxs cgy" itemprop="datePublished" datetime="{{ mt }}">- {{ upload_time }}</time></div>
	</div>
	<form style="padding-right:7px" method="POST" action="{% url 'report_or_block' %}">
		{% csrf_token %}
		<input type="hidden" id="tp{{ obid }}" name="tp" value="{{ topic_url }}">
		<button type="submit" name="report" style="background:0 0;padding:0;border:none" class="report pg_ok_res" value="tx#{{ origin }}#{{ obid }}#{{ oun }}#{{ ooid }}#{{ av_url }}#{{ home_hash }}#{{ raw_text|truncatechars:'60' }}"><img src="{{ static_url }}img/warn_g.svg" width="16" height="16"></button>
	</form>
  </div>
</div>
<div class="mbs mls mrs lsp nos" style="overflow:hidden">
	{% if vsc|add:"0" < VDC or block_time_remaining %}<div class="mt cgy sp cs cxl" style="text-align:center">- mita diya gya -</div>{% else %}<h2 class="cxl clb mt mbs ow main_txt" style="text-align:{{ pos }};font-weight: 300" itemprop="text">{{ text }}</h2>{% endif %}
</div>