<!DOCTYPE html>
<html style="background-color: #E9EBEE;">
<style>
body {
    background-color: #E9EBEE;
    font-family:Arial;
}
</style>
<head>
    <!-- has to be the first tag in head -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {% include "favicons.html" %}
    {% include "css.html" %}
       <!-- <meta charset="utf-8"> THIS IS AN HTML5 TAG-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        <meta name="description" content="Damadam is a Pakistani social site, with the best funny photos and memes, Urdu poetry, and interesting people to chat with. Join the fun now!">
        <meta name="author" content="mhb">
        <title>Page not found! | Damadam</title>
        <meta property="og:site_name" content="Damadam.pk">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Damadam is a Pakistani social site, with the best funny photos and memes, Urdu poetry, and interesting people to chat with. Join the fun now!">
        
        {% load google_analytics %}
        {% google_analytics %}

</head>

{% include "header.html" %}
<ul class="navbar">

{% if user.is_authenticated %}
    <!-- bunched HTML removes spaces between li elements -->
    <li><a href="/">Home</a></li><li><a href="{% url 'photo' 'best-list' %}">Photos</a></li><li><a class="sharing" href="{% url 'share_content' %}#section0">Share</a></li><li><a href="{% url 'top_photo' %}">Stars</a></li><li><a class="sharing" href="{% url 'retrieve_direct_responses' %}#section0">Inbox</a></li><li><a href="{% url 'personal_group_user_listing' %}#section0">1 on 1{% if invite_count > 0 %}<span style="color:mediumblue"> ({{ invite_count }})</span>{% endif %}</a></li><li><a class="sharing" href="{% url 'group_page' %}#section0">Mehfil</a></li><li><a href="{% url 'online_kon' %}">Online</a></li><li><a href="{% url 'user_profile' user.username %}#section0"><bdi>Profile</bdi></a></li>
{% else %}
    <li><a href="{% url 'unauth_home_new' %}">Home</a></li><li><a href="{% url 'photo' 'best-list' %}">Photos</a></li><li><a href="{% url 'unauth_home_new' %}#section0"><b>New Account</b></a></li><li><a href="{% url 'login' %}#section0">Old Account</a></li>
{% endif %}
</ul>

<br>

<div style="margin-top:1em;margin-right: auto;margin-left: auto;max-width:600px;width:93%;border-radius:6px;padding:5px 5px 5px 5px;background-color:#26d5ab;padding-bottom:2em;-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);box-sizing: border-box;">
    <div style="margin-top:1em;text-align:center">
    <img src="{{ STATIC_URL }}img/scream.svg" alt="scream" height="200" width="200" style="font-size:60%;">
    </div>
    <h1 style="color:white;text-shadow:1px 1px #009940;text-align:center;font-size:180%;">Aaaaa! Ye aik khokhlay matkey ki terah khali hai</h1>

    <h2 style="color:#f9ef6c;text-shadow:1px 1px #009940;text-align:center;">Ap rasta toh nahi bhool gaye?</h2>
</div>
<br><br>
<ul class="navbar">
{% if user.is_authenticated %}
    <li><a href="/">Home</a></li><li><a href="{% url 'photo' 'best-list' %}">Photos</a></li><li><a href="{% url 'search_username' %}">Search</a></li><li><a href="{% url 'reauth' %}#section0">Change Password</a></li><li><a href="{% url 'help' %}#section0">Help</a></li>
{% else %}
    <li><a href="{% url 'unauth_home_new' %}">Home</a></li><li><a href="{% url 'unauth_home_new' %}#section0">New Account</a></li><li><a href="{% url 'login' %}#section0">Old Account</a></li><li><a href="{% url 'about' %}#section0">About</a></li>
{% endif %}
</ul>

<div style="text-align:center;padding-bottom:10px" class="mtl sp lsp cxs cgy">
    |<a href="{% url 'about' %}" class="clb" style="font-weight:bold"> &nbsp;About&nbsp; </a>|<a href="{% url 'privacy_policy' %}" class="clb" style="font-weight:bold"> &nbsp;Privacy Policy&nbsp; </a>|<a href="{% url 'bahirniklo' %}#section0" class="clb" style="font-weight:bold"> &nbsp;Logout&nbsp; </a>|
</div>
</body>
</html>