{% extends "base/base_noindex.html" %}
{% block content %}
<div style="margin-right: auto;margin-left: auto;max-width:600px;padding:5px 5px 5px 5px;background-color:#26d5ab;padding-bottom:2em;-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);box-sizing: border-box;font-family:Arial">
    <div style="margin-top:1em;text-align:center">
    <img src="{{ STATIC_URL }}img/scream.svg" alt="scream" height="200" width="200" style="font-size:60%;">
    </div>
    <h1 style="color:white;text-shadow:1px 1px #009940;text-align:center;font-size:180%;">Aaa! Ye aik khokhlay matkey ki terah khali hai</h1>

    <h2 style="color:#f9ef6c;text-shadow:1px 1px #009940;text-align:center;font-size:130%;">Ap rasta toh nahi bhool gaye?</h2>
</div>
<br><br>
{% endblock %}