<!DOCTYPE html>
<html lang="en">
<style>
body {
	background-color: #2de0ae;
	font-family:Arial;
}
</style>
<head>
    <title>Oh my God! | Damadam.pk</title>
</head>
<body>
<div style="margin-top:1em;margin-right: auto;margin-left: auto;max-width:600px;width:93%;border: 3px dashed #eae9e8;border-radius:6px;padding:5px 5px 5px 5px;background-color:#26d5ab;padding-bottom:2em;-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);box-shadow:0 1px 3px 0 rgba(0,0,0,0.13);box-sizing: border-box;">
	<div style="margin-top:1em;text-align:center">
	<img src="/scream.svg" alt="scream!" height="200" width="200" style="word-spacing: 2px;color:white;font-size:70%;">
	</div>
    <h1 style="color:white;text-shadow:1px 1px #009940;text-align:center;font-size:180%;">Aaaa! Damadam ulti qulabazi kha gaya!</h1>

    <h2 style="color:#f9ef6c;text-shadow:1px 1px #009940;text-align:center;">Hum isko seedha kar rahay hain</h2>
</div>
</body>
</html>
