{% extends "base.html" %}
{% block content %}
<head><title>About | Damadam.pk</title></head>
<div class="margin">
<h1 class="cxl">About Us:</h1>
Damadam is a fun website for chatting, Urdu poetry, photos, entertainment and commerce. We're growing steadily and hope to become a destination of choice for all Pakistani users.<br><br>
<h2 class="cxl">Official Fan Page:</h2>
<a href="http://www.facebook.com/DamadamOfficial/">http://www.facebook.com/DamadamOfficial/</a>
<br>
<img src="" alt='loading'>
<br>
<a href="">test</a>
</div>
<br><br>
{% endblock %}