{% extends "base.html" %}
{% load human_time %}
{% load emoticons_tags %}
{% block content %}
<div class="margin clb">
<form method="POST" action="{% url 'ad_feedback' %}">
{% csrf_token %}
{{ form.ad_campaign }}<br>
<button type="submit" class="btn bcg bm mtl mbl">OK</button><br>
</form>
{% if feedback_count|add:"0" > 0 %}
<b class="cg cs">{{ feedback_count }} feedback</b><br>
{% endif %}
<hr size=1 COLOR="#b3e6b3">
{% for result in results reversed %}
<b class="cgy">{{ result.submitted_at|human_time }}:</b><br>
<div class="mts mbs">
<b>{% emoticons %}{{ result.feedback }}{% endemoticons %}</b><br>
</div>
<span class="co mll">by&nbsp;<b>{{ result.username }}</b></span>&nbsp;<span class="cgy cs">(id:{{ result.user_id }})</span><br>
<hr size=1 COLOR="#b3e6b3">
{% endfor %}
</div>
<br><br>
{% endblock %}