{% extends "base.html" %}
{% load humanize %}
{% load thumbedge %}
{% block content %}
<div class="margin clb"> 
<img src="{{ purl }}" style="border: 1px solid #A9A9A9;"></img>&nbsp;
{% if dec == '1' %}

	{% if already_banned == '0' %}
	<b class="ct">{{ oun }}</b> ko kitne time ke liye photo charhane se ban krna hai?
	{% elif already_banned == '-1' %}
	Ye <b class="co">hamesha ke liye</b> yahan pr photo charhane se banned hai. Iski saza ka new time kia rakhna hai?
	{% else %}
	Ye photo charha sake ga <b class="co">{{ already_banned|naturaltime }}</b>. Iski saza ka new time kia rakhna hai?
	{% endif %}
	<br>
	<form method="POST" action="{% url 'ban_photo_upload_and_voters' %}" class="mtl">
	{% csrf_token %}
		<input type="hidden" name="dec" value="{{ dec }}">
		<input type="hidden" name="pid" value="{{ pid }}">
		<input type="hidden" name="poid" value="{{ poid }}">
		<input type="hidden" name="oun" value="{{ oun }}">
		<input type="hidden" name="orig" value="{{ origin }}">
		<input type="hidden" name="lid" value="{{ link_id }}">	
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="1" checked><span class="cr">1 day</span><br><br>
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="2"><span class="cr">1 week</span><br><br>
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="3"><span class="cr">Forever</span><br><br>
		{% if already_banned != '0' %}
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="0"><span class="cgy">Saza khatm kro</span><br><br>
		{% else %}
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="-1"><span class="cb">Rehne do</span><br><br>
		{% endif %}
		<button type="submit" class="btn bcr bm">OK</button>
	</form>

{% elif dec == '2' %}

	{% if num|add:"0" < 1 %}
	<b class="ct">{{ oun }}</b> ki is photo ko kisi ne vote nahi diya<br>
		{% if origin == '1' %}
		<a href="{% url 'see_photo_pk' pid %}">
		{% elif origin == '2' %}
		<a href="{% url 'best_photo_loc_pk' pid %}">
		{% elif origin == '3' %}
		<a href="{% url 'home_loc_pk' lid %}">
		{% elif origin == '4' %}
		<a href="{% url 'profile_pk' oun pid %}">
		{% elif origin == '6' %}
		<a href="{% url 'cull_photo' %}">
		{% else %}
		<a href="{% url 'best_photo' %}">
		{% endif %}
		<button class="btn bco bm mtl">wapis</button></a>
	{% else %}
	<b class="ct">{{ oun }}</b> ki is photo ko <b>{{ num }}</b> logon ne vote diye:<br>
		<form method="POST" action="{% url 'ban_photo_upload_and_voters' %}" class="mtl">
		{% csrf_token %}

			{% for name in nameandval %}
				{% if name.1 == 1 %}
				<input type="checkbox" name="unames" value="{{ name.0 }}" checked>&nbsp;<a href="{% url 'profile' name %}#section0">{{ name.0 }}</a>&nbsp;<span class="cs cg">(zabrdast)</span><br>
				{% elif name.1 == 0 %}
				<input type="checkbox" name="unames" value="{{ name.0 }}" checked>&nbsp;<a href="{% url 'profile' name %}#section0">{{ name.0 }}</a>&nbsp;<span class="cs cr">(bekaar)</span><br>
				{% endif %}
			{% endfor %}

			<br>In sb ko photos pr vote krne se kitne time ke liye ban krna hai?
			<br><span class="cgy cs">(tip: jisko chorna hai, uske box ka tick mark hata do)</span><br><br>

			<input type="hidden" name="dec" value="{{ dec }}">
			<input type="hidden" name="pid" value="{{ pid }}">
			<input type="hidden" name="oun" value="{{ oun }}">
			<input type="hidden" name="orig" value="{{ origin }}">
			<input type="hidden" name="lid" value="{{ link_id }}">

			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="1" checked><span class="cr">3 hours</span><br><br>
			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="2"><span class="cr">3 days</span><br><br>
			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="3"><span class="cr">1 week</span><br><br>
			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="4"><span class="cr">Forever</span><br><br>
			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="0"><span class="cb">Rehne do</span><br><br>

			<button type="submit" class="btn bcr bm">OK</button>
		</form>
	{% endif %}

{% elif dec == '3' %}
	
	{% if already_banned == '0' %}
	<b class="ct">{{ oun }}</b> ko kitne time ke liye photo charhane se ban krna hai?
	{% elif already_banned == '-1' %}
	<b class="ct">{{ oun }}</b>&nbsp;<b class="co">hamesha ke liye</b> yahan pr photo charhane se banned hai. Iski saza ka new time kia rakhna hai?
	{% else %}
	<b class="ct">{{ oun }}</b> photo charha sake ga <b class="co">{{ already_banned|naturaltime }}</b>. Iski saza ka new time kia rakhna hai?
	{% endif %}
	<br>
	<form method="POST" action="{% url 'ban_photo_upload_and_voters' %}" class="mtl">
	{% csrf_token %}
		<input type="hidden" name="dec" value="{{ dec }}">
		<input type="hidden" name="pid" value="{{ pid }}">
		<input type="hidden" name="poid" value="{{ poid }}">
		<input type="hidden" name="oun" value="{{ oun }}">
		<input type="hidden" name="orig" value="{{ origin }}">
		<input type="hidden" name="lid" value="{{ link_id }}">	
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="1" checked><span class="cr">1 day</span><br><br>
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="2"><span class="cr">1 week</span><br><br>
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="3"><span class="cr">Forever</span><br><br>
		{% if already_banned != '0' %}
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="0"><span class="cgy">Saza khatm kro</span><br><br>
		{% else %}
		<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="dur" value="-1"><span class="cb">Rehne do</span><br><br>
		{% endif %}
		<hr size=1 COLOR="#D0D0D0">
		{% if num|add:"0" < 1 %}
			<b class="ct">{{ oun }}</b> ki is photo ko kisi ne vote nahi diya<br>
			<hr size=1 COLOR="#D0D0D0">
		{% else %}
			<b class="ct">{{ oun }}</b> ki is photo ko <b>{{ num }}</b> logon ne vote diye:<br>
			{% for name in nameandval %}
				{% if name.1 == 1 %}
				<input type="checkbox" name="unames" value="{{ name.0 }}" checked>&nbsp;<a href="{% url 'profile' name %}#section0">{{ name.0 }}</a>&nbsp;<span class="cs cg">(zabrdast)</span><br>
				{% elif name.1 == 0 %}
				<input type="checkbox" name="unames" value="{{ name.0 }}" checked>&nbsp;<a href="{% url 'profile' name %}#section0">{{ name.0 }}</a>&nbsp;<span class="cs cr">(bekaar)</span><br>
				{% endif %}
			{% endfor %}

			<br>In voters ko photos pr vote krne se kitne time ke liye ban krna hai?
			<br><span class="cgy cs">(tip: jisko chorna hai, uske box ka tick mark hata do)</span><br><br>

			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="1" checked><span class="cr">3 hours</span><br><br>
			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="2"><span class="cr">3 days</span><br><br>
			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="3"><span class="cr">1 week</span><br><br>
			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="4"><span class="cr">Forever</span><br><br>
			<input style="margin:-2px 10px 0 0;vertical-align:middle;" type="radio" name="vdur" value="0"><span class="cb">Rehne do</span><br><br>
			<hr size=1 COLOR="#D0D0D0">
		{% endif %}
		<br>
		<button type="submit" class="btn bcr bm">OK</button>

	</form>

{% else %}
{% endif %}


</div><br><br>
{% endblock %}