{% extends "base.html" %}
{% load humanize %}
{% load thumbedge %}
{% block content %}
<div class="margin clb"> 

	&nbsp;<img src="{{ photo_url|thumbedge }}" alt="no pic">
	&nbsp;Ye photo <a href="{% url 'profile' photo_owner %}#section0">{{ photo_owner }}</a> ne charhai hai.
		{% if already_banned == '-1' %}
			{{ photo_owner }} pehle se hi <b class="co">hamesha ke liye</b> yahan pr photo charhane se banned hai. Kya iske ban ka waqt change krna hai?
		{% elif already_banned == '0' %}
			Isko kitne waqt ke liye photos charhane se ban krna hai?
		{% else %}
			{{ photo_owner }} pehle se hi banned hai, aur dubara photo charha sake ga <b class="co">{{ already_banned|naturaltime }}</b>. Kya iske ban ka waqt change krna hai?
		{% endif %}
	<br>
	&nbsp;<a href="{% url 'ban_photo_uploader' photo_id photo_owner owner_id '1' origin link_id val %}"><button class="btn nw bcr bl mbs mtl">1 day</button></a><br>
	&nbsp;<a href="{% url 'ban_photo_uploader' photo_id photo_owner owner_id '2' origin link_id val %}"><button class="btn nw bcr bl mbs mts">1 week</button></a><br>
	&nbsp;<a href="{% url 'ban_photo_uploader' photo_id photo_owner owner_id '3' origin link_id val %}"><button class="btn nw bcr bl mbs mts">Forever</button></a><br>
	&nbsp;<a href="{% url 'ban_photo_uploader' photo_id photo_owner owner_id '0' origin link_id val %}"><button class="btn nw bco bl mbs mts">Rehne do</button></a><br><span class="cgy cs">&nbsp;(sirf score <b>-1</b> kr do)</span>

</div><br><br>
{% endblock %}