{% extends "base.html" %}
{% load future_time %}
{% load thumbedge %}
{% block content %}
<div class="margin clb">
{% if status == '0' %}
	<div class="mbl">
	<span class="cl cr">Block khatam kar diya gaya!</span><br>
	</div>
{% elif status == '1' %}
	<div class="mbl">
	<span class="cl cr">Block ka time change kar diya gaya!</span><br>
	</div>
{% elif status == '2' %}
	<div class="mbl">
	<span class="cl cr">Block change nahi ho saka!</span><br>
	</div>
{% else %}
	<h2>Blocked users:</h2>
{% endif %}
{% for banned_user, ttl in banned_users_with_ttl %}
	<span class="cgy cs">{{ forloop.counter }}.
	<a href="{% url 'profile' slug=banned_user.username %}#section0">
        {% if banned_user.userprofile.avatar %}
            <img src='{{ banned_user.userprofile.avatar.url|thumbedge }}' width="22" height="22" alt="no pic"></img>
        {% else %}
            <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" width="22" height="22" alt="no pic"></img>
        {% endif %}
        <b class="cb cl"><bdi>{{ banned_user.username }}</bdi></b>
        {% if banned_user.username in females %}
            <img src="{{ STATIC_URL }}img/pstar.png" width="13" height="13" alt="no pic">
        {% endif %}
        </a></span>&nbsp;<span class="cgy cs">{{ ttl|future_time }}&nbsp;block khatam ho ga</span>&nbsp; 
        <form action="{% url 'change_ban_time' %}" method="POST" style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="buid" value="{{ banned_user.id }}">
        <button name="bun" class="btn bcgy bs cs mls mbs mts" type="submit" value="{{ banned_user.username }}">&nbsp;change&nbsp;</button>
        </form><br>
	{% empty %}
	<span class="cgy cl">Is waqt aap ne kisi ko block nahi kiya hua</span>
{% endfor %}
</div>
<br><br>
{% endblock %}