{% extends "base_ecomm.html" %}
{% block content %}
{% load cache %}
{% cache 3600 ad_cache_2 %}
<div class="margin clb">

<b class="cxl">Muft ad lagao!</b><br>
<div class="mt">
<span style="font-size:15px;" class="cgy">Business karney ka shandar moqa</span><br>
</div>
<div class="mtl mbs">
<b style="color:#fb8c00;" class="cs">Step 1:</b>&nbsp;<span class="clb cl">Jo baichna hai uski <b>tafseel</b> likho</span>
</div>
<div class="mbs">
<b style="color:#fb8c00;" class="cs">Step 2:</b>&nbsp;<span class="clb cl">Cheez ki <b>3 fotos</b> lagao</span>
</div>
<div class="mbs">
<b style="color:#fb8c00;" class="cs">Step 3:</b>&nbsp;<span class="clb cl">Apna <b>naam</b> aur <b>city</b> likho</span>
</div>
<div class="mbl">
<b style="color:#fb8c00;" class="cs">Step 4:</b>&nbsp;<span class="clb cl"><b>Mobile number</b> ki tasdiq karwao</span>
</div>

<span class="cg">Agey chalo aur ad banao!</span>

<hr size=1 COLOR="#b3e6b3">
{% endcache %}
<form method="POST" class="mts" action="{% url 'init_classified' %}">
{% csrf_token %}
<input type="hidden" name="category" value="1">
<input class="btn bl cl mbs mts" style="border-color:#00c853;background-color:#00c853;" type="submit" value="Agey">
</form>

</div>
<br><br>

{% endblock %}
