{% extends "base.html" %}
{% load humanize %}
{% load thumbedge %}
{% load photoedge %}
{% load human_time %}
{% load mathfilters %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">
	{% if notification %}
	{% if type_of_object == '2' %}
	<div class="div dbt">
		{% if first_time_user %}
		<span class="cs ct">
		Tumhe <b>welcome</b> kiya:
		</span>
		<br>
		{% else %}
			{% if parent.ooa != 'None' %}
				<img src="{{ parent.ooa|thumbedge }}" alt="no pic" width="22" height="22"></img>
			{% else %}
				<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22"></img>
			{% endif %}
		<span class="cgy"><bdi>{{ parent.oon }}</bdi></span>:<span class="cgy">{% emoticons %} {{ parent.od|truncatechars:40 }}{% endemoticons %}</span>
			
			<p style="margin-top:.5em;"></p>
	
		<span class="cs ct">
				is pr <b>new</b> jawab aya:
				</span>
				<p style="margin-top:.3em;"></p>
			{% endif %}
		
		<a href="{% url 'reply_pk' parent_pk %}"><bdi>{{ parent.lrsn }}</bdi>
			{% if parent.lrsn in girls %}
		    	<span class="pinkstar" ><b>*</b></span>
		    {% endif %}
		:<span class="cm"><bdi class="clb">{% emoticons %} {{ parent.lrtx|truncatechars:70 }}{% endemoticons %}</bdi></span><span class="cs cgy"><bdi>, {{ parent.lrti|human_time }}</bdi>
		</span>
			<p style="margin-top:.5em;"></p>
				<button class="btn nw bm bct mrs">jawab do</button></a>&nbsp;&nbsp;
				<a href="{% url 'x_notif' parent_pk ident '2' %}"><button class="btn bcr bxs"><b>X</b></button></a>
			</div>
			<p style="margin-top:.5em;"></p>
			<hr size=1>
			<p style="margin-top:-0.9em;"></p>
			<hr size=1>
	
{% elif type_of_object == '3a' %}
	<!-- priv -->
	<div class="box dbg">
		<b class="cg">{% emoticons %}{{ parent.od|truncatechars:40 }}{% endemoticons %}</b>
		<br><br><span class="cg cs">mein <b>new</b> pegham aya:</span><br><br>
		{% if parent.rp != 'None' %}
		<img src="{{ parent.rp }}" alt="no pic"><br>
		{% endif %}
		<a href="{% url 'profile' parent.lrsn %}">
		{% if parent.lrau != 'None' %}
		<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		<span class="cm">{{ parent.lrsn }}</span></a>
				{% if parent.lrsn in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span style="color:#404040;">: {% emoticons %}{{ parent.lrtx|truncatechars:40 }}{% endemoticons %}</span><span class="cs cgy"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<br><a href="{% url 'private_group' parent.l %}"><button class="btn nw bm bcg mrs">jawab do</button></a>&nbsp;&nbsp;<a href="{% url 'x_group_notif' parent_pk ident '2' %}"><button class="btn bxs bcr" style="margin-top:1em;"><b>X</b></button></a>
	</div>
				<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
				<hr size=1>

	{% elif type_of_object == '3b' %}
	<!-- pub -->
	<div class="box dbp">
		<b style="color:#765989;">{{ parent.od|truncatechars:40 }}</b>
		<br><br><span class="cs cp">mein <b>new</b> pegham aya:</span><br><br>
		{% if parent.rp != 'None' %}
		<img src="{{ parent.rp }}"><br>
		{% endif %}
		<a href="">
		{% if parent.lrau != 'None' %}
		<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		<span class="cm">{{ parent.lrsn }}</span></a>
				{% if parent.lrsn in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span style="color:#404040;">: {{ parent.lrtx|truncatechars:40 }}</span><span class="cs cgy"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<br><a href="{% url 'public_group' parent.l %}"><button class="btn nw bm bcp mrs" >jawab do</button></a>&nbsp;&nbsp;<a href="{% url 'x_group_notif' parent.oi ident '2' %}"><button class="btn bxs bcr" style="margin-top:1em;"><b>X</b></button></a>
	</div>
				<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
				<hr size=1>

	{% elif type_of_object == '4' %}
		<div class="div dbg">
		<a href="{% url 'profile' parent.oon %}#section0">
		{% if parent.ooa != 'None' %}
		<img src="{{ parent.ooa|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		{{ parent.oon }}</a>
				{% if parent.oon in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span class="clb">: {{ user.username }}, waqt mila toh <b class="cg">{{ namaz }}</b> parh lena {% emoticons %}:){% endemoticons %}</span>
		<br>
			{% if first_time_user > 1 %}
			<span class="cg cm">({{ parent.oon }} ne pichli <b>lagatar {{ first_time_user }} namazein</b> parhein)</span><br>
			{% endif %}
		<a href="{% url 'cross_salat_notif' parent.c ident '2' %}"><button class="btn bxs bcr mtl"><b>X</b></button></a>
		</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
				<hr size=1>

	{% elif type_of_object == '0' %}
		<div class="box dby	">
		<span class="co cs">Photo pr <b>new</b> tabsra aya:</span><p style="margin-top:.3em;"></p>
		
		<a href="{% url 'comment_pk' parent_pk 2 %}">
		{% if parent.v|add:"0" < -2 %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		{% elif parent.v|add:"0" < -1 %}
			{% if parent.p != 'None' %}
			<img src="{{ parent.p|thumbedge }}" alt="no pic" class="uploadedphoto"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.p|thumbedge }}" class="uploadedimage2"></img>
		{% endif %}
		<span class="cgy">{% emoticons %}{{ parent.od|truncatechars:30 }}{% endemoticons %}</span>
		<br class="mbl">	
		<bdi>{{ parent.lrsn }}</bdi><span class="clb cl">
				{% if parent.lrsn in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		:&nbsp;<bdi>{% emoticons %}{{ parent.lrtx|truncatechars:40 }}{% endemoticons %}</bdi></span><span class="cgy cs"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<br>
		<p style="margin-top:.5em;"></p>
		<button class="btn nw bm bco">tabsra kro</button></a>&nbsp;&nbsp;
		<a href="{% url 'cross_comment_notif' parent_pk ident 2 0 %}"><button class="btn bcr bxs"><b>X</b></button></a>
		</a>
		</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
	{% elif type_of_object == '1' %}
		<div class="div dby" >
		<span class="span"><a href="{% url 'profile' parent.oon %}">{{ parent.oon }}</a>
				{% if parent.oon in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		ne new photo lagai:</span><p style="margin-top:.3em;"></p>
		<a href="{% url 'user_profile_photo' parent.oon parent_pk 1 %}" style="font-size:90%;">
		{% if parent.v|add:"0" < -2 %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		{% elif parent.v|add:"0" < -1 %}
			{% if parent.p != 'None' %}
			<img src="{{ parent.p|thumbedge }}" alt="no pic" class="uploadedphoto"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.p|thumbedge }}" class="uploadedimage2"></img>
		{% endif %}
		<span class="cgy cs">{% emoticons %}{{ parent.od|truncatechars:30 }}{% endemoticons %}</span>
		<p style="margin-top:.3em;"></p>
		<button class="btn nw bm bco mrs">isko dekho</button>
		</a>&nbsp;&nbsp;
		<a href="{% url 'cross_comment_notif' parent_pk ident 2 1 %}"><button class="btn bxs bcr"><b>X</b></button></a>
		</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
	{% endif %}
	{% endif %}
{% if authenticated and score > 29 and not banned %}
<a href="{% url 'upload_photo' %}#section0"><button class="btn bl bco"><b>New Photo Charhao</b></button></a>
</p>
{% elif not authenticated %}
<span class="cgy cm">Photo lagane ke liye account banao</span>
{% elif banned %}
{% elif first_time_user %}
{% else %}
<span style="color:#ff8000;font-size:90%;">Photo charhane ke liye apna <a href="{% url 'score_help' %}"><button class="btn nw bl bco"><b>score barhao</b></button></a></span>
{% endif %}


{% if object_list %}
{% for photo in object_list %}
	{% if forloop.counter == 1 %}
	<hr size=1 COLOR="#ffbf00" style="margin-bottom:-0.1em;">
	<a href="{% url 'see_photo' %}#section0" class="cs cgy">&nbsp;&nbsp;Taza photos&nbsp;&nbsp;</a><span class="co">|</span><span class="cs cb"><b>&nbsp;&nbsp;Top photos&nbsp;&nbsp;</b></span>&nbsp;<span class="co">|</span><a href="{% url 'top_photo' %}#section0" class="cs cgy">&nbsp;&nbsp;Top stars&nbsp;&nbsp;</a>
	<hr size=1 COLOR="#ffbf00" style="margin-top:-0.0em;"><br>
	{% else %}
	<p><hr size=1 COLOR="#ff9933"></p>
	{% endif %}

	<a name="section{{ forloop.counter }}"></a>
	
	<span style="color:#ff8000;font-size:80%;"><b>
	{% if page_obj.number == 1 %}
		{{ forloop.counter }}.
	{% else %}
		{% if forloop.counter == 100 %}
			{{ page_obj.number }}00
		{% else %}
			{{ page_obj.number|add:"-1" }}{{ forloop.counter }}.
		{% endif %}
	{% endif %}
	</b></span>
	
	<a href="{% url 'profile' photo.owner.username %}#section0">
	{% if photo.owner.userprofile.avatar and user == photo.owner %}
		<img style="border: 1px solid #00B800;" src="{{ photo.owner.userprofile.avatar.url|thumbedge }}" alt="no pic"></img>
	{% elif photo.owner.userprofile.avatar %}
		<img style="border: 1px solid #A9A9A9;" src="{{ photo.owner.userprofile.avatar.url|thumbedge }}" alt="no pic"></img>
	{% else %}
		<img style="border: 1px solid #DCDCDC" src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
	{% endif %}
	</a>
	<a href="{% url 'comment_pk' photo.id 2 %}" style="font-size:110%;color:#1947D1;"><b><bdi>{% emoticons %}{{ photo.caption }}{% endemoticons %}</bdi></b>
	<button class="btn nw bm bco cs">
	{% if photo.comment_count > 1 %}
	<b>{{ photo.comment_count }}</b> tabsrey
	{% elif photo.comment_count == 1 %}
	<b>1</b> tabsra
	{% else %}
	tabsra kro
	{% endif %}</button>
	
	{% if picstream.cover.category == '7' %}
	&nbsp;<img src="{{ STATIC_URL }}img/sitara.jpg" alt="no pic" height="16" width="15">
	{% else %}
	{% if picstream.cover.device == '1' %}
		&nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic"></img>
		{% elif picstream.cover.device == '2' %}
		&nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic"></img>
		{% elif picstream.cover.device == '4' %}
		&nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic"></img>
		{% elif picstream.cover.device == '5' %}
		&nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic"></img>
		{% elif picstream.cover.device == '3' %}
		&nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic"></img>
		{% else %}
		{% endif %}
	{% endif %}
		</a>

	<br>
	
	
			{% if photo.vote_score < -2 %}
				<img class="pht" src="{{ STATIC_URL }}img/broken_pic.png"></img>
			{% elif photo.vote_score < -1 %}
				{% if photo.image_file %}
				<img class="pht" src="{{ photo.image_file.url|photoedge }}"></img>
				{% else %}
				<img class="pht" src="{{ STATIC_URL }}img/broken_pic.png"></img>
				{% endif %}
			{% else %}
				{% if photo.image_file %}
				
				<img class="pht" src="{{ photo.image_file.url|photoedge }}"></img>
				{% else %}
				<img class="pht" src="{{ STATIC_URL }}img/broken_pic.png"></img>
				{% endif %}
			{% endif %}<br>

			<a href="{% url 'comment_pk' photo.id 2 %}">
			{% if photo.latest_comment and photo.second_latest_comment %}
			<div style="background-color:#ffe8cc;width:100%;max-width:400px;margin-top:-0.3em;">
			<span class="cb cm">
			<span style="color:#ffe8cc;">.</span>{{ photo.latest_comment.submitted_by|truncatechars:10 }}:</span>&nbsp;<span style="color:#404040;font-size:95%;">{% emoticons %}{{ photo.latest_comment.text|truncatechars:30 }}{% endemoticons %}</span><br>
			<span class="cb cm"><span style="color:#FFF8DC;">.</span>{{ photo.second_latest_comment.submitted_by|truncatechars:10 }}:</span>&nbsp;<span class="clb cm">{% emoticons %}{{ photo.second_latest_comment.text|truncatechars:30 }}{% endemoticons %}</span><br>
			</div>
			{% elif photo.latest_comment %}
			<div style="background-color:#ffe8cc;width:100%;max-width:400px;margin-top:-0.3em;">
			<span class="cb cm">
			<span style="color:#ffe8cc;">.</span>{{ photo.latest_comment.submitted_by|truncatechars:10 }}:</span>&nbsp;<span class="clb cm">{% emoticons %}{{ photo.latest_comment.text|truncatechars:30 }}{% endemoticons %}<br>
			</span>
			</div>
			{% else %}
			{% endif %}
			</a>

			<a href="{% url 'photo_izzat' photo.id 2 %}">
			{% if photo.visible_score > 1 %}
			<button class="btn nw bs bcgy cs mtl mbl"><b>{{ photo.visible_score }}</b>&nbsp;points</button><br>
			{% elif photo.visible_score == 1 %}
			<button class="btn nw bs bcgy cs mtl mbl"><b>{{ photo.visible_score }}</b>&nbsp;point</button><br>
			{% else %}
			<button class="btn nw bs bcgy cs mtl mbl"><b>{{ photo.visible_score }}</b>&nbsp;points</button><br>
			{% endif %}
			</a>

				{% if can_vote and photo.id not in voted and photo.owner != user %}
				<a href="{% url 'photo_vote' photo.id 1 2 %}"><button class="btn bs bcg cm mbs">zabrdast</button></a><br>
				<a href="{% url 'photo_vote' photo.id 0 2 %}"><button class="btn bs bcr cm mbs">bekaar</button></a><br>
				{% endif %}


			<a href="{% url 'photo_share' photo.id 2 %}"><button class="btn nw bxl bcp">photo share kro</button></a>


		
{% endfor %}
{% endif %}
</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination" style="text-align: center;">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0"><button class="btn bm bcr"><bdi>wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0"><button class="btn bm bcg"><bdi>aagey</bdi></button></a>
    {% endif %}
</div>
{% endif %}
<br><br>
{% endblock %}

