{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">
<b style="color:#404040;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);font-size:107%;">Yar freebasics ne 200KB se barre size ki photos mana ki hui hain {% emoticons %}:({% endemoticons %}</b><br>
<span style="color:#404040;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);">Lekin internet bundle se Damadam pr barri photo aram se lagti hai.</span><br>
<span style="color:#404040;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);">Abhi <b style="color:#ff9933;">www.damadam.pk</b> pe jao aur forun barri photo lagao!</span><br>
</div>
<br><br><br>
{% endblock %}