{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}

<head><title>Photo above upload limit (error) | Damadam.pk</title></head>

<div class="margin clb">
<b class="cl">10MB se barri photo Damadam pe nahi lgti {% emoticons %}:({% endemoticons %}</b><br>
<span class="cgy">Damadam ke pait me itni jaga nahi</span><br>
{% if origin == 'pub_grp' %}
<a href="{% url 'public_group' %}">
{% else %}
<a href="{% url 'upload_public_photo' %}#section0">
{% endif %}<button class="btn bco bs mtl mbs">wapis</button></a>
</div>
<br><br>
{% endblock %}