{% extends "base.html" %}
{% load future_time %}
{% block content %}
<div class="margin clb">
{% if banned_by_yourself %}
<span class="cxl">Aap ne isko block kiya hua hai, aap iskey fan nahi ban saktey</span><br>

<div class="mt">
<span class="cgy cl">Block khatam ho ga <b>{{ ban_time|future_time }}</b>. Abhi block time change karney ke liye <a href="{% url 'banned_users_list' %}#section0"><button class="btn bcgy cs bm mt">ye dabao</button></a></span>
</div>



{% else %}
<span class="cxl">Aap iskey fan nahi ban saktey</span><br>
{% endif %}

<a href="{% url 'profile' target_username %}"><button class="btn bcg mtl bm mbs">wapis</button></a>
</div>
<br><br>
{% endblock %}
