{% extends "base.html" %}
{% block content %}


<div class="margin">
{% if unauthorized %}

<span style="font-size:90%;color:red;"><b>Sirf mehfil ka malik ya kaam kar sakta hai!</b></span>

{% else %}
<span>Iss mehfil ka neya topic keya rakhna hai?</span><br>
{% if group.private == '1' %}
<a href="{% url 'private_group' slug=unique %}" style="font-size:80%;">< wapis</a><br><br>
{% elif group.private == '0' %}
<a href="{% url 'public_group_reply' slug=unique %}" style="font-size:80%;">< wapis</a><br><br>
{% else %}
<a href="{% url 'outsider_group_reply' slug=unique %}" style="font-size:80%;">< wapis</a><br><br>
{% endif %}

<form method="post" action="">
{% csrf_token %}
<input type="hidden" id="id_link" name="unique" class="hidden_id" value="{{ unique }}">
<span style="color:red;">{{ form.topic.errors }}</span>
<b>{{ form.topic.label_tag }}</b>{{ form.topic }}
<input class="button" style="background-color:white;color:#1947D1;border:solid 1px orange;" type="submit" value="OK">
</form>
{% endif %}
</div>

{% endblock %}