{% extends "base.html" %}
{% block content %}
<body style="background-image: url('{{ STATIC_URL }}img/wallpaper.png');background-attachment: fixed;">
<div class="margin clb">
<div class="clb mbs mtl" style="color:#008035;border: 1px dashed #00c853;border-radius:4px;display: inline-block;padding:7px 7px 7px 7px;background-color:#ffff99;">
Agli screen par hum aap ko baichnay waley ka mobile number dein ge
<div class="mts mbs"><b>Yad rahey:</b> aap ka mobile number bhi baichnay waley ko nazr a jaye ga</div>
</div>
<form method="POST" class="mtl" action="{% url 'classified_tutorial_dec' %}">
{% csrf_token %}
<input type="hidden" name="ad_id" value="{{ ad_id }}">
<input type="hidden" name="referrer" value="{{ referrer }}">
<input type="submit" class="bl mbl mrs" style="border-color:#009940;background-color:#00c853;color:white;font-weight:bold;" name="dec" value="Theek hai">
<input type="submit" class="bl mll" style="border-color:#9e9e9e;background-color:#bdbdbd;color:white;" name="dec" value="Rehnay do">
</form>

</div><br><br>
{% endblock %}