{% extends "base.html" %}
{% block content %}

<div class="margin">
{% if user.userprofile.score > 199 %}
Private mehfil bananey ki qeemat <b style="color:red;">200 points</b> hai.<br>Tum ye qeemat denay ke liye tyar ho?<br><br>
&bullet;&nbsp;<a href="{% url 'closed_group_create' %}">Haan</a><br>
&bullet;&nbsp;<a href="{% url 'group_page' %}">Nahi</a>
{% else %}
Sorry, private mehfil bananey ki qeemat <b style="color:red;">200 points</b> hai.Tumharey paas sirf <b>{{ user.userprofile.score }}</b> points hain.<br>Abhi wapis jao aur apna <a href="{% url 'score_help' %}">score barhao</a>:<br><br>
 <a href="{% url 'group_page' %}"><b><</b>&nbsp;Wapis jao</a>
{% endif %}
</div>

{% endblock %}