{% extends "base.html" %}
{% load humanize %}
{% load get_block_button %}
{% load emoticons_tags %}
{% load thumbnail %}
{% block content %}
<div class="margin">
{% if authorized %}
    {% if origin %}
        {% if origin == '1' %}
            {% if authenticated %}
                {% if photo_id %}
                <a href="{% url 'see_photo_pk' photo_id %}">
                {% else %}
                <a href="{% url 'photo' %}#section0">
                {% endif %}
            {% else %}
                {% if photo_id %}
                <a href="{% url 'unauth_photo_loc_pk' photo_id %}">
                {% else %}
                <a href="{% url 'photo' %}#section0">
                {% endif %}
            {% endif %}
        {% elif origin == '2' %}
            {% if authenticated %}
                {% if photo_id %}
                <a href="{% url 'best_photo_loc_pk' photo_id %}">
                {% else %}
                <a href="{% url 'best_photo' %}#section0">
                {% endif %}
            {% else %}
                {% if photo_id %}
                <a href="{% url 'unauth_best_photo_loc_pk' photo_id %}">
                {% else %}
                <a href="{% url 'unauth_best_photo' %}#section0">
                {% endif %}
            {% endif %}
        {% elif origin == '3'  %}
        <a href="{% url 'user_profile_photo' username photo.id %}">
        {% elif origin == '4' %}
        <a href="{% url 'unseen_activity' username %}#section0">
        {% elif origin == '5' %}
        <a href="{% url 'photo_detail' photo.id %}#section0">
        {% elif origin == '6' %}
        <a href="{% url 'home' %}#section0">
        {% else %}
        <a href="{% url 'best_photo' %}#section0">
        {% endif %}
    {% else %}
        <a href="{% url 'best_photo' %}#section0">
    {% endif %}
    {% if photo.vote_score < -2 %}
        <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
    {% elif photo.vote_score < -1 %}
        {% if is_first %}
            {% if photo.image_file %}
                <img class="fbl ibg" alt="no pic" src="{{ photo.image_file.url|thumbnail }}"></img>
            {% else %}
                <img class="ibg iw" alt="no pic" src="{{ STATIC_URL }}img/broken_pic.png"></img>
            {% endif %}
        {% else %}    
            {% if photo.image_file %}
                <img src="{{ photo.image_file.url|thumbnail }}" alt="no pic" class="fbh ibg"></img>
            {% else %}
                <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
            {% endif %}
        {% endif %}
    {% else %}
        {% if is_first %}
            {% if photo.image_file %}
                <img class="ibg iw" alt="no pic" src="{{ photo.image_file.url }}"></img>
            {% else %}
                <img class="ibg iw" alt="no pic" src="{{ STATIC_URL }}img/broken_pic.png"></img>
            {% endif %}
        {% else %}
            {% if photo.image_file %}
                <img src="{{ photo.image_file.url|thumbnail }}" alt="no pic" class="ibb"style="border:1px solid blue;width:auto;"></img>
            {% else %}
                <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="35px;"></img>
            {% endif %}
        {% endif %}
    {% endif %}</a>
    
    {% if not is_first or photo.vote_score < -2 %}
    <span class="clb cs">{{ photo.caption|truncatechars:30 }}</span>
    {% else %}
    <br><span class="clb cm"><b>{{ photo.caption }}</b></span>
    {% endif %}

    {% if not is_first or photo.vote_score < -2 %}
    <br><span class="cgy cs">photo by <a href="{% url 'profile' photo.owner.username %}">{{ photo.owner }}</a></span><br>
    {% else %}
    <span class="cgy cs">, photo by <a href="{% url 'profile' photo.owner.username %}">{{ photo.owner }}</a></span><br>
    {% endif %}
    {% if banned %}

        <br><hr size=1 class="co">
        <span class="clb">Tum tabsra kr sko ge <b>{{ time_remaining }}</b> ke baad</span>
        <br>
        <span class="cs co">Aesa tabsra na likho jo mahol khrab krey. Photo pasand nahi toh 'bekaar' dabana kafi hai</span>
        <hr size=1 class="co">
        <br>

    {% else %}
    <br>
    <form action="{% url 'comment' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" id="id_link" name="origin" class="hidden_id" value="{{ origin }}">
    {% if form.text.errors %}
    <span class="cr">{{ form.text.errors.0 }}</span>
    {% else %}
    <b class="co">Tabsra likho:</b><br>
    {% endif %}
    {{ form.text }}
        {% if warned %}
        <br><span class="cs cr csw"><b>Warning:</b> aesa tabsra na likho jo mahol khrab krey. Photo nahi pasand toh 'bekaar' dabana kafi hai</span><br>
        {% endif %}
    <br>
    <input type="hidden" name="popk" value="{{ photo.owner_id }}">
    <button class="btn bco cs bms mts mbl" type="submit"  id="id_submit">OK</button>
    </form>
    {% endif %}
{% if count > 0 %}
    {% if count > 25 %}
      <span class="cs csw co">Latest <b>25</b> tabsrey:</span><br>
      {% elif count == 1 %}
      <span class="cs csw co"><b>1</b> tabsra:</span><br>
      {% else %}
      <span class="cs csw co"><b>{{ count }}</b> tabsrey:</span><br>
      {% endif %}
    <table>
    {% for comment in comments %}
    
    <tr><td>
    {% if forloop.counter != 1 %}
    <hr size=1 COLOR="ORANGE">
    {% endif %}
        {% if comment.abuse %}
        {% if authenticated and viewed_at %}<!-- what is 'viewed_at?' -->
            {% if not comment_time %}
                <b class="cs co">(new)</b>&nbsp;
            {% elif comment.submitted_on > comment_time %}
                <b class="cs co">(new)</b>&nbsp;
            {% endif %}
        {% endif %}
        <a href="{% url 'profile' comment.submitted_by.username %}#section0" class="cs">
        {% if comment.submitted_by.userprofile.avatar %}
            <img src="{{ comment.submitted_by.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
        {% else %}
            <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
        {% endif %}
    {{ comment.submitted_by.username }}</a>
        <span class="cxs">
            {% if comment.submitted_by.userprofile.score %}
                {% if comment.submitted_by.userprofile.score < 0 %}
                    <span class="cg">(1)</span>
                {% else %}
                    <span class="cg">({{ comment.submitted_by.userprofile.score }})</span>
                {% endif %}
            {% endif %}
        </span>

            {% if comment.submitted_by.username in verified %}
                <span class="pkstr"><b>*</b></span>
            {% endif %}        
        <span class="cgy cs">ke tabsrey ko <b>{{ photo.owner }}</b> ne hide kr dia</span>

    {% else %}

    {% if authenticated and unseen %}
        {% if not comment_time %}
        <b class="co cs">(new)</b>&nbsp;
        {% elif comment.submitted_on > comment_time %}
        <b class="co cs">(new)</b>&nbsp;
        {% endif %}
    {% endif %}
    <a href="{% url 'profile' comment.submitted_by.username %}#section0" class="cm">
        {% if comment.submitted_by.userprofile.avatar %}
            <img src="{{ comment.submitted_by.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
        {% else %}
            <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
        {% endif %}
    {{ comment.submitted_by.username }}</a>
        <span class="cxs">
            {% if comment.submitted_by.userprofile.score %}
                {% if comment.submitted_by.userprofile.score < 0 %}
                    <span class="cg">(1)</span>
                {% else %}
                    <span class="cg">({{ comment.submitted_by.userprofile.score }})</span>
                {% endif %}
            {% endif %}
        </span>

           {% if comment.submitted_by.username in verified %}
             <span class="pkstr"><b>*</b></span>
            {% endif %}
    :&nbsp;<bdi class="clb">{% emoticons %}{{ comment.text }}{% endemoticons %}</bdi><span class="cxs cgy mrl"><bdi>, {{ comment.submitted_on|naturaltime }}</bdi>
    
    </span>
    {% block_button comment.submitted_by_id comment.submitted_by.username user.id photo.pk 'photo:comments' STATIC_URL %}
    {% if authenticated and user == photo.owner %}
    &nbsp;
    <form action="{% url 'report_comment' %}" method="POST" style="display:inline">
    {% csrf_token %}
        <input type="hidden" name="comm_pk" value="{{ comment.pk }}">
        <input type="hidden" name="ph_pk" value="{{ photo.pk }}">
        <input type="hidden" name="org" value="{{ origin }}">
        {% if origin == '3' %}
            <input type="hidden" name="slug" value="{{ photo.owner_id }}">
        {% elif origin == '4' %}
            <input type="hidden" name="slug" value="{{ slug_id }}">
        {% elif origin == '6' %}
            {% if link_ident %}
            <input type="hidden" name="slug" value="{{ link_ident }}">
            {% endif %}
        {% endif %}
    <button class="btn bcgy cxs bs" >hide</button>
    </form>
    {% endif %}

    {% if authenticated and user != comment.submitted_by %}
    &nbsp;
    {% if origin == '3' %}
    <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin slug=photo.owner_id %}">
    {% elif origin == '4' %}
    <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin slug=slug_id %}">   
    {% elif origin == '6' %}
        {% if link_ident %}
        <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin slug=link_ident %}">
        {% else %}
        <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin %}">
        {% endif %}
    {% else %}
    <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin %}">
    {% endif %}
    <button class="btn bco bs cxs">mehfil</button></a>
    {% endif %}
    <br>
    {% endif %}
    </td></tr>
    {% endfor %}
    </table>
{% endif %}
<p class="mt"></p>
<hr size=1 COLOR="ORANGE">
<p style="margin-top:-0.9em;"></p>
<hr size=1 COLOR="ORANGE">
{% if thumbs != None %}
<span class="cgy"><a href="{% url 'profile' photo.owner %}">{{ photo.owner }}</a> ki aur photos:</span>
<form method="POST" action="{% url 'go_to_user_photo' photo.owner 0 %}" class="mts">{% csrf_token %}
{{ thumbs|safe }}
</form>
<hr size=1 COLOR="ORANGE">
<p style="margin-top:-0.9em;"></p>
<hr size=1 COLOR="ORANGE">
{% endif %}
<span class="cs cgy"><b>Faces banane ke liye unke sath likhe harf likho:</b></span><br>
<span class="cs cgy"><b>.</b> zarur likhna&nbsp;</span><span class="cm">|</span>&nbsp;{% if feature_phone %}<a href="{% url 'faces_pages' %}" class="cxs">{% else %}<a href="{% url 'faces' %}" class="cxs">{% endif %}faces full list</a>

{% emoticons_index as emoticons_list %}

{% for emoticons in emoticons_list %}
{% if forloop.counter in random %}
<p>{{ emoticons.0|emoticons }}&nbsp;&nbsp;<b class="clb">{{ emoticons.0 }}</b></p>
{% endif %}
{% endfor %}

{% else %}
<h2 class="clb csw">Ye is terah nahi chalta!</h2>
{% endif %}
</div>
{% endblock %}