{% extends "base.html" %}
{% load humanize %}
{% load emoticons_tags %}
{% load thumbnail %}
{% block content %}
<div class="margin">
{% if authorized %}
    {% if origin %}
        {% if origin == '1' %}
            {% if photo_id %}
            <a href="{% url 'see_photo_pk' photo_id %}">
            {% else %}
            <a href="{% url 'see_photo' %}#section0">
            {% endif %}
        {% elif origin == '2' %}
            {% if photo_id %}
            <a href="{% url 'see_best_photo_pk' photo_id %}">
            {% else %}
            <a href="{% url 'see_best_photo' %}#section0">
            {% endif %}
        {% elif origin == '3'  %}
        <a href="{% url 'user_profile_photo' username photo.id %}">
        {% elif origin == '4' %}
        <a href="{% url 'unseen_activity' username %}#section0">
        {% elif origin == '5' %}
        <a href="{% url 'see_special_photo_pk' photo.id %}#section0">
        {% elif origin == '6' %}
        <a href="{% url 'home' %}#section0">
        {% else %}
        <a href="{% url 'see_photo' %}#section0">
        {% endif %}
    {% else %}
        <a href="{% url 'see_photo' %}#section0">
    {% endif %}
    {% if photo.vote_score < -2 %}
        <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
    {% elif photo.vote_score < -1 %}
        {% if is_first %}
            {% if photo.image_file %}
                <img style="filter:brightness(30%);-webkit-filter: brightness(0.3);width:auto;margin-bottom:0.3em;border:1px solid lightgrey" alt="no pic" src="{{ photo.image_file.url|thumbnail }}"></img>
            {% else %}
                <img style="width:100%;max-width:400px;margin-bottom:0.3em;border:1px solid lightgrey" alt="no pic" src="{{ STATIC_URL }}img/broken_pic.png"></img>
            {% endif %}
        {% else %}    
            {% if photo.image_file %}
                <img src="{{ photo.image_file.url|thumbnail }}" alt="no pic" style="filter:brightness(50%);border:1px solid blue;width:auto;"></img>
            {% else %}
                <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
            {% endif %}
        {% endif %}
    {% else %}
        {% if is_first %}
            {% if photo.image_file %}
                <img style="width:100%;max-width:400px;margin-bottom:0.3em;border:1px solid lightgrey" alt="no pic" src="{{ photo.image_file.url }}"></img>
            {% else %}
                <img style="width:100%;max-width:400px;margin-bottom:0.3em;border:1px solid lightgrey" alt="no pic" src="{{ STATIC_URL }}img/broken_pic.png"></img>
            {% endif %}
        {% else %}
        	{% if photo.image_file %}
            	<img src="{{ photo.image_file.url|thumbnail }}" alt="no pic" style="border:1px solid blue;width:auto;"></img>
            {% else %}
            	<img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="35px;"></img>
            {% endif %}
        {% endif %}
    {% endif %}</a>
    
    {% if not is_first or photo.vote_score < -2 %}
    <span style="color:#404040;font-size:90%;">{{ photo.caption|truncatechars:30 }}</span>
    {% else %}
    <br><span style="color:#404040;font-size:100%;"><b>{{ photo.caption }}</b></span>
    {% endif %}

    {% if not is_first or photo.vote_score < -2 %}
    <br><span style="color:#a6a6a6;font-size:80%;">photo by <a href="{% url 'profile' photo.owner.username %}">{{ photo.owner }}</a></span><br>
    {% else %}
    <span style="color:#a6a6a6;font-size:80%;">, photo by <a href="{% url 'profile' photo.owner.username %}">{{ photo.owner }}</a></span><br>
    {% endif %}
    {% if banned %}

        <br><hr size=1 COLOR="#ff8000">
        <span style="color:#404040;">Tum tabsra kr sko ge <b>{{ time_remaining }}</b> ke baad</span>
        <br>
        <span style="font-size:90%;color:#ff8000;">Aesa tabsra na likho jo mahol khrab krey. Photo pasand nahi toh 'bekaar' dabana kafi hai</span>
        <hr size=1 COLOR="#ff8000">
        <br>

    {% else %}
<br><b style="font-size:98%;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);color:#ff8000;">Tabsra likho:</b>
    <form action="{% url 'comment' %}" method="POST">
	{% csrf_token %}
    <input type="hidden" id="id_link" name="origin" class="hidden_id" value="{{ origin }}">
    {{ form.errors }}
    {{ form.text }}
        {% if warned %}
        <br><span style="font-size:85%;color:#cc0000;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);"><b>Warning:</b> aesa tabsra na likho jo mahol khrab krey. Photo nahi pasand toh 'bekaar' dabana kafi hai</span><br>
        {% endif %}
    <br>
    <input class="button" style="border-color:#ff8000;background-color:#ff9933;color:white;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);border-radius:4px;margin-bottom:0.7em;" type="submit" value="OK" id="id_submit">
    </form>
    {% endif %}
{% if count > 0 %}
    {% if count > 25 %}
      <span style="font-size:90%;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);color:#ff8000;">Pichley <b>25</b> tabsrey:</span><br>
      {% elif count == 1 %}
      <span style="font-size:90%;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);color:#ff8000;"><b>1</b> tabsra:</span><br>
      {% else %}
      <span style="font-size:90%;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);color:#ff8000;"><b>{{ count }}</b> tabsrey:</span><br>
      {% endif %}
    <table>
    {% for comment in comments %}
    
    <tr><td>
    {% if forloop.counter != 1 %}
    <hr size=1 COLOR="ORANGE">
    {% endif %}
    {% if comment.abuse %}
        {% if authenticated and viewed_at %}
        {% if not comment_time %}
            <b style="color:orange;font-size:80%">(new)</b>&nbsp;
        {% elif comment.submitted_on > comment_time %}
            <b style="color:orange;font-size:80%">(new)</b>&nbsp;
        {% endif %}
        {% endif %}
        <a href="{% url 'profile' comment.submitted_by.username %}#section0" style="font-size:90%;">
        {% if comment.submitted_by.userprofile.avatar %}
            <img src="{{ comment.submitted_by.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
        {% else %}
            <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
        {% endif %}
    {{ comment.submitted_by.username }}</a>
        <span style="font-size:70%;">
            {% if comment.submitted_by.userprofile.score %}
                {% if comment.submitted_by.userprofile.score < 0 %}
                    <span style="color:#18A018;">(1)</span>
                {% else %}
                    <span style="color:#18A018;">({{ comment.submitted_by.userprofile.score }})</span>
                {% endif %}
            {% endif %}
        </span>

        {% for person in verified %}
            {% if person == comment.submitted_by.username %}
            <span style="color:deeppink;"><b>*</b></span>
            {% endif %}
        {% endfor %}
        
        <span style="color:grey;font-size:90%;">ke tabsrey ko <b>{{ photo.owner }}</b> ne hide kr dia</span>

    {% else %}

    {% if authenticated and unseen %}
        {% if not comment_time %}
        <b style="color:orange;font-size:80%">(new)</b>&nbsp;
        {% elif comment.submitted_on > comment_time %}
        <b style="color:orange;font-size:80%">(new)</b>&nbsp;
        {% endif %}
    {% endif %}
    <a href="{% url 'profile' comment.submitted_by.username %}#section0" style="font-size:90%;">
    	{% if comment.submitted_by.userprofile.avatar %}
        	<img src="{{ comment.submitted_by.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
        {% else %}
        	<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
        {% endif %}
    {{ comment.submitted_by.username }}</a>
        <span style="font-size:70%;">
            {% if comment.submitted_by.userprofile.score %}
                {% if comment.submitted_by.userprofile.score < 0 %}
                    <span style="color:#18A018;">(1)</span>
                {% else %}
                    <span style="color:#18A018;">({{ comment.submitted_by.userprofile.score }})</span>
                {% endif %}
            {% endif %}
        </span>

    	{% for person in verified %}
            {% if person == comment.submitted_by.username %}
            <span style="color:deeppink;"><b>*</b></span>
            {% endif %}
        {% endfor %}
    :&nbsp;<bdi style="color:#404040;">{% emoticons %}{{ comment.text }}{% endemoticons %}</bdi><span style="font-size:73%;color:gray;"><bdi>, {{ comment.submitted_on|naturaltime }}</bdi>
    	{% if comment.device == '1' %}
        &nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic"></img>
        {% elif comment.device == '2' %}
        &nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic"></img>
        {% elif comment.device == '4' %}
        &nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic"></img>
        {% elif comment.device == '5' %}
        &nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic"></img>
        {% elif comment.device == '3' %}
        &nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic"></img>
        {% else %}
        {% endif %}
    </span>
    {% if authenticated and user == photo.owner %}
    &nbsp;
    {% if origin == '3' %}
    <a href="{% url 'reportcomment_pk' pk=comment.pk num=photo.pk origin=origin slug=photo.owner_id %}">
    {% elif origin == '4' %}
    <a href="{% url 'reportcomment_pk' pk=comment.pk num=photo.pk origin=origin slug=slug_id %}">
    {% elif origin == '6' %}
        {% if link_ident %}
        <a href="{% url 'reportcomment_pk' pk=comment.pk num=photo.pk origin=origin slug=link_ident %}">
        {% else %}
        <a href="{% url 'reportcomment_pk' pk=comment.pk num=photo.pk origin=origin %}">
        {% endif %}
    {% else %} 
    <a href="{% url 'reportcomment_pk' pk=comment.pk num=photo.pk origin=origin %}">
    {% endif %}

    <button style="font-weight:bold;color:white;background-color:#bfbfbf;border-color:#a6a6a6;width:3.5em;white-space:nowrap;border-radius: 3px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-align: center;font-size:65%;">hide</button></a>
    {% endif %}

    {% if authenticated and user != comment.submitted_by %}
    &nbsp;
    {% if origin == '3' %}
    <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin slug=photo.owner_id %}">
    {% elif origin == '4' %}
    <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin slug=slug_id %}">   
    {% elif origin == '6' %}
        {% if link_ident %}
        <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin slug=link_ident %}">
        {% else %}
        <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin %}">
        {% endif %}
    {% else %}
    <a href="{% url 'mehfilcomment_pk' pk=comment.submitted_by_id num=photo.pk origin=origin %}">
    {% endif %}
    <button style="font-weight:bold;color:white;background-color:#ff9933;border-color:#ff8000;width:4.6em;white-space:nowrap;border-radius: 3px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-align: center;font-size:65%;">mehfil</button></a>
    {% endif %}
    <br>
    {% endif %}
    </td></tr>
    {% endfor %}
    </table>
{% endif %}
<p style="margin-top:0.5em;"></p>
<hr size=1 COLOR="ORANGE">
<p style="margin-top:-0.9em;"></p>
<hr size=1 COLOR="ORANGE">

<span style="font-size:80%;color:dimgrey;"><b>Faces banane ke liye unke sath likhe harf likho:</b></span><br>
<span style="font-size:75%;color:dimgrey;"><b>.</b> zarur dalna&nbsp;</span><span style="font-size:90%;">|</span>&nbsp;<a href="{% url 'faces' %}" style="font-size:75%;">faces full list</a>

{% emoticons_index as emoticons_list %}

{% for emoticons in emoticons_list %}
{% if forloop.counter in random %}
<p>{{ emoticons.0|emoticons }}&nbsp;&nbsp;<b style="color:#404040;">{{ emoticons.0 }}</b></p>
{% endif %}
{% endfor %}

{% else %}
<h2 style="color:#404040;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);">Ye is terah nahi chalta!</h2>
{% endif %}
</div>
{% endblock %}
