<style>
.cheapoffer {
border: 1px solid lightgrey;
padding:3px;
width: 100%;
max-width:200px;
border-radius:6px;
margin:0 auto;
}

.productdescription {

border: 1px solid lightgrey;
padding:3px;
margin-top:5px;
margin-bottom:5px;
width: 95%;
border-radius:6px;
background-color:white;

}


hr.style-offer {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin:-2px;
    
}


.background-box {
 line-height:25px;
 letter-spacing:0.05px; 
 max-width:98%; 
 background-color:#F8F8F8; 
 padding:5px;
 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset; 
 display:block
}

body {

    background: #E8F5E9;
    /*
        Fallback for Mini and other browsers
        that don’t support CSS gradients
    */

   background: repeating-linear-gradient(
  to right,
 #FAFAFA,
  #FAFAFA 50px,
  #E8F5E9 50px,
  #E8F5E9 100px
);
 
 }

</style>
<title>
	Confirm order | Damadam.pk
</title>
{% extends "base_min.html" %}
{% block content %}
<div style="text-align:center">
  <div class="margin clb" style="display:inline-block">
	<div class="mbl background-box" style="text-align:center;background-color:#80acaa; border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, .1) inset;color:white">
	<p class="cs clg">Step 1: Naam, Address aur Phone bataien / Enter Name,Address & Phonenumber</p>
	<p class="cs">Step 2: Pin daal ker order ki tasdeeq kerien / Add Pin and Confirm order</p>
	</div>

	<div  class="mbl background-box" style="text-align:center;background-color:#ffffff; border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, .1) inset;">
		<b class="cxl">Aap key order ki tafseel</b><br>
		<div style="text-align:left;display:inline-block">
			<div id="image" style="text-align:center; margin-top:10px;">
				{% if merch_id == '13' %}
        		<img  itemprop="image" style="width:100%;max-width:100px;" src="{{ STATIC_URL }}img/x36.png" alt="QMobile x36">
      			{% elif merch_id == '11' %}
      			<img  itemprop="image" style="width:100%;max-width:100px;" src="{{ STATIC_URL }}img/sggpp.png" alt="Samsung Grand Prime +">
      			{% elif merch_id == '8' %}
      			<img  itemprop="image" style="width:100%;max-width:100px;" src="{{ STATIC_URL }}img/insmart.png" alt="Infinix Smart">
      			{% elif merch_id == '15' %}
      			<img  itemprop="image" style="width:100%;max-width:100px;" src="{{ STATIC_URL }}img/nokia2.png" alt="NoKia 2">
      			{% endif %}
	      	</div>
			<div>
				<b>Mobile Phone: </b> {{ model }}<span style="color:grey;font-size:11px;"> One Year Warranty</span><br>
				<b >Qeemat: </b> {{ price }} <span style="color:grey;font-size:11px;">Ye Pasiay aap daak waley ko deien gay</span><br>
				<b>Delivery:</b> Free <span style="color:grey;font-size:11px;">(4-7 din mein order aap ko wasool ho ga)</span><br>
			</div>
		</div>
	</div>



	<div  class="mbl background-box" style="text-align:center;background-color:#ffffff; border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, .1) inset;">
		
		<form method="POST" action="{% url 'confirm_order' %}" class="mtl">
			order book ker deien?
			{% csrf_token %}
					<br>{% if form.pinnumber.errors %}<span class="cr">{{ form.pinnumber.errors.0 }}</span><br>{% endif %}
			{{ form.pinnumber}}<br>
			<div class="sp"style="color:grey;font-size:11px;">{{ phonenumber }} per bheja gya Pin Code <br>yahan daal ker "Order" ka button dabaien
			</div>
			<input type="submit" class="btn mt mbs bl bcb cs" style="background-color:#05f6cb;border-color:#1fbea1;" value='Order'>
			<div class="sp" style="color:blue;font-size:11px;">Tip: 10 minute tuk Pin nahi mila tuo {{ phonenumber }} <br>se 0349-1058364 per 'Pin' likh ker sms kerien
			</div>
		</form>
		<a href="{% url 'buyer_details' 'buy_det' %}"><button class="btn bco bl mtl mbl" style="background-color:#80acaa;border:none;"><b>wapis</b></button></a>

	</div>
</div>
</div>
{% endblock %}

