{% load future_time %}
<a href="{% url 'mobile_shop_consultancy' %}">
<div class="margin clb" align="center">
	<div style="color:white;font-weight:bold" class="mts cxl">Mobile phones and tablets pe Pakistan ke sab se barey discounts!</div>
	<div class="mtl mbs">
		<button class="btn bxl cl" type="submit" style="background-color:#00CC66;border:none;padding:5px"><b>See Discount<br>Offers</b></button>
	</div>
	<div class="cl clb mts" style="display: inline-block;padding:0px 5px 5px 5px;">
		<div style="text-align:center;color:white;" class="mbs mts">
		<b>Brand new, Dabba Pack, 1 year warranty!</b>
		</div>
		<div class="mbl cs">
		<span style="color:white;border-bottom:dotted 1px white">Sale ends on 31st January 2018</span>
		</div>
	</div>
</div>
</a>