{% load future_time %}
<a href="{% url 'mobile_shop_consultancy' %}">
<div class="margin clb" align="center">
	<img width="110" src="{{ static_url }}img/shop_open.png"><br>
	<div class="mtl mbs">
		<button class="btn bxl bcp cl" type="submit"><b>Discount<br>Mobile Shop</b></button>
	</div>
	<div class="cl clb mts" style="display: inline-block;padding:0px 5px 5px 5px;">
		<div style="text-align:center;color:white;" class="mbl mts">
		<b>New touchscreen mobile buhut sasti price pe dastyab hain!</b><br>
		<div class="mt">
		<span>Ye offer mehdood mudat ke liye hai</span><br>	
		</div>
		</div>
	</div>
</div>
</a>