{% extends "base/base_content.html" %}
{% load get_big_external_share_button %}
{% load get_big_photo_comment_button %}
{% load get_big_points_button %}
{% load get_photo_object %}
{% load emoticons_tags %}
{% load humanize %}
{% load s3 %}
{% block content %}

{% if obj.type_of_content == 't' %}

<div class="cxl clb mbl mtl" style="font-weight:bold;text-align:center">{{ oun }}'s post:</div>
<div class="clb" style="margin: 0 auto;max-width:600px;">
  {% if viewable_status == '3' %}
  <div class="bizcard" style="background-color:white;padding:10px">
    <div style="text-align:left;overflow:hidden;word-wrap:break-word;" class="cl lsp mbl">{% emoticons %}{{ obj.description|linebreaksbr }}{% endemoticons %}</div>
    <div style="text-align:right" class="cs sp mbs"><span class="cgy">posted {{ obj.submitted_on|naturaltime }}</span></div>
  </div>
  {% elif viewable_status == '2' %}
  <div class="mbl"><span class="cgy">- E X P I R E D -</span></div>
  {% elif viewable_status == '1' %}
  <div class="mbl"><span class="cgy">- H I D D E N -</span></div>
  {% endif %}
</div>
<br><br>

{% elif obj.type_of_content == 'g' %}

<br>

	{% if not from_cull_queue and show_copy_prompt %}
		<div class="mbl" style="margin-left:auto;margin-right:auto;max-width:600px;background:white;">
			<div style="text-align:center;border-bottom:2px solid whitesmoke;background:#fefefa;padding:0 5px 10px 5px" class="cl clb lsp mts">Is image ko Whatsapp ya Facebook pe share karne ke liye ye link copy karein:</div>
			<div class="lsp cxl cp" style="padding:10px;text-align:center">{{ regular_url }}</div>
		</div>
	{% endif %}

<main class="mbl" style="overflow:hidden;background:white;max-width:600px;margin-right:auto;margin-left:auto">

{% if not absent %}
	
	{% if defender and from_cull_queue %}
		<a href="{% url 'cull_content_loc' obj_id 'img' %}"><button type="submit" class="sp btn bcgy bm mbs pg_ok_res" style="width:100%;height:30px;border-radius:0"><b>wapis</b></button></a>

		<h1 class="cl clb mt mbs" style="text-align:center"><b><bdi>{% emoticons %}{{ obj.caption }}{% endemoticons %}</bdi></b></h1>

		<div style="margin:0 auto;text-align:center">
			<img class="pht" src="{{ obj.image_file|s3 }}" style="border-radius:6px">
		</div>

		<div style="text-align:center;border-bottom:1px solid lightgray;padding-bottom:10px">
		<a href="{% url 'user_profile' oun %}"><img src="{{ av_url|s3:"thumb" }}" alt="no pic" width="22" height="22" class="circle">&nbsp;<span class="cs cgy sp">{{ oun }}</span></a><span class="cs cgy sp">&nbsp;uploaded this {{ obj.submitted|naturaltime }}</span>
		</div>
		
		{% if other_photos %}
		<div class="csw co mts mbs" style="text-align:center"><b>{{ oun }} ke mazeed imagess:</b></div>
			{% for pht in other_photos %}
				<a href="{% url 'content_detail_view' pk=pht.id origin='6' obj_type='g' %}"><img src="{{ pht.image_file|s3:"thumb" }}" style="max-width:100px;width:100%;" class="mrs mbs"></a>
			{% endfor %}
		{% else %}
			<div style="text-align:center" class="mtl sp lsp csw co">{{ oun }} ne mazeed images nahi charhain...</div>
		{% endif %}

		<a href="{% url 'cull_content_loc' obj_id 'img' %}"><button type="submit" class="sp btn bcgy bm mtl pg_ok_res" style="height:30px;width:100%;border-radius:0"><b>wapis</b></button></a><br>
	
	{% else %}

	<article style="display:block">

		<section itemprop="hasPart" itemscope itemtype="https://schema.org/SocialMediaPosting" style="display:block">
			{% if viewable_status == '3' %}
				{% photo_object pid=obj_id ooid=obj.submitter_id img_url=obj.image_file|s3 img_thumb=obj.image_file|s3:'thumb' caption=obj.description|emoticons origin='34' vsc=obj.net_votes is_fbs=on_fbs upload_time=obj.submitted_on|naturaltime machine_time=obj.submitted_on oun=oun av_url=av_url|s3:'thumb' static_url=STATIC_URL is_star=is_star exclude_detail_url='1' lazyload_idx=1 ratio=ratio alt_txt=obj.web_link %}
			{% elif viewable_status == '2' %}
				<div class="mbl mtl" style="text-align:center"><span class="cgy">- P O S T&nbsp;&nbsp;&nbsp;E X P I R E D -</span></div>
			{% elif viewable_status == '1' %}
				<div class="mbl mtl" style="text-align:center"><span class="cgy">- P O S T&nbsp;&nbsp;&nbsp;H I D D E N -</span></div>
			{% endif %}
		</section>

		<section class="mbs">
			<div style="flex-wrap:wrap" class="mtl fx fxjscn fxaicn cxs sp cgy">
				{% if is_js_env %}{% big_external_share_button owner_username=oun on_opera=on_opera photo_id=obj_id origin='34' static_url=STATIC_URL %}{% endif %}
				{% if obj.comment_status == '1' %}{% big_photo_comment_button photo_id=obj_id origin='34' comm_count=obj.reply_count static_url=STATIC_URL %}{% endif %}
				{% if obj.submitter_id == user.id %}{% big_points_button obj_id=obj_id owner_id=obj.submitter_id is_pht=1 origin='34' net_votes=obj.net_votes base_color='rgb(24, 180, 136)' static_url=STATIC_URL %}{% endif %}
			</div>
		</section>

		{% if other_photos %}
		<section style="text-align:center;border-top:2px solid #f5f5f5;padding:10px 0;background:#fefefa">
			<div class="cs sp cgy">Similar images by {{ oun }}:</div>
			<div class="fx fxjscn fxaicn" style="flex-wrap:wrap">
			{% for pht in other_photos %}
				<span itemscope itemtype="https://schema.org/ViewAction">
				<a class="mrs mls" href="{% url 'content_detail_view' pk=pht.id obj_type='g' %}" itemprop="target">
				<img src="{{ pht.image_file|s3:'thumb' }}" class="mts cxs sp" style="overflow:hidden;border:1px solid #eaf2f8;border-radius:4px" alt="image">
				</a>
				</span>
			{% endfor %}
			</div>
		</section>
		{% endif %}

	</article>

	{% endif %}

{% else %}

	<div class="cxl lsp clb" style="text-align:center">Ye available nahi</div>

{% endif %}
</main><br><br>

{% endif %}

{% endblock %}
