{% extends "base.html" %}
{% load humanize %}
{% block content %}
<head><title>Voting rate limit | Damadam.pk</title></head>
<div class="margin">
Ap dubara jhappi ya chupair mar sakein ge: <b style="color:green;">{{ time_remaining|naturaltime }}</b><hr size=1>
<h2>Damadam rules:</h2>
1) Kabhi kisi ko password nahi dein. Log jhoot bol kr password nikalwate hain. Bewaqquf na banein<br>
2) Jo baat achi ho, sirf us par jhappi dein<br>
3) Gali deney ya fahashi phelaney waley ko chupair marein<br>
4) Zaati dushmani mefil mein nikalein, home pe nahi<br>
5) Ladies se badtameezi nahi karein<br>
6) Jhappi ke liye bheek nahi mangein
</div>
<br><br>
{% endblock %}