{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="margin">
Tum dobara jhappi ya chupair mar sako ge, <b style="color:green;">{{ time_remaining|naturaltime }}</b><hr size=1>
<h2>Damadam ka qanoon:</h2>
1) Jo baat achi ho, us par jhappi do<br>
2) Gali denay ya fahashi phelani waley ko chupair maro<br>
3) Zaati dushmani zaati mefil mein nikalo<br>
4) Khawateen (ladies) se badtameezi nahi karo<br>
5) Jhappi ke liye bheek nahi mango<br>
6) Izzat karo, aur karwao
</div>
{% endblock %}