{% extends "base_signup.html" %}
{% load emoticons_tags %}
{% block content %}
<div style="margin-top: 5%;">
<h1 class="bw mbs" style="color:#43A047;text-align:center;text-shadow:1px 1px #8d6e63;">Damadam.pk <a href="{% url 'create_password_new' 'ur' uhex length %}" class="cb" style="font-size:0.5em;text-shadow:0px 0px;">(اردو)</a></h1>
<div class="signup mbl">

<div style="background-color:#00c853;overflow: auto;padding:10px 5px 10px 5px;">

	<form method="POST" action="{% url 'create_password_new' uhex length %}#section0" class="mtl">
	{% csrf_token %}
	{% if form.password.errors %}
	<span style="color:#ffff00;text-shadow:1px 1px #009940;" class="cxl">{{ form.password.errors.0 }}</span><br><hr size=1 COLOR="#ffeb3b"><br>
	{% else %}
	<b class="cxl" style="text-shadow:1px 1px #009940;color:#ffff00;">Ab aik password banao:</b><br><hr size=1 COLOR="#ffeb3b">
	<span class="cl" style="color:white;text-shadow:1px 1px #009940;"><b>6 se ziyada</b> harf hon!</span><br><br>
	{% endif %}
	<input type="hidden" name="username" value="{{ username }}">
	{{ form.password }}<br><br>
	<input type="submit" class="mts" style="color:white;background-color:#ffd600;font-size:120%;border:solid 1px #e6bf00;width:4em;font-weight:bold;text-shadow:1px 1px #b39500;" value="OK">
	</form>

<br><br>

</div>
</div>
<br>
<a href="{% url 'login' %}#section0"><button style="margin:auto; display:block;color:white;background-color:#bdbdbd;border:solid 1px #9e9e9e;font-size:120%;font-weight:bold;text-shadow:1px 1px #808080;">&nbsp;&nbsp;Old Account&nbsp;&nbsp;</button></a><br>
</div>
{% endblock %}