{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}

<div class="margin clb">
	<form method="POST" action="{% url 'create_password' uhex length %}#section0">
	{% csrf_token %}
	{% if form.password.errors %}
	<span class="cr cxl">{{ form.password.errors.0 }}</span><br><br>
	{% else %}
	<span class="cxl">Aala naam!&nbsp;{% emoticons %}.b5{% endemoticons %}<br>Ab aik password banao:</span><br>
	<span class="cgy">(tip: password ka matlab hai khufiya lafz ya alfaz)</span><br><br>
	{% endif %}
	<input type="hidden" name="username" value="{{ username }}">
	{{ form.password }}<br><br>
	<button class="btn bs bcg mbs cxl" type="submit">OK</button>
	</form>
<hr size=1 COLOR="#99e699">
<span class="cgy">
Aik mazboot password:<br>
1) buhut lamba hota hai. Maslan <b style="word-wrap: break-word;">babykobasspasandhai</b><br>
2) mein number aur harf dono hote hain. Maslan <b>chaachi420</b><br>
3) mein chotay baray harf dono hote hain. Maslan <b>GaramAanday</b><br>
</span>
</div>
<br><br>
{% endblock %}