
<style>


.signup  {
	background-color: green;
	border-radius: 6px;
	width:90%;
	margin: 0 auto;
	text-align: center;
	padding:5px;
	max-width: 300px;
}
</style>

{% extends "base_signup.html" %}
{% block content %}

<div class="signup mbl" style="margin-top: 5%;">

<div style="background-color:#00c853;overflow: auto;padding:10px 5px 10px 5px;">

<form method="POST" action="{% url 'create_nick_new' %}#section0" class="mtl">
	{% csrf_token %}
	{% if form.username.errors %}
	<span class="cxl" style="color:#ffff00;text-shadow:1px 1px #009940;">{{ form.username.errors.0 }}</span><br><hr size=1 COLOR="#ffeb3b"><br>
	{% else %}
	<b class="cxl" style="text-shadow:1px 1px #009940;color:white;">Apna koi mazey ka naam rakho:</b><br><br>
	{% endif %}
	{{ form.username }}<br><br>
	<input type="submit" class="mts" style="color:white;background-color:#ffd600;font-size:120%;border:solid 1px #e6bf00;width:4em;font-weight:bold;text-shadow:1px 1px #b39500;" value="OK">
</form>
</div>
</div>
<br>
<a href="{% url 'login' %}#section0"><button style="margin:auto; display:block;color:white;background-color:#bdbdbd;border:solid 1px #9e9e9e;font-size:120%;font-weight:bold;text-shadow:1px 1px #808080;">&nbsp;&nbsp;Old Account&nbsp;&nbsp;</button></a><br>
{% endblock %}