{% extends "base.html" %}
{% block content %}
<div class="margin">
	<h2 class="cg">{{ status }}</h2>
	<form method="post" action="{% url 'cricket_comment' %}">
	  {% csrf_token %}
	  {% if form.description.errors %}
	  <span class="cr">{{ form.description.errors.0 }}</span>
	  {% else %}
	  <span class="cm ct"><b>Tabsra:</b></span>
	  {% endif %}
	  <br>{{ form.description }}<br>
	  	<button class="btn bl mtl {{ css_class1 }}" name="btn" value="{{ team1_id }}" type="submit">{{ team1 }}</button><br>
	  	<button class="btn bl mtl {{ css_class2 }}" name="btn" value="{{ team2_id }}" type="submit">{{ team2 }}</button><br>
	</form>

</div>
<br><br>
{% endblock %}