{% extends "base.html" %}
{% load emoticons_tags %}
{% load voted %}
{% load show_error %}
{% load get_item %}
{% load get_voting %}
{% load human_time %}
{% load get_home_publicreply_bar %}
{% load get_home_replies_section %}
{% block content %}
<head><title>{% if cric_summ %}{{ cric_summ }} (PSL score 2018) - {{ cc }} comments (live PSL commentary){% else %}{{ status }}{% endif %} | Damadam.pk</title></head>
<style>
body {
	background: #CCFFF2;
   background: repeating-linear-gradient(
  to right,
 #FAFAFA,
  #FAFAFA 50px,
  #CCFFF2 50px,
  #CCFFF2 100px
);
 }
</style>

<div class="margin clb">
	<h1 class="cxl mbs mrs" style="font-weight:bold;color:#FF1547;display:inline">{% if cric_summ %}{{ cric_summ }}{% else %}{{ status }}{% endif %}</h1>

	<form action="{% url 'first_time_cricket_refresh' %}" method="POST" enctype="multipart/form-data" style="display:inline">{% csrf_token %}<button class="btn bms bco mrs" style="background-image: url({{ STATIC_URL }}img/rfrsh1.png);background-size: 23px 23px;background-repeat: no-repeat;background-position: center;width:23px;height:23px" type="submit">&nbsp;</button></form>

	  {% if form.errors %}<div class="cb mtl">{{ form.errors|show_error }}</div>{% else %}<div class="cgy sp mtl">Match pe commentary karein:</div>{% endif %}
	<form method="post" class="mt" action="{% url 'cricket_comment' %}">
	  {% csrf_token %}
	  <input type="hidden" name="sk" value="{{ sk }}">
	  {{ form.description }}<br>
	  	<button class="btn bl mtl mrl {{ css_class1 }} pg_ok_res" style="height:25px" name="btn" value="{{ team1_id }}" type="submit">{{ team1 }}</button>
	  	<button class="btn bl mtl mbs {{ css_class2 }} pg_ok_res" style="height:25px" name="btn" value="{{ team2_id }}" type="submit">{{ team2 }}</button><br>
	</form>

	
	<!-- Top Banner Ad -->
	<div style="text-align:center">
	<ins class="adsbygoogle"
	    style="display:inline-block;width:320px;height:100px"
	    data-ad-client="ca-pub-2568547635306983"
	    data-ad-slot="4696344368"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	</div>
	 
<div class="cgy cs sp mts mbs">
Latest commentary:
</div>

 {% for comment in object_list %}
 	
 	{% if forloop.counter == 3 or forloop.counter == 7 %}
	 	
		<!-- Responsive Ad -->
		<div style="text-align:center">
		<ins class="adsbygoogle"
		    style="display:block"
		    data-ad-client="ca-pub-2568547635306983"
		    data-ad-slot="3079816846"
		    data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
 	{% endif %}

 	{% with replyforms|get_item:comment.l as replyform %}
 			<div class="card" style="margin-bottom:35px; margin-top:10px; padding-bottom:10px;">
 			
			{{ comment.ch|safe }}
			<div style="overflow:hidden">
			<a href="{% url 'profile' comment.n 'fotos' %}#section0">
				{{ comment.au|safe }}
				<bdi>{{ comment.n }}</bdi>
			
			{% if score > 25 %}				
				{{ comment.sc|safe }}
			{% endif %}
			{{ comment.p|safe }}</a>:&nbsp;<span class="cl bw"><bdi>{% emoticons %}{{ comment.de }}{% endemoticons %}</bdi></span>
			    <a name="section{{ forloop.counter }}"></a> 
			    <span class="cs cgy"><bdi>, {{ comment.t|human_time }}</bdi></span>{{ comment.dc|safe }}
		 		{% if comment.cc|add:"0" > 0 %}<form method="POST" action="{% url 'publicreply_view' %}" style="display:inline;">{% csrf_token %}&nbsp;&nbsp;<button name="lid" class="btn nw bl mts" type="submit" style="color:#229ec3;background-color:#F8F8F8;border:1px solid #B8B8B8;height:23px" value="{{ comment.l }}"><b>{{ comment.cc }}</b>&nbsp;&nbsp;jawab</button></form>{% endif %}
		 	</div>
		 		{% if comment.n != nickname and not comment.l|voted:nickname %}
					<div class="mts">
					{% vote_buttons vote_type='vote' lid=comment.l origin=1 females=checked static_url=STATIC_URL from_cricket='1' %}
					</div>
				{% else %}
					<div class="mbs"></div>
				{% endif %}

				<div class="mls sp">
				{{ comment.vt|safe }}
				</div>

		 	{% if comment.replies %}
				<div class="mtl">
				{% home_replies_section comment.replies STATIC_URL user.id score %}
				</div>
			{% endif %}

			<div class="mtl">
				{% home_publicreply_bar link_pk=comment.l link_writer_pk=comment.w lang='None' sort_by='None' user_id=user.id replyform=replyform origin='cricket' sk=sk %}
			</div>
 		
			</div>
 	{% endwith %}
 {% endfor %}

	<div style="text-align: center;">
		{% if page.has_previous %}
	    &nbsp;&nbsp;&nbsp;<a href="?page={{ page.previous_page_number }}#section0"><button class="btn bm bcr"><bdi>wapis</bdi></button></a>
	    {% endif %}
	    &nbsp;&nbsp;
	    {% if page.has_next %}
	    <a href="?page={{ page.next_page_number }}#section0"><button class="btn bm bcg"><bdi>aagey</bdi></button></a>
	    {% endif %}
	</div>

</div>


<!-- Bottom Box Ad -->
<div style="text-align:center">
<ins class="adsbygoogle"
    style="display:inline-block;width:300px;height:250px;margin:auto"
    data-ad-client="ca-pub-2568547635306983"
    data-ad-slot="8440627181"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<br><br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}