<div class="mbs">
{% if match_ended == '1' %}
	<span class="clb cxl"><b style="color:#FF1547">Cricket</b>:&nbsp;{{ status }}</span><br>
{% elif match_ended == '0' %}
	{% if score1 != 'None' and score2 != 'None' %}
		<span class="clb cxl"><b style="color:#FF1547">Cricket</b>:&nbsp;{{ team1 }}&nbsp;{{ score1 }}&nbsp;vs&nbsp;{{ team2 }}&nbsp;{{ score2 }}</span><br>
	{% elif score1 != 'None' %}
		<span class="clb cxl"><b style="color:#FF1547">Cricket</b>:&nbsp;{{ team1 }}&nbsp;{{ score1 }}&nbsp;vs&nbsp;{{ team2 }}</span><br>
	{% elif score2 != 'None' %}
		<span class="clb cxl"><b style="color:#FF1547">Cricket</b>:&nbsp;{{ team1 }}&nbsp;vs&nbsp;{{ team2 }}&nbsp;{{ score2 }}</span><br>
	{% else %}
		<span class="clb cxl"><b style="color:#FF1547">Cricket</b>:&nbsp;{{ team1 }}&nbsp;vs&nbsp;{{ team2 }}</span><br>
	{% endif %}
{% endif %}
</div>	

<hr size=1 COLOR="#EB7371">

<form method="POST" action="{% url 'cricket_comment_page' %}">
	{% csrf_token %}
	<span class="cl clb">Match pe commentary karney ke liye ye dabain:</span><br>
	<span class="pagination" role="navigation" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
	<button type="submit" style="background-color:#FF1547;border:none;height:25px;" itemprop="url" class="btn bcb bxl mtl">
	{% if cc|add:"0" > 1 %}
		{{ cc }} comments
	{% else %}
		<span class="sp">Commentary</span>
	{% endif %}
	</button></span>
</form>