{% extends "base.html" %}
{% load emoticons_tags %}
{% load thumbedge %}
{% load voted %}
{% load get_votes %}
{% load get_item %}
{% load human_time %}
{% block content %}
<div class="margin clb">
	<h2 class="cg">{{ status }}</h2>
	  {% if form.description.errors %}
	  <span class="cr">{{ form.description.errors.0 }}</span>
	  {% else %}
	  <span class="ct"><b>Tabsra:</b></span>
	  {% endif %}
	<form method="post" action="{% url 'cricket_comment' %}">
	  {% csrf_token %}
	  {{ form.description }}<br>
	  	<button class="btn bl mtl {{ css_class1 }}" name="btn" value="{{ team1_id }}" type="submit">{{ team1 }}</button><br>
	  	<button class="btn bl mtl mbl {{ css_class2 }}" name="btn" value="{{ team2_id }}" type="submit">{{ team2 }}</button><br>
	</form>
	 <hr size=1 COLOR="#2DB92D">
 <div class="cg cs" style="margin-bottom:1.5em;">
 <form action="{% url 'first_time_cricket_refresh' %}" method="POST" enctype="multipart/form-data" style="display:inline;">{% csrf_token %}<button class="btn bms bco mrs" style="background-image: url({{ STATIC_URL }}img/rfrsh1.png);background-size: 23px 23px;background-repeat: no-repeat;background-position: center;width:23px;height:23px;" type="submit">&nbsp;</button></form><b>Latest match tabsre:</b>
 </div>
<br>

 {% for comment in object_list %}
 {% with replyforms|get_item:comment.l as replyform %}

			{{ comment.ch|safe }}

			<a href="{% url 'profile' slug=comment.n %}#section0">
				{{ comment.au|safe }}
				<bdi>{{ comment.n }}</bdi>
			
			{% if score > 25 %}				
				{{ comment.sc|safe }}
			{% endif %}
			{{ comment.p|safe }}</a>:&nbsp;<span class="cl bw"><bdi>{% emoticons %}{{ comment.de }}{% endemoticons %}</bdi></span>
			    <a name="section{{ forloop.counter  }}"></a> 
			    <span class="cs cgy"><bdi>, {{ comment.t|human_time }}</bdi></span>{{ comment.dc|safe }}
		 		{% if comment.cc|add:"0" > 0 %}<form method="POST" action="{% url 'reply_pk' comment.l %}" style="display:inline;">{% csrf_token %}&nbsp;&nbsp;<button class="btn nw bl mbs mts" type="submit" style="color:#229ec3;background-color:#F8F8F8;border-color:#B8B8B8;"><b>{{ comment.cc }}</b>&nbsp;&nbsp;jawab</button></form>{% endif %}
		 	{% if comment.1h and comment.2h %}
				<div class="clb mts mbs mls">
				<b class="ct">Latest Jawab:</b><br>
				{{ comment.1h|safe }}:&nbsp;<span class="ct">{% emoticons %}{{ comment.1r }}{% endemoticons %}</span><span class="cgy cs">, {{ comment.1t|human_time }}</span><br>
				{{ comment.2h|safe }}:&nbsp;<span class="ct">{% emoticons %}{{ comment.2r }}{% endemoticons %}</span><span class="cgy cs">, {{ comment.2t|human_time }}</span>
				</div>
			{% elif comment.1h %}
				<div class="clb mts mbs mls">
				<b class="ct">Latest Jawab:</b><br>
				{{ comment.1h|safe }}:&nbsp;<span class="ct">{% emoticons %}{{ comment.1r }}{% endemoticons %}</span><span class="cgy cs">, {{ comment.1t|human_time }}</span>
				</div>
			{% else %}
				<br>
			{% endif %}

			<div class="mtl">
				<form method="post" action="{% url 'cricket_reply' pk=comment.l %}">
				{% csrf_token %}
				{% if replyform.description.errors %}<span class="cr">{{ replyform.description.errors.0 }}</span><br>{% else %}<b class="ct cs">Jawab do:&nbsp;</b>{% endif %}{{ replyform.description }}</span><br>
				<button class="btn bct bs mtl mbs" type="submit">OK</button>
				</form>
			</div>

				{% if comment.n != nickname and not comment.l|voted:nickname %}
				<form  action="{% url 'cast_vote' %}" method="POST" class="mbs">
				{% csrf_token %}
					<input type="hidden" name="lid" value="{{ comment.l }}">
					<input type="hidden" name="oid" value="{{ comment.w }}">
					<input type="hidden" name="origin" value="1">
					{% if nickname in checked %}
					<button class="btn bcg bm mbl mts" type="submit" name="vote" value="4">taliyan</button>&nbsp;&nbsp;<button class="btn bcg" type="submit" name="vote" value="5">+50</button><br>
					<button class="btn bcr bm" type="submit" name="vote" value="-4">balla</button>&nbsp;&nbsp;<button class="btn bcr" type="submit" name="vote" value="-5">- 50</button><br>
					{% else %}
					<button class="btn bcg bm mbs mts" type="submit" name="vote" value="4">taliyan</button>&nbsp;&nbsp;&nbsp;<button class="btn bcr bm mts mbs" type="submit" name="vote" value="-4">balla</button><br>
					{% endif %}
				</form>
				{% endif %}
 		
				{{ comment.vt|safe }}
				{{ comment.ct|safe }}
 {% endwith %}
 {% endfor %}

	<div style="text-align: center;">
		{% if page.has_previous %}
	    &nbsp;&nbsp;&nbsp;<a href="?page={{ page.previous_page_number }}#section0"><button class="btn bm bcr"><bdi>wapis</bdi></button></a>
	    {% endif %}
	    &nbsp;&nbsp;
	    {% if page.has_next %}
	    <a href="?page={{ page.next_page_number }}#section0"><button class="btn bm bcg"><bdi>aagey</bdi></button></a>
	    {% endif %}
	</div>

</div>
<br><br>
{% endblock %}