{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="margin clb">
<h1>Sunday and Monday ko ham Damadam ki safai karien ge</h1>

<div class="mt mbs">
<b class="cl">Kiya saaf karien ge?</b><br>
<span class="cgy">Hum ghair istimal shuda cheezain khatam kar ke Damadam ki space barhain ge. Ye aisi hi hai ke jaise aap apne phone mein se data ki safai kartey hain</span>
</div>

<div class="mbs">
<b class="cl">Is mein itna waqt kiyun lagey ga?</b><br>
<span class="cgy">Kiyun ke ham ne apka data mahfooz bhi rakhna hai. Asaan tha ke hum sab kuch delete kar ke zero se start kartey. Us se kahien ziyada mushkil hai ke aik aik file ko dekh samajh ke delete kiya jaye. Is liye waqt darkar hai</span>
</div>


<div class="mbs">
<b class="cl">Aap Damadam off kiye beghair delete kiyun nahi kar detay?</b><br>
<span class="cgy">Ham kaafi waqt se saath saath hi delete kartey aye hain. Lekin abb ham aik saath hi sab saaf karna chah rehay hain. Iss liye at least 2 days lagein ge. Ziyada bhi ho sakta hai.</span>
</div>

<div class="mt mbl">
<b class="cl">Damadam ke liye agey kiya iradey hain?</b><br>
<span class="cgy">Safai ke baad hum aik week sirf Damadam ko monitor karien ge. Iskey baad new things pe kaam shuru ho jaye ga. Buhut si new exciting changes aien gi agley chand weeks and months mein</span>
</div>

Apki support ka shukriya!<br><br>
-mhb11
<br>
<a href="{{ referrer }}"><button class="mtl bcg btn bl">wapis</button></a>

</div>
<br><br>
{% endblock %}