{% extends "base.html" %}
{% load humanize %}
{% block content %}
<head><title>Back from maintenance | Damadam.pk</title></head>
<div class="margin clb">
<h1>October 1-7 ke darmiyan Damadam ki safaii hui</h1>

<div class="mt mbs">
<b class="cl">Itna waqt kiyun laga?</b><br>
<span class="cgy">Damadam ka data buhut wasee, paicheeda aur hasaas hai. Is mein se kuch data delete kiya gaya, kuch organize kiya gaya, aur kuch archive kiya gaya. Ap mein se jin users ka software ka background hai, woh samajhtey hon ge ke agr insan careful na ho tou data corrupt bhi ho jata hai. Hamey lehaza buhut slow aur careful ho kar chalna para.</span>
</div>

<div class="mbs">
<b class="cl">Kya dubara Damadam close ho ga?</b><br>
<span class="cgy">Nahi. Kam az kam 1 year tak beghair problems ke chalay ga. Balkey chalay ga nahi, doray ga. Han lekin abhi Damadam fresh wapis aya hai. Is mein abhi problems aa saktey hain. Itna bara system aram se control mein nahi ata. Agr apko ulti qulabaziyun ka message aye tou hamey zarur batao. Ham system ko monitor bhi kartey rehain ge.</span>
</div>


<div class="mbs">
<b class="cl">System mein kya kya change hua hai?</b><br>
<span class="cgy">Agr aap bore ho rehay ho tou agey na parho. Hamari RAM requirement 112 GB thi, ab 60GB ho gayee hai. Hamari disk space requirement 1TB se 40GB tak a gayee hai. Hamarey servers ab Germany mein hosted hain. Iski latency pehlay se behtar hai. Hamari software libraries update ho gayee hain. Is terah ki aur bhi buhut sari cheezain hui hain.</span>
</div>

<div class="mt mbl">
<b class="cl">Damadam ke liye agey kya iradey hain?</b><br>
<span class="cgy">Abhi ham aik week Damadam ko sirf monitor karien ge. Iskey baad new things pe kaam shuru ho jaye ga. Buhut si new exciting changes aien gi agley chand weeks and months mein</span>
</div>

Apki support ka shukriya!<br><br>
-mhb11
<br>
<a href="{{ referrer }}"><button class="mtl bcg btn bl">wapis</button></a>

</div>
<br><br>
{% endblock %}