{% extends "base_min.html" %}
{% block content %}
	<div class="margin clb mtl">

	<div class="cl clb mbs" align="left" style="border: 1px dashed #ccc;border-radius:4px;display: inline-block;padding:5px 5px 5px 5px;background-color:#E8E8E8;">
		<div class="cxl cg" align="center">* Free Delivery, Cash on Delivery ki ihteyati tadabeer *</div><br>
		* Hamarey tamam order bazaria Pakistan Post bhejay jate hein<br>
		* Phone 2-5 din tuk ghar pohench jata hai<br>
		* Order key paisey pehle say aleheda ker key rakh leien<br>
		* Delivery ka kharcha phone ki qeemat mein shamil hai<br> 
		* Order ki Qeemat say ziada paisey dakiey ko nahi denay<br>
		* Phone milne per usey foran khol ker check ker leien key sub theek hai<br>
		* Phone order wasool na kernay ya order cancel kernay per<br>&nbsp;&nbsp;Damdam score wapis nahi hoga<br>
		 <br>
		 <div class="cl cr"> Free Delivery Mehdood Mudat Key Liay Hai</div>	  
	</div>
	<br>
{% if origin == 'main' %}
<a href="{% url 'mobile_shop' %}"><button class="btn bco mts bl cm"><b>wapis</b></button></a>
{% elif origin == 'x29' %}
<a href="{% url 'x29' %}"><button class="btn bco mts bl cm"><b>wapis</b></button></a>
{% elif origin == 'x33' %}
<a href="{% url 'x33' %}"><button class="btn bco mts bl cm"><b>wapis</b></button></a>
{% elif origin == 'i8i' %}
<a href="{% url 'i8i' %}"><button class="btn bco mts bl cm"><b>wapis</b></button></a>
{% elif origin == 'i6' %}
<a href="{% url 'i6metal' %}"><button class="btn bco mts bl cm"><b>wapis</b></button></a>
{% elif origin == 's6' %}
<a href="{% url 's6' %}"><button class="btn bco mts bl cm"><b>wapis</b></button></a>
{% elif origin == 'j1' %}
<a href="{% url 'j1' %}"><button class="btn bco mts bl cm"><b>wapis</b></button></a>
{% endif %}
</div>
<br><br>
{% endblock %}