{% extends "base.html" %}
{% block content %}
<div class="margin">
<span style="color:green;font-size:90%;"><b>
{% if device == '1' %}
Ye button waley phone se likha gaya
{% elif device == '2' %}
Ye touchscreen phone se likha gaya. Touchscreen phone se photos ki screenshot li ja sakti hai
{% elif device == '3' %}
Ye laptop se likha gaya. Laptop se photos ki screenshot li ja sakti hai
{% elif device == '4' %}
Ye tablet se likha gaya. Tablet se photo ki screenshot li ja sakti hai
{% elif device == '5' %}
Ye phone par likha gaya
{% else %}
{% endif %}
</b>
<br><a href="{{ request.META.HTTP_REFERER }}"><< wapis</a>
</span>
</div>
{% endblock %}