{% extends from_ecomm|yesno:"base_ecomm.html,base.html" %}
{% block content %}
<head><title>Duplicate button presses | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>

<h1 class="cxl lsp clb" style="text-align:center">Kuch ghalat ho gya:</h1>

<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:600px;width:93%;margin:0 auto;overflow: hidden;text-align:center">

	{% if from_ecomm_ad_creation %}

		<span class="cxl lsp">Sirf aik dafa daba kar intezar karein</span><br>
		<span class="cgy sp">Ab dubara se apna ishtihar banaien</span><br>
		<form method="POST" action="{% url 'init_classified' %}">
			{% csrf_token %}
			<input type="hidden" name="category" value="1">
			<button class="btn bcg bl mtl sp pg_ok_res" style="height:26px">wapis</button>
		</form>
		
	{% elif from_public_photos %}
		
		<span class="cxl lsp">Sorry! Dubara try karein ...</span><br>
		<a href="{% url 'upload_public_photo' %}"><button class="btn bco bm mtl mbs sp pg_ok_res" style="height:26px">wapis</button></a>

	{% elif from_publicreply %}
		
		<span class="cxl lsp">Sorry! Dubara try karein ...</span><br>
		<a href="{% url 'home' %}#section0"><button class="btn bct bm mtl mbs sp pg_ok_res" style="height:26px">home</button></a>

	{% elif from_photo_comment %}
		
		<span class="cxl lsp">Sorry! Dubara try karein ...</span><br>
		<a href="{% url 'redirect_to_photo' 'fresh-list' pk %}#section0"><button class="btn bco bm mtl mbs sp pg_ok_res" style="height:26px">wapis</button></a>

	{% elif photo_from_best_photos %}
		
		<span class="cxl lsp">Sorry! Dubara try karein ...</span><br>
		<a href="{% url 'redirect_to_photo' 'best-list' photo_id %}#section0"><button class="btn bco bm mtl mbs sp pg_ok_res" style="height:26px">wapis</button></a>

	{% endif %}

</div>
<br><br>
{% endblock %}