{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}
{% block content %}
<div class="margin">
<span class="co"><b>Is jesi photo kuch waqt pehle charhai ja chuki hai:</b><br>
{% if photo.vote_score < -2 %}
    <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
{% elif photo.vote_score < -1 %}
    {% if photo.image_file %}
        <img src="{{ photo.image_file.url|thumbnail }}" alt="no pic" style="filter:brightness(50%);width:auto;"></img>
    {% else %}
        <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
    {% endif %}
{% else %}
	{% if photo.image_file %}
    	<img src="{{ photo.image_file.url|thumbnail }}" alt="no pic" style="width:auto;"></img>
    {% else %}
    	<img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="35px;"></img>
    {% endif %}
{% endif %}
<span class="cgy"><a href="{% url 'profile' photo.owner.username %}">{{ photo.owner }}</a>
    	{% for person in females %}
            {% if person == photo.owner.username %}
            <span class="pinkstar">*</span>
            {% endif %}
        {% endfor %}
ne&nbsp;lagai, {{ photo.upload_time|naturaltime }}</span>
<br><br>Tum kuch neya charhao!<br></span>
<a href="{% url 'upload_photo' %}"><button class="btn bco bm mtl mbs">wapis</button></a>
</div><br><br>
{% endblock %}