
<style>
.cheapoffer {
border: 1px solid lightgrey;
padding:3px;
width: 100%;
max-width:200px;
border-radius:6px;
margin:0 auto;
}

.productdescription {

border: 1px solid lightgrey;
padding:3px;
margin-top:5px;
margin-bottom:5px;
width: 95%;
border-radius:6px;
background-color:white;

}


hr.style-offer {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin:-2px;
    
}

.ordernow{
font-size:20px;
color: ;
}

.background-box {
 line-height:25px;
 letter-spacing:0.05px; 
 width: 95%; 
 max-width:400px; 
 background-color:#F8F8F8; 
 padding:5px;
 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset; 
 display:block
}

body {

	background: #E8F5E9;
	/*
		Fallback for Mini and other browsers
		that don’t support CSS gradients
	*/

   background: repeating-linear-gradient(
  to right,
 #FAFAFA,
  #FAFAFA 50px,
  #E8F5E9 50px,
  #E8F5E9 100px
);
 
 }

</style>

{% extends "base.html" %}
{% block content %}
<div class="margin clb">
	<span itemscope itemtype="http://schema.org/Product">
	<div id="background-box" class="mbl background-box" style="text-align:center;background-color:#ffffff; ">

<!-- #################################HEADER############################################ -->



{% if order_in_process %}
		<div class="cl clb mbs" align="center" style="border-radius:4px;display: inline-block;padding:5px 5px 5px 5px;background-color:#B3E5FC;">
				<b>
				Aap aik say ziada phone order nahi ker sakte</b> <br> 
				<div class="cr" style="text-align:center; font-size:15px; margin:10px; margin-bottom:2px; background-color:#E1F5FE; border-radius:6px; padding:2px;">Note: Aap ka aik order hamarey pass pehle hee maujood hai</br></div> 
		</div>
		<hr size=2 COLOR="#A9A9A9">	


{% else %}
		<div class="cl clb mbs" align="center" style="border-radius:4px;display: inline-block;padding:5px 5px 5px 5px;background-color:#B3E5FC;">
				<b>
				New Touchscreen Phone Discount Offer</b> <br> 
				<div style="margin-left:40px; font-size:13px; text-align:left;">
				<li> One Year Warranty</li>
				<li> Free Delivery</li>
				<li> Cash On Delivery</li></div>
				<div style="text-align:center; font-size:15px; margin:10px; margin-bottom:2px; background-color:#E1F5FE; border-radius:6px; padding:2px;"><span style="color:red">
				Ye Qeematien Mehdood Mudat Key Liye Hein </span></div> 
		</div>

		<hr size=2 COLOR="#A9A9A9">	

{% endif %}

<!-- #################################ITEM BLOCK############################################ -->

<!-- ################################# END ITEM BLOCK 1 ############################################ -->

		<div id="product-name">
			<span itemscope itemtype="http://schema.org/Product">
			<h1 class="cl" style="font-weight:normal"> 
				<b itemprop="brand">Infinix </b> 
				<b itemprop="name">Smart</b>
				<br>
				<span style="color:#B12704">Price: Rs.7850</span>
			</h1>
			<div class="cs cb" style="margin-top:-10px;">	
				<a href="{% url 'warranty' 'main'%}" >One Year Infinix Warranty</a> <br>
				<a href="{% url 'delivery' 'main'%}" >Payment: Cash On Delivery</a> <br>
			</div>
		</div>
		<div id="image" style="text-align:center; margin-top:10px;">
			<img  itemprop="image" style="width:100%;max-width:165px;" src="{{ STATIC_URL }}img/insmart.png" alt="Infinix Smart">
		</div><br>
		<div id="price-comparison" class="cheapoffer">
			<span><b class="cs co">Sasta Rate Kahan Hai?</b><span>
					<hr width"100%" class="style-offer">
			<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			<b style="color:#B12704">Damadam Price: 
				<meta itemprop="priceCurrency" content="PKR"/> Rs.
				<span itemprop="price">7850</span>
			</b>
			<a href="{% url 'delivery' 'main'%}" target="_blank">Free Delivery</a>
			<hr width"100%" class="style-offer">
			<span style="color:grey; font-size:12px">
				WhatMobile: Rs.8900  <a href="https://www.whatmobile.com.pk/Infinix_Smart" target="_blank">(dekho)</a>
				<hr width"100%" class="style-offer">
				<span style="color:grey; font-size:12px">Dukandar: Rs.8500 - Rs.9000
				</span>
			</span>
		</div>	
		<br>
		<span class="co cm"> Infinix Smart:
		</span>
		<a href="{% url 'insmart' %}">
			<div class="clb"> 
				<div id="product-description" class="productdescription">
					<span itemprop="description">
					<b>Memory:</b> <span class="mls">1GB RAM, 16GB ROM</span>
					<hr width"100%" class="style-offer">
					<b>Camera:</b> <span class="mls">8 MP (rear) + 2 MP (front)</span>
					<hr width"100%" class="style-offer">
					<b>Screen:</b> <span class="mls">5.0&nbsp;inches</span>
					<hr width"100%" class="style-offer">
					<h3 class="mtl mbs cl" style='color:#0000fb'type="submit"><b><u>Phone ki tafseel dekhien</u></b></h3>
					</span>
				</div>
			</div>
		</a>
			<form method="POST" action="{% url 'intermediate' 'main' %}">
				{% csrf_token %}
				<input type="hidden" name="merch_id" value="8">
				<button class="btn mtl mbs bxl bcg cl" type="submit"><b>Aagay</b></button>
				<br>
			</form>
		<hr size=1 COLOR="#A9A9A9">


<!-- ################################# END ITEM BLOCK 2 ############################################ -->
	<div id="product-name">
				<span itemscope itemtype="http://schema.org/Product">
				<h1 class="cl" style="font-weight:normal"> 
					<b itemprop="brand">Huawei </b> 
					<b itemprop="name">Y3 2017</b>
					<br>
					<span style="color:#B12704">Price: Rs.8840</span>
				</h1>
				<div class="cs cb" style="margin-top:-10px;">	
					<a href="{% url 'warranty' 'main'%}" >One Year Huawei Warranty</a> <br>
					<a href="{% url 'delivery' 'main'%}" >Payment: Cash On Delivery</a> <br>
				</div>
			</div>
			<div id="image" style="text-align:center; margin-top:10px;">
				<img  itemprop="image" style="width:100%;max-width:165px;" src="{{ STATIC_URL }}img/y3.png" alt="Huawei y3 2017">
			</div><br>
			<div id="price-comparison" class="cheapoffer">
				<span><b class="cs co">Sasta Rate Kahan Hai?</b><span>
						<hr width"100%" class="style-offer">
				<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				<b style="color:#B12704">Damadam Price: 
					<meta itemprop="priceCurrency" content="PKR"/> Rs.
					<span itemprop="price">8840</span>
				</b>
				<a href="{% url 'delivery' 'y3'%}" target="_blank">Free Delivery</a>
				<hr width"100%" class="style-offer">
				<span style="color:grey; font-size:12px">
					WhatMobile: Rs.10500  <a href="https://www.whatmobile.com.pk/Huawei_Y3-2017-3G" target="_blank">(dekho)</a>
					<hr width"100%" class="style-offer">
					<span style="color:grey; font-size:12px">Dukandar: Rs.9600 - Rs.10500
					</span>
				</span>
			</div>	
		<br>
		<span class="co cm"> Huawei Y3 3G 2017:
		</span>
		<a class="clb" href="{% url 'y3' %}"> 
			<div class="clb"> 
				<div id="product-description" class="productdescription">
					<span itemprop="description">
					<b>Memory:</b> <span class="mls">8GB ROM, 1GB RAM </span>
					<hr width"100%" class="style-offer">
					<b>Camera:</b> <span class="mls">5 MP (rear) + 2 MP (front)</span>
					<hr width"100%" class="style-offer">
					<b>Screen:</b> <span class="mls">5.0&nbsp;inches</span>
					<hr width"100%" class="style-offer">
					<b>Internet:</b> <span class="mls">3G</span>
					<hr width"100%" class="style-offer">
					<h3 class="mtl mbs cl" style='color:#0000fb'type="submit"><b><u>Phone ki tafseel dekhien</u></b></h3>
					</span>
				</div>
			</div>
		</a>

			<form method="POST" action="{% url 'intermediate' 'main' %}">
				{% csrf_token %}
				<input type="hidden" name="merch_id" value="9">
				<button class="btn mtl mbs bxl bcg cl" type="submit"><b>Aagay</b></button>
				<br>
			</form>	

		<hr size=1 COLOR="#A9A9A9">

<!-- ################################# END ITEM BLOCK 4 ############################################ -->
		<div id="product-name">
				<span itemscope itemtype="http://schema.org/Product">
				<h1 class="cl" style="font-weight:normal"> 
					<b itemprop="brand">Samsung </b> 
					<b itemprop="name">Grand Prime Plus</b>
					<br>
					<span style="color:#B12704">Price: Rs.12,550</span>
				</h1>
				<div class="cs cb" style="margin-top:-10px;">	
					<a href="{% url 'warranty' 'main'%}" >One Year QMobile Warranty</a> <br>
					<a href="{% url 'delivery' 'main'%}" >Payment: Cash On Delivery</a> <br>
				</div>
			</div>
			<div id="image" style="text-align:center; margin-top:10px;">
				<img  itemprop="image" style="width:100%;max-width:165px;" src="{{ STATIC_URL }}img/gprimep.png" alt="sammsung grand prime plus">
			</div><br>
			<div id="price-comparison" class="cheapoffer">
				<span><b class="cs co">Sasta Rate Kahan Hai?</b><span>
						<hr width"100%" class="style-offer">
				<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				<b style="color:#B12704">Damadam Price: 
					<meta itemprop="priceCurrency" content="PKR"/>Rs.<span itemprop="price">12,550</span>
				</b><br>
				<a href="{% url 'delivery' 'gprimep'%}" target="_blank">Free Delivery</a>
				<hr width"100%" class="style-offer">
				<span style="color:grey; font-size:12px">
					WhatMobile: Rs.16,000  <a href="https://www.whatmobile.com.pk/Samsung_Galaxy-Grand-Prime-Plus" target="_blank">(dekho)</a>
					<hr width"100%" class="style-offer">
					<span style="color:grey; font-size:12px">Dukandar: Rs.13,700 - Rs.16,000
					</span>
				</span>
			</div>	
			<br>
		<span class="co cm"> Samsung Grand Prime Plus:
		</span>
		<a href="{% url 'gprimep' %}">
			<div class="clb"> 
				<div id="product-description" class="productdescription">
					<b>Memory:</b> <span class="mls">1.5 GB RAM, 8GB ROM</span>
					<hr width"100%" class="style-offer">
					<b>Camera:</b> <span class="mls">8 MP (rear) + 5 MP (front)</span>
					<hr width"100%" class="style-offer">
					<b>Screen:</b> <span class="mls">5.0&nbsp;inches</span>
					<hr width"100%" class="style-offer">
					<h3 class="mtl mbs cl" style='color:#0000fb' type="submit"><b>Phone ki tafseel dekhien</b></h3>
					</span>
				</div>
			</div>
		</a>	
		<form method="POST" action="{% url 'intermediate' 'main' %}">
			{% csrf_token %}
			<input type="hidden" name="merch_id" value="11">
			<button class="btn mtl mbs bxl bcg cl" type="submit"><b>Aagay</b></button>
			<br>
		</form>
		<hr size=1 COLOR="#A9A9A9">


<!-- ################################# END ITEM BLOCK 5 ############################################ -->
					<div id="product-name">
				<span itemscope itemtype="http://schema.org/Product">
				<h1 class="cl" style="font-weight:normal"> 
					<b itemprop="brand">Samsung </b> 
					<b itemprop="name">J5 Prime</b>
					<br>
					<span style="color:#B12704">Price: Rs.18,900</span>
				</h1>
				<div class="cs cb" style="margin-top:-10px;">	
					<a href="{% url 'warranty' 'main'%}" >One Year Samsung Warranty</a> <br>
					<a href="{% url 'delivery' 'main'%}" >Payment: Cash On Delivery</a> <br>
				</div>
			</div>
			<div id="image" style="text-align:center; margin-top:10px;">
				<img  itemprop="image" style="width:100%;max-width:165px;" src="{{ STATIC_URL }}img/j5p.png" alt="samsung j5p">
			</div><br>
			<div id="price-comparison" class="cheapoffer">
				<span><b class="cs co">Sasta Rate Kahan Hai?</b><span>
						<hr width"100%" class="style-offer">
				<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				<b style="color:#B12704">Damadam Price: 
					<meta itemprop="priceCurrency" content="PKR"/>Rs.<span itemprop="price">18,900</span>
				</b><br>
				<a href="{% url 'delivery' 'j5p'%}" target="_blank">Free Delivery</a>
				<hr width"100%" class="style-offer">
				<span style="color:grey; font-size:12px">
					WhatMobile: Rs.23,000  <a href="https://www.whatmobile.com.pk/Samsung_Galaxy-J5-Prime" target="_blank">(dekho)</a>
					<hr width"100%" class="style-offer">
					<span style="color:grey; font-size:12px">Dukandar: Rs.20,800 - Rs.22,000
					</span>
				</span>
			</div>	
	<br>
		<span class="co cm"> Samsung J5 Prime:
		</span>
		<a href="{% url 'j5p' %}">
			<div class="clb"> 
				<div id="product-description" class="productdescription">
					<b>Memory:</b> <span class="mls">2 GB RAM, 16GB ROM</span>
					<hr width"100%" class="style-offer">
					<b>Camera:</b> <span class="mls">13 MP (rear) + 5 MP (front)</span>
					<hr width"100%" class="style-offer">
					<b>Screen:</b> <span class="mls">5.0&nbsp;inches</span>
					<hr width"100%" class="style-offer">
					<h3 class="mtl mbs cl" style='color:#0000fb' type="submit"><b>Phone ki tafseel dekhien</b></h3>
					</span>
				</div>
			</div>
		</a>	
		<form method="POST" action="{% url 'intermediate' 'main' %}">
			{% csrf_token %}
			<input type="hidden" name="merch_id" value="12">
			<button class="btn mtl mbs bxl bcg cl" type="submit"><b>Aagay</b></button>
			<br>
		</form>
		<hr size=1 COLOR="#A9A9A9">
<!-- ################################# END ITEM BLOCK 6 ############################################ -->

		<div id="product-name">
				<span itemscope itemtype="http://schema.org/Product">
				<h1 class="cl" style="font-weight:normal"> 
					<b itemprop="brand">QMobile </b> 
					<b itemprop="name">Noir X29</b>
					<br>
					<span style="color:#B12704">SOLD OUT</span>
				</h1>
		</div>

		<div id="image" style="text-align:center; margin-top:10px;">
			<img  itemprop="image" style="width:100%;max-width:165px;" src="{{ STATIC_URL }}img/x29.png" alt="qmobile x29">
		</div><br>
		</a>
		<button class="btn mtl mbs bxl bcr cl" type="submit"><b>Sold Out</b></button>
			<br>
		</form>


		<hr size=1 COLOR="#A9A9A9">

		<div class="cl cr"> Ye Qeematien Mehdood Mudat Key Liay Hein
		</div>	  
		<br>

	</div>
</div>
{% endblock %}