{% extends "base.html" %}
{% block content %}
<div class="margin clb">
	<b class="cxl">QMobile</b><br><span class="cxl">Noir X32</span>
	<div class="mtl">
	<span class="cb">1GB RAM, 5MP Camera, 8GB Memory, 2 Sims, 1 year warranty</span>
	</div>
	<br><img class="mbl" style="border:none;" src="{{ STATIC_URL }}img/x32.png" alt="no pic">
	<br><div style="border: 3px dashed #ccc;display: inline-block;border-radius:4px;padding:5px 5px 5px 5px;">
	<span class="cg cl"><b>Price:</b> pehle 30 users ke liye sirf <b>Rs. 5000!</b></span><br><span class="cgy">(asli price: Rs. 5500)</span>
	</div>
	<br><button class="btn mtl mbs bxl bco cl"><b>Order karo</b></button>
<hr size=1 COLOR="#A9A9A9">
	<div class="mtl">
	<b class="cxl">QMobile</b><br><span class="cxl">X2 Lite</span>
	<div class="mtl">
	<span class="cb">256MB RAM, 1MP Camera, 512MB Memory, 2 Sims, 1 year warranty</span>
	</div>
	<br><img class="mbl" style="border:none;" src="{{ STATIC_URL }}img/x2lite.png" alt="no pic">
	<br><div style="border: 3px dashed #ccc;display: inline-block;border-radius:4px;padding:5px 5px 5px 5px;">
	<span class="cg cl">Pehle <b>30</b> users ke liye <b>Rs.500 discount</b>!</span><br><span class="cgy">(Rs. 3700 ka mobile Rs. 3200 mein)</span>
	</div>
	<br><button class="btn mtl mbs bxl bco cl"><b>Khareedo</b></button>
	</div>
<hr size=1 COLOR="#A9A9A9">
	<div class="mtl">
	<b class="cxl">QMobile</b>&nbsp;<span class="cxl">Noir X32</span>
	<br><div class="mtl" style="border: 3px dashed #ccc;display: inline-block;border-radius:4px;padding:5px 5px 5px 5px;">
	<b class="cb cxl">Price: Rs. 5000</b><br><span style="color:#A9A9A9;text-decoration: line-through"><span class="cgy">(old price: Rs. 5500)</span></span>
	</div>
	<br><img class="mbl mtl" style="width:100%;max-width:165px;" src="{{ STATIC_URL }}img/x32.png" alt="no pic">
	<div class="mbl">
	<span class="cg">1 GB RAM, 5 Megapixel Camera, 8 GB Memory ... <b>(more)</b></span>
	</div>
	<span class="cgy">QMobile X32 Noir ko <b>25 log</b> order kar chukey hain!</span><br>
	<button class="btn mtl mbs bxl bco cl"><b>Order karo</b></button>
	</div>
<hr size=1 COLOR="#A9A9A9">
	<div class="mtl">
	<b class="cxl">QMobile</b>&nbsp;<span class="cxl">Noir X32</span>
	<br><div class="mtl" style="border: 3px dashed #ccc;display: inline-block;border-radius:4px;padding:5px 5px 5px 5px;">
	<b class="cb cxl">Price: Rs. 5000</b><br><span style="color:#A9A9A9;text-decoration: line-through"><span class="cgy">(old price: Rs. 5500)</span></span>
	</div>
	<br><img class="mbl mtl" style="width:100%;max-width:165px;" src="{{ STATIC_URL }}img/x32.png" alt="no pic">
	<br><div>
	<span class="co">RAM: <b>1 GB</b></span><br>
	<span class="co">Camera: <b>5 Megapixel</b></span><br>
	<span class="co">Memory: <b>8 GB</b></span><br>
	<span class="co">... (more)</span>
	</div>
	<div class="mtl">
	<span class="cgy cs">QMobile X32 Noir ko <span class="cb">25 log</span> order kar chukey hain!</span>
	</div>
	<button class="btn mtl mbs bxl bcg cl"><b>Order karo</b></button>
	</div>
<hr size=1 COLOR="#A9A9A9">
Koi aur phone chahiye? Yahan likh do, hum us pe bhi discount dilwane ki koshish karein ge!
</div>
<br><br>
{% endblock %}