{% extends "base.html" %}
{% block content %}
<div class="margin clb">
<h2 class="cg">Tumhari profile:</h2>

<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  {% if form.mobilenumber.errors %}<span class="cr">{{ form.mobilenumber.errors.0 }}</span><br>{% endif %}
  <b>Mobile number:</b><br>{{ form.mobilenumber }}<br>
  <span class="cs cgy">Tumhara mobile number kisi ko nahi dikhaya jaye ga</span>
  <hr size=1 COLOR="#b3e6b3"><br>
  {% if form.bio.errors %}<span class="cr">{{ form.bio.errors.0 }}</span><br>{% endif %}
  <b>Apni ek khas baat likho:</b><br>{{ form.bio }}
  <hr size=1 COLOR="#b3e6b3"><br>
  {% if form.avatar.errors %}<span class="cr">{{ form.avatar.errors.0 }}</span><br>{% endif %}
  <b>Tumhari photo:</b><br>{{ form.avatar }}
  <hr size=1 COLOR="#b3e6b3"><br>
  {% if form.age.errors %}<span class="cr">{{ form.age.errors.0 }}</span><br>{% endif %}
  <b>Age likho:</b><br>{{ form.age }}
  <hr size=1 COLOR="#b3e6b3"><br>
  {% if form.gender.errors %}<span class="cr">{{ form.gender.errors.0 }}</span><br>{% endif %}
  <b>Boy or girl:</b><br>
  {% for radio in form.gender %}
    <table>
      <tr>
        <label for="{{ radio.id_for_label }}">
          <td>
            <span>{{ radio.tag }}</span>
            <span class="clb">{{ radio.choice_label }}</span>
          </td>
        </label>
      </tr>
    </table>
  {% endfor %}
  <hr size=1 COLOR="#b3e6b3"><br>
  {% if form.shadi_shuda.errors %}<span class="cr">{{ form.shadi_shuda.errors.0 }}</span>{% endif %}
  <b>Shaadi shuda:</b><br>
  {% for radio in form.shadi_shuda %}
    <table>
      <tr>
        <label for="{{ radio.id_for_label }}">
          <td>
            <span>{{ radio.tag }}</span>
            <span class="clb">{{ radio.choice_label }}</span>
          </td>
        </label>
      </tr>
    </table>
  {% endfor %}
  <hr size=1 COLOR="#b3e6b3"><br>
  {% if form.attractiveness.errors %}<span class="cr">{{ form.attractiveness.errors.0 }}</span>{% endif %}
  <b>Shakal soorat:</b><br>
  {% for radio in form.attractiveness %}
    <table>
      <tr>
        <label for="{{ radio.id_for_label }}">
          <td>
            <span>{{ radio.tag }}</span>
            <span class="clb">{{ radio.choice_label }}</span>
          </td>
        </label>
      </tr>
    </table>
  {% endfor %}
  <hr size=1 COLOR="#b3e6b3">
  <button class="btn bm bcg mbs mts" type="submit">Save</button>
</form>
<span class="cs cgy">photo nahi lagti jab tuk photo ke sath <b>age</b> aur <b>mobile number</b> na diya toh!</span>
</div>
<br><br>
{% endblock %}
