{% extends "base.html" %}
{% block content %}
<head><title>Emoji keyboard | Damadam.pk</title></head>
<div class="margin">
<span style="font-size:85%;color:dimgrey;"><b>Emoji bananey ke liye uske agey likhe characters likhein:</b></span><br>
{% load emoticons_tags %}
{% emoticons_index as emoticons_list %}

{% for emoticons in emoticons_list %}
<p><span style="font-size:75%;color:lightgrey;"><b>{{ forloop.counter }}.</b></span> {{ emoticons.0|emoticons }}    {{ emoticons.0 }}</p>
{% endfor %}
</div>
{% endblock %}