{% extends "base.html" %}
{% block content %}
<div class="margin" style="overflow-x:auto;">
<span style="font-size:95%;color:dimgrey;"><b>Face banane ke liye uske agey likhe harf likho:</b></span><br><br>
<table style="border-collapse: collapse;">
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/happy.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">:)&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/happy1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d1&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/happy2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d2&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/happy3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d3&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/giggle.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">:>&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/giggle2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d4&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/giggle1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d5&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/giggle3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d6&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/omg.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">:D</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/omg1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d7</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/omg2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d8</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/omg3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d9</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/excited.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::D&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/excited1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d10&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/excited2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d11&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/excited3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d12&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bigsmile.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">:::D&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bigsmile1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d13&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bigsmile2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d14&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bigsmile3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d15&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/rofl.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/rofl1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/rofl2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/rofl3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/flirty.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/flirty1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/flirty2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/flirty3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/wink.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/wink1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/wink2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/wink3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/evilgrin.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/evilgrin1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/evilgrin2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/evilgrin3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/devil.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/devil1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/devil2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/devil3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/headset.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/chai.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/coffee.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/muscle.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bandit.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/rain.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/star.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/cake.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/smoke.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/smoke1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/smoke2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/smoke3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/angry.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/angry1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/angry2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/angry3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/ghussa.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/ghussa1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/ghussa2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/ghussa3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/drunk.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/drunk1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/drunk2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/drunk3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sleepy.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sleepy1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sleepy2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sleepy3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sad.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sad1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sad2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sad3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sweating.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sweating1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sweating2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sweating3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/crying.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/crying1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/crying2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/crying3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/puke.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/puke1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/puke2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/puke3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/stache.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/stache1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/stache2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/stache3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/tongueout.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/tongueout1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/tongueout2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/tongueout3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/smooch.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/smooch1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/smooch2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/smooch3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/kiss.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/kiss1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/kiss2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/kiss3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/love.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/love1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/love2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/love3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/inlove.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/inlove1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/inlove2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/inlove3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/blush.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/blush1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/blush2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/blush3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/nerd.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/nerd1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/nerd2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/nerd3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/cool.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/cool1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/cool2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/cool3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/glasses.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/glasses1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/glasses2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/glasses3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/salam.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/salam1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/salam2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/salam3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/wasalam.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/wasalam1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/wasalam2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/wasalam3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bye.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bye1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bye2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bye3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pakistan.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pakistan1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pakistan2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pakistan3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/jhappi.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/jhappi1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/jhappi2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/jhappi3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/jhappi.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/jhappi1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/jhappi2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/jhappi3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/astagh.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/astagh1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/astagh2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/astagh3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pass.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pass1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pass2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pass3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/kissay.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/kissay1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/kissay2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/kissay3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/puppu.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/puppu1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/puppu2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/puppu3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pyar.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pyar1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pyar2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/pyar3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/tabdeeli.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/tabdeeli1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/tabdeeli2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/tabdeeli3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sazish.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sazish1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sazish2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/sazish3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/go.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/go1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/go2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/go3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/goimran.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/goimran1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/goimran2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/goimran3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
</table>
</div>
{% endblock %}