{% extends "base.html" %}
{% block content %}
<div class="margin" style="overflow-x:auto;">
<span style="font-size:95%;color:dimgrey;"><b>Face banane ke liye uske agey likhe harf likho:</b></span><br><br>
<table style="border-collapse: collapse;">
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/headset.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;">oo:</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/giggle.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;">:)</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/cool.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;">8)</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/stache.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;">:|</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/nerd.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;">8-)</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/drunk.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;">(pagal)</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/puke.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;">(ulti)</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/wink.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;">;)</span></td>
</tr>
</table>
</div>
{% endblock %}