{% extends "base.html" %}
{% block content %}
<div class="margin" style="overflow-x:auto;">
<span style="font-size:95%;color:dimgrey;"><b>Face banane ke liye uske agey likhe harf likho:</b></span><br><br>
<table style="border-collapse: collapse;">
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/happy.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">:)&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/happy1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d1&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/happy2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d2&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/happy3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d3&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">:-)&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d4&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d5&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d6&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/omg.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">:D</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/omg1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d7</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/omg2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d8</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/omg3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d9</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/excited.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::D&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/excited1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d10&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/excited2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d11&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/excited3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d12&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bigsmile.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">:::D&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bigsmile1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d13&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bigsmile2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d14&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/bigsmile3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d15&nbsp;</span></td>
</tr>
<tr>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;color:#009933;">::DD&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar1.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d16&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar2.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d17&nbsp;</span></td>
<td style="border: 1px solid #ffffff; background: #F3F3F3;">&nbsp;<img src="{{ STATIC_URL }}emoticons/harhar3.png" alt="nopic">&nbsp;&nbsp;<span style="color:#404040;font-size:85%;font-weight:bold;">d18&nbsp;</span></td>
</tr>
</table>
</div>
{% endblock %}