	{% if possible %}
	<div class="mts mbs mrl">
			<form method="POST" action="{% url 'fan' %}">
			{% csrf_token %}
				<input type="hidden" name="oid" value="{{ oid }}">
				<input type="hidden" name="org" value="{{ org }}">
			{% if tid|add:"0" in fan_list %}
				<button name="sid_btn" class="wt" style="border:1px solid darkgray" type="submit" value="{{ tid }}"><img src="{{ static_url }}img/unfan.svg" width="16" height="18" alt="fan" class="cxs"></button>
			{% else %}
				<button name="sid_btn" class="wt" style="border:1px solid gold" type="submit" value="{{ tid }}"><img src="{{ static_url }}img/fan.svg" width="16" height="18" alt="unfan" class="cxs"></button>
			{% endif %}
			</form>
	</div>
	{% endif %}