{% extends "base.html" %}
{% block content %}
<head><title>{{ star.username }}'s fans | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>

    <h1 class="cxl clb" style="text-align:center;overflow:hidden">{{ star.username }}'s fan page:</span></h1>

    <div class="bizcard clb" style="background-color:#FEFCFC;padding:10px;max-width:500px;width:93%;margin:0 auto;overflow: hidden;text-align:center">
        {% if not fans %}
            
            <div class="clb cxl lsp">{% load emoticons_tags %}{% emoticons %}Abhi tak koi fan nahi hai ;({% endemoticons %}</div>
            <a href="{% url 'user_profile' star.username %}#section0"><button class="btn bcg mtl mbs sp pg_ok_res bm" style="height:26px">wapis</button></a>

        {% else %}
            {% load s3 %}
            {% load get_block_button %}
            {% load get_unfan_button %}
            
            <div class="mt mbl"><a href="{% url 'user_profile' star.username %}#section0" class="cm sp cb" style="border-bottom:1px dotted blue">back to profile</a></div>

            <div class="cxl lsp" style="border-top:1px dashed lightgray;padding-top:10px">
            {% if count == 1 %}1 fan:{% else %}{{ count }} fans:{% endif %}
            </div>

            {% if new_count %}
                {% if new_count == 1 %}
                    <span class="cgy cs sp"><b>1 new fan</b> pichle 1 day mein</span>
                {% else %}
                    <span class="cgy cs sp"><b>{{ new_count }} new fans</b> pichle 1 day mein</span>
                {% endif %}
                <br>
            {% endif  %}
        
            <ul style="display:inline-block;padding: 0;list-style:none;margin-top:5px">
            {% for fan,is_new in fans %}
                <li style="text-align:left;border-bottom:1px dashed lightgray;padding:15px 0" class="sp">
                    <div style="word-break: break-all;">
                    <span class="cgy cxs sp">{{ forloop.counter0|add:page_obj.start_index }}.</span>
                    <a href="{% url 'user_profile' fan.username %}#section0" class="clb" style="font-weight:bold">
                	<img src="{{ fan.userprofile.avatar|s3:"thumb" }}" width="22" height="22" style="border-radius:50%;vertical-align:sub" alt="pic">
                    {{ fan.username }}</a>{% if fan.username in girls %}&nbsp;<img src="{{ STATIC_URL }}img/pstar.svg" width="13" height="13" alt="*">{% endif %}
                	{% if fan.userprofile.score %}
                		<span class="cg cxs sp">
                        {% if fan.userprofile.score < 0 %}
                	    	(1)
                	    {% else %}
                	    	({{ fan.userprofile.score }})
                		{% endif %}
                        </span>
                    {% endif %}
                    {% if is_new %}
                    <div style="padding:2px 5px;border-radius:4px;background-color:tomato;color:white;font-weight:bold;display:inline-block;" class="cs sp">new</div>
                    {% endif %}
                    {% if user == star %}
                    <span class="mll mrl">{% unfan_button target_user_id=fan.id target_username=fan.username self_user_id=user.id static_url=STATIC_URL %}</span>
                    <span>{% block_button fan.id fan.username star.id user.id '12' STATIC_URL %}</span>
                    {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>

        {% endif %}
    </div>

    <br>
    <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="fx fxjscn">
        {% if page_obj.has_previous %}
          <div style="padding:0 10px">
          <a href="?page={{ page_obj.previous_page_number }}#sectionJ"><button itemprop="url" class="pg_ok_res" style="background:0 0;border:none;padding:0"><img src="{{ STATIC_URL }}img/back_page.svg" width="40" height="40"></button></a>
          </div>
          {% endif %}
          {% if page_obj.has_next %}
          <div class="mbs" style="padding:0 10px">
          <a href="?page={{ page_obj.next_page_number }}#sectionJ"><button class="pg_ok_res" style="background:0 0;border:none;padding:0" itemprop="url"><img src="{{ STATIC_URL }}img/forward_page.svg" width="40" height="40"></button></a>
          </div>
        {% endif %}
    </div>
    <br>
{% endblock %}