{% extends "base.html" %}
{% block content %}
<div class="margin clb">
<img src="{{ STATIC_URL }}img/fan_star.png" width="30" height="30" alt="no pic"><img src="{{ STATIC_URL }}img/fan_star.png" width="30" height="30" alt="no pic"><span class="cg"><b class="cxl"> Dostoon ke fan bano </b></span><img src="{{ STATIC_URL }}img/fan_star.png" width="30" height="30" alt="no pic"><img src="{{ STATIC_URL }}img/fan_star.png" width="30" height="30" alt="no pic">
<br><br>
Jo pasand aye uske fan ban jao. Is terah tumhe uski photos sb se pehle nazr aya krein gi.<br>
<span class="cs">Ab OK dbao takey tumhe <b>{{ name }}</b> ka fan bana diya jaye</span>
<br>
<a href="{% url 'fan' star_id obj_id origin %}"><button class="btn bcg bm mtl">OK</button></a>
</div>
<br><br>
{% endblock %}