{% extends "base.html" %}
{% load thumbnail %}
{% load get_block_button %}
{% load emoticons_tags %}
{% block content %}
    <div class="margin">
        {% if not fans %}
        <b class="clb">
        {% emoticons %}Abhi tak koi fan nahi hai ;({% endemoticons %}</b>
        <br><br>
            <a href="{% url 'profile' star.username %}#section0">
            <button class="btn bcg mtl mbl bm">wapis</button>
            </a>
        {% else %}
        {% if user == star %}
        <b><a href="{% url 'profile' user.username %}#section0">Tumhare</a> {{count}} fans:</b><br>
        {% else %}
        <b><a href="{% url 'profile' star.username %}#section0">{{ star.username }}</a> ke {{ count }} fans:</b><br>
        {% endif %}
        {% if new_count %}
        <span class="cg cs">(<b>{{ new_count }} new fans</b> pichle 1 day mein)</span><br>
        {% endif  %}
        <br>
        {% for fan,is_new in fans %}
        <span class="cgy cs">{{ forloop.counter0|add:page_obj.start_index }}.</span>
        <a href="{% url 'profile' slug=fan.username %}#section0">
    	{% if fan.userprofile.avatar %}
    		<img src="{{ fan.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
    	{% else %}
    		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
    	{% endif %}
        {{ fan.username }}</a>{% if fan.username in girls %}&nbsp;<img src="{{ STATIC_URL }}img/pstar.png" width="13" height="13" alt="no pic">{% endif %}
    	{% if fan.userprofile.score %}
    		<span class="cg">
            {% if fan.userprofile.score < 0 %}
    	    	(1)
    	    {% else %}
    	    	({{ fan.userprofile.score }})
    		{% endif %}
            </span>
        {% endif %}
        {% if is_new %}
        <b class="cs co">(new)</b>
        {% endif %}
        &nbsp; {% block_button fan.id fan.username star.id 'fan' 'profile:fans' STATIC_URL %}
        <hr size=1 COLOR="#cccccc">
        {% endfor %}
        {% endif %}
    </div>
    <br>
    <div class="pagination" style="text-align: center;">
  {% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#sectionJ"><button class="btn bcr bm"><bdi>wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#sectionJ"><button class="btn bcg bm"><bdi>aagey</bdi></button></a>
    {% endif %}
</div><br>
{% endblock %}