{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="margin clb">
{% if time_remaining == '-1' %}
	Tumhe ab yahan se photo lagane ki ijazat nahi!<br>
	<span class="cgy">Damadam ka mahol saf rakhna hm sb ka kam hai. Is bat ka khyal rakho</span><br><br>
	<a href="{% url 'best_photo' %}#section0"><button class="btn bco bm mtl mbs">wapis</button></a>
{% else %}
	Tumhe photo lagane ki ijazat miley gi <b class="cl co">{{ time_remaining|naturaltime }}</b><br>
	<span class="cgy">Aesi photos lagana jo log pasand karein aur tumhari profile pr br br aien</span><br>
	<a href="{% url 'best_photo' %}#section0"><button class="btn bco bm mtl mbs">wapis</button></a>
{% endif %}
</div><br><br>
{% endblock %}