{% extends "base.html" %}
{% block content %}
<div class="margin">
<b>Mehfil mein insaan kisi ke saath zaati ya awami chat kar sakta hai.</b><br><br>
Mehfil 2 qissam ki hain:<br>
<b>. Private mehfil:</b> Is mein tum aur tumharey dost apis mein zaati baatein kar saktey hain, kisi aur ko woh chat nazar nahi aati. Is mein pics bhi daali jaa sakti hain.<br>
<b>. Open mehfil:</b> Ye mehfil bilkul home ki terah awam ke liye open hai, lekin yahan ka admin woh hota hai jis ne ye mehfil banaee ho.<br>
<b>. Bahir waley ke saath mehfil:</b> Ye aik zaati mehfil hai, jis mein tum aisey insaan se baat kar saktey ho jis ka Damadam par khata na ho. Is mehfil ka button tumhe tumhari profile par miley ga.<br><br>
<a href="{% url 'group_page' %}#section0"><< wapis</a>
</div>
{% endblock %}