{% extends "base.html" %}
{% load humanize %}
{% load thumbnail %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">
{% if not object_list %}
<a href="{% url 'group_type' %}#section0" class="cxs"><b>new mehfil</b></a>&nbsp;<span class="cs">|</span>
<a href="{% url 'group_list' %}#section0" class="cxs"><b>mashoor mehfilein</b></a><span class="cs"> |</span>
<a href="{% url 'group_help' %}#section0" class="cxs"><b>mehfil kiya hai?</b></a>
<br><br>
	<b>Mehfil</b> mein doston ke sath pics wali chat ki ja sakti hai. <a href="{% url 'group_type' %}">New mehfil banao</a>, aur shuru ho jao.
{% else %}
<b>Tumhari mehfilein:</b><br><br>
<a href="{% url 'group_type' %}#section0" class="cxs"><b>new mehfil</b></a>&nbsp;<span class="cs">|</span>
<a href="{% url 'group_list' %}#section0" class="cxs"><b>mashoor mehfilein</b></a>
<br><br>
{% for reply in object_list %}

	{% if reply.0.category == '1' %}


		{% if reply.0.which_group.private == '1' and reply.0.writer != user %}
			
			<span class="cxl cgy">.</span>
			<b class="cs ct">(invite)</b>
			{% if reply.0.writer.userprofile.avatar %}
				<img src="{{ reply.0.writer.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
			{% else %}
				<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
			{% endif %}

			<span class="cs cgy">
				<a href="{% url 'profile' slug=reply.0.writer.username %}">
				{{ reply.0.writer }}
				</a>
			{% if reply.0.writer.username in verified %}
					<span class="pkstr"><b>*</b></span>
				{% endif %} ne tumhe
			</span>

			<a href="{% url 'private_group' reply.0.which_group.unique %}">
			<span class="cg"><b>{% emoticons %}{{ reply.0.which_group.topic|truncatechars:80 }}{% endemoticons %}</b></span>
			</a>
			<span class="cgy cm">mein bulaya, {{ reply.0.submitted_on|naturaltime }}</span>
			<p><hr size=1 COLOR="#2DB92D"></p>
		{% elif reply.0.which_group.private == '1' and reply.0.writer == user %}

			<span class="cgy cxl">.</span>

			<span class="cgy cm">
			Tum ne
			</span>

			<a href="{% url 'private_group' reply.0.which_group.unique %}">
			<span class="cg"><b>{% emoticons %}{{ reply.0.which_group.topic|truncatechars:80 }}{% endemoticons %}</b></span>
			</a>
			<span class="cgy cm">mein invite kia, {{ reply.0.submitted_on|naturaltime }}</span>
			<p><hr size=1 COLOR="#2DB92D"></p>
		{% elif reply.0.which_group.private == '0' and reply.0.writer != user %}

			<span class="cgy cxl">.</span>
			<b class="ct cs">(invite)</b>
			{% if reply.0.writer.userprofile.avatar %}
				<img src="{{ reply.0.writer.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
			{% else %}
				<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
			{% endif %}
			
			<span class="cgy cm">
				<a href="{% url 'profile' slug=reply.0.writer.username %}">
				{{ reply.0.writer }}
				</a>
			{% if reply.0.writer.username in verified %}
					<span class="pkstr"><b>*</b></span>
				{% endif %} ne tumhe
			</span>

			<a href="{% url 'public_group' slug=reply.0.which_group.unique %}">
			<span class="cp"><b>{% emoticons %}{{ reply.0.which_group.topic|truncatechars:80 }}{% endemoticons %}</b></span>
			</a>
			<span class="cgy cm">mein bulaya, {{ reply.0.submitted_on|naturaltime }}</span>
			<p><hr size=1 COLOR="#ac39ac"></p>
		{% elif reply.0.which_group.private == '0' and reply.0.writer == user %}

			<span class="cgy cxl">.</span>
			
			<span class="cgy cm">
			Tum ne
			</span>

			<a href="{% url 'public_group' slug=reply.0.which_group.unique %}">
			<span class="cp"><b>{% emoticons %}{{ reply.0.which_group.topic|truncatechars:80 }}{% endemoticons %}</b></span>
			</a>
			<span class="cgy cm">mein invite kia, {{ reply.0.submitted_on|naturaltime }}</span>
			<p><hr size=1 COLOR="#ac39ac"></p>

		{% else %}
		{% endif %}

	{% else %}

	{% if reply.0.which_group.private == '1' %}

		<span class="cgy cxl">.</span>&nbsp;
		{% if reply.1 == 'False' %}<b class="co cs">(new)&nbsp;</b>{% endif %}
		
		{% if reply.0.writer.userprofile.avatar %}<img src="{{ reply.0.writer.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>{% else %}<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>{% endif %}&nbsp;

		<span class="cgy cm">
		<a href="{% url 'profile' slug=reply.0.writer.username %}">{{ reply.0.writer }}</a>
		{% if reply.0.writer.username in verified %}<span class="pkstr"><b>*</b></span>{% endif %} ne</span>&nbsp;

		<a href="{% url 'private_group' reply.0.which_group.unique %}"><b class="cg">{% emoticons %}{{ reply.0.which_group.topic|truncatechars:80 }}{% endemoticons %}</b></a>&nbsp;

		<span class="cgy cm">mein likha:</span><span class="clb">&nbsp;{% emoticons %}{{ reply.0.text|truncatechars:80 }}{% endemoticons %}</span><span class="cgy cs">, {{ reply.0.submitted_on|naturaltime }}</span><br>
		
		<p><hr size=1 COLOR="#2DB92D"></p>
		
	{% elif reply.0.which_group.private == '0' %}

		<span class="cgy cxl">.</span>&nbsp;

		{% if reply.0.writer.userprofile.avatar %}<img src="{{ reply.0.writer.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>{% else %}<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>{% endif %}&nbsp;

		<span class="cgy cm"><a href="{% url 'profile' slug=reply.0.writer.username %}">{{ reply.0.writer }}</a>{% if reply.0.writer.username in verified %}<span class="pkstr"><b>*</b></span>{% endif %} ne</span>&nbsp;

		<a href="{% url 'public_group' slug=reply.0.which_group.unique %}"><span class="cp"><b>{% emoticons %}{{ reply.0.which_group.topic|truncatechars:80 }}{% endemoticons %}</b></span></a>&nbsp;

		<span class="cgy cm">mein likha:</span><span class="clb">&nbsp;{% emoticons %}{{ reply.0.text|truncatechars:80 }}{% endemoticons %}</span><span class="cgy cs">, {{ reply.0.submitted_on|naturaltime }}</span><br>
		
		<p><hr size=1 COLOR="#ac39ac"></p>
	
	{% else %}

		{% if reply.0.writer.username == 'unregistered_bhoot' %}
			<span class="cgy cxl">.</span>&nbsp;

			{% if reply.1 == 'False' %}<b class="co cs">(new)</b>{% endif %}&nbsp;

			<span class="cgy cm"><span class="cp">mehmaan</span> ne</span>&nbsp;

			<a href="{% url 'outsider_group' slug=reply.0.which_group.unique %}"><span class="cp">{% emoticons %}{{ reply.0.which_group.topic|truncatechars:80 }}{% endemoticons %}</span></a>&nbsp;

			<span class="cgy cm">mein likha:</span><span class="clb">&nbsp;{% emoticons %}{{ reply.0.text|truncatechars:80 }}{% endemoticons %}</span><span class="cgy cs">, {{ reply.0.submitted_on|naturaltime }}</span><br>
		{% else %}
			<span class="cgy cxl">.</span>&nbsp;

			{% if reply.1 == 'False' %}<b class="co cs">(new)</b>{% endif %}&nbsp;

			{% if reply.0.writer.userprofile.avatar %}<img src="{{ reply.0.writer.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>{% else %}<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>{% endif %}&nbsp;

			<span class="cgy cm"><a href="{% url 'profile' slug=reply.0.writer.username %}">{{ reply.0.writer }}</a>{% if reply.0.writer.username in verified %}<span class="pkstr"><b>*</b></span>{% endif %} ne</span>&nbsp;

			<a href="{% url 'outsider_group' slug=reply.0.which_group.unique %}"><span class="cp">{% emoticons %}{{ reply.0.which_group.topic|truncatechars:80 }}{% endemoticons %}</span></a>&nbsp;

			<span class="cgy cm">mein likha:</span><span class="clb">&nbsp;{% emoticons %}{{ reply.0.text|truncatechars:80 }}{% endemoticons %}</span><span class="cgy cs">, {{ reply.0.submitted_on|naturaltime }}</span><br>
		{% endif %}

	{% endif %}

{% endif %}

{% endfor %}
{% endif %}
</div>
{% endblock %}


{% block pagination %}
{% if is_paginated %}
<div style="text-align: center;">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0" class="fss"><button class="btn bcr bs cm"><bdi>wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0" style="font-family:arial;"><button class="btn bcg bs cm"><bdi>aagey</bdi></button></a>
    {% endif %}
</div>
{% endif %}
<br><br>
{% endblock %}

