{% extends "base.html" %}
{% block content %}
<div class="margin clb">
{% if captain %}
	<h2>Kiya tum is baat ko mita dena chahte ho?</h2>
	<form action="{% url 'group_report' %}" method="POST">
	{% csrf_token %}
	<b class="cgy">.</b></span><input type="submit" name="report" class="cb" value="Haan mita do"><br>
	<b class="cgy">.</b></span><input type="submit" name="report" class="cb" value="Nahi rehne do"><br>
	</form>
{% else %}
	<h2>Tum is baat ko report nahi kr sakte</h2>
	Ye kam sirf is mehfil ke afsar kr sakte hain!<br>
	<a href="{% url 'public_group' slug=unique %}"><button class="btn bcp bm mtl mbs">wapis</button></a>
{% endif %}
</div><br><br>
{% endblock %}