{% extends "base.html" %}
{% block content %}


<div class="margin">
<b>Konsi mehfil banani hai:</b><br>
Jo open ho aur jahan har koi chat kar sakey, ya aisi mehfil jo ke private ho?<br><br>
<b style="color:grey;">.</b>&nbsp;<a href="{% url 'open_group_help' %}">Open mehfil</a>&nbsp;<span style="color:red;font-size:85%;">(qeemat: 5000 points)</span><br>
<b style="color:grey;">.</b>&nbsp;<a href="{% url 'closed_group_help' %}">Private mehfil</a>&nbsp;<span style="color:red;font-size:85%;">(qeemat: 500 points)</span><br><br>			
<a href="{% url 'group_help' %}#section0" style="font-size:80%;"><u>mehfil kiya hai?</u></a>
</div>

{% endblock %}