{% extends "base.html" %}
{% block content %}
<div class="margin clb">
{% if captain %}
	<b class="cxl">Kya ap is baat ko mita dena chahtey hain?</b>
	<form action="{% url 'group_report_pk' %}" class="mtl" method="POST">
	{% csrf_token %}
    <input type="hidden" name="slug" value="{{ unique }}">
    <input type="hidden" name="pk" value="{{ reply_pk }}">
	<button type="submit" name="repdec" class="btn bcg bm mrl mbs" value="1">Haan</button>
	<button type="submit" name="repdec" class="btn bcr bm mts" value="0">Nahi</button>
	</form>
{% else %}
	<b class="cxl cp">Ap is baat ko report nahi kr sakte</b>
	<div class="mts cl">
	Ye sirf is mehfil ke afsar kar sakte hain!
	</div>
	<a href="{% url 'public_group' slug=unique %}"><button class="btn bcp bm mtl mbs">wapis</button></a>
{% endif %}
</div><br><br>
{% endblock %}