{% extends "base.html" %}
{% block content %}
<div class="margin clb">
<b>Mehfil mien dost mil kr chat karte hain!</b><br><br>
<b><span class="cg">Private mehfil</span>:</b> Is mein zaati baatein ki jati hain. Kisi aur ko iski chat nazr nahi aati. Is mein pics bhi dali jaa sakti hain. Is mehfil ka nam <span style="color:green;">sabz</span> rang ka hota hai.<br class="mbs">
<b><span class="cp">Open mehfil</span>:</b> Ye mehfil awam ke liye open hoti hai. Yahan kay admin woh hota hai jis ne ye mehfil banaee ho. Is mehfil ka nam <span class="cp">jamni</span> rang ka hota hai.<br><br>
<a href="{% url 'group_page' %}#section0"><button class="btn bcgy bm mbl">wapis</button></a>
</div>
{% endblock %}