{% extends "base.html" %}
{% block content %}


<div class="margin clb">
<b>Konsi mehfil banani hai:</b><br>
Jo open ho aur jahan har koi chat kar sakey, ya aisi mehfil jo ke private ho?<br><br>
&nbsp;<a href="{% url 'open_group_help' %}"><button class="btn nw bcp bxl">Open mehfil</button></a>&nbsp;<span class="cp cs">(qeemat: 5000 points)</span><br>
&nbsp;<a href="{% url 'closed_group_help' %}"><button class="btn nw bcg bxl mtl">Private mehfil</button></a>&nbsp;<span class="cg cs">(qeemat: 500 points)</span><br><br>			
&nbsp;<a href="{% url 'group_help' %}#section0" class="cs">mehfil kiya hai?</a>
</div>
<br><br>
{% endblock %}
