{% extends "base.html" %}
{% block content %}


<div class="margin">
<a href="{% url 'group_type' %}" class="cxs"><b>naee mehfil banao</b></a>&nbsp;<span class="cs">|</span>
<a href="{% url 'group_page' %}" class="cxs"><b>tumhari mehfilein</b></a>&nbsp;
<br><br>
<b class="clb">Mashoor mehfilein:</b><br><br>
{% for group in object_list %}
<a href="{% url 'public_group' slug=group.unique %}" class="cp"><b>{{ group.topic }}</b></a>
<span class="cgy cs">by</span>&nbsp;<span class="cb cs">{{ group.owner }}</span>
<br>
<hr size=1 COLOR="#b3b3b3">
{% endfor %}
</div>
<br><br>
{% endblock %}

