<!--	<html>
	<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sophie">
		<title>Damadam Help</title>
		

</head>
-->
{% extends "base.html" %}

{% block content %}
<style>
        h9 {
    font-family: Arial;
    font-size:12px;

}

h8 {
    font-family: Arial;
    font-size:16px;
    color: red;
    font-style:bold;

}

</style>
    <body>
    <div style="margin-left:20px;">
    <h2> Welcome 2 Damadam yar!</h2>
    <ul>
    <li><b>Chat kro:</b> Chat krne ke liye <b>kuch likho</b> mein type kro. Woh <b>home</b> par sab ko nazr aa jaye ga.</li>
    <li><b>Dost banao:</b> Jis se dosti karni hai, uski chat ke neeche <b>jawab</b> par click kar ke us se baat karo.</li>
    <li><b>Score:</b> Damadam par har insaan ka score hota hai, jis ko barhane ke tareeqe <a href="{% url 'score_help' %}#section0">yeh hain</a>.
    <li><b>Profile photo:</b> Sb se uper 'Profile' ko dbao. Phir 'profile dekho' dbao. Wahan pr <b>profile badlo</b> nazr aye ga. Profile badlo mien tasveer dal jaye gi. Sath mien age bhi zarur likhna.</li>
    <li><b>Jhappi Chupair:</b>Agr kisi ki bat achi lage toh jhappi do. Agar kisi ki bat burri lage toh chupair maro.</li>
    <li><b>Verified lady:</b>Agr lady ho, toh <a href="{% url 'verify_help' %}#section0">verify karwa lo</a>. Verify se Damadam pr ladies ko larke tang nahi kar sakte.</li>
    <li><b>Mehfil:</b> agar kisi se zaati bat karni ho, toh jawab mein <b>mehfil</b> ka option dhoondo, aur shuru ho jao.</li>
    <li><b>Logout:</b> Damadam mein logout sirf verified ladies ke liye hai. Lekin agar zaruri karna ho, toh home par sab se neechay <b>bahir niklo</b> ko dekho.</li>
    </ul>
    <span style="color:grey;">Kuch aur bhi poochna hai? Home par <a href="{% url 'link_create' %}#section0">likh kar</a> awam ko apna masla bata do, koi na koi zarur jawab de ga.</span><br><br>
    <span style="color:#1CB841;"><b>Internet seekhna hai? Ye button dabao:</b> <a href="//www.aasaninternet.com/"><button style="background-color:#ff9933;border-color:#ff8000;color:white;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);font-size:100%;border-radius:4px;">Aasan Internet</button></a></span>
    <br><br>
	</div>
    </body>
{% endblock %}