{% extends "base.html" %}

{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


</style>

    <body>
    <div class="margin clb">
    <h2>Damadam pe Welcome!</h2>


<table>
  <tr>
    <th>Button</th>
    <th>Button ka kaam</th>
    
  </tr>
  <tr>
    <td><span style="background-color:orange; color:white">
       Likho
        
        </span></td>
    <td>Chat ke liye ye button dba kr kuch likho. Sara Damadam parhe ga. Ye button upr bna huwa hai</td>
    
  </tr>
   <tr>
    <td><span style="background-color:orange; color:white; padding-left:2px; padding-right:2px" >
        Home
        
        </span></td>
    <td>Home dba kr dekho log kia batein kr rahe hain. Tum bhi yahan baat kr sakte ho</td>
    
  </tr>
   <tr>
    <td><span style="background-color:orange; color:white; padding-left:2px; padding-right:2px" >
        Matka
        
        </span></td>
    <td>Ye button dba kr apni sari gup shup aur harkatein dekho</td>
    
  </tr>
   <tr>
    <td><span style="background-color:orange; color:white; padding-left:2px; padding-right:2px" >
        Profile
        
        </span></td>
    <td>Damadam pr hr ek ki profile hoti hai, jis mein us ki malomaat hoti hai. Ye button dba ke apni profile banao<br> </td>
    
  </tr>
  <tr>
    <td><span class="btn nw bl bct mbs mtl">jawab do</span></td>
    <td>Jis se dosti karni hai, uski chat ke neeche ye button dba kr us se baat kro.</td>
   
  </tr>
  <tr>
    <td><span style="font-size:20px; color:deeppink;">*</span></td>
    <td>Asli Lady: Jis ke naam ke agay ye nishan ho wo asli lady hai. Damadam pr asli ladies say panga lena mana hai!</td>
 
  </tr>
  <tr>
    <td class="cg">Score</td>
    <td>Damadam main sb ka score hota hai! Jitni achi batain likho gey, dost banao gey, utna ziada score ho ga</td>
   
  </tr>
  <tr>
    <td><span style="background-color:orange; color:white; padding-left:2px; padding-right:2px" >
      Mehfil
        
        </span></td>
    <td>Jb tumhara score barh jaye ga tum logon ke sath mehfil bna sako gey. Mehfil ek ya bohot sarey dostoon ki ho sakti hai</td>
    
  </tr>
  <tr>
    <td><span style="background-color:orange; color:white; padding-left:2px; padding-right:2px" >
     Bahir Niklo
        
        </span></td>
    <td>Logout:</b> Damadam mein logout sirf verified ladies ke liye hai. Lekin agar zaruri karna ho, toh home par sb se neechay <b>bahir niklo</b> ko dekho</td>
    
  </tr>

 
</table>
<br>
 <span class="cgy">Kuch aur poochna hai? Home pr <a href="{% url 'link_create' %}#section0">likh kar</a> awam ko apna masla bata do, koi na koi zarur jawab de ga.</span><br><br>
    <span style="color:#1CB841;"><b>Internet seekhna hai? Ye button dabao:</b> <a href="//www.aasaninternet.com/"><button class="btn bl bco">Aasan Internet</button></a></span>
    <br><br>
    </div>

</body>
</html>
    </body>
{% endblock %}