{% extends "base.html" %}

{% block content %}
<div class="margin">
<h3>History kissey kehtay hain:</h3>
&bullet; History ka matlab hai tareekh. Yaani ke kisi ne maazi mien keya keya likha<br>
&bullet; Damadam mien kisi bhi insaan ki history dekhi jaa sakti hai<br>
&bullet; History uss insaan ke woh jawab nahi dikhati jo uss ne kisi aur ke 'kuch likho' ke neechay daaley hone<br>
&bullet; History sirf har insaan ke 'kuch likho' waaley jumley dikhati hai<br>
&bullet; History aur 'latest gupshup' mien farak hai<br>
</div>
{% endblock %}