{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<head><title>Home reply tutorial | Damadam</title></head>
<style>body{background: #E9EBEE}</style>
<h1 class="cxl clb" style="text-align:center">Reply sent!</h1>
<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:450px;width:92%;margin:0 auto;overflow: hidden;text-align:center">
{% if target == own_self %}
<b class="cxl lsp">Ap ne apni hi post pe reply de diya</b>
<hr size=1 COLOR="#e5e7e9">
<div class="mt mbl">
<span class="cgy cs sp lsp">Ye reply private nahi hai, isko har koi read sakta hai</span><br>
</div>
{% else %}
<b class="cxl lsp">Apka reply <span class="ct">{{ target }}</span> ki post pe chala gaya</b>
<hr size=1 COLOR="#e5e7e9">
<div class="mt mbs">
<span class="cgy cs sp lsp">Ye reply private nahi hai, issey har koi read kar sakta hai</span><br>
</div>
{% endif %}
<a href="{% url 'redirect_to_home' %}"><button class="btn nw bct bm mts mbs pg_ok_res" style="height:26px" type="submit">OK</button></a>

</div><br><br>

{% endblock %}