{% load emoticons_tags %}
{% load get_block_button %}
<div class="clb mts mbs mls">
<div class="mbs">
<b class="ct">Latest Jawab:</b><br>
</div>
<table>
{% for reply in replies reversed %}
	<tr><td>
	{% if forloop.counter != 1 %}<hr size=1 COLOR="#e0e0e0">{% endif %}
		{{ reply.reply_head|safe }}:&nbsp;<span class="cdt"><bdi>{% emoticons %}{{ reply.text }}{% endemoticons %}</bdi></span><span class="cgy cs">, {{ reply.epoch_time|human_time }}</span> &nbsp;{% block_button reply.replier_id reply.replier_username self_user_id reply.link_id 'home:reply' static_url %}<br>
	</td></tr>
{% endfor %}
</table>
</div>