{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="margin">
<img src="{{ STATIC_URL }}img/matka.png" width="30" height="30" alt="no pic"><img src="{{ STATIC_URL }}img/matka.png" width="30" height="30" alt="no pic"><span class="ct"><b> Ye he Damadam ka jadeed MATKA </b></span><img src="{{ STATIC_URL }}img/matka.png" width="30" height="30" alt="no pic"><img src="{{ STATIC_URL }}img/matka.png" width="30" height="30" alt="no pic">
<br><br>
<span class="clb">Ye pani se bharne ke bajai tumhare jawab, photo tabsre, mehfil ki gupshup aur stars ki photos se bharta hai. Agey agey dekho hota hai kiya!</span>
<br><br>
<a href="{% url 'unseen_activity' slug=username %}"><button class="btn nw bcg bl">Theek hai</button></a>
</div>
<br><br><br>
{% endblock %}