{% extends "base.html" %}
{% block content %}
<style>body{background: #E9EBEE}</style>
<head><title>Home reply refreshing tutorial | Damadam</title></head>
<br>
<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">
<div class="cxl lsp"><img height="23" width="23" src="{{ STATIC_URL }}img/refresh.svg" class="mrs" alt="pic" style="vertical-align:sub"> Is button se ap page refresh kar saktey hain!</div>
 <hr size=1 COLOR="#E9EBEE">
<div class="cm sp cgy lsp mbl">Agar koi new jawab aye huay tou woh nazar aa jayein gey</div>
<a href="{% url 'publicreply_view' lid %}"><button class="mbl btn bct bl pg_ok_res sp" style="height:28px">OK</button></a>
</div>
<br><br>
{% endblock %}

