{% extends "base.html" %}
{% load humanize %}
{% load emoticons_tags %}
{% block content %}
<div class="margin clb cl">
<span class="cgy">Pehle failsa karne ka tareeqa jaan lo:</span><br><br>
<span class="cg"><b>1)</b></span>&nbsp;Report karne waley ne apne <b>points ki qeemat</b> ada ki hoti hai<br>
<span class="cg"><b>2)</b></span>&nbsp;Agr report <span class="cg">sahi</span> ho tou woh faisla kro jis se points <b>wapis</b> ho jaien<br>
<span class="cg"><b>3)</b></span>&nbsp;Agr report <span class="cr">ghalat</span> neeyat se ki gayee ho tou points ki qeemat wapis <b>na</b> kro<br>
<span class="cg"><b>4)</b></span>&nbsp;Agr report <span class="cr">ghalat</span> ho, lekin report karne waley ki <span class="cg">neeyat saaf</span> lagey, tab points <b>wapis</b> kr dou<br>
<a href="{% url 'cull_photo_loc' pid %}"><button class="btn bcg mtl bl mbs">Theek hai</button></a>
</div>
<br><br>
{% endblock %}