{% extends "base.html" %}
{% block content %}
<div class="margin">
{% if unauthorized %}

<span style="color:purple;font-size:95%;"><b>{{ user.username }}</b> ye mumqin nahi hai, wapis jao!</span>

{% else %}
{% if culprit == owner %}
Tum apney ap ko mehfil se nikalna chahtey ho?<br>Pagal ho kya?<br><br>
<a href="{% url 'public_group' slug=unique %}">< wapis</a>
{% else %}
Kiya <a href="{% url 'profile' slug=culprit.username %}"><b>{{ culprit.username }}</b></a> ko mehfil se hamesha ke liye nikal diya jaye?<br><br>
<form action="{% url 'kick' %}" method="POST">
{% csrf_token %}
	<span style="color:lightgrey;">&bullet;</span>&nbsp;<input type="submit" style="background-color:transparent;border:none;text-align:left;outline:none;" name="haan" value="Haan"><br>
</form>
<span style="color:lightgrey;">&bullet;</span>&nbsp;<a href="{% url 'public_group' slug=unique %}"><input type="submit" style="background-color:transparent;border:none;text-align:left;outline:none;" name="Nahi" value="Nahi"></a>
{% endif %}
{% endif %}
</div>
{% endblock %}