{% extends "base.html" %}
{% load humanize %}
{% load comments %}
{% load mathfilters %}
{% load emoticons_tags %}
{% load thumbedge %}
{% load get_item %}
{% load get_votes %}
{% load get_photo_votes %}
{% load voted %}
{% load photo_voted %}
{% load human_time %}
{% load photoedge %}
{% block content %}
<div class="margin">
	{% if notification %}
	{% if type_of_object == '2' %}
			
			<div class="welcome">
			{% if first_time_user %}
				<span style="font-size:90%;color:#229ec3;">
				Tumhe <b>welcome</b> kiya:
				</span>
				<p style="margin-top:0.5em;"></p>
			{% else %}

				{% if parent.ooa != 'None' %}
					<img src="{{ parent.ooa|thumbedge }}" alt="no pic" width="22" height="22"></img>
				{% else %}
					<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22"></img>
				{% endif %}
				<span style="color:dimgrey;"><bdi>{{ parent.oon }}</bdi></span>:<span style="color:dimgrey;">{% emoticons %} {{ parent.od|truncatechars:40 }}{% endemoticons %}</span>
			
				<p style="margin-top:.5em;"></p>
			
				<span class="homechat">
				is pr <b>new</b> jawab aya:
				</span>
				<p style="margin-top:.3em;"></p>
			{% endif %}	
			
			<a href="{% url 'reply_pk' parent_pk %}" style="font-size:95%;"><bdi>{{ parent.lrsn }}</bdi>
				{% if parent.lrsn in checked %}
			    	<span class="pinkstar" ><b>*</b></span>
			    {% endif %}
			:<span style="font-size:110%;"><bdi style="color:#404040;">{% emoticons %} {{ parent.lrtx|truncatechars:70 }}{% endemoticons %}</bdi></span><span class="latestreply"><bdi>, {{ parent.lrti|human_time }}</bdi>
			</span>
				<p style="margin-top:.5em;"></p>
				<button class="jawab">isko jawab do</button></a>&nbsp;&nbsp;
				<a href="{% url 'x_notif' parent_pk ident 1 %}"><button class="crossnotification"><b>X</b></button></a>
			</div>
			<p style="margin-top:.5em;"></p>
			<hr size=1>
			<p style="margin-top:-0.9em;"></p>
			<hr size=1>


			<span class="homechat"><b>home</b> ki chat:</span>
			
	{% elif type_of_object == '3a' %}
	<!-- private -->
	<div class="private group">
		<b style="color:#179b36;">{% emoticons %}{{ parent.od|truncatechars:40 }}{% endemoticons %}</b>
		<br><br><span style="color:#179b36;font-size:90%;">mein <b>new</b> pegham aya:</span><br><br>
		{% if parent.rp != 'None' %}
		<img src="{{ parent.rp }}" alt="no pic"><br>
		{% endif %}
		<a href="{% url 'profile' parent.lrsn %}">
		{% if parent.lrau != 'None' %}
		<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		<span style="font-size:90%;">{{ parent.lrsn }}</span></a>
				{% if parent.lrsn in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span style="color:#404040;">: {% emoticons %}{{ parent.lrtx|truncatechars:40 }}{% endemoticons %}</span><span class="time"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<br><a href="{% url 'private_group' parent.l %}"><button class="jawab" style="background-color:#2DB92D;border-color:#179b36">jawab do</button></a>&nbsp;&nbsp;<a href="{% url 'x_group_notif' parent.oi ident '1' %}"><button class="crossnotification" style="margin-top:1em;"><b>X</b></button></a>
	</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
				<span style="color:#179b36;font-size:90%;"><b>home</b> ki chat:</span>
	{% elif type_of_object == '3b' %}
	<!-- public -->
	<div class="public group">
		<b style="color:#765989;">{% emoticons %}{{ parent.od|truncatechars:40 }}{% endemoticons %}</b>
		<br><br><span style="color:#765989;font-size:90%;">mein <b>new</b> pegham aya:</span><br><br>
		{% if parent.rp != 'None' %}
		<img src="{{ parent.rp }}"><br>
		{% endif %}
		<a href="">
		{% if parent.lrau != 'None' %}
		<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		<span style="font-size:90%;">{{ parent.lrsn }}</span></a>
				{% if parent.lrsn in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span style="color:#404040;">: {% emoticons %}{{ parent.lrtx|truncatechars:40 }}{% endemoticons %}</span><span class="time"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<br><a href="{% url 'public_group' parent.l %}"><button class="jawab" style="background-color:#765989;;border-color:#503c5d">jawab do</button></a>&nbsp;&nbsp;<a href="{% url 'x_group_notif' parent.oi ident '1' %}"><button class="crossnotification" style="margin-top:1em;"><b>X</b></button></a>
	</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
				<span style="color:#765989;font-size:90%;"><b>home</b> ki chat:</span>
	{% elif type_of_object == '4' %}
		<div class="namazbox">
		<a href="{% url 'profile' parent.oon %}#section0">
		{% if parent.ooa != 'None' %}
		<img src="{{ parent.ooa|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		{{ parent.oon }}</a>
				{% if parent.oon in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span style="color:#404040;">: {{ user.username }}, waqt mila toh <b style="color:#179b36;">{{ namaz }}</b> parh lena {% emoticons %}:){% endemoticons %}</span>
		<br>
			{% if first_time_user > 1 %}
			<span style="color:#179b36;font-size:85%;">({{ parent.oon }} ne pichli <b>lagatar {{ first_time_user }} namazein</b> parhein)</span><br>
			{% endif %}
		<a href="{% url 'cross_salat_notif' parent.c ident 1 %}"><button class="crossnotification" style="margin-top:1em;"><b>X</b></button></a>
		</div>
		<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
				<span style="color:#179b36;font-size:90%;"><b>home</b> ki chat:</span>
	{% elif type_of_object == '0' %}

		<div class="photonotification">
		<span class="span">Photo pr <b>new</b> tabsra aya:</span><p style="margin-top:.3em;"></p>
		<a href="{% url 'comment_pk' parent_pk 6 %}" style="font-size:90%;">
		{% if parent.v|add:"0" < -2 %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		{% elif parent.v|add:"0" < -1 %}
			{% if parent.p != 'None' %}
			<img src="{{ parent.p|thumbedge }}" alt="no pic" class="uploadedphoto"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.p|thumbedge }}" class="uploadedimage2"></img>
		{% endif %}
		<span style="color:grey;">{% emoticons %}{{ parent.od|truncatechars:30 }}{% endemoticons %}</span>
		<p style="margin-top:.3em;"></p>
		<bdi>{{ latest_comment.lrsn }}</bdi><span style="color:#404040;font-size:110%;">
				{% if latest_comment.lrsn in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
			    
		:&nbsp;<bdi>{% emoticons %}{{ latest_comment.lrtx|truncatechars:40 }}{% endemoticons %}</bdi></span><span class="commentsubmitted"><bdi>, {{ latest_comment.lrti|human_time }}</bdi></span>
		<br>
		<p style="margin-top:.5em;"></p>
		<button class="tabsarakaro" >tabsra kro</button></a>&nbsp;&nbsp;
		<a href="{% url 'cross_comment_notif' parent_pk ident 1 0 %}"><button class="crossnotification"><b>X</b></button></a>
		</a>
		</div>
		<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
		<hr size=1>

				<span class="span"><b>home</b> ki chat:</span>
	{% elif type_of_object == '1' %}
		<div class="photonotification" >
		<span class="span"><a href="{% url 'profile' parent.oon %}">{{ parent.oon }}</a>
				{% if parent.oon in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		ne new photo lagai:</span><p style="margin-top:.3em;"></p>
		<a href="{% url 'user_profile_photo' parent.oon parent_pk 1 %}" style="font-size:90%;">
		{% if parent.v|add:"0" < -2 %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		{% elif parent.v|add:"0" < -1 %}
			{% if parent.p != 'None' %}
			<img src="{{ parent.p|thumbedge }}" alt="no pic" class="uploadedphoto"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.p|thumbedge }}" class="uploadedimage2"></img>
		{% endif %}
		<span style="color:grey;">{{ parent.od|truncatechars:30 }}</span>
		<p style="margin-top:.3em;"></p>
		<button class="tabsarakaro">isko dekho</button>
		</a>&nbsp;&nbsp;
		<a href="{% url 'cross_comment_notif' parent_pk user.id 1 1 %}"><button class="crossnotification"><b>X</b></button></a>
		</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
				<span class="span"><b>home</b> ki chat:</span>
		{% endif %}
	{% else %}
			<table>
			<tr><td>
			{% if authenticated %}
				{% if random < 3 %}
					<span class="span"><b>Top</b> damadam stars ki list <a href="{% url 'top_photo' %}#section0"><button class="toplist"><b>ye hai</b></button></a></span><hr size=1 COLOR="#ff9933">
				{% else %}
					{% if username == newest_user.username %}
					<span class="span"><b>Top</b> damadam stars ki list <a href="{% url 'top_photo' %}#section0"><button class="toplist"><b>ye hai</b></button></a></span><hr size=1 COLOR="#ff9933">
					{% else %}
						{% if score > 120 %}
						<a href="{% url 'repnick' newest_user.id %}"><button class="crossnotification">X</button></a>
						{% endif %}
					<span class="homechat"><b> {{ newest_user.username }}</b> new hai, isko <a href="{% url 'welcome_pk' pk=newest_user.pk %}"><button class="jawab"><b>mithai bhejo</b></button></a></span><hr size=1 COLOR="#3cb7dd">
					{% endif %}
				{% endif %}
			{% else %}
				<span style="color:purple;"><a href="{% url 'register_login' %}#section0"><u>Account bana</u></a> kr yahan chat karo:</span>
			{% endif %}
			</td></tr>
			</table>
	{% endif %}
		<p style="margin-top:.5em;">
		{% if is_paginated %}
		<span start="{{ page_obj.start_index }}">
		{% else %}
		<span>
		{% endif %}
		</p>

{% for link in links %}
	
	{% if forloop.counter == 8 %}
		{% if not show_current and not show_next %}
			<!-- nothing to show -->
		{% elif show_current and not show_next %}
			<span class="namaz2"><b style="color:#179b36;">{{ current_namaz }}</b> parhne ke baad ye button dabao:</span>&nbsp;
			<a href="{% url 'salat_tutorial_init' current_namaz %}">
			<img src="{{ STATIC_URL }}img/tick.png" alt="no pic" style="margin-bottom:-0.2em;" width="24" height="24"></a>&nbsp;<br>
			<hr size=1 COLOR="#3cb7dd" class="imagemargin">
		{% elif not show_current and show_next %}
			<div class="namaz">{% if authenticated %}<b style="color:#179b36;">{{ next_namaz }}</b> ka time <b style="color:#179b36;">{{ next_namaz_start_time }}</b> ke kuch deir baad ho ga.{% else %}<b style="color:#179b36;">{{ next_namaz }}</b> ka time <b style="color:#179b36;">{{next_namaz_start_time }}</b> ke baad ho ga{% endif %}<br>{% if authenticated %}{{ next_namaz }} parh kr yahan uska <a href="{% url 'salat_ranking' %}#section0"><button class="namazbutton"><b>record save krna</b></button></a>{% else %}Namaz parhna na bhoolna!{% endif %}&nbsp;
			</div><hr size=1 COLOR="#3cb7dd">
		{% else %}
			<!-- nothing to show -->
		{% endif %}
	{% endif %}
	{% if link.c == '2' %}
		<div class="new" >
		<span style="font-size:80%;color:#765989;"><b>(new) </b></span><a href="{% url 'profile' slug=link.n %}#section0">
		{% if link.av != 'None' %}
			<img src="{{ link.av|thumbedge }}" alt="no pic" width="22" height="22"></img>
		{% else %}
			<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22"></img>
		{% endif %}<span style="font-size:120%;">
		{{ link.n }}</span>
			
			{% if link.n in checked %}
		    	<span class="pinkstar"><b>*</b></span>
		    {% endif %}
		    
		</a><span class="newmehfil"> ki new <b>mehfil</b> mein gup lagao: <a href="{% url 'public_group' slug=link.m %}" class="newmehfil2" ><u>{{ link.de }}</u></a></span><span class="newmehfil3"><bdi>, {{ link.t|human_time }}</bdi></span>
		<p><hr size=1 COLOR="#3cb7dd"></p>
		</div>
	{% elif link.c == '6' %}
	<div style="margin-top:-1em;padding-top:1em;">
		{% if link.aw == '1' and link.h > 7 %}
	    	{% if link.v < -2 %}
		    	<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		    {% elif link.v < -1 %}
			    {% if link.i %}
			    <img src="{{ link.i|thumbedge }}" class="uploadedphoto"></img>
			    {% else %}
			    <img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			    {% endif %}
			{% else %}
			    {% if link.i %}
			    <a href="{% url 'bari_photo_help' link.pi %}#section0"><div class="barriphoto">[barri photo]</div></a><br>
			    <a href="{% url 'see_photo_pk' link.pi %}#section0">
			    <img class="barriphoto2" src="{{ link.i|photoedge }}"></img></a>
			    {% else %}
			    <img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			    {% endif %}
		    {% endif %}    
	    	<br>
		{% endif %}
		<a href="{% url 'profile' link.n %}#secton0">
		{% if link.av != 'None' %}
			<img src="{{ link.av|thumbedge }}" alt="no pic" width="22" height="22"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22"></img>
		{% endif %}
		<span style="font-size:110%;">
		{{ link.n }}</span>
		    		<span style="font-size:85%;">
		{% if authenticated and score > 25 %}				
			{% if link.s < 0 %}
		    	<span style="color:#18A018;">(1)</span>
		    {% else %}
		    	<span style="color:#18A018;">({{ link.s }})</span>
			{% endif %}
		{% endif %}
		</span>
			{% if link.n in checked %}
		    	<span class="pinkstar"><b>*</b></span>
		    {% endif %}</a>:<a name="section{{ forloop.counter }}"></a>&nbsp;
		    {% if not link.aw == '1' or not link.h > 7 %}
		    <a href="{% url 'see_photo_pk' link.pi %}">
		    {% if link.v < -2 %}
		    	<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		    {% elif link.v < -1 %}
			    {% if link.i %}
			    <img src="{{ link.i|thumbedge }}" class="uploadedphoto"></img>
			    {% else %}
			    <img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			    {% endif %}
		    {% else %}
			    {% if link.i %}
			    <img src="{{ link.i|thumbedge }}" class="uploadedphoto"></img>
			    {% else %}
			    <img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			    {% endif %}
		    {% endif %}
		    </a>
		    {% endif %}
		    <span class="spanemoticons"><bdi>{% emoticons %}{{ link.de }}{% endemoticons %}</bdi></span>
			
				<span class="time"><bdi>, {{ link.t|human_time }}</bdi>
	{% if authenticated %}
		{% if link.dv == '1' %}
		<a href="{% url 'device_help' 1 %}">&nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic" width="7" height="12"></img></a>
		{% elif link.dv == '2' %}
		<a href="{% url 'device_help' 2 %}">&nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic" width="7" height="12"></img></a>
		{% elif link.dv == '4' %}
		<a href="{% url 'device_help' 4 %}">&nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic" width="14" height="11"></img></a>
		{% elif link.dv == '5' %}
		<a href="{% url 'device_help' 5 %}">&nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic" width="7" height="12"></img></a>
		{% elif link.dv == '3' %}
		<a href="{% url 'device_help' 3 %}">&nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic" width="17" height="13"></img></a>
		{% else %}
		{% endif %}
	{% endif %}
		</span>
		<p style="margin-top:.5em;">
	{% if link.aw == '1' and link.h|add:0 > 7 %}
		<a href="{% url 'comment_pk' pk=link.pi origin='6' ident=link.l %}">
	{% else %}
		<a href="{% url 'comment_chat_pk' pk=link.pi ident=link.l %}">
	{% endif %}
		<button class="tabsarakaro">
		{% if link.pc|add:0 > 1 %}
		<b>{{ link.pc }}</b>&nbsp;&nbsp;tabsrey
		{% elif link.pc|add:0 == 1 %}
		<b>1</b> tabsra
		{% else %}tabsra kro
		{% endif %}
		</button></a>
		<br>
		{% if can_vote and link.n != user.username and not link.pi|photo_voted:user.username %}
		<a href="{% url 'photo_vote' link.pi 1 3 link.l %}"><button class="zabardast">zabrdast</button></a><br>
		<a href="{% url 'photo_vote' link.pi 0 3 link.l %}"><button class="bekaar">bekaar</button></a>
		{% endif %}
		</p>

		{% if authenticated %}
		<p style="margin-top:.5em;">
		{% endif %}
		{% if authenticated and can_vote %}
			{% for key,value in link.pi|get_photovotes %}
			<a href="{% url 'profile' key %}#section0" style="font-size:80%;font-weight:bold;">{{ key }}</a>{% if key in checked %}<span class="pinkstar">*</span>{% endif %}
				{% if value == 1 %}
				<span style="font-size:80%;color:green;">ko ye photo <b>zabrdast</b> lagi</span>
				{% elif value == 0 %}
				<span style="font-size:80%;color:red;">ko ye photo <b>bekaar</b> lagi</span>
				{% endif %}<br>
			{% endfor %}
		</p>
		{% endif %}

	<p><hr size=1 COLOR="#ff9933"></p>
	</div>
	{% else %}
		<a href="{% url 'profile' slug=link.n %}#section0">
		{% if link.av != 'None' %}

			<img src="{{ link.av|thumbedge }}" alt="no pic" width="22" height="22"></img>

		{% else %}
		
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22"></img>
		
		{% endif %}

			<span class="bigger" ><bdi>{{ link.n }}</bdi></span>
		
		<span style="font-size:85%;">
		{% if authenticated and score > 25 %}				
			{% if link.s < 0 %}
		    	<span style="color:#18A018;">(1)</span>
		    {% else %}
		    	<span style="color:#18A018;">({{ link.s }})</span>
			{% endif %}
		{% endif %}
		</span>{% if link.n in checked %}
		    	<span class="pinkstar"><b>*</b></span>
		    {% endif %}</a>:<a name=""></a>
    	<span class="emoticons"><bdi>{% emoticons %}{{ link.de }}{% endemoticons %}</bdi></span>
			<a name="section{{ forloop.counter }}"></a> 
		<span class="time"><bdi>, {{ link.t|human_time }}</bdi>
	{% if authenticated %}
		{% if link.dv == '1' %}
		<a href="{% url 'device_help' 1 %}">&nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic" width="7" height="12"></img></a>
		{% elif link.dv == '2' %}
		<a href="{% url 'device_help' 2 %}">&nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic" width="7" height="12"></img></a>
		{% elif link.dv == '4' %}
		<a href="{% url 'device_help' 4 %}">&nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic" width="14" height="11"></img></a>
		{% elif link.dv == '5' %}
		<a href="{% url 'device_help' 5 %}">&nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic" width="7" height="12"></img></a>
		{% elif link.dv == '3' %}
		<a href="{% url 'device_help' 3 %}">&nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic" width="17" height="13"></img></a>
		{% else %}
		{% endif %}
	{% endif %}
		</span>
		<p style="margin-top:.5em;">
				{% if link.cc|add:0 > 0 %}
						<a href="{% url 'reply_pk' link.l %}"><button class="jawab" ><b>{{ link.cc }}</b>&nbsp;&nbsp;jawab</button></a>
				{% else %}
						<a href="{% url 'reply_pk' link.l %}"><button class="jawab">isko jawab do</button></a>
				{% endif %}
			<br>
		{% if can_vote and link.n != user.username and not link.l|voted:user.username %}
			<a href="{% url 'vote' link.l ident forloop.counter 1 %}"><button class="jhappi">jhappi</button></a>
			{% if user.username in checked %}<a href="{% url 'vote' link.l ident forloop.counter 2 %}" style="font-size:90%;color:green;"><u>+50</u></a>{% endif %}<br>
			<a href="{% url 'vote' link.l ident forloop.counter 0 %}"><button class="chupair">chupair</button></a>
			{% if user.username in checked %}<a href="{% url 'vote' link.l ident forloop.counter 3 %}" style="font-size:90%;color:red;"><u>-50</u></a>{% endif %}<br>
		{% endif %}
		</p>
		{% if authenticated %}
		<p style="margin-top:.5em;">
		{% endif %}
		{% if authenticated and can_vote %}
				{% for key,value in link.l|get_votes %}
					<a href="{% url 'vote_or_prof' link.l link.w key %}#section0" style="font-size:80%;font-weight:bold;">{{ key }}</a>{% if key in checked %}<span class="pinkstar">*</span>{% endif %}
					{% if value == 1 %}
						<span style="font-size:80%;color:green;">ne barri si <b>jhappi</b> di</span>
					{% elif value == -1 %}
						<span style="font-size:80%;color:#FF1A1A;">ne bhare bazar me <b>chupair</b> mari</span>
					{% elif value == 2 %}
						<span style="font-size:80%;color:green;">ne zordar <b>jhappi</b> di <b>(+50)</b></span> 
					{% elif value == -2 %}
						<span style="font-size:80%;color:#FF1A1A;">ne <b>chupair</b> mr mr kr nani yad kara di <b>(-50)</b></span>
					{% endif %}<br>
				{% endfor %}
		</p>
		{% endif %}
		<p><hr size=1 COLOR="#3cb7dd"></p>
	{% endif %}
{% endfor %}
</div>
</span>

{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0"><button class="wapis"><bdi>wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0"><button class="aagey"><bdi>aagey</bdi></button></a>
    {% endif %}
</div><br>
<br><br>
{% endif %}
<br>
{% endblock %}