{% extends "base.html" %}
{% load emoticons_tags %}
{% load get_item %}
{% load get_photo_object %}
{% load get_text_object %}
{% load get_transparent_buttons_js %}
{% load get_big_fan_button %}
{% load get_big_vote_button %}
{% load get_big_group_button %}
{% load get_big_send_button %}
{% load get_big_external_share_button %}
{% load get_big_photo_comment_button %}
{% load get_big_home_reply_button %}
{% load get_photo_comments_section %}
{% load get_home_photo_comment_bar %}
{% load get_home_publicreply_bar %}
{% load get_home_replies_section %}
{% block content %}
<head><title>Home | Damadam</title></head>
<style>body{background:#f0f3f4}</style>
<main style="display:block;max-width:750px;margin:0 auto;width:97%;position:relative;">

<a name="error"></a>
{% if home_direct_reply_error_string %}
	<div style="background:tomato;text-align:center;color:white;padding:5px;border-radius:7px;border:2px solid whitesmoke" class="cxl lsp mbs">
		{{ home_direct_reply_error_string }}
	</div>
{% endif %}

{% if newbie_flag %}
	{% include "newbie_rules.html" with static_url=STATIC_URL lang=newbie_lang origin='3' %}
{% else %}

	{% load get_notification_bar %}

	{% include "verification/mobile_verification_bar.html" with is_auth=is_auth is_user_verified=mobile_verified static_url=STATIC_URL %}

	{% notification_bar notification=process_notification origin='19' single_notif_error=single_notif_error user=user user_id=ident females=checked static_url=STATIC_URL random=random newest_user=newest_user lang=lang sort_by=sort_by is_home=True sk=sk %} 
{% endif %}

{% include "topics/topics_navbar.html" with section='home' %}
<a name="shared"></a>
<div class="mbl fx fxjscn fxaibl">
	<a href="{% url 'home' %}" class="mrs" style="display:inline-block"><button class="rf rf-bg" style="background-image: url({{ STATIC_URL }}img/refresh.svg);vertical-align:text-bottom;width:22px;height:22px" type="submit">&nbsp;</button></a>
	<h1 class="cxl lsp clb" style="margin:0;display:inline-block">Home posts <span class="cs">(page {{ page.number }})</span>:</h1>
</div>

{% for link in link_list %}

{% if forloop.counter == 4 %}

	{% if mobile_verified %}
	<div class="cxl clb lsp sp mbl" style="text-align:center;background:#fff169;padding:10px;border-radius:12px">
		<img src="{{ STATIC_URL }}img/cool.svg" width="60" height="60" alt="cool">
		<div class="mbs" style="font-weight:bold">Voting ke zariye save karein apni pasandeeda posts!</div>
		<a href="{% url 'coming_soon' %}"><button class="mbs cs sp bcb pg_ok_res" style="color:white;width:90%;height:45px;border:1px solid #accbaf;border-radius:5px"><b>Mazeed Malumaat</b></button></a>
	</div>
	{% endif %}

{% elif not on_fbs %}
	
	{% if forloop.counter == 2 %}

		<aside class="mbl" id="adcontainer" style="text-align:center;background:#f0f3f4">
			<ins class="adsbygoogle"
			    style="display:inline-block;width:320px;height:100px"
			    data-ad-client="ca-pub-2568547635306983"
			    data-ad-slot="9571801752"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</aside>

	{% endif %}

{% endif %}

{% with replyforms|get_item:link.h as replyform %}

{% if link.c == '6' %}
	
<article class="mbl" style="display:block;border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white">
	<a name="section{{ forloop.counter }}"></a>

	{% photo_object pid=link.i ooid=link.si img_url=link.iu img_thumb=link.it caption=link.d|emoticons raw_caption=link.d origin=3 upload_time=link.t machine_time=link.mt oun=link.su av_url=link.sa vsc=link.nv is_fbs=link.fbs home_hash=link.h static_url=STATIC_URL is_pinkstar=link.p %}

	<section class="mbl" style="display:block">
	<div style="flex-wrap:wrap" class="fx fxjscn fxaicn cxs sp cgy">
		{% big_vote_button vote_type='photo_vote' obid=link.i origin='3' net_votes=link.nv base_color='rgb(24, 180, 136)' ooid=link.si static_url=STATIC_URL %}
		{% big_fan_button own_user_id=ident target_user_id=link.si object_id=link.i origin='3' home_hash=link.h fan_list=fanned static_url=STATIC_URL %}
		{% big_group_button own_id=ident target_id=link.si parent_object_id=link.i object_type='photo' origin='3' target_username=link.su home_hash=link.h %}
		{% big_send_button photo_owner_username=link.su photo_id=link.i photo_owner_id=link.si photo_caption=link.d origin='3' home_hash=link.h img_url=link.iu static_url=STATIC_URL %}
		{% big_external_share_button owner_username=link.su on_opera=on_opera photo_id=link.i origin='3' static_url=STATIC_URL %}
		{% big_photo_comment_button photo_id=link.i origin='3' comm_count=link.cc static_url=STATIC_URL %}
	</div>
	</section>

	<section style="display:block" class="mls mrs mbl">
	{% home_photo_comment_bar photo_id=link.i photo_owner_id=link.si lang=lang sort_by=sort_by user_id=ident comment_form=comment_form origin='3' home_hash=link.h sk=sk %}
	</section>

	<section style="display:block" class="mls mbl"> 
	{% photo_comments_section raw_comments=link.cb static_url=STATIC_URL self_user_id=ident origin='3' home_hash=link.h %}
	</section>

</article>
	
{% elif link.c == '1' or link.c == '2' %}
<article class="mbl" style="display:block;border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white">
	<a name="section{{ forloop.counter  }}"></a>
		<section style="display:block" itemscope itemtype="http://schema.org/SocialMediaPosting">
		{% text_object obid=link.i ooid=link.si text=link.d|emoticons|linebreaksbr raw_text=link.d origin=3 upload_time=link.t machine_time=link.mt oun=link.su av_url=link.sa vsc=link.nv home_hash=link.h static_url=STATIC_URL is_pinkstar=link.p alignment=link.c topic=link.tn topic_url=link.url show_topic='1' c1=link.c1 c2=link.c2 %}
		</section>
		<section class="mbl" style="display:block">
		<div style="flex-wrap:wrap" class="fx fxjscn fxaicn cxs sp cgy">
		{% big_vote_button vote_type='vote' obid=link.i origin='3' net_votes=link.nv base_color='rgb(24, 180, 136)' ooid=link.si static_url=STATIC_URL %}
		{% big_fan_button own_user_id=ident target_user_id=link.si object_id=link.i origin='3' home_hash=link.h fan_list=fanned static_url=STATIC_URL %}
		{% big_group_button own_id=ident target_id=link.si parent_object_id=link.i object_type='link' origin='3' target_username=link.su home_hash=link.h %}
		{% big_home_reply_button link_id=link.i comm_count=link.cc static_url=STATIC_URL %}
		</div>
		</section>

		<section style="display:block" class="mls mrs mbl">
		{% home_publicreply_bar link_pk=link.i link_writer_pk=link.si lang=lang sort_by=sort_by user_id=ident replyform=replyform origin='3' sk=sk %}
		</section>

		<section style="display:block" class="mts mls mbl">
		{% home_replies_section raw_replies=link.cb static_url=STATIC_URL self_user_id=ident home_hash=link.h %}
		</section>

</article>
{% else %}
<!-- nothing -->
{% endif %}

{% endwith %}

{% empty %}
	<div style="text-align:center;padding:10px;background-color:white" class="sp bizcard mbl clb">Kuch mazedar baat <a class="cb" href="{% url 'link_create' %}"><b>share karein</b></a>!</div>

{% endfor %}

</main>
	<div class="mbl fx fxjscn">
		{% if page.has_previous %}
	    <div style="padding:0 10px">
	    <a href="?page={{ page.previous_page_number }}#section0"><button itemprop="url" class="pg_ok_res" style="background:0 0;border:none;padding:0"><img src="{{ STATIC_URL }}img/back_page.svg" width="40" height="40"></button></a>
	    </div>
	    {% endif %}
	    {% if page.has_next %}
	    <div style="padding:0 10px">
	    <a href="?page={{ page.next_page_number }}#section0"><button class="pg_ok_res" style="background:0 0;border:none;padding:0" itemprop="url"><img src="{{ STATIC_URL }}img/forward_page.svg" width="40" height="40"></button></a>
	    </div>
	    {% endif %}
	</div>

{% transparent_buttons_js ident=ident static_url=STATIC_URL %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}