{% extends "base.html" %}
{% block content %}

<div class="margin">
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
    <p>{{ 'Nickname:' }}
      {{ form.username }}</p>
  
    <p>  {{ 'Password:' }}
      {{ form.password }}</p>
   
  
  <input class="button" style="background-color:white;color:#1947D1;border:solid 1px orange;float:left;" type="submit" value="OK">
  
</form>
<br>
</div>

{% endblock %}
