{% extends "base_signup.html" %}
{% block content %}
<div style="margin-top: 5%;">
<h1 class="bw mbs" style="color:#43A047;text-align:center;text-shadow:1px 1px #8d6e63;">دمادم</h1>
<div class="signup mbs">
<div style="background-color:#00c853;overflow: auto; border-radius:6px;padding:10px 5px 10px 5px;">
{% if form.errors %}
<div class="mts mbs">
<span style="color:#ffeb3b;text-shadow:1px 1px #009940;" class="cxl">نام یا پاس ورڈ میں غلطی ہے۔ پھر سے لکھو</span>
</div>
<hr size=1 COLOR="#ffeb3b">
{% endif %}
<form method="post" action="{% url 'login_backdoor' %}">
  <input type="hidden" name="next" value="/">
 	
 	<div class="mtl mbl">
    <b class="cxl" style="color:white;text-shadow:1px 1px #009940;">:نام</b><br>
      {{ form.username }}
  	</div>
  	<div class="mbl">
    <b class="cxl" style="color:white;text-shadow:1px 1px #009940;">:پاس ورڈ</b><br>
      {{ form.password }}
   </div>
  
  <input class="mts mbl" style="color:white;background-color:#ffd600;border:solid 1px #e6bf00;width:4em;font-size:120%;font-weight:bold;text-shadow:1px 1px #b39500;" type="submit" value="OK"><br>
  
</form>
</div>
</div><br>
<a href="{% url 'unauth_home_new_ur' %}#section0"><button style="margin:auto; display:block;color:white;background-color:#bdbdbd;border:solid 1px #9e9e9e;font-size:120%;font-weight:bold;text-shadow:1px 1px #808080;">&nbsp;&nbsp;نیا اکاؤنٹ&nbsp;&nbsp;</button></a><br>
</div>
{% endblock %}
