{% extends "base.html" %}
{% block content %}
<div class="margin">
<h2 class="cg">Logout kar ke ap kabhi bhi Damadam se bahir ja saktey ho</h2>

<span class="cgy">Is se points nahi cut hotay. Aur jab wapis ana ho tou password dal ke login kar lo</span><br>
<div class="mt">
<span class="cgy">Agr password bhool gaye tou <b>Password Yad Nahi</b> ka option nazr aye ga, usko use kar ke login kar lena</span><br>
</div>
<a href="{% url 'bahirniklo' %}"><button class="btn bcg bl mtl mbs">Theek hai</button></a>
</div>
<br><br>
{% endblock %}