{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<head><title>Logout reconfirm | Damadam.pk</title></head>
<div class="margin">
<h2 class="cg">Kya ap waqai logout karna chahtey hein? {% emoticons %}.k1.k2.k3.k4{% endemoticons %}</h2>

<form method="POST" action="{% url 'logout_then_login' %}" style="display:inline;">
{% csrf_token %}
<button class="btn bcgy bl mtl mbl">Haan</button>
</form>

<br>
<a href="{% url 'home' %}"><button class="btn bcg bl mtl mbs">Nahi</button></a><br>
<hr size=1 COLOR="#ffeb3b">
<span class="cs cgy">Kuch browsers (e.g. Opera Mini) logout ke baad bhi back kar ke website ke pages dikha detay hain. In browsers pe logout karne ke baad browser close kar dena chahiye</span>
</div>
<br><br>
{% endblock %}