{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<head><title>Logout reconfirm | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>
<h1 class="cxl clb" style="text-align:center">Are you sure?</h1>
<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:450px;width:92%;margin:0 auto;overflow: hidden;text-align:center">
<div class="cxl lsp">Kya ap waqai logout karna chahtey hein? {% emoticons %}.k1.k2.k3.k4{% endemoticons %}</div>
<form method="POST" action="{% url 'logout_then_login' %}" style="display:inline;">
{% csrf_token %}
<button class="btn bcgy bl mtl pg_ok_res mrs" style="height:26px">Haan</button>
</form>
<a href="{% url 'home' %}"><button class="mls btn bcg bl mtl mbs pg_ok_res" style="height:25px">Nahi</button></a><br>
<hr size=1 COLOR="#ffeb3b">
<span class="cs cgy sp lsp">Kuch browsers (e.g. Opera Mini) logout ke baad bhi 'back' ke zariye website ke pages dikha detay hain. In browsers pe logout karne ke baad browser close karein</span>
</div>
<br><br>
{% endblock %}