<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<style>
    body {
    	background-color: #FF7400;
    	font-family:Arial;
    }
</style>
<head>
    <title>Damadam Maintainance!</title>
</head>
<body>
    <div style="margin:auto;max-width:90%;border: 2px dashed #ffffff;border-radius:4px;padding:5px 5px 5px 5px;background-color:#FF7400;padding-bottom:2em;">
    	<br>
        <h1 style="color:white;text-align:center;font-size:180%;">Damadam jald wapis aa raha hai, khushbu laga ke!</h1>
        <img src="/maintenance.png" style="margin:auto;display: block;margin-top:1em;max-width:150px;">
        <br>
        <h2 style="color:white;text-align:center;">Ab Damadam ko 5 October 2017 tuk jharoo lag raha hai (Thori kum farigh tasveerien dalni thein Boss)</h2>
        <h3 style="color:#FFF176;text-align:center;">Safai key baad scene on kerte hein phir say!</h3>
    </div>
</body>
</html>
