{% extends "base.html" %}
{% block content %}
<head><title>Manage {{ target_uname }} | Damadam.pk</title></head>
<style>body{background:#f0f3f4}</style>

<h1 class="cxl lsp clb" style="text-align:center">{{ target_uname }} management options:</h1>

<article class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;padding-top:10px;max-width: 400px;width:975;margin-left:auto;margin-right:auto;text-align:center">

<!-- Cut Score -->
<form method="POST" action="{% url 'cut_user_score' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="vt mtl btn bxl" style="color:tomato;height:38px;border:1px solid tomato">Cut Score</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="ctscr" class="btn bcr cs bxs mll">?</button></form><br>
<!-- Kick Out -->
<form method="POST" action="{% url 'kick_user' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="vt btn bxl mtl" style="color:tomato;height:38px;border:1px solid tomato">Kick Out</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="kout" class="btn bcr cs bxs mll">?</button></form><br>
<!-- Kick and Ban -->
<form method="POST" action="{% url 'kick_ban_user' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="vt btn bxl mtl" style="color:tomato;height:38px;border:1px solid tomato">Kick and Ban</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="kban" class="btn bcr cs bxs mll">?</button></form><br>
<!-- Ghost Ban -->
<form method="POST" action="{% url 'hell_ban' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="vt btn bxl mtl" style="color:tomato;height:38px;border:1px solid tomato">Ghost Ban</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="ghban" class="btn bcr cs bxs mll">?</button></form><br>
<!-- Check Clones -->
<form method="POST" action="{% url 'show_clones' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="vt btn bxl mtl" style="color:darkorange;height:38px;border:1px solid darkorange">Check IP Clones</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="oclone" class="btn bco cs bxs mll">?</button></form><br>
<!-- Check Sybils -->
<form method="GET" action="{% url 'user_sybil_history' target_id 'sybils' %}" style="display:inline"><button type="submit" class="vt btn bxl mtl" style="color:teal;height:38px;border:1px solid teal">Check Sybils</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="sybil" class="btn bct cs bxs mll">?</button></form><br>
<!-- Check Rev Sybils -->
<form method="GET" action="{% url 'user_sybil_history' target_id 'reverse-sybils' %}" style="display:inline"><button type="submit" class="vt btn bxl mtl" style="color:teal;height:38px;border:1px solid teal">Check Rev Sybs</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="revsyb" class="btn bct cs bxs mll">?</button></form><br>
<!-- View likes history -->
<form method="GET" action="{% url 'vote_history_admin_view' target_id %}" style="display:inline"><button type="submit" class="vt btn bxl mtl" style="color:teal;height:38px;border:1px solid teal">Check Likes</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="vhist" class="btn bct cs bxs mll">?</button></form><br><br>
<!-- Nevermind -->
<a href="{% url 'user_profile' target_uname %}#section0"><button class="btn bcgy mtl pg_ok_res sp" style="width:100%;height:40px;font-weight:bold;border-top-right-radius:0;border-top-left-radius:0">BACK</button></a>
</article>
<br><br>
{% endblock %}
