{% extends "base.html" %}
{% block content %}
<div class="margin clb">
<h2><span class="ct">{{ target_uname }}</span> management options:</h2><br>
<!-- Cut Score -->
<form method="POST" action="{% url 'cut_user_score' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="btn bcr bl">Cut Score</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="ctscr" class="btn bcr cs bxs mll">?</button></form><br>
<!-- Kick Out -->
<form method="POST" action="{% url 'kick_user' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="btn bcr bl mtl">Kick Out</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="kout" class="btn bcr cs bxs mll">?</button></form><br>
<!-- Kick and Ban -->
<form method="POST" action="{% url 'kick_ban_user' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="btn bcr bl mtl">Kick and Ban</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="kban" class="btn bcr cs bxs mll">?</button></form><br>
<!-- Ghost Ban -->
<form method="POST" action="{% url 'hell_ban' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="btn bcr bl mtl">Ghost Ban</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="ghban" class="btn bcr cs bxs mll">?</button></form><br>
<!-- Check Clones -->
<form method="POST" action="{% url 'show_clones' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" class="btn bco bl mtl">Check Clones</button></form>&nbsp;

<form method="POST" action="{% url 'manage_user_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="t_uname" value="{{ target_uname }}"><input type="hidden" name="t_id" value="{{ target_id }}"><button type="submit" name="htype" value="oclone" class="btn bco cs bxs mll">?</button></form><br>
<!-- Nevermind -->
<a href="{% url 'profile' target_uname %}#section0"><button class="btn bcgy bl mtl">Rehne Do</button></a>&nbsp;<br>
</div>
<br><br>
{% endblock %}
