{% extends "base.html" %}
{% block content %}
<div class="margin clb">
{% if target %}
	<b class="cl">Private mehfil mein log zaati chat karte hain</b><br>
	Kiya tum <b class="ct">{{ target.username }}</b> ke sath private mehfil banana chahte ho?<br>
	<span class="cs cgy">(Qeemat <b>500 points</b>)</span>
	<br>
	<form action="{% url 'mehfilcomment_help' %}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="photo_id" class="hidden_id" value="{{ photo_id }}">
	<input type="hidden" name="origin" class="hidden_id" value="{{ origin }}">
	<input type="hidden" name="target_id" class="hidden_id" value="{{ target.id }}">
	<button type="submit" name="decision" value="Haan" class="btn bcg bm mbl mtl">Haan</button><br>
	<button type="submit" name="decision" value="Nahi" class="btn bcr bm mbs">Nahi</button>
	</form>
{% else %}
	<h2>Is waqt mehfil ka mood kharab hai!</h2>
{% endif %}
</div>
<br><br>
{% endblock %}