{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<div class="margin clb">
<h2>Damadam ka sans nikal gya! {% emoticons %}:p{% endemoticons %}</h2>
{% if unique == 'none' %}
<a href="{% url 'group_page' %}">
<button class="btn bm bcg mbs">wapis</button></a>
{% else %}
<form method="POST" action="{% url 'priv_group' %}">{% csrf_token %}<button type="submit" name="private_uuid" value="{{ unique }}" class="btn bm bcg mbs">wapis</button></form>
{% endif %}
</div>
<br><br>
{% endblock %}