{% if show_bar %}
<div class="card dby clb cxl lsp mbs" style="background-color:#B3FFF1;border:1px solid #80FFE8;padding:7px">
	<span class="mrs" style="color:#006699">Verify your mobile number to win 500 points!</span>
	<form method="get" class="mrs" style="display:inline" action="https://www.accountkit.com/v1.0/basic/dialog/sms_login/">
	  <input type="hidden" name="country_code" value="PK">
	  <input type="hidden" name="app_id" value="1758220174446684">
	  <input type="hidden" name="locale" value="ur_PK">
	  <input type="hidden" name="debug" value=false>
	  <input type="hidden" name="redirect" value="https://damadam.pk/vun/">
	  <input type="hidden" name="state" value="{{ csrf }}">
	  <input type="hidden" name="fbAppEventsEnabled" value=true>
	  <input type="submit" class="mt ma sp" style="color:white;background-color:#006699;border:solid 1px #006699;font-size:100%" value="  OK  ">
	</form>
	<form action="{% url 'number_verification_help' %}#section0" style="display:inline" method="POST">
	  {% csrf_token %}
	  <input type="hidden" name="csrf" value="{{ csrf }}">
	  <input type="submit" class="cs sp" style="color:#006699;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px dotted #006699;background:0 0" value="help">
	</form>
</div>
{% endif %}