{% if show_bar %}
<div class="box dby clb">
<b class="cxl cg">500 points ka package!</b><br>
<div class="mt">
<span class="cl">SMS ke zariya apni real ID ke sath apna mobile number verify karwain, aur hasil karien <b class="cg">500 points</b>!</span><br>
<div class="mt">
<span class="cgy"><b>Tareeqa:</b><br>
<div class="mt mls">
OK dabain<br>Agli screen pe mobile number dalein<br>Apko SMS mein code aye ga<br>Yeh code dalein, verify ho gaya!</span>
</div>
</div>
</div>
<form method="get" class="mts" action="https://www.accountkit.com/v1.0/basic/dialog/sms_login/">
  <input type="hidden" name="country_code" value="PK">
  <input type="hidden" name="app_id" value="1758220174446684">
  <input type="hidden" name="locale" value="ur_PK">
  <input type="hidden" name="debug" value=false>
  <input type="hidden" name="redirect" value="https://damadam.pk/vun/">
  <input type="hidden" name="state" value="{{ csrf }}">
  <input type="hidden" name="fbAppEventsEnabled" value=true>
  <input type="submit" class="mtl mbl ma" style="color:white;background-color:#00c853;border:solid 1px #008035;font-size:110%;font-weight:bold;" value="  OK  ">
</form><br>
<div class="mbs">
<form action="{% url 'number_verification_help' %}#section0" method="POST">
 {% csrf_token %}
 <input type="hidden" name="csrf" value="{{ csrf }}">
<span class="cgy cs">Agr verify karwaney mein problem hai tou <button class="btn bcgy bl mts mbs">yeh parhein</button></span>
</form>
</div>
<span class="cgy cs">Apka mobile number na hi kisi ko diya jaye ga aur na hi apko call ki jaye gi</span>
</div>
{% endif %}