<div class="margin clb" style="color:white">
	<img style="width:124px;" src="{{ static_url }}img/eshop.png"><br>
	<br>
<!-- 	<a class="cl">Coming soon<a><a class="cxs bw">(Qmobile aur Damadam key ishteraq say)</a>
	<p class="cm bw">Kya aap Damadam points istemal kr ke new Qmobile phones pe Rs. 1000 discount chahtey hein?</p>
	<a class="cm bw">{{text_2}}</a><a class="cm">{{text_3}}</a> -->

	<b class="cxl" style="color:#FFEB3B">Coming Soon!</b>
	<p class="cl bw" style="color:white">Damadam points istemal karo aur pao discounted Qmobile phones!</p>
	<a class="cs" style="color:white"> * Rs. 1000 tuk ka discount</a>

</div>