{% extends "base_min.html" %}

{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


</style>

    <body>
    <div class="margin clb">
    <br><img style="width:124px;" src="{{ STATIC_URL }}img/question_guy.png"><br><br>

    <h2>Poochey gaiey sawalat!</h2>


<div class="clb"><b>
        - Phone meray pas kaise aiey ga?
        </b></div>
<div class="cgy" style="line-height:1.5;">   Dak ke zariye <a href="{% url 'delivery' 'faq'%}">(delivery ki tafseel)</a> 
 </div><br>


<div class="clb"><b>
        - Payment kaise kerni hai?
        </b></div>
<div class="cgy" style="line-height:1.5;">   Dak walay ko paise day kr phone le lein.</div>
 <br>

<div class="clb" style="line-height:1.5;"><b>
        - Phone China ka tuo nahi? <br>- Phone second hand tuo nahi?
        </b></div>
<div class="cgy" style="line-height:1.5;"> <b>Nahi.</b> Hamarey partner tamam phone brand ki company say khareedtay hein<a href="{% url 'warranty' 'faq'%}"> (warranty ki tafseel)</a></div>
 <br>

<div class="clb"><b>
        - Phone itna sasta kiyun hai
        </b></div>
<div class="cgy" style="line-height:1.5;">   Ye qeematien mehdood mudat key liay hein. Hum abhi gahak paker rahe hein.</div>
<br>

 <div class="clb"><b>
        - Phone mein ager koi masla ho?
        </b></div>
<div class="cgy mbl" style="line-height:1.5;">Aap aik saal tuk phone ki warranty dikha ker masla theek kerwa sakte hein <a href="{% url 'warranty' 'faq'%}">(warranty ki tafseel)</a></div>


    <hr size=1COLOR="#A9A9A9">
    <div class="mtl mbl">
    <div class="cl mrs" style="color:#1CB841;display:inline;">Inn ke illawa koi aur sawal hai?</div><a href="{% url 'buyer_info' 'main' %}"><button class="btn bcg mt bm cs">Haan</button></a>
    </div>

    <form method="POST" action="{% url 'buyer_details' 'main' %}" class="mtl">
    {% csrf_token %}
    <span class="cl" style="color:#1CB841;align:center;"><div >Sawal ka jawab mil gya tuo <b class="clb">{{model}}</b> khareedien phir? <button class="btn mt mbs bl bcb cs">Order Kerien</button></a></span>
    <br></div></form>
<br>
    </div>

</body>
</html>
    </body>
{% endblock %}