
	<style>
		.cheapoffer {
			border: 1px solid lightgrey;
			padding:3px;
			width: 100%;
			max-width:200px;
			border-radius:6px;
			margin:0 auto;

		}

		.productdescription {
			border: 1px solid lightgrey;
			padding:3px;
			margin-top:5px;
			margin-bottom:5px;
			width: 95%;
			border-radius:6px;
			max-width:300px;
			text-align:left;
			margin: 0 auto;
		}


		hr.style-offer {
		    border: 0;
		    height: 0;
		    border-top: 1px solid rgba(0, 0, 0, 0.1);
		    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		    margin:-2px;    
		}

		.ordernow{
			font-size:20px;
			color: ;
		}

		.background-box {
			line-height:25px;
			letter-spacing:0.05px; 
			width: 95%; 
			max-width:400px; 
			background-color:#F8F8F8; 
			padding:5px;
			box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset; 
			display:block;
			padding-top:1px;
		}
	</style>
{% extends "base.html" %}
{% load human_time %}
{% block content %}
<div class="ml">
<h2>Latest Query Requests</h2><hr />

	{% for order in orders %}
	{% if order.phonenumber %}
	
			<div class="clb"> 
				<div id="product-description" class="productdescription">
					<span itemprop="description">
					<b>Damadam Username:</b> <span class="mls">{{order.username}}</span>
					<hr width"100%" class="style-offer">
					<b>Name:</b> <span class="mls">{{order.firstname}}&nbsp;{{order.lastname}}</span>
					<hr width"100%" class="style-offer">
					<b>Time since:</b> <span class="mls ct">{{order.time|human_time}}</span>
					<hr width"100%" class="style-offer">
					<b>User_id:</b> <span class="mls">{{order.user_id}}</span>
					<hr width"100%" class="style-offer">
					<b>Model:</b> <span class="mls">{{order.model}}</span>
					<hr width"100%" class="style-offer">
					<b>Price:</b> <span class="mls">{{order.price}}</span>
					<hr width"100%" class="style-offer">
					<b>Phone:</b> <span class="mls">{{order.phonenumber}}</span>
					<hr width"100%" class="style-offer">
					<b>Address:</b> <span class="mls">{{order.address}}</span>
					<hr width"100%" class="style-offer">
					<form method="POST" action="{% url 'close_query' %}" class="mtl">
						{% csrf_token %}
						<input type="hidden" name="order_id" value="{{ order.order_id }}">
						<input type="hidden" name="user_id" value="{{ order.user_id }}">
						<br><button class="btn mtl mbs bm bcb cs" align="center" type="submit"><b>Close</b></button>
					</form>
					</span>
					<br>
				</div>
			</div>
			<br>
	{%endif%}
	{% endfor %}
  </div>
 

{% endblock %}