
<style>
.cheapoffer {
border: 1px solid lightgrey;
padding:3px;
width: 100%;
max-width:200px;
border-radius:6px;
margin:0 auto;
}

.productdescription {

border: 1px solid lightgrey;
padding:3px;
margin-top:5px;
margin-bottom:5px;
width: 95%;
border-radius:6px;
background-color:white;

}


hr.style-offer {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin:-2px;
    
}


.background-box {
 line-height:25px;
 letter-spacing:0.05px; 
 max-width:98%; 
 background-color:#F8F8F8; 
 padding:5px;
 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0) inset; 
 display:block
}

body {

	background: #E8F5E9;
	/*
		Fallback for Mini and other browsers
		that don’t support CSS gradients
	*/

   background: repeating-linear-gradient(
  to right,
 #FAFAFA,
  #FAFAFA 50px,
  #E8F5E9 50px,
  #E8F5E9 100px
);
 
 }

</style>

<head>
<title>
QMobile X36 for sale in Pakistan (Karachi, Lahore, Islamabad, Rawalpindi, Faisalabad) | Damadam.pk 
</title>
</head>

{% extends "base_min.html" %}
{% block content %}
<div style="text-align:center">
  <div class="margin clb" style="display:inline-block">
    <div  class="mbl background-box" style="text-align:center;background-color:#80acaa; border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, .1) inset;color:white">

  <!-- #################################HEADER############################################ -->



  {% if order_in_process %}
          <b>
          NetMobile Shop</b> 
          <br>
          Aap aik say ziada phone order nahi ker sakte <br> 
          <div class="cr" style="text-align:center; font-size:15px; margin:10px; margin-bottom:2px; background-color:#E1F5FE; border-radius:6px; padding:2px;">Note: Aap ka aik order hamarey pass pehle hee maujood hai</br>
          </div> 
  {% else %}
          <b>
          NetMobile Shop</b> <br> 
          <div style="text-align:center;">
            <div style="font-size:13px; text-align:left;display:inline-block">
              <li>Humesha Behtareen Rate</li>
              <li>Muft Ghar Mangwaien</li>
              <li>100% Genuine Cheez</li>
            </div>
          </div>
          <div style="text-align:center; font-size:15px; margin:10px; margin-bottom:2px; background-color:#a4cdcb; border-radius:6px; padding:5px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, .2)"><span style="color:white">
          Ye Qeematien Mehdood Mudat Key Liye Hein </span>
          </div> 
  {% endif %}
    </div>
  </div>
</div>



<div style="text-align:center">
  <div class="margin clb" style="display:inline-block">
    <div class="mbl background-box" style="text-align:center;background-color:#ffffff; border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, .15) inset">
      <div style="text-align:center; margin-top:10px;">
            <img  itemprop="image" style="width:100%;padding:5px;" src="{{ STATIC_URL }}img/af_qmob2.png" alt="afridi">
      </div>

      <form method="POST" action="{% url 'intermediate' 'x36' %}">
            {% csrf_token %}
            <input name="merch_id" value="13" type="hidden">
            <input class="btn mtl mbs bxl cl" style="background-color:#05f6cb;border-color:#1fbea1;" type="submit" value="Aagay">
            <br>
      </form>
    </div>






    <div class="mbl background-box" style="text-align:center;background-color:#ffffff; border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, .15) inset">
        <div >
          <span itemscope itemtype="http://schema.org/Product">
          <h1 class="cl" style="font-weight:normal"> 
            <b itemprop="brand">QMobile </b> 
            <b itemprop="name">Noir X36</b>
            <br>

            <span style="color:#df7d5b"> Price: Rs.5500</span><span style="color:grey;font-size:11px;"> (Free Delivery)</span>
          </h1>
        </span>
          <div class="cs" style="margin-top:-10px;">  
            One Year QMobile<a href="{% url 'warranty' 'x36'%}" > Warranty</a> <br>
            Payment:<a href="{% url 'delivery' 'x36'%}" > Cash On Delivery</a> <br>
          </div>
        </div>
        <div style="text-align:center; margin-top:10px;">
          <img  itemprop="image" style="  -webkit-filter:drop-shadow(5px 5px 5px #222);filter:drop-shadow(5px 5px 5px #222);max-width:212px;padding:5px;" src="{{ STATIC_URL }}img/x36offerred.png" alt="QMobile x36">
        </div><br>
        <br>
          <span class="cm"> QMobile Noir X36 Specs:</span>
          <div class="clb"> 
            <div style="text-align:center;">  
                <div class="productdescription" style="background-color:#80acaa;border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, .1) inset;color:white;" >
                  <!-- alternate color #aed6d4 -->
                  <div style="font-size:13px; text-align:left;display:inline-block">
                    <span itemprop="description" >
                    <b> Memory:</b> <span class="mls">8GB ROM, 1GB RAM</span>
                    <hr class="style-offer">
                    <b> Camera:</b> <span class="mls">5 MP (rear) + Smart Camera (front)</span>
                    <hr class="style-offer">
                    <b> Processor:</b> <span class="mls">1.2 GHz Quad Core</span>
                    <hr class="style-offer">
                    <b> Andriod:</b> <span class="mls">Android 7.0 Nougat</span>
                    <hr class="style-offer">
                    <b> Screen:</b> <span class="mls">4.0 inches</span>          
                    <hr class="style-offer">
                    <b> Battery:</b> <span class="mls">1200 mAh</span>
                    <hr class="style-offer">
                    <b> Internet:</b> <span class="mls">3G, Wifi</span>
                    <hr class="style-offer">
                    <b> Memory Card:</b> <span class="mls">32 GB Supported</span>
                    <hr class="style-offer">
                    <b> Warranty:</b> <span class="mls">1 Year QMobile Warranty</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          <form method="POST" action="{% url 'intermediate' 'x36' %}">
            {% csrf_token %}
            <input name="merch_id" value="13" type="hidden">
            <input class="btn mtl mbs bxl cl" style="background-color:#05f6cb;border-color:#1fbea1;" type="submit" value="Aagay">
            <br>
          </form>
      </div>


  <div class="mbl background-box" style="text-align:center;background-color:#ffffff; border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, .15) inset">
      <div style="text-align:center; margin-top:10px;">
            <img  itemprop="image" style="width:100%;padding:5px;" src="{{ STATIC_URL }}img/af_qmob1.png" alt="fahad mustafa">
      </div>

      <form method="POST" action="{% url 'intermediate' 'x36' %}">
            {% csrf_token %}
            <input type="hidden" name="merch_id" value="13">
            <input class="btn mtl mbs bxl cl" style="background-color:#05f6cb;border-color:#1fbea1;" type="submit" value="Aagay">
            <br>
      </form>
    </div>

    <div class="mbl background-box" style="text-align:center;background-color:#ffffff; border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, .15) inset">
    <b>QMobile Unboxing Video</b> 
      <div style="float: none; clear: both; margin: 2px auto;">
        <embed src="http://www.youtube.com/v/jcoHbt5KxqI?version=3&amp;hl=en_US&amp;rel=0&amp;autohide=1&amp;autoplay=0&amp;start=7" wmode="transparent" type="application/x-shockwave-flash" width="100%" allowfullscreen="true" title="Adobe Flash Player">

      </div>
      <form method="POST" action="{% url 'intermediate' 'x36' %}">
          {% csrf_token %}
          <input type="hidden" name="merch_id" value="13">
          <input class="btn mtl mbs bxl cl" style="background-color:#05f6cb;border-color:#1fbea1;" type="submit" value="Aagay">
          <br>
      </form>

  </div>





    <div class="mbl background-box" style="text-align:center;background-color:#ffffff; border-radius:6px;box-shadow:0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, .15) inset">
      <div style="text-align:center; margin-top:10px;">
            <img  itemprop="image" style="width:100%;padding:5px;" src="{{ STATIC_URL }}img/fm_qmob.png" alt="fahad mustafa">
      </div>

      <form method="POST" action="{% url 'intermediate' 'x36' %}">
            {% csrf_token %}
            <input type="hidden" name="merch_id" value="13">
            <input class="btn mtl mbs bxl cl" style="background-color:#05f6cb;border-color:#1fbea1;" type="submit" value="Aagay">      
            <br>
      </form>
    </div>

  </div>
</div>
{% endblock %}



