{% extends "base.html" %}
{% block content %}
<div class="margin">
<b class="cp">Apni mehfil ka mazedar sa topic dalo!</b><br>
<form method="post" action="" method="POST">
{% csrf_token %}

	<span class="cr">{{ form.topic.errors }}</span>
	{{ form.topic }}<br>

	<br><b class="cp">Mehfil ke rules kya rakhne hain?</b><br>  
	<span class="cr">{{ form.rules.errors }}</span>
	{{ form.rules }}<br>

	<br><b class="cp">Mehfil mien pics dalne ki ijazat deni hai?</b><br>
	<span class="cr">{{ form.pics_ki_ijazat.errors }}</span>
	{% for radio in form.pics_ki_ijazat %}<table><tr><label for="{{ radio.id_for_label }}"><td><span class="cp mll">{{ radio.choice_label }}</span><span style="margin:auto">{{ radio.tag }}</span></td></label></tr></table>{% endfor %}
	<br>
<button class="btn bm bcp mts" type="submit">OK</button>
</form>
</div>
<br><br>
{% endblock %}



