{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">
<h2 style="color:#404040;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);">Ye kam tum se nahi ho ga, choro yar {% emoticons %}:p{% endemoticons %}</h2>
<a href="{% url 'see_photo' %}#section0"><button style="text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);background-color:#ff9933;border:solid 1px #ff8000;color:white;width:5em;white-space:nowrap;font-size:90%;margin-top:1.25em;margin-bottom:1em;">wapis</button></a>
</div>
<br><br><br>
{% endblock %}