{% load s3 %}
{% load truncap %}
{% load emoticons_tags %}
	{% if notification %}
		{% if type_of_object == '2' %}
			
			<div class="mbl" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white">
			<div class="sp cs mbl cgy dbt" style="border-radius:0;text-align:center;padding:5px 0;border-bottom:2px solid whitesmoke">notification from <b>{{ parent.lrsn }}</b></div>
			{% if first_time_user %}
				<div class="mls ct cs mbs sp">Apko <b>welcome</b> kiya:</div>
			{% else %}
				<div class="mls mbl" style="overflow:hidden">
					<img src="{{ parent.ooa|s3:'thumb' }}" style="border-radius:50%" alt="pic" width="22" height="22">
					{% if parent.oon in checked %}&nbsp;<img src="{{ static_url }}img/pstar.svg" alt="*" height="10" width="10" style="color:deeppink">{% endif %}
					<span class="cgy sp"><bdi>{{ parent.oon }}</bdi></span>:<span class="cgy lsp sp">{% emoticons %} {{ parent.od|truncatechars:40 }}{% endemoticons %}</span>
					<form method="POST" class="mls" action="{% url 'publicreply_view' %}" style="display:inline;">
					{% csrf_token %}
					<button name="lid" class="btn nw bs cs bct sp pg_ok_res" type="submit" style="padding:2px 0" value="{{ parent_pk }}">post</button></form>
				</div>
			
				<div class="mls mbs ct cs sp">New jawab:</div>
			{% endif %}	
			
			<div class="mls mbl" style="overflow:hidden">
				<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold">
				<img src="{{ parent.lrau|s3:'thumb' }}" style="border-radius:50%" alt="pic" width="22" height="22">{% if parent.lrsn in checked %}&nbsp;<img src="{{ static_url }}img/pstar.svg" alt="*" height="10" width="10" style="color:deeppink">{% endif %}&nbsp;<bdi>{{ parent.lrsn }}</bdi></a>:<bdi class="clb lsp sp lsp">{% emoticons %} {{ parent.lrtx }}{% endemoticons %}</bdi><span class="cgy cxs sp mrs"><bdi>, {{ parent.lrti|human_time }}</bdi>
				</span>
			</div>
				{% if form.errors %}<span class="cr">{{ form.errors|show_error }}</span>{% endif %}
				<form method="POST" class="mts mrs mls" action="{% url 'unseen_reply' parent_pk %}">
					{% csrf_token %}
					<div class="box-with-button-right">
					<input type="hidden" name="sk" value="{{ sk }}">
					<input type="hidden" name="origin" value="{{ origin }}">
					<input type="hidden" name="lang" value="{{ lang }}">
					<input type="hidden" name="sort_by" value="{{ sort_by }}">
					<input type="hidden" name="lwpk" value="{{ parent.ooi }}">
					{{ form.home_comment }}
					<button class="btn bct bms sp pg_ok_res" type="submit">jawab&nbsp;do</button>
					</div>
				</form>
				<a href="{% url 'x_notif' parent_pk ident origin lang sort_by %}">
					<button class="btn mtl bs cs sp mbl mls pg_ok_res" style="padding:2px 5px;background:tomato">skip</button>
				</a>
			</div>
			
			
	{% elif type_of_object == '5' %}

	<div class="mbl" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white">
	<div class="sp cs mbl" style="border-radius:0;text-align:center;padding:5px 0;border-bottom:2px solid whitesmoke;background-color:#77ffd1;color:#306654">notification from <b>{{ parent.lrsn }}</b></div>

		<form class="mbl mls mrs" method="POST" action="{% url 'enter_personal_group' %}">
		{% csrf_token %}
		{% if ident|slugify == parent.id1 %}
			{% if parent.id2 == parent.anon1 or parent.id2 == parent.anon2 %}
				<button type="submit" name="tid" class="cl mrs" value="{{ parent.id2 }}" style="background:0 0;border:none;padding:0;color:#306654"><b>{{ parent.uname2|truncap }}</b>&nbsp;se 1 on 1</button>
			{% else %}
				<button type="submit" class="cl mrs" name="tid" value="{{ parent.id2 }}" style="background:0 0;border:none;padding:0;color:#306654"><b>{{ parent.uname2|truncatechars:15 }}</b> se 1 on 1</button>
			{% endif %}
			<button name="tid" style="background-color:#67B0FD;display:inline-block;padding:2px 3px;border-radius:3px;vertical-align:middle;border:none;" value="{{ parent.id2 }}">
			<div id="line"></div>
			<div id="line"></div>
			<div id="line" style="width: 8px;"></div>
			</button>
		{% else %}
			{% if parent.id1 == parent.anon1 or parent.id1 == parent.anon2 %}
				<button type="submit" name="tid" class="cl mrs" value="{{ parent.id1 }}" style="background:0 0;border:none;padding:0;color:#306654"><b>{{ parent.uname1|truncap }}</b>&nbsp;se 1 on 1</button>
			{% else %}
				<button type="submit" class="cl mrs" name="tid" value="{{ parent.id1 }}" style="background:0 0;border:none;padding:0;color:#306654"><b>{{ parent.uname1|truncatechars:15 }}</b> se 1 on 1</button>
			{% endif %}
			<button name="tid" style="background-color:#67B0FD;display:inline-block;padding:2px 3px;border-radius:3px;vertical-align:middle;border:none;" value="{{ parent.id1 }}">
			<div id="line"></div>
			<div id="line"></div>
			<div id="line" style="width: 8px;"></div>
			</button>
		{% endif %}
		</form>

		{% if parent.d == 'del' %}
			<div class="cs sp mbl mls mrs" style="color:#306654">New pegham:</div>
			<div class="mbs mls mrs">
				{% if parent.lrwi == parent.anon1 or parent.lrwi == parent.anon2 %}
					<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold"><bdi>{{ parent.lrsn|truncap }}</bdi></a>:
				{% else %}
					<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold"><img src="{{ parent.lrau|s3:'thumb' }}" alt="{{ parent.lrsn|slice:":1" }}" width="22" height="22" style="border-radius: 50%">&nbsp;<bdi>{{ parent.lrsn|truncatechars:15 }}</bdi></a>:
				{% endif %}
				<span class="sp cgy lsp mrs">msg mita dia gya</span>
			</div>
		{% else %}
			{% if parent.type == 'exited' %}
				<div class="cs sp mbs mls mrs">{% if parent.lrwi == parent.anon1 or parent.lrwi == parent.anon2 %}{{ parent.lrsn|truncap }}{% else %}{{ parent.lrsn|truncatechars:12 }}{% endif %} ne 1 on 1 chore di</div>
			{% elif parent.type == 'reentry' %}
				<div class="cs sp mbs mls mrs">{% if parent.lrwi == parent.anon1 or parent.lrwi == parent.anon2 %}{{ parent.lrsn|truncap }}{% else %}{{ parent.lrsn|truncatechars:12 }}{% endif %} chori hui 1 on 1 mein wapis aa gaya</div>
			{% elif parent.type == 'creation' %}
				<div class="cs sp mbs mls mrs">1 on 1 start karney ke liye neechay likhein:</div>
			{% elif parent.type == 'notif' %}
				<div class="cs sp mbl mls mrs" style="color:#306654">New permission:</div>
				<div class="mbs mls mrs" style="overflow:hidden">
				{% if parent.lrwi == parent.anon1 or parent.lrwi == parent.anon2 %}
					<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold">{{ parent.lrsn|truncap }}</a>&nbsp;<span class="cl clb lsp">{{ parent.lrtx }}</span>&nbsp;<img src="{{ static_url }}img/key.svg" class="mrs" style="width:22px;height:22px;vertical-align:middle"><span class="cxs cgy sp">{{ parent.lrti|human_time }}</span>
				{% else %}
					<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold"><img src="{{ parent.lrau|s3:'thumb' }}" alt="{{ parent.lrsn|slice:":1" }}" width="22" height="22" style="border-radius: 50%">&nbsp;{{ parent.lrsn|truncatechars:15 }}</a>&nbsp;<span class="cl clb lsp">{{ parent.lrtx }}</span>&nbsp;<img src="{{ static_url }}img/key.svg" class="mrs" style="width:22px;height:22px;vertical-align:middle"><span class="cxs cgy sp">{{ parent.lrti|human_time }}</span>
				{% endif %}
				</div>
			{% elif parent.type == 'action' %}
				<div class="cs sp mbl mls mrs" style="color:#306654">New emoji:</div>
				<div class="mbs mls mrs" style="overflow:hidden">
				{% if parent.lrwi == parent.anon1 or parent.lrwi == parent.anon2 %}
					<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold">{{ parent.lrsn|truncap }}</a>&nbsp;<span class="cl clb lsp">{{ parent.lrtx }}</span>&nbsp;<img src="{{ static_url }}img/sticker.svg" class="mrs" style="width:22px;height:22px;vertical-align:middle"><span class="cxs cgy sp">{{ parent.lrti|human_time }}</span>
				{% else %}
					<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold"><img src="{{ parent.lrau|s3:'thumb' }}" alt="{{ parent.lrsn|slice:":1" }}" width="22" height="22" style="border-radius: 50%">&nbsp;{{ parent.lrsn|truncatechars:15 }}</a>&nbsp;<span class="cl clb lsp">{{ parent.lrtx }}</span>&nbsp;<img src="{{ static_url }}img/sticker.svg" class="mrs" style="width:22px;height:22px;vertical-align:middle"><span class="cxs cgy sp">{{ parent.lrti|human_time }}</span>
				{% endif %}
				</div>
			{% elif parent.type == 'img' or parent.type == 'img_res' or parent.type == 'shared_img' %}
				<div class="cs sp mbl mls mrs" style="color:#306654">New photo:</div>
				<form class="mrs mls mbs" action="{% url 'enter_personal_group' %}" method="POST">
					{% csrf_token %}
					<button name="tid" style="background:0 0;padding:0;border:none" value="{{ parent.lrwi }}">
					{% if parent.h == 'no' %}
					<img src="{{ parent.rp|s3:'thumb' }}" alt="loading ..." class="cxs clb sp" height="60" style="border-radius:6px">
					{% else %}
					<img src="{{ static_url }}img/broken.svg" alt="loading ..." class="cxs clb sp" width="60" height="60" style="border-radius:6px">
					{% endif %}
					</button>
				</form>
				<div class="mls mrs mbs" style="overflow:hidden">
					{% if parent.lrwi == parent.anon1 or parent.lrwi == parent.anon2 %}
						<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold"><bdi>{{ parent.lrsn|truncap }}</bdi></a>:
					{% else %}
						<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold"><img src="{{ parent.lrau|s3:'thumb' }}" alt="{{ parent.lrsn|slice:":1" }}" width="22" height="22" style="border-radius: 50%">&nbsp;<bdi>{{ parent.lrsn|truncatechars:15 }}</bdi></a>:
					{% endif %}

					{% if parent.h == 'no' %}
						{% if parent.lrtx %}
						<span class="cl clb lsp mrs"><bdi>{% emoticons %}{{ parent.lrtx }}{% endemoticons %}</bdi></span><span class="cxs cgy sp">{{ parent.lrti|human_time }}</span>
						{% else %}
						<span class="sp lsp mrs"> .. ..</span><span class="cxs cgy sp">{{ parent.lrti|human_time }}</span>
						{% endif %}
					{% else %}
						<span class="sp lsp mrs"> .. ..</span>
					{% endif %}
				</div>
			{% else %}
				<div class="cs sp mbl mls mrs" style="color:#306654">New pegham:</div>
				<div class="mbs mrs mls" style="overflow:hidden">
				{% if parent.lrwi == parent.anon1 or parent.lrwi == parent.anon2 %}
					<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold"><bdi>{{ parent.lrsn|truncap }}</bdi></a>:
				{% else %}
					<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold"><img src="{{ parent.lrau|s3:'thumb' }}" alt="{{ parent.lrsn|slice:":1" }}" width="22" height="22" style="border-radius: 50%">&nbsp;<bdi>{{ parent.lrsn|truncatechars:15 }}</bdi></a>:
				{% endif %}
				<span class="cl clb lsp mrs"><bdi>{% emoticons %}{{ parent.lrtx }}{% endemoticons %}</bdi></span><span class="cxs cgy sp">{{ parent.lrti|human_time }}</span>
				</div>
			{% endif %}
			
		{% endif %}
		{% if parent.type == 'exited' %}
		<a href="{% url 'x_per_grp_notif' parent_pk parent.lrwi origin %}"><button class="btn mts bs bs cs sp mbl mls pg_ok_res" style="padding:2px 5px;background:tomato">skip</button>
		</a>
		{% else %}

		{% if form.errors %}<span class="mls mrs cr">{{ form.errors|show_error }}</span>{% endif %}
		{% if ident|slugify == parent.id2 %}
		<form method="POST" class="mts mrs mls" action="{% url 'unseen_per_grp' parent_pk parent.id1 %}">
		{% else %}
		<form method="POST" class="mts mrs mls" action="{% url 'unseen_per_grp' parent_pk parent.id2 %}">
		{% endif %}
			{% csrf_token %}
			<div class="box-with-button-right">
				<input type="hidden" name="sk" value="{{ sk }}">
				<input type="hidden" name="origin" value="{{ origin }}">
				<input type="hidden" name="loc" value="123">
				<input type="hidden" name="lang" value="{{ lang }}">
				<input type="hidden" name="sort_by" value="{{ sort_by }}">
				{{ form.personal_group_reply }}
				<button class="btn bms sp pg_ok_res" style="background-color:#306654" type="submit">jawab&nbsp;do</button>
			</div>
		</form>
		<a href="{% url 'x_per_grp_notif' parent_pk parent.lrwi origin %}"><button class="btn mtl bs bs cs sp mbl mls pg_ok_res" style="padding:2px 5px;background:tomato">skip</button>
		</a>
		{% endif %}
	</div>
	{% elif type_of_object == '3a' %}
	<!-- private -->
	<div class="mbl" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white">
	<div class="sp cs mbl cgy dbg" style="border-radius:0;text-align:center;padding:5px 0;border-bottom:2px solid whitesmoke">notification from <b>{{ parent.lrsn }}</b></div>
		<div class="mrs mls mbl lsp" style="overflow:hidden">
			<b class="cg cm">{% emoticons %}{{ parent.od|truncatechars:40 }}{% endemoticons %}</b><form method="POST" action="{% url 'priv_group' %}" style="display:inline">{% csrf_token %}<button style="height:22px" type="submit" name="private_uuid" value="{{ parent.l }}" class="btn nw bs cs sp bcg mls">mehfil</button></form>
		</div>
		{% if parent.rp != 'None' %}
		<div class="mbl" style="overflow:hidden;text-align:center;background:whitesmoke;border-top:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0">
			<img src="{{ parent.rp|s3 }}" class="cs sp clb" style="vertical-align:top;width:100%;max-width:450px" alt="pic loading ...">
		</div>
		{% else %}
			<div class="mls mrs mbl cg cs sp">New pegham:</div>
		{% endif %}
		<div class="mls mrs mbl" style="overflow:hidden">
			<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold"><img src="{{ parent.lrau|s3:'thumb' }}" style="border-radius:50%" alt="pic" width="22" height="22">{% if parent.lrsn in checked %}&nbsp;<img src="{{ static_url }}img/pstar.svg" alt="*" height="10" width="10" style="color:deeppink">{% endif %}&nbsp;{{ parent.lrsn }}</a><span class="clb lsp">: {% emoticons %}{{ parent.lrtx|truncatechars:40 }}{% endemoticons %}</span><span class="cxs sp cgy"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		</div>

		{% if form.errors %}<span class="mls mrs cr">{{ form.errors|show_error }}</span>{% endif %}
		<form method="POST" class="mts mrs mls" action="{% url 'unseen_group' parent_pk %}">
			{% csrf_token %}
			<div class="box-with-button-right">
				<input type="hidden" name="sk" value="{{ sk }}">
				<input type="hidden" name="origin" value="{{ origin }}">
				<input type="hidden" name="loc" value="123">
				<input type="hidden" name="lang" value="{{ lang }}">
				<input type="hidden" name="sort_by" value="{{ sort_by }}">
				{{ form.private_group_reply }}
				<button class="btn bcg bms sp pg_ok_res" type="submit" >jawab&nbsp;do</button>
			</div>
		</form>
		<a href="{% url 'x_group_notif' parent_pk ident origin lang sort_by %}"><button class="btn bs bs cs sp mtl mbl mls pg_ok_res" style="padding:2px 5px;background:tomato">skip</button>
		</a>
	</div>
			
	{% elif type_of_object == '3b' %}
	<!-- public -->
	<div class="mbl" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white">
	<div class="sp cs mbl cgy dbp" style="border-radius:0;text-align:center;padding:5px 0;border-bottom:2px solid whitesmoke">notification from <b>{{ parent.lrsn }}</b></div>
		<div class="mls mrs lsp" style="overflow:hidden">
			<b class="cp">{% emoticons %}{{ parent.od|truncatechars:40 }}{% endemoticons %}</b><a href="{% url 'public_group' parent.l %}"><button class="btn nw bcp bs cs mls mbl" style="height:22px">mehfil</button></a>
		</div>
		{% if parent.rp != 'None' %}
			<div class="mbl" style="overflow:hidden;text-align:center;background:whitesmoke;border-top:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0">
				<img src="{{ parent.rp|s3 }}" class="clb cs sp" style="width:100%;max-width:450px;vertical-align:top" alt="loading pic ...">
			</div>
		{% else %}
			<div class="mls mrs mbl cp cs sp">New pegham:</div>
		{% endif %}
		
		<div class="mls mrs mbl" style="overflow:hidden">
			<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold">
			<img src="{{ parent.lrau|s3:'thumb' }}" style="border-radius:50%" alt="pic" width="22" height="22">
			{% if parent.lrsn in checked %}&nbsp;<img src="{{ static_url }}img/pstar.svg" alt="*" height="10" width="10" style="color:deeppink">{% endif %}&nbsp;{{ parent.lrsn }}</a><span style="color:#404040;" class="lsp">: {% emoticons %}{{ parent.lrtx }}{% endemoticons %}</span><span class="cxs sp cgy"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		</div>

		{% if form.errors %}<span class="mls mrs cr">{{ form.errors|show_error }}</span>{% endif %}
		<form method="POST" class="mts mrs mls" action="{% url 'unseen_group' parent_pk %}">
			{% csrf_token %}
			<div class="box-with-button-right">
				<input type="hidden" name="sk" value="{{ sk }}">
				<input type="hidden" name="origin" value="{{ origin }}">
				<input type="hidden" name="lang" value="{{ lang }}">
				<input type="hidden" name="sort_by" value="{{ sort_by }}">
				{{ form.public_group_reply }}
				<button class="btn bcp bms sp pg_ok_res" type="submit">jawab&nbsp;do</button>
			</div>
		</form>
		<a href="{% url 'x_group_notif' parent_pk ident origin lang sort_by %}"><button class="btn bs bs cs sp mtl mbl mls pg_ok_res" style="padding:2px 5px;background:tomato">skip</button>
		</a>
	</div>
	
	
	{% elif type_of_object == '4' %}
		<div class="bizcard box dbg mbl" style="padding:5px">
		<a href="{% url 'profile' parent.oon %}#section0" class="cb">
		<img src="{{ parent.ooa|s3:'thumb' }}" style="border-radius:50%" alt="pic" width="22" height="22">
		{% if parent.oon in checked %}&nbsp;<img src="{{ static_url }}img/pstar.svg" alt="*" height="10" width="10" style="color:deeppink">{% endif %}
		{{ parent.oon }}</a>
		<span class="clb">: {{ user.username }}, waqt mila tou please <b style="color:#179b36;">{{ namaz }}</b> parh lena {% emoticons %}:){% endemoticons %}</span>
		<br>
			{% if first_time_user > 1 %}
			<span class="cg cm">({{ parent.oon }} ne pichli <b>lagatar {{ first_time_user }} namazein</b> parhein)</span><br>
			{% endif %}
		<a href="{% url 'cross_salat_notif' parent.c ident origin lang sort_by %}"><button class="btn bxs bcr mtl"><b>X</b></button></a>
		</div>
	
	{% elif type_of_object == '0' %}
		<div class="mbl" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white">
		<div class="sp cs mbl cgy dby" style="border-radius:0;text-align:center;padding:5px 0;border-bottom:2px solid whitesmoke">notification from <b>{{ latest_comment.lrsn }}</b></div>
		
		<div class="mls" style="overflow:hidden;text-align:center">
			<a href="{% url 'comment_pk' parent_pk origin %}" class="clb">
			{% if parent.v|add:"0" < VDC %}
				<img src="{{ static_url }}img/broken.svg" class="cxs sp" alt="pic" style="border-radius:4px;border:2px solid dodgerblue" width="38" height="38">
			{% elif parent.v|add:"0" < VDP %}
				<img src="{{ parent.p|s3:'thumb' }}" alt="{{ parent.od }}" class="bright cxs sp" style="border-radius:4px">
			{% else %}
				<img src="{{ parent.p|s3:'thumb' }}" class="cxs sp" style="border-radius:4px;border:2px solid dodgerblue" alt="{{ parent.od }}">
			{% endif %}
			<div class="cgy lsp sp bw">"{% emoticons %}{{ parent.od|truncatechars:50 }}{% endemoticons %}"</div></a>
		</div>

		<div class="mls mbs co cs sp">New tabsra:</div>

		<div class="mls mbl" style="overflow:hidden">
			<a href="{% url 'profile' parent.lrsn %}" class="clb sp" style="font-weight:bold">
			<img src="{{ parent.lrau|s3:'thumb' }}" alt="pic" style="border-radius:50%" width="22" height="22">{% if latest_comment.lrsn in checked %}&nbsp;<img src="{{ static_url }}img/pstar.svg" alt="*" height="10" width="10" style="color:deeppink">{% endif %}&nbsp;<bdi>{{ latest_comment.lrsn }}</bdi></a>:&nbsp;<span class="cl lsp clb"><bdi>{% emoticons %}{{ latest_comment.lrtx|truncatechars:40 }}{% endemoticons %}</bdi></span><span class="cgy cxs sp mrs"><bdi>, {{ latest_comment.lrti|human_time }}</bdi></span>
		</div>
		
		{% if form.errors %}<span class="cr">{{ form.errors|show_error }}</span>{% endif %}
		<form method="POST" class="mts mrs mls" action="{% url 'unseen_comment' parent_pk %}">
			{% csrf_token %}
			<div class="box-with-button-right">
			<input type="hidden" name="sk" value="{{ sk }}">
			<input type="hidden" name="origin" value="{{ origin }}">
			<input type="hidden" name="lang" value="{{ lang }}">
			<input type="hidden" name="sort_by" value="{{ sort_by }}">
			<input type="hidden" name="popk" value="{{ parent.ooi }}">
			{{ form.photo_comment }}
			<button class="btn bco bms sp pg_ok_res" type="submit">tabsra&nbsp;kro</button>
			</div>
		</form>
		<a href="{% url 'cross_comment_notif' parent_pk ident origin 0 lang sort_by %}">
			<button class="btn mtl bs cs sp mbl mls pg_ok_res" style="padding:2px 5px;background:tomato">skip</button>
		</a>
		</div>
		
	{% elif type_of_object == '1' %}
		{% load get_big_fan_button %}
		{% load get_big_group_button %}
		{% load get_big_photo_comment_button %}
		<div class="mbl" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white">
		<div class="sp cs mbl cgy dby" style="border-radius:0;text-align:center;padding:5px 0;border-bottom:2px solid whitesmoke">notification from <b>{{ parent.oon }}</b></div>

		<div class="cl lsp ow clb mrs mls mbs" style="text-align:center">{{ parent.od }}</div>
		{% if parent.v|add:"0" < VDC %}
			<img src="{{ static_url }}img/broken.svg" class="clb cs sp" alt="not found" style="vertical-align:top;width:100%">
		{% elif parent.v|add:"0" < VDP %}
			<div class="mbs" style="overflow:hidden;text-align:center;background:whitesmoke;border-top:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0">
				<img src="{{ parent.p|s3 }}" class="clb cs sp" alt="loading pic ..." style="vertical-align:top;width:100%;max-width:450px" class="bright">
			</div>
		{% else %}
			<div class="mbs" style="overflow:hidden;text-align:center;background:whitesmoke;border-top:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0">
				<img src="{{ parent.p|s3 }}" class="clb cs sp" alt="loading pic ..." style="vertical-align:top;width:100%;max-width:450px">
			</div>
		{% endif %}
		<a href="{% url 'user_profile_photo' parent.oon parent_pk 1 %}">
			<div class="mbs cgy sp cs" style="text-align:center">
				{% if parent.oon in checked %}&nbsp;<img src="{{ static_url }}img/pstar.svg" alt="*" height="11" width="11" style="color:deeppink">{% endif %}&nbsp;<b>{{ parent.oon }}</b>&nbsp;posted new foto
			</div>
		</a>

		<div class="mbl mtl fx fxjscn fxaicn">
		{% big_fan_button own_user_id=ident target_user_id=parent.ooi object_id=parent.oi origin=origin fan_list=fanned static_url=static_url %}
		{% big_group_button own_id=ident target_id=parent.ooi parent_object_id=parent.oi object_type='' origin=origin target_username=parent.oon %}
		{% big_photo_comment_button photo_id=parent.oi origin=origin comm_count=parent.comment_count|default_if_none:"0"|add:"0" static_url=STATIC_URL from_single_notif='1' %}
		</div>

		{% if form.errors %}<span class="mls mrs cr">{{ form.errors|show_error }}</span>{% endif %}
		<form method="POST" class="mts mls mrs" action="{% url 'unseen_comment' parent_pk %}">
			{% csrf_token %}
			<div class="box-with-button-right">
			<input type="hidden" name="sk" value="{{ sk }}">
			<input type="hidden" name="origin" value="{{ origin }}">
			<input type="hidden" name="lang" value="{{ lang }}">
			<input type="hidden" name="sort_by" value="{{ sort_by }}">
			<input type="hidden" name="popk" value="{{ parent.ooi }}">
			{{ form.photo_comment }}
			<button class="btn bco bms sp pg_ok_res" type="submit">tabsra&nbsp;kro</button>
		</div>
		</form>
		<a href="{% url 'cross_comment_notif' parent_pk ident origin 1 lang sort_by %}">
			<button class="btn bs cs mbl mls mtl sp pg_ok_res" style="padding:2px 5px;background:tomato">skip</button>
		</a>
		</div>
			
		{% endif %}
	{% else %}
		{% if is_home %}
			<div class="mbs sp lsp" style="text-align:center;background:#fefefa;border:2px solid #ececec;border-radius:7px;padding:7px">
			{% if random < 3 %}
				<b class="co cs">Top damadam stars <a href="{% url 'top_photo' %}#section0"><button class="btn nw bm bco cm" style="padding:2px 8px;font-weight:bold">ye hain</button></a></b>
			{% else %}
				{% if username == newest_user.username %}
					<b class="co cs">Top damadam stars <a href="{% url 'top_photo' %}#section0"><button class="btn nw bm bco cm" style="padding:2px 8px;font-weight:bold">ye hain</button></a></b>
				{% else %}
					<b class="ct cs sp">{{ newest_user.username|truncatechars:40 }} new hai, isko <a href="{% url 'welcome_pk' pk=newest_user.pk %}"><button class="btn nw bct cm" style="padding:2px 8px;font-weight:bold">mithai bhejein</button></a></b>
				{% endif %}
			{% endif %}
			</div>
		{% endif %}
	{% endif %}