{% load thumbedge %}
{% load photoedge %}
{% load emoticons_tags %}
	{% if notification %}
		{% if type_of_object == '2' %}
			
			<div class="box dbt ">
			{% if first_time_user %}
				<div class="ct cs mbs">
				Tumhe <b>welcome</b> kiya:
				</div>
				
			{% else %}
				{% if parent.ooa != 'None' %}
					<img src="{{ parent.ooa|thumbedge }}" alt="no pic" width="22" height="22"></img>
				{% else %} 
					<img src="{{ static_url }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22"></img>
				{% endif %}
				<span class="cgy"><bdi>{{ parent.oon }}</bdi></span>:<span class="cgy">{% emoticons %} {{ parent.od|truncatechars:40 }}{% endemoticons %}</span>
				<form method="POST" action="{% url 'reply_pk' parent_pk %}" style="display:inline;">
				{% csrf_token %}
				<button class="btn nw bs cs bct mls" type="submit">post</button></form>
				<p style="margin-top:.5em;"></p>
			
				<span class="ct cs">
				is pr <b>new</b> jawab aya:
				</span>
				<p style="margin-top:.3em;"></p>
			{% endif %}	
			
			<a href="{% url 'profile' parent.lrsn %}">
			{% if parent.lrau != 'None' %}
			<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
			{% else %}
			<img src="{{ static_url }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
			{% endif %}
			<bdi>{{ parent.lrsn }}</bdi>
				{% if parent.lrsn in checked %}
			    	<span class="pinkstar" ><b>*</b></span>
			    {% endif %}</a>
			:<bdi class="clb">{% emoticons %} {{ parent.lrtx }}{% endemoticons %}</bdi><span class="cgy cs"><bdi>, {{ parent.lrti|human_time }}</bdi>
			</span>
				<p style="margin-top:.5em;"></p>
				{% if form.home_comment.errors %}<span class="cr">{{ form.home_comment.errors.0 }}</span>{% endif %}
				<form method="POST" action="{% url 'unseen_reply' parent_pk %}" style="display:inline;">
				{% csrf_token %}
				<div class="box-with-button-right">
				<input type="hidden" name="origin" value="{{ origin }}">
				<input type="hidden" name="lang" value="{{ lang }}">
				<input type="hidden" name="sort_by" value="{{ sort_by }}">
				<input type="hidden" name="public_group_reply" value="111">
				<input type="hidden" name="private_group_reply" value="111">
				<input type="hidden" name="photo_comment" value="111">
				<input type="hidden" name="lwpk" value="{{ parent.ooi }}">
				<input type="hidden" name="parent" value="{{ parent }}">
				{{ form.home_comment }}
				<button class="btn bct bms mts" type="submit">jawab do</button>
				</div>
				</form>
				<a href="{% url 'x_notif' parent_pk ident origin lang sort_by %}"><button class="btn mtl bs cs bco">skip</button></a>
			</div>
			<p style="margin-top:.5em;"></p>
			<hr size=1>
			<p style="margin-top:-0.9em;"></p>
			<hr size=1>

			{% if is_home %}
			<span class="ct"><b>home</b> ki chat:</span>
			{% endif %}
			
	{% elif type_of_object == '3a' %}
	<!-- private -->
	<div class="box dbg">
		<b class="cg cm">{% emoticons %}{{ parent.od|truncatechars:40 }}{% endemoticons %}</b><form method="POST" action="{% url 'priv_group' %}" style="display:inline">{% csrf_token %}<button type="submit" name="private_uuid" value="{{ parent.l }}" class="btn nw bs cs bcg mbl mls">mehfil</button></form>
		<br><span class="cg cs" >mein <b>new</b> pegham aya:</span><br><br>
		{% if parent.rp != 'None' %}
		<img src="{{ parent.rp }}" alt="no pic"><br>
		{% endif %}
		<a href="{% url 'profile' parent.lrsn %}">
		{% if parent.lrau != 'None' %}
		<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ static_url }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		{{ parent.lrsn }}</a>
				{% if parent.lrsn in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span class="clb">: {% emoticons %}{{ parent.lrtx|truncatechars:40 }}{% endemoticons %}</span><span class="cs cgy"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<p style="margin-top:.5em;"></p>
		{% if form.private_group_reply.errors %}<span class="cr">{{ form.private_group_reply.errors.0 }}</span>{% endif %}
		<form method="POST" action="{% url 'unseen_group' parent_pk %}">
			{% csrf_token %}
			<div class="box-with-button-right">
			<input type="hidden" name="origin" value="{{ origin }}">
			<input type="hidden" name="lang" value="{{ lang }}">
			<input type="hidden" name="sort_by" value="{{ sort_by }}">
			<input type="hidden" name="public_group_reply" value="111">
			<input type="hidden" name="home_comment" value="111">
			<input type="hidden" name="photo_comment" value="111">
			{{ form.private_group_reply }}
			<button class="btn bcg bms mts" type="submit" >jawab do</button>
		</div>
		</form>
		<a href="{% url 'x_group_notif' parent_pk ident origin lang sort_by %}"><button class="btn mtl bco bs cs" >skip</button></a>
	</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
			{% if is_home %}
				<span class="cg"><b>home</b> ki chat:</span>
			{% endif %}
	{% elif type_of_object == '3b' %}
	<!-- public -->
	<div class="box dbp">
		<b class="cp">{% emoticons %}{{ parent.od|truncatechars:40 }}{% endemoticons %}</b><a href="{% url 'public_group' parent.l %}"><button class="btn nw bcp bs cs mls mbl">mehfil</button></a>
		<br><span class="cp cs">mein <b>new</b> pegham aya:</span><br><br>
		{% if parent.rp != 'None' %}
		<img src="{{ parent.rp }}"><br>
		{% endif %}
		<a href="{% url 'profile' parent.lrsn %}">
		{% if parent.lrau != 'None' %}
		<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ static_url }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		{{ parent.lrsn }}</a>
				{% if parent.lrsn in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span style="color:#404040;">: {% emoticons %}{{ parent.lrtx }}{% endemoticons %}</span><span class="cs cgy"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<p style="margin-top:.5em;"></p>
		{% if form.public_group_reply.errors %}<span class="cr">{{ form.public_group_reply.errors.0 }}</span>{% endif %}
		<form method="POST" action="{% url 'unseen_group' parent_pk %}">
			{% csrf_token %}
			<div class="box-with-button-right">
			<input type="hidden" name="origin" value="{{ origin }}">
			<input type="hidden" name="lang" value="{{ lang }}">
			<input type="hidden" name="sort_by" value="{{ sort_by }}">
			<input type="hidden" name="private_group_reply" value="111">
			<input type="hidden" name="home_comment" value="111">
			<input type="hidden" name="photo_comment" value="111">
			{{ form.public_group_reply }}
			<button class="btn bcp bms mts" type="submit">jawab do</button>
		</div>
		</form>
		<a href="{% url 'x_group_notif' parent_pk ident origin lang sort_by %}"><button class="btn bs cs bco mtl">skip</button></a>
	</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
			{% if is_home %}
				<span class="cp"><b>home</b> ki chat:</span>
			{% endif %}
	
	{% elif type_of_object == '4' %}
		<div class="box dbg">
		<a href="{% url 'profile' parent.oon %}#section0">
		{% if parent.ooa != 'None' %}
		<img src="{{ parent.ooa|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ static_url }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		{{ parent.oon }}</a>
				{% if parent.oon in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span class="clb">: {{ user.username }}, waqt mila toh <b style="color:#179b36;">{{ namaz }}</b> parh lena {% emoticons %}:){% endemoticons %}</span>
		<br>
			{% if first_time_user > 1 %}
			<span class="cg cm">({{ parent.oon }} ne pichli <b>lagatar {{ first_time_user }} namazein</b> parhein)</span><br>
			{% endif %}
		<a href="{% url 'cross_salat_notif' parent.c ident origin lang sort_by %}"><button class="btn bxs bcr mtl"><b>X</b></button></a>
		</div>
		<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
			{% if is_home %}
				<span class="cg"><b>home</b> ki chat:</span>
			{% endif %}
	{% elif type_of_object == '0' %}
		<div class="box dby">
		
		<div class="mbl">
		<a href="{% url 'comment_pk' parent_pk 6 %}">
		{% if parent.v|add:"0" < -2 %}
			<img src="{{ static_url }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		{% elif parent.v|add:"0" < -1 %}
			{% if parent.p != 'None' %}
			<img src="{{ parent.p|thumbedge }}" alt="no pic" class="pht bright"></img>
			{% else %}
			<img src="{{ static_url }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.p|thumbedge }}" ></img>
		{% endif %}
		<span class="cgy">{% emoticons %}{{ parent.od|truncatechars:30 }}{% endemoticons %}</span></a>
		</div>
		<span class="co cs">Photo pr <b>new</b> tabsra aya:</span><p style="margin-top:.3em;"></p>
		<a href="{% url 'profile' parent.lrsn %}">
		{% if parent.lrau != 'None' %}
		<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ static_url }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		<bdi>{{ latest_comment.lrsn }}</bdi>
				{% if latest_comment.lrsn in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}</a>
		:&nbsp;<span class="cl clb"><bdi>{% emoticons %}{{ latest_comment.lrtx|truncatechars:40 }}{% endemoticons %}</bdi></span><span class="cgy cs"><bdi>, {{ latest_comment.lrti|human_time }}</bdi></span>
		<p style="margin-top:.5em;"></p>
		{% if form.photo_comment.errors %}<span class="cr">{{ form.photo_comment.errors.0 }}</span>{% endif %}
		<form method="POST" action="{% url 'unseen_comment' parent_pk %}">
			{% csrf_token %}
			<div class="box-with-button-right">
			<input type="hidden" name="origin" value="{{ origin }}">
			<input type="hidden" name="lang" value="{{ lang }}">
			<input type="hidden" name="sort_by" value="{{ sort_by }}">
			<input type="hidden" name="private_group_reply" value="111">
			<input type="hidden" name="public_group_reply" value="111">
			<input type="hidden" name="home_comment" value="111">
			<input type="hidden" name="popk" value="{{ parent.ooi }}">
			{{ form.photo_comment }}
			<button class="btn bco bms mts" type="submit">tabsra kro</button>
		</div>
		</form>
		<a href="{% url 'cross_comment_notif' parent_pk ident origin 0 lang sort_by %}"><button class="btn bs cs mtl bco">skip</button></a>
		</a>
		</div>
		<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
		<hr size=1>
			{% if is_home %}
				<span class="co"><b>home</b> ki chat:</span>
			{% endif %}
	{% elif type_of_object == '1' %}
		<div class="box dby">
		<span class="co cm">
		<a href="{% url 'profile' parent.oon %}">
		{% if parent.ooa != 'None' %}
		<img src="{{ parent.ooa|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ static_url }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		{{ parent.oon }}</a>
				{% if parent.oon in checked %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		ne new photo lagai:</span><p style="margin-top:.3em;"></p>
		<a href="{% url 'user_profile_photo' parent.oon parent_pk 1 %}">
		{% if parent.v|add:"0" < -2 %}
			<img src="{{ static_url }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		{% elif parent.v|add:"0" < -1 %}
			{% if parent.p != 'None' %}
			<img src="{{ parent.p|photoedge }}" alt="no pic" class="pht bright"></img>
			{% else %}
			<img src="{{ static_url }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.p|photoedge }}" alt="no pic" class="pht"></img>
		{% endif %}
		</a>&nbsp;&nbsp;
		<br><span class="cl cgy">{{ parent.od }}</span><br>
		<p style="margin-top:.5em;"></p>
		{% if form.photo_comment.errors %}<span class="cr">{{ form.photo_comment.errors.0 }}</span>{% endif %}
		<form method="POST" action="{% url 'unseen_comment' parent_pk %}">
			{% csrf_token %}
			<div class="box-with-button-right">
			<input type="hidden" name="origin" value="{{ origin }}">
			<input type="hidden" name="lang" value="{{ lang }}">
			<input type="hidden" name="sort_by" value="{{ sort_by }}">
			<input type="hidden" name="private_group_reply" value="111">
			<input type="hidden" name="public_group_reply" value="111">
			<input type="hidden" name="home_comment" value="111">
			<input type="hidden" name="popk" value="{{ parent.ooi }}">
			{{ form.photo_comment }}
			<button class="btn bco bms mts" type="submit">tabsra kro</button>
		</div>
		</form>
		<a href="{% url 'cross_comment_notif' parent_pk ident origin 1 lang sort_by %}"><button class="btn bs cs mtl bco">skip</button></a>
		</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
			{% if is_home %}
				<span class="co"><b>home</b> ki chat:</span>
			{% endif %}
		{% endif %}
	{% else %}
		{% if is_home %}
			<table>
			<tr><td>
			{% if random < 3 %}
				<span class="co cs"><b>Top</b> damadam stars ki list <a href="{% url 'top_photo' %}#section0"><button class="btn nw bm bco cm"><b>ye hai</b></button></a></span><hr size=1 COLOR="#ff9933">
			{% else %}
				{% if username == newest_user.username %}
				<span class="co cs"><b>Top</b> damadam stars ki list <a href="{% url 'top_photo' %}#section0"><button class="btn nw bm bco cm"><b>ye hai</b></button></a></span><hr size=1 COLOR="#ff9933">
				{% else %}
				<span class="ct cs"><b> {{ newest_user.username|truncatechars:30 }}</b> new hai, isko <a href="{% url 'welcome_pk' pk=newest_user.pk %}"><button class="btn nw bct cm" style="width:8.7em;"><b>mithai bhejo</b></button></a></span><hr size=1 COLOR="#3cb7dd">
				{% endif %}
			{% endif %}
			</td></tr>
			</table>
		{% endif %}
	{% endif %}