{% extends "base.html" %}
{% block content %}
<head><title>Mobile verification help | Damadam.pk</title></head>

<div class="margin clb lsp" style="padding:0 7px 0 7px">
  <div class="card mbl" style="background-color:#B3FFF1;border:1px solid #80FFE8;padding:7px">
  <h1 class="mt mbs mrs cxl sp" style="font-weight:normal;color:#006699;display:inline">Verify your mobile number to win 500 points!</h1>
  {% if csrf %}
  <form method="get" class="mrs" style="display:inline" action="https://www.accountkit.com/v1.0/basic/dialog/sms_login/">
    <input type="hidden" name="country_code" value="PK">
    <input type="hidden" name="app_id" value="1758220174446684">
    <input type="hidden" name="locale" value="ur_PK">
    <input type="hidden" name="debug" value=false>
    <input type="hidden" name="redirect" value="https://damadam.pk/vun/">
    <input type="hidden" name="state" value="{{ csrf }}">
    <input type="hidden" name="fbAppEventsEnabled" value=true>
    <input type="submit" class="mt ma sp" style="color:white;background-color:#006699;border:solid 1px #006699;font-size:100%" value="  OK  ">
  </form>
  {% endif %}
  <hr size=1 COLOR="#66FFE3">

  <h2 class="mt mbs sp cl" style="font-weight:normal">Steps:</h2>
  <div class="mt mls">1) OK dabain</div>
  <div class="mt mls">2) Agli screen pe mobile number dalein</div>
  <div class="mt mls">3) Apko SMS mein code aye ga</div>
  <div class="mt mls mbs">4) Woh code dalein, verify ho gaya!</div>
  <hr size=1 COLOR="#66FFE3">

  <h2 class="mt mbs sp cl" style="font-weight:normal">Mazeed malumat (info):</h2>
  <div class="mt mls"><b>Secure:</b> apka mobile number mahfooz rehay ga aur koi apko call nahi karey ga</div>
  <div class="mts mls"><b>500 points:</b> Points Damadam ki money hai. In se website pe buhut kuch kiya ja sakta hai!</div>
  <div class="mts mls"><b>Can't Verify:</b> SMS code ghalti se us screen mein nahi daiein jahan mobile number dala tha. Agr SMS code aney mein deir ho rahi hai, ya verify nahi ho raha, tou 1 hour baad dubara koshish karein</div>
  <div class="mts mls"><b>Non-Pakistani:</b> If you are not from Pakistan and want to verify your mobile number, please contact the creator of the website (nickname: mhb11)</div>

  <hr size=1 COLOR="#66FFE3">

  <h1 class="mt mbs mrs cxl sp" style="font-weight:normal;color:#006699;display:inline">Verify your mobile number to win 500 points!</h1>
  {% if csrf %}
  <form method="get" class="mrs" style="display:inline" action="https://www.accountkit.com/v1.0/basic/dialog/sms_login/">
    <input type="hidden" name="country_code" value="PK">
    <input type="hidden" name="app_id" value="1758220174446684">
    <input type="hidden" name="locale" value="ur_PK">
    <input type="hidden" name="debug" value=false>
    <input type="hidden" name="redirect" value="https://damadam.pk/vun/">
    <input type="hidden" name="state" value="{{ csrf }}">
    <input type="hidden" name="fbAppEventsEnabled" value=true>
    <input type="submit" class="mt ma sp" style="color:white;background-color:#006699;border:solid 1px #006699;font-size:100%" value="  OK  ">
  </form>
  {% endif %}

</div>
</div>    
{% endblock %}