{% extends "base.html" %}

{% block content %}


    <body style="background-color:lightgrey">
    <div class="margin clb">
    <h2 style="color:black">Tasdiq karwatay howay kia masla aa raha hai?</h2>

    <div style="background-color:white;border:solid 1px 1px 1px; border-color:grey; padding:3px; border-radius:6px; max-width:500px; margin-top:5px; ">
  <h3 style="color:grey; font-size:15px;">Mera number kis ke pas jaye ga?</h3>
  <h3 style="color:black; font-size:12px">Ap ka number kisi ko bhi pata nai chalay ga, aur na hi ap ko kabhi koi call ya SMS aye gi. Tasdiq karwanay say ap ka account mehfooz hota hai, aur ye sahoolat ap ke faiday ke liye banai gaye hai</h3>
</div>

     <div style="background-color:white;border:solid 1px 1px 1px; border-color:grey; padding:3px; border-radius:6px; max-width:500px; margin-top:15px;">
  <h3 style="color:grey; font-size:15px">Tasdiq kaisay karwani hai?</h3>
  <h3 style="color:black; font-size:12px">1. Sab se pehlay aik green page aye ga. Wahan apna number likhain.<br>2. Agar wo ap se 'Country Code' mangay to us main 'Pakistan' select karain. <br> 3. Ap ko aik SMS aye ga. SMS main aik code ho ga. <br>4. Phone number likhnay ke baad agla page khul jaye ga. Wahan wo SMS code likh kar OK daba dain.</h3>
  <h3 style="color:red; font-size:12px"> Khiyal rahay ke code wahan na likhain jahan phone number likhna hota hai.</h3>
</div>

<div style="background-color:white;border:solid 1px 1px 1px; border-color:grey; padding:3px; border-radius:6px; max-width:500px; margin-top:5px; ">  <h3 style="color:grey; font-size:15px;">SMS main jo code aya hai wo kahan likhna hai?</h3>
  <h3 style="color:black; font-size:12px">Phone number likhnay ke baad aik aur green color ki screen ho gi, wahan SMS main aya howa code likh ke OK duba dain.<br> Khiyal rahay ke code wahan na likhain jahan phone number likhna hota hai.</h3>
</div>

<div style="background-color:white;border:solid 1px 1px 1px; border-color:grey; padding:3px; border-radius:6px; max-width:500px; margin-top:5px; margin-top:5px;  ">
  <h3 style="color:grey; font-size:15px;">Ye mujh se country code mang raha hai wo kia hai?</h3>
  <h3 style="color:black; font-size:12px">Pakistan ka Country Code +92 hai. Agar Country Code wala page khulay to wahan ap ne Pakistan select karna hai.</h3>
</div>



<div style="background-color:white;border:solid 1px 1px 1px; border-color:grey; padding:3px; border-radius:6px; max-width:500px; margin-top:5px; margin-bottom:5px">
  <h3 style="color:grey; font-size:15px;">Mujh se tasdiq nahin ho rahi, kion?</h3>
  <h3 style="color:black; font-size:12px">Baar baar Back dubanay ya cross karnay se tasdiq nai ho gi. Kabhi back ya cross ka button na dubain.</h3>
</div>
<div style="text-align:center">
<button class="btn bcg mtl bm">wapis</button>
</div>






</body>
</html>
    </body>
{% endblock %}