{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
    <div class="margin">
    <a href="{% url 'top_photo' %}#section0" style="color:#9900cc;font-size:65%;"><b>high photo score</b></a>&nbsp;<span style="font-size:70%;">|</span>
    <a href="{% url 'top' %}#section0" style="color:#2eb82e;font-size:65%;"><b>high chat score</b></a>&nbsp;<span style="font-size:70%;">|</span>
    <a href="{% url 'verified' %}#section0" style="font-size:65%;color:deeppink;"><b>verified girls</b></a><br>
        <ol>
            {% for visitor in object_list %}
                <li style="color:grey;">
                        <a href="{% url 'profile' slug=visitor.username %}#section0">
                        {% if visitor.userprofile.avatar %}
                            <img src="{{ visitor.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
                        {% else %}
                            <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
                        {% endif %}
                        {{ visitor.username }}
                        </a>
                        {% for person in legit %}
                            {% if person == visitor.username %}
                                <span style="font-size:170%;color:deeppink;"><b>*</b></span>
                            {% endif %}
                        {% endfor %}
                        {% if visitor.userprofile.score %}
                            {% if visitor.userprofile.score < 0 %}
                                <span style="color:red;font-size:75%;">({{ visitor.userprofile.score }})</span>
                            {% else %}
                                <span style="color:#18A018;font-size:75%;">({{ visitor.userprofile.score }})</span>
                            {% endif %}
                        {% endif %}
                </li>
            {% endfor %}
        </ol>
        <span style="font-size:85%;">Nickname forun online kon par nazar nahi aa jata, thora time lagta hai</span>
    </div>
{% endblock %}