{% extends "base.html" %}
{% load s3 %}
{% load emoticons_tags %}
{% block content %}
<head><title>Online users | Damadam.pk</title></head>
<style type="text/css">body{background: #E9EBEE}</style>

    {% include 'search/search_navbar.html' with section='online' static_url=STATIC_URL %}

    <h1 class="clb cxl lsp" style="text-align:center">Online users:</h1>

    <div class="clb bizcard mbl" style="margin-right: auto;margin-left: auto;max-width:600px;width:93%;background-color:white;padding:10px">

    <div class="sp" style="text-align:center;padding-bottom:10px;border-bottom:1px dashed lightgray">
        <a href="{% url 'verified' %}#section0" class="cxs cdp" ><b>verified girls</b></a>&nbsp;<span class="cs" ></span>
    </div>

        {% if not whose_online %}
            <br>
            <span class="cgy">- Ye abhi khali hai -</span><br>
        {% elif with_thumbs %}
            <br>
            <span class="cgy sp cs"><b>{{ page_obj.paginator.count }}</b> user(s) online</span><br><br>
            {% for obj in object_list %}
                <span class="cgy cs">{{ forloop.counter0|add:page_obj.start_index }}. </span>
                 <a href="{% url 'profile' obj.username 'fotos' %}#section0">
                {% if obj.userprofile__avatar %}
                    <img src="{{ obj.userprofile__avatar|s3:"thumb" }}" style="border-radius:50%" width="22" height="22" alt="pic"></img>
                {% else %}
                    <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" style="border-radius:50%" width="22" height="22" alt="pic"></img>
                {% endif %}
                <b class="cb">{{ obj.username }}</b>
                {% if obj.username in legit %}
                    <img src="{{ STATIC_URL }}img/pstar.svg" width="13" height="13" alt="*" style="color:deeppink">
                {% endif %}
                </a>
               
                {% if obj.thumbs != None %}
                <form method="POST" action="{% url 'go_to_user_photo' obj.username 0 %}" class="mts">{% csrf_token %}
                {{ obj.thumbs|safe }}
                </form>
                {% endif %}
                <hr size=1 COLOR="#E9EBEE">
            {% endfor %}
            <span class="cs cgy sp">Note: nickname forun online nazr nahi aa jata, thora time lagta hai</span>
        {% else %}
            <br>
            <span class="cgy cs"><b>{{ page_obj.paginator.count }}</b> users online</span><br><br>
            {% for obj in object_list %}
                <span class="cgy cs">{{ forloop.counter0|add:page_obj.start_index }}. </span>
                        <a href="{% url 'profile' obj.username 'fotos' %}#section0">
                        {% if obj.userprofile__avatar %}
                            <img src="{{ obj.userprofile__avatar|s3:"thumb" }}" style="border-radius:50%" width="22" height="22" alt="pic"></img>
                        {% else %}
                            <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" style="border-radius:50%" width="22" height="22" alt="pic"></img>
                        {% endif %}
                        {{ obj.username }}
                            {% if obj.username in legit %}
                                <img src="{{ STATIC_URL }}img/pstar.svg" width="13" height="13" alt="*" style="color:deeppink">
                            {% endif %}
                        </a>
                <br>
            {% endfor %}
        <hr size=1 COLOR="#E9EBEE">
        <span class="cs">Nickname forun online nazr nahi aa jata, thora time lagta hai</span>
        {% endif %}

</div><br>
{% endblock %}

{% block pagination %}
{% if is_paginated %}

    <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="fx fxjscn">
        {% if page_obj.has_previous %}
        <div style="padding:0 10px">
        <a href="?page={{ page_obj.previous_page_number }}#section0"><button itemprop="url" class="pg_ok_res" style="background:0 0;border:none;padding:0"><img src="{{ STATIC_URL }}img/back_page.svg" width="40" height="40"></button></a>
        </div>
        {% endif %}
        {% if page_obj.has_next %}
        <div style="padding:0 10px">
        <a href="?page={{ page_obj.next_page_number }}#section0"><button class="pg_ok_res" style="background:0 0;border:none;padding:0" itemprop="url"><img src="{{ STATIC_URL }}img/forward_page.svg" width="40" height="40"></button></a>
        </div>
        {% endif %}
    </div>

{% endif %}
<br>
{% endblock %}