{% extends "base.html" %}
{% load thumbnail %}
{% load emoticons_tags %}
{% block content %}
    <div class="margin">
    <a href="{% url 'top_photo' %}#section0" style="color:#9900cc;font-size:65%;"><b>high photo score</b></a>&nbsp;<span style="font-size:70%;">|</span>
    <a href="{% url 'top' %}#section0" style="color:#2eb82e;font-size:65%;"><b>high chat score</b></a>&nbsp;<span style="font-size:70%;">|</span>
    <a href="{% url 'verified' %}#section0" style="font-size:65%;color:deeppink;"><b>verified girls</b></a><br>
        {% if not whose_online %}
            <br>
            <span style="color:#404040;">Online kon ka bheja fry ho {% emoticons %}gaya .i1.i2.i3.i4{% endemoticons %}<br>Hum isko theek krne ki kosh kr rahe hain!</span>
        {% else %}
        <ol>
            {% for visitor in object_list %}
                <span style="color:#404040;font-size:85%;">Total: {{ object_list|length }}</span><br><br>
                <span style="color:grey;font-size:90%;">{{forloop.counter0|add:page_obj.start_index }}. </span>
                        <a href="{% url 'profile' slug=visitor.username %}#section0">
                        {% if visitor.userprofile.avatar %}
                            <img src="{{ visitor.userprofile.avatar.url|thumbnail }}" width="22" height="22" alt="no pic"></img>
                        {% else %}
                            <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" width="22" height="22" alt="no pic"></img>
                        {% endif %}
                        {{ visitor.username }}
                        </a>
                        {% for person in legit %}
                            {% if person == visitor.username %}
                                <span style="font-size:170%;color:deeppink;"><b>*</b></span>
                            {% endif %}
                        {% endfor %}
                        {% if visitor.userprofile.score %}
                            {% if visitor.userprofile.score < 0 %}
                                <span style="color:red;font-size:75%;">({{ visitor.userprofile.score }})</span>
                            {% else %}
                                <span style="color:#18A018;font-size:75%;">({{ visitor.userprofile.score }})</span>
                            {% endif %}
                        {% endif %}
                <br>
            {% endfor %}
        </ol>
        <span style="font-size:85%;">Nickname forun online kon pr nazr nahi aa jata, thora time lagta hai</span>
        {% endif %}
    </div><br><br>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0"><button style="color:white;border-color: #cc0000;background: #FF1A1A;width:4.5em;white-space:nowrap;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-align: center;"><bdi>wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0"><button style="color:white;background-color:#1CB841;border-color:green;width:4.5em;white-space:nowrap;border-radius: 4px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-align: center;"><bdi>aagey</bdi></button></a>
    {% endif %}
</div><br>
<br>
{% endif %}
<br>
{% endblock %}