{% extends "base.html" %}
{% block content %}

<div class="margin">
{% if user.userprofile.score > 2999 %}
Open mehfil bananey ki qeemat <b style="color:red;">3000 points</b> hai.<br>Tum ye qeemat dena chahtey ho?<br><br>
&bullet;&nbsp;<a href="{% url 'open_group_create' %}">Haan</a><br>
&bullet;&nbsp;<a href="{% url 'group_page' %}">Nahi</a>
{% else %}
Open mehfil bananey ki qeemat <b style="color:red;">3000 points</b> hai. Tumharey sirf <b>{{ user.userprofile.score }}</b> points hain.<br>Wapis jao aur <a href="{% url 'score_help' %}">score barhao</a>:<br><br>
 <a href="{% url 'group_page' %}"><b><</b>&nbsp;Wapis jao</a>
{% endif %}
</div>

{% endblock %}