<div class="mts" style="text-align:center;margin-left:auto;margin-right:auto;max-width:750px;width:98%">
	<div style="border:3px solid salmon;display:inline-block;background:salmon;overflow:hidden">
		<header class="cl lsp sp" style="text-align:center;font-weight:bold;padding:6px 10px;border-bottom:1px solid lightgray;color:white">WARNING!</header>
		<div style="background:white;padding:6px 10px;">
			<div class="cl lsp sp" style="font-weight:bold">Ap Opera Mini ko "Extreme Mode" mein use kar rehay hain!</div>
			<div class="cl lsp sp" style="padding:6px 0">Ye hamarey advanced options nahi chala sakta. Maslan 'main menu bar' dekhney ke liye apko page ke sab se neechay scroll karna parey ga!</div>
			<div class="lsp sp" style="border-top:1px solid lightgray;padding-top:6px"><b>Is masley ko solve karney ke liye:</b>
				<ul style="text-align:left;margin:6px 0 0 0">
					<li>Koi aur browser use karein, maslan <a href="https://play.google.com/store/apps/details?id=com.android.chrome&hl=en" class="cb" style="border-bottom:1px dotted #4b05a8" target="_blank" rel="nofollow">Chrome</a> ya <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox&hl=en" class="cb" style="border-bottom:1px dotted #4b05a8" target="_blank" rel="nofollow">Firefox</a></li>
					<li>Ya phir Opera Mini ki settings se 'Extreme Mode' khatam karein</li>
				</ul>
			</div>
		</div>
	</div>
</div>