{% extends "base.html" %}
{% load thumbnail %}
{% block content %}

<div class="margin" class="clb">
{% if unauthorized %}
<span class="clb csw"><b>Tumhe ye dekhne ki ijazat nahi</b></span>
{% else %}
Tumhari mehfil mien ye log pichle <b>10 min</b> mein nazr aye:<br>
	{% if group.private == '1' %}
	<a href="{% url 'private_group' unique %}" class="cs"><button class="btn bcg bm cs mtl">wapis</button></a>
	{% elif group.private == '0' %}
	<a href="{% url 'public_group' unique %}" class="cs"><button class="btn bcp bm cs mtl">wapis</button></a>
	{% else %}
	{% endif %}
<br><br>
{% for group_user,captain in groupies %}
		<b class="clg cl">.</b>
		<a href="{% url 'profile' slug=group_user.username %}">
		{% if group_user.userprofile.avatar %}
			<img src="{{ group_user.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
		{% else %}
			<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
		{% endif %}
		{{ group_user.username }}
		</a>

		{% if group_user.username in legit %}
		<span class="pkstr"><b>*</b></span>
		{% endif %}

		{% if group_user != group.owner %}
			{% if captain == None %}<a href="{% url 'appoint_pk' pk=group_user.pk app=1 %}"> <button class="btn nw bcg bm cs">afsar banao</button></a>
			{% else %}<a href="{% url 'appoint_pk' pk=group_user.pk app=0 %}"> <button class="btn nw bcr bm cs">afsar hatao</button></a>
			{% endif %}
		{% endif %}
	<br>

{% endfor %}
<br>
	{% if group.private == '1' %}
	<a href="{% url 'private_group' unique %}" class="cs"><button class="btn bcg bm cs mtl">wapis</button></a>
	{% elif group.private == '0' %}
	<a href="{% url 'public_group' unique %}" class="cs"><button class="btn bcp bm cs mtl">wapis</button></a>
	{% else %}
	{% endif %}
<br><br>
{% endif %}
</div>
<br><br>																																
{% endblock %}
