<br>
<div itemscope itemtype="http://schema.org/Article">
<div style="text-align: center;">
		{% if page.has_previous %}
	    &nbsp;&nbsp;&nbsp;<span itemprop="pagination"><a href="?page={{ page.previous_page_number }}#section0"><button class="btn bm bcr mbl"><bdi>wapis</bdi></button></a></span>
	    {% endif %}
	    &nbsp;&nbsp;
	    {% if page.has_next %}
	    <span itemprop="pagination"><a href="?page={{ page.next_page_number }}#section0"><button class="btn bm bcg"><bdi>aagey</bdi></button></a></span>
	    {% endif %}
</div>
</div>
<br>