{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<head><title>Unable to complete action | Damadam.pk</title></head>
<div class="margin clb">
<h2>Ye ikhtiyar apke pas nahi</h2>
{% if private == '1' %}
<form method="POST" action="{% url 'priv_group' %}">{% csrf_token %}<button type="submit" name="private_uuid" value="{{ unique }}" class="btn bm bcg mbs">wapis</button></form>
{% else %}
<a href="{% url 'public_group' unique %}"><button class="btn bcp bm mbs">wapis</button></a>
{% endif %}
</div>
<br><br>
{% endblock %}