{% extends "base_signup.html" %}
{% load emoticons_tags %}
{% block content %}
<div style="margin-top: 5%;">
<h1 class="bw mbs" style="color:#43A047;text-align:center;text-shadow:1px 1px #8d6e63;">Damadam.pk <a href="{% url 'unauth_home_new_ur' %}" class="cb" style="font-size:0.5em;text-shadow:0px 0px;">(اردو)</a></h1>
<div class="signup mbl">
<div style="background-color:#00c853;overflow: auto; border-radius:6px;padding:10px 5px 10px 5px;">
<b class="cxl" style="color:white;text-shadow:1px 1px #009940;">Sorry! Tumharay browser pr Damadam ka account nahi ban sakta {% emoticons %}:({% endemoticons %}</b><br><br>
<span class="cl" style="color:#ffff00;text-shadow:1px 1px #009940;">Koi aur browser try kro, ya isi browser ki settings mein ja kr <b>cookies</b> on kro</span><br>
<a href="{% url 'unauth_home_new' %}"><button class="mtl mbl" style="color:white;background-color:#ffd600;font-size:100%;border:solid 1px #e6bf00;width:4em;font-weight:bold;text-shadow:1px 1px #b39500;">OK</button></a>
</div>
</div>
</div>
{% endblock %}