{% extends "base.html" %}
{% load humanize %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">

	<span style="font-size:100%;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);color:#404040;">Tumhe yahan likhne ki ijazat miley gi <b style="color:#229ec3;font-size:105%;">{{ time_remaining|naturaltime }}</b><br><br></span>
	<span style="color:#404040;font-size:100%;">Aesi baatein likho jo logoon ko buri na lagien {% emoticons %}:-){% endemoticons %}<br><br></span>
	<a href="{% url 'home' %}#section0" style="font-size:95%;"><button style="text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);background-color:#3cb7dd;border-color:#229ec3;color:white;border-radius:4px;width:4em;">wapis</button></a>

</div>
{% endblock %}