{% extends "empty.html" %}
{% block content %}
<div class="margin">
1) Khbardar: agr kisi ke pas touchscreen ya laptop hai, to photo ki screenshot le sakta hai<br>
2) Apni ya apne khandan ki zaati photos kisi par aitbar kiye beghair nahi bhejna<br>
3) Ye sahulat bilkul muft hai, dil khol kar istimal karo<br> 
4) Ye sahulat ghair ikhlaqi photos bhejne ke liye nahi<br>
5) Is sahulat ke kabhi paise nahi dene parein ge, lekin SMS tum khud bhejo gey<hr size=1>
<a href="{% url 'user_phonenumber' unique decision 0 %}">wapis</a>
</div>
{% endblock %}