{% extends "base.html" %}
{% block content %}
<head><title>Upload public photo or meme tutorial | Damadam.pk</title></head>
<div class="margin clb">
<b class="co">Damadam pe sab ke liye mazey ki fotos lagain!</b><br>
<span class="co">1)</span> Agli screen pe <span class="cg">'new foto lagao'</span> dabain<br>
<span class="co">2)</span> Jo foto upload karni hai, usko pick karein<br>
<span class="co">3)</span> Foto pe koi mazey ki baat likhein<br>
<span class="co">4)</span> "OK" dabain aur intezar karein<br>

<a href="{% url 'best_photo' %}"><button class="btn nw bco bl mtl mbs" type="submit">Theek hai</button></a>

</div><br><br>
{% endblock %}