{% load google_analytics %}
{% load get_transparent_buttons_js %}
{% load get_photo_object %}
{% load s3 %}

<!DOCTYPE html>
<html style="background:#f0f3f4">
<head>

	<!-- has to be the first tag in head -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {% include "favicons.html" %}
    {% include "css.html" %}
   	<!-- <meta charset="utf-8"> THIS IS AN HTML5 TAG-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Damadam is a Pakistani social site, with the best funny photos and memes, Urdu poetry, and interesting guys and girls to follow. Join the fun now!">
    <meta name="author" content="mhb">
    <title>"{{ photo.caption }}" image uploaded on {{ photo.upload_time }} | Damadam</title>
    <meta property="og:site_name" content="Damadam">
    {% if noindex %}
    	<meta name="robots" content="noindex">
    	<meta name="robots" content="noarchive">
    {% endif %}
	<meta property="og:title" content="Image title: '{{ photo.caption|truncatechars:53 }}'">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Uploaded by {{ photo.owner }} on Damadam, the desi social sharing site, with the latest images and memes from across Pakistan. Join now!">
	<meta property="og:url" content="https://damadam.pk/photo_detail/{{ photo_id }}/">
	<meta property="og:image" content="https:{{ photo.image_file|s3 }}">
	<meta property="og:image:width" content="{{ photo_width }}">
	<meta property="og:image:height" content="{{ photo_height }}">
	<meta property="fb:app_id" content="1758220174446684" />
    {% google_analytics %}

    <link rel="canonical" href="{% url 'photo_detail' photo_id %}" />

</head>
<body>

{% include "header.html" %}

{% if user.is_authenticated %}
	{% if request.mobile_verified %}
	    {% include "navbars/top_navbar.html" with username=user.username %}
	{% else %}
		{% include "navbars/top_navbar_unauth.html" %}
	{% endif %}
{% else %}
    {% include "navbars/top_navbar_unauth.html" %}
{% endif %}

{% if request.META.HTTP_X_IORG_FBS %}{% include "data_mode_strip.html" %}{% endif %}

<a name="section0"></a>

{% if request.is_opera_mini %}{% include "opera_mini_warning.html" %}{% endif %}

<script async type="text/javascript" src="{{ STATIC_URL }}js/lazysizes.min.js"></script>
{% load emoticons_tags %}
{% load humanize %}
<br>

	{% if not from_cull_queue and show_copy_prompt %}
		<div class="mbl" style="margin-left:auto;margin-right:auto;max-width:600px;background:white;border-radius:12px;border:3px solid #ececec;">
			<div style="text-align:center;border-bottom:2px solid whitesmoke;background:#fefefa;padding:0 5px 10px 5px" class="cl clb lsp mts">Is photo ko Whatsapp ya Facebook pe share karne ke liye ye link copy karein:</div>
			<div class="lsp cxl cp" style="padding:10px;text-align:center">{{ regular_url }}</div>
		</div>
	{% endif %}

<main style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;width:98%;max-width:600px;margin-right:auto;margin-left:auto">

{% if not absent %}
	
	{% if defender and from_cull_queue %}
		<a href="{% url 'cull_content_loc' photo_id 'img' %}"><button type="submit" class="sp btn bcgy bm mbs pg_ok_res" style="width:100%;height:30px;border-radius:0"><b>wapis</b></button></a>

		<h1 class="cl clb mt mbs" style="text-align:center"><b><bdi>{% emoticons %}{{ photo.caption }}{% endemoticons %}</bdi></b></h1>
		
		<div style="margin:0 auto;text-align:center">
			<img class="pht" src="{{ photo.image_file|s3 }}" style="border-radius:12px">
		</div>

		<div style="text-align:center;border-bottom:1px solid lightgray;padding-bottom:10px">
		<a href="{% url 'user_profile' photo.owner.username %}"><img src="{{ av_url|s3:"thumb" }}" alt="no pic" width="22" height="22" style="border-radius:50%">&nbsp;<span class="cs cgy sp">{{ photo.owner }}</span></a><span class="cs cgy sp">&nbsp;uploaded this {{ photo.upload_time|naturaltime }}</span>
		</div>

		{% if other_photos %}
		<div class="csw co mts mbs" style="text-align:center"><b>{{ photo.owner }} ki mazeed photos:</b></div>
			{% for pht in other_photos %}
				<a href="{% url 'photo_detail' pht.id 6 %}"><img src="{{ pht.image_file|s3:"thumb" }}" style="max-width:100px;width:100%;" class="mrs mbs"></a>
			{% endfor %}
		{% else %}
			<div style="text-align:center" class="mtl sp lsp csw co">{{ photo.owner }} ne aur photos nahi charhain...</div>
		{% endif %}
		
		<a href="{% url 'cull_content_loc' photo_id 'img' %}"><button type="submit" class="sp btn bcgy bm mtl pg_ok_res" style="height:30px;width:100%;border-radius:0"><b>wapis</b></button></a><br>

	{% else %}

	<article style="display:block;background:white">

		<section itemprop="hasPart" itemscope itemtype="https://schema.org/SocialMediaPosting" style="display:block">
			{% photo_object pid=photo_id ooid=photo.owner_id img_url=photo.image_file|s3 img_thumb=photo.image_file|s3:'thumb' caption=photo.caption|emoticons raw_caption=photo.caption origin='5' vsc=photo.vote_score is_fbs=on_fbs upload_time=photo.upload_time|naturaltime machine_time=photo.upload_time oun=oun av_url=av_url|s3:'thumb' static_url=STATIC_URL is_star=is_star exclude_detail_url='1' lazyload_idx=1 ratio=ratio %}
		</section>

		<section class="mbs">
			<div style="flex-wrap:wrap" class="mtl fx fxjscn fxaicn cxs sp cgy">
				<!-- big_photo_comment_button -->
				<a itemprop="discussionUrl" href="{% url 'old_comment' photo_id '5' %}" style="margin-bottom:4px;margin-right:4px">
				<button class="vt" style="padding:0;border:1px solid #3CB7DD;width:50px;height:42px;color:#3CB7DD;font-size:12px;text-align:center"><div class="mt mbs" itemprop="commentCount">{% if photo.comment_count > 999 %}999+{% else %}{{ photo.comment_count }}{% endif %}</div><div style="font-size:8.2px;color:#3CB7DD" class="mt">{% if photo.comment_count == 1 %}REPLY{% else %}REPLIES{% endif %}</div></button>
				</a>

				{% include "big_buttons/big_report_button.html" with origin='5' pid=photo_id oun=photo.owner ooid=photo.owner_id img_thumb=photo.image_file|s3:'thumb' raw_caption=photo.caption av_url='' home_hash='' static_url=STATIC_URL type='img' %}
			</div>
		</section>

		{% if other_photos %}
		<section style="text-align:center;border-top:2px solid #f5f5f5;padding:10px 0;background:#fefefa">
			<div class="cs sp cgy">Similar images by {{ oun }}:</div>
			<div class="fx fxjscn fxaicn" style="flex-wrap:wrap">
			{% for pht in other_photos %}
				<span itemscope itemtype="https://schema.org/ViewAction">
				<a class="mrs mls" href="{% url 'content_detail_view' pk=pht.id obj_type='g' %}" itemprop="target">
				<img src="{{ pht.image_file|s3:'thumb' }}" class="mts cxs sp" style="overflow:hidden;border:1px solid #eaf2f8;border-radius:4px" alt="{{ pht.caption }}">
				</a>
				</span>
			{% endfor %}
			</div>
		</section>
		{% endif %}

	</article>

	{% endif %}
{% else %}
<div class="cxl lsp clb" style="text-align:center">Photo available nahi</div>
{% endif %}
</main><br><br>

{% if user.is_authenticated %}

    {% if request.mobile_verified %}

        {% load feed_count %}
        {% check_feed_count False as feed_count %}
        {% load count %}
        {% check_reply_count as reply_count %}
        {% include "navbars/bottom_navbar.html" with feed_count=feed_count reply_count=reply_count %}

    {% else %}

        {% load feed_count %}
        {% check_feed_count False as feed_count %}
        {% include "navbars/bottom_navbar_unverified.html" with feed_count=feed_count %}

    {% endif %}

{% else %}

    {% include "navbars/bottom_navbar_unauth.html" %}

{% endif %}

{% include "min_service_worker.html" %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css">
{% transparent_buttons_js ident=user.id static_url=STATIC_URL %}
</body>
</html>
