{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<div class="margin">
<span class="co cl">
Ziyada se ziyada fans ke paas fotos pohonchane ke liye:
</span>
<br class="mbl">
<span class="cgy cm">
1) Jitne fans apki photos pr vote aur tabsre krein ge, apki fotos ki pohonch utni hi barhe gi<br>
2) Aisey fans ka <b>nuqsan</b> hai jo fotos pr tabsre ya zabardast vote nahi karte<br>
3) Beshak fans ziyada na hon, lekin honay aisey chahiyen jo apki fotos pe aya karien<br>
</span>
<br>
<a href="{% url 'unseen_activity' nickname %}"><button class="btn bco bm">wapis</button></a>
</div>
<br><br>
{% endblock %}