{% extends "base.html" %}
{% load humanize %}
{% load emoticons_tags %}
{% block content %}
<head><title>Photo sharing | Damadam.pk</title></head>
<div class="margin clb"> 
{% if not no_id %}
	Jis se photo share karni hai, kya woh <b class="co">freebasics</b> pe hai?<br><br>
	
	<div class="mbl">Agar <span class="cp">nahi</span>, toh ye link share karein:<br>
	<blockquote class="lsp mbl mts cl cp card" style="background-color:#FFFAF0;padding:10px;text-align:center">{{ regular_url }}</blockquote>
	</div>

	<div class="mbl">Agar <span class="co">haan</span>, toh ye link share karein:<br>
	<blockquote class="lsp mbl mts cl co card" style="background-color:#FFFAF0;padding:10px;text-align:center">{{ freebasics_url }}</blockquote>
	</div>

	{% if loc == '1' %}
		{% if authenticated %}
		<a href="{% url 'see_photo_pk' ident %}">
		{% else %}
		<a href="{% url 'unauth_photo_loc_pk' ident %}">
		{% endif %}
	{% elif loc == '2' %}
		{% if authenticated %}
		<a href="{% url 'best_photo_loc_pk' ident %}">
		{% else %}
		<a href="{% url 'unauth_best_photo_loc_pk' ident %}">
		{% endif %}
	{% elif loc == '3' %}
	<a href="{% url 'user_profile_photo' username ident %}">
	{% elif loc == '4' %}
	<a href="{% url 'home_loc' %}">
	{% elif loc == '5' %}
    <a href="{% url 'photo_detail' ident %}">
	{% else %}
	<a href="{% url 'best_photo' %}#section0">
	{% endif %}
	<button class="btn bco bs mbl" style="height:22px">wapis</button></a>

	<hr size=1 COLOR="#ff9933">
	Agr link copy kar ke bhejna nahi ata, toh button dabain:</span><br>
	<a href="sms:+03?body=Yar ye photo check kro: {{ regular_url }}"><button class="btn nw bcp bxl mtl mbl" style="height:25px">normal SMS</button></a><br>
	<a href="sms:+03?body=Yar ye photo check kro: {{ freebasics_url }}"><button class="btn nw bco bxl mbl" style="height:25px">freebasics SMS</button></a>
{% else %}
		<b>Ye photo kahien chup gaye hai {% emoticons %}:P{% endemoticons %}</b><br>
        Hum dhoondne ki koshish kr rahe hain<br>
        <a href="{% url 'best_photo' %}#section0"><button class="btn bco bs mtl mbl">wapis</button></a>
        <br>
{% endif %}
</div><br><br>
{% endblock %}