{% extends "empty.html" %}
{% block content %}
<head><title>Photo via SMS (help) | Damadam.pk</title></head>
<div class="margin">
1) Warning: agar kisi ke pas touchscreen ya laptop hai, to photo ki screenshot le sakta hai<br>
2) Apni ya apni family ki private photos kisi pe aitbar kiye beghair nahi bhejein<br>
3) Ye sahulat bilkul muft hai, dil khol kar istimal karein<br> 
4) Ye sahulat ghair ikhlaqi photos bhejne ke liye nahi hai<br>
5) Is sahulat ke kabhi paise nahi dene parein ge, lekin SMS ap khud bhejein gey<hr size=1>
<a href="{% url 'user_phonenumber' unique decision 0 %}">wapis</a>
</div>
{% endblock %}