{% extends "base/base_noindex.html" %}
{% load get_photo_object %}
{% load emoticons_tags %}
{% load humanize %}
{% load s3 %}
{% block content %}

{% if not from_cull_queue and show_copy_prompt %}
	<div class="mbl" style="margin-left:auto;margin-right:auto;max-width:600px;background:white;border-radius:12px;border:3px solid #ececec;">
		<div style="text-align:center;border-bottom:2px solid whitesmoke;background:#fefefa;padding:0 5px 10px 5px" class="cl clb lsp mts">Is image ko Whatsapp ya Facebook pe share karne ke liye ye link copy karein:</div>
		<div class="lsp cxl cp" style="padding:10px;text-align:center">{{ regular_url }}</div>
	</div>
{% endif %}

<main class="mtl mbl" style="overflow:hidden;background:white;max-width:600px;margin-right:auto;margin-left:auto">

{% if not absent %}
	
	{% if defender and from_cull_queue %}
		<a href="{% url 'cull_content_loc' photo_id 'img' %}"><button type="submit" class="sp btn bcgy bm mbs pg_ok_res" style="width:100%;height:30px;border-radius:0"><b>wapis</b></button></a>

		<h1 class="cl clb mt mbs" style="text-align:center"><b><bdi>{% emoticons %}{{ photo.caption }}{% endemoticons %}</bdi></b></h1>
		
		<div style="margin:0 auto;text-align:center">
			<img class="pht" src="{{ photo.image_file|s3 }}" style="border-radius:12px">
		</div>

		<div style="text-align:center;border-bottom:1px solid lightgray;padding-bottom:10px">
		<a href="{% url 'user_profile' photo.owner.username %}"><img src="{{ av_url|s3:"thumb" }}" alt="no pic" width="22" height="22" class="circle">&nbsp;<span class="cs cgy sp">{{ photo.owner }}</span></a><span class="cs cgy sp">&nbsp;uploaded this {{ photo.upload_time|naturaltime }}</span>
		</div>

		{% if other_photos %}
		<div class="csw co mts mbs" style="text-align:center"><b>{{ photo.owner }} ke mazeed images:</b></div>
			{% for pht in other_photos %}
				<a href="{% url 'photo_detail' pht.id 6 %}"><img src="{{ pht.image_file|s3:"thumb" }}" style="max-width:100px;width:100%;" class="mrs mbs"></a>
			{% endfor %}
		{% else %}
			<div style="text-align:center" class="mtl sp lsp csw co">{{ photo.owner }} ne mazeed images nahi lagai...</div>
		{% endif %}
		
		<a href="{% url 'cull_content_loc' photo_id 'img' %}"><button type="submit" class="sp btn bcgy bm mtl pg_ok_res" style="height:30px;width:100%;border-radius:0"><b>wapis</b></button></a><br>

	{% else %}

	<article style="display:block;background:white">

		<section itemprop="hasPart" itemscope itemtype="https://schema.org/SocialMediaPosting" style="display:block">
			{% photo_object pid=photo_id ooid=photo.owner_id img_url=photo.image_file|s3 img_thumb=photo.image_file|s3:'thumb' caption=photo.caption|emoticons origin='5' vsc=photo.vote_score is_fbs=on_fbs upload_time=photo.upload_time|naturaltime machine_time=photo.upload_time oun=oun av_url=av_url|s3:'thumb' static_url=STATIC_URL is_star=is_star exclude_detail_url='1' lazyload_idx=1 ratio=ratio alt_txt=photo.caption %}
		</section>

		<section class="mbs">
			<div style="flex-wrap:wrap" class="mtl fx fxjscn fxaicn cxs sp cgy">
				<!-- big_photo_comment_button -->
				<a itemprop="discussionUrl" href="{% url 'old_comment' photo_id '5' %}" style="margin-bottom:4px;margin-right:4px">
				<button class="vt" style="padding:0;border:1px solid #3CB7DD;width:50px;height:42px;color:#3CB7DD;font-size:12px;text-align:center"><div class="mt mbs" itemprop="commentCount">{% if photo.comment_count > 999 %}999+{% else %}{{ photo.comment_count }}{% endif %}</div><div style="font-size:8.2px;color:#3CB7DD" class="mt">{% if photo.comment_count == 1 %}REPLY{% else %}REPLIES{% endif %}</div></button>
				</a>

				{% include "big_buttons/big_report_button.html" with origin='5' pid=photo_id oun=photo.owner ooid=photo.owner_id img_thumb=photo.image_file|s3:'thumb' raw_caption=photo.caption av_url='' home_hash='' static_url=STATIC_URL type='img' %}
			</div>
		</section>

		{% if other_photos %}
		<section style="text-align:center;border-top:2px solid #f5f5f5;padding:10px 0;background:#fefefa">
			<div class="cs sp cgy">Similar images by {{ oun }}:</div>
			<div class="fx fxjscn fxaicn" style="flex-wrap:wrap">
			{% for pht in other_photos %}
				<span itemscope itemtype="https://schema.org/ViewAction">
				<a class="mrs mls" href="{% url 'content_detail_view' pk=pht.id obj_type='g' %}" itemprop="target">
				<img src="{{ pht.image_file|s3:'thumb' }}" class="mts cxs sp" style="overflow:hidden;border:1px solid #eaf2f8;border-radius:4px" alt="{{ pht.caption }}">
				</a>
				</span>
			{% endfor %}
			</div>
		</section>
		{% endif %}

	</article>

	{% endif %}
{% else %}
<div class="cxl lsp clb" style="text-align:center">Image unavailable!</div>
{% endif %}
</main><br><br>

{% endblock %}