{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="margin clb">
{% if time_remaining == '-1' %}
	Tumhe ab photo pr vote krne ki ijazat nahi!<br><br>
	<span class="cgy cs">Damadam ke mahol ko saf rakhna zaruri hai. Ye baat yad rakhna</span><br><br>
{% else %}
	Tumhe photo pr vote krne ki ijazat miley gi <b class="co cl">{{ time_remaining|naturaltime }}</b><br><br>
	<span class="cgy cs">Kuch bhi krte waqt insaf aur pakeezgi ka khyal rakha kro. Is se tumhari shaksiyat mien nikhar aye ga</span><br><br>
{% endif %}
	{% if origin == '1' %}
	<a href="{% url 'see_photo_pk' pk %}"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% elif origin == '2' %}
	<a href="{% url 'best_photo_loc_pk' pk %}"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% elif origin == '3' %}
	<a href="{% url 'home' %}"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% elif origin == '4' %}
	<a href="{% url 'profile' slug %}#section0"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% else %}
	<a href="{% url 'best_photo_loc_pk' pk %}"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% endif %}
</div>
{% endblock %}