{% if section == 'best' %}

	<div class="mbl fx fxjscn fxaicn">
		<button class="bizcard" style="padding:0;text-align:center;border:1px solid #F8F8F8;border-radius:0;border-top-left-radius:6px;border-bottom-left-radius:6px;height:48px;width:65px;background-color:white"><img src="{{ static_url }}img/fire.svg" width="24" height="24" style="vertical-align:middle"></button>

		<a href="{% url 'photo' 'fresh-list' %}#section0"><button type="submit" style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;height:46px;width:65px;background-color:#F0F0F0"><img src="{{ static_url }}img/stack-cgy.svg" width="20" height="20" style="vertical-align:middle"></button></a>
		
		<a href="{% url 'top_photo' %}#section0" ><button type="submit" style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;border-top-right-radius:5px;border-bottom-right-radius:5px;height:46px;width:65px;background-color:#F0F0F0"><img src="{{ static_url }}img/ribbon_disabled.svg" width="20" height="20" style="vertical-align:middle"></button></a>
	</div>

{% elif section == 'fresh' %}

	<div class="mbl fx fxjscn fxaicn">
		<a href="{% url 'photo' 'best-list' %}#section0"><button style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;border-top-left-radius:5px;border-bottom-left-radius:5px;height:46px;width:65px;background-color:#F0F0F0"><img src="{{ static_url }}img/fire-cgy.svg" width="20" height="20" style="vertical-align:middle"></button></a>

		<button class="bizcard" style="padding:0;text-align:center;border:1px solid #F8F8F8;border-radius:0;height:48px;width:65px;background-color:white"><img src="{{ static_url }}img/stack.svg" width="24" height="24" style="vertical-align:middle"></button>
		
		<a href="{% url 'top_photo' %}#section0" ><button type="submit" style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;border-top-right-radius:5px;border-bottom-right-radius:5px;height:46px;width:65px;background-color:#F0F0F0"><img src="{{ static_url }}img/ribbon_disabled.svg" width="20" height="20" style="vertical-align:middle"></button></a>
	</div>

{% elif section == 'top_list' %}

	<div class="mbl fx fxjscn fxaicn">
		
		<a href="{% url 'photo' 'best-list' %}#section0"><button style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;border-top-left-radius:5px;border-bottom-left-radius:5px;height:46px;width:65px;background-color:#F0F0F0"><img src="{{ static_url }}img/fire-cgy.svg" width="20" height="20" style="vertical-align:middle"></button></a>
		
		<a href="{% url 'photo' 'fresh-list' %}#section0"><button type="submit" style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;height:46px;width:65px;background-color:#F0F0F0"><img src="{{ static_url }}img/stack-cgy.svg" width="20" height="20" style="vertical-align:middle"></button></a>
		
		<button class="bizcard" type="submit" style="padding:0;text-align:center;border:1px solid #F8F8F8;border-radius:0;border-top-right-radius:6px;border-bottom-right-radius:6px;height:48px;width:65px;background-color:white"><img src="{{ static_url }}img/ribbon-co.svg" width="24" height="24" style="vertical-align:middle"></button>

	</div>

{% else %}
{% endif %}