{% extends "base.html" %}
{% block content %}
<head><title>Upload public photo tutorial | Damadam.pk</title></head>
<div class="margin clb">
<b>Damadam pe foto upload karein!</b><br>
<span style="color:grey;font-size:85%;">Foto upload karney ka tareeqa: </span><br>
<span style="color:#404040;font-size:89%;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);">
<span style="color:green;">1)</span> "New Foto Lagao" button dabain<br>
<span style="color:green;">2)</span> Jo foto upload karni hai, usko pick karein<br>
<span style="color:green;">3)</span> Foto pe koi mazey ki baat likhein<br>
<span style="color:green;">4)</span> "OK" dabain aur intezar karein<br>
</span>
<form action="{% url 'photo_option_tutorial' %}" method="POST">
{% csrf_token %}
<input class="button" style="color:white;background-color:#2DB92D;border:solid 1px #179b36;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);width:6.4em;white-space:nowrap;border-radius:4px;" type="submit" name= "choice" value="samajh gaya"><br>
<input class="button" style="color:white;background-color:#FF1A1A;border:solid 1px #cc0000;width:6.4em;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);white-space:nowrap;border-radius:4px;" type="submit" name= "choice" value="nahi samjha">
</form>

</div>
{% endblock %}