{% extends "base.html" %}
{% load emoticons_tags %}
{% load future_time %}
{% block content %}
<div class="margin clb">

	<h2>Photos pr dubara voting ho sake gi:&nbsp;<b class="co">{{ time_remaining|future_time }}</b></h2>{% emoticons %}Abhi chill kro ;){% endemoticons %}<br>

	{% if origin == '1' %}
	<a href="{% url 'see_photo_pk' pk %}"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% elif origin == '2' %}
	<a href="{% url 'best_photo_loc_pk' pk %}"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% elif origin == '3' %}
	<a href="{% url 'home_loc_pk' lid %}#section0"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% elif origin == '4' %}
	<a href="{% url 'profile_pk' slug pk %}#section0"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% else %}
	<a href="{% url 'best_photo_loc_pk' pk %}"><button class="btn bco bm mtl mbs">wapis</button></a>
	{% endif %}
</div>
<br><br>
{% endblock %}