{% if possible %}
	{% load emoticons_tags %}
	{% load get_block_button %}
	{% load get_group_button %}
	{% load get_datetime %}
	<div class="clb mts mbs ow" style="overflow:hidden;padding:0 5px">
	{% for comment in comments reversed %}
		<hr size=1 COLOR="#f4f4f4">
		<div itemprop="comment" itemscope itemtype="http://schema.org/Comment">
			<span itemprop="author" itemscope itemtype="http://schema.org/Person"><a itemprop="url" href="{% url 'profile' comment.writer_uname 'fotos' %}" class="clb">{% if comment.is_pinkstar == '1' %}<img src="{{ static_url }}img/pstar.svg" alt="*" width="11" height="11">&nbsp;{% endif %}<b itemprop="alternateName">{{ comment.writer_uname }}</b></a></span>:&nbsp;<span class="lsp mrs sp" itemprop="text"><bdi>{% emoticons %}{{ comment.text }}{% endemoticons %}</bdi></span><time itemprop="datePublished" class="cgy cxs sp" datetime="{{ comment.epoch_time|datetime }}">{{ comment.epoch_time|human_time }}</time> &nbsp;&nbsp;{% block_button comment.commenter_id comment.writer_uname self_user_id comment.photo_id origin static_url 'img' %}&nbsp;{% if score > 10 and comment.commenter_id|slugify != self_user_id|slugify %}{% group_button self_user_id comment.commenter_id comment.photo_id 'photos' origin comment.writer_uname home_hash %}{% endif %}
		</div>
	{% endfor %}
	</div>
{% endif %}