{% extends "base.html" %}
{% block content %}
<div class="margin clb">
<b class="co">Damadam pe sab ke liye foto lagain!</b><br>
<span class="co">1)</span> Agli screen pe 'foto lagao' ko dabain<br>
<span class="co">2)</span> Apki fotos tamam users dekh sakien ge, aur apke fans ban sakein ge<br>
<span class="co">3)</span> Agr foto na lg rahi ho, toh freebasics se<a href="https://damadam.pk/upload_public_photo/"> bahir </a>ja kr try krein<br>

<a href="{% url 'best_photo' %}"><button class="btn nw bco bl mtl mbs" type="submit">Theek hai</button></a>

</div><br><br>
{% endblock %}