{% extends "base.html" %}
{% load humanize %}
{% load emoticons_tags %}
{% block content %}
<div class="margin clb"> 

	<b>{% emoticons %}.g3.g3 Mubarik ho! Tum photos ke admin ban gaye! .g3.g3{% endemoticons %}</b><br><br>
	<span class="cg">1)</span> Agr kisi photo lagane waley ko ban krna ho, toh <b class="cr">bekaar</b> dabao, woh ban ho jaye ga<br>
	<span class="cg">2)</span> Lekin sirf tab ban ho ga agr pehle se hi uski photo awam ne ban na kr di ho<br>
	<span class="cg">3)</span> Agr kisi banned photo ko bahal krna ho, toh <b class="cg">zabrdast</b> dabao, woh bahal ho jaye gi<br>
	<span class="cg">4)</span> Woh log jinhoon ne photo ko ban kiya, unki vote krne ki power kuch waqt ke liye khatam ho jaye gi<br>
	<br>
	<a href="{% url 'redirect_ban_or_resurrect_page' photo_id uname ident origin link_id val %}"><button class="btn nw bco bl mts">samajh lia</button></a>

</div>
<br><br>
{% endblock %}