<form method="post" action="{% url 'photo_comment' pk=photo_id %}">
{% csrf_token %}
<input type="hidden" name="lang" value="{{ lang }}">
<input type="hidden" name="origin" value="{{ origin }}">
<input type="hidden" name="sort_by" value="{{ sort_by }}">
<input type="hidden" name="user_id" value="{{ user_id }}">
{% if comment_form.photo_comment.errors %}<span class="cr">{{ comment_form.photo_comment.errors.0 }}</span><br>{% endif %}
<div class="box-with-button-right mts mbs" style="max-width:400px">
{{ comment_form.photo_comment }}
<button class="btn bco bms mts" type="submit">tabsra kro</button>
</div>
</form>
