{% extends "base.html" %}
{% load humanize %}
{% load photoedge %}
{% load human_time %}
{% load thumbedge %}
{% load mathfilters %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">
	{% if notification %}
	{% if type_of_object == '2' %}

			<div class="box dbt">
			{% if first_time_user %}
				<span class="ct cs">
				Tumhe <b>welcome</b> kiya:
				</span>
				<br>
			{% else %}

				{% if parent.ooa != 'None' %}
					<img src="{{ parent.ooa|thumbedge }}" alt="no pic" width="22" height="22"></img>
				{% else %}
					<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22"></img>
				{% endif %}
				<span class="cgy"><bdi>{{ parent.oon }}</bdi></span>:<span class="cgy">{% emoticons %} {{ parent.od|truncatechars:40 }}{% endemoticons %}</span>
			
				<p style="margin-top:.5em;"></p>

				<span class="ct cs">
				is pr <b>new</b> jawab aya:
				</span>
				<p style="margin-top:.3em;"></p>
			{% endif %}	
			
			<a href="{% url 'reply_pk' parent_pk %}" ><bdi>{{ parent.lrsn }}</bdi>
				{% if parent.lrsn in girls %}
			    	<span class="pinkstar" ><b>*</b></span>
			    {% endif %}
			:<span class="cm"><bdi class="clb">{% emoticons %} {{ parent.lrtx|truncatechars:70 }}{% endemoticons %}</bdi></span><span class="cgy cs"><bdi>, {{ parent.lrti|human_time }}</bdi>
			</span>
				<p style="margin-top:.5em;"></p>
				<button class="btn nw bm bct mrs">jawab do</button></a>&nbsp;&nbsp;
				<a href="{% url 'x_notif' parent_pk user.id 0 %}"><button class="btn bxs bcr"><b>X</b></button></a>
			</div>
			<p style="margin-top:.5em;"></p>
			<hr size=1>
			<p style="margin-top:-0.9em;"></p>
			<hr size=1>
	{% elif type_of_object == '3a' %}
	<!-- private -->
	<div class="box dbg">
		<b class="cg">{% emoticons %}{{ parent.od|truncatechars:40 }}{% endemoticons %}</b>
		<br><br><span class="cg cs">mein <b>new</b> pegham aya:</span><br><br>
		{% if parent.rp != 'None' %}
		<img src="{{ parent.rp }}" alt="no pic"><br>
		{% endif %}
		<a href="{% url 'profile' parent.lrsn %}">
		{% if parent.lrau != 'None' %}
		<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		<span class="cm">{{ parent.lrsn }}</span></a>
				{% if parent.lrsn in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span class="clb">: {% emoticons %}{{ parent.lrtx|truncatechars:40 }}{% endemoticons %}</span><span class="cgy cs"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<br><a href="{% url 'private_group' parent.l %}"><button class="btn nw bcg bm mtl mrs">jawab do</button></a>&nbsp;&nbsp;<a href="{% url 'x_group_notif' parent_pk user.id '0' %}"><button class="btn bxs bcr"><b>X</b></button></a>
	</div>
				<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
				<hr size=1>

	{% elif type_of_object == '3b' %}
	<!-- public -->
	<div class="box dbp">
		<b class="cp">{{ parent.od|truncatechars:40 }}</b>
		<br><br><span class="cp cs">mein <b>new</b> pegham aya:</span><br><br>
		{% if parent.rp != 'None' %}
		<img src="{{ parent.rp }}"><br>
		{% endif %}
		<a href="">
		{% if parent.lrau != 'None' %}
		<img src="{{ parent.lrau|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		<span class="cm">{{ parent.lrsn }}</span></a>
				{% if parent.lrsn in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span class="clb">: {{ parent.lrtx|truncatechars:40 }}</span><span class="cs cgy"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<br><a href="{% url 'public_group' parent.l %}"><button class="btn nw bm bcp mtl mrs">jawab do</button></a>&nbsp;&nbsp;<a href="{% url 'x_group_notif' parent.oi user.id '0' %}"><button class="btn bxs bcr"><b>X</b></button></a>
	</div>
				<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
				<hr size=1>

		{% elif type_of_object == '4' %}
		<div class="box dbg">
		<a href="{% url 'profile' parent.oon %}#section0">
		{% if parent.ooa != 'None' %}
		<img src="{{ parent.ooa|thumbedge }}" alt="no pic" width="22" height="22">
		{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22">
		{% endif %}
		{{ parent.oon }}</a>
				{% if parent.oon in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		<span class="clb">: {{ username }}, waqt mila toh <b class="cg">{{ namaz }}</b> parh lena {% emoticons %}:){% endemoticons %}</span>
		<br>
			{% if first_time_user > 1 %}
			<span class="cg cm">({{ parent.oon }} ne pichli <b>lagatar {{ first_time_user }} namazein</b> parhein)</span><br>
			{% endif %}
		<a href="{% url 'cross_salat_notif' parent.c user.id '0' %}"><button class="btn bxs bcr mtl" ><b>X</b></button></a>
		</div>
		<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
				<hr size=1>
	{% elif type_of_object == '0' %}
		<div class="box dby">
		<span class="co cs">Photo pr <b>new</b> tabsra aya:</span><p style="margin-top:.3em;"></p>
		
		<a href="{% url 'comment_pk' parent_pk 1 %}">
		{% if parent.v|add:"0" < -2 %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		{% elif parent.v|add:"0" < -1 %}
			{% if parent.p != 'None' %}
			<img src="{{ parent.p|thumbedge }}" alt="no pic" ></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.p|thumbedge }}"></img>
		{% endif %}
		<span class="cgy">{% emoticons %}{{ parent.od|truncatechars:30 }}{% endemoticons %}</span>
		<br class="mbl">
		<bdi>{{ parent.lrsn }}</bdi><span class="clb cl">
				{% if parent.lrsn in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		:&nbsp;<bdi>{% emoticons %}{{ parent.lrtx|truncatechars:40 }}{% endemoticons %}</bdi></span><span class="cgy cs"><bdi>, {{ parent.lrti|human_time }}</bdi></span>
		<br>
		<p style="margin-top:.5em;"></p>
		<button class="btn nw bm bco" >tabsra kro</button></a>&nbsp;&nbsp;
		<a href="{% url 'cross_comment_notif' parent_pk user.id 0 0 %}"><button class="btn bxs bcr"><b>X</b></button></a>
		</a>
		</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
	{% elif type_of_object == '1' %}
		<div class="box dby">
		<span class="co"><a href="{% url 'profile' parent.oon %}">{{ parent.oon }}</a>
				{% if parent.oon in girls %}
			    	<span class="pinkstar"><b>*</b></span>
			    {% endif %}
		ne new photo lagai:</span><p style="margin-top:.3em;"></p>
		<a href="{% url 'user_profile_photo' parent.oon parent_pk 1 %}">
		{% if parent.v|add:"0" < -2 %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
		{% elif parent.v|add:"0" < -1 %}
			{% if parent.p != 'None' %}
			<img src="{{ parent.p|thumbedge }}" alt="no pic" class="uploadedphoto"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/broken_pic_small.png" alt="no pic" width="38" height="38"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.p|thumbedge }}" class="uploadedimage2"></img>
		{% endif %}
		<span class="cgy">{% emoticons %}{{ parent.od|truncatechars:30 }}{% endemoticons %}</span><br>
		<button class="btn nw bm bco mtl">isko dekho</button>
		</a>&nbsp;&nbsp;
		<a href="{% url 'cross_comment_notif' parent_pk user.id 0 1 %}"><button class="btn bxs bcr mtl"><b>X</b></button></a>
		</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
	{% endif %}
	{% endif %}

{% if authenticated and score > 29 and not banned %}
<a href="{% url 'upload_photo' %}#section0"><button class="btn bl bco"><b>New Photo Charhao</b></button></a>
</p>
{% elif not authenticated %}
<span class="cgy cm">Photo lagane ke liye account banao</span>
{% elif banned %}
{% elif first_time_user %}
{% else %}
<span class="co cm">Photo charhane ke liye apna <a href="{% url 'score_help' %}"><button class="btn nw bl bco mbs"><b>score barhao</b></button></a></span>
{% endif %}

{% if object_list %}
{% for photo in object_list %}

	{% if forloop.counter == 1 %}
	<hr size=1 COLOR="#ffbf00" style="margin-bottom:-0.1em;">
	<a href="{% url 'best_photo' %}#section0" class="cs cgy">&nbsp;&nbsp;Top photos&nbsp;&nbsp;</a><span class="co">|</span><span class="cs cb"><b>&nbsp;&nbsp;Taza photos&nbsp;&nbsp;</b></span><span class="co">|</span><a href="{% url 'top_photo' %}#section0" class="cs cgy">&nbsp;&nbsp;Top stars&nbsp;&nbsp;</a>
	<hr size=1 COLOR="#ffbf00" style="margin-top:-0.0em;"><br>
	{% else %}
	<p><hr size=1 COLOR="#ff9933"></p>
	{% endif %}

		{% if forloop.counter == 3 %}
		<div class="cm co">{% if authenticated %}<a href="{% url 'auth_pics_display' %}#section0">{% else %}<a href="{% url 'pic_upload' %}">{% endif %}<button class="btn nw bm bco cm">Muft mein</button></a> apni photos dostoon ko SMS kro!
		&nbsp;<a href="{% url 'pic_help' %}"><button class="btn bxs bcp cs mbs"><b>?</b></button></a><br><hr size=1 COLOR="#ff9933"></div>
	{% endif %}

	<a name="section{{ forloop.counter }}"></a>
	
	<a href="{% url 'profile' photo.o %}#section0">
	{% if photo.oa != 'None' and username == photo.o %}
		<img style="border: 1px solid #00B800;" src="{{ photo.oa|thumbedge }}" alt="no pic" width="22" height="22"></img>
	{% elif photo.oa != 'None' %}
		<img style="border: 1px solid #A9A9A9;" src="{{ photo.oa|thumbedge }}" alt="no pic" width="22" height="22"></img>
	{% else %}
		<img style="border: 1px solid #DCDCDC" src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic" width="22" height="22"></img>
	{% endif %}
	</a>
	<a href="{% url 'comment_pk' photo.i '1' %}" class="cb cl">
	{% if photo.vo|add:"0" < -2 %}
	<span class="cgy">--- --- ---</span>
	{% else %}
	<b><bdi>{% emoticons %}{{ photo.ca }}{% endemoticons %}</bdi></b>
	{% endif %}
	<button class="btn nw bm bco cs mbs">
	{% if photo.co|add:"0" > 1 %}
	<b>{{ photo.co|add:"0" }}</b> tabsrey
	{% elif photo.co|add:"0" == 1 %}
	<b>1</b> tabsra
	{% else %}
	tabsra kro
	{% endif %}</button>
	
	{% if photo.d == '1' %}
		&nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic"></img>
		{% elif photo.d == '2' %}
		&nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic"></img>
		{% elif photo.d == '4' %}
		&nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic"></img>
		{% elif photo.d == '5' %}
		&nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic"></img>
		{% elif photo.d == '3' %}
		&nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic"></img>
		{% else %}
	{% endif %}
	
	</a>
	
	<br>
	

			{% if photo.vo|add:"0" < -2 %}
				<img class="pht" src="{{ STATIC_URL }}img/broken_pic.png"></img>
			{% elif photo.vo|add:"0" < -1 %}
				<img class="pht bright" src="{{ photo.u|photoedge }}"></img>
			{% else %}
				<img class="pht" src="{{ photo.u|photoedge }}"></img>
			{% endif %}<br>

			<a href="{% url 'comment_pk' photo.i 1 %}">
			{% if photo.lctx and photo.slctx %}
				<div class="bglo iw2">
				<span class="cm cb">&nbsp;{{ photo.lcwu|truncatechars:10 }}:</span>&nbsp;<span class="clb cm">{% emoticons %}{{ photo.lctx|truncatechars:40 }}{% endemoticons %}</span><br>
				<span class="cm cb">&nbsp;{{ photo.slcwu|truncatechars:10 }}:</span>&nbsp;<span class="clb cm">{% emoticons %}{{ photo.slctx|truncatechars:40 }}{% endemoticons %}</span><br>
				</div>
			{% elif photo.lctx %}
				<div class="bglo iw2">
				<span class="cb cm">&nbsp;{{ photo.lcwu|truncatechars:10 }}:</span>&nbsp;<span class="clb cm">{% emoticons %}{{ photo.lctx|truncatechars:30 }}{% endemoticons %}</span><br>
				</div>
			{% else %}
			{% endif %}
			</a>

			{% if authenticated and photo.o != username %}
				{% if photo.oi|add:"0" in fanned %}
					<a href="{% url 'fan' photo.oi photo.i 2 %}"><button class="btn bms bco mrl" style="background-image: url({{ STATIC_URL }}img/fan.png);background-size: 23px 23px;background-repeat: no-repeat;background-position: center;width:23px;height:23px;" type="submit">&nbsp;</button></a>
				{% else %}
					<a href="{% url 'fan' photo.oi photo.i 2 %}"><button class="btn bms bcgy mrl" style="background-image: url({{ STATIC_URL }}img/unfan.png);background-size: 23px 23px;background-repeat: no-repeat;background-position: center;width:23px;height:23px;" type="submit">&nbsp;</button></a>
				{% endif %}
			{% endif %}

			<a href="{% url 'photo_izzat' photo.i 1 %}">
			{% if photo.vi|add:"0" > 1 %}
			<button class="btn nw bcgy cs mtl mbl"><b>{{ photo.vi }}</b>&nbsp;points</button>
			{% elif photo.vi|add:"0" == 1 %}
			<button class="btn nw bcgy cs mtl mbl"><b>{{ photo.vi }}</b>&nbsp;point</button>
			{% else %}
			<button class="btn nw bcgy cs mtl mbl"><b>{{ photo.vi }}</b>&nbsp;points</button>
			{% endif %}
			</a>
			<br>

				{% if can_vote and photo.i not in voted and photo.o != username %}
				<a href="{% url 'photo_vote' photo.i 1 1 %}"><button class="btn bs bcg cm mts mbs">zabrdast</button></a><br>
				<a href="{% url 'photo_vote' photo.i 0 1 %}"><button class="btn bs bcr cm mbl">bekaar</button></a><br>
				{% endif %}


			<a href="{% url 'photo_share' photo.i 1 %}"><button class="btn nw bxl bcp">photo share kro</button></a><br>

		
{% endfor %}
{% endif %}
</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination" style="text-align: center;">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0"><button class="btn bs bcr"><bdi>wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0"><button class="btn bs bcg"><bdi>aagey</bdi></button></a>
    {% endif %}
</div>
{% endif %}
<br><br>
{% endblock %}