{% if possible %}
	{% load emoticons_tags %}
	{% load get_block_button %}
	{% load get_group_button %}
	<div class="clb mts mbs ow" style="overflow:hidden;padding:0 5px">
	{% for comment in comments reversed %}
		{% if forloop.counter != 1 %}<hr size=1 COLOR="#e0e0e0">{% endif %}
		<div itemscope itemtype="http://schema.org/CreativeWork">	
			<a href="{% url 'profile' comment.writer_uname %}" class="clb">
			{% if comment.is_pinkstar == '1' %}<img src="{{ static_url }}img/pstar.svg" alt="*" width="11" height="11">&nbsp;{% endif %}<b itemprop="author">{{ comment.writer_uname|truncatechars:'13' }}</b></a>:&nbsp;<span class="lsp mrs" itemprop="comment"><bdi>{% emoticons %}{{ comment.text }}{% endemoticons %}</bdi></span><span itemprop="datePublished" class="cgy cxs sp">{{ comment.epoch_time|human_time }}</span> &nbsp;&nbsp;{% block_button comment.commenter_id comment.writer_uname self_user_id comment.photo_id origin static_url 'img' %}&nbsp;{% if score > 10 and comment.commenter_id|slugify != self_user_id|slugify %}{% group_button self_user_id comment.commenter_id comment.photo_id 'photos' origin comment.writer_uname home_hash %}{% endif %}
		</div>
	{% endfor %}
	</div>
{% endif %}