{% extends "empty.html" %}
{% block content %}

<body bgcolor="#FFFFE0">
<div class="margin">
<form action="{% url 'pic_expiry' slug=unique %}" method="POST">
{% csrf_token %}
<input type="hidden" name="unique" value="{{ unique }}">
<b style="font-family:sans-serif;font-size:90%;color:green;">Dekhney waley ko ye photo kitni bar dekhne ki ijazat hai?</b><br>
<input style="color:#1947D1;background-color:white;border:solid 1px orange;margin-top:0.3em;margin-bottom:1em;text-shadow:none;width:7em;font-weight:bold;border-radius: 4px;font-size:90%;" type="submit" name="decision" value="sirf aik bar"><br>
<input style="color:#1947D1;background-color:white;border:solid 1px orange;margin-top:-0.3em;text-shadow:none;width:7em;font-weight:bold;border-radius: 4px;font-size:90%;" name="decision" type="submit" value="kayee bar">
</form>
<hr size=1>
<span style="font-size:80%;color:grey;"><b>aik bar</b> wali photo aik bar dekhne ke bad ghayeb ho jati he. <b>kayee bar</b> wali photo 24 ghentay baad ghayeb ho jati he</span>

</div>
</body>
{% endblock %}