{% extends "base.html" %}
{% block content %}
<div class="margin">
{% if object_list %}
	<a href="{% url 'pic_upload' %}"><button style="color:#1947D1;background-color:gold;border:solid;border-width:1px;border-radius:4px; padding-left:2px;padding-right:2px;border-color:gold;white-space:nowrap;font-size:85%;">Naee photo bhejo</button></a>
	<p style="color:gray"><hr size=1></p>
	{% for pic in object_list %}
		{% if pic.image %}
		<img style="width:100%;max-width:200px;margin-bottom:0.3em;" src="{{ pic.image.url }}"></img><br>
		{% else %}
		<img style="width:100%;max-width:200px;margin-bottom:0.3em;" src="{{ STATIC_URL }}img/broken_pic.png"></img><br>
		{% endif %}
	<a href="{% url 'pic_expiry' slug=pic.unique %}"><button style="color:#1947D1;background-color:white;border:solid;border-width:1px;border-radius:4px; padding-left:2px;padding-right:2px;border-color:orange;white-space:nowrap;font-size:85%;margin-bottom:0.2em;">dost ko yeh bhejo</button></a><br>
	<a href="{% url 'delete_pic' slug=pic.unique %}#section0"><button style="color:#1947D1;background-color:white;border:solid;border-width:1px;border-radius:4px; padding-left:2px;padding-right:2px;border-color:orange;white-space:nowrap;font-size:85%;margin-top:0.1em;">isko mita do</button></a>
	<p style="color:gray;"><hr size=1></p>
	{% endfor %}
{% else %}
	<span style="font-size:90%;">Yahan se apni photo dostoon ko SMS kro:</span><br>
	<a href="{% url 'pic_upload' %}"><button style="color:#1947D1;background-color:gold;border:solid;border-width:1px;border-radius:4px; padding-left:2px;padding-right:2px;border-color:gold;white-space:nowrap;font-size:85%;margin-top:0.5em;">photo bhejo</button></a><hr size=1>
	<span style="font-family:sans-serif;color:grey;font-size:80%;"><i>Damadam ki ye sahoolat <b>bilkul muft</b> hai</i></span>
{% endif %}
</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0" style="font-family:arial;"><b style="color:red;text-shadow:0 0 0px red;"><</b><bdi>wapis</bdi></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0" style="font-family:arial;"><bdi>aagey</bdi><b style="color:green;text-shadow:0 0 0px green;">></b></a>
    {% endif %}
</div>
{% endif %}
{% endblock %}