{% extends "empty.html" %}
{% block content %}

<body bgcolor="#FFFFE0">
<div class="margin">
<form action="{% url 'pic_upload' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
	<div style="margin-bottom:0.7em;font-family:sans-serif;font-size:90%;color:#179b36;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);"><b>Yahan photo ka intikhab kro:</b></div>
	<span style="font-family:sans-serif;font-size:85%;"></span>{{ form.image }}<br>
	<span style="font-family:sans-serif;color:grey;font-size:80%;"><i>Neechay <b>OK</b> dabao jab photo ka intikhab ho jaye</i></span><br>
	<input class="button" style="text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);background-color:#ff9933;border-color:#ff8000;color:white;border-radius:4px;margin-bottom:0.3em;" type="submit" value="OK" id="id_submit">
</form>
<span style="font-family:sans-serif;color:grey;font-size:80%;"><i><b>OK</b> daba kr 1-2 minute intezar kro takey photo lag jai</i></span><br><hr size=1>
</div>
</body>
{% endblock %}