{% extends "base_ecomm.html" %}
{% block content %}

<head>
<title>
	Create free classified (step 3) | Damadam.pk
</title>
</head>

<div class="margin clb">
<h2 class="cg">STEP 3 <span class="cs">(out of 4)</span></h2>

<form method="POST" action="{% url 'post_seller_info' %}">
{% csrf_token %}

<div class="mtl mbl">
<b class="cl">Apna naam likho:</b>
<div class="mbs">
{% if form.seller_name.errors %}
<span class="cr">{{ form.seller_name.errors.0 }}</span>
{% else %}
<span class="cgy cs">(Ye naam khareedar ko bataya jaye ga)</span>
{% endif %}
</div>
{{ form.seller_name }}
</div>
<hr size=1 COLOR="#b3e6b3">


<div class="mtl mbl">
<div class="mbs">
<b class="cl">Apna city likho:</b>
{% if form.city.errors %}
<br><span class="cr">{{ form.city.errors.0 }}</span>
{% endif %}
</div>
{{ form.city }}
</div>
<hr size=1 COLOR="#b3e6b3">


<div class="mtl mbl">
<div class="mbs">
<b class="cl">Apna ilaka, basti ya mohalla likho:</b>
{% if form.town.errors %}
<br><span class="cr">{{ form.town.errors.0 }}</span>
{% endif %}
</div>
{{ form.town }}
</div>
<hr size=1 COLOR="#b3e6b3">


{% if mobile_num %}
<div class="mtl mbl">
<b class="cl">Khareedar kis mobile number pe contact karien?</b>
<div class="mbs">
{% if form.mobile.errors %}
<span class="cr">{{ form.mobile.errors.0 }}</span>
{% else %}
<span class="cgy cs">(Ye number abhi apke pas mojood hona chahiye)</span>
{% endif %}
</div>
{% for radio in form.mobile %}
<div class="mts">
{{ radio }}
</div>
{% endfor %}
</div>
<hr size=1 COLOR="#b3e6b3">
{% endif %}

<input class="btn bl cl mbs mts" style="border-color:#00c853;background-color:#00c853;" type="submit" value="Agey">
</form>

</div>
<br><br>
{% endblock %}
