{% extends "base.html" %}
{% block content %}
<div class="margin clb">
<h2 class="cg">STEP 3 <span class="cs">(out of 4)</span></h2>

<form method="POST" action="{% url 'post_seller_info' %}">
{% csrf_token %}

<div class="mtl mbl">
<b class="cl">Apna naam batao:</b>
<div class="mbs">
{% if form.seller_name.errors %}
<span class="cr">{{ form.seller_name.errors.0 }}</span>
{% else %}
<span class="cgy cs">(Ye naam khareedar ko bataya jaye ga)</span>
{% endif %}
</div>
{{ form.seller_name }}
</div>
<hr size=1 COLOR="#b3e6b3">


<div class="mtl mbl">
<div class="mbs">
<b class="cl">Apna city batao:</b>
{% if form.city.errors %}
<br><span class="cr">{{ form.city.errors.0 }}</span>
{% endif %}
</div>
{{ form.city }}
</div>
<hr size=1 COLOR="#b3e6b3">


{% if mobile_num %}
<div class="mtl mbl">
<b class="cl">Khareedar kis number pe contact karien?</b>
<div class="mbs">
{% if form.mobile.errors %}
<span class="cr">{{ form.mobile.errors.0 }}</span>
{% endif %}
</div>
{% for radio in form.mobile %}
<div class="mts">
{{ radio }}
</div>
{% endfor %}
</div>
<hr size=1 COLOR="#b3e6b3">
{% endif %}

<input class="btn bl cl bcg mbs mts" type="submit" value="Agey">
</form>

</div>
<br><br>
{% endblock %}
