{% extends "base.html" %}
{% block content %}
<div class="margin clb">
<h2 class="cg">STEP 3 <span class="cs">(out of 4)</span></h2>

<form method="POST" action="{% url 'post_seller_info' %}">
{% csrf_token %}

<div class="mtl mbl">
<b class="cl">Apna naam batao:</b>
<div class="mbs">
{% if form.seller_name.errors %}
<span class="cr">{{ form.seller_name.errors.0 }}</span>
{% else %}
<span class="cgy cs">(Ye naam khareednay waloon ko bataya jaye ga)</span>
{% endif %}
</div>
{{ form.seller_name }}
</div>
<hr size=1 COLOR="#b3e6b3">

<div class="mtl mbl">
<div class="mbs">
<b class="cl">Apna city batao:</b>
{% if form.city.errors %}
<br><span class="cr">{{ form.city.errors.0 }}</span>
{% endif %}
</div>
{{ form.city }}
</div>
<hr size=1 COLOR="#b3e6b3">

<input class="btn bm bcg mbs mts" type="submit" value="Agey">
</form>
<!-- 
<hr size=2 COLOR="#b3e6b3">
<form method="POST" class="mtl" action="{% url 'post_basic_item' %}">{% csrf_token %}
<span class="cgy">Agar kuch ghalat ho gaya hai aur dobara se shuru karna hai tou ye dabao:</span><br>
<input type="submit" class="btn bm bcg mbs mts" value="Restart">
</form> -->
</div>
<br><br>
{% endblock %}
