{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="margin">


    <b style="color:green;font-size:110%;">{{ group.topic }}</b>&nbsp;<a href="{% url 'change_topic' slug=unique %}" style="font-size:70%;">(change karo)</a>
    <br>
    <span style="font-size:85%;">
    <b>members:</b>
    {% if not members %}
    <a href="{% url 'profile' slug=group.owner.username %}">{{ group.owner }}</a>
    {% else %}
        {% for member in members %}
        <a href="{% url 'profile' slug=member.username %}">{{ member.username }}</a>,&nbsp;
        {% endfor %}
    {% endif %}
    </span>
    <br><a href="{% url 'closed_invite_type' slug=unique %}#section0" style="font-size:70%;">(invite karo)</a>
    <a name="sectionJ"></a> 
    <hr size=1>


    <form action="{% url 'private_group_reply' slug=unique %}" method="POST" enctype="multipart/form-data">
    	{% csrf_token %}
    	<input type="hidden" id="id_link" name="unique" class="hidden_id" value="{{ unique }}">
        <br><span style="color:green;font-size:90%;">Tasveer:&nbsp;</span>{{ form.image }}<br>
        <span style="color:grey;font-size:80%;"><i><b>1 mb</b> se barri pic nahi lag sakti</i></span><br>
        <span style="color:red;font-size:80%;">{{ form.errors }}</span>
        <br><span style="color:green;font-size:90%;">Likho:</span>{{ form.text }}
        <br>
    <input class="button" style="color:#1947D1;background-color:white;border:solid 1px orange;" type="submit" value="OK" id="id_submit">
    </form>

    <p style="color:gray"><hr size=1></p>
    <a href="{% url 'group_page' %}" style="font-size:65%;"><b>wapis</b></a>&nbsp;<span style="font-size:70%;">|</span>
    <a href="{% url 'group_list' %}" style="font-size:65%;"><b>mashoor</b></a>&nbsp;<span style="font-size:70%;">|</span>
    <a href="{{ request.path }}" style="font-size:65%;"><b>taaza</b></a>&nbsp;<span style="font-size:70%;">|</span>
    <a href="{% url 'group_online_kon' slug=unique %}" style="font-size:65%;"><b>group online</b></a>
    <p style="margin-top:.3em;"></p>
    <a name="sectionJ"></a> 
    <span style="font-size:85%;">
    {% if replies|length < 25 %}
        <b>{{ replies|length }} Baatien:</b><br>
    {% else %}
        <b>Pichli 25 Baatien:</b><br>
    {% endif %}
    </span>
    <table>
    {% for reply in replies %}
    <tr><td>
            {% if reply.category == '1' %}
                <span class="numbers" style="font-size:50%;">
                {{ forloop.counter }}.
                </span>

                    {% if reply not in seenreplies %}
                    <b style="color:orange;font-size:80%">(new)</b>
                    {% endif %}
                
                <span style="color:green;font-size:90%;">
                <a href="{% url 'profile' slug=reply.writer.username %}">
                    {% if reply.writer.userprofile.avatar %}
                    <img src="{{ reply.writer.userprofile.avatar.url }}" alt="no pic" height="15" width="15"></img>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/default-avatar.jpg" alt="no pic" height="15" width="15"></img>
                    {% endif %}
                {{ reply.writer }}
                    {% for person in ensured %}
                    {% if person == reply.writer.username %}
                    <span style="font-size:120%;color:deeppink;"><b>*</b></span>
                    {% endif %}
                    {% endfor %}
                </a>
                    ne&nbsp;<a href="{% url 'profile' slug=reply.text %}">{{ reply.text }}</a>&nbsp;ko&nbsp;invite&nbsp;kar&nbsp;diya
                </span>
            {% elif reply.category = '4' %}
                <span class="numbers" style="font-size:50%;">
                {{ forloop.counter }}.
                </span>
                <span style="color:green;font-size:90%;"><a href="{% url 'profile' slug=reply.writer.username %}#section0">{% if reply.writer.userprofile.avatar %}<img src="{{ reply.writer.userprofile.avatar.url }}" alt="no pic" height="15" width="15"></img>{% else %}<img src="{{ STATIC_URL }}img/default-avatar.jpg" alt="no pic" height="15" width="15"></img>{% endif %}&nbsp;{{ reply.writer }}{% for person in ensured %}{% if person == reply.writer.username %}<span style="font-size:120%;color:deeppink;"><b>*</b></span>{% endif %}{% endfor %}</a>&nbsp;ne&nbsp;topic&nbsp;tabdeel&nbsp;kar&nbsp;ke&nbsp;<b>{{ reply.text }}</b>&nbsp;rakh&nbsp;diya</span>
            {% else %}
                {% if reply.image %}
                <img src="{{ reply.image.url }}"></img><br>
                {% endif %}
                <span class="numbers" style="font-size:50%;">
                {{ forloop.counter }}.
                </span>

            {% if reply not in seenreplies %}
            <b style="color:orange;font-size:80%">(new)</b>
            {% endif %}
            
            <a href="{% url 'profile' slug=reply.writer.username %}#section0">
            {% if reply.writer.userprofile.avatar %}
                <img src="{{ reply.writer.userprofile.avatar.url }}" alt="no pic" height="15" width="15"></img>
            {% else %}
                <img src="{{ STATIC_URL }}img/default-avatar.jpg" alt="no pic" height="15" width="15"></img>
            {% endif %}
            {{ reply.writer }}
            </a>
            
            <span style="font-size:70%;">
            {% if user.usersettings.score_setting == '1' %}
                {% if reply.writer.userprofile.score %}
                    {% if reply.writer.userprofile.score < 0 %}
                        <span style="color:red;">({{ reply.writer.userprofile.score }})</span>
                    {% else %}
                        <span style="color:#18A018;">({{ reply.writer.userprofile.score }})</span>
                    {% endif %}
                {% else %}
                {% endif %}
            {% else %}
            {% endif %}
            </span>

        	{% for person in ensured %}
                {% if person == reply.writer.username %}
                    <span style="font-size:120%;color:deeppink;"><b>*</b></span>
                {% endif %}
            {% endfor %}:&nbsp;{{ reply.text }}

            {% endif %}
            
            <span style="color:grey;font-size:65%">,{{ reply.submitted_on|naturaltime }}</span>
        
    	<br>
        </td></tr>
    {% endfor %}
    </table>


</div>
{% endblock %}