{% extends "base.html" %}
{% load humanize %}
{% load thumbnail %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">

{% if switching %}
    <span style="color:orange;"><b>Ye mehfil is terah nahi chalti!</b></span>
{% else %}
    <b style="color:green;font-size:110%;">{% emoticons %}{{ group.topic }}{% endemoticons %}</b>&nbsp;<a href="{% url 'change_topic' 'private' %}" style="font-size:70%;">(change)</a>
    <br>
    <span style="font-size:85%;">
    <b>members:</b>
    {% if not members %}
    <a href="{% url 'profile' slug=group.owner.username %}">{{ group.owner }}</a>
    {% else %}
        {% for member in members %}
        <a href="{% url 'profile' slug=member.username %}">{{ member.username }}</a>,&nbsp;
        {% endfor %}
    {% endif %}
    </span>
    <br><a href="{% url 'closed_invite_type' slug=unique %}#section0" style="font-size:70%;">(invite karo)</a>
    <a name="sectionJ"></a> 
    <hr size=1>
    <form action="{% url 'private_group_reply' %}" method="POST" enctype="multipart/form-data">
    	{% csrf_token %}
    	<input type="hidden" id="id_link" name="unique" class="hidden_id" value="{{ unique }}">
        <span style="color:green;font-size:90%;">Tasveer:&nbsp;</span>{{ form.image }}<br>
        <span style="color:grey;font-size:80%;"><i><b>1 mb</b> se barri pic nahi lag sakti</i></span><br>
        <span style="color:red;font-size:80%;">{{ form.errors }}</span>
        <br><span style="color:green;font-size:90%;">Likho:</span>{{ form.text }}
        <br>
    <input class="button" style="color:#1947D1;background-color:white;border:solid 1px orange;" type="submit" value="OK" id="id_submit">
    </form>

    <p style="margin-top:.2em;"></p>
    <a name="sectionJ"></a> 
    <span style="font-size:90%;">
    {% if replies|length < 25 %}
        <b>{{ replies|length }} Baatien:</b><br>
    {% else %}
        <b>Pichli 25 Baatien:</b><br>
    {% endif %}
    </span>
    <table>
    {% for reply,writer,time in replies %}
    <tr><td>
            {% if reply.category == '1' %}
                {% if time < 41 %}
                    <img src="{{ STATIC_URL }}img/green.png" alt="no pic" height="10" width="10">
                {% elif time < 91 %}
                    <img src="{{ STATIC_URL }}img/orange.png" alt="no pic" height="10" width="10">
                {% else %}
                    <img src="{{ STATIC_URL }}img/grey.png" alt="no pic" height="10" width="10">
                {% endif %}

                    {% if reply not in seenreplies %}
                    <b style="color:orange;font-size:80%">(new)</b>
                    {% endif %}
                
                <span style="color:green;font-size:90%;">
                <a href="{% url 'profile' slug=reply.writer.username %}">
                    {% if writer.userprofile.avatar %}
                    <img src="{{ writer.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
                    {% endif %}
                {{ writer }}
                    {% for person in ensured %}
                    {% if person == writer.username %}
                    <span style="font-size:120%;color:deeppink;"><b>*</b></span>
                    {% endif %}
                    {% endfor %}
                </a>
                    ne&nbsp;<a href="{% url 'profile' slug=reply.text %}"><bdi>{{ reply.text }}</bdi></a>&nbsp;ko&nbsp;invite&nbsp;kar&nbsp;diya
                </span>
            {% elif reply.category = '4' %}
                {% if time < 41 %}
                    <img src="{{ STATIC_URL }}img/green.png" alt="no pic" height="10" width="10">
                {% elif time < 91 %}
                    <img src="{{ STATIC_URL }}img/orange.png" alt="no pic" height="10" width="10">
                {% else %}
                    <img src="{{ STATIC_URL }}img/grey.png" alt="no pic" height="10" width="10">
                {% endif %}
                <span style="color:green;font-size:90%;"><a href="{% url 'profile' slug=writer.username %}#section0">{% if writer.userprofile.avatar %}<img src="{{ writer.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>{% else %}<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>{% endif %}&nbsp;{{ writer }}{% for person in ensured %}{% if person == writer.username %}<span style="font-size:120%;color:deeppink;"><b>*</b></span>{% endif %}{% endfor %}</a>&nbsp;ne&nbsp;topic&nbsp;tabdeel&nbsp;kar&nbsp;ke&nbsp;<b>{% emoticons %}<bdi>{{ reply.text }}</bdi>{% endemoticons %}</b>&nbsp;rakh&nbsp;diya</span>
            {% else %}
                {% if reply.image %}
                <img style="width:100%;max-width:400px;" src="{{ reply.image.url }}"></img><br>
                {% endif %}
                {% if time < 41 %}
                    <img src="{{ STATIC_URL }}img/green.png" alt="no pic" height="10" width="10">
                {% elif time < 91 %}
                    <img src="{{ STATIC_URL }}img/orange.png" alt="no pic" height="10" width="10">
                {% else %}
                    <img src="{{ STATIC_URL }}img/grey.png" alt="no pic" height="10" width="10">
                {% endif %}
            {% if reply not in seenreplies %}
            <b style="color:orange;font-size:80%">(new)</b>
            {% endif %}
            
            <a href="{% url 'profile' slug=writer.username %}#section0">
            {% if writer.userprofile.avatar %}
                <img src="{{ writer.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
            {% else %}
                <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
            {% endif %}
            <bdi>{{ reply.writer }}</bdi>
            </a>
            
            <span style="font-size:70%;">

                {% if writer.userprofile.score %}
                    {% if writer.userprofile.score < 0 %}
                        <span style="color:red;">({{ writer.userprofile.score }})</span>
                    {% else %}
                        <span style="color:#18A018;">({{ writer.userprofile.score }})</span>
                    {% endif %}
                {% endif %}

            </span>

        	{% for person in ensured %}
                {% if person == writer.username %}
                    <span style="font-size:120%;color:deeppink;"><b>*</b></span>
                {% endif %}
            {% endfor %}:&nbsp;<bdi>{% emoticons %}{{ reply.text }}{% endemoticons %}</bdi>

            {% endif %}
            
            <span style="color:grey;font-size:65%">,<bdi>{{ reply.submitted_on|naturaltime }}</bdi>
        {% if reply.device == '1' %}
        <a href="{% url 'device_help' 1 %}">&nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic"></img></a>
        {% elif reply.device == '2' %}
        <a href="{% url 'device_help' 2 %}">&nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic"></img></a>
        {% elif reply.device == '4' %}
        <a href="{% url 'device_help' 4 %}">&nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic"></img></a>
        {% elif reply.device == '5' %}
        <a href="{% url 'device_help' 5 %}">&nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic"></img></a>
        {% elif reply.device == '3' %}
        <a href="{% url 'device_help' 3 %}">&nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic"></img></a>
        {% else %}
        {% endif %}
            </span>
        
    	<br>
        </td></tr>
    {% endfor %}

    </table>
 <hr size=1><span style="font-size:80%;color:gray;"><i>jis jis ka <b>sabz gola</b> hai woh is mehfil mein abhi mojood hai, baqiyun ka pakka nahi</i></span><br>
{% endif %}
</div>
{% endblock %}
