{% extends "base.html" %}
{% load humanize %}
{% load thumbedge %}
{% load photoedge %}
{% load emoticons_tags %}
{% block content %}
<div class="margin clb">

{% if switching %}
    <span><b>Ye mehfil tum se dar kr bhag gye hai! {% emoticons %}:P{% endemoticons %}</b><br>
    Hum isey pakarne ki koshish krein ge</span><br><br>
    <a href="{% url 'group_page' %}#section0"><button class="btn bs bcg mbs"><b>wapis</b></button></a>
    <br><br><br>
{% else %}
    <a href="{% url 'leave_private_group' pk=group.id unique=group.unique private=1 inside_grp=1 %}"><button class="btn bcr bxs"><b>X</b></button></a>
    <b class="clb cl bw">{% emoticons %}{{ group.topic }}{% endemoticons %}</b>&nbsp;<a href="{% url 'change_private_topic' %}"><button class="btn bm bcg cs mbs">change</button></a>
    <br>
    <span class="cs">
    <b class="clb">members:</b>
    {% if not members %}
    <a href="{% url 'profile' slug=group.owner.username %}#section0">{{ group.owner }}</a>
    {% else %}
        {% for member in members %}
        <a href="{% url 'profile' slug=member %}#section0">{{ member }}</a>,&nbsp;
        {% endfor %}
    {% endif %}
    </span>
    
    <a href="{% url 'invite_private_group' %}#section0"><button class="btn bm bcg cs mts">invite</button></a>
    <a name="sectionJ"></a> 
    <hr size=1 COLOR="#2DB92D">
    <form action="{% url 'private_group_reply' %}" method="POST" enctype="multipart/form-data" style="display:inline;">
        {% csrf_token %}
        <input type="hidden" id="id_link" name="unique" class="hidden_id" value="{{ unique }}">
       <span class="cm cg"><b>Photo:</b><br></span>{{ form.image }}<br>
        {% if not on_fbs %}
        <span class="cs cgy"><b>10 mb</b> se barri pic nahi lagti</span><br>
        {% else %}
        <span class="cs cgy"><b>200 kb</b> se barri pic nahi lagti</span><br>
        {% endif %}
        <br>{% if form.text.errors %}<span class="cr">{{ form.text.errors.0 }}</span>{% else %}<span class="cg"><b>Likho:</b></span>{% endif %}
        <br>
        {{ form.text }}
            <br>
    <button class="btn bms bcg mrl" type="submit" id="id_submit">OK</button>
    </form>
    <form action="{% url 'first_time_refresh' unique %}" method="POST" enctype="multipart/form-data" style="display:inline;">
        {% csrf_token %}
        <button class="btn bms bco mll" style="background-image: url({{ STATIC_URL }}img/rfrsh1.png);background-size: 23px 23px;background-repeat: no-repeat;background-position: center;width:23px;height:23px;" type="submit">&nbsp;</button>
    </form>
    
    <p style="margin-top:.2em;"></p>
    <a name="sectionJ"></a> 
    <span class="cg cs">
    {% if replies|length < 25 %}
        <b>{{ replies|length }}</b> baatien:<br>
    {% else %}
        <b>Pichli 25 baatien:</b><br>
    {% endif %}
    </span>
    <table>
    {% for reply,writer,time in replies %}
    <tr><td>
            {% if reply.category == '1' %}
                {% if time < 41 %}
                    <img src="{{ STATIC_URL }}img/green.png" alt="no pic" height="10" width="10">
                {% elif time < 91 %}
                    <img src="{{ STATIC_URL }}img/orange.png" alt="no pic" height="10" width="10">
                {% else %}
                    <img src="{{ STATIC_URL }}img/grey.png" alt="no pic" height="10" width="10">
                {% endif %}

                    {% if unseen %}
                        {% if not reply_time %}
                        <b class="co cs">(new)</b>&nbsp;
                        {% elif reply.submitted_on > reply_time %}
                        <b class="co cs">(new)</b>&nbsp;
                        {% endif %}
                    {% endif %}
                
                <span class="cg cs">
                <a href="{% url 'profile' slug=reply.writer.username %}#section0">
                    {% if writer.userprofile.avatar %}
                    <img src="{{ writer.userprofile.avatar.url|thumbedge }}" alt="no pic"></img>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
                    {% endif %}
                {{ writer }}
                    {% if writer.username in ensured %}
                    <span class="pinkstar"><b>*</b></span>
                    {% endif %}
                </a>
                    ne&nbsp;<a href="{% url 'profile' slug=reply.text %}#section0"><bdi>{{ reply.text }}</bdi></a>&nbsp;ko&nbsp;invite&nbsp;kar&nbsp;diya
                </span>
            {% elif reply.category == '6' %}
                {% if time < 41 %}
                    <img src="{{ STATIC_URL }}img/green.png" alt="no pic" height="10" width="10">
                {% elif time < 91 %}
                    <img src="{{ STATIC_URL }}img/orange.png" alt="no pic" height="10" width="10">
                {% else %}
                    <img src="{{ STATIC_URL }}img/grey.png" alt="no pic" height="10" width="10">
                {% endif %}

                    {% if unseen %}
                        {% if not reply_time %}
                        <b class="co cs">(new)</b>&nbsp;
                        {% elif reply.submitted_on > reply_time %}
                        <b class="co cs">(new)</b>&nbsp;
                        {% endif %}
                    {% endif %}
                
                <span class="cg cs">
                <a href="{% url 'profile' slug=reply.writer.username %}#section0">
                {{ writer }}
                    {% if writer.username in ensured %}
                    <span class="pinkstar"><b>*</b></span>
                    {% endif %}
                </a>
                    ne&nbsp;mehfil&nbsp;ko&nbsp;chore&nbsp;diya
                </span>
            {% elif reply.category == '7' %}
                {% if time < 41 %}
                    <img src="{{ STATIC_URL }}img/green.png" alt="no pic" height="10" width="10">
                {% elif time < 91 %}
                    <img src="{{ STATIC_URL }}img/orange.png" alt="no pic" height="10" width="10">
                {% else %}
                    <img src="{{ STATIC_URL }}img/grey.png" alt="no pic" height="10" width="10">
                {% endif %}

                    {% if unseen %}
                        {% if not reply_time %}
                        <b class="co cs">(new)</b>&nbsp;
                        {% elif reply.submitted_on > reply_time %}
                        <b class="co cs">(new)</b>&nbsp;
                        {% endif %}
                    {% endif %}
                
                <span class="cg cs">
                <a href="{% url 'profile' slug=reply.writer.username %}#section0">
                {{ writer }}
                    {% if writer.username in ensured %}
                    <span class="pinkstar"><b>*</b></span>
                    {% endif %}
                </a>
                    ne&nbsp;mehfil&nbsp;ko&nbsp;join&nbsp;nahi&nbsp;kia
                </span>
            {% elif reply.category = '4' %}
                {% if time < 41 %}
                    <img src="{{ STATIC_URL }}img/green.png" alt="no pic" height="10" width="10">
                {% elif time < 91 %}
                    <img src="{{ STATIC_URL }}img/orange.png" alt="no pic" height="10" width="10">
                {% else %}
                    <img src="{{ STATIC_URL }}img/grey.png" alt="no pic" height="10" width="10">
                {% endif %}
                <span class="cg cs"><a href="{% url 'profile' slug=writer.username %}#section0">{{ writer }}{% if writer.username in ensured %}<span class="pinkstar"><b>*</b></span>{% endif %}</a>&nbsp;ne&nbsp;topic&nbsp;tabdeel&nbsp;kar&nbsp;ke&nbsp;<b>{% emoticons %}<bdi>{{ reply.text }}</bdi>{% endemoticons %}</b>&nbsp;rakh&nbsp;diya</span>
            {% else %}
        
                {% if reply.image %}
                <img class="pht" src="{{ reply.image.url|photoedge }}"></img><br>
                {% endif %}
                {% if time < 41 %}
                    <img src="{{ STATIC_URL }}img/green.png" alt="no pic" height="10" width="10">
                {% elif time < 91 %}
                    <img src="{{ STATIC_URL }}img/orange.png" alt="no pic" height="10" width="10">
                {% else %}
                    <img src="{{ STATIC_URL }}img/grey.png" alt="no pic" height="10" width="10">
                {% endif %}
            
                    {% if unseen %}
                    
                        {% if not reply_time %}
                        <b class="co cs">(new)</b>&nbsp;
                        {% elif reply.submitted_on > reply_time %}
                        <b class="co cs">(new)</b>&nbsp;
                        {% endif %}
                    {% endif %}
            <a href="{% url 'profile' slug=writer.username %}#section0">
            {% if writer.userprofile.avatar %}
                <img src="{{ writer.userprofile.avatar.url|thumbedge }}" alt="no pic"></img>
            {% else %}
                <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
            {% endif %}
            <bdi>{{ reply.writer }}</bdi>
            </a>
            
                {% if writer.userprofile.score %}
                    {% if writer.userprofile.score < 0 %}
                        <span class="cg cxs">(1)</span>
                    {% else %}
                        <span class="cg cxs">({{ writer.userprofile.score }})</span>
                    {% endif %}
                {% endif %}

            {% if writer.username in ensured %}
                <span class="pinkstar"><b>*</b></span>
            {% endif %}:&nbsp;
            <bdi class="bw">{% emoticons %}{{ reply.text }}{% endemoticons %}</bdi>
        
        {% endif %}
            
            <span class="cgy cxs">,<bdi>{{ reply.submitted_on|naturaltime }}</bdi>
        {% if reply.device == '1' %}
        &nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic"></img>
        {% elif reply.device == '2' %}
        &nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic"></img>
        {% elif reply.device == '4' %}
        &nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic"></img>
        {% elif reply.device == '5' %}
        &nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic"></img>
        {% elif reply.device == '3' %}
        &nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic"></img>
        {% else %}
        {% endif %}
            </span>
        <hr size=1 COLOR="#2DB92D">
        </td></tr>
    {% endfor %}

    </table>
<span class="cgy cs"><i>jis jis ka <b>sabz gola</b> hai woh is mehfil mein abhi mojood hai, baqiyun ka pakka nahi</i></span><br>
{% endif %}
</div>
<br><br>
{% endblock %}