{% extends "base.html" %}
{% block content %}
<head><title>Public group refreshing tutorial | Damadam.pk</title></head>
<div class="margin clb">
<a href="{% url 'public_group' unique %}"><img src="{{ STATIC_URL }}img/rfrsh1.png" style="margin-right:0.6em;" alt="no pic" height="26" width="26"></a>
Ye button daba kar mehfil mein agar new baatein ayi hon toh dekhi ja sakte hain!
<br><br>
<a href="{% url 'public_group' unique %}"><button class="btn bcp bl mbs">Theek hai</button></a>
</div><br><br>
{% endblock %}