{% extends "base.html" %}
{% block content %}
{% load cache %}
{% cache 3600 register_walkthrough_fragment %}

<div class="margin">
Dost, yahan khaata khol kar chat karna asaan hai:<br><br>
<span style="color:lightgrey;font-size:150%;">.</span>&nbsp;Sirf ek <b>nickname</b> rakho, aur <b>khufiya code</b> dalo.<br>
<span style="color:lightgrey;font-size:150%;">.</span>&nbsp;<b>Nickname</b> kuch bhi rakh lo, lekin iss mien <b>space na daalna</b>.<br>
<span style="color:lightgrey;font-size:150%;">.</span>&nbsp;Khufiya code (<b>password</b>) koi bhi lafz ya number ho sakta hai.<br><br>
<a href="{% url 'registration_register' %}">Theek hai>></a>
</div>

{% endcache %}
{% endblock %}