{% extends "base.html" %}
{% block content %}

<div class="margin clb">
Tareeqa:<br>
<span class="cgy cxl">.</span>&nbsp;Ek <b>nickname</b> rakho, phir ek <b>khufiya code</b> dalo.<br>
<span class="cgy cxl">.</span>&nbsp;<b>Nickname</b> ke beech mein <b>khali jagah nah dalna</b>.<br>
<span class="cgy cxl">.</span>&nbsp;Khufiya code (<b>password</b>) koi bhi alfaz ya number ho sakte hain.<br><br>
<a href="{% url 'registration_register' %}"><button class="btn nw bcg bl">Samajh liya</button></a><br>
</div>
<br><br>
{% endblock %}