{% extends "base.html" %}
{% block content %}
<head><title>Registration tutorial | Damadam.pk</title></head>
<h2>Sign up karney ka tareeqa:</h2>
<b>Nickname:</b><br>
<span class="cgy cs sp">1)</span> Nickname koi bhi naam ho sakta hai, zaroori nahi email ID ya Facebook ID hi ho. Jo dil chahey, rakh lein!<br>
<span class="cgy cs sp">2)</span> Nickname mien space nah dalein. Maslan, 'salman hero' nahi chaley ga, lekin 'salman_hero' chal jaye ga<br>
<span class="cgy cs sp">3)</span> Nickname mien beshak number daal dein. Maslan 'dabang.420' ya 'munda-1987' bilkul theek hain<br><br>
<b>Password:</b><br>
<span class="cgy cs sp">1)</span> Password aik khufiya code hota hai, jo sirf apko pata ho<br>
<span class="cgy cs sp">2)</span> Apna password kahien likh lein, takey bhool na jain<br>

<b>Abb ao <a href="{% url 'registration_register' %}#section0">khaata kholo</a>!</b>

{% endblock %}