{% extends "base.html" %}
{% load humanize %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">
<a href="{% url 'profile' slug=parent.submitter %}">{{ parent.submitter }}</a>
{% if user.is_authenticated %}
            {% if user.usersettings.score_setting == '1' %}
                {% if parent.submitter.userprofile.score %}
                    {% if parent.submitter.userprofile.score < 0 %}
                        <span style="color:red;">({{ parent.submitter.userprofile.score }})</span>
                    {% else %}
                        <span style="color:#18A018;">({{ parent.submitter.userprofile.score }})</span>
                    {% endif %}
                {% else %}
                {% endif %}
            {% else %}
            {% endif %}
    {% endif %}
{% for person in ensured %}
    {% if person == parent.submitter.username %}
        
        <span style="font-size:140%;color:deeppink;"><b>*</b></span>
    {% endif %}
{% endfor %}
:&nbsp;{% emoticons %}{{ parent.description }}{% endemoticons %}&nbsp;<span style="color:grey;font-size:80%">,{{ parent.submitted_on|naturaltime }}</span><br><br>
<a name="sectionJ"></a> 
{% if user.userprofile.score > -10 %}
<form action="{% url 'reply' pk=parent.pk %}" method="POST">
	{% csrf_token %}
	<input type="hidden" id="id_link" name="object_id" class="hidden_id" value="{{ parent.pk }}">
    Jawab:{{ form.description }}
    <br>
<input class="button" style="color:#1947D1;background-color:white;border:solid 1px orange;" type="submit" value="OK" id="id_submit">
</form>
{% else %}
<i style="color:red;">Tumhara score itna nahi ke tum jawab de sako</i>
{% endif %}
<p style="color:gray"><hr size=1></p>
<a href="/" style="font-size:65%;"><b>home</b></a>&nbsp;<span style="font-size:70%;">|</span>
<a href="{% url 'unseen_activity' slug=user.username %}#section0" style="font-size:65%;"><b>dusray jawab</b></a>&nbsp;<span style="font-size:70%;">|</span>
<a href="{{ request.path }}" style="font-size:65%;"><b>taaza karo</b></a>
<p style="margin-top:.3em;"></p>
{% if replies|length < 25 %}
    <b>{{ replies|length }} Jawab:</b><br>
{% else %}
    <b>Pichley 25 Jawab:</b><br>
{% endif %}
<table>
{% for reply in replies %}
<tr><td>
<span class="numbers" style="font-size:50%;">
    	{{ forloop.counter }}.
    </span>
    <a href="{% url 'profile' slug=reply.submitted_by %}#section0">
    {% if reply.submitted_by.userprofile.avatar %}
        
        <img src="{{ reply.submitted_by.userprofile.avatar.url }}" alt="no pic" height="15" width="15"></img>
        
    {% else %}
        
        <img src="{{ STATIC_URL }}img/default-avatar.jpg" alt="no pic" height="15" width="15"></img>
        
    {% endif %}
    </a>
    {% if reply.abuse %}
        {% if reply not in seenreplies %}
            <b style="color:orange;font-size:80%">(new)</b>
        {% endif %}
        <span style="color:grey;font-size:90%;"><a href="{% url 'profile' slug=reply.submitted_by %}">{{ reply.submitted_by }}</a></span>
         {% if user.is_authenticated %}
                    {% if user.usersettings.score_setting == '1' %}
                        {% if reply.submitted_by.userprofile.score %}
                            {% if reply.submitted_by.userprofile.score < 0 %}
                                <span style="color:red;font-size:80%;">({{ reply.submitted_by.userprofile.score }})</span>
                            {% else %}
                                <span style="color:#18A018;font-size:80%;">({{ reply.submitted_by.userprofile.score }})</span>
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% else %}
                    {% endif %}
            {% endif %}
         <span style="color:grey;font-size:90%;">ne ghalat baat ki, isko report kar diya gaya</span>
    {% else %}
        {% if reply not in seenreplies %}
            <b style="color:orange;font-size:80%"><i>(new)</i></b>
        {% endif %}
	   <a href="{% url 'profile' slug=reply.submitted_by %}" style="font-size:90%;">{{ reply.submitted_by }}</a>
        <span style="font-size:80%;">
            {% if user.is_authenticated %}
                    {% if user.usersettings.score_setting == '1' %}
                        {% if reply.submitted_by.userprofile.score %}
                            {% if reply.submitted_by.userprofile.score < 0 %}
                                <span style="color:red;">({{ reply.submitted_by.userprofile.score }})</span>
                            {% else %}
                                <span style="color:#18A018;">({{ reply.submitted_by.userprofile.score }})</span>
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% else %}
                    {% endif %}
            {% endif %}
        </span>
    	{% for person in ensured %}
            {% if person == reply.submitted_by.username %}
            	
                <span style="font-size:140%;color:deeppink;"><b>*</b></span>
            {% endif %}
        {% endfor %}:&nbsp;{% emoticons %}{{ reply.description }}{% endemoticons %}
    <span style="color:grey;font-size:80%">,{{ reply.submitted_on|naturaltime }}</span>
    {% if user == parent.submitter %}
    <a href="{% url 'reportreply' pk=reply.pk %}"><span style="font-size:65%;">(report)</span></a>
    {% endif %}
    {% endif %}
	<br>
    </td></tr>
{% endfor %}
</table>
</div>
{% endblock %}