{% extends "base.html" %}
{% block content %}
<div class="margin clb">
<b class="cxl">Kya ye tabsra hide karna hai?</b><br>
<span class="cgy">(iske  <b style="color:red;">3 points</b> cut hon ge)</span><br><br>
<form action="{% url 'report_comment' %}" method="POST">
{% csrf_token %}
<input type="hidden" name="comm_pk" value="{{ comment_id }}">
<input type="hidden" name="ph_pk" value="{{ photo_id }}">
<input type="hidden" name="org" value="{{ origin }}">
<input type="hidden" name="slug" value="{{ slug }}">
&nbsp;<input class="voting" type="submit" name="dec" style="font-weight:bold;color:white;background-color:#1CB841;border-color:green;width:5em;white-space:nowrap;border-radius: 4px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-align: center;margin-bottom:1em;font-size:90%;" value="Haan"><br>
&nbsp;<input class="voting" type="submit" name="dec" style="font-weight:bold;color:white;border-color: #cc0000;background: #FF1A1A;width:5em;white-space:nowrap;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-align: center;margin-top:0.3em;font-size:90%;" value="Nahi"><br>
</form>
</div>
<br><br>
{% endblock %}