{% extends "base.html" %}
{% block content %}
<div class="margin clb">
{% if authorized %}
<b class="cxl">Kya ye jawab hide karna hai?</b><br>
<span class="cgy cs">(iska score <b class="cr">-3</b> ho ga)</span><br><br>
<form action="{% url 'report' %}" method="POST">
{% csrf_token %}
<input type="hidden" name="reply" class="hidden_id" value="{{ reply_id }}">
<input type="hidden" name="link" class="hidden_id" value="{{ link_id }}">
&nbsp;<button type="submit" class="btn bcg bm mbl" name="report" value="Haan">Haan</button><br>
&nbsp;<button type="submit" class="btn bcr bm" name="report" value="Nahi">Nahi</button><br>
</form>
{% else %}
<h2>Ye hide nahi ho sakta</h2>
{% endif %}
</div>
<br><br><br>
{% endblock %}