{% extends "base.html" %}

{% block content %}
<div class="margin clb">
{% if allowed %}
	<b class="clb cxl">Ek mazboot sa new password likho:</b>
	<br>
	<form method="post" action="{% url 'reset_password' %}">
	  {% csrf_token %}
	  	  {% if form.password.errors %}
	  	  	<span class="cr">{{ form.password.errors.0 }}</span><br><br>
	  	  {% else %}
	  	  	<span class="cgy">(tip: is mein baray, chotay lafz aur numbers dal sakte ho)</span><br><br>
	  	  {% endif %}
	      {{ form.password }}<br><br>
	  <input class="btn bs bcg" type="submit" value="OK">
	</form>
	<br>
	</div>
{% else %}
	<b class="clb cxl">Pehle ye daba kr purana password likho:</b><br>
	<a href="{% url 'reauth' %}#section0"><button class="btn bm bcg mtl">password</button></a>
{% endif %}
<br><br>
{% endblock %}
