{% extends "base.html" %}
{% block content %}
<div class="margin">
<b style="color:#404040;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);"><a href="{% url 'profile' user.username %}#section0">{{ user.username }}</a> ko pehle hi <b style="color:#179b36;">{{ namaz }}</b> ki dawat mil chuki hai!</b><br><br>
<a href="{% url 'internal_salat_invite' %}#section0"><button style="width:5em;background-color:#2DB92D;border-color:#179b36;color:white;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);font-size:90%;border-radius:4px;text-align: center;"><b>< wapis</b></button></a>
</div>
{% endblock %}