{% extends "base.html" %}
{% load humanize %}
{% load emoticons_tags %}
{% load thumbedge %}
{% block content %}
<div class="margin">
<span class="ct">
{% if user.userprofile.streak < 2 %}
<b>{% emoticons %}.g3.g3 ALHUMDULILLAH! .g3.g3{% endemoticons %}</b><br>Tum ne {% if namaz == 'Jummah' %}<b class="co">{{ namaz }}</b>{% else %}<b class="cg">{{ namaz }}</b>{% endif %} parh kr nekiyan kamai!<br><br>Agli namaz <b class="cg">{{ time }}</b> bajey hai
{% else %}
{% emoticons %}.g3.g3{% endemoticons %} <b>ALHUMDULILLAH!</b> Tum <b class="cg cl">lagatar {{ user.userprofile.streak }} namazein</b> parh chuke ho! {% emoticons %}.g3.g3{% endemoticons %}<br><br>
Agli namaz <b>{{ time }}</b> pe hai. Isey bhi parhna takey tumhari <b class="cg">lagatar namazein</b> barhti jaein!</span>
{% endif %}</span>
<br><br>
<hr size=1 COLOR="#3cb7dd"><span class="clb">Doston ko {{ namaz }} ki</span>
<a href="{% url 'salat_invite' %}"><button class="btn nw bcg bm"><b>dawat do</b></button></a><br>
<hr size=1 COLOR="#3cb7dd">
<br>
	{% for object in object_list %}
	<span class="clb">
	<span class="numbers">{{ forloop.counter }}.</span>
	<a href="{% url 'profile' slug=object.salatee.username %}#section0">
		{% if object.salatee.userprofile.avatar %}
			<img src="{{ object.salatee.userprofile.avatar.url|thumbedge }}" alt="no pic"></img>
		{% else %}
			<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
		{% endif %}
	{{ object.salatee }}</a>
	{% if object.salatee.username in girls %}<b class="pinkstar">*</b>{% endif %}
	ne <b class="cg">
	{% if object.latest_salat == '1' %}
	Fajr
	{% elif object.latest_salat == '2' %}
		{% if weekday == '4' %}
		<span class="co">Jummah</span>
		{% else %}
		Zuhr
		{% endif %}
	{% elif object.latest_salat == '3' %}
	Asr
	{% elif object.latest_salat == '4' %}
	Maghrib
	{% elif object.latest_salat == '5' %}
	Isha
	{% else %}
	namaz 
	{% endif %}</b>

	{% if weekday == '4' and object.latest_salat == '2' %}
	parha
	{% else %}
	parhi
	{% endif %}
	<b class="co">
	{% if object.salatee.userprofile.streak < 2 %}
	({{ object.salatee.userprofile.streak }} namaz)
	{% else %}
	({{ object.salatee.userprofile.streak }} lagatar namazein)
	{% endif %}
	</b>
	<br>
	</span>
	{% endfor %}

<br>
</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0"><button class="btn bs bcr"><bdi><&nbsp;wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0"><button class="btn bs bcg"><bdi>aagey&nbsp;></bdi></button></a>
    {% endif %}
</div>
{% endif %}
<br><br>
{% endblock %}