{% extends "base.html" %}
{% load humanize %}
{% block content %}
<head><title>Maintenance | Damadam.pk</title></head>
<div class="margin clb">

{% if last_batch %}

	<span class="cxl"><b>Success:</b> Inactive users' groups have been sanitized from redis!</span><br>

{% else %}

	<span class="cxl">Proceed with santizing inactive users' group? <span class="cgy">(max batch-size: 50,000)</span></span><br>
	<span class="cgy">Total inactives remaining: {{ inactives_remaining|intcomma }}</span><br>

	<form method="POST" action="{% url 'remove_inactives_groups' %}">
	{% csrf_token %}
	<input type="submit" class="btn bcg bm mtl mbl" name="dec" value="Yes"><br>
	<input type="submit" class="btn bcgy bm mts mbl" style="border-color:grey" name="dec" value="No"><br>
	</form>

{% endif %}

</div>
<br><br>
{% endblock %}