{% extends "base.html" %}
{% block content %}
<head><title>Score help | Damadam</title></head>
<style>body{background: #E9EBEE}</style>
{% load cache %}
{% cache 300 score_help_fragment %}

<div class="mbl" style="max-width: 600px;margin-left: auto;margin-right:auto;text-align:center;overflow:hidden">
    <h1 style="display:inline" class="clb cxl lsp">Score help:</h1>
</div>


<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">
<div class="cxl lsp" style="padding-bottom:10px;border-bottom:1px dashed lightgray">Damadam pe har user ka score pehlay hua karta tha, ab khatam kia ja chuka hai</div>
</div>

{% endcache %}

<br><br>
{% endblock %}