{% extends "base.html" %}
{% block content %}
<head><title>Score help | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>
{% load cache %}
{% cache 3 score_help_fragment %}

<div class="mbl" style="max-width: 600px;margin-left: auto;margin-right:auto;text-align:center;overflow:hidden">
    <h1 style="display:inline" class="clb cxl lsp">Score help:</h1>
</div>


<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">
<div class="cxl lsp" style="padding-bottom:10px;border-bottom:1px dashed lightgray">Damadam pe har user ka score hota hai. Score increase karney ke liye ye sab karein:</div>
	<div style="text-align:left" class="lsp sp cl mts">
		1) Home pe text share karney se score <b style="color:mediumseagreen;">+1</b> barhta hai<br>
		2) Home pe jawab dene se score <b style="color:mediumseagreen;">+2</b> barhta hai<br>
		3) Kisi foto pe first time tabsra karney se score <b style="color:mediumseagreen;">+2</b> barhta hai<br>
		4) Koi apki foto pe first time tabsra kare tou score <b style="color:mediumseagreen;">+2</b> barhta hai<br>
		5) Private mehfil mien likhne se score <b style="color:mediumseagreen;">+2</b> barhta hai<br>
		6) Public mehfil mien likhne se score <b style="color:mediumseagreen;">+2</b> barhta hai<br>
		7) Apke shared text pe up vote milay tou score <b style="color:mediumseagreen;">+3</b> ho jaye ga<br>
		8) Apke shared text pe down vote miley tou score <b style="color:tomato;">-3</b> ho jaye ga<br>
		10) Agr apki baat public mehfil mein hide ho geyi tou score <b style="color:tomato;">-2</b> ho jaye ga<br>
	</div>
</div>

{% endcache %}

<br><br>
{% endblock %}