{% extends "base.html" %}

{% block content %}
<span class="score">
<div style="margin-left:20px;">
<h3>Score kaise barhta hai:</h3>
&bullet; Kuch likho gey to score <b style="color:green;">+2</b> ho jaye ga<br>
&bullet; Aap ne jo likha hai, agar usay <b style="color:green;">jhappi</b> milay toh score <b style="color:green;">+8</b> ho jaye ga<br>
&bullet; Aap ne jo likha hai, agar usay <b style="color:red;">chupair</b> milay toh score <b style="color:red;">-8</b> ho jaye ga
</div>
</span>
{% endblock %}