{% extends "base.html" %}
{% block content %}
<head><title>Fixing follower count | Damadam</title></head>
<div style="text-align:center">
{% if follower_set_populated %}
	
	<h1>FOLLOWER SET POPULATED!</h1>
	
	<form method="POST" action="{% url 'rectify_follower_counts' %}">
		{% csrf_token %}
		<button type="submit" name="dec" class="bcp bxl sp pg_ok_res" style="height:29px;color:white" value="2"><b>NEXT</b></button>
	</form>
{% elif problem_fixed %}
	<h1>PROBLEM SOLVED!</h1>
{% else %}
	<h1>PROBLEM COULD NOT BE DETECTED!</h1>
{% endif %}
</div><br><br>
{% endblock %}