{% load google_analytics %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="background-color:#FFFFE0;">
  <head>
  	
  	<title>Damadam.pk</title>
 	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/damadam-v1.31.css">

    <meta http-equiv="Cache-Control" content="max-age=0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
    <meta http-equiv="refresh" content="0;URL={{ url }}">

    {% google_analytics %}

  </head>
  <body bgcolor="#FFFFE0" style="font-family:sans-serif;">
    <b>Intezar kro...</b><br><br><br><br>
    <span style="color:grey;">Muft chat karni hai? <a href="/"><b>Ye dabao</b></a></span>
  </body>
</html>