<script type="text/javascript">

	if ('serviceWorker' in navigator) {
	  window.addEventListener('load', function() {
		navigator.serviceWorker.register('/static/js/service_worker.js', { scope: '/static/js/' }).then(function(registration) {
		  // Registration was successful
		  console.log('ServiceWorker registration successful with scope: ', registration.scope);
		  registration.update();// TODO: REMOVE THIS IN PRODUCTION (or run it for 1 day?)
		}, function(err) {
		  // registration failed :(
		  console.log('ServiceWorker registration failed: ', err);
		});
	  });
	}

</script>