
{% load google_analytics %}
<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="background-color:#FFFFE0;" oncontextmenu="return false;">
<head>

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ STATIC_URL }}img/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ STATIC_URL }}img/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}img/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ STATIC_URL }}img/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}img/favicon-16.png">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}img/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}img/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}img/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}img/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}img/favicon-144.png">
    <meta name="msapplication-config" content="{{ STATIC_URL }}img/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->
  <title>Damadam.pk</title>
 
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/damadam-v1.11.css">
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <!-- <meta charset="utf-8"> THIS IS AN HTML5 TAG-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Free chat with new friends, on any mobile phone, old or new. Muft chat karo aur nae dost banao!">
        <meta property="og:title" content="Damadam">
        <meta property="og:description" content="Muft chat karo aur nae dost banao">
        <meta property="og:image" content="{{ STATIC_URL }}img/favicon-192.png">
        <meta name="author" content="hb">
        <meta name="keywords" content="damadam, chat, friends, boys, girls">
        
        <meta http-equiv="Cache-Control" content="max-age=0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="refresh" content="60">


        {% google_analytics %}
</head>
{% block content %}
{% endblock %}