{% extends "base.html" %}
{% block content %}
{% load cache %}
{% cache 1000 skin_pricing %}
<div class="margin clb">
<h2>Dr. Saiqa Kirmani</h2>
<div class="mbs">
&nbsp;<b class="co">Mobile:</b>&nbsp;<b>0340-4902633</b><br>
</div>
<hr size=1 COLOR="#00c853">
<div class="mbs">
&nbsp;<b class="co">Degree:</b>&nbsp;<b>America</b> (Skin), <b>Pakistan</b> (M.B., B.S.)<br>
</div>
<hr size=1 COLOR="#00c853">
<div class="mbs">
&nbsp;<b class="co">Website:</b>&nbsp;<a href="http://www.skinclub.com.pk" target="_blank">www.skinclub.com.pk</a>
</div>
<hr size=1 COLOR="#00c853">
<div class="mbs">
&nbsp;<b class="co">Photos:</b><br>
<img class="pht mts mbl mrs" src="{{ STATIC_URL }}img/SkinClubBuilding2.png" style="max-width:204px;">
<img class="pht mts mbl mrs" src="{{ STATIC_URL }}img/SkinClubBuilding3.png" style="max-width:204px;">
<img class="pht mts mbl mrs" src="{{ STATIC_URL }}img/working.jpeg" style="max-width:204px;">
</div>
<hr size=1 COLOR="#00c853">
<div class="mbs">
&nbsp;<b class="co">Certificates:</b><br>
<img class="pht mts mbl mrs" src="{{ STATIC_URL }}img/dr_crt3.png" style="max-width:204px;">
<img class="pht mts mbl mrs" src="{{ STATIC_URL }}img/dr_crt5.png" style="max-width:204px;">
<img class="pht mts mbl mrs" src="{{ STATIC_URL }}img/dr_crt4.png" style="max-width:204px;">
</div>
<a href="{% url 'home' %}"><button class="btn bcg bm mts mbl">wapis</button></a>
</div>
<br><br>
{% endcache %}
{% endblock %}