{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="margin" style="color:#404040;"> 

	<b style="color:#404040;font-size:100%;">Damadam mein ke sath Eid manao!</b><br>
	<span style="color:#404040;font-size:93%;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);">
	<span style="color:#ff9933;">1)</span> Damadam pe apni Eid ki selfies lagao yar!<br>
	<span style="color:#ff9933;">2)</span> In selfies mein Damadam ke liye Eid ka mazedar sa pegham dalo<br>
	<span style="color:#ff9933;">3)</span> Selfies ke andr hi paigham likh lo (misal ke tor pr neechay photos dekho)<br>
	</span>
	<form action="{% url 'special_photo_tutorial' %}" method="POST">
	{% csrf_token %}
	<input class="button" style="color:white;background-color:#2DB92D;border:solid 1px #179b36;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);width:6.4em;white-space:nowrap;border-radius:4px;margin-top:0.7em;" type="submit" name= "choice" value="samajh gaya"><br>
	<input class="button" style="color:white;background-color:#FF1A1A;border:solid 1px #cc0000;width:6.4em;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);white-space:nowrap;border-radius:4px;margin-top:0.7em;" type="submit" name= "choice" value="nahi samjha"><br>
	</form>
	<hr size=1 COLOR="#ff9933">
	<span style="font-size:95%;">Neechay dekho Damadam users <a href="{% url 'profile' 'Sit' %}#section0" style="color:#ff9933;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);"><b>Sit</b></a> aur <a href="{% url 'profile' 'Blade' %}#section0" style="color:#ff9933;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);"><b>Blade</b></a> ne kitni stylish Eid Selfies lagaien!</span><br><br>
	<a href="{% url 'profile' 'Sit' %}#section0"><b style="color:#ff9933;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);">Sit ki Eid Selfie:</b></a><br>
	<img src="//damadamphotos.azureedge.net/f4ee6894-3746-4998-b419-541ced26bc08.jpg" style="width:100%;max-width:350px;margin-bottom:0.3em;border:1px solid lightgrey"><br><br>
	<a href="{% url 'profile' 'Blade' %}#section0"><b style="color:#ff9933;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);">Blade ki Eid Selfie:</b></a><br>
	<img src="//damadamphotos.azureedge.net/a86c78ee-ce08-45ad-9c49-f1f91c24f493.jpg" style="width:100%;max-width:350px;margin-bottom:0.3em;border:1px solid lightgrey"><br><br>

</div>
{% endblock %}