{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
    <div class="margin">
    {% if allowed %}
        {% if not users %}
        <b class="clb csw"class="clb csw">Stars woh hote hain jin ke tum fan ho</b><br>
        <span class="clb csw">Is waqt tum kisi star ke fan nahi</span>
        <br><br>
        <a href="{% url 'profile' user.username %}#section0">
        <button class="btn bcg bs cs">wapis</button>
        </a>
        {% else %}
        <b class="clb csw">Stars jin ke <a href="{% url 'profile' user.username %}#section0">tum</a> fan ho:</b><br><br>

            {% for star in users %}
            <span class="co cs">{{ forloop.counter }}.</span>
            <a href="{% url 'profile' slug=star.0.username %}#section0">
                {% if star.0.userprofile.avatar %}
                    <img src="{{ star.0.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
                {% else %}
                    <img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
                {% endif %}
            {{ star.0.username }}</a>{% if star.0.username in girls %}<b class="pkstr">*</b>{% endif %}
                {% if star.0.userprofile.score %}
                    {% if star.0.userprofile.score < 0 %}
                        <span class="cg cs">(1)</span>
                    {% else %}
                        <span class="cg cs">({{ star.0.userprofile.score }})</span>
                    {% endif %}:
                {% else %}
                {% endif %}
            <span class="co cm"> <a href="{% url 'profile' slug=star.0.username %}#section0" class="co"><b>{{ star.1 }}</b> photos</a></span>&nbsp;&nbsp;
            <a href="{% url 'fan' star.0.id 2 %}"><button class="btn bcr bm cs">khatm</button></a>
            <br>
            {% endfor %}
        {% endif %}

    {% else %}
        <b class="clb csw">Ye is terah nahi chalta!</b><br><br>    
    {% endif %}
    </div>
    <br><br>
{% endblock %}



