

<style>


.signup  {
	background-color: green;
	border-radius: 6px;
	width:90%;
	margin: 0 auto;
	text-align: center;
	padding:5px;
	max-width: 300px;
}
</style>


{% extends "base_signup.html" %}
{% block content %}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1758220174446684',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div style="margin-top: 5%;">
<h1 class="bw mbs" style="color:#43A047;text-align:center;text-shadow:1px 1px #8d6e63;">Damadam.pk <a href="{% url 'login' 'ur' %}" class="cb" style="font-size:0.5em;text-shadow:0px 0px;">(اردو)</a></h1>
<div class="signup mbs">
<div style="background-color:#00c853;overflow: auto; border-radius:6px;padding:10px 5px 10px 5px;">
{% if form.errors %}
<div class="mts mbs">
<span style="color:#ffeb3b;text-shadow:1px 1px #009940;" class="cxl">Naam ya password mein ghalti hai. Phir se likho...</span>
</div>
<hr size=1 COLOR="#ffeb3b">
{% endif %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="/">
 	
 	<div class="mtl mbl">
    <b class="cxl" style="color:white;text-shadow:1px 1px #009940;">Naam:</b>
      {{ form.username }}
  	</div>
  	<div class="mbl">
    <b class="cxl" style="color:white;text-shadow:1px 1px #009940;">Password:</b>
      {{ form.password }}
   </div>
  
  <input class="mts mbl" style="color:white;background-color:#ffd600;border:solid 1px #e6bf00;width:4em;font-size:120%;font-weight:bold;text-shadow:1px 1px #b39500;" type="submit" value="OK"><br>
  
</form>
</div>
</div><br>
<a href="{% url 'unauth_home_new' %}#section0"><button style="margin:auto; display:block;color:white;background-color:#bdbdbd;border:solid 1px #9e9e9e;font-size:120%;font-weight:bold;text-shadow:1px 1px #808080;">&nbsp;&nbsp;New Account&nbsp;&nbsp;</button></a><br>
</div>

<form method="get" action="https://www.accountkit.com/v1.0/basic/dialog/sms_login/">
  <input type="hidden" name="phone_number" value="03335196812">
  <input type="hidden" name="country_code" value="PK">
  <input type="hidden" name="app_id" value="1758220174446684">
  <input type="hidden" name="locale" value="ur_PK">
  <input type="hidden" name="debug" value=true>
  <input type="hidden" name="redirect" value="https://damadam.pk/whook/">
  <input type="hidden" name="state" value="{{ csrf }}">
  <input type="hidden" name="fbAppEventsEnabled" value=true>
  <input type="submit" style="margin:auto; display:block;color:white;background-color:#bdbdbd;border:solid 1px #9e9e9e;font-size:120%;font-weight:bold;text-shadow:1px 1px #808080;" value="SMS Login">
</form>
{% endblock %}
