{% extends "base.html" %}
{% load s3 %}
{% block content %}
{% load cache %}
{% cache 600 top_frg %}
    <div class="margin clb">
    <b>Top chatters:</b><br><br>
    {% for userprofile in object_list %}
    <span class="cg cs">{{ forloop.counter }}.</span>
    <a href="{% url 'profile' slug=userprofile.user.username %}#section0">
	{% if userprofile.avatar %}
		<img src="{{ userprofile.avatar|s3:'thumb' }}" alt="no pic"></img>
	{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
	{% endif %}
    {{ userprofile.user.username }}</a>{% if userprofile.user.username in verified %}<b class="pinkstar">*</b>{% endif %}
	{% if userprofile.score %}
		{% if userprofile.score < 0 %}
	    	<span class="cg">(1)</span>
	    {% else %}
	    	<span class="cg">({{ userprofile.score }})</span>
		{% endif %}
    {% else %}
    {% endif %}
    <br>
    
    {% endfor %}
    </div>
{% endcache %}
<br><br>
{% endblock %}