{% extends "base.html" %}
{% block content %}

    <div class="margin">
    <b>Top 100 users:</b><br><br>
    {% for user in object_list %}
    <b class="numbers">{{ forloop.counter }}.</b>
    <a href="{% url 'profile' slug=user.username %}#section0">
	{% if user.userprofile.avatar %}
		<img src="{{ user.userprofile.avatar.url }}" alt="no pic" height="15" width="15"></img>
	{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar.jpg" alt="no pic" height="15" width="15"></img>
	{% endif %}
    {{ user }}</a>{% if user.username in verified %}<b style="color:deeppink;font-size:125%;">*</b>{% endif %}
	{% if user.userprofile.score %}
		{% if user.userprofile.score < 0 %}
	    	<span style="color:red;">({{ user.userprofile.score }})</span>
	    {% else %}
	    	<span style="color:#18A018;">({{ user.userprofile.score }})</span>
		{% endif %}
    {% else %}
    {% endif %}
    <br>
    
    {% endfor %}
    </div>

{% endblock %}