{% extends "base.html" %}
{% block content %}
{% load cache %}
{% cache 6000 community_standards %}

<head><title>Trending posters help | Damadam</title></head>
 
<style>body{background:#f0f3f4}</style>

{% include "photos_navbar.html" with section='top_list' static_url=STATIC_URL %}

<h1 style="text-align:center;padding:0 5px" class="cxl lsp clb">Become a top star:</h1>

	<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:98%;text-align:center;margin:0 auto">

	<div class="fx fxjscn fxaicn">
		<a href="{% url 'top_photo' %}" class="sp" style="width:50%;"><button class="wt" style="border-radius:0;border:none;color:#6ce9d2;height:40px;font-weight:bold;width:100%;border-bottom:1px solid #dcdcdc">TOP STARS</button></a>
		<div class="sp cm" style="background:#71adf0;border-radius:0;width:50%;border:none;color:white;height:40px;line-height:40px;font-weight:bold;">BE A STAR</div>
	</div>

		<div class="mts mbs cxl lsp" style="padding:0 10px;font-weight:bold">Kya ap posts ko trending mein laney ka secret jaana chahtey hain?</div>
		<div class="mbs cxl lsp" style="padding:0 8px">Agr haan, tou neechay examples dekhein</div>

			<div><img src="https://s3.ap-southeast-1.amazonaws.com/damadam-2019/public/6cbaf860-ee82-4f31-8bb3-d4296a8e4834.jpg" width="100%" style="border:2px" alt="Sample photo">
			</div>
			<a class="cs" href="https://damadam.pk/photo_detail/4325014" target='_blank'>example 1</a> ,
			<a class="cs" href="https://damadam.pk/photo_detail/4368362" target='_blank'>example 2</a>	
		  	<div class="sp cl lsp" style="padding:0px 8px" >
			    <h2>1. Damadam related funny posts</h2>
			    <p style="text-align:justify">Aisi posts jo funny hon, aur sath mein jinka Damadam (ya Damadam users) sey koi taluq ho</p>
		  	</div>

	</div>
<br>

	<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:98%;text-align:center;margin:0 auto">

			<div><img src="https://s3.ap-southeast-1.amazonaws.com/damadam-2019/public/69a9d05e-e5a3-4492-a14b-ea55a6d20400.jpg" width="100%" alt="Sample photo">
			</div>	
			<a class="cs" href="https://damadam.pk/photo_detail/4347210" target='_blank'>original post</a>
		  	<div class="sp cl lsp mbs" style="padding:0 8px">
			    <h2>2. Damadam users ki funny baatien</h2>
			    <p style="text-align:justify">Damadam users kaafi dafa mazahiya ya achi baatien kerte hein. Inki screenshots (jo ke funny ya mazedar hon) trending mein aa sakti hain.</p><p> <b>Note:</b> Doosre users ka name hide ker deien, taakey kissi user ki dil-aazari na ho</p>
		  	</div>

	</div>
<br>
	<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:98%;text-align:center;margin:0 auto">
				<div><img src="https://s3.ap-southeast-1.amazonaws.com/damadam-2019/public/fd9ab801-f4e9-45f1-b7c5-4b7156bf78c1.jpg" width="100%" alt="Sample photo">
				</div>	
			  	<div class="sp cl lsp mbs" style="padding:0 8px">
				    <h3>3. Pakistani memes</h3>
				    <p style="text-align:justify">Tanz-o-mazah say bharpur memes, jo Pakistani culture ya current affairs ke ain mutabiq hon. Lekin woh posts nahi jo pehlay bhi kaee baar Damadam pe laggi hon</p>
			  	</div>
	</div>
<br>
	<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:98%;text-align:center;margin:0 auto">
				
			<div><img src="https://s3.ap-southeast-1.amazonaws.com/damadam-2019/public/4be090d2-1b93-4df4-a702-94aa202de92f.jpg" width="100%" alt="Sample photo">
			</div>	
			<a class="cs" href="https://damadam.pk/photo_detail/4303975/" target='_blank'>original post</a>
		  	<div class="sp cl lsp mbs" style="padding:0 8px">
			    <h3>4. Dilchusp aur malumati posts</h3>
			    <p style="text-align:justify">Dilchusp aur malumati pics jo Damadam users ko kuch munfarid aur new sikhain</p>
		  	</div>

	</div>
<br> 
	<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:98%;text-align:center;margin:0 auto">
				<div><img src="https://s3.ap-southeast-1.amazonaws.com/damadam-2019/public/73ada9c8-592e-404f-b114-dbbc4335abdd.jpg" width="100%" style="border:2px" alt="Sample photo">
				</div>	
			  		<a class="cs" href="https://damadam.pk/photo_detail/4351097" target='_blank'>example 1</a> ,
				    <a class="cs" href="https://damadam.pk/photo_detail/4355445" target='_blank'>example 2</a>	
				<div class="sp cl lsp mbs" style="padding:0 8px">
				    <h3>5. Khoobsurat pics</h3>
				    <p style="text-align:justify">Baaz pics itni khoobsurat hoti hain ke insaan ruk ke dekhney pe majbur ho jata hai. Aisee pics users ko pasand aati hein aur trending mein pohench jati hein</p>
			  	</div>

	</div>
<br>

	<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:98%;text-align:center;margin:0 auto">
			<div><img src="https://s3.ap-southeast-1.amazonaws.com/damadam-2019/public/49ad6524-4001-4204-aad1-b8b3cc9106f7.jpg" width="100%" alt="Sample photo">
			</div>	
			<a class="cs" href="https://damadam.pk/photo_detail/4579639" target='_blank'>original post</a>
		  	<div class="sp cl lsp mbs" style="padding:0 8px">
			    <h3>6. Quotes, Poetry and Attitude</h3>
			    <p style="text-align:justify"> Aise pics jin mein motivational quotes hon, ya phir achey zauq wali shairi, ya phir zabardast attitude</p>
		  	</div>
	</div>
<br>

	<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:98%;text-align:center;margin:0 auto">
				<div><img src="https://s3.ap-southeast-1.amazonaws.com/damadam-2019/public/59896da9-740b-4a9d-b69c-b8db3fd588b0.jpg" width="100%" alt="Sample photo">
				</div>	
				<a class="cs" href="https://damadam.pk/photo_detail/4319961/" target='_blank'>original post</a>
			  	<div class="sp cl lsp mbs" style="padding:0 8px">
				    <h3>7. Breaking news</h3>
				    <p style="text-align:justify">Breaking news ya koi bhi choti barri khaber ki tasveer share kerien</p>
			  	</div>
	</div>
<br>		

	<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:98%;text-align:center;margin:0 auto">
				<div><img src="https://s3.ap-southeast-1.amazonaws.com/damadam-2019/public/ca0b49be-a0ba-4490-8ca1-1d34694fbb96.jpg" width="100%" alt="Sample photo">
				</div>	
				<div class="sp cl lsp mbs" style="padding:0 8px">
				    <h3>:: General Tip ::</h3>
				    <p style="text-align:justify">Khud khenchi hoi pics mein khyal rakhien ke ird gird ka mahol kaisa hai. Background khoobsurat ho tuo behter hai. Uper di gai misaal ki tarah ki ghalti nahi kerien. Shukriya!</p>
			  	</div>
	</div>
<br>

<div style="text-align:center">
   <a href="{% url 'top_photo' %}"><button class="btn bcb bxl mt mbl sp pg_ok_res" style="height:30px">Wapis</button></a><br>
</div>
<br><br>

{% endcache %}
{% endblock %}