{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
{% load cache %}
{% cache 300 top_fotos_fragment %}
    <div class="margin">
    <b>Top photo uploaders:</b><br><br>
    {% for user in users %}
    <b class="numbers">{{ forloop.counter }}.</b>
    <a href="{% url 'profile' slug=user.0.username %}#section0">
	{% if user.0.userprofile.avatar %}
		<img src="{{ user.0.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
	{% else %}
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
	{% endif %}
    {{ user.0 }}</a>{% if user.0.username in verified %}<b style="color:deeppink;font-size:125%;">*</b>{% endif %}
	{% if user.0.userprofile.media_score %}
		{% if user.0.userprofile.media_score < 0 %}
	    	<span style="color:#9900cc;">(1)</span>
	    {% else %}
	    	<span style="color:#9900cc;">({{ user.0.userprofile.media_score }})</span>
		{% endif %}
    {% else %}
    {% endif %}<span style="font-size:80%;color:#ff8000;">, <a href="{% url 'profile' slug=user.0.username %}#section0" style="color:#ff8000;"><b>{{ user.1 }}</b> photos</a></span>
    <br>
    
    {% endfor %}
    </div>
{% endcache %}
{% endblock %}