{% extends "base.html" %}
{% load s3 %}
{% load get_transparent_buttons_js %}
{% block content %}

<head><title>Trending posters | Damadam</title></head>
 
<style>body{background:#f0f3f4}</style>

<h1 style="text-align:center" class="cxl lsp clb">Top Damadam Stars:</h1>

<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;margin-right: auto;margin-left: auto;max-width:600px;width:97%;">

    <div style="text-align:center" class="fx fxjscn fxaicn">
        <div class="sp" style="border-radius:0;width:50%;border:none;background:#ff5849;color:white;height:40px;line-height:40px;font-weight:bold;border-bottom:1px solid #ff1500">TOP STARS</div>
        <a href="{% url 'top_photo_help' %}" class="sp" style="width:50%"><button class="wt" style="border-radius:0;border:none;color:#71adf0;height:40px;font-weight:bold;width:100%;border-bottom:1px solid #dcdcdc;">BE A STAR</button></a>
    </div>


    <div class="mt" style="text-align:center;padding:0 7px">
        <div class="mtl cs cr sp lsp">Users with most trending posts (last 7 days)</div>
        <ul style="display:inline-block;padding: 0;list-style:none;margin-top:0px">
       
       {% for is_follower, user_id, num_trending_pics, rank, username, aurl, rank_to_display in object_list %}
        {% if rank_to_display %}
        {% if forloop.counter != 1 %}<li class="mbl cl sp" style="text-align:left;padding-bottom:10px;border-bottom:1px solid #f4f4f4"></li>{% endif %}

        <h2 class="sp" style="text-align:left;font-size:20px;color:#9aa3b8;margin:10px 0"><img src="{{ STATIC_URL }}img/gstar.svg" width="16" height="16" class="mrs" alt="*" >{{ rank_to_display }}{% if rank_to_display == 1 %}st{% elif rank_to_display == 2 %}nd{% elif rank_to_display == 3 %}rd{% else %}th{% endif %} Position</h2>
        {% endif %}
        <div class="lsp" style="text-align:left;padding-bottom:10px;border-bottom:2px">       
            <img src="{{ aurl|s3:"thumb" }}" width="22" height="22" style="border-radius:50%;vertical-align:sub" alt="pic">&nbsp;<b class='sp cl'><bdi >{{ username }}</bdi></b>:&nbsp;<span class="sp cgy">{{ num_trending_pics }} trending posts</span>
            <div style="flex-wrap:wrap" class="mtl fx fxjscn fxaicn cxs sp cgy">
                <div style="margin-right:4px;margin-bottom:4px">{% include "big_buttons/big_search_buttons.html" with username=username static_url=STATIC_URL %}</div>
                {% if ident != user_id %}{% include "big_buttons/big_sub_button.html" with is_subbed=is_follower username=username tid=user_id origin='37' obid='' obh='' static_url=STATIC_URL %}{% endif %}
            </div>
        </div>
       {% endfor %}
        </ul>
    </div>
</div>

<br><br>
{% transparent_buttons_js ident=ident static_url=STATIC_URL %}
{% endblock %}