{% extends from_ecomm|yesno:"base_ecomm.html,base.html" %}
{% block content %}
<head><title>Try again | Damadam.pk</title></head>
<div class="margin clb">

{% if type == 'seller' %}

	<span class="cxl">Ap ne der kardi!</span><br>
	<span class="cgy">Ishtihar dubara banana parey ga</span><br>
		<form method="POST" class="mtl mbl" action="{% url 'init_classified' %}">
		  {% csrf_token %}
		  <input type="hidden" name="category" value="1">
		  <input type="submit" class="mtl mbl ma" style="color:white;background-color:#00c853;border:solid 1px #008033;font-size:110%;width:9em;" value="Theek hai">
		</form><br>
	<a href="{% url 'classified_listing' %}"><button class="ma" style="color:white;background-color:#d9d9d9;border:solid 1px #bdbdbd;font-size:110%;width:9em;">Rehnay do</button></a>


{% elif type == 'consumer' %}

	
	<span class="cxl">Number verify nahi hua!</span><br>
	<span class="cgy">Phir se koshish karien</span><br><br>
	<a href="{% url 'classified_listing' %}"><button class="ma" style="color:white;background-color:#00c853;border:solid 1px #008033;font-size:110%;width:9em;">Theek hai</button></a>

{% elif type == 'user' %}

	<span class="cxl">Number verify nahi hua!</span><br>
	<span class="cgy">Phir se koshish karien</span><br><br>
	<a href="{% url 'home' %}"><button class="ma" style="color:white;background-color:#00c853;border:solid 1px #008033;font-size:110%;width:9em;">Theek hai</button></a>

{% elif type == 'personal_group_chatter' %}

	<span class="cxl">Number verify nahi hua!</span><br>
	<span class="cgy">Phir se koshish karien</span><br>

	<form method="POST" class="mtl" action="{% url 'enter_personal_group' %}">
		{% csrf_token %}
		<input type="hidden" name="tid" value="{{ tid }}">
		<button type="submit" class="btn bcb bs mtl cl" style="border:none;height:30px;">OK</button>
	</form>

{% elif type == 'forgetter' %}

	<span class="cxl">Mobile number verify nahi hua</span><br>
	<span class="cgy">Phir se koshish karien</span><br><br>
	<a href="{% url 'login' %}"><button class="ma" style="color:white;background-color:#00c853;border:solid 1px #008033;font-size:110%;width:9em;">Theek hai</button></a>


{% endif %}

</div>
<br><br>
{% endblock %}

