{% if lang == 'ur' %}

	<div class="bizcard sp mtl mbl" style="background-color:#FFD12B;color:#000000;text-align:center;">

		<div style="text-align:right;padding-right:5px">
			<a href="{% url 'turn_off_newbie' origin %}">
				<button style="background:0 0;padding:0;border:none"><img src="{{ STATIC_URL }}img/x_br.svg" width="10" height="10" alt="x" class="clb"></button>
			</a>
		</div>

		<div class="cxl lsp" style="padding:15px;margin-bottom:0"><bdo dir="rtl">مزیدار پوسٹس کا لطف اٹھائیں!</bdo></div>

		<div style="padding:10px 8px;background-color:#fff169">

			<div class="mbl mt fx fxaicn" style="justify-content: flex-end">
				<div class="cl lsp" style="text-align:right"><bdo dir="rtl">سب سے اوپر <bdo dir="ltr">'Fotos'</bdo> دبا کے مزیدار فوٹوز دیکھیں</bdo></div>
				<div style="font-size:60px;font-weight:bold;color:#99ccff;padding:0px 8px 0 16px">1</div>
			</div>

			<div class="mbl fx fxaicn" style="justify-content: flex-end">
				<div class="cl lsp" style="text-align:right"><bdo dir="rtl">اگر پوسٹس پے گپ شپ کرنی ہے تو نیچے سکرول کریں</bdo></div>
				<div style="font-size:60px;font-weight:bold;color:#ffb3d1;padding:0px 8px 0 16px">2</div>
			</div>
			
		</div>

	</div>

{% else %}

	<div class="bizcard sp mt mbl" style="background-color:#FFD12B;color:#000000;text-align:center;">

		<div class="cxl lsp" style="padding:15px;margin-bottom:0">Mazedar posts enjoy karein!</div>
	
		<div style="padding:10px 8px;background-color:#fff169">

			<div class="mt fx fxjsfs fxaicn">
				<div style="font-size:60px;font-weight:bold;color:#99ccff;padding:0px 16px 0 8px">1</div>
				<div class="cl lsp" style="text-align:left">Top pe 'Fotos' daba ke mazedar photos dekhein</div>
			</div>

			<div class="mt fx fxjsfs fxaicn">
				<div style="font-size:60px;font-weight:bold;color:#ffb3d1;padding:0px 16px 0 8px">2</div>
				<div class="cl lsp" style="text-align:left">Agr text posts pe gupshup karni hai tou neechay scroll karein</div>
			</div>

		</div>

	</div>

{% endif %}