{% if lang == 'ur' %}

	<h1 class="cxl lsp sp" style="text-align:center;overflow:hidden;margin:0"><bdo dir="rtl">مزیدار پوسٹس کا لطف اٹھائیں!</bdo></h1>

	<div class="bizcard sp mtl mbl" style="background-color:#FFD12B;color:#000000;text-align:center;">

		<div style="text-align:right;padding-right:5px">
			<a href="{% url 'turn_off_newbie' origin %}">
				<button style="background:0 0;padding:0;border:none"><img src="{{ STATIC_URL }}img/x_br.svg" width="10" height="10" alt="x" class="clb"></button>
			</a>
		</div>

		<div class="cxl lsp" style="padding:0 8px 15px 8px;margin-bottom:0"><bdo dir="rtl">وہ کیسے؟</bdo></div>
	
		<div style="padding:10px 8px;background-color:#fff169">

			<div class="mbl mt fx fxaicn" style="justify-content: flex-end">
				<div class="cl lsp" style="text-align:right"><bdo dir="rtl">سب سے اوپر <bdo dir="ltr">'Home'</bdo> یا <bdo dir="ltr">'Fotos'</bdo> کے بٹن ہیں</bdo></div>
				<div style="font-size:60px;font-weight:bold;color:#99ccff;padding:0px 8px 0 16px">1</div>
			</div>

			<div class="mbl fx fxaicn" style="justify-content: flex-end">
				<div class="cl lsp" style="text-align:right"><bdo dir="rtl"><bdo dir="ltr">'Home'</bdo> پہ ٹیکسٹ اور <bdo dir="ltr">'Fotos'</bdo> میں تصویریں پوسٹ ہوتی ہیں</bdo></div>
				<div style="font-size:60px;font-weight:bold;color:#ffb3d1;padding:0px 8px 0 16px">2</div>
			</div>

			<div class="mbl fx fxaicn" style="justify-content: flex-end">
				<div class="cl lsp" style="text-align:right"><bdo dir="rtl">اچھی پوسٹس <img src="{{ STATIC_URL }}img/like.svg" width="18" height="18" style="vertical-align:sub"> لایک کریں یا ان پے اپنی راۓ دیں</bdo></div>
				<div style="font-size:60px;font-weight:bold;color:#48f5ad;padding:0px 8px 0 16px">3</div>
			</div>
		</div>

		<div class="cxl lsp" style="padding:15px 8px 10px 8px"><bdo dir="rtl">لیکن سب سے پہلے اپنے اکاؤنٹ کو '<bdo dir="ltr">verify</bdo>' کروا لیں:</bdo></div>
		
		<a href="{% url 'verify_user_mobile_unpaid' %}#section0">
			<button class="btn bcb pg_ok_res mt fx fxaicn fxjscn" style="height:50px;width:100%;border:none;border-top-right-radius:0px;border-top-left-radius:0px"><img src="{{ static_url }}img/verified_dark.svg" height="22" width="22" style="vertical-align:sub;height:22px;width:22px" class="mrs"><b style="color:white" class="cxl sp">VERIFY&nbsp;NOW</b></button>
		</a>

	</div>

{% else %}

	<h1 class="cxl lsp sp" style="text-align:center;overflow:hidden;margin:0">Mazedar posts ka lutf uthaein!</h1>

	<div class="bizcard sp mtl mbl" style="background-color:#FFD12B;color:#000000;text-align:center;">

		<div style="text-align:right;padding-right:5px">
			<a href="{% url 'turn_off_newbie' origin %}">
				<button style="background:0 0;padding:0;border:none"><img src="{{ STATIC_URL }}img/x_br.svg" width="10" height="10" alt="x" class="clb"></button>
			</a>
		</div>

		<div class="cxl lsp" style="padding:0 8px 15px 8px;margin-bottom:0">Woh kaisey?</div>
	
		<div style="padding:10px 8px;background-color:#fff169">

			<div class="mt fx fxjsfs fxaicn">
				<div style="font-size:60px;font-weight:bold;color:#99ccff;padding:0px 16px 0 8px">1</div>
				<div class="cl lsp" style="text-align:left">Top pe 'Home' ya 'Fotos' ke button hein</div>
			</div>

			<div class="fx fxjsfs fxaicn">
				<div style="font-size:60px;font-weight:bold;color:#ffb3d1;padding:0px 16px 0 8px">2</div>
				<div class="cl lsp" style="text-align:left">'Home' pe text, aur 'Fotos' mein photos post hoti hein</div>
			</div>

			<div class="mbs fx fxjsfs fxaicn">
				<div style="font-size:60px;font-weight:bold;color:#48f5ad;padding:0px 16px 0 8px">3</div>
				<div class="cl lsp" style="text-align:left">Achi posts <img src="{{ STATIC_URL }}img/like.svg" width="18" height="18" style="vertical-align:sub"> 'like' karein, ya unpe apni raye dein</div>
			</div>
		</div>

		<div class="cxl lsp" style="padding:15px 8px 10px 8px">
		Posts pe like ya baat cheet karne ke liye account verify karwa lein:
		</div>
		
		<a href="{% url 'verify_user_mobile_unpaid' %}#section0">
			<button class="btn bcb pg_ok_res mt fx fxaicn fxjscn" style="height:50px;width:100%;border:none;border-top-right-radius:0px;border-top-left-radius:0px"><img src="{{ static_url }}img/verified_dark.svg" height="22" width="22" style="vertical-align:sub;height:22px;width:22px" class="mrs"><b style="color:white" class="cxl sp">VERIFY&nbsp;NOW</b></button>
		</a>

	</div>

{% endif %}