{% if lang == 'ur' %}
	<div class="sp mbl" style="background-color:#fffff0;color:#000;text-align:center;overflow:hidden;">

		<div style="text-align:right;padding-right:5px">
			<a href="{% url 'turn_off_newbie' origin %}">
				<button style="background:0 0;padding:0;border:none"><img src="{{ STATIC_URL }}img/x_br.svg" width="10" height="10" alt="x" class="clb"></button>
			</a>
		</div>

		<div class="cxl lsp" style="padding:0 8px;margin-bottom:0"><bdo dir="rtl">خوش آمدید!</bdo></div>
	
		<div style="padding:0 8px;background: #fffff0;background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);">

			<div class="mbl mtl fx fxaicn" style="justify-content: flex-end">
				<div class="cl" style="text-align:right"><bdo dir="rtl">یہاں لوگ مزیدار پوسٹس لگاتے ہیں</bdo></div>
				<div style="padding:0px 16px 0 8px"><svg width="30px" height="30px" fill="#a4e7f4"><use xlink:href="#star"></use></svg></div>
			</div>

			<div class="mbl fx fxaicn" style="justify-content: flex-end">
				<div class="cl" style="text-align:right"><bdo dir="rtl">دوستی کرنے کے لیےانکی پوسٹس پہ <bdo dir="ltr">'Reply'</bdo> دیں اور انکو <bdo dir="ltr">'Follow'</bdo> کریں</bdo></div>
				<div style="padding:0px 16px 0 8px"><svg width="30px" height="30px" fill="#a4e7f4"><use xlink:href="#star"></use></svg></div>
			</div>

			<div class="fx fxaicn" style="justify-content: flex-end">
				<div class="cl" style="text-align:right"><bdo dir="rtl">لوگوں کی پوسٹس دیکھنے کے لیے ان میں سے ایک بٹن دبایں :</bdo></div>
				<div style="padding:0px 16px 0 8px"><svg width="30px" height="30px" fill="#a4e7f4"><use xlink:href="#star"></use></svg></div>
			</div>

			<div class="mts">
				<a href="{% url 'photo' 'best-list' %}#error"><button style="background:#fff;border-radius:8px;border:1px solid #ff9933;width:100px;height:100px" class="mrl mts pg_ok_res"><img src="{{ STATIC_URL }}img/share_photo_reversed.svg" class="mt" width="30" height="30" style="vertical-align:middle"><br><div style="font-size:10.2px;color:#ff9933;font-weight:bold;" class="mts lsp sp">PHOTO<br>POSTS</div></button></a>

				<a href="{% url 'best_home_page' %}#error"><button style="background:#fff;border-radius:8px;border:1px solid #3cb7dd;width:100px;height:100px" class="mll mts pg_ok_res"><img src="{{ STATIC_URL }}img/share_text_reversed.svg" class="mt" width="30" height="30" style="vertical-align:middle"><br><div style="font-size:10.2px;color:#3cb7dd;font-weight:bold" class="mts lsp sp">TEXT<br>POSTS</div></button></a>
			</div>
		</div>

		<div class="cxl lsp" style="padding:10px 8px;background:#fff"><bdo dir="rtl">'<bdo dir="ltr">Reply</bdo>' دینے سے پہلے اپنا اکاؤنٹ '<bdo dir="ltr">verify</bdo>' کروانا نہ بھولیں:</bdo></div>
		
		<a href="{% url 'verify_user_mobile_unpaid' %}#section0">
			<button class="btn bcb pg_ok_res mt fx fxaicn fxjscn" style="height:50px;width:100%;border:none;border-top-right-radius:0px;border-top-left-radius:0px"><img src="{{ static_url }}img/verified_dark.svg" height="22" width="22" style="vertical-align:sub;height:22px;width:22px" class="mrs"><b style="color:white" class="cxl sp">VERIFY&nbsp;YOUR&nbsp;ACCOUNT</b></button>
		</a>

	</div>

{% else %}

	<div class="sp mbl" style="background-color:#fffff0;color:#000;text-align:center;overflow:hidden;">

		<div style="text-align:right;padding-right:5px">
			<a href="{% url 'turn_off_newbie' origin %}">
				<button style="background:0 0;padding:0;border:none"><img src="{{ STATIC_URL }}img/x_br.svg" width="10" height="10" alt="x" class="clb"></button>
			</a>
		</div>

		<div class="cxl lsp" style="padding:0 8px 8px 8px;margin-bottom:0"><b>Welcome!</b></div>
	
		<div style="padding:0 8px;background: #fffff0;background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);">

			<div class="mt fx fxjsfs fxaicn">
				<div style="padding:0px 16px 0 8px"><svg width="34px" height="34px" fill="#a4e7f4"><use xlink:href="#star"></use></svg></div>
				<div class="cl lsp" style="text-align:left">Yahan pe users mazedar posts lagatey hain</div>
			</div>

			<div class="mts fx fxjsfs fxaicn">
				<div style="padding:0px 16px 0 8px"><svg width="34px" height="34px" fill="#a4e7f4"><use xlink:href="#star"></use></svg></div>
				<div class="cl lsp" style="text-align:left">Dosti karney ke liye unki posts pe 'Reply' dein</div>
			</div>

			<div class="mts fx fxjsfs fxaicn">
				<div style="padding:0px 16px 0 8px"><svg width="34px" height="34px" fill="#a4e7f4"><use xlink:href="#star"></use></svg></div>
				<div class="cl lsp" style="text-align:left">Users ki posts dekhney ke liye in mein se aik button dabain:</div>
			</div>

			<div class="mtl">
				<a href="{% url 'photo' 'best-list' %}#error"><button style="background:#fff;border-radius:8px;border:1px solid #ff9933;width:100px;height:100px" class="mrl mts pg_ok_res"><img src="{{ STATIC_URL }}img/share_photo_reversed.svg" class="mt" width="30" height="30" style="vertical-align:middle"><br><div style="font-size:10.2px;color:#ff9933;font-weight:bold;" class="mts lsp sp">PHOTO<br>POSTS</div></button></a>

				<a href="{% url 'best_home_page' %}#error"><button style="background:#fff;border-radius:8px;border:1px solid #3cb7dd;width:100px;height:100px" class="mll mts pg_ok_res"><img src="{{ STATIC_URL }}img/share_text_reversed.svg" class="mt" width="30" height="30" style="vertical-align:middle"><br><div style="font-size:10.2px;color:#3cb7dd;font-weight:bold" class="mts lsp sp">TEXT<br>POSTS</div></button></a>
			</div>

		</div>

		<div class="cxl lsp" style="padding:10px 8px;background:#fff">
		Mazeed options hasil karney ke liye account verify karwaein:
		</div>
		
		<a href="{% url 'verify_user_mobile_unpaid' %}#section0">
			<button class="btn bcb pg_ok_res fx fxaicn fxjscn" style="height:50px;width:100%;border:none;border-top-right-radius:0px;border-top-left-radius:0px"><img src="{{ static_url }}img/verified_dark.svg" height="22" width="22" style="vertical-align:sub;height:22px;width:22px" class="mrs"><b style="color:white" class="cxl sp">VERIFY&nbsp;YOUR&nbsp;ACCOUNT</b></button>
		</a>

	</div>

{% endif %}