{% if lang == 'ur' %}

	<div class="sp mbl" style="background-color:#fffff0;color:#000;text-align:center;overflow:hidden;">

		<div style="text-align:right;padding-right:5px">
			<a href="{% url 'turn_off_newbie' origin %}">
				<button style="background:0 0;padding:0;border:none"><img src="{{ STATIC_URL }}img/x_br.svg" width="10" height="10" alt="x" class="clb"></button>
			</a>
		</div>

		<div class="cxl" style="padding:0 8px;margin-bottom:0"><b><bdo dir="rtl">خوش آمدید!</bdo></b></div>
	
		<div style="padding:0 8px 20px 8px;background: #fffff0;background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);border-bottom:1px solid gainsboro">

			<div class="mbs mt fx fxaicn" style="justify-content: flex-end">
				<div class="cl" style="text-align:right"><bdo dir="rtl">دمادم پے لوگ دلچسپ پوسٹ لگاتے ہیں</bdo></div>
				<div style="padding:0px 16px 0 8px"><svg width="30px" height="30px" fill="#a4e7f4"><use xlink:href="{{ STATIC_URL }}img/spritesheets/fbs/top_navbar_unverified_sprites.svg#star"></use></svg></div>
			</div>

			<div class="mbs fx fxaicn" style="justify-content: flex-end">
				<div class="cl" style="text-align:right"><bdo dir="rtl">بہتریں پوسٹوں کو <bdo dir="ltr">'trending'</bdo> میں آنے کا موقع ملتا ہے</bdo></div>
				<div style="padding:0px 16px 0 8px"><svg width="30px" height="30px" fill="#a4e7f4"><use xlink:href="{{ STATIC_URL }}img/spritesheets/fbs/top_navbar_unverified_sprites.svg#star"></use></svg></div>
			</div>

			<div class="fx fxaicn" style="justify-content: flex-end">
				<div class="cl" style="text-align:right"><bdo dir="rtl">پوسٹ پسند آۓ تو پوسٹ لگانے والے کو <bdo dir="ltr">'follow'</bdo> ضرور کریں</bdo></div>
				<div style="padding:0px 16px 0 8px"><svg width="30px" height="30px" fill="#a4e7f4"><use xlink:href="{{ STATIC_URL }}img/spritesheets/fbs/top_navbar_unverified_sprites.svg#star"></use></svg></div>
			</div>

		</div>

		<div style="background:white;padding:6px 8px">
			<span class="cgy"><bdo dir="rtl"><bdo dir="ltr">'Chatting'</bdo> یا <bdo dir="ltr">'comment'</bdo> کرنے کے لیے اپنا اکاؤنٹ <bdo dir="ltr">'verify'</bdo> کروايں</bdo></span>
		</div>
		
		<a href="{% url 'verify_user_mobile_unpaid' %}#section0">
			<button class="btn bct pg_ok_res fx fxaicn fxjscn" style="height:40px;width:100%;border:none;border-top-right-radius:0px;border-top-left-radius:0px">
				<div class="fx fxjscn fxaicn">
					<img src="{{ static_url }}img/verified_dark.svg" height="18" width="18" style="vertical-align:sub;height:18px;width:18px" class="mrl">
					<div style="color:white;text-align:left;font-weight:600" class="cm lsp sp">VERIFY NOW</div>
				</div>
			</button>
		</a>

	</div>

{% else %}

	<div class="sp" style="background-color:#fffff0;color:#000;text-align:center;overflow:hidden;">

		<div style="text-align:right;padding-right:5px">
			<a href="{% url 'turn_off_newbie' origin %}">
				<button style="background:0 0;padding:0;border:none"><img src="{{ STATIC_URL }}img/x_br.svg" width="10" height="10" alt="x" class="clb"></button>
			</a>
		</div>

		<div class="cxl lsp" style="padding:0 8px 8px 8px;margin-bottom:0"><b>Welcome!</b></div>
	
		<div style="padding:0 8px 20px 8px;background: #fffff0;background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,240,1) 100%);border-bottom:1px solid gainsboro">

			<div class="mt fx fxjsfs fxaicn">
				<div style="padding:0px 16px 0 8px"><svg width="24px" height="24px" fill="#a4e7f4"><use xlink:href="{{ STATIC_URL }}img/spritesheets/fbs/top_navbar_unverified_sprites.svg#star"></use></svg></div>
				<div class="cl lsp" style="text-align:left">Damadam pe users dilchusp posts lgatay hain</div>
			</div>

			<div class="mtl fx fxjsfs fxaicn">
				<div style="padding:0px 16px 0 8px"><svg width="24px" height="24px" fill="#a4e7f4"><use xlink:href="{{ STATIC_URL }}img/spritesheets/fbs/top_navbar_unverified_sprites.svg#star"></use></svg></div>
				<div class="cl lsp" style="text-align:left">Behtreen posts ko 'trending' mai aney ka moqa milta hai</div>
			</div>

			<div class="mtl fx fxjsfs fxaicn">
				<div style="padding:0px 16px 0 8px"><svg width="24px" height="24px" fill="#a4e7f4"><use xlink:href="{{ STATIC_URL }}img/spritesheets/fbs/top_navbar_unverified_sprites.svg#star"></use></svg></div>
				<div class="cl lsp" style="text-align:left">Posts pasand aney pe users ko 'follow' zarur karein</div>
			</div>

		</div>

		<div style="background:white;padding:6px 8px" class="lsp">
			<span class="cgy">Users se direct baat karney ke liye account verify karwain:</span>
		</div>
		
		<a href="{% url 'verify_user_mobile_unpaid' %}#section0">
			<button class="btn bct pg_ok_res fx fxaicn fxjscn" style="height:40px;width:100%;border:none;border-top-right-radius:0px;border-top-left-radius:0px">
				<div class="fx fxjscn fxaicn">
					<img src="{{ static_url }}img/verified_dark.svg" height="18" width="18" style="vertical-align:sub;height:18px;width:18px" class="mrl">
					<div style="color:white;text-align:left;font-weight:600" class="cm lsp sp">VERIFY NOW</div>
				</div>
			</button>
		</a>

	</div>

{% endif %}