{% extends "base_min.html" %}
{% block content %}
<div class="margin clb">
<h2 class="cg bw">7-15 days ki sasti Umrah Deals!<br><span class="cs clb">by BookMyUmrah Company</span></h2>
<div class="mbs mtl">
<b class="co">Malumat:</b><span class="mls bw">Call&nbsp;<b>0321-1111268</b></span><br>
</div>
<div class="mbs">
<b class="co">Price:</b><span class="mls"><b>Rs. 21000</b> se shuru&nbsp;<span class="cs cgy">(without air ticket)</span></span><br>
</div>
<div class="mbs">
<b class="co">Offer:</b><span class="mls">Call pe bolo ke <b>Damadam</b> user ho</span><br>
</div>
<div class="mbs">
<b class="co">Time:</b><span class="mls">Subah <b>10 bajay</b> se shaam <b>7 bajay</b> tak</span><br>
</div>
<div class="mbs">
<b class="co">Ticket:</b><span class="mls">Air ticket price <b>city</b> ke mutabiq hoti hai. Call pe <b>city</b> batao aur price maloom karo</span><br>
</div>
<div class="mbs">
<b class="co">Ticket:</b><span class="mls">Apni </span><br>
</div>
<a href="{% url 'home' %}"><button class="btn bcg bm mtl mbl">wapis</button></a>
<br>
<hr size=3 COLOR="#bfbfbf">
	<form method="post" action="{% url 'umrah' %}" class="mtl">
	{% csrf_token %}
		{% if form.feedback.errors %}
			<span class="cr">{{ form.feedback.errors.0 }}</span><br>
		{% else %}
			<b class="cl cg">BookMyUmrah Company ki service pe koi <span class="co">shikayat</span> ya <span class="co">mashwara</span> dena hai?</b><br>
			<span class="cgy cs">(apna <b>city</b> sath mein likhna)</span>
		{% endif %}
		<div class="mts">
	  	{{ form.feedback }}
	  	</div>
	  	<button class="btn bcg bm mtl" type="submit">OK</button><br>
	</form>
</div>
<br><br>
{% endblock %}