{% extends "base_min.html" %}
{% block content %}
<div class="margin clb">
<h2 class="cg">BookMyUmrah Company ki sasti tareen offer!</h2>
<br>
&nbsp;<b class="co">Qimat:</b>&nbsp;<b>Rs.13700</b><span class="cgy">*</span><br>
<hr size=1 COLOR="#D3D3D3">
&nbsp;<b class="co">Call:</b>&nbsp;<b>0320-0000268</b><br>
<hr size=1 COLOR="#D3D3D3">
&nbsp;<b class="co">Offer:</b>&nbsp;Call pe bolo Umrah offer <b>Damadam</b> pe dekhi<br>
<hr size=1 COLOR="#D3D3D3">
&nbsp;<b class="co">Time:</b>&nbsp;Subah <b>10 bajay</b> se shaam <b>7 bajay</b> tak<br>
<hr size=1 COLOR="#D3D3D3">
&nbsp;<b class="co">Web:</b>&nbsp;<a href="http://www.bookmyumrah.pk/">www.bookmyumrah.pk</a><br>
<hr size=1 COLOR="#D3D3D3">
<a href="{% url 'home' %}"><button class="btn bcg bm mtl mbl">wapis</button></a>
<br>
<span class="cm cgy">*qimat mein visa fees, rihaish aur AC wali bus shamil hain </span>
</div>
<br><br>
{% endblock %}