{% extends "base_min.html" %}
{% block content %}
{% load cache %}
{% cache 3600 umrah_package %}
<div class="margin clb">
<h2>Tafseel:</h2>
&nbsp;<b class="co">Booking:</b>&nbsp;Call <b>0320-0000268</b><br>
&nbsp;<b class="co">Price:</b>&nbsp;<b>Rs.13700</b> <span class="cgy cs">(jahaz ka ticket shamil nahi)</span><br>
&nbsp;<b class="co">Mudat:</b>&nbsp;<b>7 days</b><br>
&nbsp;<b class="co">Makkah:</b>&nbsp;<b>Hotel Fundaq Maiser 8</b> <span class="cgy cs">(Bus service shamil)</span><br>
&nbsp;<b class="co">Madina:</b>&nbsp;<b>Hotel Fundaq Umar</b> <span class="cgy cs">(Bus service shamil)</span><br>
<br>
<b class="cg">Offer mein shamil:</b><br>
<b>Visa Fees</b><br>
<b>Rihaish</b><br>
<b>AC wali Bus</b><br>
<a href="{% url 'home' %}"><button class="btn bcg bm mtl mbl">wapis</button></a>
</div>
<br><br>
{% endcache %}
{% endblock %}