{% extends "base.html" %}
{% load complete_url %}
{% load human_time %}
{% load get_pagination_buttons %}
{% block content %}
<div class="margin clb">
<div class="mts mbl">
<span class="cgy cs">Closers on this page:</span>
	<div class="mts mbs">
	{% for checker in checkers %}
	<span class="mls">{{ checker.0 }}<span class="cs cgy"><span class="cb">, seen {{ checker.1|human_time }}</span>{% if checker.2 %}, has closed <b>{{checker.2 }}</b> ads{% endif %}</span></span><br>
	{% endfor %}
	</div>
	<hr size=1 COLOR=" #ff5722">
</div>
{% for submission,score in submissions %}
	<b>AD ID:</b> <span class="cgy">{{ submission.ad_id }}</span>&nbsp;&nbsp;
	{% if submission.locked_by %}
		{% if submission.locked_by == user.username %}
		<form method="POST" style="display:inline" action="{% url 'ad_locked_by_agent' %}">
		{% csrf_token %}
		<input type="hidden" name="ad_score" value="{{ score }}">
		<input type="hidden" name="EID" value="admin">
		<button class="btn bm mts bcgy" name="action" value="unlock">&nbsp;&nbsp;unlock&nbsp;&nbsp;</button>
		</form>
		{% else %}
		<span class="cp cs">(locked by <b>{{ submission.locked_by }}</b>)</span>
		{% endif %}
	{% else %}
	<form method="POST" style="display:inline" action="{% url 'ad_locked_by_agent' %}">
	{% csrf_token %}
	<input type="hidden" name="ad_score" value="{{ score }}">
	<input type="hidden" name="EID" value="admin">
	<button class="btn bm bcp mts" name="action" value="lock">&nbsp;<img src="{{ STATIC_URL }}img/lock.png" width="12" heigh="12">&nbsp;&nbsp;lock&nbsp;</button><br>
	</form>
	{% endif %}

	<hr size=1 COLOR="#b3e6b3">
		

	{% if submission.locked_by == user.username %}

		<form method="POST" class="mbs" action="{% url 'edit_classified' %}">
		{% csrf_token %}
		<input type="hidden" name="ad_score" value="{{ score }}">
		<input type="hidden" name="ad_city" value="{{ submission.city }}">
		<input type="hidden" name="EID" value="admin">
		<b>Title:</b> {% if submission.title %}<span class="cg">{{ submission.title }}</span>&nbsp;<button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_title" value="{{ submission.title }}" type="submit">&nbsp;</button>{% else %}<b class="cr">-- Give a proper title --</b>&nbsp;<button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_title" value="Give a proper title" type="submit">&nbsp;</button>{% endif %}<br>
		<hr size=1 COLOR="#b3e6b3">
		
		<b>Category:</b> {% if submission.categ %}<span class="cg">{{ submission.categ }}</span>&nbsp;<button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_categ" value="{{ submission.categ }}" type="submit">&nbsp;</button>{% else %}<b class="cr">-- Assign a category --</b>&nbsp;<button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_categ" value="Assign a category" type="submit">&nbsp;</button>{% endif %}<br>
		<hr size=1 COLOR="#b3e6b3">

		<b>Description:</b> <span class="cg">{{ submission.desc }}</span>&nbsp;<button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_desc" value="{{ submission.desc }}" type="submit">&nbsp;</button><br>
		<hr size=1 COLOR="#b3e6b3">

		{% if submission.is_new %}
		<b>Condition:</b> <span class="cg">{{ submission.is_new }}</span>&nbsp;<button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_is_new" value="{{ submission.is_new }}" type="submit">&nbsp;</button><br>
		<hr size=1 COLOR="#b3e6b3">
		{% endif %}
		
		<b>Price:</b> <span class="cg">{{ submission.ask }}</span>&nbsp;
		<span class="cgy cs">{% if submission.is_barter == 'Paisey aur badley mein cheez dono' %}(badle mein koi aur cheez bhi le loon ga){% endif %}</span><button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_ask" value="{{ submission.ask }}" type="submit">&nbsp;</button><br>
		<hr size=1 COLOR="#b3e6b3">
		
		<b>Name:</b> <span class="cg">{{ submission.seller_name }}</span><button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_name" value="{{ submission.seller_name }}" type="submit">&nbsp;</button><br>
		<hr size=1 COLOR="#b3e6b3">
		
		<b>Mobile:</b> <span class="cgy">0{{ submission.MN_data.national_number }}</span><br>
		<hr size=1 COLOR="#b3e6b3">

		<b>City:</b> <span class="cg">{{ submission.city }}</span><button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_city" value="{{ submission.city }}" type="submit">&nbsp;</button><br>
		<hr size=1 COLOR="#b3e6b3">
		<b>Town:</b> <span class="cg">{{ submission.town }}</span><button class="mll" style="background-image: url({{ STATIC_URL }}img/pencil2.png);background-repeat: no-repeat;background-position: center;width:20px;height:20px;border:none;background-color:white;" name="edit_town" value="{{ submission.town }}" type="submit">&nbsp;</button><br>
		</form>

	<table cellpadding="5">	
	<tr style="vertical-align: top;">
	<form method="POST" action="{% url 'change_cover_photo' %}">
	{% csrf_token %}
	{% for photo_url,status,pht_id in submission.photos %}
		<td style="display: inline-block;">
		{% if status %}
		<b class="cgy">Cover photo</b>
		{% else %}
		<input type="hidden" name="ad_score" value="{{ score }}">
		<button type="submit" style="border-color:#ff8000;" class="btn bco bl" name="dec" value="{{ pht_id }}">Make cover</button>
		{% endif %}
		<img class="pht mrs mts" src="{{ photo_url|complete_url }}">
		</td>
	{% endfor %}
	</form>
	</tr>
	</table>

		<br>
		<span class="cgy cs mll">submitted {{ submission.submission_time|human_time }}, by <a href="{% url 'profile' submission.username %}#section0"><b>{{ submission.username }}</b></a></span>
		<form method="POST" class="mtl" action="{% url 'approve_classified' %}">
		{% csrf_token %}
		<input type="hidden" name="ad_score" value="{{ score }}">
		<input class="mrl mts" style="background-color:#00c853;border-color:#009940;color:white;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);font-size:100%;border-radius:4px;margin-top:0.5em;width:7em;" type="submit" name="approve" value="Approve">
		<input class="mbl" style="background-color:#dd2c00;border-color:#b32400;color:white;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);font-size:100%;border-radius:4px;margin-top:0.5em;width:7em;" type="submit" name="decline" value="Decline"><br>
		</form>

	{% else %}



		
		<b>Title:</b> {% if submission.title %}<span class="cg">{{ submission.title }}</span>{% else %}<b class="cg">-- Give a proper title --</b>{% endif %}<br>
		<hr size=1 COLOR="#b3e6b3">
		
		<b>Category:</b> {% if submission.categ %}<span class="cg">{{ submission.categ }}</span>{% else %}<b class="cg">-- Assign a category --</b>{% endif %}<br>
		<hr size=1 COLOR="#b3e6b3">

		<b>Description:</b> <span class="cg">{{ submission.desc }}</span><br>
		<hr size=1 COLOR="#b3e6b3">

		{% if submission.is_new %}
		<b>Condition:</b> <span class="cg">{{ submission.is_new }}</span><br>
		<hr size=1 COLOR="#b3e6b3">
		{% endif %}
		
		<b>Price:</b> <span class="cg">{{ submission.ask }}</span>&nbsp;
		<span class="cgy cs">{% if submission.is_barter == 'Paisey aur badley mein cheez dono' %}(badle mein koi aur cheez bhi le loon ga){% endif %}</span><br>
		<hr size=1 COLOR="#b3e6b3">
		
		<b>Name:</b> <span class="cg">{{ submission.seller_name }}</span><br>
		<hr size=1 COLOR="#b3e6b3">
		
		<b>Mobile:</b> <span class="cgy">0{{ submission.MN_data.national_number }}</span><br>
		<hr size=1 COLOR="#b3e6b3">

		<b>City:</b> <span class="cg">{{ submission.city }}</span><br>
		<hr size=1 COLOR="#b3e6b3">
		<b>Town:</b> <span class="cg">{{ submission.town }}</span><br>

	<table cellpadding="5">	
	<tr style="vertical-align: top;">
	{% for photo_url,status,pht_id in submission.photos %}
		<td style="display: inline-block;">
		<img class="pht mrs mts" src="{{ photo_url|complete_url }}">
		</td>
	{% endfor %}
	</tr>
	</table>

		<br>
		<span class="cgy cs mll">submitted {{ submission.submission_time|human_time }}, by <a href="{% url 'profile' submission.username %}#section0"><b>{{ submission.username }}</b></a></span>

	{% endif %}
	
	<hr size=3 COLOR="#00c853">
	{% empty %}
	<b class="cl cg">No unapproved classifieds are queued at this time</b>
{% endfor %}
</div>

{% pagination_buttons page %}

{% endblock %}
