{% extends "base_signup.html" %}
{% block content %}

<div style="margin-top: 5%;">
<h1 class="bw mbl" style="color:#43A047;text-align:center;text-shadow:1px 1px #8d6e63;">دمادم <a href="{% url 'unauth_home_new' %}" class="cb" style="font-size:0.5em;text-shadow:0px 0px;">(eng)</a></h1>
		<div class="cxl mbs" style="text-align:center;color:#FF6F00;text-shadow:0.5px 0.5px #bcaaa4;margin-left:auto;margin-right:auto;max-width:90%;">نئے دوست، ان کی تصاویر اور چیٹ</div>

<div class="signup">
<div style="background-color:#00c853;overflow: auto; border-radius:6px;padding:10px 5px 10px 5px;">
	
<img src="{{ STATIC_URL }}img/wink3.png" style="width:10%; margin:3px;"><img src="{{ STATIC_URL }}img/stache.png" style="width:11%; margin:3px;"><img src="{{ STATIC_URL }}img/glasses1.png" style="width:11%; margin:3px;"><img src="{{ STATIC_URL }}img/cool2.png" style="width:12%; margin:3px;"><img src="{{ STATIC_URL }}img/headset.png" style="width:12%; margin:3px;"><img src="{{ STATIC_URL }}img/jhappi1.png" style="width:12%; margin:3px;"><img src="{{ STATIC_URL }}img/bandit.png" style="width:10%; margin:3px;">

<hr size=1 COLOR="#ffeb3b">

<div class="mtl mbl">
<b class="cxl" style="color:#ffeb3b;text-shadow:1px 1px #009940;">نیا اکاؤنٹ</b><br>
</div>


	<div class="mtl mbl">
	<b class="cxl" style="color:white;text-shadow:1px 1px #009940;">: اپنا کوئی مذے کا نام لکھو</b>
	</div>
		<form method="POST" action="{% url 'create_nick_new' 'ur' %}">
		{% csrf_token %}
		{{ form.username }}<br>
		<input class="mtl mbs" style="color:white;background-color:#ffd600;border:solid 1px #e6bf00;width:4em;font-size:120%;font-weight:bold;text-shadow:1px 1px #b39500;" type="submit" value="OK">
		</form>
</div>
</div>
<br>
	<a href="{% url 'login' 'ur' %}#section0"><button class="mtl" style="margin:auto; display:block;color:white;background-color:#bdbdbd;border:solid 1px #9e9e9e;font-size:120%;font-weight:bold;text-shadow:1px 1px #808080;padding:1px 0px 2px 0px;">&nbsp;&nbsp;پرانا اکاؤنٹ&nbsp;&nbsp;</button></a><br>
</div>
{% endblock %}