{% extends "base_signup.html" %}
{% block content %}

<div class="signup">
<div style="background-color:#00c853;overflow: auto; border-radius:6px;">
	<h1 class="bw mbs" style="color:#ffffff;text-align:center;text-shadow:1px 1px #009940;">Damadam.pk</h1>

	<div class="cl mbs" style="text-align:center;color:white;text-shadow:1px 1px #009940;margin-left:auto;margin-right:auto;max-width:90%;font-size:110%;">Naye <span style="color:#ffeb3b;">dost</span>, unki <span style="color:#ffeb3b;">fotos</span>, aur <span style="color:#ffeb3b;">chat!</span></div>
<img src="{{ STATIC_URL }}img/wink3.png" style="width:10%; margin:3px;"><img src="{{ STATIC_URL }}img/stache.png" style="width:11%; margin:3px;"><img src="{{ STATIC_URL }}img/glasses1.png" style="width:11%; margin:3px;"><img src="{{ STATIC_URL }}img/cool2.png" style="width:12%; margin:3px;"><img src="{{ STATIC_URL }}img/headset.png" style="width:12%; margin:3px;"><img src="{{ STATIC_URL }}img/jhappi1.png" style="width:12%; margin:3px;"><img src="{{ STATIC_URL }}img/bandit.png" style="width:10%; margin:3px;">
	<div class="mbl bw" style="max-width:90%;text-align:center;display:block;margin-left:auto;margin-right:auto;border: 2px dashed #ffffff;border-radius:4px;padding:5px 5px 5px 5px;background-color:#00c853;">
	
	<b class="cxl" style="color:white;text-shadow:2px 2px #009940;">Apna koi mazay ka naam rakho:</b>
		<form method="POST" action="{% url 'create_nick_new' %}">
		{% csrf_token %}
		{{ form.username }}<br>
		<input class="mtl mbs" style="color:white;background-color:#ffd600;border:solid 1px #e6bf00;width:4em;font-size:120%;font-weight:bold;text-shadow:1.5px 1.5px #b39500;" type="submit" value="OK">
		</form>
	</div>
	<a href="{% url 'login' %}#section0"><button style="margin:auto; display:block;color:white;background-color:#bdbdbd;border:solid 1px #9e9e9e;font-size:120%;font-weight:bold;text-shadow:1px 1px #808080;">&nbsp;&nbsp;Old Account&nbsp;&nbsp;</button></a><br>
</div>
</div>
{% endblock %}