{% extends "base.html" %}
{% load humanize %}
{% load thumbedge %}
{% load photoedge %}
{% load human_time %}
{% load mathfilters %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">
<span class="cgy cm">Photo lagane ke liye account banao</span>
<br>
	<hr size=1 COLOR="#ffbf00" style="margin-bottom:-0.1em;">
	<span class="cs cb"><b>&nbsp;&nbsp;Top photos&nbsp;&nbsp;</b></span><span class="co">|</span><a href="{% url 'unauth_photo' %}#section0" class="cs cgy">&nbsp;&nbsp;Taza photos&nbsp;&nbsp;</a><span class="co">|</span><a href="{% url 'top_photo' %}#section0" class="cs cgy">&nbsp;&nbsp;Top stars&nbsp;&nbsp;</a>
	<hr size=1 COLOR="#ffbf00" style="margin-top:-0.0em;"><br>

{% for photo in object_list %}

	<a name="section{{ forloop.counter }}"></a>
	
	<span class="co cs"><b>
	{{ forloop.counter0|add:page.start_index }}.
	</b></span>
	
	<a href="{% url 'profile' photo.o %}#section0">
	{% if photo.oa != 'None' and username == photo.o %}
		<img style="border: 1px solid #00B800;" src="{{ photo.oa|thumbedge }}" alt="no pic"></img>
	{% elif photo.oa != 'None' %}
		<img style="border: 1px solid #A9A9A9;" src="{{ photo.oa|thumbedge }}" alt="no pic"></img>
	{% else %}
		<img style="border: 1px solid #DCDCDC" src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
	{% endif %}
	</a>
	{% if photo.vo|add:"0" < -50 %}
		<span class="co">&nbsp;{{ photo.o|truncatechars:15 }} ko buri photos lagane se ban kr diya gaya&nbsp;{% emoticons %}.h1{% endemoticons %}</span>
		<hr size=1 COLOR="#ff9933">
	{% else %}
		<a href="{% url 'comment_pk' photo.i 2 %}" class="cl cb">
		{% if photo.vo|add:"0" < -2 %}
		<span class="cgy">--- --- ---</span>
		{% else %}
		<b><bdi>{% emoticons %}{{ photo.ca }}{% endemoticons %}</bdi></b>
		{% endif %}
		<button class="btn nw bl bco cs mbs mts">
		{% if photo.co|add:"0" > 1 %}
		<b>{{ photo.co|add:"0" }}</b> tabsrey
		{% elif photo.co|add:"0" == 1 %}
		<b>1</b> tabsra
		{% else %}
		tabsra kro
		{% endif %}</button>
	
	{% if photo.d == '1' %}
		&nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic"></img>
		{% elif photo.d == '2' %}
		&nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic"></img>
		{% elif photo.d == '4' %}
		&nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic"></img>
		{% elif photo.d == '5' %}
		&nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic"></img>
		{% elif photo.d == '3' %}
		&nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic"></img>
		{% else %}
	{% endif %}
		</a>

	<br>
	
	
			{% if photo.vo|add:"0" < -2 %}
				<img class="pht" src="{{ STATIC_URL }}img/broken_pic.png"></img>
			{% elif photo.vo|add:"0" < -1 %}
				<img class="pht bright" src="{{ photo.u|photoedge }}"></img>
			{% else %}
				<img class="pht" src="{{ photo.u|photoedge }}"></img>
			{% endif %}<br>

			<a href="{% url 'comment_pk' photo.i 2 %}">
			{% if photo.lctx and photo.slctx %}
			<div class="bglo iw2">
			<span class="cb">&nbsp;{{ photo.lcwu|truncatechars:10 }}:</span>&nbsp;<span class="clb">{% emoticons %}{{ photo.lctx|truncatechars:30 }}{% endemoticons %}</span><br>
			<span class="cb">&nbsp;{{ photo.slcwu|truncatechars:10 }}:</span>&nbsp;<span class="clb">{% emoticons %}{{ photo.slctx|truncatechars:30 }}{% endemoticons %}</span><br>
			</div>
			{% elif photo.lctx %}
			<div class="bglo iw2">
			<span class="cb">&nbsp;{{ photo.lcwu|truncatechars:10 }}:</span>&nbsp;<span class="clb">{% emoticons %}{{ photo.lctx|truncatechars:30 }}{% endemoticons %}</span><br>
			</div>
			{% else %}
			{% endif %}
			</a>


			<a href="{% url 'photo_izzat' photo.i 2 %}">
			{% if photo.vi|add:"0" > 1 %}
			<button class="btn nw bcgy bm mtl mbl"><b>{{ photo.vi }}</b>&nbsp;points</button><br>
			{% elif photo.vi|add:"0" == 1 %}
			<button class="btn nw bcgy bm mtl mbl"><b>{{ photo.vi }}</b>&nbsp;point</button><br>
			{% else %}
			<button class="btn nw bcgy bm mtl mbl"><b>{{ photo.vi }}</b>&nbsp;points</button><br>
			{% endif %}
			</a>


			<a href="{% url 'photo_share' photo.i 2 %}"><button class="btn nw bcp" style="width:12em;">photo share kro</button></a>
			<p><hr size=1 COLOR="#ff9933"></p>
	{% endif %}
	{% empty %}<span class="clb">Top photos kuch deir baad nazr aien gi!</span>
{% endfor %}

<br><div style="text-align: center;">
		{% if page.has_previous %}
	    &nbsp;&nbsp;&nbsp;<a href="?page={{ page.previous_page_number }}#section0"><button class="btn bm bcr"><bdi>wapis</bdi></button></a>
	    {% endif %}
	    &nbsp;&nbsp;
	    {% if page.has_next %}
	    <a href="?page={{ page.next_page_number }}#section0"><button class="btn bm bcg"><bdi>aagey</bdi></button></a>
	    {% endif %}
	</div>
</div>
<br><br>
{% endblock %}

