{% if referrer == 'home' %}
	{% extends "base.html" %}
{% elif referrer == 'login' %}
	{% extends "base.html" %}
{% else %}
	{% extends "base_ecomm.html" %}
{% endif %}

{% block content %}
<div class="margin clb">
<span class="cxl">Is number ki tasdiq nahi ho saki!</span><br>
	
	{% if reason == 'expired' %}
	<div class="mts mbs">
	<span class="cgy cl">Tasdiq ke steps <b>jaldi jaldi</b> karney chahiyen, in mein deir nahi honi chahiye<br>Phir try karien...</span><br>
	</div>
	{% elif reason == 'generic' %}
	<div class="mts mbs">
	<span class="cgy cl">Tasdiq ke steps mein nah hi browser ka <b>back button</b> use karein, aur nah hi SMS code dalney mein deir karien...</span><br>
	</div>
	{% elif reason == 'invalid' %}
	<div class="mts mbs">
	<span class="cgy cl">Tasdiq ke liye aap ko tamam steps pooray karney hon ge, warna tasdiq nahi ho gi<br>Phir try karien...</span><br>
	</div>
	{% elif reason == 'used' %}
	<div class="mts mbs">
	<span class="cgy cl">Tasdiq karwatey waqt browser ka <b>back button</b> nahi use karien<br>Phir try karien...</span><br>
	</div>
	{% endif %}

{% if referrer == 'home' %}
<a href="{% url 'home' %}#section0">
{% elif referrer == 'login' %}
<a href="{% url 'login' %}#section0">
{% else %}
<a href="{% url 'classified_listing' %}#section0">
{% endif %}
<button class="btn bcg bm mtl">OK</button></a>
</div>
<br><br>
{% endblock %}
