{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<head><title>Share image | Damadam</title></head>
<style>body{background: #f0f3f4}</style>
<script async type="text/javascript" src="{{ STATIC_URL }}js/module/helper_funcs.v1.16.js"></script>
{% include "content/share_content_navbar.html" with static_url=STATIC_URL section='photo' %}

<div id="pub_img_size_err" class="mbs" style="text-align:left;display:none"><span class="cr sp lsp">Ye photo buhut barri hai, choti photo chunein</span></div>
<div id="pub_img_mime_err" class="mbs" style="text-align:left;display:none"><span class="cr sp lsp">Ye photo kharab hai, koi aur chunein</span></div>

{% if forbidden %}
<h1 class="cxl clb lsp" style="text-align:center">Share photo post on Damadam:</h1>
    <div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:450px;width:93%;margin:0 auto;overflow: hidden;text-align:center">
        {% load get_display_ban_msg %}
        <div class="mtl">
        {% display_ban_msg static_url=STATIC_URL is_banned=forbidden is_defender=defender is_own_profile=own_profile time_remaining=time_remaining uname=uname ban_detail=ban_details %}
        </div>
    </div>
{% else %}
<h1 class="cxl clb lsp" style="text-align:center">Share photo post on Damadam:</h1>
    
    <div class="clb mbl mts" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:snow;max-width:500px;margin-left:auto;margin-right:auto;width:97%;text-align:left">
        {% if show_instructions %}
            <div class="bizcard mbl" style="background-color:#ffffe6;padding:4px 8px 6px 8px">
            <div style="text-align:center" class="cxl lsp">Welcome! Purey Damadam se koi mazedar photo share karein!</div>
            <hr size=1 COLOR="#E9EBEE">
            <div class="mt sp lsp">1) Maslan memes, current affairs, poetry, paheliyan (riddles), quotes, jokes, sports, politics, religion, celebrities, fashion, or nature</div>
            <div class="mts sp lsp">2) Apki shared photos agr munfarid huin tou 'trending' mein aa sakti hain. Zyada se zyada photos trending mein laney waley users ko 'red star' mil jata hai</div>
            <div class="mts sp lsp">3) Vulgarity, abuse and firqa wariyat sakhti se mana hain. Aik dafa <a href="{% url 'website_rules' %}#section0" class="cb" style="border-bottom:1px dotted blue">Damadam rules</a> zarur dekh lein</div>
            </div>
        {% endif %}
        <form action="{% url 'upload_public_photo' %}" id="public_photo_form" class="mt" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="pub_img_sk" type="hidden" name="sk" value="{{ sk }}">
        <input type="hidden" name="opt" value="0">
        
        {% if form.image_file.errors %}<div id="pub_img_upload" class="cr cl sp" style="padding:10px 10px 0 10px;">{{ form.image_file.errors.0 }}</div>{% else %}<div class="clb sp" style="text-align:left;padding:10px 10px 0 10px;">STEP 1: Select photo</div>{% endif %}
        <div class="mts mbl" style="text-align:center">{{ form.image_file }}</div>
        {% if form.caption.errors %}<div class="cr cl sp" style="padding:10px 10px 0 10px;">{{ form.caption.errors.0 }}</div>{% else %}<div class="clb lsp sp" style="text-align:left;padding:5px 10px 0 10px;">STEP 2: Neechay likhein ke photo kis barey mein hai:</div>{% endif %}
        
        <div style="padding:5px 10px 0 10px;text-align:center">{{ form.caption }}</div>
        <div style="text-align:center">
        <button id="pub_img_subform" class="btn bco bl mtl mbl pg_ok_res sp" style="width:95%;height:38px" type="submit"><b>SHARE</b></button>
        </div>
        </form>
    </div>

        {% if not show_instructions %}
        <h2 class="cxl clb lsp" style="text-align:center">Photo sharing help:</h2>
    
        <div class="clb mbl mts" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:snow;max-width:500px;margin-left:auto;margin-right:auto;width:97%;text-align:left">
        <div class="cgy lsp sp cm mbs" style="padding:0 10px;">
            <div class="mt" style="text-align:left"><span class="cgy cs">1)</span> Photo post ke zariye apne users ke samney apne apko express karein</div>
            <div class="mts" style="text-align:left"><span class="cgy cs">2)</span> Hadd se zyada private photos share nahi karein. Agr screenshot le li gyi tou apke liye mushqil peda ho sakti hai</div>
            <div class="mts" style="text-align:left"><span class="cgy cs">3)</span> Vulgarity, abuse, mazhabi fasaad aur spamming sakhti se mana hain. Aik dafa <a href="{% url 'website_rules' %}#section0" class="cb" target="_blank" style="border-bottom:1px dotted blue">Damadam rules</a> zarur dekh lein</div>
            <div class="mts" style="text-align:left"><span class="cgy cs">4)</span> One day mein {{ sharing_limit }} se ziyada items share nahi hotay</div>
        </div>
        </div>
        {% endif %}

    </div>
{% endif %}

<br><br>
{% endblock %}
