{% extends noindex|yesno:"base_noindex.html,base.html" %}
{% load get_transparent_buttons_js %}
{% load get_user_profile_navbar %}
{% load get_display_ban_msg %}
{% load emoticons_tags %}
{% load humanize %}
{% load s3 %}
{% block content %}
<head><title>{{ username }}'s profile | Damadam</title></head>
<style>body{background:#f0f3f4}</style>

{% user_profile_navbar static_url=STATIC_URL section='profile' uname=username is_own_profile=is_own_profile %}

<div style="text-align:center" class="mbl">  
{% if is_own_profile %}
<h1 class="cxl clb lsp" style="display:inline">Your profile:</h1>
{% else %}
<h1 class="cxl clb lsp" style="display:inline">{{ username }}'s profile:</h1>
{% endif %}
 </div>

<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:96%;margin-right:auto;margin-left:auto">

	{% if mehfil_creation_ttl %}
		{% load future_time %}
		<div style="padding:8px;background-color:ivory;text-align:center" class="bizcard cl cr mt mbs lsp">
		Ap {{ username }} ke sath mehfil bana sakein ge {{ mehfil_creation_ttl|future_time }}
		</div>
	{% elif successfully_unsubscribed == '1' %}

	<div class="cm sp" style="text-align:center;font-weight:bold;background:coral;color:white;padding:10px">Topic(s) unsubscribed</div>

	{% elif successfully_unsubscribed == '2' %}

	<div class="cm sp lsp" style="text-align:center;font-weight:bold;background:coral;color:white;padding:10px">Tamam topic(s) unsubscribe nahi ho sakey kiyun ke aap ko subscribe kiye huay zyada time nahi guzra</div>	

	{% else %}

		{% if not mobile_verified %}
			<div class="cs sp" style="text-align:center;font-weight:bold;background:tomato;color:white;padding:6px 0">UNVERIFIED USER</div>
		{% endif %}

		{% display_ban_msg static_url=STATIC_URL is_banned=is_profile_banned is_defender=is_defender is_own_profile=is_own_profile time_remaining=time_remaining uname=username ban_detail=ban_detail %}
	{% endif %}

	{% if not is_profile_banned %}

        <div class="cl sp" style="padding:10px 0;font-weight:bold;text-align:center;color:darkgray;border-bottom:2px solid whitesmoke;background-color:#fefefa">
        	Profile foto:
        </div>

		<div style="overflow:hidden;text-align:center;background:whitesmoke;border-top:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0">
		{% if user_profile.avatar %}
		<img style="vertical-align:top;width:100%;max-width:450px" src="{{ user_profile.avatar|s3 }}" alt="pic loading ..."><br>
		{% else %}
			{% if is_own_profile %}
			<img src="{{ STATIC_URL }}img/broken.svg" style="max-width:{{ image_base_width }}px;vertical-align:top" alt="no pic"><br>
			{% else %}
			<div style="font-weight:lighter" class="mts mbs clb cm sp">in sey kahein aik profile foto tou laga lein ...</div>
			{% endif %}
		{% endif %}
		</div>

		<div class="mt cs cgy lsp sp mbl" style="text-align:center">joined {{ object.date_joined|naturaltime }}</div>

		{% if is_own_profile %}
			<div style="text-align:center"><a href="{% url 'edit_profile' %}#section0"><button class="btn nw bm cl sp pg_ok_res" style="background-color:#1edea8;height:55px;width:100%;border-radius:0;background: linear-gradient(90deg, rgba(0,238,209,1) 0%, rgba(109,158,255,1) 100%, rgba(40,215,255,1) 100%);"><b>Edit your profile</b></button></a></div>
		{% else %}
			{% if own_id %}
				{% load get_big_fan_button %}
				{% load get_big_group_button %}
				<div class="mts mbs fx fxjscn fxaicn">
				{% big_fan_button own_user_id=own_id target_user_id=object.id object_id=object.id origin='10' home_hash='' fan_list=fanned static_url=STATIC_URL %}
				{% big_group_button own_id=own_id target_id=object.id parent_object_id='' object_type='profile' origin='10' target_username=username %}
				</div>
			{% endif %}
		{% endif %}

	{% endif %}

</div>

{% if subscribed_topics %}
    <div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:96%;margin-right:auto;margin-left:auto;padding-bottom:7px">

    <div class="cl sp lsp mbl" style="padding:10px 0;font-weight:bold;text-align:center;color:darkgray;border-bottom:2px solid whitesmoke;background-color:#fefefa">Your topics:</div>

    <div style="text-align:center;background:#ececec;border:none;border-radius:4px" class="mrl mll mbl"><a href="{% url 'unsubscribe_topics' %}"><button class="cl sp vt pg_ok_res" style="border:0;color:#707070;padding:12px 5px;width:100%">Unsubscribe</button></a></div>

    {% for topic in subscribed_topics %}
    <div  class="mrl mll">
    {% include "topics/topic_button.html" with static_url=STATIC_URL label=topic.name url=topic.url c1=topic.c1 c2=topic.c2 %}
    </div>
    {% endfor %}
    
    </div>
{% endif %}
{% if star_owner_mehfils and not is_profile_banned %}
	
	<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:96%;margin-right:auto;margin-left:auto;padding-bottom:7px">

			{% load human_time %}
			<div class="cl sp lsp mbs" style="padding:10px 0;font-weight:bold;text-align:center;color:darkgray;border-bottom:2px solid whitesmoke;background-color:#fefefa">Public mehfil(s) owned:</div>
			{% for group_id, uuid, topic, ownership_time in star_owner_mehfils %}
				<div class="mbs" style="text-align:center">
				<a href="{% url 'public_group' slug=uuid %}">
				<button class="bizcard mts vt" style="width:90%;padding:10px 7px 5px 7px;border:1px solid #c69fb8">
					<div class="cp cl sp lsp ow" style="font-weight:bold">{% emoticons %}{{ topic }}{% endemoticons %}</div>
					<div class="mts cs sp cgy lsp">owner since {{ ownership_time|human_time }}</div>
				</button>
				</a>
				</div>
			{% endfor %}

	</div>

{% endif %}


<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:96%;margin-right:auto;margin-left:auto;padding-bottom:10px">

	<div class="cl sp lsp mbs" style="padding:10px 0;font-weight:bold;text-align:center;color:darkgray;border-bottom:2px solid whitesmoke;background-color:#fefefa">About:</div>

	<div class="mls mrs">

	<div class="ow">
	<b class="cm sp lsp" style="color:darkgray">My story:</b>
		{% if is_profile_banned %}
			<span class="cgy sp cl">- hidden -</span>
		{% else %}
			{% if user_profile.bio == 'Ao gupshup lagain...' %}
			<span class="cl sp lsp" style="color:#a9a9a9">Not set</span>
			{% else %}
			<span class="cl sp lsp">{% emoticons %}{{ user_profile.bio }}{% endemoticons %}</span>
			{% endif %}
		{% endif %}
	</div>
	<hr size=1 COLOR="#f4f4f4">

	<b class="cm sp lsp" style="color:darkgray">City:</b>
		{% if city_name == 'Not set' or city_name == '-------' %}<span class="cl sp lsp" style="color:#a9a9a9">Not set</span>{% else %}<span class="cl sp lsp">{{ city_name }}</span>{% endif %}
	<hr size=1 COLOR="#f4f4f4">

	<b class="cm sp lsp" style="color:darkgray">Star sign:</b>
		{% if zodiac == 'None' %}<span class="cl sp lsp" style="color:#a9a9a9">Not set</span>{% else %}<span class="cl sp lsp">{{ zodiac }}</span>{% endif %}
	<hr size=1 COLOR="#f4f4f4">

	<b class="cm sp lsp" style="color:darkgray">Gender:</b>
		{% if user_profile.gender == '1' %}
			<span class="cl sp lsp">Female</span>
		{% else %}
			<span class="cl sp lsp">Male</span>
		{% endif %}
	<hr size=1 COLOR="#f4f4f4">

	<b class="cm sp lsp" style="color:darkgray">Married:</b>
		<span class="cl sp lsp">
		{% if user_profile.shadi_shuda == '1' %}Yes{% else %}No{% endif %}
		</span>
	<hr size=1 COLOR="#f4f4f4">

	<b class="cm sp lsp" style="color:darkgray">Age:</b>
		{% if user_profile.age %}
		<span class="cl sp lsp">{{ user_profile.age }}</span>
		{% else %}
		<span class="cl sp lsp" style="color:#a9a9a9">Not set</span>
		{% endif %}

	</div>
</div>


<div class="mbl clb" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;max-width:600px;width:96%;margin-right:auto;margin-left:auto;padding-bottom:7px">

  {% if is_own_profile %} 

	<div class="cl sp lsp mbs" style="padding:10px 0;font-weight:bold;text-align:center;color:darkgray;border-bottom:2px solid whitesmoke;background-color:#fefefa">Popularity and blocks:</div>

	<div class="mls mrs">

      <b class="cm sp lsp" style="color:darkgray">Total fans:</b>
      <a href="{% url 'fan_list' star_id %}#section0" class="cs">
      <button class="btn" style="background-color:#1edea8;padding:2px 5px;height:22px">{{ fans }}</button>
      </a>
      <hr size=1 COLOR="#f4f4f4">
      <b class="cm sp lsp" style="color:darkgray">Recent fans:</b>
      <a href="{% url 'fan_list' star_id %}#section0" class="cs">
      <button class="btn" style="background-color:#1edea8;padding:2px 5px;height:22px">
      {{ recent_fans }}</button>
      </a>
      <hr size=1 COLOR="#f4f4f4">
      <b class="cm sp lsp" style="color:darkgray">Total stars:</b>
      <a href="{% url 'star_list' %}#section0" class="cs">
      <button class="btn" style="background-color:#1edea8;padding:2px 5px;height:22px">{{ stars }}</button>
      </a>
      <hr size=1 COLOR="#f4f4f4">
      <b class="cm sp lsp" style="color:darkgray">Most shared:</b>&nbsp;<a href="{% url 'show_shared_photo_metrics' username %}"><button type="submit" class="btn nw bm sp pg_ok_res" style="height:22px;background-color:#1edea8">fotos</button></a>
      <hr size=1 COLOR="#f4f4f4">
		<b class="cm sp lsp" style="color:darkgray">Blocked users:</b>
		<a href="{% url 'banned_users_list' %}#section0" class="cs">
		<button class="btn" style="background-color:tomato;padding:2px 5px;height:22px">{{ blocked }}</button>
		</a>
	</div>

  {% else %}

  		<div class="cl sp lsp mbs" style="padding:10px 0;font-weight:bold;text-align:center;color:darkgray;border-bottom:2px solid whitesmoke;background-color:#fefefa">Popularity:</div>

  		<div class="mls mrs">

	      <b class="cm sp lsp" style="color:darkgray">Total Fans:</b>
	      <a href="{% url 'fan_list' star_id %}" class="cs"><button class="btn mrl" style="height:22px;background-color:#1edea8;padding:2px 5px">{{ fans }}</button></a>
	      <hr size=1 COLOR="#f4f4f4">
	      <b class="cm sp lsp" style="color:darkgray">Recent fans:</b>
	      <a href="{% url 'fan_list' star_id %}" class="cs"><button class="btn mrl" style="height:22px;background-color:#1edea8;padding:2px 5px">{{ recent_fans }}</button></a>
	      <hr size=1 COLOR="#f4f4f4">
	      <b class="cm sp lsp" style="color:darkgray">Most shared:</b>&nbsp;<a href="{% url 'show_shared_photo_metrics' username %}"><button type="submit" class="btn nw sp bm" style="background-color:#1edea8;padding:2px 0px;height:22px">fotos</button></a>
		</div>

  {% endif %}

</div>

<br><br>

{% transparent_buttons_js ident=own_id static_url=STATIC_URL %}
{% endblock %}
