{% extends "base.html" %}
{% load humanize %}
{% load thumbnail %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">
{% if object_list %}
<span style="color:color:#404040;font-size:85%;">Latest <b style="color:#229ec3;">jawab</b> aur <b style="color:#ff8000;">tabsrey</b> ye hain:</span><p></p>
{% for linksubscription in object_list %}
<!-- link submitter, photo submitter or group submitter -->
{% if linksubscription.type_of_object == '2' %}
{% if linksubscription.which_link.submitter.userprofile.avatar %}
<img src="{{ linksubscription.which_link.submitter.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
{% else %}
<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
{% endif %}
<a href="{% url 'profile' linksubscription.which_link.submitter.username %}">{{ linksubscription.which_link.submitter }}</a>:&nbsp;<span style="color:#404040;font-size:110%;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);">{% emoticons %}{{ linksubscription.which_link.description }}{% endemoticons %}</span>
{% if linksubscription.seen %}
<span style="color:gray;font-size:75%;">, jawab aya {{ linksubscription.which_link.latest_reply.submitted_on|naturaltime }}</span><br>
{% else %}
<a href="{% url 'reply_pk' linksubscription.which_link_id %}" style="color:#229ec3;font-size:75%;">, <b>neya jawab</b> aya {{ linksubscription.which_link.latest_reply.submitted_on|naturaltime }}</a><br>
{% endif %}<br>
<a href="{% url 'reply_pk' linksubscription.which_link_id %}"><button style="text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);background-color:#3cb7dd;border:solid 1px #229ec3;width:6em;white-space:nowrap;font-size:90%;color:white;border-radius:4px;"><b>
{{ linksubscription.which_link.reply_count }}</b> jawab
</button></a>
<hr size=1 COLOR="#3cb7dd">
{% elif linksubscription.type_of_object == '0' %}

		    {% if linksubscription.which_photo.vote_score < -7 %}
		    	<img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
		    {% elif linksubscription.which_photo.vote_score < -2 %}
			    {% if linksubscription.which_photo.image_file %}
			    <img src="{{ linksubscription.which_photo.image_file.url }}" style="filter:brightness(50%);border:1px solid lightgrey;width:auto;"></img>
			    {% else %}
			    <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
			    {% endif %}
		    {% else %}
			    {% if linksubscription.which_photo.image_file %}
			    <img src="{{ linksubscription.which_photo.image_file.url }}" style="border:1px solid lightgrey;width:auto;"></img>
			    {% else %}
			    <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
			    {% endif %}
		    {% endif %}
		    <br>
	{% if linksubscription.which_photo.owner.userprofile.avatar %}
	<img src="{{ linksubscription.which_photo.owner.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
	{% else %}
	<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
	{% endif %}

	<a href="{% url 'profile' linksubscription.which_photo.owner.username %}">{{ linksubscription.which_photo.owner }}</a>:
		    
	<span style="color:#404040;font-size:110%;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);">{% emoticons %}{{ linksubscription.which_photo.caption }}{% endemoticons %}</span>

	{% if linksubscription.seen %}
	<span style="color:gray;font-size:75%;">, tabsra hua {{ linksubscription.which_photo.latest_comment.submitted_on|naturaltime }}</span><br>
	{% else %}
	<a href="{% url 'comment_profile_pk' linksubscription.which_photo_id linksubscription.which_photo.owner_id 4 %}" style="color:#ff8000;font-size:75%;">, <b>neya tabsra</b> hua {{ linksubscription.which_photo.latest_comment.submitted_on|naturaltime }}</a><br>
	{% endif %}<br>


	<a href="{% url 'comment_profile_pk' pk=linksubscription.which_photo_id user_id=linksubscription.which_photo.owner_id from_photos=4 %}"><button style="text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);background-color:#ff9933;border-color:#ff8000;width:6em;white-space:nowrap;font-size:90%;color:white;border-radius:4px;">
	{% if linksubscription.which_photo.comment_count > 1 %}
		<b>{{ linksubscription.which_photo.comment_count }}</b> tabsrey
		{% elif linksubscription.which_photo.comment_count == 1 %}
		<b>1</b> tabsra
		{% else %}tabsra kro
		{% endif %}</button></a>

<hr size=1 COLOR="#ff9933">
{% endif %}
{% endfor %}

{% else %}
<span style="color:#404040;">Is waqt yahan kuch nahi hai</span>
{% endif %}
</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0"><button style="color:white;border-color: #cc0000;background: #FF1A1A;width:5em;white-space:nowrap;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);"><bdi>wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0"><button style="color:white;background-color:#1CB841;border-color:green;width:5em;white-space:nowrap;border-radius: 4px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);"><bdi>aagey</bdi></button></a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
