{% if section == 'about' %}
<div class="mbl fx fxjscn fxaicn">
	<button class="sp" style="height:50px;width:70px;font-size:9px;border:1px solid #1edea8;border-radius:6px;border-top-right-radius:0;border-bottom-right-radius:0;background:white;color:#1edea8;font-weight:bold"><img src="{{ STATIC_URL }}img/user-ct.svg" width="15" height="15" style="vertical-align:middle"><div class="mts">PROFILE</div></button>
	<a href="{% url 'display_user_public_feed_history' uname %}"><button class="sp" style="height:50px;width:70px;border:1px solid #dcdcdc;border-radius:6px;border-top-left-radius:0;border-bottom-left-radius:0;color:#a9a9a9;font-weight:bold;background:#f8f9fa"><div>{{ num_posts }}</div><div class="mt" style="font-size:9px;">POSTS</div></button></a>
</div>
{% elif section == 'public' %}
<div class="mbl fx fxjscn fxaicn">
	<a href="{% url 'user_profile' uname %}"><button class="sp" style="height:50px;width:70px;font-size:9px;border:1px solid #dcdcdc;border-radius:6px;border-top-right-radius:0;border-bottom-right-radius:0;background:#f8f9fa;color:#a9a9a9;font-weight:bold"><img src="{{ STATIC_URL }}img/user-cgy.svg" width="15" height="15" style="vertical-align:middle"><div class="mts">PROFILE</div></button></a>
	<button class="sp" style="height:50px;width:70px;border:1px solid #1edea8;border-radius:6px;border-top-left-radius:0;border-bottom-left-radius:0;font-weight:bold;background:white"><div style="color:#1cca99">{{ num_posts }}</div><div class="mt" style="font-size:9px;color:#1edea8">POSTS</div></button>
</div>
{% endif %}