{% extends noindex|yesno:"base_noindex.html,base.html" %}
{% load get_transparent_buttons_js %}
{% load get_user_profile_navbar %}
{% load get_display_ban_msg %}
{% load emoticons_tags %}
{% load humanize %}
{% load s3 %}
{% block content %}
<head><title>{{ username }}'s profile | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>

{% user_profile_navbar static_url=STATIC_URL section='profile' uname=username is_own_profile=is_own_profile %}

<div style="text-align:center" class="mbl">  
{% if is_own_profile %}
<h1 class="cxl clb lsp" style="display:inline">Your profile:</h1>
{% else %}
{% load get_group_button %}
 {% group_button user.id star_id username 'profile' '10' username %}&nbsp;{% if username in ratified %}<img src="{{ STATIC_URL }}img/pstar.svg" height="16" width="16">&nbsp;{% endif %}<h1 class="cxl clb lsp" style="display:inline">{{ username }}'s profile:</h1>
{% endif %}
 </div>

<div class="clb bizcard" style="background-color:white;margin: 0 auto;max-width:600px;width:93%;padding:10px 7px">

{% if mehfil_creation_ttl %}
	{% load future_time %}
	<div style="padding:8px;background-color:ivory;text-align:center" class="bizcard cl cr mt mbs lsp">
	Ap {{ username }} ke sath mehfil bana sakein ge {{ mehfil_creation_ttl|future_time }}
	</div>
{% else %}
	{% display_ban_msg static_url=STATIC_URL is_banned=is_profile_banned is_defender=is_defender is_own_profile=is_own_profile time_remaining=time_remaining uname=username ban_detail=ban_detail %}
{% endif %}

	{% if not is_profile_banned %}
		
		<div class="cl sp lsp" style="font-weight:bold">Profile foto:</div>
			
		{% if object.userprofile.avatar %}
		<img class="pht" src="{{ object.userprofile.avatar|s3 }}" style="border-radius:12px" alt="avatar"><br>
		{% else %}
			{% if is_own_profile %}
			<img src="{{ STATIC_URL }}img/broken.svg" style="border-radius:12px;max-width:{{ image_base_width }}px" alt="avatar"><br>
			{% else %}
			<span style="font-weight:lighter" class="cgy cm sp">in sey kahein aik profile foto tou laga lein ...</span><hr size=1 COLOR="#E9EBEE">
			{% endif %}
		{% endif %}
	{% endif %}
	
	{% if not is_own_profile %}
		<a href="{% url 'direct_message' pk=object.id %}"><button class="btn bcg bxl mts mbl pg_ok_res" style="height:26px">Private mehfil</button></a><br>
	{% endif %}

	<b class="profile">Joined {{ object.date_joined|naturaltime }}</b>
	<hr size=1 COLOR="#E9EBEE">
	<b class="profile">Chat score:</b>
	<a class="info">
	{% if object.userprofile.score %}
		{% if object.userprofile.score < 0 %}
			<b class="cg">1</b>
		{% else %}
			<b class="cg">{{ object.userprofile.score }}</b>
		{% endif %}
	{% else %}
		<b class="cg">1</b>
	{% endif %}
	</a>&nbsp;<a href="{% url 'score_help' %}#section0" target="_blank" class="cb cs sp" style="border-bottom:1px dotted dodgerblue">help</a><br>
	<hr size=1 COLOR="#E9EBEE">
	
	<div style="overflow:hidden">
	<b class="profile">About:</b>
		{% if is_profile_banned %}
			<span class="cgy sp">&nbsp;mita diya gya</span>
		{% else %}
			{% if object.userprofile.bio %}
			{% emoticons %}{{ object.userprofile.bio }}{% endemoticons %}
			{% endif %}
		{% endif %}
	</div>
	<hr size=1 COLOR="#E9EBEE">
	
	<b class="profile">Age:</b>
		{% if object.userprofile.age %}
		{{ object.userprofile.age }}
		{% endif %}
	<hr size=1 COLOR="#E9EBEE">

	<b class="profile">Gender:</b>
		{% if object.userprofile.gender == '1' %}
			{% if username in ratified %}
	    	<img src="{{ STATIC_URL }}img/pstar.svg" alt="*" height="13" width="13">&nbsp;<span style="color:#ff4d4d">Girl</span>
	    	{% else %}
			Girl
			{% endif %}
		{% else %}
			Boy
		{% endif %}
	<hr size=1 COLOR="#E9EBEE">

	<b class="profile">Shaadi shuda:</b>
		{% if object.userprofile.shadi_shuda == '1' %}
			Yes
		{% else %}
			No
		{% endif %}
	<hr size=1 COLOR="#E9EBEE">

	<b class="profile">Shakal soorat:</b>
	{% if object.userprofile.attractiveness == '0' %}
		Ek dum kadak
	{% elif object.userprofile.attractiveness == '1' %}
		Fifty fifty
	{% else %}
		Shakal pe mat ja
	{% endif %}

	{% if star_owner_mehfils and not is_profile_banned %}
	<hr size=1 COLOR="#E9EBEE">
	{% load human_time %}
	<div style="font-weight:bold" class="mbs">Public mehfil(s) owned:</div>
		{% for group_id, uuid, topic, ownership_time in star_owner_mehfils %}
			<div style="text-align:center">
			<a href="{% url 'public_group' slug=uuid %}">
			<button class="bizcard mts vt" style="width:95%;padding:10px 7px 5px 7px;border:1px solid #e3cfdc">
				<div class="cp cl sp lsp" style="font-weight:bold">{% emoticons %}{{ topic }}{% endemoticons %}</div>
				<div class="mts cs sp cgy lsp">owner since {{ ownership_time|human_time }}</div>
			</button>
			</a>
			</div>
		{% endfor %}

	{% endif %}

</div>
<br><br>

{% transparent_buttons_js ident=own_id static_url=STATIC_URL %}
{% endblock %}
