{% extends "base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">

<span style="color:green;font-size:80%;">Home ki chats jahan tum ne ye kisi aur ne tum se gup lagaii, pichley 30 mins mein:</span><p></p>
{% for key, value in eachlink.items %} <!-- value.0 is seen link, value.1 is time stamp, value.2 is unseen link-->
	{% if value.0.image_file %}
    	<img src="{{ value.0.image_file.url }}"></img><br>
	{% endif %}
	{% if value.0 %} <!-- if seen post -->
	<a href="{% url 'profile' slug=value.0.submitter %}#section0">
	{% if value.0.submitter.userprofile.avatar %}
		
		<img src="{{ value.0.submitter.userprofile.avatar.url }}" alt="no pic" height="15" width="15"></img>
		
	{% else %}
		
		<img src="{{ STATIC_URL }}img/default-avatar.jpg" alt="no pic" height="15" width="15"></img>
		
	{% endif %}
	{{ value.0.submitter }}</a>
	{% if user.is_authenticated %}
			{% if user.usersettings.score_setting == '1' %}
				{% if value.0.submitter.userprofile.score %}
					{% if value.0.submitter.userprofile.score < 0 %}
				    	<span style="color:red;">({{ value.0.submitter.userprofile.score }})</span>
				    {% else %}
				    	<span style="color:#18A018;">({{ value.0.submitter.userprofile.score }})</span>
					{% endif %}
			    {% else %}
			    {% endif %}
			{% else %}
			{% endif %}
	{% endif %}
	{% for girl in verify %}
    {% if girl == value.0.submitter.username %}
    	
    	<span style="font-size:150%;color:deeppink;"><b>*</b></span>
    {% endif %}{% endfor %}
	: {% emoticons %}{{ value.0.description }}{% endemoticons %}
	<span style="color:gray;font-size:75%;">, jawab aya {{ value.1|naturaltime }}</span>
	<a name="section{{ forloop.counter }}"></a>
	<p style="margin-top:.5em;"></p>
	{% if value.0.publicreply_set.count %}
	{% if value.0.publicreply_set.count < 26 %}
		<a href="{% url 'reply' pk=value.0.pk %}#section0" style="color:#1947D1;background-color:white; font-family:arial;border:solid;border-width:1px;border-radius:4px; padding-left:4px;padding-right:2px;padding-bottom:2px;border-color:orange;white-space:nowrap;">{{ value.0.publicreply_set.count }} jawab</a>
		{% else %}
		<a href="{% url 'reply' pk=value.0.pk %}#section0" style="color:#1947D1;background-color:white; font-family:arial;border:solid;border-width:1px;border-radius:4px; padding-left:4px;padding-right:2px;padding-bottom:2px;border-color:orange;white-space:nowrap;">25+ jawab</a>
		{% endif %}
	{% else %}
	<a href="{% url 'reply' pk=value.0.pk %}#section0" style="color:#1947D1;background-color:white; font-family:arial;border:solid;border-width:1px;border-radius:4px; padding-left:4px;padding-right:2px;padding-bottom:2px;border-color:orange;white-space:nowrap;">isko jawab do</a>
	{% endif %}
	<br>
	{% else %}
	<!-- unseen post -->
	{% if value.2.submitter.userprofile.avatar %}
		<a href="{% url 'profile' slug=value.2.submitter %}#section0">
		<img src="{{ value.2.submitter.userprofile.avatar.url }}" alt="no pic" height="15" width="15"></img>
		</a>
	{% else %}
		<a href="{% url 'profile' slug=value.2.submitter %}#section0">
		<img src="{{ STATIC_URL }}img/default-avatar.jpg" alt="no pic" height="15" width="15"></img>
		</a>
	{% endif %}
	<a href="{% url 'profile' slug=value.2.submitter %}#section0">{{ value.2.submitter }}</a>
	{% if user.is_authenticated %}
			{% if user.usersettings.score_setting == '1' %}
				{% if value.2.submitter.userprofile.score %}
					{% if value.2.submitter.userprofile.score < 0 %}
				    	<span style="color:red;">({{ value.2.submitter.userprofile.score }})</span>
				    {% else %}
				    	<span style="color:#18A018;">({{ value.2.submitter.userprofile.score }})</span>
					{% endif %}
			    {% else %}
			    {% endif %}
			{% else %}
			{% endif %}
	{% endif %}
	{% for girl in verify %}
    {% if girl == value.2.submitter.username %}
    	
    	<span style="font-size:200%;color:deeppink;"><b>*</b></span>
    {% endif %}{% endfor %}
	: {% emoticons %}{{ value.2.description }}{% endemoticons %}
	<a href="{% url 'reply' pk=value.2.pk %}#section0" style="color:red;font-size:75%;">, naya jawab aya {{ value.1|naturaltime }}</a> 
	<a name="section{{ forloop.counter }}"></a>
	<p style="margin-top:.5em;"></p>
	{% if value.2.publicreply_set.count %}
	{% if value.2.publicreply_set.count < 26 %}
		<a href="{% url 'reply' pk=value.2.pk %}#section0" style="color:#1947D1;background-color:white; font-family:arial;border:solid;border-width:1px;border-radius:4px; padding-left:4px;padding-right:2px;padding-bottom:2px;border-color:orange;white-space:nowrap;">{{ value.2.publicreply_set.count }} jawab</a>
		{% else %}
		<a href="{% url 'reply' pk=value.2.pk %}#section0" style="color:#1947D1;background-color:white; font-family:arial;border:solid;border-width:1px;border-radius:4px; padding-left:4px;padding-right:2px;padding-bottom:2px;border-color:orange;white-space:nowrap;">25+ jawab</a>
		{% endif %}
	{% else %}
	<a href="{% url 'reply' pk=value.2.pk %}#section0" style="color:#1947D1;background-color:white; font-family:arial;border:solid;border-width:1px;border-radius:4px; padding-left:4px;padding-right:2px;padding-bottom:2px;border-color:orange;white-space:nowrap;">isko jawab do</a>
	{% endif %}
	<br>
{% endif %}

<p style="color:gray"><hr size=1></p>
{% endfor %}

</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0" style="font-family:arial;"><b style="color:red;text-shadow:0 0 0px red;"><</b><bdi>wapis</bdi></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0" style="font-family:arial;"><bdi>aagey</bdi><b style="color:green;text-shadow:0 0 0px green;">></b></a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
