{% extends "base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load thumbnail %}
{% load get_votes %}
{% load emoticons_tags %}
{% block content %}
{{ block.super }}

<div class="clb" style="margin-left:-1.3em;line-height:1.8;">
{% if is_paginated %}
<ul start="{{ page_obj.start_index }}">
{% else %}
<ul>
{% endif %}

<b>Home ki chat history:</b><br>

{% for link in object_list %}
	{% if link.image_file %}
    	<img src="{{ link.image_file.url }}"></img><br>
	{% endif %}
	<a href="{% url 'profile' slug=link.submitter %}#section0">
    {% if link.submitter.userprofile.avatar %}
		
		<img src="{{ link.submitter.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
		
	{% else %}
		
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
		
	{% endif %}
	<bdi>{{ link.submitter }}</bdi></a>
	{% if user.is_authenticated and user.userprofile.score > 25 %}
		{% if link.submitter.userprofile.score < 0 %}
	    	<span class="cg cs">(1)</span>
	    {% else %}
	    	<span class="cg cs">({{ link.submitter.userprofile.score }})</span>
		{% endif %}
	{% endif %}
	{% if link.submitter.username in verified %}
    	<span class="pinkstar"><b>*</b></span>
    {% endif %}
	: <bdi class="clb">{% emoticons %}{{ link.description }}{% endemoticons %}</bdi><span class="cgy cs">, {{ link.submitted_on|naturaltime }}
		{% if link.device == '1' %}
		<a href="{% url 'device_help' 1 %}">&nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic"></img></a>
		{% elif link.device == '2' %}
		<a href="{% url 'device_help' 2 %}">&nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic"></img></a>
		{% elif link.device == '4' %}
		<a href="{% url 'device_help' 4 %}">&nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic"></img></a>
		{% elif link.device == '5' %}
		<a href="{% url 'device_help' 5 %}">&nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic"></img></a>
		{% elif link.device == '3' %}
		<a href="{% url 'device_help' 3 %}">&nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic"></img></a>
		{% else %}
		{% endif %}
	</span><a name="section{{ forloop.counter }}"></a><br>

		{% if link.reply_count > 0 %}
		<a href="{% url 'reply_pk' pk=link.pk %}#section0"> <button class="btn nw bl bct mts mbs"><b>{{ link.reply_count }}</b> jawab</button></a>
		{% else %}
		<a href="{% url 'reply_pk' pk=link.pk %}#section0"> <button class="btn nw bxl bct mts mbs">isko jawab do</button></a>
		{% endif %}

	{% if can_vote %}
	<br>
		{% for key,value in link.id|get_votes %}
				<a href="{% url 'vote_or_prof' link.id link.submitter_id key %}#section0" style="font-size:80%;font-weight:bold;">{{ key }}</a>{% if key in checked %}<span class="pinkstar">*</span>{% endif %}
				{% if value == 1 %}
					<span style="font-size:80%;color:green;">ne barri si <b>jhappi</b> di</span>
				{% elif value == -1 %}
					<span style="font-size:80%;color:#FF1A1A;">ne bhare bazar me <b>chupair</b> mari</span>
				{% elif value == 2 %}
					<span style="font-size:80%;color:green;">ne zordar <b>jhappi</b> di <b>(+50)</b></span> 
				{% elif value == -2 %}
					<span style="font-size:80%;color:#FF1A1A;">ne <b>chupair</b> mr mr kr nani yad kara di <b>(-50)</b></span>
				{% elif value == 4 %}
					<span style="font-size:80%;color:green;"> ne shot pe <b>taliyan</b> bajaien</span>
				{% elif value == -4 %}
					<span style="font-size:80%;color:#FF1A1A;"> ne ghuma ke <b>balla</b> mara</span>
				{% elif value == 5 %}
					<span style="font-size:80%;color:green;"> ne iske <b>six</b> pe chalangein lagaien <b>(+50)</b></span>
				{% elif value == -5 %}
					<span style="font-size:80%;color:#FF1A1A;"> ne isko <b>andey</b> pe out kr diya <b>(-50)</b></span>
				{% endif %}<br>
		{% endfor %}
	{% endif %}
	<hr size=1 color="#229ec3" >
	{% empty %}
	<span class="cgy">Is chat history mein kuch nahi...</span>
	<hr size=1 color="#229ec3" >
{% endfor %}
</ul>
</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div style="text-align: center;">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0"><button class="btn bm bcr mbl"><bdi>wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0"><button class="btn bm bcg"><bdi>aagey</bdi></button></a>
    {% endif %}
</div>
{% endif %}<br><br>
{% endblock %}
