{% extends noindex|yesno:"base_noindex.html,base.html" %}
{% load s3 %}
{% load humanize %}
{% load emoticons_tags %}
{% load get_photo_object %}
{% load get_display_ban_msg %}
{% load get_big_send_button %}
{% load get_big_points_button %}
{% load get_user_profile_navbar %}
{% load get_transparent_buttons_js %}
{% load get_big_photo_comment_button %}
{% load get_big_external_share_button %}
{% block content %}
<head><title>{{ slug }}'s photos and memes | Damadam.pk</title></head>

<style>body{background: #E9EBEE}</style>

<div class="clb" style="margin: 0 auto;max-width:600px;width:98%">

{% user_profile_navbar static_url=STATIC_URL section='fotos' uname=slug is_own_profile=own_profile %}

  <div class="mbl" style="text-align:center">  
  {% if own_profile %}
    <h1 class="cxl lsp" style="display:inline">Your shared fotos:</h1>
  {% else %}
    {% load get_group_button %}
    {% group_button user_id star_id slug 'profile' '4' slug %}&nbsp;<h1 class="cxl lsp" style="display:inline">{% if slug in legit %}<img src="{{ STATIC_URL }}img/pstar.svg" alt="*" height="16" width="16">&nbsp;{% endif %}{{ slug|truncatechars:"10" }}'s shared fotos:</h1>
  {% endif %}
  </div>

{% if page_obj.number == 1 %}
<div class="bizcard mbl" style="background-color:white;padding:10px 7px">
    <div class="bizcard mbl" style="background-color:ivory;text-align:center">
    <div style="padding:10px 5px"> 
      
      <div class="cl lsp sp">Joined {{ subject.date_joined|naturaltime }}</div>  
      
      {% if not mobile_verified %}
      <div class="mt">
      <div class="cr sp" style="border-radius:4px;display: inline-block;padding-top:5px;font-weight:bold">- unverified profile -</div></div>
      {% endif %}
    </div>
    </div>

    {% display_ban_msg static_url=STATIC_URL is_banned=is_profile_banned is_defender=defender is_own_profile=own_profile time_remaining=time_remaining uname=slug ban_detail=ban_detail %}
    
    {% if own_profile %} 

      {% if not is_profile_banned %}
      
        <a href="{% url 'edit_profile' %}#section0"><button class="btn nw bcg bxl mbs pg_ok_res" style="height:25px">Edit Profile</button></a>
        <br>
        {% if star_av_url != 'empty' %}
          <img class="pht" src="{{ star_av_url|s3 }}" style="border-radius:12px;overflow:hidden" class="sp cxs" alt="avatar">
        {% endif %}
        <div class="cgy sp cs">
          {% if recent_fans > 1 %}
          <b>{{ recent_fans }} fans</b> pichle 1 day mein
          {% elif recent_fans == 1 %}
          <b>{{ recent_fans }} fan</b> pichle 1 day mein
          {% else %}
          <b>{{ recent_fans }} fans</b> pichle 1 day mein
          {% endif %}
        </div>

     {% endif %}
      
      <hr size=1 COLOR="#E9EBEE">
      <b>Foto score:</b>&nbsp;<span class="cp"><b>{{ subject.userprofile.media_score }}</b></span>
      <hr size=1 COLOR="#E9EBEE">
      <b>Most shared:</b>&nbsp;<a href="{% url 'show_shared_photo_metrics' slug %}"><button type="submit" class="btn nw bcg bm" style="height:22px">fotos</button></a>
      <hr size=1 COLOR="#E9EBEE">
      <b>Password:&nbsp;</b><a href="{% url 'reauth' %}#section0"><button class="btn bcg bm" style="height:22px">change</button></a>
      <hr size=1 COLOR="#E9EBEE">
      <b>Fans:</b>
      <a href="{% url 'fan_list' star_id %}#section0" class="cs">
      <button class="btn bcg" style="height:22px">&nbsp;{{ fans }}&nbsp;</button>
      </a>
      <hr size=1 COLOR="#E9EBEE">
      <b>Stars:</b>
      <a href="{% url 'star_list' %}#section0" class="cs">
      <button class="btn bcg" style="height:22px">&nbsp;{{ stars }}&nbsp;</button>
      </a>
      <hr size=1 COLOR="#E9EBEE">
      <b>Blocked users:</b>
      <a href="{% url 'banned_users_list' %}#section0" class="cs">
      <button class="btn bcg" style="background-color:#AA0003;height:22px">&nbsp;{{ blocked }}&nbsp;</button>
      </a>
                  
                  
    {% else %}

      {% if not is_profile_banned %}
          {% if star_av_url != 'empty' %}
            <img class="pht" src="{{ star_av_url|s3 }}" style="border-radius:12px;overflow:hidden" class="cxs sp" alt="avatar">
          {% endif %}
          <div class="cgy cs sp">
            {% if recent_fans > 1 %}
            <b>{{ recent_fans }} fans</b> pichle 1 day mein<br>
            {% elif recent_fans == 1 %}
            <b>{{ recent_fans }} fan</b> pichle 1 day mein<br>
            {% else %}
            <b>{{ recent_fans }} fans</b> pichle 1 day mein<br>
            {% endif %}
          </div>

      {% endif %}

      <hr size=1 COLOR="#E9EBEE">
      <b>Foto score:</b>&nbsp;<span class="cp"><b>{{ subject.userprofile.media_score }}</b></span>
      {% if manageable and user.username == 'pathan-e-khan' or user.username == 'mhb11' %}&nbsp;<form method="POST" action="{% url 'manage_user' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="m_id" value="{{ user_id }}"><input type="hidden" name="t_id" value="{{ star_id }}"><button type="submit" class="btn bco bm mls" style="height:22px">manage</button></form>{% endif %}
      <hr size=1 COLOR="#E9EBEE">
      <b>Fans:</b>
      <a href="{% url 'fan_list' star_id %}" class="cs"><button class="btn bcg mrl" style="height:22px">&nbsp;{{ fans }}&nbsp;</button></a>
       {% if authenticated and not own_profile and allowed_fan %}
        <form action="{% url 'fan' %}" method="POST" style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="oid" value="0">
        <input type="hidden" name="org" value="4">
          
          {% if not_fan %}

          <button type="submit" name="sid_btn" class="wt" style="height:22px;border:1px solid #ffcd00" value="{{ subject_id }}">
          <div class="fx fxjssb fxaicn">
            <div><img src="{{ STATIC_URL }}img/fan.svg" width="16" height="16" class="mrs" style="vertical-align:text-top"></div>
            <div class="co sp">fan</div>&nbsp;
          </div>
          </button>

          {% else %}

          <button type="submit" name="sid_btn" style="height:22px;border:1px solid #cdcdcd" class="wt" value="{{ subject_id }}">
          <div class="fx fxjssb fxaicn">
            <div><img src="{{ STATIC_URL }}img/unfan.svg" width="16" height="16" class="mrs" style="vertical-align:text-top"></div>
            <div class="sp"><span class="cgy">unfan</span></div>&nbsp;
          </div>
          </button>

          {% endif %}
          
        </form>
        {% endif %}
      <hr size=1 COLOR="#E9EBEE">
      <b>Most shared:</b>&nbsp;<a href="{% url 'show_shared_photo_metrics' slug %}"><button type="submit" class="btn nw bcg bm" style="height:22px">fotos</button></a>
                  
    {% endif %}
</div>
  {% endif %}

  <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="fx fxjscn">
    {% if page_obj.has_previous %}
      <div style="padding:0 10px">
      <a href="?page={{ page_obj.previous_page_number }}#sectionJ"><button itemprop="url" class="pg_ok_res" style="background:0 0;border:none;padding:0"><img src="{{ STATIC_URL }}img/back_page.svg" width="40" height="40"></button></a>
      </div>
      {% endif %}
      {% if page_obj.has_next %}
      <div style="padding:0 10px">
      <a href="?page={{ page_obj.next_page_number }}#sectionJ"><button class="pg_ok_res" style="background:0 0;border:none;padding:0" itemprop="url"><img src="{{ STATIC_URL }}img/forward_page.svg" width="40" height="40"></button></a>
      </div>
      {% endif %}
  </div>

<div class="mtl">
<a name="sectionJ"></a>
{% for photo in object_list %}
  <div class="bizcard mbl" style="background-color:white;padding:5px 3px 3px 3px">
      <a name="section{{ forloop.counter }}"></a>

      <div itemscope itemtype="http://schema.org/CreativeWork">
        {% photo_object pid=photo.id ooid=star_id img_url=photo.image_file.url img_thumb=photo.image_file|s3:'thumb' caption=photo.caption|emoticons raw_caption=photo.caption vsc=photo.vote_score origin=4 upload_time=photo.upload_time|naturaltime oun=slug static_url=STATIC_URL block_time_remaining=time_remaining show_uname_credentials=False %}

        <div class="mls">
          <div style="flex-wrap:wrap" class="fx fxjsfs fxaicn cxs sp cgy">
          {% big_send_button photo_owner_username=slug photo_id=photo.id photo_owner_id=star_id photo_caption=photo.caption origin='4' img_url=photo.image_file static_url=STATIC_URL %}
          {% big_external_share_button owner_username=slug is_mobile=is_mob photo_id=photo.id origin='4' static_url=STATIC_URL owner_id=star_id sharer_id=user_id js_class='wa-sharing' sharing_type='wa' %}
          {% big_photo_comment_button photo_id=photo.id origin='4' comm_count=photo.comment_count static_url=STATIC_URL star_id=star_id %}
          {% big_points_button obj_id=photo.id owner_id=star_id is_pht=1 origin='4' net_votes=photo.vote_score base_color='rgb(24, 180, 136)' static_url=STATIC_URL %}
          </div>
        </div>

      </div>
  </div>                  
{% empty %}
  <div class="bizcard mbl" style="background-color:white;padding:10px;text-align:center">
  {% if own_profile %}
    <div class="cxl lsp">Ap ne Damadam pe koi foto share nahi ki</div>
    <hr size=1 COLOR="#E9EBEE">
    <div class="mbs">
      <div class="cgy mbl sp">Share karney ke liye neechay 'share' dabain:</div>
      <a href="{% url 'upload_public_photo' %}#section0"><button class="btn bco sp pg_ok_res bl" style="height:26px">Share</button></a>
    </div>
  {% else %}
    <div class="cxl lsp"><b>{{ slug }}</b> ne Damadam pe koi foto nahi share ki</div>
    <hr size=1 COLOR="#E9EBEE">
    <div class="mbs">
    <div class="cgy mbl sp">Dusrey users ki fotos view karein:</div>
    <a href="{% url 'best_photo' %}#section0"><button class="btn bco bl sp pg_ok_res" style="height:26px">Fotos</button></a>
    </div>
  {% endif %}
  </div><br>
{% endfor %}
</div>

</div>

  <div itemscope itemtype="http://schema.org/SiteNavigationElement" class="fx fxjscn">
    {% if page_obj.has_previous %}
      <div style="padding:0 10px">
      <a href="?page={{ page_obj.previous_page_number }}#sectionJ"><button itemprop="url" class="pg_ok_res" style="background:0 0;border:none;padding:0"><img src="{{ STATIC_URL }}img/back_page.svg" width="40" height="40"></button></a>
      </div>
      {% endif %}
      {% if page_obj.has_next %}
      <div class="mbs" style="padding:0 10px">
      <a href="?page={{ page_obj.next_page_number }}#sectionJ"><button class="pg_ok_res" style="background:0 0;border:none;padding:0" itemprop="url"><img src="{{ STATIC_URL }}img/forward_page.svg" width="40" height="40"></button></a>
      </div>
    {% endif %}
  </div>

{% transparent_buttons_js ident=user_id static_url=STATIC_URL %}
{% endblock %}


