{% extends "base.html" %}
{% load humanize %}
{% load mathfilters %}
{% load emoticons_tags %}
{% block content %}
{{ block.super }}

<div style="margin-left:-1.3em;font-family:arial;line-height:1.8;">
{% if is_paginated %}
<ul start="{{ page_obj.start_index }}">
{% else %}
<ul>
{% endif %}
{% if not object_list %}
<i>Forun <a href="{% url 'link_create' %}#section0">kuch likho</a>, intezar kiss cheez ka hai?!</i>
{% else %}
<b>Is ki home wali chat ki history:</b><br>
<span style="color:grey;font-size:80%;"><i><b>mehfil</b> ki history nazar nahi aati</i></span><br>
{% for link in object_list %}
	{% if link.image_file %}
    	<img src="{{ link.image_file.url }}"></img><br>
	{% endif %}
    {% if link.submitter.userprofile.avatar %}
		<a href="{% url 'profile' slug=link.submitter %}#section0">
		<img src="{{ link.submitter.userprofile.avatar.url }}" alt="no pic" height="22" width="22"></img>
		</a>
	{% else %}
		<a href="{% url 'profile' slug=link.submitter %}#section0">
		<img src="{{ STATIC_URL }}img/default-avatar.jpg" alt="no pic" height="22" width="22"></img>
		</a>
	{% endif %}
	<a href="{% url 'profile' slug=link.submitter %}#section0"><bdi>{{ link.submitter }}</bdi></a>
	{% if user.is_authenticated and user.userprofile.score > 25 %}
		{% if link.submitter.userprofile.score < 0 %}
	    	<span style="color:red;">({{ link.submitter.userprofile.score }})</span>
	    {% else %}
	    	<span style="color:#18A018;">({{ link.submitter.userprofile.score }})</span>
		{% endif %}
	{% endif %}
	{% for girl in verified %}
    {% if girl == link.submitter.username %}
    	<span style="font-size:200%;color:deeppink;"><b>*</b></span>
    {% endif %}{% endfor %}
	: <bdi>{% emoticons %}{{ link.description }}{% endemoticons %}</bdi><span style="color:gray;font-size:80%;">, {{ link.submitted_on|naturaltime }}</span><a name="section{{ forloop.counter }}"></a><br>
	{% if link.publicreply_set.count %}
	{% if link.publicreply_set.count < 26 %}
		<a href="{% url 'reply' pk=link.pk %}" style="color:#1947D1;background-color:white; font-family:arial;border:solid;border-width:1px;border-radius:4px; padding-left:4px;padding-right:2px;padding-bottom:2px;border-color:orange;white-space:nowrap;">{{ link.publicreply_set.count }} jawab</a>
		{% else %}
		<a href="{% url 'reply' pk=link.pk %}" style="color:#1947D1;background-color:white; font-family:arial;border:solid;border-width:1px;border-radius:4px; padding-left:4px;padding-right:2px;padding-bottom:2px;border-color:orange;white-space:nowrap;">25+ jawab</a>
		{% endif %}
	{% else %}
	<a href="{% url 'reply' pk=link.pk %}" style="color:#1947D1;background-color:white; font-family:arial;border:solid;border-width:1px;border-radius:4px; padding-left:4px;padding-right:2px;padding-bottom:2px;border-color:orange;white-space:nowrap;">isko jawab do</a>
	{% endif %}
	{% if can_vote %}
	<br>
	{% for vote in vote_cluster reversed %}
		{% if link.id == vote.link.id %}
			{% if vote.value == -1 %}
			{% if vote.voter.username in verified %}
				<span style="color:red;font-size:80%;"><b><a href="{% url 'user_activity' slug=vote.voter.username %}#section0">{{ vote.voter.username }}</a><span style="color:deeppink;">*</span></b> ne <b>{{ link.submitter.username }}</b> ko nani yad kara di (-300)!<br></span>
			{% else %}
				<span style="color:red;font-size:80%;"><b><a href="{% url 'user_activity' slug=vote.voter.username %}#section0">{{ vote.voter.username }}</a></b> ne <b>{{ link.submitter.username }}</b> ko chupair mari<br></span>
			{% endif %}
		{% endif %}
		{% if vote.value == 1 %}
			{% if vote.voter.username in verified %}
				<span style="color:green;font-size:80%;"><b><a href="{% url 'user_activity' slug=vote.voter.username %}#section0">{{ vote.voter.username }}</a><span style="color:deeppink;">*</span></b> ne <b>{{ link.submitter.username }}</b> ko buhuuut barri jhappee mari (+50)!<br></span>
			{% else %}
				<span style="color:green;font-size:80%;"><b><a href="{% url 'user_activity' slug=vote.voter.username %}#section0">{{ vote.voter.username }}</a></b> ne <b>{{ link.submitter.username }}</b> ko jhappi mari<br></span>
			{% endif %}
		{% endif %}
		{% endif %}
	{% endfor %}
	{% endif %}
<hr size=1>
{% endfor %}
{% endif %}
</ul>
</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0" style="font-family:arial;"><b  style="color:red;text-shadow:0 0 0.1px red;"><</b><bdi>wapis</bdi></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0" style="font-family:arial;"><bdi>aagey</bdi><b style="color:green;text-shadow:0 0 0.1px green;">></b></a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
