{% extends "base.html" %}
{% block content %}
<head><title>Verified female user help | Damadam.pk</title></head>
{% load cache %}
{% cache 3600 verify_help_fragment %}

<div class="margin">
<h2><u>Ladies ki izzat farz hai!</u></h2>
<b>Verify kya hai?</b><br>
<span style="font-size:80%;color:grey;">1)</span> 'Verify' karwaney ka matlab hai tasdiq karna ke account asli female ka hai ya nahi.<br>
<span style="font-size:80%;color:grey;">2)</span> Verify ladies ki chupair se <span style="color:red;"><b>-20</b></span> score cut ho ga, jhappee se <span style="color:green;"><b>+20</b></span> miley ga!<br>
<span style="font-size:80%;color:grey;">3)</span> Jo profile verified ho jaye gi, uskey nick ke aagey pink star (yani ke <span style="font-size:120%;color:deeppink;"><b>*</b></span>) nazar aa jaye ga.<br>
<span style="font-size:80%;color:grey;">4)</span> Ye paishkush males, yaani ke mardoon ke liye <span style="color:red;"><b>nahi hai</b></span>.<br><br>
<b>Verify kaisey kartey hain?</b><br>
<span style="font-size:80%;color:grey;">1)</span> Apko Damadam ki female operator se wapis call aye gi. Call zaroor uthain.<br>
<span style="font-size:80%;color:grey;">2)</span> Call pe bat ho janey ke baad account verify ho jaye ga.<br>
<b>Forun account verify karwao!</b>
</div>

{% endcache %}
{% endblock %}