{% extends "base.html" %}
{% block content %}
{% load cache %}
{% cache 3600 verify_help_fragment %}

<div class="margin">
<h2><u>Ladies ki izzat farz hai!</u></h2>
<b>Verify keya hai?</b><br>
<span style="font-size:80%;color:grey;">1)</span> 'Verify' karwaney ka matlab hai check karwana ke account asli female ka hai ya nahi.<br>
<span style="font-size:80%;color:grey;">2)</span> Verify ladies ko <b>logout</b> miley ga, unki chupair se <span style="color:red;"><b>-300</b></span> score kattey ga, jhappee se <span style="color:green;"><b>+50</b></span> miley ga!<br>
<span style="font-size:80%;color:grey;">3)</span> Jo profile verified ho jaye gi, uskey nick ke aagey pink star (yani ke <span style="font-size:120%;color:deeppink;"><b>*</b></span>) nazar aa jaye ga.<br>
<span style="font-size:80%;color:grey;">4)</span> Ye paishkush males, yaani ke mardoon ke liye <span style="color:red;"><b>nahi hai</b></span>.<br><br>
<b>Verify kaisey kartey hain?</b><br>
<span style="font-size:80%;color:grey;">1)</span> Agar aap female hain toh 'asli' likh kar 0333-5553136 pe SMS karien.<br>
<span style="font-size:80%;color:grey;">2)</span> Aap ko Damadam ki aik female operator se wapis call aye gi. Call zaroor uthaien.<br>
<span style="font-size:80%;color:grey;">3)</span> Chand sawalaat ke jawab ke baad aap ka account verify kar diya jaye ga.<br>
<span style="font-size:80%;color:grey;">4)</span> Iskey baad admins paband hone ge ke agar aap ko koi tung karey, tou usay forun ban kar diya jaye!<br><br>
<b>Forun account verify karwain!</b>
</div>

{% endcache %}
{% endblock %}