{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="margin clb">
Tum jhappi ya chupair mar sako ge: <b class="cg">{{ time_remaining|naturaltime }}</b><br>
<a href="{% url 'home_loc' %}"><button class="btn bcg bm mtl mbl">wapis</button></a>
<hr size=1>
<span class="cgy cs">
<b>Damadam rules:</b><br>
1) Kisi aur ko apna password na do<br>
2) Password 7 days mein ek bar zarur tabdeel kro<br>
3) Jo baat achi ho, sirf us par jhappi do<br>
4) Gali denay ya fahashi phelani waley ko chupair maro<br>
5) Ladies se badtameezi nahi karo<br>
6) Jhappi ya fans ke liye bheek nahi mango<br>
</span>
</div>
<br><br>
{% endblock %}