{% extends "base.html" %}
{% block content %}
<head><title>Content policy | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>
<h1 style="text-align:center" class="clb cxl lsp">Damadam rules:</h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;">
<div class="cxl lsp" style="text-align:center">Aik high quality community build karney mein hamara sath dein</div>
<hr size=1 COLOR="#e5e7e9">
<div class="cl sp mts clb lsp" style="text-align:center;font-weight:bold">In cheezoon ki permission nahi:</div>
<div style="text-align:left" class="cm sp clb lsp">
{% include "prohibited_actions.html" %}
</div>
<hr size=1 COLOR="#E9EBEE">
<div class="mts" style="text-align:center">
<span class="cgy cs lsp sp">Sangeen khilaf warziyan karney waloon pe Electronic Crimes Bill (PECB) 2015 laagu ho sakta hai (<a href="https://propakistani.pk/2016/08/05/must-read-list-of-cyber-crimes-and-their-punishments-in-pakistan/" rel="nofollow" class="cb" target="_blank" style="border-bottom:1px dotted blue">details</a>)</span><br>
</div>

</div>
<br><br>
{% endblock %}