{% extends "base.html" %}
{% block content %}
<div class="margin">
<h2 class="cg">Damadam Rules:</h2>

<span class="cs cgy">1)</span> Kharab ya vulgur chat aur nicknames na rakhein<br>
<div class="mt">
<span class="cs cgy">2)</span> Kharab ya vulgur photos na lagain<br>
</div>
<div class="mt">
<span class="cs cgy">2)</span> Mazhab ke naam par kisi aur ko burra bhala na kahien<br>
</div>
<div class="mt">
<span class="cs cgy">3)</span> Terrorists (dehshat gard), murderers (qatil) aur criminals (mujrim) ki side na lein<br>
</div>
<div class="mt">
<span class="cs cgy">4)</span> Kisi ko bhi dhamkiyan na dein aur sab ki izzat karien<br>
</div>
<div class="mt">
<span class="cs cgy">5)</span> Hacking aur fake profiles se dur rehain<br>
</div>
<div class="mtl">
<span class="cgy">Rules break karney waloon ke mobile numbers <b class="cr">Cyber Crime Bill 2016</b> ke tehet FIA ko diye ja saktey hain</span><br>
<hr size=1 COLOR="#b3e6b3">
<div class="cs mtl clb">
<b>Paigham:</b> hamara maqsad Damadam ko clean rakhna hai. Lekin ye apki help ke beghair nahi hoga. International apps pe users well-behaved retey hain, lekin apne mulk ki cheez ko bedardi se use kartey hain. Haan ghalti sirf users ki nahi. Beshak Damadam ko bhi quality improvement ki zarurat hai. Hum Damadam ko international standards tak le jana chahtey hain. Kiya aap hamara sath dein ge? Humey improve honay ka mauqa dein. Hum apki expectations pe poora utrein ge. Thank you for your support!
</div>
</div>
</div>
<br><br>
{% endblock %}