{% extends "base_min.html" %}
{% block content %}
<div class="margin clb mtl">
<form action="{% url 'website_choices_feedback' %}" method="POST">
{% csrf_token %}
<input type="hidden" name="answered" value="1">
<input type="hidden" name="question1" value="{{ question1 }}">
<input type="hidden" name="question2" value="{{ question2 }}">
<input type="hidden" name="question3" value="{{ question3 }}">
<input type="hidden" name="question4" value="{{ question4 }}">
<input type="hidden" name="question5" value="{{ question5 }}">
<input type="hidden" name="question6" value="{{ question6 }}">
<div class="mtl mbl">
<b class="cl cg">{{ question1 }}</b><br>
{% if form.feedback1.errors %}
<br><b class="cr cs">{{ form.feedback1.errors.0 }}</b><br>
{% endif %}
{{ form.feedback1 }}
</div>
<hr size=1 COLOR="#ffbf00">
<div class="mtl mbl">
<b class="cl cg">{{ question2 }}</b><br>
{% if form.feedback2.errors %}
<br><b class="cr cs">{{ form.feedback2.errors.0 }}</b><br>
{% endif %}
{{ form.feedback2 }}
</div>
<hr size=1 COLOR="#ffbf00">
<div class="mtl mbl">
<b class="cl cg">{{ question6 }}</b><br>
{% if form.feedback6.errors %}
<br><b class="cr cs">{{ form.feedback6.errors.0 }}</b><br>
{% endif %}
{{ form.feedback6 }}
</div>
<hr size=1 COLOR="#ffbf00">
<div class="mtl mbl">
<b class="cl cg">{{ question3 }}</b><br>
{% if form.feedback3.errors %}
<br><b class="cr cs">{{ form.feedback3.errors.0 }}</b><br>
{% endif %}
{{ form.feedback3 }}
</div>
<hr size=1 COLOR="#ffbf00">
<div class="mtl mbl">
<b class="cl cg">{{ question4 }}</b><br>
{% if form.feedback4.errors %}
<br><b class="cr cs">{{ form.feedback4.errors.0 }}</b><br>
{% endif %}
{{ form.feedback4 }}
</div>
<hr size=1 COLOR="#ffbf00">
<div class="mtl mbl">
<b class="cl cg">{{ question5 }}</b><br>
{% if form.feedback5.errors %}
<br><b class="cr cs">{{ form.feedback5.errors.0 }}</b><br>
{% endif %}
{{ form.feedback5 }}
</div>
<hr size=1 COLOR="#ffbf00">
<input class="mls mts mbs bm" style="background:#00c853;color:white;font-weight:bold;" type="submit" value="OK">
</form>
</div>
<br><br>
{% endblock %}