{% extends "base.html" %}
{% block content %}
<style>body{background: #E9EBEE}</style>
<head><title>Send welcome message {% if authorized %}to {{ target_user.username }}{% endif %} | Damadam</title></head>

<h1 class="cxl clb lsp" style="text-align:center">Welcome karein!</h1>

<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:450px;width:92%;margin:0 auto;overflow: hidden;text-align:center">
{% if authorized %}
	<div class="cxl lsp">{{ target_user.username }} ko sath mein pegham bhi dein:</div>
	
	<form action="{% url 'welcome_reply' %}" method="POST">
	{% csrf_token %}
	<br>
		<input type="hidden" name="opt" value="{{ option }}">
		{% if option == '1' %}
		<ul style="display:inline-block;padding: 0;list-style:none">
			<li style="text-align:left" class="mbl"><input class="cb cl" name="msg" style="text-align:left;background-color:white;border:none" type="submit" value="Barfi khao aur mazay urao!"></li><hr size=1 COLOR="#E9EBEE">
			<li style="text-align:left" class="mbl"><input class="cb cl" name="msg" style="text-align:left;background-color:white;border:none" type="submit" value="Yeh zalim barfi try kar yar!"></li><hr size=1 COLOR="#E9EBEE">
			<li style="text-align:left"><input class="cb cl" name="msg" style="text-align:left;background-color:white;border:none" type="submit" value="Is barfi se mu meetha karo!"></li>
		</ul>
		{% elif option == '2' %}
		<ul style="display:inline-block;padding: 0;list-style:none">
			<li style="text-align:left" class="mbl"><input class="cb cl" name="msg" style="text-align:left;background-color:white;border:none" type="submit" value="Aik plate laddu se life set!"></li><hr size=1 COLOR="#E9EBEE">
			<li style="text-align:left" class="mbl"><input class="cb cl" name="msg" style="text-align:left;background-color:white;border:none" type="submit" value="Ye saray laddu aap ke liye!"></li><hr size=1 COLOR="#E9EBEE">
			<li style="text-align:left"><input class="cb cl" name="msg" style="text-align:left;background-color:white;border:none" type="submit" value="Laddu khao, jaan banao yar!"></li>
		</ul>
		{% else %}
		<ul style="display:inline-block;padding: 0;list-style:none">
			<li style="text-align:left" class="mbl"><input class="cb cl" name="msg" style="text-align:left;background-color:white;border:none" type="submit" value="Jalebi khao aur ayashi karo!"></li><hr size=1 COLOR="#E9EBEE">
			<li style="text-align:left" class="mbl"><input class="cb cl" name="msg" style="text-align:left;background-color:white;border:none" type="submit" value="Jalebi meri pasandida hai!"></li><hr size=1 COLOR="#E9EBEE">
			<li style="text-align:left"><input class="cb cl" name="msg" style="text-align:left;background-color:white;border:none" type="submit" value="Is jalebi se mu metha karo!"></li>
		</ul>
		{% endif %}
	</form>

{% else %}
	<div class="cxl lsp">Please press 'For Me':</div>
	<a href="{% url 'for_me' %}#section0"><button class="btn bct bl mtl mbl pg_ok_res sp" style="height:26px">For Me</button></a>

{% endif %}
</div>

<br><br>
{% endblock %}