{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<div class="margin">
<b style="font-size:120%;">{{ target_user.username }} ko konsi mithai bhejni hai?</b><br>
<span style="color:grey;font-size:90%;">is se tumhara score <b style="color:green;">+1</b> ho ga</span><br><br>
<a href="{% url 'welcome_message' pk=target_user.pk option=1 %}"><b>. barfi</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/barfi.png" alt="no pic" height="45" width="46"><br>
<a href="{% url 'welcome_message' pk=target_user.pk option=2 %}"><b>. laddu</b></a>&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/laddu.png" alt="no pic" height="24" width="46"><br>
<a href="{% url 'welcome_message' pk=target_user.pk option=3 %}"><b>. jalebi</b></a>&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/jalebi.png" alt="no pic" height="28" width="46">
</div>
{% endblock %}