{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<div class="margin clb">
{% if authenticated %}
<b class="cl">{{ target_user.username }} ko konsi mithai bhejni hai?</b><br>
<span class="cgy cs">is se tumhara score <b style="color:green;">+1</b> ho ga</span><br><br>
<a href="{% url 'welcome_message' option=1 %}" class="cb"><b>barfi</b></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/barfi.png" alt="no pic" height="45" width="46"><hr size=1 COLOR="#cccccc">
<a href="{% url 'welcome_message' option=2 %}" class="cb"><b>laddu</b></a>&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/laddu.png" alt="no pic" height="24" width="46"><hr size=1 COLOR="#cccccc">
<a href="{% url 'welcome_message' option=3 %}" class="cb"><b>jalebi</b></a>&nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}img/jalebi.png" alt="no pic" height="28" width="46">
{% else %}
<b class="cl">Ye nahi ho sakta{% emoticons %} .e1.e2.e3.e4{% endemoticons %}</b>
{% endif %}
</div>
<br>
<br>
{% endblock %}