{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<div class="margin clb">
Ye photo <img src="{{ photo_url|thumbnail }}" style="border:1px solid #ff9933;width:auto;"> {{ fan_num }} fans ke <b>matke</b> mein pohonch saki:
<br><br>
{% for fan in fan_list %}
	{% if fan.userprofile.avatar %}	
	<img src="{{ fan.userprofile.avatar.url|thumbnail }}" width="22" height="22" alt="no pic">
	{% else %}
	<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" width="22" height="22" alt="no pic">
	{% endif %}
	<a href="{% url 'profile' fan.username %}">{{ fan.username }}</a><span class="cg cs">&nbsp;({{ fan.userprofile.score }})</span><br>
{% endfor %}
<br>
<a href="{% url 'unseen_activity' nickname %}"><button class="btn bco bm mtl mbs">wapis</button></a>
</div><br><br>
{% endblock %}