{% extends "base.html" %}
{% block content %}
{% load request_tag %}
<div class="margin">

<span style="font-size:85%;">Pichley <b>5 min</b> mien ye logg damamdam par nazar aye:</span><br><br>
{% active_users in 5 minutes as user_list %}
{% for active_user in user_list %}
<span style="font-size:80%;color:grey;">{{ forloop.counter }}.</span>
	{% if active_user.username == 'unregistered_bhoot' %}
    	<span style="font-color:grey;">{{ active_user.username }}</span><br>
	{% else %}
		{% if active_user.userprofile.avatar %}
            <a href="{% url 'profile' slug=active_user.username %}#section0">
            <img src="{{ active_user.userprofile.avatar.url }}" alt="no pic" height="20" width="20"></img>
            </a>
        {% else %}
            <a href="{% url 'profile' slug=active_user.username %}#section0">
            <img src="{{ STATIC_URL }}img/default-avatar.jpg" alt="no pic" height="20" width="20"></img>
            </a>
        {% endif %}
    <a href="{% url 'user_activity' slug=active_user.username %}#section0">{{ active_user.username }}</a>
    {% for person in legit %}
    {% if person == active_user.username %}
        <img src="{{ STATIC_URL }}img/female.png" alt="*" height="18" width="18"></img>
    {% endif %}{% endfor %}
    <br>
	{% endif %}
{% endfor %}

</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0" style="font-family:arial;"><b  style="color:red;text-shadow:0 0 0.1px red;"><</b><bdi>wapis</bdi></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0" style="font-family:arial;"><bdi>aagey</bdi><b style="color:green;text-shadow:0 0 0.1px green;">></b></a>
    {% endif %}
</div>
{% endif %}
{% endblock %}