{% extends "base_signup.html" %}
{% block content %}
<head><title>Down for maintenance | Damadam.pk</title></head>
<div style="margin-top: 5%;">

<div class="signup mbs">
<div style="background-color:#00c853;overflow: auto; border-radius:6px;padding:10px 5px 10px 5px;">

<div class="mts mbs">
<span style="color:#ffeb3b;text-shadow:1px 1px #009940;" class="cxl"><b>Damadam ki murammat ki ja rahi hai!</b><hr size=1 COLOR="white">5 mins mein wapis ana</span>
</div>

</div>
</div><br>

</div>
{% endblock %}
