{% extends "base/base.html" %}
{% block content %}
<head><title>Test | Damadam</title></head>
<div class="mts mbl" style="background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(216,241,230,0.46) 0.1%, rgba(233,226,226,0.28) 90.1% );

height:700px;width:600px;margin-left:auto;margin-right:auto;text-align:center"> 
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        
        <div style="margin-left:0px" class="fx fxjscn fxaicn">
        <img src="{{ STATIC_URL }}img/darren.png" width="574">
        <div style="text-align:right;padding-right:10px" class="clb cs sp lsp"><b>DAMADAM.PK</b></div>
        </div>
        <!-- <img src="{{ STATIC_URL }}img/darren.png" width="287" height="328"> -->
</div>
<br>
{% endblock %}