{% extends "base.html" %}
{% block content %}

<div class="margin">
{% if form.errors %}
<span class="cr">Nickname ya password mein ghalti hai. Phir koshish kro...</span>
{% endif %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="/">
 	
    <p>Nickname:
      {{ form.username }}</p>
  
    <p>Password:
      {{ form.password }}</p>
   
  
  <button class="btn bcg bm mts mbs" type="submit">OK</button><br>
  
</form>
</div>
<br><br>
{% endblock %}
