{% if doc == '1' %}
	<!-- img -->

	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ url_img }}" alt="{{ url }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="sp cxs mts" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<img src="{{ url_img }}" width="70" alt="Image" class="mrl cxs bw" style="border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f9e1bb;overflow: hidden;text-align:left">
				<div style="text-align:left;color:#808080" class="bw mt cs">{{ url }}</div>
			</a>
		</div>
	</div>
	{% endif %}

{% elif doc == '2' %}
	<!-- title -->

	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ static_url }}img/tv.svg" alt="{{ url_title }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="clb mt lsp" style="text-align:left">{{ url_title|truncatechars:'50' }}</div>
			<hr size=1 COLOR="#e5e1e1">
			<div class="sp cxs" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<div class="sp cxs bw" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
				<hr size=1 COLOR="#e5e1e1">
				<div class="mrl cxs bw" style="width:70px;height:70px;border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f2f2f2;overflow: hidden;text-align:center"><img src="{{ static_url }}img/tap.svg" alt="Image" width="38" height="65" alt="press" style="margin-top:2px"></div>
				<div style="text-align:left" class="clb lsp bw mt">{{ url_title|truncatechars:'240' }}</div>
			</a>
		</div>
	</div>
	{% endif %}

{% elif doc == '3' %}
	<!-- desc -->

	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ static_url }}img/tv.svg" alt="{{ url_desc }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="mt lsp" style="color:#808080;text-align:left">{{ url_desc|truncatechars:'125' }}</div>
			<hr size=1 COLOR="#e5e1e1">
			<div class="sp cxs" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<div class="sp cxs bw" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
				<hr size=1 COLOR="#e5e1e1">
				<div class="mrl cxs bw" style="width:70px;height:70px;border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f2f2f2;overflow: hidden;text-align:center"><img src="{{ static_url }}img/tap.svg" width="38" height="65" alt="Image" style="margin-top:2px"></div>
				<div style="text-align:left" class="clb lsp bw mt">{{ url_desc|truncatechars:'240' }}</div>
			</a>
		</div>
	</div>
	{% endif %}

{% elif doc == '4' %}
	<!-- img height -->

	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ url_img }}" alt="{{ url }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="sp cxs mts" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<img src="{{ url_img }}" width="70" alt="Image" height="{{ url_height }}" class="mrl cxs bw" style="border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f9e1bb;overflow: hidden;text-align:left">
				<div style="text-align:left;color:#808080" class="bw mt cs">{{ url }}</div>
			</a>
		</div>
	</div>
	{% endif %}

{% elif doc == '5' %}
	<!-- desc img -->
	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ url_img }}" alt="{{ url_desc }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="clb mt lsp" style="text-align:left">{{ url_desc|truncatechars:'125' }}</div>
			<hr size=1 COLOR="#e5e1e1">
			<div class="sp cxs" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<div class="sp cxs bw" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
				<hr size=1 COLOR="#e5e1e1">
				<img src="{{ url_img }}" width="70" alt="Image" class="mrl cxs bw" style="border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f9e1bb;overflow: hidden;text-align:left">
				<div style="text-align:left" class="clb lsp bw mt">{{ url_desc|truncatechars:'240' }}</div>
			</a>
		</div>
	</div>
	{% endif %}

{% elif doc == '6' %}
	<!-- title img -->
	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ url_img }}" alt="{{ url_title }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="clb mt lsp" style="text-align:left">{{ url_title|truncatechars:'50' }}</div>
			<hr size=1 COLOR="#e5e1e1">
			<div class="sp cxs" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<div class="sp cxs bw" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
				<hr size=1 COLOR="#e5e1e1">
				<img src="{{ url_img }}" width="70" alt="Image" class="mrl cxs bw" style="border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f9e1bb;overflow: hidden;text-align:left">
				<div style="text-align:left" class="clb lsp bw mt">{{ url_title|truncatechars:'240' }}</div>
			</a>
		</div>
	</div>
	{% endif %}

{% elif doc == '7' %}
	<!-- desc title -->

	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ static_url }}img/tv.svg" alt="{{ url_title }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="mt cl clb lsp" style="text-align:left;font-weight:bold">{{ url_title|truncatechars:'50' }}</div>
			<div class="mt lsp" style="color:#808080;text-align:left">{{ url_desc|truncatechars:'125' }}</div>
			<hr size=1 COLOR="#e5e1e1">
			<div class="sp cxs" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>

	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<div class="mrl cxs bw" style="width:70px;height:70px;border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f2f2f2;overflow: hidden;text-align:center"><img src="{{ static_url }}img/tap.svg" width="38" height="65" alt="Image" style="margin-top:2px"></div>
				<div style="text-align:left;font-weight:bold" class="clb cl lsp bw">{{ url_title|truncatechars:'100' }}</div>
				<div style="text-align:left" class="cgy lsp bw mt">{{ url_desc|truncatechars:'240' }}</div>
				<hr size=1 COLOR="#e5e1e1">
				<div class="sp cxs bw" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% endif %}
{% elif doc == '8' %}
	<!-- title img height -->
	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ url_img }}" alt="{{ url_title }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="clb mt lsp" style="text-align:left">{{ url_title|truncatechars:'50' }}</div>
			<hr size=1 COLOR="#e5e1e1">
			<div class="sp cxs" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<div class="sp cxs bw" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
				<hr size=1 COLOR="#e5e1e1">
				<img src="{{ url_img }}" width="70" alt="Image" height="{{ url_height }}" class="mrl cxs bw" style="border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f9e1bb;overflow: hidden;text-align:left">
				<div style="text-align:left" class="clb lsp bw mt">{{ url_title|truncatechars:'240' }}</div>
			</a>
		</div>
	</div>
	{% endif %}

{% elif doc == '9' %}
	<!-- desc img height -->
	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ url_img }}" alt="{{ url_desc }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="clb mt lsp" style="text-align:left">{{ url_desc|truncatechars:'125' }}</div>
			<hr size=1 COLOR="#e5e1e1">
			<div class="sp cxs" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<div class="sp cxs bw" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
				<hr size=1 COLOR="#e5e1e1">
				<img src="{{ url_img }}" width="70" height="{{ url_height }}" alt="Image" class="mrl cxs bw" style="border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f9e1bb;overflow: hidden;text-align:left">
				<div style="text-align:left" class="clb lsp bw mt">{{ url_desc|truncatechars:'240' }}</div>
			</a>
		</div>
	</div>
	{% endif %}

{% elif doc == '10' %}
	<!-- desc title img -->
	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ url_img }}" alt="{{ url_title }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="mt cl clb lsp" style="text-align:left;font-weight:bold">{{ url_title|truncatechars:'50' }}</div>
			<div class="mt lsp" style="color:#808080;text-align:left">{{ url_desc|truncatechars:'125' }}</div>
			<hr size=1 COLOR="#e5e1e1">
			<div class="sp cxs" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<img src="{{ url_img }}" width="70" alt="Image" class="mrl cxs bw" style="border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f9e1bb;overflow: hidden;text-align:left">
				<div style="text-align:left;font-weight:bold" class="clb cl lsp bw">{{ url_title|truncatechars:'100' }}</div>
				<div style="text-align:left" class="cgy lsp bw mt">{{ url_desc|truncatechars:'240' }}</div>
				<hr size=1 COLOR="#e5e1e1">
				<div class="sp cxs bw" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% endif %}
{% elif doc == '11' %}
	<!-- desc title img height-->
	{% if is_yt == '1' %}
	<div class="mts mbl bw">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
			<div style="position:relative">
				<img src="{{ static_url }}img/yt.svg" class="yt_play" style="position:absolute;z-index:10;margin: auto;top: 0;left: 0;right: 0;bottom: 0;">
				<img src="{{ url_img }}" alt="{{ url_title }}" class="cs yt_img" style="width:auto;height:auto;max-height:100%;max-width:100%;border-radius:8px;overflow: hidden">
			</div>
			<div class="mt cl clb lsp" style="text-align:left;font-weight:bold">{{ url_title|truncatechars:'50' }}</div>
			<div class="mt lsp" style="color:#808080;text-align:left">{{ url_desc|truncatechars:'125' }}</div>
			<hr size=1 COLOR="#e5e1e1">
			<div class="sp cxs" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% else %}
	<div class="mts mbl">
		<div class="bizcard" style="background-color:#FEFCFC;padding:10px 8px;width:95%;max-width:400px;margin:0 auto;overflow: hidden">
			<a href="{{ url }}" target="_blank" rel="nofollow" style="text-decoration:none">
				<img src="{{ url_img }}" width="70" height="{{ url_height }}" alt="Image" class="mrl cxs bw" style="border:1px solid #f9e1bb;border-radius:5px;float:left;background-color:#f9e1bb;overflow: hidden;text-align:left">
				<div style="text-align:left;font-weight:bold" class="clb cl lsp bw">{{ url_title|truncatechars:'100' }}</div>
				<div style="text-align:left" class="cgy lsp bw mt">{{ url_desc|truncatechars:'240' }}</div>
				<hr size=1 COLOR="#e5e1e1">
				<div class="sp cxs bw" style="text-align:center;color:#808080">{{ url|truncatechars:'35' }}</div>
			</a>
		</div>
	</div>
	{% endif %}
{% endif %}