{% extends "base_pg.html" %}
{% load s3 %}
{% load truncap %}
{% block content %}
<head><title>SMS settings for private messaging | Damadam.pk</title></head>
<div class="margin clb" style="max-width:420px;width:92%;text-align:center">

	<div style="text-align:center">
		{% if their_anon %}
			<span class="cxl"><div class="av_btn" style="border: 1px #404040 solid;width:26px;height:26px;color:#404040;line-height:27px;"><b>{{ name|truncap }}</b></div>&nbsp;se private chat</span>
		{% else %}
			<span class="cxl"><img src="{{ avatar|s3:'thumb' }}" width="22" height="22" alt="pic" style="border-radius: 50%;">&nbsp;<b>{{ name|truncatechars:15 }}</b> se private chat</span>
		{% endif %}
	</div>
	<hr size=1 COLOR="#ffeb3b">

	{% if custom_text %}

		<form method="POST" class="mtl" action="{% url 'personal_group_customize_sms_text' %}">
			{% csrf_token %}
			<input type="hidden" name="tid" value="{{ tid }}">
			{% if form.sms.errors %}
			<span class="lsp cl cr">{{ form.sms.errors.0 }}</span><br>
			{% else %}
			<div class="lsp cl">SMS ke new alfaz likhein:</div>
			{% endif %}
			{{ form.sms }}<br>
			<div class="sp mt cgy cs">150 characters se ziyada nah likhein</div>
			<button class="btn bcb bm mts mrs mbs cl pg_ok" style="border:none;height:30px;" name="fdec" value="1">OK</button>
			<input type="submit" style="border:none;background-color:transparent;border-bottom:1px dotted #BDBDBD;color:#9E9E9E" class="cl mts mls" name="fdec" value="Cancel">
		</form>
	{% else %}
		<div class="lsp mbl mtl cl">Apko milney waley SMS mein ye likha hoga:</div>
		<blockquote class="lsp mbl mts cgy cxl card" style="background-color:#FFFAF0;padding:10px;text-align:center">{% if their_anon %}{{ name|truncap }}{% else %}{{ name|truncatechars:15 }}{% endif %}{{ default_text }}</blockquote>
		
		<div class="lsp mtl cl">Agr ye alfaz tabdeel karney hain tou 'change' dabain, warna <b>OK</b> dabain:</div>
		<form method="POST" class="mts" action="{% url 'personal_group_sms_text' %}">
			{% csrf_token %}
			<input type="hidden" name="tid" value="{{ tid }}">
			<input type="hidden" name="fch" value="{{ from_chat }}">
			<button type="submit" class="btn bcb bm mbs mrs cl pg_ok" name="dec" style="border:none;height:30px;" value="ok">OK</button>
			<button type="submit" class="btn bcgy bm mts mls cl pg_cl" name="dec" style="border:none;height:30px;" value="chg">Change</button>
		</form>
	{% endif %}
	

</div>
<br><br><br>

{% endblock %}