{% extends "base_pg.html" %}
{% load s3 %}
{% load truncap %}
{% block content %}
<head><title>SMS settings for 1 on 1 messaging | Damadam.pk</title></head>
<style>body{background:#f0f3f4}</style>
<div class="margin clb" style="max-width:420px;width:96%;">

	<div class="mbl mts" style="text-align:center">
		{% if their_anon %}
			<span class="cxl"><div class="av_btn" style="border: 1px #404040 solid;width:26px;height:26px;color:#404040;line-height:27px;"><b>{{ name|truncap }}</b></div>&nbsp;se 1 on 1</span>
		{% else %}
			<span class="cxl"><img src="{{ avatar|s3:'thumb' }}" width="22" height="22" alt="pic" style="border-radius: 50%;">&nbsp;<b>{{ name|truncatechars:15 }}</b> se 1 on 1</span>
		{% endif %}
	</div>

<div class="mbl" style="border:3px solid #ececec;border-radius:12px;overflow:hidden;background:white;text-align:center;;max-width:450px;width:92%;margin-right:auto;margin-left:auto;padding:10px 8px;">

	<img src="{{ STATIC_URL }}img/notification.svg" width="55" height="55" style="vertical-align:sub">

	<div class="cxl clb lsp mts mbs">SMS ke bajai <b>notifications</b> ka option use karein</div>
	<hr size=1 COLOR="#E6E6E6">
	<div class="mt cl lsp cgy">
		Notifications SMS se zyada secure and fast hotay hain. Settings se <img src="{{ STATIC_URL }}img/notification.svg" width="20" height="20" style="vertical-align:sub"> symbol ko press kar ke notification ke options view karein<br>
		<form method="POST" action="{% url 'enter_personal_group' %}">
			{% csrf_token %}
			<input type="hidden" name="tid" value="{{ tid }}">
			<button type="submit" class="btn bcgy bm mbs mtl sp cl pg_ok_res" style="border:none;height:40px;width:100%">BACK</button>
		</form>
	</div>

</div>

	


</div>
<br><br>

{% endblock %}