{% extends "base_pg.html" %}
{% load s3 %}
{% load truncap %}
{% load future_time %}
{% block content %}
<head><title>SMS settings for 1 on 1 messaging | Damadam.pk</title></head>

<div class="margin clb" style="max-width:420px;width:92%;text-align:center">

	<div style="text-align:center">
		{% if their_anon %}
			<span class="cxl"><div class="av_btn" style="border: 1px #404040 solid;width:26px;height:26px;color:#404040;line-height:27px;"><b>{{ name|truncap }}</b></div>&nbsp;se 1 on 1</span>
		{% else %}
			<span class="cxl"><img src="{{ avatar|s3:'thumb' }}" width="22" height="22" alt="pic" style="border-radius: 50%;">&nbsp;<b>{{ name|truncatechars:15 }}</b> se 1 on 1</span>
		{% endif %}
	</div>
	<hr size=1 COLOR="#ffeb3b">

		<div class="lsp mtl cl">Ap {% if their_anon %}<b>{{ name|truncap }}</b>{% else %}{{ name|truncatechars:15 }}{% endif %} ko SMS bhej sakein ge <b class="cgy">{{ time_remaining|future_time }}</b></div>
		<div class="sp cgy cs mt">Abhi intezar karein</div>
		<form method="POST" class="mts mbl" action="{% url 'enter_personal_group' %}">
			{% csrf_token %}
			<input type="hidden" name="tid" value="{{ tid }}">
			<button type="submit" class="btn bcb bm mtl cl" style="border:none;height:30px;">OK</button>
		</form>

</div>
<br><br><br>

{% endblock %}