{% extends "base.html" %}
{% block content %}
<head><title>Mobile verification help | Damadam.pk</title></head>

<style>body{background: #E9EBEE}</style>

<h1 class="cxl clb lsp" style="text-align:center;overflow:hidden">Account verification help:</span></h1>

<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden">

  <div class="cxl lsp" style="border-bottom:1px dashed darkgray;padding-bottom:10px;text-align:center">
  Verified users ko kya benefits miltey hain?
  </div>

  <div class="sp lsp clb">
    <div style="padding:0 12px">
      <ul style="display:inline-block;padding: 0;list-style-type: circle;padding-left:15px">
        <li style="text-align:left" class="mbl">Damadam pe share karien apni pasand ke posts</li>
        <li style="text-align:left" class="mbl">Mehfils join karein aur gupshup lagain</li>
        <li style="text-align:left" class="mbl">Foto and text posts pe jawab dein and tabsrey karein</li>
        <li style="text-align:left" class="mbl">Items pe jhappi and chpair ke zariye voting karein</li>
        <li style="text-align:left" class="mbl">1 on 1 messaging mein friends ko free SMS se online bulaien</li>
        <li style="text-align:left" class="mbl">Password bhul gaye tou password retrieve kar lein</li>
        <li style="text-align:left">Logging out and logging in mein asani</li>
      </ul>
    </div>
    {% include "verification/verification_button.html" with static_url=STATIC_URL %}
  </div>

</div>
<br>

<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden">

  <div class="cxl lsp" style="border-bottom:1px dashed darkgray;padding-bottom:10px;text-align:center">
  Kya mera mobile number safe rahey ga?
  </div>

  <div class="sp lsp clb">
    <div style="padding:0 12px">
      <ul style="display:inline-block;padding: 0;list-style-type: circle;padding-left:15px">
        <li style="text-align:left" class="mbl">Damadam sirf verification SMS ke liye number use karta hai</li>
        <li style="text-align:left" class="mbl">Apka number hamesha private and secure rahey ga</li>
        <li style="text-align:left" class="mbl">Apka number kabhi leak nahi hota</li>
        <li style="text-align:left" class="mbl">Apkey number pe kabhi Damadam se call nahi aye gi</li>
        <li style="text-align:left">Kabhi kisi ko apna password nahi dein, us se number leak ho sakta hai</li>
      </ul>
    </div>
    {% include "verification/verification_button.html" with static_url=STATIC_URL %}
  </div>

</div>
<br>

<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden">
  <div class="cxl lsp" style="border-bottom:1px dashed darkgray;padding-bottom:10px;text-align:center">
  Account verification ki zarurat kya hai?
  </div>

  <div class="sp lsp clb">
    <div style="padding:0 12px">
      <ul style="display:inline-block;padding: 0;list-style-type: circle;padding-left:15px">
        <li style="text-align:left" class="mbl">Account verification se fake users decrease hotay hain</li>
        <li style="text-align:left" class="mbl">Agar fake users kamm hon tou Damadam ka maza ziyada ata hai</li>
        <li style="text-align:left">Damadam family ko fake users se clean karney mein hamara sath dein</li>
      </ul>
    </div>
    {% include "verification/verification_button.html" with static_url=STATIC_URL %}
  </div>

</div>
<br>
<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden">
  <div class="cxl lsp" style="border-bottom:1px dashed darkgray;padding-bottom:10px;text-align:center">
  Account verification email or Facebook ID se kyun nahi hoti?
  </div>

  <div class="sp lsp clb">
    <div style="padding:0 12px">
      <ul style="display:inline-block;padding: 0;list-style-type: circle;padding-left:15px">
        <li style="text-align:left" class="mbl">Abhi ye options available nahi</li>
        <li style="text-align:left">Jaisey Damadam family increase ho gi, new options introduce hon ge</li>
      </ul>
    </div>
    {% include "verification/verification_button.html" with static_url=STATIC_URL %}
  </div>

</div>

<br><br>
{% endblock %}