{% extends "base/base.html" %}
{% block content %}
<head><title>Mobile verification help | Damadam</title></head>

<h1 class="cxl clb lsp" style="text-align:center;overflow:hidden">Account verification help:</span></h1>

<div class="mbl clb" style="background-color:#FEFCFC;overflow:hidden;background:white;max-width:500px;margin-left:auto;margin-right:auto">

  <div class="cxl lsp" style="border-bottom:1px dashed darkgray;padding:10px 5px;text-align:center">
  Verified users ko kya benefits miltey hain?
  </div>

  <div style="padding:0 8px 10px 8px" class="sp lsp clb">
    <div style="padding:0 12px">
      <ul style="display:inline-block;padding: 0;list-style-type: circle;padding-left:15px">
        <li style="text-align:left" class="mbl">Chance paien 'Star' ban ke maqbool honay ka</li>
        <li style="text-align:left" class="mbl">Kisi bhi user ke sath 1-on-1 direct chat karein</li>
        <li style="text-align:left" class="mbl">Posts pe 'reply' aur 'like' karein</li>
        <li style="text-align:left" class="mbl">'Mehfils' join karein aur gupshup lagain</li>
        <li style="text-align:left">Password bhul gaye tou password retrieve kar lein</li>
      </ul>
    </div>
    {% include "verification/verification_button.html" with static_url=STATIC_URL %}
  </div>

</div>

<div class="mbl clb" style="background-color:#FEFCFC;overflow:hidden;background:white;max-width:500px;margin-left:auto;margin-right:auto">

  <div class="cxl lsp" style="border-bottom:1px dashed darkgray;padding:10px 5px;text-align:center">
  Account verification ke liye use kia gaya data safe rahey ga?
  </div>

  <div style="padding:0 8px 10px 8px" class="sp lsp clb">
    <div style="padding:0 12px">
      <ul style="display:inline-block;padding: 0;list-style-type: circle;padding-left:15px">
        <li style="text-align:left" class="mbl">Apka data private and secure rehta hai</li>
        <li style="text-align:left" class="mbl">Apka data kabhi leak nahi hota</li>
        <li style="text-align:left" class="mbl">Apkey data ko istemal kar ke kabhi Damadam se call, SMS ya email nahi aye gi</li>
      </ul>
    </div>
    {% include "verification/verification_button.html" with static_url=STATIC_URL %}
  </div>

</div>

<div class="mbl clb" style="background-color:#FEFCFC;overflow:hidden;background:white;max-width:500px;margin-left:auto;margin-right:auto">

  <div class="cxl lsp" style="border-bottom:1px dashed darkgray;padding:10px 5px;text-align:center">
  Account verification ki zarurat kya hai?
  </div>

  <div style="padding:0 8px 10px 8px" class="sp lsp clb">
    <div style="padding:0 12px">
      <ul style="display:inline-block;padding: 0;list-style-type: circle;padding-left:15px">
        <li style="text-align:left" class="mbl">Account verification se fake IDs decrease hoti hain</li>
        <li style="text-align:left" class="mbl">Agar fake IDs kamm hon tou Damadam ka mahol behtar hota hai</li>
        <li style="text-align:left">Damadam family ko fake users se clean karney mein hamara sath dein</li>
      </ul>
    </div>
    {% include "verification/verification_button.html" with static_url=STATIC_URL %}
  </div>

</div>

<br><br>
{% endblock %}