{% extends "base.html" %}
{% block content %}
<head><title>User verification | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>

<h1 class="cxl lsp clb" style="text-align:center">Verify your account:</h1>

<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden;text-align:center">	

	{% if pin_expired %}<div class="bizcard cxl cr sp lsp mbs" style="background:ivory;padding:10px">Sorry! Apka pin expire ho gaya, dubara start karein</div>{% endif %}

  	<div class="cxl mt lsp clb">Neechay apna mobile number likhein</div>
					
  	<hr size=1 COLOR="#e6e6e6">

		<form method="POST" action="{% url 'verify_user_mobile' %}" class="mtl cgy">
			{% csrf_token %}
			<div class="sp lsp mbl">Apkey mobile number pe 5 digits ka pin code SMS kia jaye ga</div>
			{% if form.phonenumber.errors %}<b class="cr sp cl lsp mt mbs">{{ form.phonenumber.errors.0 }}</b><br>{% endif %}
			{{ form.phonenumber }}<br>
			<button class="btn bcb mtl mbs bl cl sp pg_ok_res" style="height:28px">Submit</button>
		</form>

		<hr size=1 COLOR="#e6e6e6">
		<div class="cs sp lsp" style="text-align:left"><span class="cgy"><b>Note I:</b> mobile number '0' se start hona chahiye, '+92' se nahi<br><b>Note II:</b> Sirf numbers likhein, dashes ya spaces ki zarurat nahi (example: 03451234567)</span></div>

</div><br><br>
{% endblock %}