<header class="bg" style="height:38px">
	<form method="GET" action="{% url 'main_navbar' %}" class="fx fxjssb fxaicn" style="background:0 0;height:100%;width:100%;max-width:750px;text-align:center;margin-left:auto;margin-right:auto">
		<div class="cxl" style="letter-spacing: 2px;color: #FFF;font-weight: 600; width:60%">Damadam.pk</div>
		{% if selected == 'profile' %}
			<!-- profile -->
			<div style="height:100%;width:20%;background: #41beed;background: -moz-radial-gradient(circle, rgba(0,0,0,0.08) 0%, rgba(252,70,107,0) 100%);background: -webkit-radial-gradient(circle, rgba(0,0,0,0.08) 0%, rgba(252,70,107,0) 100%);background: radial-gradient(circle, rgba(0,0,0,0.08) 0%, rgba(252,70,107,0) 100%);">
				<button type="submit" name="dec" class="sp clw cxs hd" style="padding:0;height:100%;width:100%;border-radius:0;border:none;border-left:1px solid #70cef1;font-weight:600" value="8">PROFILE</button>
			</div>
			<div style="height:100%;width:20%;background: #4db6f1;background: -moz-radial-gradient(circle, rgba(0,0,0,0.05) 0%, rgba(252,70,107,0) 100%);background: -webkit-radial-gradient(circle, rgba(0,0,0,0.05) 0%, rgba(252,70,107,0) 100%);background: radial-gradient(circle, rgba(0,0,0,0.05) 0%, rgba(252,70,107,0) 100%);">
				<button type="submit" name="dec" class="sp clw cxs hd" style="padding:0;height:100%;width:100%;border-radius:0;border:none;border-left:1px solid #70cef1;font-weight:500" value="3">SHARE</button>
			</div>
		{% elif selected == 'share' %}
			<!-- share -->
			<div style="height:100%;width:20%;background: #41beed;background: -moz-radial-gradient(circle, rgba(0,0,0,0.08) 0%, rgba(252,70,107,0) 100%);background: -webkit-radial-gradient(circle, rgba(0,0,0,0.08) 0%, rgba(252,70,107,0) 100%);background: radial-gradient(circle, rgba(0,0,0,0.08) 0%, rgba(252,70,107,0) 100%);">
				<button type="submit" name="dec" class="sp clw cxs hd" style="padding:0;height:100%;width:100%;border-radius:0;border:none;border-left:1px solid #70cef1;font-weight:500" value="8">PROFILE</button>
			</div>
			<div style="height:100%;width:20%;background: #4db6f1;background: -moz-radial-gradient(circle, rgba(0,0,0,0.05) 0%, rgba(252,70,107,0) 100%);background: -webkit-radial-gradient(circle, rgba(0,0,0,0.05) 0%, rgba(252,70,107,0) 100%);background: radial-gradient(circle, rgba(0,0,0,0.05) 0%, rgba(252,70,107,0) 100%);">
				<button type="submit" name="dec" class="sp clw cxs hd" style="padding:0;height:100%;width:100%;border-radius:0;border:none;border-left:1px solid #70cef1;font-weight:600" value="3">SHARE</button>
			</div>
		{% else %}
			<!-- none selected -->
			<div style="height:100%;width:20%;background: #41beed;background: -moz-radial-gradient(circle, rgba(0,0,0,0.08) 0%, rgba(252,70,107,0) 100%);background: -webkit-radial-gradient(circle, rgba(0,0,0,0.08) 0%, rgba(252,70,107,0) 100%);background: radial-gradient(circle, rgba(0,0,0,0.08) 0%, rgba(252,70,107,0) 100%);">
				<button type="submit" name="dec" class="sp clw cxs hd" style="padding:0;height:100%;width:100%;border-radius:0;border:none;border-left:1px solid #70cef1;font-weight:500" value="8">PROFILE</button>
			</div>
			<div style="height:100%;width:20%;background: #4db6f1;background: -moz-radial-gradient(circle, rgba(0,0,0,0.05) 0%, rgba(252,70,107,0) 100%);background: -webkit-radial-gradient(circle, rgba(0,0,0,0.05) 0%, rgba(252,70,107,0) 100%);background: radial-gradient(circle, rgba(0,0,0,0.05) 0%, rgba(252,70,107,0) 100%);">
				<button type="submit" name="dec" class="sp clw cxs hd" style="padding:0;height:100%;width:100%;border-radius:0;border:none;border-left:1px solid #70cef1;border-right:1px solid #7ac8f4;font-weight:500" value="3">SHARE</button>
			</div>
		{% endif %}
	</form>
</header>
<!--  -->
{% load take_survey %}
{% can_show_survey as show_survey %}
{% if show_survey %}
<div style="background:coral;background: linear-gradient(-45deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);text-align:center;height:36px;line-height:36px">
	<a href="{% url 'survey' %}" class="clw sp" style="font-weight:600">take survey <img src="{{ STATIC_URL }}img/next.svg" width="14" height="14" style="vertical-align:middle"></a>
</div>
{% endif %}