{% extends "base.html" %}
{% block content %}
<head><title>Create private mehfil | Damadam.pk</title></head>
<style>body{background:#f0f3f4}</style>

{% include "mehfil/mehfil_list_navbar.html" with section='new' static_url=STATIC_URL %}

<h1 class="clb cxl lsp" style="text-align:center">Create private mehfil:</h1>

<div class="clb bizcard sp" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">

<form method="post" action="{% url 'closed_group_create' %}" method="POST">
	{% csrf_token %}
	<div style="padding:8px;background-color:ivory;text-align:left" class="bizcard sp lsp">
	{% if form.topic.errors %}<div class="mbs cr cl" style="font-weight:bold">{{ form.topic.errors.0 }}</div>{% else %}<div class="cl mbs" style="font-weight:bold">Apni private mehfil ka topic likhein:</div>{% endif %}
	<ul style="margin:0;padding-left: 15px;">
		<li>Topic mein sirf english words, numbers ya ! ? % $ _ . , ; : ( ) - " ' characters likhein</li>
		<li>Topic {{ topic_char_limit }} characters tak hona chahiye</li>
	</ul>
	<div class="mts">{{ form.topic }}</div>
	</div>
	
	<div style="text-align:center">
	<button class="btn bcg bxl mtl mbs pg_ok_res mrs" type="submit" style="height:26px;font-weight:bold">Create</button>
	<a href="{% url 'group_type' %}#section0" class="mls cgy cl" style="border-bottom:1px dotted gray">Cancel</a>
	</div>
</form>
</div>
<br><br>
{% endblock %}