{% extends "base/base_mehfil.html" %}
{% block content %}
{% load cache %}
<head><title>Select mehfil type | Damadam</title></head>
<div class="mtl">
	{% load count_group_invites %}
    {% check_group_invite_count as group_invite_count %}
	{% include "mehfil/mehfil_list_navbar.html" with section='new' static_url=STATIC_URL %}
</div>
<h1 class="cxl clb lsp" style="text-align:center;overflow:hidden">Create new mehfil:</span></h1>

<div class="mbl mtl" style="overflow:hidden;background:white;max-width:600px;margin-left:auto;margin-right:auto;text-align:center">

{% if not_verified %}
	<div style="padding:10px"><div style="padding:8px;background-color:ivory;text-align:center" class="bizcard cxl cr lsp">Sorry! Mehfil create karney ke liye apko apna <a href="{% url 'verify_user_mobile_unpaid' %}#section0" class="cb" style="border-bottom:1px dotted dodgerblue">account verify</a> karwana hoga</div></div>
{% elif ttl %}
	{% load future_time %}
	<div style="padding:10px"><div style="padding:8px;background-color:ivory;text-align:center" class="bizcard cxl cr lsp">Sorry! Ap ne recently mehfil banai, is liye ap dubara mehfil bana sakein ge {{ ttl|future_time }}</div></div>
{% elif user_age_inadequate %}
	{% load future_time %}
	<div style="padding:10px"><div style="padding:8px;background-color:ivory;text-align:center" class="bizcard cxl cr lsp">Sorry! Apko join kiye huay ziyada time nahi guzra. Ap mehfil bana sakein ge {{ age_inadequate_ttl|future_time }}</div></div>
{% endif %}

<div class="cxl lsp clb" style="padding:0.5em">Mehfil bananey ke liye press karein:</div>
	<div class="fx fxjscn fxaicn mts" style="padding-bottom:20px">

		<form method="POST" action="{% url 'can_create_group' 'public' %}">{% csrf_token %}<button style="border-radius:8px;border:1px solid #866496;width:100px;height:100px;background-color:#9274a0" class="mrl pg_ok_res"><img src="{{ STATIC_URL }}img/open.svg" class="mt" width="30" height="30" style="vertical-align:middle"><br><div style="font-size:10.2px;color:white" class="mts lsp sp">CREATE<br>MEHFIL</div></button></form>

	</div>
</div>

{% cache 1000 mehfil_help %}
<h1 class="cxl clb lsp" style="text-align:center;overflow:hidden">Mehfil help:</span></h1>

<div class="mbl mtl clb" style="overflow:hidden;background:ivory;max-width:600px;margin-left:auto;margin-right:auto;text-align:center">

	<div class="cxl lsp" style="border-bottom:1px solid #e9ebee;padding:10px 8px">'Mehfil' mien group messaging and photo sharing hoti hai</div>
	
	<div style="padding:5px 10px;background-color:white">
		
		<div class="mtl mbl">
		<ul style="display:inline-block;padding: 0;margin:0;list-style:none;max-width:520px" class="lsp sp">
			<li style="text-align:left" class="mt"><b class="cs cp sp">1.</b>&nbsp;Mehfil owner users ko invite kar sakta hai</li>
			<li style="text-align:left" class="mt"><b class="cs cp sp">2.</b>&nbsp;Invite ke beghair bhi users mehfil join kar saktey hain</li>
			<li style="text-align:left" class="mt"><b class="cs cp sp">3.</b>&nbsp;Owner ke pas mehfil ko control karne ke liye powers hoti hain</li>
			<li style="text-align:left" class="mt"><b class="cs cp sp">4.</b>&nbsp;Mehfil owner 'officers' bhi bana sakta hai jo mehfil ko manage karney mein help kartey hain</li>
		</ul>
		</div>

	</div>

</div>

<br><br>
{% endcache %}
{% endblock %}
