{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<head><title>Invite users to private mehfil | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>

{% include "mehfil/closed_group_invite_navbar.html" with static_url=STATIC_URL section='invite' guid=unique %}

{% if group %}
	<div class="mbl" style="max-width: 600px;margin-left: auto;margin-right:auto;text-align:center;overflow:hidden">
	<h1 class="cxl lsp clb" style="text-align:center;overflow:hidden;margin:0">Invite to&nbsp;<span class="cg">{% emoticons %}{{ group_topic|truncatechars:'80' }}{% endemoticons %}</span></h1>
	</div>
	<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">	

	<form method="POST" class="mbl mt" action="{% url 'priv_group' %}">{% csrf_token %}<input type="hidden" name="private_uuid" value="{{ unique }}"><button type="submit" class="cb sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue;border-radius:0">back to mehfil</button></form>

	{% if show_instr %}
		<div style="padding:8px;background-color:ivory" class="bizcard mbs lsp">
			{% if instr_type == 'owner' %}
				<div class="cxl lsp">Private mehfil owner {{ max_invites }} users invite kar sakta hai</div>
				<hr size=1 COLOR="#E9EBEE">
				<div class="cm sp cr" style="text-align:left">Note:</div>
				<div class="cs sp" style="text-align:left">&#x25CF;&nbsp;Agar ap ne 1 user invite kiya tou apkey <b>{{ one_less }}</b> invites reh jaien ge</div>
				<div class="cs sp" style="text-align:left">&#x25CF;&nbsp;Agar invited user ne mehfil join kar li tou invites dubara <b>{{ max_invites }}</b> ho jaien ge</div>
				<div class="cs sp" style="text-align:left">&#x25CF;&nbsp;Jab mehfil ke {{ private_max_members }} members ho jaien tou mazeed users ko invite kar ke member nahi banaya ja sakta</div>
			{% else %}
				<div class="cxl lsp">Invite karney se pehlay invites ka <form method="POST" action="{% url 'private_group_invite_help' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="guid" value="{{ unique }}"><button type="submit" class="cm cb pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">help section</button></form> zarur dekh lein</div>
			{% endif %}
		</div>
	{% else %}
		<div style="padding:5px;background-color:ivory" class="bizcard mbl">
			<div class="cxl lsp">{{ invites_remaining }} invite(s) remaining!</div>
			<hr size=1 COLOR="#E9EBEE">
			<div class="cs cgy lsp sp">Users select kar ke 'invite' ka button dabain</div>
		</div>
	{% endif %}

	<ul style="display:inline-block;padding: 0;list-style:none;margin-top:0">
	{% if no_more_invites %}
		<div class="mts" style="word-break: break-all">
		{% for visitor_id, visitor_username, visitor_username_lower, section_header in object_list %}
			{% if section_header %}<h2 style="text-align:left;font-size:60px;color:lightgray;margin:10px 0">{{ section_header }}</h2>{% endif %}
			<li class="mbl cl sp" style="text-align:left;padding-bottom:10px;border-bottom:1px dashed lightgray">
			<span class="cgy cs">{{ forloop.counter }}. </span>
			{% if visitor_id in stars %}&nbsp;<img src="{{ STATIC_URL }}img/gstar.svg" width="12" height="12" alt="*" style="color:gold">{% endif %}&nbsp;<b><bdi>{{ visitor_username }}</bdi></b>
			</li>
		{% endfor %}
		</div>
	{% else %}
		<form method="POST" action="{% url 'process_private_group_invite' %}" class="mt">
			{% csrf_token %}
			<button type="submit" name="puid" class="btn bcg bl mbl pg_ok_res sp" value="{{ unique }}" style="height:27px">invite</button>
			<div class="mts" style="word-break: break-all">
			{% for visitor_id, visitor_username, visitor_username_lower, section_header in object_list %}
				{% if section_header %}<h2 style="text-align:left;font-size:60px;color:lightgray;margin:10px 0">{{ section_header }}</h2>{% endif %}
				<li class="mbl cl sp" style="text-align:left;border-bottom:1px dashed lightgray;padding-bottom:10px"><input type="checkbox" style="vertical-align:sub" name="vids" id="{{ visitor_id }}" value="{{ visitor_id }}" {{ status }}><label for="{{ visitor_id }}">{% if visitor_id in stars %}&nbsp;<img src="{{ STATIC_URL }}img/gstar.svg" width="12" height="12" alt="*" style="color:gold">{% endif %}&nbsp;<b><bdi>{{ visitor_username }}</bdi></b></label></li>
			{% endfor %}
			</div>
			<button type="submit" name="puid" class="btn bcg bl mbs pg_ok_res sp" value="{{ unique }}" style="height:27px">invite</button>
		</form>
	{% endif %}
	</ul>

	<form method="POST" class="mbs" style="border-top:1px dashed lightgray;padding-top:10px" action="{% url 'priv_group' %}">{% csrf_token %}<input type="hidden" name="private_uuid" value="{{ unique }}"><button type="submit" class="cb sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to mehfil</button></form>
	</div>
{% else %}
<h1 class="cxl clb lsp" style="text-align:center;overflow:hidden">Cannot invite to mehfil</h1>
<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">	
	{% if no_online %}
	<div class="cm cgy lsp sp">- invite karney ke liye koi nahi hai -</div>
	<form method="POST" class="mbs mts" action="{% url 'priv_group' %}">{% csrf_token %}<input type="hidden" name="private_uuid" value="{{ unique }}"><button type="submit" class="cb sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to mehfil</button></form>
	{% elif cant_invite %}
	<div class="cxl lsp">Ap ye nahi kar saktey</div>
	<form method="POST" class="mbs mts" action="{% url 'priv_group' %}">{% csrf_token %}<input type="hidden" name="private_uuid" value="{{ unique }}"><button type="submit" class="cb sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to mehfil</button></form>
	{% elif no_group %}
	<div class="cxl lsp">Ye is terah nahi chalta!</div>
	<form method="POST" class="mbs mts" action="{% url 'priv_group' %}">{% csrf_token %}<input type="hidden" name="private_uuid" value="{{ unique }}"><button type="submit" class="cb sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to mehfil</button></form>
	{% elif banned %}
	<div class="cxl lsp">Ap ye nahi kar saktey</div>
	<form method="POST" class="mbs mts" action="{% url 'priv_group' %}">{% csrf_token %}<input type="hidden" name="private_uuid" value="{{ unique }}"><button type="submit" class="cb sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to mehfil</button></form>
	{% else %}
	<div class="cxl lsp">Ye is terah nahi chalta!</div>
	<form method="POST" class="mbs mts" action="{% url 'priv_group' %}">{% csrf_token %}<input type="hidden" name="private_uuid" value="{{ unique }}"><button type="submit" class="cb sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to mehfil</button></form>
	{% endif %}
</div>
{% endif %}
<br><br>
{% endblock %}