{% if privacy == '0' %}
	
	{% if section == 'kick' %}
	<div class="fx fxjscn fxaicn">
		<button class="bizcard" style="padding:0;text-align:center;border:1px solid #F8F8F8;border-radius:0;border-top-left-radius:6px;border-bottom-left-radius:6px;height:48px;width:65px;background-color:white"><img src="{{ static_url }}img/kick.svg" width="24" height="24" style="vertical-align:middle"></button>
		<form method="POST" action="{% url 'show_kicked_users' 'public' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="guid" value="{{ guid }}"><button type="submit" style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;height:46px;width:65px;background-color:#F0F0F0;border-top-right-radius:5px;border-bottom-right-radius:5px"><img src="{{ static_url }}img/block_dark.svg" width="20" height="20" style="vertical-align:middle"></button></form>
	</div>
	{% elif section == 'kicked' %}
	<div class="fx fxjscn fxaicn">
		<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="guid" value="{{ guid }}"><button name="dec" type="submit" value="2" style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;border-top-left-radius:5px;border-bottom-left-radius:5px;height:46px;width:65px;background-color:#F0F0F0"><img src="{{ static_url }}img/kick-disabled.svg" width="18" height="18" style="vertical-align:middle"></button></form>
		<button type="submit" class="bizcard" style="padding:0;text-align:center;border:1px solid #F8F8F8;border-radius:0;height:48px;width:65px;background-color:white;border-top-right-radius:6px;border-bottom-right-radius:6px;"><img src="{{ static_url }}img/block-cp.svg" width="24" height="24" style="vertical-align:middle"></button>
	</div>
	{% else %}
	{% endif %}

{% elif privacy == '1' %}
	
	{% if section == 'kick' %}
	<div class="fx fxjscn fxaicn">
		<button class="bizcard" style="padding:0;text-align:center;border:1px solid #F8F8F8;border-radius:0;border-top-left-radius:6px;border-bottom-left-radius:6px;height:48px;width:65px;background-color:white"><img src="{{ static_url }}img/kick-cg.svg" width="24" height="24" style="vertical-align:middle"></button>
		<form method="POST" action="{% url 'show_kicked_users' 'private' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="guid" value="{{ guid }}"><button type="submit" style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;height:46px;width:65px;background-color:#F0F0F0;border-top-right-radius:5px;border-bottom-right-radius:5px"><img src="{{ static_url }}img/block_dark.svg" width="20" height="20" style="vertical-align:middle"></button></form>
	</div>
	{% elif section == 'kicked' %}
	<div class="fx fxjscn fxaicn">
		<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="guid" value="{{ guid }}"><button name="dec" type="submit" value="3" style="padding:0;text-align:center;border:1px solid #DCDCDC;border-radius:0;border-top-left-radius:5px;border-bottom-left-radius:5px;height:46px;width:65px;background-color:#F0F0F0"><img src="{{ static_url }}img/kick-disabled.svg" width="18" height="18" style="vertical-align:middle"></button></form>
		<button type="submit" class="bizcard" style="padding:0;text-align:center;border:1px solid #F8F8F8;border-radius:0;height:48px;width:65px;background-color:white;border-top-right-radius:6px;border-bottom-right-radius:6px"><img src="{{ static_url }}img/block-cg.svg" width="24" height="24" style="vertical-align:middle"></button>
	</div>
	{% else %}
	{% endif %}

{% endif %}