{% if section == 'public_manage_officers' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Manage officers help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Manage officers' ke page mein top pe 3 options hain: <img src="{{ static_url }}img/shield_y.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/shield_x.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/history.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/shield_y.svg" width="20" height="20" class="mrs">Is option ke zariye members ko officer banaya ja sakta hai. Officers owner ko hide, kick and topic changing mein help kartey hain. Officer banney ke liye members ko apply karna parta hai. New members forun apply nahi kar saktey</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/shield_x.svg" width="20" height="20" class="mrs">Is option ke zariye officers remove kiye ja saktey hain. Jo officers mehfil ko ziyada time nahi dete hon, unko remove kar dein</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/history.svg" width="20" height="20" class="mrs">Is option ke zariye officers ke tamam actions ki history dekhi ja sakti hai. Is history mein owner ke actions bhi nazar atey hain, aur ye officers bhi dekh saktey hain</div>
	</div>
</div>

{% elif section == 'public_owner_kick' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Kick out help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Kick out' ke page mein top pe 2 options hain: <img src="{{ static_url }}img/kick.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/block-cp.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/kick.svg" width="20" height="20" class="mrs">Is option ke zariye bad members (or officers) ko mehfil se kick out and block kiya ja sakta hai. Owners kick karney ka reason bhi de saktey hain, takey member apni ghalti samajh le</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/block-cp.svg" width="20" height="20" class="mrs">Is option ke zariye kicked out users ka block khatam kia ja sakta hai. Aisa karney se kicked out users mehfil mein dubara enter ho saktey hain</div>
	</div>
</div>

{% elif section == 'public_owner_invite' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Mehfil invite help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Invite' ke page mein top pe 3 options hain: <img src="{{ static_url }}img/add-cp.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/members-cp.svg" width="22" height="22" class="mrs" style="vertical-align:center"><img src="{{ static_url }}img/help_invite-cp.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/add-cp.svg" width="20" height="20" style="vertical-align:sub" class="mrs">Is option ke zariye ap mehfil mein users ko invite kar saktey hain. Owner ke pas {{ max_owner_invites }} invites hotay hain. Accept honay par bhejay huay invites refill ho jatey hain (yani dubara use ho saktey hain). Is liye aisey users ko invite karein jinka accept karney ka chance ziyada ho. Owner and officers ke ilawa aur koi invite nahi kar sakta</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/members-cp.svg" width="22" height="22" style="vertical-align:sub" class="mrs">Is option ke zariye agar invited user 10 days tak invite accept nahi karey tou owner invite cancel kar ke refill kar sakta hai. Officers ke pas invite refill karney ki power nahi</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/help_invite-cp.svg" width="20" height="20" class="mrs">Is option mein invite karney ke rules likhey hain, ap detail se dekh lein</div>
	</div>
</div>

{% elif section == 'public_owner_read_feedback' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Feedback help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Read feedback' ke page mein top pe 3 options hain: <img src="{{ static_url }}img/complain.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/feedback.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/praise.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/complain.svg" width="20" height="20" class="mrs">Is option ke zariye ap members ki bheji hui complaints (yani 'shikayatein') dekh saktey hain. Ye sirf owner dekh sakta hai</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/feedback.svg" width="20" height="20" class="mrs">Is option ke zariye ap members ke bhejey huay ideas dekh saktey hain. Is terah mehfil ke problems solve kiye ja saktey hain. Ideas sirf owner dekh sakta hai</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/praise.svg" width="20" height="20" class="mrs">Is option ke zariye ap members ki bheji hui tareef dekh saktey hain. Is se maloom ho sakta hai ke mehfil kitni achi chal rahi hai. Ye bhi sirf owner ke liye hai</div>
	</div>
</div>

{% elif section == 'public_owner_change_topic' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Change topic help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Change topic' mein ja ke mehfil owner topic change kar sakta hai. Topic change honay ke kuch time baad tak dubara change nahi hota. Aisa topic choose karein jis ko parh ke users forun samajh jaien ke mehfil kis barey mein hai</div>
		<div class="cl mts mbs lsp sp">Woh officers bhi topic change kar saktey hain jinko owner ne topic changing ki power di ho</div>
	</div>
</div>

{% elif section == 'public_owner_change_rules' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Change rules help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Change rules' se mehfil owner rules change kar sakta hai. Owner ye bhi choose kar sakta hai ke rules phir se tamam members se accept karwaney hain ke nahi. Rules change honay ke kuch time baad tak dubara change nahi ho saktey</div>
		<div class="cl mts mbs lsp sp">Agar har rule 'new line' se start ho, tou system har rule ke sath khud bakhud aik number laga deta hai (e.g. 1, 2, 3 etc)</div>
	</div>
</div>

{% elif section == 'public_owner_transfer_ownership' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Transfer ownership help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Transfer ownership' ke zariye ap apni mehfil kisi member ko points ke badley baich saktey hain</div>
		<div class="cl mts mbs lsp sp">Iskey liye zaruri hai ke {{ min_price }} se {{ max_price }} ke darmiyan points offer kiye jaien. Ye points ownership transfer ke baad apkey ho jaien ge. Jab tak points offer na hon, public mehfil ki ownership transfer nahi ho gi</div>
	</div>
</div>

{% elif section == 'public_owner_delete_mehfil' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Delete mehfil help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Delete mehfil' ke zariye owner apni mehfil delete kar sakta hai. Delete honay ke baad mehfil wapis nahi aa sakti. Ye step reverse nahi ho sakta</div>
	</div>
</div>

{% elif section == 'public_owner_history' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">History help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts lsp sp"><div style="text-align:left">Yahan mehfil ke officers and mehfil owner ko unkey administrative actions ki history display hoti hai. Owner aur officers ke ilawa history koi nahi dekh sakta. Ye actions history mein save ho jatey hain:</div>
		<ul style="display:inline-block;padding: 0;list-style:none">
		    <li style="text-align:left">1. Kick out or unban</li>
		    <li style="text-align:left">2. Invite or cancel invite</li>
		    <li style="text-align:left">3. Hide or unhide</li>
		    <li style="text-align:left">4. Topic change</li>
		    <li style="text-align:left">5. Appoint or dismiss officer</li>
		    <li style="text-align:left">6. Ownership transfer</li>
		</ul>
		</div>
	</div>
</div>

{% elif section == 'public_officer_kick' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Kick out help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Kick out' ke page mein top pe 2 options hain: <img src="{{ static_url }}img/kick.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/block-cp.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/kick.svg" width="20" height="20" class="mrs">Is option ke zariye bad members ko mehfil se kick out kiya ja sakta hai. Ap kick karney ka reason bhi de saktey hain, takey kick out honay wala member apni ghalti samajh le. Mehfil owner ya dusrey officers ko kick nahi kiya ja sakta</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/block-cp.svg" width="20" height="20" class="mrs">Is option ke zariye kicked out users ka block khatam kia ja sakta hai. Aisa karney se kicked out users mehfil mein dubara enter ho saktey hain</div>
	</div>
</div>

{% elif section == 'public_officer_invite' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Mehfil invite help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Invite' ke page mein top pe 3 options hain: <img src="{{ static_url }}img/add-cp.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/members-cp.svg" width="22" height="22" class="mrs" style="vertical-align:center"><img src="{{ static_url }}img/help_invite-cp.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/add-cp.svg" width="20" height="20" style="vertical-align:sub" class="mrs">Is option ke zariye ap mehfil mein users ko invite kar saktey hain. Tamam officers total {{ max_officer_invites }} invites apis mein share kartey hain. Accept honay par bhejay huay invites refill ho jatey hain (yani dubara use ho saktey hain). Is liye aisey users ko invite karein jinka accept karney ka chance ziyada ho. Owner and officers ke ilawa aur koi invite nahi kar sakta</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/members-cp.svg" width="22" height="22" style="vertical-align:sub" class="mrs">Is option ke zariye agar invited user 10 days tak invite accept nahi karey tou mehfil owner invite cancel kar ke refill kar sakta hai. Officers ke pas invite refill karney ki power nahi</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/help_invite-cp.svg" width="20" height="20" class="mrs">Is option mein invite karney ke rules likhey hain, ap detail se dekh lein</div>
	</div>
</div>

{% elif section == 'public_officer_change_topic' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Change topic help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Change topic' mein ja ke ap topic change kar saktey hain. Topic change honay ke kuch time baad tak dubara change nahi hota. Aisa topic choose karein jis ko parh ke users forun samajh jaien ke mehfil kis barey mein hai</div>
		<div class="cl mts mbs lsp sp">Topic changing ki power owner ki marzi se di jati hai, har officer ke pas ye power nahi hoti</div>
	</div>
</div>

{% elif section == 'public_officer_read_rules' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Read rules help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Read rules' mein ja ke ap mehfil ke rules dekh saktey hain. Bad members ko rules ke mutabiq punishment deni chahiye takey mehfil ka mahol saf reh sakey</div>
		<div class="cl mts mbs lsp sp">Yad rakhein ke members ke pas bhi 'read rules' ka option mojood hota hai, lehaza members ko rules remind karwaye ja saktey hain</div>
	</div>
</div>

{% elif section == 'public_officer_history' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">History help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts lsp sp"><div style="text-align:left">Yahan mehfil ke officers and mehfil owner ko unkey administrative actions ki history display hoti hai. Owner aur officers ke ilawa history koi nahi dekh sakta. Ye actions history mein save ho jatey hain:</div>
		<ul style="display:inline-block;padding: 0;list-style:none">
		    <li style="text-align:left">1. Kick out or unban</li>
		    <li style="text-align:left">2. Invite or cancel invite</li>
		    <li style="text-align:left">3. Hide or unhide</li>
		    <li style="text-align:left">4. Topic change</li>
		    <li style="text-align:left">5. Appoint or dismiss officer</li>
		    <li style="text-align:left">6. Ownership transfer</li>
		</ul>
		</div>
	</div>
</div>

{% elif section == 'public_officer_praise_feedback' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Praise help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Praise' ke page se mehfil owner ko directly message send kia ja sakta hai. 'Praise' ka option tab select karein jab mehfil owner ki kisi achi baat pe hosla afzai wala message send karna ho</div>
		<div class="cl mts mbs lsp sp">Ye message mehfil owner ke ilawa aur koi nahi parh sakta</div>
	</div>
</div>

{% elif section == 'public_officer_complaint_feedback' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Complain help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Complain' ke page se mehfil owner ko directly message send kia ja sakta hai. 'Complain' ka option tab select karein jab mehfil owner ko kisi baat ki shikayat karni ho (maslan jab mehfil mein kuch ghalat hua ho jiska owner ko na pata ho)</div>
		<div class="cl mts mbs lsp sp">Ye message mehfil owner ke ilawa aur koi nahi parh sakta</div>
	</div>
</div>

{% elif section == 'public_officer_idea_feedback' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Idea help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Idea' ke page se mehfil owner ko directly message send kia ja sakta hai. 'Idea' ka option tab select karein jab mehfil owner ko mehfil behtar bananey ke liye koi idea dena ho</div>
		<div class="cl mts mbs lsp sp">Ye message mehfil owner ke ilawa aur koi nahi parh sakta</div>
	</div>
</div>

{% elif section == 'public_officer_ownership_request' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Request ownership help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Request ownership' ke zariye ap owner se mehfil ki ownership mang saktey hain</div>
		<div class="cl mts mbs lsp sp">Iskey liye zaruri hai ke ap points offer karein. Agar mehfil owner ko apki offer manzoor hui tou mehfil apkey naam ho jaye gi</div>
	</div>
</div>

{% elif section == 'public_officer_exit' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Exit mehfil help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Exit mehfil' ke zariye ap mehfil mein apni membership khatam kar saktey hain. Aisa karney se ap mehfil mein officer bhi nahi rehain ge</div>
		<div class="cl mts mbs lsp sp">Exit karney ke baad ap forun mehfil mein wapis nahi aa saktey</div>
	</div>
</div>

{% elif section == 'public_member_praise_feedback' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Praise help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Praise' ke page se mehfil owner ko directly message send kia ja sakta hai. 'Praise' ka option tab select karein jab mehfil owner ki kisi achi baat pe hosla afzai wala message send karna ho</div>
		<div class="cl mts mbs lsp sp">Ye message mehfil owner ke ilawa aur koi nahi parh sakta</div>
	</div>
</div>

{% elif section == 'public_member_complaint_feedback' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Complain help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Complain' ke page se mehfil owner ko directly message send kia ja sakta hai. 'Complain' ka option tab select karein jab mehfil owner ko kisi baat ki shikayat karni ho (maslan jab mehfil mein kuch ghalat hua ho jiska owner ko na pata ho)</div>
		<div class="cl mts mbs lsp sp">Ye message mehfil owner ke ilawa aur koi nahi parh sakta</div>
	</div>
</div>

{% elif section == 'public_member_idea_feedback' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Idea help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Idea' ke page se mehfil owner ko directly message send kia ja sakta hai. 'Idea' ka option tab select karein jab mehfil owner ko mehfil behtar bananey ke liye koi idea dena ho</div>
		<div class="cl mts mbs lsp sp">Ye message mehfil owner ke ilawa aur koi nahi parh sakta</div>
	</div>
</div>

{% elif section == 'public_member_ownership_request' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Request ownership help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Request ownership' ke zariye ap owner se mehfil ki ownership mang saktey hain. Iskey liye zaruri hai ke ap points offer karein. Agar mehfil owner ko apki offer manzoor hui tou mehfil apkey naam ho jaye gi</div>
	</div>
</div>

{% elif section == 'public_member_read_rules' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Read rules help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Read rules' mein ja ke ap mehfil ke rules dekh saktey hain. Agar koi bad member mehfil ka mahol kharab kar raha ho, tou ap usko mehfil rules ka remind karein aur officers (or owner) se kahien ke usko punish kia jaye</div>
		<div class="cl mts mbs lsp sp">Aisi mehfils jahan rules ka khayal nahi rakha jata, unko exit kar dena behtar hai</div>
	</div>
</div>

{% elif section == 'public_member_report_mehfil' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Report help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Report' ke zariye ap mehfil ke topic ya rules ko report kar saktey hain</div>
		<div class="cl mts mbs lsp sp">Is option ko mehfil ke andr ke problems solve karney ke liye use nahi karein. Un problems ki solution ke liye mehfil ke officers ya owner se baat karein</div>
	</div>
</div>

{% elif section == 'public_member_officer_application' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Officer application help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Apply for officer' se ap mehfil ke officer banney ke liye apply kar saktey hain. Zaruri hai ke ap mehfil ke old member hon. New members ko apply karney ke liye wait karna parta hai</div>
		<div class="cl mts mbs lsp sp">'Apply for officer' ke page mein top pe ye 3 options hain: <img src="{{ static_url }}img/shield_y.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/history.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/help_invite-cp.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/shield_y.svg" width="20" height="20" class="mrs">Is option se ap officer ke liye apply kar saktey hain. Poochay gaye questions ko answer karein, aur phir 'Submit' press karein</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/history.svg" width="20" height="20" class="mrs">Is option se ap apni purani officer applications ki history dekh saktey hain. Ye history woh mehfil owners bhi dekh paien ge jinki mehfils mein ap future mein officer ke liye apply karein ge</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/help_invite-cp.svg" width="20" height="20" class="mrs">Is option mein ap officer applications se related tamam questions ke answers dekh saktey hain</div>
	</div>
</div>

{% elif section == 'public_member_exit' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Exit mehfil help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'public_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Exit mehfil' ke zariye ap mehfil mein apni membership khatam kar saktey hain. Exit karney ke baad ap forun mehfil mein wapis nahi aa saktey</div>
	</div>
</div>

{% elif section == 'private_owner_change_topic' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Change topic help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Change topic' se ap topic change kar saktey hain. Topic change honay ke kuch time baad tak dubara change nahi ho sakta</div>
		<div class="cl mts mbs lsp sp">Owner ke ilawa mehfil ke members bhi topic change kar saktey hain</div>
	</div>
</div>

{% elif section == 'private_owner_kick' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Kick out help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Kick out' ke page mein top pe 2 options hain: <img src="{{ static_url }}img/kick-cg.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/block-cg.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/kick-cg.svg" width="20" height="20" class="mrs">Is option se kisi bhi member ko mehfil se kick out and block kiya ja sakta hai</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/block-cg.svg" width="20" height="20" class="mrs">Is option ke zariye kicked out users ka block khatam kia ja sakta hai</div>
	</div>
</div>

{% elif section == 'private_owner_invite' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Mehfil invite help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Invite' ke page mein top pe 3 options hain: <img src="{{ static_url }}img/add-cg.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/members-cg.svg" width="22" height="22" class="mrs" style="vertical-align:center"><img src="{{ static_url }}img/help_invite-cg.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/add-cg.svg" width="20" height="20" style="vertical-align:sub" class="mrs">Is option se ap mehfil mein users ko invite kar saktey hain. Owner ke pas {{ max_owner_invites }} invites hotay hain. Accept honay par bheja hua invite refill ho jata hai (yani dubara use ho sakta hai). Yad rehay ke mehfil mein {{ max_members }} se ziyada members nahi ho saktey</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/members-cg.svg" width="22" height="22" style="vertical-align:sub" class="mrs">Is option ke zariye ap woh invite cancel kar ke refill kar saktey hain jis ko 10 days tak accept nahi kia gaya</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/help_invite-cg.svg" width="20" height="20" class="mrs">Is option mein invite karney ke rules likhey hain, ap detail se dekh lein</div>
	</div>
</div>

{% elif section == 'private_owner_transfer_ownership' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Transfer ownership help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Transfer ownership' ke zariye ap apni mehfil kisi bhi member ko transfer kar saktey hain</div>
		<div class="cl mts mbs lsp sp">Private mehfil mein ownership transfer bilkul muft hai, is mein points ka lain dain nahi hota</div>
	</div>
</div>

{% elif section == 'private_owner_delete_mehfil' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Delete mehfil help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Delete mehfil' ke zariye owner apni private mehfil delete kar sakta hai. Delete honay ke baad mehfil wapis nahi ati. Ye step reverse nahi ho sakta</div>
	</div>
</div>

{% elif section == 'private_owner_history' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">History help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts lsp sp"><div style="text-align:left">Yahan mehfil mein liye gaye actions ki history display hoti hai. History owner aur members dono dekh saktey hain. Ye actions history mein save ho jatey hain:</div>
		<ul style="display:inline-block;padding: 0;list-style:none">
		    <li style="text-align:left">1. Topic change</li>
		    <li style="text-align:left">2. Invite or cancel invite</li>
		    <li style="text-align:left">3. Kick out or unban by owner</li>
		    <li style="text-align:left">4. Join or exit</li>
		    <li style="text-align:left">5. Hide or unhide</li>
		    <li style="text-align:left">6. Ownership transfer</li>
		</ul>
		</div>
	</div>
</div>

{% elif section == 'private_member_change_topic' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Change topic help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Change topic' se ap topic change kar saktey hain. Topic change honay ke kuch time baad tak dubara change nahi ho sakta</div>
		<div class="cl mts mbs lsp sp">Private mehfils mein owner and members dono topic change kar saktey hain</div>
	</div>
</div>

{% elif section == 'private_member_invite' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Mehfil invite help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Invite' ke page mein top pe 3 options hain: <img src="{{ static_url }}img/add-cg.svg" width="20" height="20" class="mrs"><img src="{{ static_url }}img/members-cg.svg" width="22" height="22" class="mrs" style="vertical-align:center"><img src="{{ static_url }}img/help_invite-cg.svg" width="20" height="20"></div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/add-cg.svg" width="20" height="20" style="vertical-align:sub" class="mrs">Is option se ap mehfil mein users ko invite kar saktey hain. Har member ke pas {{ max_member_invites }} invite hota hai. Accept honay par bheja hua invite refill ho jata hai (yani dubara use ho sakta hai). Yad rehay ke mehfil mein {{ max_members }} se ziyada members nahi ho saktey</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/members-cg.svg" width="22" height="22" style="vertical-align:sub" class="mrs">Is option ke zariye ap woh invite cancel kar ke refill kar saktey hain jisko 10 days tak accept nahi kia gaya</div>
		<div class="cl mts mbs lsp sp"><img src="{{ static_url }}img/help_invite-cg.svg" width="20" height="20" class="mrs">Is option mein invite karney ke rules likhey hain, ap detail se dekh lein</div>
	</div>
</div>

{% elif section == 'private_member_ownership_request' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Request ownership help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Request ownership' ke zariye ap owner se mehfil ki ownership mang saktey hain. Agar mehfil owner ko apki offer manzoor hui tou mehfil apkey naam ho jaye gi</div>
	</div>
</div>

{% elif section == 'private_member_exit' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">Exit mehfil help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts mbs lsp sp">'Exit mehfil' ke zariye ap mehfil mein apni membership khatam kar saktey hain. Exit karney ke baad ap forun mehfil mein wapis nahi aa saktey</div>
	</div>
</div>

{% elif section == 'private_member_history' %}

<h1 class="cxl clb lsp title" style="text-align:center;overflow:hidden">History help:</span></h1>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">
	<form method="POST" action="{% url 'private_mehfil_oversight_dashboard' %}" class="mt" style="text-align:center;border-bottom:1px dashed darkgray;padding-bottom:12px">{% csrf_token %}<button type="submit" class="cb sp pg_ok_res" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to settings</button><input type="hidden" name="guid" value="{{ guid }}"></form>
	<div class="description">
		<div class="cl mts lsp sp"><div style="text-align:left">Yahan mehfil mein liye gaye actions ki history display hoti hai. History owner aur members dono dekh saktey hain. Ye actions history mein save ho jatey hain:</div>
		<ul style="display:inline-block;padding: 0;list-style:none">
		    <li style="text-align:left">1. Topic change</li>
		    <li style="text-align:left">2. Invite or cancel invite</li>
		    <li style="text-align:left">3. Kick out or unban by owner</li>
		    <li style="text-align:left">4. Join or exit</li>
		    <li style="text-align:left">5. Hide or unhide</li>
		    <li style="text-align:left">6. Ownership transfer</li>
		</ul>
		</div>
	</div>
</div>

{% endif %}