{% extends "base.html" %}
{% load s3 %}
{% load human_time %}
{% block content %}
<head><title>Invited users | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>

{% include "mehfil/open_group_invite_navbar.html" with static_url=STATIC_URL section='invited' guid=guid %}

<div class="mbl" style="max-width: 600px;margin-left: auto;margin-right:auto;text-align:center;overflow:hidden">
    <h1 style="display:inline" class="clb cxl lsp">Invite list:</h1>
</div>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">

<div class="mt mbl"><a href="{% url 'public_group' guid %}"><button type="submit" class="cb sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to mehfil</button></a></div>

{% if just_invited_users %}
<div style="padding:8px;background-color:ivory" class="bizcard cxl lsp">
	<b>Successfully invited!</b>
	<hr size=1 COLOR="#E9EBEE">
	<div class="sp cs lsp">Invite ke <b>{{ cancellation_time }}</b> baad owner neechay se 'unaccepted' invites cancel kar saktey hain</div>
</div>
{% elif final_data %}
<div style="padding:8px;background-color:ivory" class="bizcard cxl lsp">
	In users ne abhi tak apki public mehfil ka invite accept nahi kiya
	<hr size=1 COLOR="#E9EBEE">
	<div class="sp cs lsp"><span class="cgy"><b>Note:</b>&nbsp;Invite ke {{ cancellation_time }} baad owner neechay se invite cancel kar saktey hain</span></div>
</div>
{% else %}
<div style="padding:8px;background-color:ivory" class="bizcard cxl lsp">
	Yahan invited users show hotay hain
</div>
{% endif %}

<ul style="display:inline-block;padding: 0;list-style:none">
{% for user_id, uname, avurl, invite_time, can_cancel in final_data %}
	<li class="mbs" style="text-align:left;border-bottom:1px dashed lightgray">
		<div class="mts mbs"><a href="{% url 'user_profile' uname %}" class="clb"><img src="{{ avurl|s3:'thumb' }}" style="border-radius:50%;vertical-align:sub">{% if uname in females %}&nbsp;<img src="{{ STATIC_URL }}img/pstar.svg" width="11" height="11" alt="*" style="color:deeppink">{% endif %}&nbsp;<bdi>{{ uname }}</bdi></a><span class="cgy mls cs sp mrs">invited {{ invite_time|human_time }}</span>{% if owner and can_cancel %}<form method="POST" action="{% url 'cancel_open_group_invite' %}" style="display:inline">{% csrf_token %}<input type="hidden" name="guid" value="{{ guid }}"><button name="tgt" type="submit" class="sp pg_ok_res" style="color:tomato;border:none;padding:0;background:0 0;border-bottom:1px dotted tomato" value="{{ user_id }}">(cancel)</button></form>{% endif %}</div>
	</li>
{% empty %}
<span class="cgy cl sp lsp">- ye list khali hai -</span>
{% endfor %}
</ul>

	<div class="mt mbs"><a href="{% url 'public_group' guid %}"><button type="submit" class="cb sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to mehfil</button></a></div>
</div>
<br><br>
{% endblock %}