{% extends "base.html" %}
{% load human_time %}
{% block content %}
<head><title>Transfer ownership | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>
<h1 class="cxl clb" style="text-align:center;overflow:hidden">Transfer ownership:</span></h1>
<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">

{% if review_ownership_transfer_requests %}
	{% load s3 %}
	{% if public %}
		<div class="mt mbl"><a href="{% url 'public_group' slug=unique %}" class="cm sp cb" style="border-bottom:1px dotted blue">back to mehfil</a></div>

		<div style="padding:8px;background-color:ivory;text-align:center" class="bizcard lsp">
		<span class="cxl lsp">Ap ye public mehfil kisi bhi member ko transfer kar saktey hain. Iskey rules yeh hain:</span>
		<ul style="display:inline-block;margin-bottom:0;padding: 0;list-style:none">
		<li style="text-align:left" class="mbs sp">1. Jis ne is mehfil ka owner banna hai, usko khud apko ownership ki request send karni hogi</li>
		<li style="text-align:left" class="mbs sp">2. Apkey pas offer accept karney ke liye 3 days hon ge</li>
		<li style="text-align:left" class="mbs sp">3. Request accept hotay hi mehfil ownership transfer ho jaye gi</li>
		<li style="text-align:left" class="mbs sp">4. Transfer complete honay ke 1 month tak ap koi aur mehfil transfer nahi kar sakein ge</li>
		</ul>
		</div>

		{% if ownership_requests %}
			<div class="mtl">
			<div class="cxl lsp mbs" style="font-weight:bold">{{ num_requests }} ownership request(s):</div>
			{% for request in ownership_requests %}
			<div class="mbl bizcard" style="background-color:#f8f2fa;padding:10px;border-radius:10px">
				
				<div class="sp lsp cl mbs" style="text-align:left"><img src="{{ request.savurl|s3:'thumb' }}" style="border-radius:50%;vertical-align:sub">&nbsp;<a href="{% url 'user_profile' request.suname %}" class="cb" style="border-bottom:1px dotted blue">{{ request.suname }}</a> ne mehfil ka owner banney ke liye request send ki</div>
				
				<div class="sp cs" style="text-align:right"><span class="cgy">{{ request.t|human_time }}</span></div>
				<form class="mt" method="POST" action="{% url 'group_ownership_transfer_tac' 'public' %}">
					{% csrf_token %}
					<input type="hidden" name="guid" value="{{ unique }}">
					<input type="hidden" name="sid" value="{{ request.sid }}">
					<button type="submit" class="acc acc-bg mrl" style="background-color:#9971a5;padding:1px 10px 2px 10px;height:23px" name="dec" value="1"><img src="{{ STATIC_URL }}img/check.svg"></button>
					<button type="submit" class="acc acc-bg mll" style="background-color:#a9a9a9;padding:2px 10px 2px 10px;height:23px" name="dec" value="0"><img src="{{ STATIC_URL }}img/cross.svg"></button>
				</form>
			</div>
			{% endfor %}
			</div>
		{% else %}
		<div class="mtl sp cl cr">- is time koi offers mojood nahi -</div>
		{% endif %}

		<div class="mtl mbs"><a href="{% url 'public_group' slug=unique %}" class="cm sp cb" style="border-bottom:1px dotted blue">back to mehfil</a></div>

	{% elif private %}

		<form method="POST" class="mt mbl" action="{% url 'priv_group' %}">{% csrf_token %}<button type="submit" name="private_uuid" value="{{ unique }}" class="pg_ok_res cb sp cm" style="background:0 0;border:none;padding:0;border-bottom:1px dotted blue">back to mehfil</button></form>

		<div style="padding:8px;background-color:ivory;text-align:center" class="bizcard lsp">
		<span class="cxl lsp">Ap ye private mehfil kisi bhi member ko transfer kar saktey hain. Iskey rules yeh hain:</span>
		<ul style="display:inline-block;margin-bottom:0;padding: 0;list-style:none">
		<li style="text-align:left" class="mbs sp">1. Jis ne is mehfil ka owner banna hai, usko khud apko ownership ki request send karni hogi</li>
		<li style="text-align:left" class="mbs sp">2. Apkey pas request accept karney ke liye 3 days hon ge</li>
		<li style="text-align:left" class="mbs sp">3. Request accept hotay hi mehfil ownership transfer ho jaye gi</li>
		<li style="text-align:left" class="mbs sp">4. Transfer complete honay ke 1 month tak ap koi aur mehfil transfer nahi kar sakein ge</li>
		</ul>
		</div>
	
		{% if ownership_requests %}
			<div class="mtl">
			<div class="cxl lsp mbs" style="font-weight:bold">{{ num_requests }} ownership request(s):</div>
			{% for request in ownership_requests %}
			<div class="mbl bizcard" style="background-color:#e9fced;padding:10px;border-radius:10px">
				<div class="sp lsp cl mbs" style="text-align:left"><img src="{{ request.savurl|s3:'thumb' }}" style="border-radius:50%;vertical-align:sub">&nbsp;<a href="{% url 'user_profile' request.suname %}" class="cb" style="border-bottom:1px dotted blue">{{ request.suname }}</a> ne owner banney ke liye request send ki</div>
				<div class="sp cs" style="text-align:right"><span class="cgy">{{ request.t|human_time }}</span></div>
				<form class="mt" method="POST" action="{% url 'group_ownership_transfer_tac' 'private' %}">
					{% csrf_token %}
					<input type="hidden" name="guid" value="{{ unique }}">
					<input type="hidden" name="sid" value="{{ request.sid }}">
					<button type="submit" class="acc acc-bg mrl" style="background-color:#179b36;padding:1px 10px 2px 10px;height:23px" name="dec" value="1"><img src="{{ STATIC_URL }}img/check.svg"></button>
					<button type="submit" class="acc acc-bg mll" style="background-color:#a9a9a9;padding:2px 10px 2px 10px;height:23px" name="dec" value="0"><img src="{{ STATIC_URL }}img/cross.svg"></button>
				</form>
			</div>
			{% endfor %}
			</div>
		{% else %}
		<div class="mtl sp cl cr">- is time koi requests mojood nahi -</div>
		{% endif %}

		<form method="POST" class="mtl mbs" action="{% url 'priv_group' %}">{% csrf_token %}<button type="submit" name="private_uuid" value="{{ unique }}" class="pg_ok_res cb sp cm" style="background:0 0;border:none;padding:0;border-bottom:1px dotted blue">back to mehfil</button></form>

	{% endif %}
{% else %}
	{% if send_ownership_request %}
		{% load show_error %}
		{% if public %}

			{% if allowed_to_request %}

				<div class="mt mbl"><a href="{% url 'public_group' slug=unique %}" class="cm sp cb" style="border-bottom:1px dotted blue">back to mehfil</a></div>

				<form method="POST" class="mts" action="{% url 'send_request_to_owner' 'public' %}">
				{% csrf_token %}
				<input type="hidden" name="guid" value="{{ unique }}">
				{% if form.errors %}
					<div style="padding:8px;background-color:ivory;text-align:center" class="bizcard lsp mbl">
						<div class="cxl lsp ">{{ form.errors|show_error }}</div>
					</div>
				{% else %}

					{% if group_price > 0 %}
					
					<div style="padding:8px;background-color:ivory;text-align:center" class="bizcard lsp">
						<span class="cxl lsp">Ap is mehfil ke owner banney ki request kar saktey hain. Iskey liye ye karna ho ga:</span>
						<ul style="display:inline-block;margin-bottom:0;padding: 0;list-style:none">
						<li style="text-align:left" class="mbs sp">1. Neechay is mehfil ke owner ko points offer karein</li>
						<li style="text-align:left" class="mbs sp">2. Kam se kam {{ least_price }} points and ziyada se ziyada {{ group_price }} points offer karein</li>
						<li style="text-align:left" class="mbs sp">3. Owner ke pas apki offer pe decision lene ke liye 3 days hon ge</li>
						<li style="text-align:left" class="mbs sp">4. Owner ki decision ke time apkey points apki di geyi offer se kam nahi honay chahiyen</li>
						<li style="text-align:left" class="mbs sp">5. Agar owner ne apki offer accept kar li tou mehfil forun apko transfer ho jaye gi, aur apkey offered points owner ko mil jaien ge</li>
						<li style="text-align:left" class="mbs sp">6. Transfer complete honay ke baad 1 month tak ap koi aur mehfil transfer nahi kar sakein ge</li>

						</ul>
					</div>
					<div class="lsp mts mbs">
						<div class="cxl">Is mehfil ka owner banney ke liye ap kitney points offer karna chahtey hain?</div>
					</div>

					{% else %}

					<div style="padding:8px;background-color:ivory;text-align:center" class="bizcard lsp mbl">
						<span class="cxl lsp">Ap is mehfil ke owner banney ki request kar saktey hain. Iskey liye ye karna ho ga:</span>
						<ul style="display:inline-block;margin-bottom:0;padding: 0;list-style:none">
						<li style="text-align:left" class="mbs sp">1. Neechay button daba ke owner banney ki request send karein</li>
						<li style="text-align:left" class="mbs sp">2. Mehfil owner ke pas accept karney ke liye 3 days hon ge</li>
						<li style="text-align:left" class="mbs sp">3. Jab tak woh decision nahi le, ap mehfil exit nahi karein</li>
						<li style="text-align:left" class="mbs sp">4. Agar owner ne apki request accept kar li tou ap forun mehfil ke new owner ban jaien ge</li>
						<li style="text-align:left" class="mbs sp">5. Request accept honay ke 1 month tak ap koi aur mehfil transfer nahi kar sakein ge</li>
						</ul>
					</div>

					{% endif %}

				{% endif %}
				
				{% if group_price > 0 %}
					<div class="mbs">{{ form.price }}</div>
					<button type="submit" class="mts sp btn bcp pg_ok_res bl" style="height:26px">Submit</button>
				{% else %}
					<input type="hidden" name="price" value="0">
					<button type="submit" class="btn bcp pg_ok_res sp bxl" style="height:26px">Send request</button>

				{% endif %}
				
				</form>

				{% if prev_request %}

					{% if prev_request.pts != '0' %}

						<div class="mtl" style="border:1px dashed #dfc9e9;padding:10px;background-color:#f8f2fa;border-radius:10px">
							<div class="mts mbs sp lsp"><b>Recent offer:</b>&nbsp;Ap ne is mehfil ka owner banney ke liye {{ prev_request.pts }} points offer kiye <span class="cs sp cgy">({{ prev_request.t|human_time }})</span></div>
							<form method="POST" class="mtl mbs" action="{% url 'cancel_ownership_request' 'public' %}">
								{% csrf_token %}
								<input type="hidden" name="guid" value="{{ unique }}">
								<button type="submit" class="sp cm" style="background:0 0;padding:0;border:none;border-bottom:1px dotted #805a8c;color:#805a8c">Cancel request</button>
							</form>
						</div>

					{% else %}

						<div class="mtl" style="border:1px dashed #dfc9e9;padding:10px;background-color:#f8f2fa;border-radius:10px">
							<div class="mts mbs sp lsp"><b>Recent request:</b>&nbsp;Ap ne is mehfil ka owner banney ke liye request ki <span class="cgy">({{ prev_request.t|human_time }})</span></div>
							<form method="POST" class="mtl mbs" action="{% url 'cancel_ownership_request' 'public' %}">
								{% csrf_token %}
								<input type="hidden" name="guid" value="{{ unique }}">
								<button type="submit" class="sp cm" style="background:0 0;padding:0;border:none;border-bottom:1px dotted #805a8c;color:#805a8c">Cancel request</button>
							</form>
						</div>

					{% endif %}

					<div class="sp cs lsp mtl"><span class="cgy"><b>Note:</b>&nbsp;Bheji hui request mehfil owner aur tamam officers dekh saktey hain</div>
				
				{% else %}
				
					<hr size=1 COLOR="#e5e7e9">
					<div class="sp cs lsp mts"><span class="cgy"><b>Note:</b>&nbsp;Bheji hui request mehfil owner aur tamam officers dekh saktey hain</div>
				
				{% endif %}
			{% else %}

				{% load future_time %}

				<div class="lsp cxl">Apko ye mehfil join kiye ziyada time nahi guzra</div>
				<hr size=1 COLOR="#e5e7e9">
				<div class="sp lsp mts">Ap ye request send kar sakein ge {{ wait_time|future_time }}</div>

				<div class="mtl mbs"><a href="{% url 'public_group' slug=unique %}" class="cm sp cb" style="border-bottom:1px dotted blue">back to mehfil</a></div>

			{% endif %}

		{% elif private %}

			{% if allowed_to_request %}

				{% if prev_req_exists %}

					<form method="POST" class="mt mbl" action="{% url 'priv_group' %}">{% csrf_token %}<button type="submit" name="private_uuid" value="{{ unique }}" class="pg_ok_res cb sp cm" style="background:0 0;border:none;padding:0;border-bottom:1px dotted blue">back to mehfil</button></form>

					<div class="mt" style="border:1px dashed #1cb841;padding:10px;background-color:#e9fced;border-radius:10px">
					<div class="mts mbs sp lsp"><b>{{ prev_request.t|human_time }}:</b>&nbsp;Ap ne is mehfil ka owner banney ke liye request send ki</div>
					<form method="POST" class="mtl mbs" action="{% url 'cancel_ownership_request' 'private' %}">
					{% csrf_token %}
					<input type="hidden" name="guid" value="{{ unique }}">
					<button type="submit" class="sp cm" style="background:0 0;padding:0;border:none;border-bottom:1px dotted #0d591f;color:#0d591f">Cancel request</button>
					</form>
					</div>

				{% else %}

					<form method="POST" class="mt mbs" action="{% url 'priv_group' %}">{% csrf_token %}<button type="submit" name="private_uuid" value="{{ unique }}" class="pg_ok_res cb sp cm" style="background:0 0;border:none;padding:0;border-bottom:1px dotted blue">back to mehfil</button></form>

					<div style="padding:8px;background-color:ivory;text-align:center" class="bizcard lsp mbl">
						<span class="cxl lsp">Ap is mehfil ke owner banney ki request kar saktey hain. Iskey liye ye karna ho ga:</span>
						<ul style="display:inline-block;margin-bottom:0;padding: 0;list-style:none">
						<li style="text-align:left" class="mbs sp">1. Neechay button daba ke owner banney ki request send karein</li>
						<li style="text-align:left" class="mbs sp">2. Mehfil owner ke pas accept karney ke liye 3 days hon ge</li>
						<li style="text-align:left" class="mbs sp">3. Jab tak woh decision nahi le, ap mehfil exit nahi karein</li>
						<li style="text-align:left" class="mbs sp">4. Agar owner ne apki request accept kar li tou ap forun mehfil ke new owner ban jaien ge</li>
						<li style="text-align:left" class="mbs sp">5. Request accept honay ke 1 month tak ap koi aur mehfil transfer nahi kar sakein ge</li>
						</ul>
					</div>

					<form method="POST" class="mt mbl" action="{% url 'send_request_to_owner' 'private' %}">
					{% csrf_token %}
					<input type="hidden" name="guid" value="{{ unique }}">
					<button class="btn bcg bxl pg_ok_res sp" style="height:26px">Send request</button>
					</form>
					<hr size=1 COLOR="#e5e7e9">
					<div class="sp cs lsp mts"><span class="cgy"><b>Note:</b>&nbsp;Bheji hui request 'mehfil history' mein bhi nazar ati hai</div>

				{% endif %}
					

			{% else %}

				{% load future_time %}

				<div class="lsp cxl">Apko ye mehfil join kiye ziyada time nahi guzra</div>
				<hr size=1 COLOR="#e5e7e9">
				<div class="sp lsp mts">Ap ye request send kar sakein ge {{ wait_time|future_time }}</div>

				<form method="POST" class="mtl mbs" action="{% url 'priv_group' %}">{% csrf_token %}<button type="submit" name="private_uuid" value="{{ unique }}" class="pg_ok_res cb sp cm" style="background:0 0;border:none;padding:0;border-bottom:1px dotted blue">back to mehfil</button></form>

			{% endif %}
		
		{% endif %}
	{% endif %}
{% endif %}
</div>
<br><br>
{% endblock %}