{% extends "base.html" %}
{% load s3 %}
{% load human_time %}
{% load show_error %}
{% load emoticons_tags %}
{% block content %}
<head><title>{% if switching %}Public mehfil{% else %}{{ group_topic }} (public mehfil){% endif %} | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>

{% if switching %}

<div class="mbs">
<div style="max-width: 600px;margin:0 auto;text-align:center;overflow:hidden">
    <h1 style="display:inline" class="clb cxl sp">Mehfil not found:</h1>
</div>
</div>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">    
    <div class="cxl lsp" style="text-align:center">Ye mehfil dar ke bhag gye hai! {% emoticons %}:P{% endemoticons %}</div>
    <hr size=1 COLOR="#E9EBEE">
    <div class="sp lsp mbl" style="text-align:center">Hum pakarne ki koshish kar rehay hain</div>
    <div style="text-align:center"><a href="{% url 'group_page' %}#section0"><button class="btn bm bcp mbl pg_ok_res sp" style="height:26px">wapis</button></a></div>
</div>
{% elif full_member %}

{% load get_group_button %}
<div class="mbl" style="max-width: 600px;margin-left: auto;margin-right:auto;text-align:center;overflow:hidden">
    <h1 style="display:inline" class="clb cxl lsp">{% emoticons %}{{ group_topic }}{% endemoticons %}:</h1>
</div>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">
    <a name="sectionJ"></a> 

    <div id="grp_img_size_err" class="mbs" style="text-align:left;display:none"><span class="cr lsp">Ye foto buhut barri hai, choti foto chunein</span></div>
    <div id="grp_img_mime_err" class="mbs" style="text-align:left;display:none"><span class="cr lsp">Ye foto kharab hai, koi aur chunein</span></div>
    <form action="{% url 'public_group_reply' %}" id="grp_form" method="POST" class="mbl" enctype="multipart/form-data" style="display:inline;">
        {% csrf_token %}
        {% if pics_perms == '1' %}
        <div class="mbl">
        <b class="sp cs">Upload foto:</b>
        <div class="mt">{{ form.image }}</div>
        {% if on_fbs %}<div class="mt cgy cs">Freebasics pe <b>200 KB</b> se barri pic nahi lagti</div>{% endif %}
        </div>
        {% endif %}
       <div class="mtl sp"> {% if form.errors %}<span class="cr lsp">{{ form.errors|show_error }}</span>{% else %}<b class="cs">Message likhein:</b>{% endif %}</div><div class="mt">{{ form.text }}</div>
        <input id="grp_sk" type="hidden" name="sk" value="{{ sk }}">
        <input id="grp_wid" type="hidden" name="wid" value="-1">
        <input name="uid" type="hidden" value="{{ unique }}">
        <button class="btn bm bcp mrl mbs mts pg_ok_res" id="grp_subform" type="submit" name="gp" style="height:26px" value="{{ group_id }}">OK</button>
    </form>&nbsp;
    <form action="{% url 'first_time_public_refresh' %}" class="mbl" method="POST" enctype="multipart/form-data" style="display:inline;">
        {% csrf_token %}
        <button class="rf rf-bg" style="background-image: url({{ STATIC_URL }}img/refresh.svg);vertical-align:middle;width:23px;height:23px" name="uid" value="{{ unique }}" type="submit"></button>
    </form>

        {% include "mehfil/public_group_navbar.html" with uuid=unique gid=group_id static_url=STATIC_URL %}

        {% for reply,status in replies %}

            {% if not on_fbs and forloop.counter == 7 %}
                <div style="text-align:center;background:snow">
                    <ins class="adsbygoogle"
                        style="display:inline-block;vertical-align: middle;width:320px;height:100px"
                        data-ad-client="ca-pub-2568547635306983"
                        data-ad-slot="9029992964"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <hr size=1 COLOR="#E9EBEE">
            {% endif %}
        
        {% if reply.category == '2' %}
            <div class="lsp sp cs" style="overflow:hidden"><span class="cgy"><bdi><b class="clb">{{ reply.text }}</b></bdi> ko mehfil se kick out kar dia gya</span></div>
        {% elif reply.category == '3' %}
            <div class="lsp sp cs mrl" style="display:inline"><span class="cgy"><bdi><b class="clb">{{ reply.writer_uname }}</b></bdi> ki baat hide kar di geyi</span></div>
            <form method="POST" action="{% url 'group_hide_submission' %}" style="display:inline">
            {% csrf_token %}
            <input type="hidden" name="dec" value="u">
            <input type="hidden" name="gid" value="{{ reply.gid }}">
            <button type="submit" name="pk" class="mt pg_ok_res mrs" value="{{ reply.id }}" style="background:0 0;border:none;padding:0"><img src="{{ STATIC_URL }}img/restore.svg" width="18" height="18" style="vertical-align:sub"></button>
            </form>
        {% elif reply.category == '4' %}
            <div class="lsp sp cs" style="overflow:hidden"><span class="cgy"><bdi><b class="clb">{{ reply.writer_uname }}</b></bdi> ne new topic rakha: <b class="clb"><bdi>{% emoticons %}{{ reply.text }}{% endemoticons %}</bdi></b></span></div>
        {% elif reply.category == '5' %}
            <div class="lsp sp cs" style="overflow:hidden"><span class="cgy"><bdi><b class="clb">{{ reply.writer_uname }}</b></bdi> ne new rules set kiye: <b class="clb"><bdi>{% emoticons %}{{ reply.text }}{% endemoticons %}</bdi></b></span></div>
        {% elif reply.category == '8' %}
            <div class="lsp sp cs" style="overflow:hidden"><span class="cgy"><bdi><b class="clb">{{ reply.writer_uname }}</b></bdi> ne mehfil ka new owner <bdi><a href="{% url 'profile' reply.text %}" class="clb" style="font-weight:bold">{{ reply.text }}</a></bdi> ko bana dia</span></div>
        {% elif reply.category == '9' %}
            <div class="lsp sp cs" style="overflow:hidden"><span class="cgy"><bdi><a href="{% url 'profile' reply.writer_uname %}" class="clb" style="font-weight:bold">{{ reply.writer_uname }}</a></bdi> ne mehfil ko join kiya</span></div>
        {% else %}
            {% if reply.image %}
            <img src="{{ reply.image|s3 }}" style="border-radius:12px;max-width:100%" alt="foto"><br>
            {% endif %}
            <div class="lsp" style="overflow:hidden">

            {% if status == 'green' %}
                <div class="st-dot" style="background-color:#00FF00;border:2px solid #00F200;"></div>
            {% elif status == 'idle' %}
                <div class="st-dot" style="background-color:#9BE29B;border:2px solid #91DF91;"></div>
            {% else %}
                <div class="st-dot" style="background-color:#C8C8C8;border:2px solid #C4C4C4;"></div>
            {% endif %}

            <a href="{% url 'profile' slug=reply.writer_uname %}#section0" class="clb cm sp" style="font-weight:bold"><img src="{{ reply.writer_avurl }}" style="border-radius:50%" alt="no pic">{% if reply.writer_uname in ensured %}&nbsp;<img src="{{ STATIC_URL }}img/pstar.svg" width="11" height="11" alt="*" style="color:deeppink">{% endif %}&nbsp;<bdi>{{ reply.writer_uname }}</bdi></a><span class="cg cxs sp">&nbsp;{% if reply.writer_score|add:"0" < 0 %}(1){% else %}({{ reply.writer_score }}){% endif %}</span>&nbsp;:&nbsp;{% if reply.tu %}<b>@&nbsp;</span>{{ reply.tu }}&nbsp;-&nbsp;</b>{% endif %}<span class="bw cl"><bdi>{% emoticons %}{{ reply.text }}{% endemoticons %}</bdi></span>

            <span class="sp cgy cxs mrl">&nbsp;{{ reply.submitted_on|human_time }}</span>
        
            <button name="wid" style="display:{{ display }};background:0 0;border:none;padding:0" class="at pg_ok_res mrs" value="{{ reply.wid }}"><img src="{{ STATIC_URL }}img/at.svg" width="15" height="15" class="mrs" style="vertical-align:sub"></button>

            <form method="POST" action="{% url 'group_hide_submission' %}" style="display:inline">
            {% csrf_token %}
            <input type="hidden" name="dec" value="h">
            <input type="hidden" name="gid" value="{{ reply.gid }}">
            <button type="submit" name="pk" class="mt pg_ok_res mrs" value="{{ reply.id }}" style="background:0 0;border:none;padding:0"><img src="{{ STATIC_URL }}img/report_dark.svg" width="16" height="16" style="vertical-align:sub"></button>
            </form>
            
            {% group_button own_id reply.wid unique 'group' 'public' reply.writer_uname %}
            </div>
           
        {% endif %}
        <hr size=1 COLOR="#E9EBEE">
        
        {% endfor %}
    
</div>
{% else %}

<div class="mbs">
<div style="max-width: 600px;margin:0 auto;text-align:center;overflow:hidden">
    <h1 style="display:inline" class="clb cxl lsp">{% emoticons %}{{ group_topic }}{% endemoticons %}:</h1>
</div>
</div>

<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white">

    <div class="bizcard mbl lsp cl sp" style="background-color:ivory;padding:10px;text-align:center">
    
        {% if only_pinkstars %}
        <div class="sp mbs lsp" style="border-bottom:1px dotted #FFAFAA;padding:5px;border-radius:0;font-weight:bold">Ye mehfil sirf pink stars ke <img src="{{ STATIC_URL }}img/pstar.svg" width="13" height="13" alt="*" style="color:deeppink"> liye hai</div>
        {% endif %}

        {% if partial_member %}
            <div class="cl">MEHFIL RULES:</div>
            <form class="mt mbs" method="POST" action="{% url 'quick_accept_open_group_rules' %}">
                {% csrf_token %}
                <div style="text-align:left">{% emoticons %}{{ rules|linebreaksbr }}{% endemoticons %}</div>
                <hr size=1 COLOR="#E9EBEE">
                <input name="uid" type="hidden" value="{{ unique }}">
                <div class="mts" style="font-weight:bold">Kya apko is mehfil ke latest rules qabool hain?</div>
                <input name="gid" type="hidden" value="{{ group_id }}">
                <button name="dec" type="submit" class="btn bcp bl sp pg_ok_res mtl mrs" value="1" style="height:26px">Haan</button>
                <button name="dec" type="submit" class="btn bcgy bl sp pg_ok_res mtl mls" value="0" style="height:26px">Nahi</button>
            </form>
        {% else %}
            <div>Is mehfil ke member banney ke liye 'JOIN' dabain:</div>
            <form method="POST" class="mtl mbl" action="{% url 'join_public_group' %}">
                {% csrf_token %}
                <input name="uid" type="hidden" value="{{ unique }}">
                <button name="gid" type="submit" class="btn bcp bxl sp pg_ok_res mrs" value="{{ group_id }}" style="height:26px;font-weight:bold;border:1px solid #9971a5">JOIN</button>
            </form>
            <div class="cs sp" style="border-top:1px dashed lightgray;padding-top:10px"><span class="cgy"><b>Note:</b> Join karney ke baad mehfil ko {{ exit_wait_time }} tak exit nahi kia ja sakta</span></div>
        {% endif %}
    
    </div>

    {% for reply,status in replies %}

        {% if not on_fbs and forloop.counter == 7 %}
            <div style="text-align:center;background:snow">
                <ins class="adsbygoogle"
                    style="display:inline-block;vertical-align: middle;width:320px;height:100px"
                    data-ad-client="ca-pub-2568547635306983"
                    data-ad-slot="9029992964"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <hr size=1 COLOR="#E9EBEE">
        {% endif %}

        {% if reply.category == '2' %}
            <div class="lsp sp cs"><span class="cgy"><bdi><b class="clb">{{ reply.text }}</b></bdi> ko mehfil se kick out kar dia gya</span></div>
        {% elif reply.category == '3' %}
            <div class="lsp sp cs"><span class="cgy"><bdi><b class="clb">{{ reply.writer_uname }}</b></bdi> ki baat hide kar di geyi</span></div>
        {% elif reply.category == '4' %}
            <div class="lsp sp cs" style="overflow:hidden"><span class="cgy"><bdi><b class="clb">{{ reply.writer_uname }}</b></bdi> ne new topic rakha: <b class="clb"><bdi>{% emoticons %}{{ reply.text }}{% endemoticons %}</bdi></b></span></div>
        {% elif reply.category == '5' %}
            <div class="lsp sp cs" style="overflow:hidden"><span class="cgy"><bdi><b class="clb">{{ reply.writer_uname }}</b></bdi> ne new rules set kiye: <b class="clb"><bdi>{% emoticons %}{{ reply.text }}{% endemoticons %}</bdi></b></span></div>
        {% elif reply.category == '8' %}
            <div class="lsp sp cs" style="overflow:hidden"><span class="cgy"><bdi><b class="clb">{{ reply.writer_uname }}</b></bdi> ne mehfil ka new owner <b class="clb"><bdi>{{ reply.text }</bdi></b> ko bana dia</span></div>
        {% elif reply.category == '9' %}
            <div class="lsp sp cs" style="overflow:hidden"><span class="cgy"><bdi><b class="clb">{{ reply.writer_uname }}</b></bdi> ne mehfil ko join kiya</span></div>
        {% else %}
            {% if reply.image %}
            <img class="pht" src="{{ reply.image|s3 }}" style="border-radius:12px;" alt="foto"><br>
            {% endif %}
            <div class="lsp" style="overflow:hidden">

            {% if status == 'green' %}
                <div class="st-dot" style="background-color:#00FF00;border:2px solid #00F200;"></div>
            {% elif status == 'idle' %}
                <div class="st-dot" style="background-color:#9BE29B;border:2px solid #91DF91;"></div>
            {% else %}
                <div class="st-dot" style="background-color:#C8C8C8;border:2px solid #C4C4C4;"></div>
            {% endif %}

            <a href="{% url 'profile' slug=reply.writer_uname %}#section0" class="clb cm sp" style="font-weight:bold"><img src="{{ reply.writer_avurl }}" style="border-radius:50%" alt="no pic">{% if reply.writer_uname in ensured %}&nbsp;<img src="{{ STATIC_URL }}img/pstar.svg" width="11" height="11" alt="*" style="color:deeppink">{% endif %}&nbsp;<bdi>{{ reply.writer_uname }}</bdi></a><span class="cg cxs sp">&nbsp;{% if reply.writer_score|add:"0" < 0 %}(1){% else %}({{ reply.writer_score }}){% endif %}</span>&nbsp;:&nbsp;<span class="bw cl"><bdi>{% emoticons %}{{ reply.text }}{% endemoticons %}</bdi></span>

            <span class="sp cgy cxs mrl">&nbsp;{{ reply.submitted_on|human_time }}</span>

            </div>
           
        {% endif %}
        <hr size=1 COLOR="#E9EBEE">
        
        {% endfor %}

</div>
{% endif %}
    <br><br>
<input type="hidden" id="furl" name="furl" value="{{ furl }}">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script async type="text/javascript" src="{{ STATIC_URL }}js/module/helper_funcs.v1.12.js"></script>
{% endblock %}