{% extends "base.html" %}
{% load s3 %}
{% load human_time %}
{% block content %}

{% if visitors %}
<head><title>Mehfil visitors | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>
<h1 class="cxl clb" style="text-align:center;overflow:hidden">Visiting members:</span></h1>
<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">

	{% if show_init_msg %}
		<div style="padding:8px;background-color:ivory" class="bizcard mt mbs sp lsp">
			{% if is_owner %}
			<b>Message for mehfil owner:</b> neechay is mehfil ke pichley 1 day ke visitors nazar atey hain. Note karein ke officers ke nickname ke agey 'officer' nahi likha hua aur unki identity secret rakhi geyi hai. Is terah officers mehfil to behtar manage kar paien ge.
			{% else %}
			Yahan is mehfil ke pichley <b>1 day</b> ke visitors nazar atey hain
			{% endif %}
		</div>
	{% endif %}

	<div><a href="{% url 'public_group' unique %}" class="cb sp cs" style="border-bottom:1px dotted blue">back to mehfil</a></div>

	{% if object_list %}	
	<ul class="mt" style="display:inline-block;padding: 0;list-style:none">	
	{% for visitor_id,visitor,visit_time,row_num,status in object_list %}
		<li style="text-align:left;border-bottom:1px dashed lightgray">
		<div class="mtl mbl">
		<span class="cgy cxs sp">{{ row_num }}. </span>
		{% if status == 'green' %}
            <div class="st-dot" style="background-color:#00FF00;border:2px solid #00F200;"></div>
        {% elif status == 'idle' %}
            <div class="st-dot" style="background-color:#9BE29B;border:2px solid #91DF91;"></div>
        {% else %}
            <div class="st-dot" style="background-color:#C8C8C8;border:2px solid #C4C4C4;"></div>
        {% endif %}
		&nbsp;<a href="{% url 'user_profile' visitor.uname %}" class="clb"><img src="{{ visitor.avurl|s3:'thumb' }}" style="border-radius:50%" alt="pic">{% if visitor_id in stars %}&nbsp;<img src="{{ STATIC_URL }}img/gstar.svg" width="12" height="12" alt="*" style="color:gold">{% endif %}&nbsp;<b>{{ visitor.uname }}</b></a>{% if group_owner_id == visitor_id %}<img src="{{ STATIC_URL }}img/crown.svg" style="vertical-align:text-bottom" height="23" width="23" alt="(owner)" class="mll cxs sp cp">{% endif %}<span class="cxs sp cgy mll">seen {{ visit_time|human_time }}</span>
		</div>
		</li>
	{% endfor %}
	</ul>
	{% else %}
	<div class="sp mtl lsp cgy">Recently is mehfil ko kisi ne visit nahi kiya</div>
	{% endif %}

	<div class="mt mbs"><a href="{% url 'public_group' unique %}" class="cb sp cs" style="border-bottom:1px dotted blue">back to mehfil</a></div>
</div>
{% elif members %}
<head><title>Mehfil members | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>
<h1 class="cxl clb" style="text-align:center;overflow:hidden">Mehfil members:</span></h1>
<div class="clb bizcard" style="margin: 0 auto;max-width:600px;width:93%;padding:10px;background-color:white;text-align:center">
	
	
<form method="POST" action="{% url 'display_group_info_page' %}" style="text-align:center">{% csrf_token %}<button type="submit" class="cb cs sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to info</button><input type="hidden" name="guid" value="{{ unique }}"></form>

	{% if object_list %}	
	<ul class="mt" style="display:inline-block;padding: 0;list-style:none">	
	{% for member_id,member,joining_time,row_num in object_list %}
		<li style="text-align:left;border-bottom:1px dashed lightgray">
		<div class="mtl mbl">
		<span class="cgy cs sp">{{ row_num }}. </span>
		<a href="{% url 'user_profile' member.uname %}" class="clb"><img src="{{ member.avurl|s3:'thumb' }}" style="border-radius:50%" alt="pic">{% if member_id in stars %}&nbsp;<img src="{{ STATIC_URL }}img/gstar.svg" width="12" height="12" alt="*" style="color:gold">{% endif %}&nbsp;<b>{{ member.uname }}</b></a>{% if group_owner_id == member_id %}<img src="{{ STATIC_URL }}img/crown.svg" style="vertical-align:sub" height="23" width="23" alt="(owner)" class="mll sp cp">{% endif %}<span class="cxs sp cgy mll">joined {{ joining_time|human_time }}</span>
		</div>
		</li>
	{% endfor %}
	</ul>
	{% else %}
	<div class="sp mtl lsp cgy">Is mehfil ka koi member nahi</div>
	{% endif %}

	<form method="POST" action="{% url 'display_group_info_page' %}" class="mbs" style="text-align:center">{% csrf_token %}<button type="submit" class="cb cs sp" style="background:0 0;padding:0;border:none;border-bottom:1px dotted blue">back to info</button><input type="hidden" name="guid" value="{{ unique }}"></form>

</div>
{% endif %}

<br>
{% if is_paginated %}
	<div class="fx fxjscn fxaicn">
		{% if page_obj.has_previous %}
	    <div style="padding:0 10px">
	    <a href="?page={{ page_obj.previous_page_number }}#section0">{% include 'big_buttons/big_prev_button.html' %}</a>
	    </div>
	    {% endif %}
	    {% if page_obj.has_next %}
	    <div style="padding:0 10px">
	    <a href="?page={{ page_obj.next_page_number }}#section0">{% include 'big_buttons/big_next_button.html' %}</a>
	    </div>
	    {% endif %}
	</div>
{% endif %}	
<br>

{% endblock %}