{% extends "base.html" %}
{% load humanize %}
{% load comments %}
{% load mathfilters %}
{% load emoticons_tags %}
{% load thumbnail %}
{% block content %}
<div class="margin">
	{% if notification %}
	{% if type_of_object == '2' %}
			<span>
			<div style="background-color:lightyellow;border:solid;border-width:1px;border-color:green;">
			{% if first_time_user %}
			<span style="color:darkorange;font-size:90%;">
			Tumhe <b>welcome</b> pegham aya:
			</span>
			<br>
			{% else %}

				{% if parent.submitter.userprofile.avatar %}
					<img src="{{ parent.submitter.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
				{% else %}
					<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
				{% endif %}
				<span style="color:dimgrey;"><bdi>{{ parent.submitter.username }}</bdi></span>:<span style="color:dimgrey;">{% emoticons %} {{ parent.description|truncatechars:40 }}{% endemoticons %}</span>
			
				<p style="margin-top:.5em;"></p>
			
				<span style="color:darkorange;font-size:90%;">
				is pr <b>neya</b> jawab:
				</span>
				<p style="margin-top:.3em;"></p>
			{% endif %}	
			
			<a href="{% url 'reply_pk' parent_pk %}" style="font-size:95%;"><bdi>{{ latest_reply.submitted_by }}</bdi>
			{% for person in checked %}
		    {% if person == latest_reply.submitted_by.username %}
		    	<span style="font-size:110%;color:deeppink;"><b>*</b></span>
		    {% endif %}
		    {% endfor %}
			:<span style="font-size:110%;"><bdi style="color:#404040;">{% emoticons %} {{ latest_reply.description|truncatechars:70 }}{% endemoticons %}</bdi></span><span style="font-size:80%;font-family:'arial';color:gray;"><bdi>, {{ latest_reply.submitted_on|naturaltime }}</bdi>
			</span>
				<p style="margin-top:.5em;"></p>
				<button style="color:#1947d1;background-color:#ffeccc;border-color:orange;color:#1947D1;width:7em;white-space:nowrap;">isko jawab do</button></a>&nbsp;&nbsp;
				<a href="{% url 'x_notif' parent_pk ident 1 %}" style="color:red;font-size:90%;background-color:white;"><b>[x]</b></a>
			</div>
			<p style="margin-top:.5em;"></p>
			<hr size=1>
			<p style="margin-top:-0.9em;"></p>
			<hr size=1>

			<span style="color:green;font-size:90%;"><b>home</b> ki chat:</span>
			</span>
	{% elif type_of_object == '0' %}

		<div style="background-color:lightyellow;border:solid;border-width:1px;border-color:#00B800;">
		<span style="color:#ff8000;font-size:90%;">Photo pr <b>neya</b> tabsra:</span><p style="margin-top:.3em;"></p>
		<a href="{% url 'comment_pk' parent_pk %}" style="font-size:90%;">
		{% if parent.vote_score < -7 %}
			<img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
		{% elif parent.vote_score < -2 %}
			{% if parent.image_file %}
			<img src="{{ parent.image_file.url|thumbnail }}" alt="no pic" style="filter:brightness(50%);border:1px solid lightgrey;width:auto;"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.image_file.url|thumbnail }}" style="border:1px solid lightgrey"></img>
		{% endif %}
		<span style="color:grey;">{{ parent.caption|truncatechars:30 }}</span>
		<p style="margin-top:.3em;"></p>
		<bdi>{{ latest_comment.submitted_by }}</bdi><span style="text-shadow: 0 0 0.3px rgba(0,0,0,0.3);color:#404040;font-size:110%;">
				{% for person in checked %}
			    {% if person == latest_comment.submitted_by.username %}
			    	<span style="font-size:110%;color:deeppink;"><b>*</b></span>
			    {% endif %}
			    {% endfor %}
		:&nbsp;<bdi>{% emoticons %}{{ latest_comment.text|truncatechars:40 }}{% endemoticons %}</bdi></span><span style="font-size:90%;font-family:'arial';color:gray;"><bdi>, {{ latest_comment.submitted_on|naturaltime }}</bdi></span>
		<br>
		<p style="margin-top:.5em;"></p>
		<a href="{% url 'comment_pk' parent_pk %}"><button style="color:#1947d1;background-color:#ffeccc;border-color:orange;color:#1947D1;width:7em;white-space:nowrap;">tabsra kro</button></a>&nbsp;&nbsp;
		<a href="{% url 'cross_comment_notif' parent_pk user.id 1 0 %}" style="color:red;font-size:90%;background-color:white;"><b>[x]</b></a>
		</a>
		</div>
		<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
		<hr size=1>

				<span style="color:green;font-size:90%;"><b>home</b> ki chat:</span>
	{% elif type_of_object == '1' %}
		<div style="background-color:lightyellow;border:solid;border-width:1px;border-color:#00B800;">
		<span style="color:#ff8000;font-size:90%;"><b>{{ parent.owner }}</b> ne naee photo lagai:</span><p style="margin-top:.3em;"></p>
		<a href="{% url 'user_profile_photo' parent.owner.username parent_pk 1 %}" style="font-size:90%;">
		{% if parent.vote_score < -7 %}
			<img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
		{% elif parent.vote_score < -2 %}
			{% if parent.image_file %}
			<img src="{{ parent.image_file.url|thumbnail }}" alt="no pic" style="filter:brightness(50%);border:1px solid lightgrey;width:auto;"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
			{% endif %}
		{% else %}
			<img src="{{ parent.image_file.url|thumbnail }}" style="border:1px solid lightgrey"></img>
		{% endif %}
		<span style="color:grey;">{{ parent.caption|truncatechars:30 }}</span>
		<p style="margin-top:.3em;"></p>
		<button style="color:#1947d1;background-color:#ffeccc;border-color:orange;color:#1947D1;width:7em;white-space:nowrap;">isko dekho</button>
		</a>&nbsp;&nbsp;
		<a href="{% url 'cross_comment_notif' parent_pk user.id 1 1 %}" style="color:red;font-size:90%;background-color:white;"><b>[x]</b></a>
		</div>
			<p style="margin-top:.5em;"></p>
				<hr size=1>
				<p style="margin-top:-0.9em;"></p>
			<hr size=1>
				<span style="color:green;font-size:90%;"><b>home</b> ki chat:</span>
		{% endif %}
	{% else %}
			{% if authenticated %}
				{% if random == 1 %}
					<span style="color:orange;font-size:90%;"><b>Taza tareen: </b><b><a href="{% url 'top_photo' %}#section0"><u>top photo uploaders</u></a></b> ki list</span>
				{% else %}
					{% if username == newest_user.username %}
					<span style="color:purple;font-size:90%;"><b>Taza tareen</b>:<b style="color:green;"> {{ newest_user.username }}</b> new hai, isko welcome karo!</span>
					{% else %}
					<span style="color:purple;font-size:90%;"><b>Taza tareen</b>:<b style="color:green;"> {{ newest_user.username }}</b> new hai, isko <a href="{% url 'welcome_pk' pk=newest_user.pk %}"><u><b>mithai bhejo</b></u></a></span>
					{% endif %}
				{% endif %}
			{% else %}
				<span style="color:purple;"><a href="{% url 'register_login' %}#section0"><u>Account bana</u></a> kr yahan chat karo:</span>
			{% endif %}
	{% endif %}
		<p style="margin-top:.5em;">
		{% if is_paginated %}
		<span start="{{ page_obj.start_index }}">
		{% else %}
		<span>
		{% endif %}
		</p>

{% for link in object_list %}
		
	{% if forloop.counter == 3 %}
		<div style="background-color:#BCF5A9;margin-top:-1em;padding-top:1em;"><span style="font-weight:bold;color:green;">{% if authenticated %}<a href="{% url 'auth_pics_display' %}#section0">{% else %}<a href="{% url 'pic_upload' %}">{% endif %}<u>Yahan se</u></a> muft mein apni photos dostoon ko SMS ke zariye bhejo!</span><a href="{% url 'pic_help' %}" style="font-size:85%;"> (?)</a><br><br><hr size=1 COLOR="#cccccc"></div>
	{% endif %}

	{% if link.cagtegory == '2' %}
		<div style="background-color:#F6CEF5;margin-top:-1em;padding-top:1em;">
		<span style="font-size:80%;color:red;"><b>(new) </b></span><a href="{% url 'profile' slug=link.submitter %}#section0">
		{% if link.submitter.userprofile.avatar %}
			<img src="{{ link.submitter.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
		{% endif %}<span style="font-size:120%;">
		{{ link.submitter }}</span>
		{% for person in checked %}
		    {% if person == link.submitter.username %}
		    	<span style="font-size:130%;color:deeppink;"><b>*</b></span>
		    {% endif %}
		    {% endfor %}
		</a><span style="font-size:110%;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);color:#404040;"> ki naee <b>mehfil</b> mein gup lagao: <a href="{% url 'public_group' slug=link.url %}" style="color:red;text-shadow: 0 0 0px rgba(0,0,0,0.3)"><u>{{ link.description }}</u></a></span><span style="font-size:75%;font-family:'arial';color:gray;"><bdi>, {{ link.submitted_on|naturaltime }}</bdi></span>
		<p style="color:gray"><hr size=1></p>
		</div>
	{% elif link.cagtegory == '6' %}
	<div style="margin-top:-1em;padding-top:1em;">
		
		{% if link.submitter.hotuser.allowed and link.submitter.hotuser.hot_score > 9 %}
	    	<a href="{% url 'bari_photo_help' link.which_photostream.cover_id %}#section0"><div style="font-size:80%;color:grey;margin-bottom:-1em;">(barri photo ?)</div></a>
	    	<br>
			<a href="{% url 'see_photo_pk' link.which_photostream.cover_id %}#section0">
	    	<img style="width:100%;max-width:400px;border:1px solid blue;" src="{{ link.which_photostream.cover.image_file.url }}"></img>
	    	</a>
	    	<br>
		{% endif %}
		<a href="{% url 'profile' link.submitter.username %}#secton0">
		{% if link.submitter.userprofile.avatar %}
			<img src="{{ link.submitter.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>
			{% else %}
			<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
		{% endif %}
		<span style="font-size:110%;">
		{{ link.submitter }}</span>
		    		<span style="font-size:85%;">
		{% if authenticated and score > 25 %}				
			{% if link.submitter.userprofile.score < 0 %}
		    	<span style="color:#18A018;">(1)</span>
		    {% else %}
		    	<span style="color:#18A018;">({{ link.submitter.userprofile.score }})</span>
			{% endif %}
		{% endif %}
		</span>{% for person in checked %}
		    {% if person == link.submitter.username %}
		    	<span style="font-size:120%;color:deeppink;"><b>*</b></span>
		    {% endif %}
		    {% endfor %}</a>:<a name="section{{ forloop.counter }}"></a>&nbsp;
		    {% if not link.submitter.hotuser.allowed or not link.submitter.hotuser.hot_score > 9 %}
		    <a href="{% url 'see_photo_pk' link.which_photostream_id %}">
		    {% if link.which_photostream.cover.vote_score < -7 %}
		    	<img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
		    {% elif link.which_photostream.cover.vote_score < -2 %}
			    {% if link.which_photostream.cover.image_file %}
			    <img src="{{ link.which_photostream.cover.image_file.url|thumbnail }}" style="filter:brightness(50%);border:1px solid blue;width:auto;"></img>
			    {% else %}
			    <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
			    {% endif %}
		    {% else %}
			    {% if link.which_photostream.cover.image_file %}
			    <img src="{{ link.which_photostream.cover.image_file.url|thumbnail }}" style="border:1px solid blue;width:auto;"></img>
			    {% else %}
			    <img src="{{ STATIC_URL }}img/broken_pic.png" alt="no pic" width="38px;"></img>
			    {% endif %}
		    {% endif %}
		    </a>
		    {% endif %}
		    <span style="color:#404040; font-size:115%; line-height:1.8;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);"><bdi>{% emoticons %}{{ link.description }}{% endemoticons %}</bdi></span>
			
		
				<span style="font-size:75%;color:gray;"><bdi>, {{ link.submitted_on|naturaltime }}</bdi>
	{% if authenticated %}
		{% if link.device == '1' %}
		<a href="{% url 'device_help' 1 %}">&nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic"></img></a>
		{% elif link.device == '2' %}
		<a href="{% url 'device_help' 2 %}">&nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic"></img></a>
		{% elif link.device == '4' %}
		<a href="{% url 'device_help' 4 %}">&nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic"></img></a>
		{% elif link.device == '5' %}
		<a href="{% url 'device_help' 5 %}">&nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic"></img></a>
		{% elif link.device == '3' %}
		<a href="{% url 'device_help' 3 %}">&nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic"></img></a>
		{% else %}
		{% endif %}
	{% endif %}
		</span>
		<p style="margin-top:.5em;">
	{% if link.submitter.hotuser.allowed and link.submitter.hotuser.hot_score > 9 %}
		<a href="{% url 'comment_pk' pk=link.which_photostream.cover_id %}">
	{% else %}
		<a href="{% url 'comment_chat_pk' pk=link.which_photostream.cover_id %}">
	{% endif %}
		<button style="background-color:#FFEFD5;border-color:orange;color:#1947D1;width:7em;white-space:nowrap;font-size:90%;">
		{% if link.which_photostream.cover.comment_count > 1 %}
		{{ link.which_photostream.cover.comment_count }} tabsrey
		{% elif link.which_photostream.cover.comment_count == 1 %}
		1 tabsra
		{% else %}tabsra kro
		{% endif %}
		</button></a>
		</p>
	<p><hr size=1 COLOR="#cccccc"></p>
	</div>
	{% else %}

		<a href="{% url 'profile' slug=link.submitter %}#section0">
		{% if link.submitter.userprofile.avatar %}

			<img src="{{ link.submitter.userprofile.avatar.url|thumbnail }}" alt="no pic"></img>

		{% else %}
		
		<img src="{{ STATIC_URL }}img/default-avatar-min.jpg" alt="no pic"></img>
		
		{% endif %}

			<span class="bigger" style="font-family:arial;line-height:1.8; display:inline;text-shadow:0 0 0px #8080FF;"><bdi>{{ link.submitter }}</bdi></span></a>
		
		<span style="font-size:85%;">
		{% if authenticated and score > 25 %}				
			{% if link.submitter.userprofile.score < 0 %}
		    	<span style="color:#18A018;">(1)</span>
		    {% else %}
		    	<span style="color:#18A018;">({{ link.submitter.userprofile.score }})</span>
			{% endif %}
		{% endif %}
		</span>

		    {% for person in checked %}
		    {% if person == link.submitter.username %}
		    	<span style="font-size:150%;color:deeppink;"><b>*</b></span>
		    {% endif %}
		    {% endfor %}:
    	<span style="color:#404040; font-size:115%; line-height:1.8;text-shadow: 0 0 0.3px rgba(0,0,0,0.3);"><bdi>{% emoticons %}{{ link.description }}{% endemoticons %}</bdi></span>
			<a name="section{{ forloop.counter }}"></a> 
		<span style="font-size:75%;color:gray;"><bdi>, {{ link.submitted_on|naturaltime }}</bdi>
	{% if authenticated %}
		{% if link.device == '1' %}
		<a href="{% url 'device_help' 1 %}">&nbsp;<img src="{{ STATIC_URL }}img/featurephone.png" alt="no pic"></img></a>
		{% elif link.device == '2' %}
		<a href="{% url 'device_help' 2 %}">&nbsp;<img src="{{ STATIC_URL }}img/smartphone.png" alt="no pic"></img></a>
		{% elif link.device == '4' %}
		<a href="{% url 'device_help' 4 %}">&nbsp;<img src="{{ STATIC_URL }}img/tablet.png" alt="no pic"></img></a>
		{% elif link.device == '5' %}
		<a href="{% url 'device_help' 5 %}">&nbsp;<img src="{{ STATIC_URL }}img/other.png" alt="no pic"></img></a>
		{% elif link.device == '3' %}
		<a href="{% url 'device_help' 3 %}">&nbsp;<img src="{{ STATIC_URL }}img/laptop.png" alt="no pic"></img></a>
		{% else %}
		{% endif %}
	{% endif %}
		</span>
		<p style="margin-top:.5em;">
			
				{% if link.reply_count > 0 %}
						<a href="{% url 'reply_pk' link.pk %}"><button style="background-color:white;border-color:orange;color:#1947D1;width:7em;white-space:nowrap;font-size:90%;"><b style="text-shadow:none;">{{ link.reply_count }} jawab</b></button></a>
				{% else %}
						<a href="{% url 'reply_pk' link.pk %}"><button style="background-color:white;border-color:orange;color:#1947D1;width:7em;white-space:nowrap;font-size:90%;">isko jawab do</button></a>
				{% endif %}
			<br>
		{% if can_vote and link.submitter != user and link.pk not in voted %}
			<a href="{% url 'vote' link.pk ident forloop.counter 1 %}"><button style="background-color:#2DB92D;border-color:#2DB92D;color:white;width:5em;white-space:nowrap;font-size:90%;margin-top:0.7em;">jhappee</button></a>
			{% if user.username in checked %}<a href="{% url 'vote' link.pk ident forloop.counter 2 %}" style="font-size:90%;color:green;"><u>+50</u></a>{% endif %}<br>
			<a href="{% url 'vote' link.pk ident forloop.counter 0 %}"><button style="background-color:#FF1A1A;border-color:#FF1A1A;color:white;width:5em;white-space:nowrap;font-size:90%;margin-top:0.25em;">chupair</button></a>
			{% if user.username in checked %}<a href="{% url 'vote' link.pk ident forloop.counter 3 %}" style="font-size:90%;color:red;"><u>-300</u></a>{% endif %}<br>
		{% endif %}
		</p>
		{% if authenticated %}
		<p style="margin-top:.5em;">
		{% endif %}
		{% if authenticated and can_vote %}
			{% if link.votes != 'None' %}
				{% for vote in vote_cluster reversed %}
					{% if link.id == vote.link_id %}
						{% if vote.value == -1 %}
							<span style="color:red;font-size:80%;"><b><a href="{% url 'vote_or_profile' pk=vote.voter_id id=vote.id num=link.submitter_id %}#section0">
							{% if vote.voter.username in checked %}
								{{ vote.voter.username }}<span style="color:deeppink;">*</span>
							{% else %}
								{{ vote.voter.username }}
							{% endif %}
								</a></b> ne bhare bazar me chupair mari<br></span>
						{% endif %}
						{% if vote.value == 1 %}
							<span style="color:green;font-size:80%;"><b><a href="{% url 'vote_or_profile' pk=vote.voter_id id=vote.id num=link.submitter_id %}#section0">
							{% if vote.voter.username in checked %}
								{{ vote.voter.username }}<span style="color:deeppink;">*</span>
							{% else %}
								{{ vote.voter.username }}
							{% endif %}
								</a></b> ne barri si jhappi di<br></span>
						{% endif %}
						{% if vote.value == -2 %}
							<span style="color:red;font-size:80%;"><b><a href="{% url 'vote_or_profile' pk=vote.voter_id id=vote.id num=link.submitter.id %}#section0">
							{{ vote.voter.username }}<span style="color:deeppink;">*</span>
							</a></b> ne chupair mr mr kr nani yad kara di <b>(-300)</b><br></span>
						{% endif %}
						{% if vote.value == 2 %}
							<span style="color:green;font-size:80%;"><b><a href="{% url 'vote_or_profile' pk=vote.voter_id id=vote.id num=link.submitter.id %}#section0">
							{{ vote.voter.username }}<span style="color:deeppink;">*</span>
							</a></b> ne zordar jhappi di <b>(+50)</b><br></span>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</p>
		{% endif %}
		<p><hr size=1 COLOR="#cccccc"></p>
	{% endif %}
{% endfor %}
</div>
</span>


{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0" style="font-family:arial;"><button style="color:#1947d1;background-color:#FFEFD5;border-color:red;width:5em;white-space:nowrap;"><b style="color:red;text-shadow:0 0 0px red;"><</b><bdi>&nbsp;wapis</bdi></button></a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0" style="font-family:arial;"><button style="color:#1947d1;background-color:#FFEFD5;border-color:green;width:5em;white-space:nowrap;"><bdi>aagey&nbsp;</bdi><b style="color:green;text-shadow:0 0 0px green;">></b></button></a>
    {% endif %}
</div>
{% endif %}
{% endblock %}


