{% extends "base.html" %}
{% load show_error %}
{% load future_time %}
{% load emoticons_tags %}
{% block content %}
<head><title>Share text on Damadam | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>

{% include "content/share_content_navbar.html" with static_url=STATIC_URL section='text' %}

<h1 class="cxl clb lsp" style="text-align:center">Share text post on Damadam:</h1>
	<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:450px;width:92%;margin:0 auto;overflow: hidden">

	{% if show_instructions %}
		<div class="bizcard mbl" style="background-color:#ffffe6;padding:4px 8px 6px 8px">
		<div style="text-align:center" class="cxl lsp">Welcome! Damadam pe purey Pakistan se users atey hain. Unke sath koi interesting cheez share karein!</div>
		<hr size=1 COLOR="#E9EBEE">
		<div class="mt sp lsp">1) Maslan poetry, latest news, paheliyan (riddles), quotes, jokes and stories, sports, politics, religion, celebrities, fashion, nature or philosophy</div>
		<div class="mts sp lsp">2) Apke shared items users voting ke zariye like ya dislike karein ge</div>
		<div class="mts sp lsp">3) Vulgarity, abuse and firqa wariyat sakhti se mana hain. Aik dafa <a href="{% url 'website_rules' %}#section0" class="cb" style="border-bottom:1px dotted blue">Damadam rules</a> zarur dekh lein</div>
		</div>
	{% endif %}

	{% if forbidden %}
		
		{% load get_display_ban_msg %}
		<div class="mtl">
		{% display_ban_msg static_url=STATIC_URL is_banned=is_profile_banned is_defender=defender is_own_profile=own_profile time_remaining=time_remaining uname=uname ban_detail=ban_details %}
		</div>

	{% else %}

		{% if form.errors %}<div style="text-align:center" class="cr cl">{{ form.errors|show_error }}</div>{% endif %}
		<form method="post" style="text-align:center" class="mbs" action="" enctype="multipart/form-data">
		  {% csrf_token %}
		  <input type="hidden" name="sk" value="{{ sk }}">
		  <div class="mt mbs">{{ form.description }}</div>
			<button class="btn bl bct mt mbs sp pg_ok_res" style="width:100%;height:38px" name="btn" value="1" type="submit"><b>SHARE</b></button>
		</form>

		{% if not show_instructions %}

		<div class="cgy sp cs lsp mbs" style="text-align:left">
			<div style="font-weight:bold">HELP:</div>
			<div class="mt" style="text-align:left"><span class="cgy cs">1)</span> Is kisam ki posts share karein: latest news, paheliyan (riddles), poetry and attitude quotes, jokes, your stories, sports, politics, religion, celebrities, fashion, nature waghera</div>
			<div class="mts" style="text-align:left"><span class="cgy cs">2)</span> Vulgarity, abuse and firqa wariyat sakhti se mana hain. Aik dafa <a href="{% url 'website_rules' %}#section0" target="_blank" class="cb" style="border-bottom:1px dotted blue">Damadam rules</a> zarur dekh lein</div>
			<div class="mts" style="text-align:left"><span class="cgy cs">3)</span> One day mein {{ sharing_limit }} se ziyada items share nahi hotay</div>
			<div class="mts" style="text-align:left"><span class="cgy cs">4)</span> Agr sentence ke end mein 'new line' <img src="{{ STATIC_URL }}img/enter_key.svg" width="14" height="14" style="vertical-align:text-bottom"> dalein tou post 'new line' ke sath display ho gi</div>
		</div>

		{% endif %}

	{% endif %}

</div>
<br><br>
{% endblock %}