{% extends "base.html" %}
{% load comments %}
{% load bootstrap_pagination %}

{% block content %}
{% if is_paginated %}
<ol start="{{ page_obj.start_index }}">
{% else %}
<ol>
{% endif %}
{% for link in object_list %}
<form method="POST" action="{% url 'vote' %}" class="vote_form">
	<li> [{{ link.rank_score }}{{ " rank" }}]
	{% if link.votes %}
		{% if link.votes == 1 %}
			[{{ "1 vote" }}]
		{% else %}
			[{{ link.votes }}{{ " votes" }}]
		{% endif %}
	{% else %}
		[{{ "0 votes" }}]
	{% endif %}	
	{% csrf_token %} 
	<input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />
	<input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
	<input type="hidden" id="id_value" name="value" class="hidden_id" value="1" />
	{% if not user.is_authenticated %}
	<button disabled title="LOGIN karien takey vote kar sakien">vote</button>
	{% elif link.pk not in voted %}	
	<input type="submit" id="id_valup" name="val" value="↑" />
	<input type="submit" id="id_valdown" name="val" value="↓" />
	{% else %}
	<button>unvote</button>
	{% endif %}
		<a href="{% url 'link_detail' pk=link.pk %}"> 
		<b>{{ link.description }}</b>
		{% get_comment_count for link as comment_count %}
		{{ comment_count }} comment{{ comment_count|pluralize}}
		</a>
	</li>
</form>
{% endfor %}
</ol>
{% endblock %}

{% block pagination %}

 {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}

{% endblock %}