{% extends "base.html" %}
{% load mathfilters %}
{% load tz %}
{% load comments %}
{% load humanize %}
{% load urlize_target_blank %}
{% block content %}
<style>
  #id_honeypot {
    display: none;
  }
</style>
<form  method="POST" action="{% url 'vote' %}" class="vote_form">
  {% csrf_token %}
  <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}">
  
  {% if not user.is_authenticated %}
    {% if token in request.get_full_path  %}
      <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="1">
    {% else %}
      <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}">
    {% endif %}
  {% else %}
    <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}">
  {% endif %}
  
  <input type="hidden" id="id_token" name="token" class="hidden_id" value="{{ token }}">  
  <input type="hidden" id="id_page" name="section_number" value="0">  
<div class="margin"style="margin-left:5px;">

{% if object.submitter == user %}
  <a style="font-size:10px" href="{% url 'link_update' pk=object.pk %}#section0">Edit <b style="color:black">|</b></a> 
  <a style="font-size:10px" href="{% url 'link_delete' pk=object.pk %}#section0"> Delete</a>
  <br><span style="color:gray;font-size:80%"><i>jitni jhappiyan milay gi, apki post utni mashoor ho gi!</i></span>
{% endif %}

<div class="desc"><p>
{% if object.submitter.username == 'unregistered_bhoot' %}
<b>unregistered_bhoot</b>: 
<!--
  {% if link.image_file %}
      <img src="{{ link.image_file.url }}"></img>
  {% else %}
    <img src="{{ STATIC_URL }}img/default-thumbnail.jpg"></img>
  {% endif %}
-->
<a class="info" style="font-family:'Noto Nastaliq Urdu Draft',arial;line-height:1.8;">{{ object.description|urlize_target_blank:25 }}</a>
{% else %}
<a href="{% url 'profile' slug=object.submitter %}#section0"><b style="font-family:'Noto Nastaliq Urdu Draft',arial;line-height:1.8;">{{ object.submitter }}</b></a>: 
<!--
 {% if link.image_file %}
      <img src="{{ link.image_file.url }}"></img>
  {% else %}
    <img src="{{ STATIC_URL }}img/default-thumbnail.jpg"></img>
  {% endif %}
-->
<a class="info" style="font-family:'Noto Nastaliq Urdu Draft',arial;line-height:1.8;">{{ object.description|urlize_target_blank:25 }}</a>
{% endif %}
<span style="font-family:arial; color: gray; line-height:1.2;text-shadow:0 0 0.1px gray;font-size:70%;"><bdi>, {{ link.submitted_on|naturaltime }}</bdi></span>
{% if object.url %}
  Link: <a href="{{ object.url }}" target="_blank" class:"wrapping" style="font-family:'Noto Nastaliq Urdu Draft',arial;line-height:1.8;">{{ object.url|urlize_target_blank:25 }}</a>
{% endif %}
<a class="countofvotes">
    {% if not link.votes %}
      <span style="color:green;font-size:90%;">0 jhappee</span>
    {% endif %}
    {% if link.votes %} 
      {% if link.votes > -1 %}
        {% if link.votes == 0 %}
          <span style="color:green;font-size:90%;">0 jhappee</span>
        {% else %}
          {% if link.votes == 1 %}
            <span style="color:green;font-size:90%;">1 jhappee</span>
          {% else %}
            <span style="color:green;font-size:90%;">{{ link.votes }} jhappiyan</span>
          {% endif %}
        {% endif %}
      {% else %}
        {% if link.votes == -1 %}
          <span style="color:red;font-size:90%;">1 chupair</span>
        {% else %}
          <span style="color:red;font-size:90%;">{{ link.votes|abs }} chupairein</span>
        {% endif %}
      {% endif %}
    {% endif %}  
  </a>
{% if not user.is_authenticated %}
  {% if token in request.get_full_path  %}
    <span style="white-space:nowrap;">
    <input class="voting" type="submit" id="id_valup" name="val" style="color:white;background-color:#2FC12F;border:none;text-shadow:0 0 0px white;font-size:80%;" value="jhappee maro">
    <input  class="voting" type="submit" id="id_valdown" name="val" style="color:white;background-color:#FF0000;border:none;text-shadow:0 0 0px white;font-size:80%;margin-right:0.3em;" value="chupair maro">
    </span>
  {%else %}
  <!--
    <span style="font-size:80%;white-space:nowrap;color:#666666;">...pasand aya?</span>
    <span = style="white-space:nowrap;">
    <button onclick="location.href='{% url 'registration_register' %}'" class="voting" id="id_valup" type="button" style="color:white;background-color:#2FC12F;border:none;text-shadow:0 0 0px white;font-size:90%;margin: auto;">yes</button>
    <button onclick="location.href='{% url 'registration_register' %}'" class="voting" id="id_valdown" type="button" style="color:white;background-color:#FF0000;border:none;text-shadow:0 0 0px white;font-size:90%;margin: auto;">no</button>
    </span>
    -->
  {% endif %}
  
{% elif link.pk not in voted %}
  <span = style="white-space:nowrap;">
    <input class="voting" type="submit" id="id_valup" name="val" style="color:white;background-color:#2FC12F;border:none;text-shadow:0 0 0px white;font-size:80%;" value="shabaash do">
    <input  class="voting" type="submit" id="id_valdown" name="val" style="color:white;background-color:#FF0000;border:none;text-shadow:0 0 0px white;font-size:80%;margin-right:0.3em;" value="chupair maro">
    </span>
{% else %}
  <!--
    <button style="background-color:white;color:#1947D1;box-shadow: 0 0 0.2px #335CD6;border-radius:3px;font-size:90%;font-family:arial;">wapis lo</button>
  -->
  {% endif %}
  {% if object.submitter == user %}
    {% if link.url %}
      <a href="sms:+92345?body=http://damadam.pk/link/{{ link.id }}/{{ token }}#section0 Yar mien ne yahan kuch likha hai, pasand aye tou YES wala sabz button dabao" class="sms" style="font-family:arial;font-size:80%;white-space:nowrap;">vote maango >></a>
    {% else %}
      <a href="sms:+92345?body=http://damadam.pk/link/{{ link.id }}/{{ token }}#section0 Yar mien ne yahan kuch likha hai, pasand aye tou YES wala sabz button dabao" class="sms" style="font-family:arial;font-size:80%;white-space:nowrap;">vote maango >></a>
    {% endif %}
  {% else %}
    {% if link.url %}
      <a href="sms:+92345?body=Yar ajao muft main chat karo hamarey saath http://damadam.pk par" class="sms" style="font-family:arial;font-size:95%;font-weight:bold;white-space:nowrap;">dost ko bulao >></a>
    {% else %}
      <a href="sms:+92345?body=Yar ajao muft main chat karo hamarey saath http://damadam.pk par" class="sms" style="font-family:arial;font-size:95%;font-weight:bold;white-space:nowrap;">dost ko bulao >></a>
    {% endif %}
  {% endif %}
</form>
  <!-- -->
</p>
<div class="comments">
<p style="color:gray"><hr size=1></p>
{% get_comment_count for link as comment_count %}
<a name="sectionJ"></a> 
  <h3>{{ comment_count }} Jawab:</h3>

  <div class="comment_form">
{% if user.is_authenticated %}
  {% get_comment_form for object as form %}
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="name" value="{{ user }}">
    <input type="hidden" name="email" value="{{ user.email|default:'d@ummy.com' }}">
    <input type="hidden" name="url" value="">
    <input type="hidden" name="next" 
     value="{% url 'link_detail' pk=object.id %}#sectionJ2">
   <a name="sectionJ2"></a> 
   <h3> <input class="button"  style="width:115px;background-color:#F6F6F6;text-align:center" type="submit" value="Add jawab" id="id_submit"></h3>
  </form>
{% else %}
  <p><i>Jawab denay ke liye <a href="{% url 'registration_register' %}#section0">register</a> karo.</i></p>
{% endif %}
  </div>
  </div>

{% get_comment_list for object as comment_list %}
  {% for comment in comment_list reversed %}
  <p>
  <div class="comment">
  <a href="{% url 'profile' slug=comment.user_name %}" style="font-family:'Noto Nastaliq Urdu Draft', arial; line-height:1.2;text-shadow:0 0 0.1px #8080FF;">{{ comment.user_name }}</a>:
    <a class="info" style="font-family:'Noto Nastaliq Urdu Draft', arial;line-height:1.2;text-shadow:0 0 0.1px #808080;">{{ comment.comment }}</a>
    </div>
   <div class="date" style="font-family:'Noto Nastaliq Urdu Draft', arial; line-height:1.2;text-shadow:0 0 0.1px #B4B4B4;">
   ,{{ comment.submit_date|naturaltime }}
   </div>
   </p>
  {% endfor %}

</div>
</div>
{% endblock %}