{% extends "base.html" %}
{% load humanize %}
{% load comments %}
<!--{% load bootstrap_pagination %}-->
{% load urlize_target_blank %}
{% block content %}

{% if is_paginated %}
<ul start="{{ page_obj.start_index }}" class="zebra">
{% else %}
<ul class="zebra">
{% endif %}
{% for link in object_list %}
<li class="zebra">
<form  method="POST" action="{% url 'vote' %}" class="vote_form">
	{% csrf_token %}
	<input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}">
	<input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}">
	<input type="hidden" id="id_value" name="value" class="hidden_id" value="1">	
	<input type="hidden" id="id_page" name="section_number" value="{{ forloop.counter }}">	
	<!--{{ link.rank_score|floatformat:10 }}-->
    <span class="numbers">
    <b>
    {% if not page_obj.number|add:"-1" %}
    	{{ forloop.counter }}.
    {% else %}
    	{% if forloop.counter == 10 %}
    		{{ page_obj.number }}0.
    	{% else %}	
    		{{ page_obj.number|add:"-1" }}{{ forloop.counter }}.
    	{% endif %}
    {% endif %}
    </b>
    </span>
    {% if link.submitter.username == 'unregistered_bhoot' %}
    	<span class="bigger" style="color:#666666;">unregistered_bhoot:</span>
	{% else %}
		<a href="{% url 'profile' slug=link.submitter %}" class="bigger" style="font-family:'Noto Nastaliq Urdu Draft',arial;line-height:1.8; display:inline;text-shadow:0 0 0.1px #8080FF;">{{ link.submitter }}</a>
		{% if user.is_authenticated %}
			{% if user.usersettings.score_setting == '1' %}
				{% if link.submitter.userprofile.score %}
					{% if link.submitter.userprofile.score < 0%}
			    	<span style="color:red;">({{ link.submitter.userprofile.score }})</span>
			    	{% else %}
			    	<span style="color:#18A018;">({{ link.submitter.userprofile.score }})</span>
					{% endif %}
		    	{% else %}
		    	{% endif %}
		    {% else %}
		    {% endif %}
	    {% endif %}<b>:</b>
    {% endif %}
    <span style="color:black; font-size:125%; font-family:'Noto Nastaliq Urdu Draft', arial; line-height:1.8;text-shadow:0 0 0.1px #808080;">{{ link.description|urlize_target_blank:25 }}</span>
	<a name="section{{ forloop.counter }}"></a> 

	{% if link.url %}
		<b><span style="font-size:121%; font-weight:100; font-family:'Noto Nastaliq Urdu Draft', arial; line-height:1.8;text-shadow:0 0 0.1px #8080FF;"><a href="{{ link.url }}" target="_blank">{{ link.url|urlize_target_blank:25 }}</a></span></b>
	{% endif %} 
	<span style="font-size:90%;font-family:arial;">{{ link.submitted_on|naturaltime }}</span>
	<p style="margin-top:.8em">
	<a class="countofvotes">
	{% if link.votes %}
		{% if link.votes == 1 %}
			{{ "1 vote" }}
		{% else %}
			{{ link.votes }}{{ " votes" }}
		{% endif %}
	{% else %}
		{{ "0 votes" }}
	{% endif %}	 
	</a>
	{% if not user.is_authenticated %}
		<a href="{% url 'registration_register' %}" class="fakebutton" style="background-color:#335CD6">vote</a>
	{% elif link.pk not in voted %}	
		<input class="voting" type="submit" id="id_valup" name="val" style="color:white;background-color:#2FC12F;font-weight:bolder;border:none;text-shadow:0 0 0.3px white;" value="↑">
		<input  class="voting" type="submit" id="id_valdown" name="val" style="color:white;background-color:#FF0000;font-weight:bolder;border:none;text-shadow:0 0 0.3px white;" value="↓">
	{% else %}
		<button style="background-color:white;color:#1947D1;box-shadow: 0 0 0.2px #335CD6;border-radius:3px;">unvote</button>
	{% endif %}
	<a href="sms:+92345?body={{ link.description|add:". Aur dekho MUFT main http://damadam.pk par"|urlencode }}" class="sms">SMS</a>
	{% get_comment_count for link as comment_count %}
	{% if comment_count %}
		<a href="{% url 'link_detail' pk=link.pk %}" style="color:#0033CC;text-shadow:0 0 0.1px #8099E6;cursor: pointer;">
		{{ comment_count }} comment{{ comment_count|pluralize}}</a>
		</a>
	{% else %}
		<a href="{% url 'link_detail' pk=link.pk %}" style="color:#0033CC;text-shadow:0 0 0.1px #8099E6;cursor: pointer;">comment karo</a>
	{% endif %}
	</p> 
	</form>
	</li>
{% endfor %}
</ul>


{% endblock %}

{% block pagination %}
{% if is_paginated %}
<div class="pagination">
	{% if page_obj.has_previous %}
    &nbsp;&nbsp;&nbsp;<a href="?page={{ page_obj.previous_page_number }}#section0"><b  style="color:red;text-shadow:0 0 0.1px red;">&leftarrow;</b>pichla safa</a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#section0">agla safa<b style="color:green;text-shadow:0 0 0.1px green;">&rightarrow;</b></a>
    {% endif %}
</div>
{% endif %}
 <!--{% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}-->
{% endblock %}


