{% extends "base.html" %}
{% block content %}
{% load emoticons_tags %}

<div class="margin">
{% if banned %}
	<span class="clb">Tum home pe likh sko ge <b>{{ time_remaining }}</b> ke baad</span>
	<br>
	<span class="cs ct">Aesi baatein na likho jin se mahol kharab ho aur log bura manaein</span>
{% else %}

	<form method="post" action="" enctype="multipart/form-data">
	  {% csrf_token %}
	  {% if form.description.errors %}
	  <span class="cr">{{ form.description.errors.0 }}</span>
	  {% else %}
		  {% if user.userprofile.score < 8 %}
		  <span class="cm ct"><b>Chat ke liye neechay kuch likho:</b></span>
		  {% else %}
		  <span class="cm ct"><b>Kuch likho:</b></span>
		  {% endif %}
	  {% endif %}
	  <br>{{ form.description }}<br>
	  	{% if warned %}
		<span class="cs cr"><b>Warning:</b> tumhari posts home pe pasand nahi ki ja rahein</span><br>
		{% endif %}
		{% if user.userprofile.score <= threshold %}
	  	<button class="btn bm bct mtl" name="btn" value="1" type="submit">OK</button>
	  	{% else %}
	  	<button class="btn bm bct mbs mtl" name="btn" value="1" type="submit">OK</button><br>
	  	<hr size=1 COLOR="#d1d1e0">
	  	<span class="cgy cs">Choro OK, upr likho PSL ki team ke bare mein, aur phir dabao us team ka button:</span><br>
	  	<button class="btn bl mtl" name="btn" value="3" style="background-color:#244ed8;border-color:#1a3799;" type="submit">Kings</button><br>
	  	<button class="btn bl mtl" name="btn" value="4" style="background-color:#ddcc5e;border-color:#bda928;" type="submit">Zalmi</button><br>
	  	<button class="btn bl mtl" name="btn" value="5" style="background-color:#eb2727;border-color:#bb1111;" type="submit">Qalandars</button><br>
	  	<button class="btn bl mtl" name="btn" value="7" style="background-color:#9040a8;border-color:#4f235c;" type="submit">Gladiators</button><br>
	  	<button class="btn bl mtl" name="btn" value="8" style="background-color:#ff4500;border-color:#b33000;" type="submit">United</button><br>
	  	{% endif %}
	</form>
	{% if user.userprofile.score and user.userprofile.score < 8 and not warned %}
	<span class="cs cgy"><i>maslan likho: aap sub kaise hain?</i></span><br>
	{% endif %}
	<br>
	<hr size=1>
	<span class="cs cgy"><b>Faces banane ke liye unke sath likhe harf likho:</b></span><br>
	<span class="cs cgy"><b>.</b> zarur likhna&nbsp;</span><span class="cs">|</span>&nbsp;{% if feature_phone %}<a href="{% url 'faces_pages' %}" class="cs">{% else %}<a href="{% url 'faces' %}" class="cxs">{% endif %}faces full list</a>

	{% emoticons_index as emoticons_list %}

	{% for emoticons in emoticons_list %}
	{% if forloop.counter in random %}
	
	<p>{{ emoticons.0|emoticons }}&nbsp;&nbsp;<b class="cm">{{ emoticons.0 }}</b></p>
	{% endif %}
	{% endfor %}
{% endif %}
</div>
<br><br>
{% endblock %}