{% extends "base.html" %}
{% block content %}
{% load emoticons_tags %}
<div class="margin">
{% if user.username in official or user.username in allowed %}
<h2><span style="color:green;">Pics ya chat, jo chahey daal do:</span></h2>  
{% else %}
<h2>Chat karne ke liye neechay kuch likho:</h2> 
{% endif %}

<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  {% if user.is_authenticated %}
  {% if user.username in official or user.username in allowed %}
  <span style="color:red;">{{ form.image_file.errors }}</span>
  <span style="font-size:92%;">{{ form.image_file.label_tag }}</span>{{ form.image_file }}<br>
  <span style="color:grey;font-size:80%;"><i>1mb se barri pic nahi lagti</i></span><br><br>
  {% endif %}
  {% endif %}
  <span style="color:red;">{{ form.description.errors }}</span>
  {{ form.description }}<br>
  <input class="button" style="color:#1947D1;background-color:white;border:solid 1px orange;" type="submit" value="OK">
</form>
{% if user.userprofile.score and user.userprofile.score < 8 %}
<span style="font-size:80%;color:grey;"><i>maslan likho: aap sub ka din kaisa guzra?</i></span><br>
{% endif %}
<hr size=1>
<span style="font-size:90%;color:dimgrey;"><b>Shakloon ke liye un ke aagey likhay harf type karo:</b></span>
{% emoticons_index as emoticons_list %}
{% for emoticons in emoticons_list %}
<p>{{ emoticons.0|emoticons }}    {{ emoticons.0 }}</p>
{% endfor %}
</div>
{% endblock %}