{% extends "base_pg.html" %}
{% load human_time %}
{% load future_time %}
{% load s3 %}
{% load truncap %}
{% block content %}
<head><title>Invitation for private messaging | Damadam.pk</title></head>
<style type="text/css">
	body{background: #E9EBEE}
</style>
<div class="bizcard clb" style="border-radius:12px;background-color:white;margin: 0 auto;text-align:center;max-width:300px;width:95%;padding:10px">


{% if own_invite %}

			<span class="lsp cl">Ap apne ap ko private chat mein invite nahi kar saktey</span><br>
			
			{% if org == 'home' %}
			<a href="{% url 'home_loc_pk' poid %}">
			{% elif org == '' %}
			{% else %}
			<a href="{% url 'home' %}">
			{% endif %}
			<button class="btn bcb bm mtl mbs" style="height:30px">OK</button>
			</a>

{% elif rate_limited %}
			
			<span class="lsp cxl">Ap aur invites nahi bhej saktey</span>
			<hr size=1 COLOR="#ffeb3b">
			<span class="cgy sp">Apke invites refill hon ge <b>{{ time_remaining|future_time }}</b></span>
			<br>
			{% if org == 'home' %}
			<a href="{% url 'home_loc_pk' poid %}">
			{% elif org == '' %}
			{% else %}
			<a href="{% url 'home' %}">
			{% endif %}
			<button class="btn bcb bm mtl mbs" style="height:30px">OK</button>
			</a>

{% elif already_invited %}

			<img src="{{ STATIC_URL }}img/chat_bubb.svg" width="121" height="97"><br><br>

			<span class="cxl">Ap&nbsp;<img src="{{ target_av_url|s3:'thumb' }}" width="22" height="22" alt="pic" style="border-radius: 50%;"> <b>{{ tun|truncatechars:15 }}</b> ko private chat mein invite kar chukay hain<br><span class="cgy">({{ it|human_time }})</span></span><br>
			
			{% if org == 'home' %}
			<a href="{% url 'home_loc_pk' poid %}">
			{% elif org == '' %}
			{% endif %}
			<button class="btn bcb bm mrl mtl mbs" style="height:30px;">OK</button>
			</a>


{% elif show_invite %}


			<div class="mbl cxl">
				{% if is_anon %}
					<a href="{% url 'profile' tun %}"><div class="av_btn sbb" style="width:26px;height:26px;line-height: 27px;color:#01579B;">{{ tun|truncap }}</div></a>&nbsp;ne apko {{ it|human_time }} private chat mein invite kiya{% if recently_declined %}&nbsp;tha, lekin ap ne reject kar diya tha{% endif %}
				{% else %}
					<img src="{{ target_av_url|s3:'thumb' }}" width="22" height="22" alt="pic" style="border-radius: 50%;">&nbsp;<b>{{ tun|truncatechars:15 }}</b> ne apko {{ it|human_time }} private chat mein invite kiya{% if recently_declined %}&nbsp;tha, lekin ap ne reject kar diya tha{% endif %}
				{% endif %}<br>
				<hr size=1 COLOR="#ffeb3b">
			</div>
			
			<span class="sp cgy">Kya ap ne <b>{% if is_anon %}{{ tun|truncap }}{% else %}{{ tun|truncatechars:15 }}{% endif %}</b> se private chat karni hai?</span><br>
			
			
			<form method="POST" action="{% url 'accept_personal_group_invite' %}" class="mtl" style="display:inline">
			{% csrf_token %}
				<button class="btn bm bcb mbs mtl mrl" style="height:30px;" type="submit">Haan</button>
			</form>

			{% if org == 'home' %}
			<a href="{% url 'home_loc_pk' poid %}">
			{% elif org == '' %}
			{% endif %}
			<button class="btn bcgy bm mts" style="height:30px;">Nahi</button>
			</a>


{% elif invited %}

			<img src="{{ STATIC_URL }}img/chat_bubb.svg" width="120" height="98"><br><br>


			<span class="cxl">Kya ap <img src="{{ target_av_url|s3:'thumb' }}" width="22" height="22" alt="pic" style="border-radius: 50%;"> <b>{{ tun|truncatechars:15 }}</b> ko private chat ke liye invite karna chahtey hain?</span>

			<form action="{% url 'send_personal_group_invite' %}" method="POST" class="mtl mbl">
		        {% csrf_token %}
		        <button class="btn bcb bm mrl mbs" style="height:30px;" name="invite_dec" value="1">Haan</button>
		        <button class="btn bcgy bm mts" style="height:30px;" name="invite_dec" value="0">Nahi</button>
		    </form>


{% elif set_privacy %}


			<div style="text-align:center;" class="mts cl">
				
				Jab <img src="{{ target_av_url|s3:'thumb' }}" width="22" height="22" alt="pic" style="border-radius: 50%;">	<b>{{ tun|truncatechars:15 }}</b> ko private chat ka invite bheja jai, tou invite mein apka poora nickname dikhaya jai?
				<form method="POST" action="{% url 'change_personal_group_invite_privacy' %}">
				{% csrf_token %}
					<div class="radbut" style="margin: 0 auto;width: auto;text-align: left;display: table;">
						<div class="mt">
						<input class="mbl mtl" type="radio" name="dec" value="1" id="opt1" checked><label for="opt1"><span class="ct">&nbsp;Haan dikha dou&nbsp;</span></label><br>
						</div>
						<div class="mt">
						<input class="mbl" type="radio" name="dec" value="0" id="opt2"><label for="opt2"><span class="ct">&nbsp;Nahi khufiya rakho&nbsp;</span></label><br>
						</div>
					</div>
					<button class="btn bm bcb mbs mtl cs" type="submit" style="height:30px;">OK</button>
				</form>
			</div>


{% endif %}


</div>
<br><br>
{% endblock %}