{% extends "base_pg.html" %}
{% load emoticons_tags %}
{% load human_time %}
{% load next_page %}
{% load prev_page %}
{% block content %}
<head><title>{{ user.username }}'s friend invite list | Damadam.pk</title></head>
<style type="text/css">
	body{background: #E9EBEE}
	.pages{
		border:1px solid #E6E6E6;
		padding:2px 10px;
		border-radius:6px;
		background-color:#F0F3F4;
	}
	button.pages:focus{
        background-color:#E6E6E6;
 	}
 	.curr_page{
 		border:2px solid #E6E6E6;
		padding:2px 10px;
		border-radius:6px;
		background-color:#FDFDFD;
 	}
</style>

<div class="clb lsp" style="max-width:450px;width:92%;padding-left:5px;padding-right:5px;margin:0 auto">


<div class="mbl" style="text-align:center;">
	{% if invite_accepted %}
		<div class="card" style="background-color:#FFFAF0;padding-top:10px;">
			{% load s3 %}
			{% load truncap %}
			<span class="cxl">Ap ne {% if is_anon %}<b>{{ t_username|truncap  }}</b>{% else %}<img src="{{ t_av_url|s3:'thumb' }}" width="22" height="22" alt="pic" style="border-radius: 50%;"> <b>{{ t_username|truncatechars:15 }}</b>{% endif %} ka invite qabool kar lia</span>
			<hr size=1 COLOR="#E6E6E6">
			<div class="mt cl cgy">
				1 on 1 start karney ke liye OK dabain:<br>
				<form method="POST" action="{% url 'enter_personal_group' %}">
					{% csrf_token %}
					<input type="hidden" name="tid" value="{{ tid }}">
					<button type="submit" class="btn bcb bs mtl" style="border:none;height:30px">OK</button>
				</form>
			</div>
		</div>
	{% else %}

        {% if list_type == 'received' %}
                {% include "personal_group/navbars/1_on_1_navbar.html" with section='2' static_url=STATIC_URL inv_count=invite_count %}
            
		{% elif list_type == 'sent' %}
				{% include "personal_group/navbars/1_on_1_navbar.html" with section='3' static_url=STATIC_URL inv_count=invite_count %}
		{% endif %}

		{% if num_pages < 2 %}
			{% if list_type == 'received' %} 
				<h1 class="lsp cxl">1 on 1 invites received:</h1>
			{% else %}
					<h1 class="cxl">1 on 1 invites sent:</h1>
			{% endif %}		
		{% else %}
		<div class="mtl fx fxjscn fxaicn">
			<div>
			<form style="display:inline" method="GET" action="{% url 'show_personal_group_invite_list' list_type %}">
			<button style="background:0 0;border:none" type="submit" name="page" value="{{ current_page|prev_page:num_pages }}"><img src="{{ STATIC_URL }}img/back.svg" style="width:22px;height:22px;vertical-align:text-bottom"></button>
			</form>
			</div>
			<!--  -->
			<div><h1 style="display:inline" class="lsp mls mrs cxl">{% if list_type == 'received' %}1 on 1 invites received:{% else %}1 on 1 invites sent:{% endif %}</h1></div>
			<!--  -->
			<div>
			<form style="display:inline" method="GET" action="{% url 'show_personal_group_invite_list' list_type %}">
			<button  style="background:0 0;border:none" type="submit" name="page" value="{{ current_page|next_page:num_pages }}"><img src="{{ STATIC_URL }}img/forward.svg" style="width:22px;height:22px;vertical-align:text-bottom"></button>
			</form>
			</div>
		</div>
		{% endif %}
	{% endif %}
</div>

<div class="bizcard mbl" style="background-color:white;width:95%;padding:10px;">
{% for id_1, uname_1, uname_2, creation_time in invites %}
	
	<div class="mt cl lsp" style="text-align:left">

		{% if list_type == 'sent' %}
			{% if forloop.counter != 1 %}<hr size=1 COLOR="#f2f2f2">{% endif %}
			<div class="fx fxjssb fxaibl" style="color:#009973">	
			{% if uname_1|slice:":1" == '*' %}
			<div class="clb">Ap ne nickname khufiya rakh ke <a href="{% url 'profile' uname_2 'fotos' %}" class="cb"><b class="bw">{{ uname_2 }}</b></a> ko invite kia</div>
			<div class="sp cxs" style="text-align:right;color:#808080">- {{ creation_time|human_time }}</div>
			{% else %}
			<div class="clb">Ap ne <a href="{% url 'profile' uname_2 'fotos' %}" class="cb"><b class="bw">{{ uname_2 }}</b></a> ko invite kia</div>
			<div class="sp cxs" style="text-align:right;color:#808080">- {{ creation_time|human_time }}</div>
			{% endif %}
			</div>
		{% elif list_type == 'received' %}
			{% if forloop.counter != 1 %}<hr size=1 COLOR="#BFFFEF">{% endif %}
			<div class="fx fxjssb fxaibl" style="color:#009973">	
				{% if uname_1|slice:":1" == '*' %}
			
					<div><a href="{% url 'profile' uname_1|slice:"2:" 'fotos' %}" class="cb"><div class="av_btn" style="border: 1px #1947D1 solid;width:22px;height:22px;line-height: 23px;"><b>{{ uname_1|slice:"1:2" }}</b></div></a> ne apko invite kia</div>
					<div class="sp cxs" style="color:#009973;text-align:right">- {{ creation_time|human_time }}</div>
			
				{% else %}
			
					<div><a href="{% url 'profile' uname_1 'fotos' %}" class="cb"><b class="bw">{{ uname_1 }}</b></a> ne apko invite kia</div>
					<div class="sp cxs" style="color:#009973;text-align:right">- {{ creation_time|human_time }}</div>
			
				{% endif %}
			</div>

			<form method="POST" action="{% url 'process_personal_group_invite' %}" style="text-align:center;" class="mts mbs">
			{% csrf_token %}
			<input type="hidden" name="tid" value="{{ id_1 }}">
			<button type="submit" class="acc acc-bg mrl" style="background-color:#00cc99;padding:1px 10px 2px 10px;height:23px" name="sel" value="1"><img src="{{ STATIC_URL }}img/check.svg"></button>
			<button type="submit" class="acc acc-bg mll" style="background-color:#ff9980;padding:2px 10px 2px 10px;height:23px" name="sel" value="0"><img src="{{ STATIC_URL }}img/cross.svg"></button>
			</form>
		{% endif %}
	</div>
	{% empty %}
		{% if invite_accepted %}
			<div class="bizcard" style="background-color:white;text-align:center;padding:7px">
			<span class="cxl cgy">Invite list khali ho geyi</span>
			</div>
		{% else %}
			<div class="bizcard" style="background-color:white;text-align:center;padding:7px">
			<span class="cxl">Ye khali hai</span>
			<hr size=1 COLOR="#f2f2f2">
			<span class="cl cgy">Kisi bhi user se 1 on 1 messaging karney ke liye unkay nickname ya post ke agey bana <button name="tid" style="background-color:#67B0FD;display:inline-block;padding:2px 3px;border-radius:3px;vertical-align:middle;border:none" value="{{ data.friend_id }}">
                            <div id="line"></div>
                            <div id="line"></div>
                            <div id="line" style="width: 8px"></div>
                            </button> button dabain</span>
			<div class="mtl mbs"><a href="{% url 'home' %}"><button class="bcb btn bm sp pg_ok_res" style="height:23px">home</button></a></div>
			</div>
		{% endif %}

{% endfor %}
</div>
	{% if num_pages > 1 %}
		<div style="text-align:center">
		<form method="GET" action="{% url 'show_personal_group_invite_list' list_type %}">
		{% for page_num in pages %}
			{% if current_page == page_num %}
			<button class="mrs curr_page cl" name="page" value="{{ page_num }}" style="display:inline-block;font-weight:bold">{{ page_num }}</button>
			{% else %}
			<button class="mrs pages" name="page" value="{{ page_num }}" style="display:inline-block;color:#909090">{{ page_num }}</button>
			{% endif %}	
		{% endfor %}
		</form>
		</div>
	{% endif %}

</div>
<br><br>
{% endblock %}