<div class="mbs mts sp cl" style="font-weight:bold;text-decoration: underline">Instructions:</div>
<div style="text-align:left">
<div class="cm sp">&#8226;&nbsp;Kharab fotos censor karein, aur unko upload karney waley users ki uploading aur voting block karein</div>
<div class="cm sp mts">&#8226;&nbsp;Kharab home posts censor karein, aur unko post karney waley users ki posting aur voting block karein</div>
<div class="cm sp mts">&#8226;&nbsp;Apna lehja users ke sath naram rakehin. Batameezi nahi karein. 'Ap' kahein, 'tum' nahi</div>
<div class="cm sp mts">&#8226;&nbsp;Posts pe bhi narmi dikhain. Religion, poetry, paheliyan, jokes, news, romance, celebrities, fashion, politics, nature fotos and sports sab jaiz hain. Users ko full azadi dein</div>
<div class="cm sp mts">&#8226;&nbsp;Ye posts ban karein:
{% include "prohibited_actions.html" %}
</div>
<div class="cm sp mts">&#8226;&nbsp;Ye tamam rules ap sab se neechay "rules" daba kar phir se dekh saktey hain</div> 
<div class="cm sp mts">&#8226;&nbsp;Sex, nudity (topless or full), vulgar nicks, firqa wariyat aur dehshat gardi pe lambi sazain dein (e.g. 'forever', '1 month' waghera)</div> 
<div class="cm sp mts">&#8226;&nbsp;Baqi kharab posts ya fotos pe choti sazain dein (e.g. '3 hours', '1 day' waghera)</div>
<div class="cm sp mts">&#8226;&nbsp;Khufiya rakhein ke ap Damadam Defender hain. Doston ko bhi nahi batain, warna woh ap se faida nikalwa saktey hain. Agr ap khufiya nahi rakh sakey tou powers wapis le li jaien gi</div>
<div class="cm sp mts">&#8226;&nbsp;Zaati dushmani pe saza nahi dein. Hamarey Rasool Allah SAW 'sadiq' (honest) aur 'ameen' (trustworthy) thay. Unkay dushman bhi unki tarif kartey thay. Unki terah insaf se kam lein</div>
<div class="cm sp mts">&#8226;&nbsp;Kabhi kisi ko is wajah se ban nahi karein ke us ne ghalti se apni real pic laga di. Bad users dusroon ki profiles ban karwaney ke liye jhooti reports kartey hain</div>
<div class="cm sp mts">&#8226;&nbsp;Agar ap ye duty sahi se nahi kar saktey tou admin ko power wapis kar dein. Is mein koi burai nahi</div>
<div class="cm sp mts">&#8226;&nbsp;Ho sakta hai kuch time baad admin khud ap se power wapis le le (aur dusron ko moqa de). Is mein bhi koi burai nahi. Power ke peechay na bhagein. Ye cheez Defender ko zeb nahi deti. Achai ke peechay bhagein</div>
{% if with_warning == '1' %}<div class="cm sp mts">&#8226;&nbsp;Agey janey ke liye neechay 'Cancel' dabain, 'OK' nahi. Ye zaruri hai</div>{% endif %}
<div class="cm sp mts">&#8226;&nbsp;Defenders apni ID ka password kisi se share nahi kar saktey, aesa karney pe apka account block kiya ja sakta hai</div>
<div class="cm sp mts">&#8226;&nbsp;Defenders Damadam ka sarmaya hain. Is naam ko kharab nahi honay dijiye ga!</div>
</div>