{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<head><title>Report mehfil | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>
<h1 class="cxl clb lsp" style="text-align:center">Report mehfil:</h1>
<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden;text-align:center">

<div style="padding:8px;background-color:ivory" class="bizcard mbs">
	<div class="cl sp lsp">
	<b class="cp">{% emoticons %}{{ topic|truncatechars:'28' }}{% endemoticons %}</b><br>
	{% emoticons %}{{ rules|truncatechars:'28' }}{% endemoticons %}<br>
	</div>
	<div class="mts" style="text-align:left;border-top:1px dashed lightgray">
		<div class="mts sp cs">&#8226;&nbsp;<b>Report price:</b>&nbsp;{{ prc }} points</div>
		<div class="mt sp cs lsp">&#8226;&nbsp;<b>Report reason:</b>&nbsp;{{ reason_text|truncatechars:'32' }}</div>
	</div>
</div>

<div class="cxl mts lsp" style="font-weight:bold">Problem apne alfaz mein explain karein:</div>
<div class="mts sp lsp">Selected "report reason" se taluq hona zaruri hai, warna report reject ho gi and points wapis nahi hon ge</div>
	<div class="mts">{% if form.description.errors %}<b class="sp cm cr">{{ form.description.errors.0 }}</b>{% else %}<span class="sp cs cgy">- 150 characters max -</span>{% endif %}</div>
		<form method="post" class="mts" action="{% url 'report_mehfil' %}">
			{% csrf_token %}
			<input type="hidden" name="rep_txt" value="1">
			<input type="hidden" name="topic" value="{{ topic }}">
			<input type="hidden" name="rules" value="{{ rules }}">
			<input type="hidden" name="guid" value="{{ group_uuid }}">
			<input type="hidden" name="obid" value="{{ gid }}">
			<input type="hidden" name="rsn" value="{{ reason }}">
			<input type="hidden" name="prc" value="{{ prc }}">
			{{ form.description }}<br>
			<button class="btn bm bcr mbs mtl pg_ok_res mrs" name="dec" style="height:26px" value="1" type="submit">OK</button><button class="mls mbs mtl pg_ok_res cgy cl sp" name="dec" style="background:0 0;border:none;padding:0;border-bottom:1px dotted gray" value="" type="submit">Cancel</button>
		</form>
		<hr size=1 COLOR="#D3D3D3">
		<span class="cgy cs sp"><b>Note:</b>&nbsp;Woh reports reject ho jati hain jin mein reported mehfil theek hoti hai aur reason mein la-taluk problem likhi hoti hai (e.g. "Mehfil se mujhe kyun nikala")</span><br>

</div><br><br>
{% endblock %}