{% extends "base.html" %}
{% load humanize %}
{% block content %}
<head><title>Content judgement instructions | Damadam.pk</title></head>
<style>body{background: #E9EBEE}</style>
<h1 class="cxl clb" style="text-align:center">Defender instructions:</h1>
<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden;text-align:left">

	<div class="mbs bizcard" style="background-color:#ffffe6;padding:4px 10px 10px 10px;border-radius:8px">
		<div style="text-align:center;font-weight:bold;text-decoration:underline" class="mbl cl sp">Instructions:</div>
		<div class="mt lsp">1) Har reported item ke sath munsalik aik (ya ziyada) complaints hain</div>
		<div class="mt lsp">2) Jo complaint sahi ho uska 'Correct' option pick karein</div>
		<div class="mt lsp">3) Jo complaint ghalat ho - lekin complaint karney waley ki niyat saaf ho - uske liye 'Incorrect' option pick karein</div>
		<div class="mt lsp">4) Jo complaint ghalat ho - aur complaint karney waley ki niyat kharab ho - uske liye 'Malicious' option pick karein</div>
		<div class="mt lsp">5) Kharab niyat wali complaint ke examples ye hain: mazaq mein complaint, kisi se zaati badla lene ke liye complaint, etc</div>
		<div class="mt lsp">6) Apna decision final karney ke liye 'Submit' dabain</div>
	</div>

<div style="text-align:center"><a href="{% url 'cull_content' %}"><button class="btn bl bcb mtl mbs pg_ok_res sp" style="height:26px">wapis</button></a></div>

</div>
<br><br>
{% endblock %}