{% extends "base.html" %}
{% load emoticons_tags %}
{% block content %}
<style>body{background: #E9EBEE}</style>
<head><title>Judgement on {{ oun }} | Damadam.pk</title></head>

<h1 class="cxl clb" style="text-align:center">Set ban duration:</h1>
<div class="bizcard clb" style="background-color:#FEFCFC;padding:10px 8px;max-width:600px;width:93%;margin:0 auto;overflow: hidden;text-align:center">

{% if tp == 'tx' %}
	<div style="padding:8px;background-color:ivory" class="bizcard mt mbs sp lsp">
	<div style="text-align:left" class="bw">{% emoticons %}"{{ cap }}"{% endemoticons %}</div>
	<div class="cs mts" style="font-weight:bold">submitted by <a href="{% url 'profile' oun 'fotos' %}" class="ct">{{ oun|truncatechars:'13' }}<span class='cxs cgy'> ({{offender_score}})</a></span></div>
	</div>
{% else %}
	<div style="padding:8px;background-color:ivory" class="bizcard mt mbs sp lsp">
	<div class="cl sp lsp">'{% emoticons %}{{ cap|truncatechars:'20' }}{% endemoticons %}'</div>
	<img src="{{ purl }}" style="border-radius:5px" class="mt"><br>
	<div class="cs mts" style="font-weight:bold">uploaded by <a href="{% url 'profile' oun 'fotos' %}" class="ct">{{ oun|truncatechars:'13' }}<span class='cxs cgy'> ({{offender_score}})</a></span></div>
	</div>
{% endif %}

<div class="mtl cxl lsp">Decide karein ke <b>{{ oun|truncatechars:'13' }}</b> ko kitney time ke liye ban kia jaye:</div>

<form method="POST" action="{% url 'judge_content_submitters' %}" class="mt sp">
{% csrf_token %}
	<input type="hidden" name="oun" value="{{ oun }}">
	<input type="hidden" name="orig" value="{{ orig }}">
	<input type="hidden" name="lid" value="{{ lid }}">
	<input type="hidden" name="from_cull" value="{{ from_cull }}">
	<ul style="display:inline-block;padding: 0;list-style:none">
		<li style="text-align:left" class="mbl"><input style="margin:-2px 10px 0 0;vertical-align:middle" id="1" type="radio" name="dur" value="1"><label for="1"><span class="cr">3 hours</span></label></li>
		<li style="text-align:left" class="mbl"><input style="margin:-2px 10px 0 0;vertical-align:middle" id="2" type="radio" name="dur" value="2"><label for="2"><span class="cr">1 day</span></label></li>
		<li style="text-align:left" class="mbl"><input style="margin:-2px 10px 0 0;vertical-align:middle" id="3" type="radio" name="dur" value="3"><label for="3"><span class="cr">3 days</span></label></li>
		<li style="text-align:left" class="mbl"><input style="margin:-2px 10px 0 0;vertical-align:middle" id="4" type="radio" name="dur" value="4"><label for="4"><span class="cr">1 week</span></label></li>
		<li style="text-align:left" class="mbl"><input style="margin:-2px 10px 0 0;vertical-align:middle" id="5" type="radio" name="dur" value="5"><label for="5"><span class="cr">1 month</span></label></li>
		<li style="text-align:left" class="mbl"><input style="margin:-2px 10px 0 0;vertical-align:middle" id="6" type="radio" name="dur" value="6"><label for="6"><span class="cr">Ban forever</span></label></li>
		<li style="text-align:left" class="mbs"><input style="margin:-2px 10px 0 0;vertical-align:middle;" id="0" type="radio" name="dur" value="0" checked><label for="0"><b class="cb sp">Cancel</b></label></li>
	</ul><br>
	<button type="submit" name="obid" class="btn bcr bm pg_ok_res mbl sp" value="{{ obid }}" style="height:26px">OK</button>
</form>


</div><br><br>
{% endblock %}