{% extends "base_signup.html" %}
{% block content %}

<head><title>Confirm username and password | Damadam.pk</title></head>
<div style="margin-top: 5%;">
{% include "unauth/title.html" with lang='' translate='0' %}

<div class="bizcard" style="margin: 0 auto;max-width:400px;width:93%;background-color:#2de0ae;text-align:center">

	<form method="post" action="{% url 'create_account' slug1=uhex length1=ulen slug2=phex length2=plen %}#section0" class="mt">
		{% csrf_token %}
		{% if form.username.errors %}
			<div style="color:#f9ef6c;text-shadow:1px 1px #009940;padding:10px" class="lsp cxl" ><b>{{ form.username.errors.0 }}</b></div>
			<input type="hidden" name="err" value="1">
		{% elif form.password.errors %}
			<div style="color:#f9ef6c;text-shadow:1px 1px #009940;padding:10px" class="lsp cxl" ><b>{{ form.password.errors.0 }}</b></div>
			<input type="hidden" name="err" value="1">
		{% else %}
			<div style="padding:10px;border-bottom:1px dashed #c0f4d5;border-top-right-radius:6px;border-top-left-radius:6px;background-color:#26d5ab">
				<b class="cxl lsp" style="text-shadow:1px 1px #009940;color:white;">{{ username }} apka password <span class="sp" style="color:#f9ef6c;text-shadow:1px 1px #009940;word-wrap:break-word;">{{ password }}</span> hai</b>
			</div>

			<div class="cl lsp sp mtl mbs" style="padding:0 10px;color:white;text-shadow:1px 1px #009940;"><b>Ye password note kar lein takey apko yad rehay</b></div>
			<input type="hidden" name="username" value="{{ username }}">
			<input type="hidden" name="password" value="{{ password }}">
		{% endif %}
		<button class="mt mbl bs cl sp pg_ok_res" style="color:white;background-color:#ffd332;border:solid 1px #ffc800;text-shadow:1px 1px #9f4d10;font-weight:bold;height:30px" type="submit">OK</button>
	</form>

</div>

</div>
{% endblock %}