{% extends "base_signup.html" %}
{% block content %}
<head><title>Create new password (Urdu) | Damadam.pk</title></head>
<div style="margin-top: 5%;">
{% include "unauth/title.html" with lang='ur' translate='0' %}

<div class="bizcard" style="margin: 0 auto;max-width:400px;width:93%;background-color:#2de0ae;text-align:center">

	<form method="POST" action="{% url 'create_password_new' 'ur' uhex length %}#section0" class="mt">
		{% csrf_token %}
		{% if form.password.errors %}
			<div style="color:#f9ef6c;text-shadow:1px 1px #009940;padding:10px;font-size:23px" class="lsp mbs" ><b><bdi>{{ form.password.errors.0 }}</bdi></b></div>
		{% else %}
			<div class="mts" style="padding:10px;border-bottom:1px dashed #c0f4d5;background-color:#26d5ab;border-top-right-radius:6px;border-top-left-radius:6px;">
				<b style="text-shadow:1px 1px #009940;color:white;font-size:23px"><bdo dir="rtl">اب نیچے ایک پاس ورڈ لکھیں:</bdo></b>
			</div>
			<div class="cxl sp mts" style="padding:0 10px 10px 10px;color:white;text-shadow:1px 1px #009940;"><b>پانچ سے زیادہ حروف ھونے چاہیں</b></div>
		{% endif %}
		<input type="hidden" name="username" value="{{ username }}">
		<div style="padding: 0 10px 10px 10px">	
			{{ form.password }}<br>
			<button class="mtl mbs bs cl sp pg_ok_res" style="color:white;background-color:#ffd332;border:solid 1px #ffc800;text-shadow:1px 1px #9f4d10;font-weight:bold;height:30px" type="submit">OK</button>
		</div>	
	</form>

</div>

<br>
{% include "unauth/old_account_button.html" with lang='ur' %}
</div>
{% endblock %}