{% extends "base_signup.html" %}
{% block content %}
<head><title>Forgot password (Urdu) | Damadam.pk</title></head>
<div style="margin-top: 5%;">
{% include "unauth/title.html" with lang='ur' translate='1' forgot_pass='1' %}

<div class="clb bizcard mbl" style="margin-right: auto; margin-left:auto;max-width:400px;width:93%;background-color:#2de0ae;text-align:center">

  <div class="mt mbs" style="padding:10px;border-bottom:1px dashed #c0f4d5;background-color:#26d5ab;border-top-left-radius:6px;border-top-right-radius:6px">
  {% if fg_rate_limit %}
    {% load time_string %}<b style="color:#f9ef6c;text-shadow:1px 1px #009940;font-size:23px"><bdo dir="rtl">معزرت! آپ کو حال ہی میں اپنا پاس ورڈ ملا ہے، آپ دوباره پاس ورڈ لے  سکیں گے <bdo dir="ltr">{{ fg_rate_limit|time_string }}</bdo> بعد</b>
  {% elif pin_expired %}
    <b style="color:#f9ef6c;text-shadow:1px 1px #009940;font-size:23px"><bdo dir="rtl">معزرت! خفیہ نمبر دوباره حاصل کرنا پڑے گا</bdo></b>
  {% elif did_not_work %}
    <b style="color:#f9ef6c;text-shadow:1px 1px #009940;font-size:23px"><bdo dir="rtl">معزرت! آپ کو دوبارہ کوشش کرنی ہو گی</bdo></b>
  {% else %}
    <b style="color:white;text-shadow:1px 1px #009940;font-size:23px"><bdo dir="rtl">پاس ورڈ بھول گۓ؟</bdo></b>
  {% endif %}
  </div>

  <form method="post" style="padding:5px 10px 10px 10px" action="{% url 'forgot_password' 'ur' %}">
    {% csrf_token %}
      {% if form.username.errors %}
        <div style="color:#f9ef6c;text-shadow:1px 1px #009940;font-weight:bold;font-size:23px" class="mbs"><bdi>{{ form.username.errors.0 }}</bdi></div>
      {% else %}
        <div class="mbs" style="color:white;text-shadow:1px 1px #009940;font-weight:bold;font-size:23px"><bdo dir="rtl">اپنا نک نیم لکھیں:</bdo></div>
      {% endif %}
      {{ form.username }}
    <button class="mtl mbl bs cl sp pg_ok_res" style="color:white;background-color:#ffd332;border:solid 1px #ffc800;text-shadow:1px 1px #9f4d10;font-weight:bold;height:30px" type="submit">OK</button>
  </form>

</div>

{% include "unauth/old_account_button.html" with lang='ur' %}
</div>
{% endblock %}
