{% extends "base_signup.html" %}
{% block content %}
<head><title>Forgot password | Damadam.pk</title></head>
<style>body{background: #fefbfb}</style>
{% include "fb_analytics.html" %}

<div class="lsp cm" style="color:white;padding:10px;border-bottom:1px #c0f4d5;font-weight:bold;background-color:#26d5ab;text-align:center">
    Password yad nahi hai?
  </div>
{% include "unauth/title.html" with lang='' translate='1' forgot_pass='1' %}

<div class="bizcard" style="background-color:#FEFCFC;padding:3px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden;text-align:center"><br>
  {% if fg_rate_limit %}
    {% load future_time %}
      <div class="cr cm">Sorry! Ap ne kuch time pehlay hi password change kiya hai, ap dubara kar sakein ge {{ fg_rate_limit|future_time }}</div>
  {% elif pin_expired %}
    <b class="cr cm">Sorry! Pin code expire ho gya, dubara karein</b>
  {% elif did_not_work %}
    <b class="cr cm">Sorry! Tasdiq nahi ho saki, nickname dubara likhein</b>
  {% else %}
    <div class="mbl">Apna nickname likhein:</div>
  {% endif %}  
  <form method="post" style="padding:5px 10px 10px 10px;" action="{% url 'forgot_password' %}">
    {% csrf_token %}
      {% if form.username.errors %}
        <b class="cr sp cxs mtl mbl">{{ form.username.errors.0 }}</b>
      {% endif %}
      {{ form.username }}
      <div class="cxs mt clb">Exact nickname likhien (example: Khalai_Makhlooq)</div>
    <button class="btn bct mtl mbs bl cs sp pg_ok_res" style="height:35px;width:100%;padding:10px;">OK</button>  
  </form>

</div>
<br>
{% include "unauth/old_account_button.html" with lang='' %}
<br><br><br><br><br><br><br><br>
{% endblock %}
