{% extends "base/base_verification.html" %}
{% block content %}
<head><title>Forgot password | Damadam.pk</title></head>

<div class="clb mbl" style="margin-right: auto; margin-left:auto;max-width:500px;background-color:white;text-align:center">

  <div class="cxl lsp clb bx" style="border-top:1px solid gainsboro;padding:10px;max-width:600px;min-width:320px;margin-left:auto;margin-right:auto;border-bottom:1px solid gainsboro">
      Forgot Password
    </div>

  {% if request.META.HTTP_X_IORG_FBS %}

    <div class="cxl lsp cr" style="padding:10px;font-weight:600">'Forgot Password' ke liye <a href="https://bit.ly/37re4dg" class="cb" style="border-bottom:1px dotted #1947d1">data&nbsp;mode</a> use karein, ye sahulat Free Basics pe mojood nahi</div>

  {% else %}

    <form method="post" class="mtl" style="padding:5px 10px 10px 10px;" action="{% url 'forgot_password' %}">
      {% csrf_token %}
        {% if form.username.errors %}
          <span class="cxl lsp cr">{{ form.username.errors.0 }}</span>
        {% elif fg_rate_limit %}
          {% load future_time %}
          <span class="cxl lsp cr">Sorry! Ap ne kuch time pehlay hi password change kiya hai, ap dubara kar sakein ge {{ fg_rate_limit|future_time }}</span>
        {% elif did_not_work %}
          <span class="cxl lsp cr">Unable to confirm, please try again</span>
        {% else %}
          <b class="cxl lsp clb">Enter your nickname:</b>
        {% endif %}
        <div class="mts mbs">{{ form.username }}</div>
        <button class="btn bcb bl pg_ok_res mtl mbl cl sp" style="height:30px" type="submit">OK</button>
    </form>

  {% endif %}


</div>
{% include "unauth/old_account_button.html" with lang='' %}
<br><br><br>
{% endblock %}
