{% extends "base_signup.html" %}
{% block content %}
<head>

	<!-- Facebook Pixel Code -->
	<script>
		!function(e,t,n,o,a,c,f){e.fbq||(a=e.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},e._fbq||(e._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],(c=t.createElement(n)).async=!0,c.src="https://connect.facebook.net/en_US/fbevents.js",(f=t.getElementsByTagName(n)[0]).parentNode.insertBefore(c,f))}(window,document,"script"),fbq("init","735304813579192"),fbq("track","PageView"),fbq("track","CompleteRegistration");
	</script>
	<noscript>
		 <img height="1" width="1" src="https://www.facebook.com/tr?id=735304813579192&ev=PageView&noscript=1"/>
	</noscript>
	<!-- End Facebook Pixel Code -->

	<title>User choices | Damadam</title>

</head>

<style type="text/css">
	/*colors labels when input (E.g. radio button) is selected*/
	input:checked + label{
	background: #e6fff3;
	padding:4px 0;
	}

</style>

<div style="margin-top: 5%;">
{% include "unauth/title.html" with lang='' translate='0' %}

<div class="clb mbl mtl" style="box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);border-radius:12px;overflow:hidden;max-width:500px;margin-left:auto;margin-right:auto;width:97%;text-align:center;background:#2de0ae;">

	<div class="cxl lsp" style="color:white;border-bottom:1px solid #64e8c2;padding:10px 0;font-weight:bold;">The Pakistani Social Web</div>

	<div style="padding:10px 7px 5px 7px;background:#fff169;color:#270000">
		{% if no_choice_selected %}<div class="cxl cr lsp">Koi aik choice select karna zaruri hai</div>{% else %}<div class="cxl lsp">Ap Damadam pe kya karna chahte hein?</div>{% endif %}
		<form method="POST" action="{% url 'first_time_choice' %}" class="mts">
		   {% csrf_token %}
		   	<ul style="display:inline-block;padding: 0;list-style:none">
				<li style="text-align:left" class="cl mt mbl sp">
					<input type="radio" name="choice" value="3" id="3" style="vertical-align:text-bottom"><label for="3"><span class="sp">Mazeydar posts dekhni hein</span>
				</li><br>
				<li style="text-align:left" class="cl mbl sp">
					<input type="radio" name="choice" value="2" id="2" style="vertical-align:text-bottom"><label for="2"><span class="sp">Boys & girls se dosti karni he</span>
				</li><br>
				<li style="text-align:left" class="cl mbl sp">
					<input type="radio" name="choice" value="1" id="1" style="vertical-align:text-bottom"><label for="1"><span class="sp">Fans bana ke famous hona he</span>
				</li><br>
				<li style="text-align:left;color:#606060" class="cl mbs sp cgy">
					<input type="radio" name="choice" value="4" id="4" style="vertical-align:text-bottom"><label for="4"><span class="sp">In mein se kuch bhi nahi</span>
				</li>
			</ul>
			<br>
			<button type="submit" style="border-radius: 5px;color:white;background-color:#59a5f5;border:solid 1px #ffd12b;width:95%;font-size:20px;height:45px" class="mls mrs mbl sp pg_ok_res">SUBMIT</button>

		</form>
	</div>

</div>

<br><br>
</div>
{% endblock %}