{% if lang == 'ur' %}
<div style="text-align:center"><a href="{% url 'unauth_home_new' 'ur' %}#section0"><button class="btn bl mtl sp pg_ok_res" style="border:solid 1px #16aae9;background:#46bbee;height:45px;font-size:19px;font-weight:bold;text-shadow:1px 1px #808080;padding:1px 0px 2px 0px;width:93%;max-width:400px;">نیا اکاؤنٹ</button></a></div>
{% else %}
<div style="text-align:center"><a href="{% url 'unauth_home_new' %}#section0"><button class="btn bxl mtl pg_ok_res sp" style="border:solid 1px #16aae9;background:#46bbee;height:45px;font-size:19px;font-weight:bold;text-shadow:1px 1px #808080;width:93%;max-width:400px;">Create New Account</button></a></div>
{% endif %}