{% extends "base/base_verification.html" %}
{% block content %}
<head><title>Unable to retrieve password | Damadam.pk</title></head>

<div class="clb mbl" style="margin-right: auto; margin-left:auto;max-width:500px;background-color:white;text-align:center">

	<div class="cxl lsp clb bx" style="border-top:1px solid gainsboro;padding:10px;max-width:600px;min-width:320px;margin-left:auto;margin-right:auto;border-bottom:1px solid gainsboro">
	  Forgot Password
	</div>

	<div class="cxl mts mbs lsp cr" style="padding:0 8px"><b>Sorry! '{{ nick }}' unverified hai, is liye password retrieve nahi ho sakta</b></div>

	<a href="{% url 'forgot_password' %}"><button class="btn bcb bl pg_ok_res mtl mbl cl sp" style="height:30px" type="submit">BACK</button></a>

</div>

{% include "unauth/old_account_button.html" with lang='' %}
<br><br><br>
{% endblock %}
