{% extends "base_signup.html" %}
{% block content %}
<head><title>Enable your cookies to register (Urdu) | Damadam.pk</title></head>
<div style="margin-top: 5%;">
{% include "unauth/title.html" with lang='ur' translate='1' %}

<div class="clb bizcard" style="margin: 0 auto;max-width:400px;width:93%;background-color:#2de0ae;text-align:center">
	<div class="mt sp" style="color:#f9ef6c;text-shadow:1px 1px #009940;font-weight:bold;padding:10px;border-bottom:1px dashed #c0f4d5;font-size:23px;border-top-right-radius:6px;border-top-left-radius:6px;background-color:#26d5ab">معذرت! آپکا براؤزر کوکیز کو سپورٹ نہیں کرتا</div>
	<div style="padding:0 10px 10px 10px">
		<h2 class="sp cxl" style="color:white;text-shadow:1px 1px #009940;">کوئ اور براؤزر استمعال کریں، یا اس براؤزر کی کوکیز آن کریں</h2>
		<a href="{% url 'unauth_home_new' 'ur' %}#section0"><button class="mt mbl bs cl sp pg_ok_res" style="color:white;background-color:#ffd332;border:solid 1px #ffc800;text-shadow:1px 1px #9f4d10;font-weight:bold;height:30px" type="submit">OK</button></a>
	</div>
</div>

</div>
{% endblock %}