{% extends "base_signup.html" %}
{% block content %}

<head><title>Create new password (Urdu) | Damadam.pk</title></head>
<div style="margin-top: 5%;">

{% include "unauth/title.html" with lang='1' translate='0' %}

<div class="clb bizcard" style="margin: 0 auto;max-width:400px;width:93%;background-color:#2de0ae;text-align:center">

<div style="color:white;text-shadow:1px 1px #009940;padding:10px;border-bottom:1px dashed #c0f4d5;font-weight:bold;font-size:23px;background-color:#26d5ab;border-top-left-radius:6px;border-top-right-radius:6px">شکریہ! اب آپ اپنے اکاؤنٹ کے لیے ایک نیا پاس ورڈ لکھیں</div>

<form method="post" style="padding:5px 10px 10px 10px" action="{% url 'set_forgetters_password' 'ur' %}">
  {% csrf_token %}
 	<div class="mts mbl">
    {% if form.password.errors %}
    	<b style="color:#f9ef6c;text-shadow:1px 1px #009940;" class="cxl"><bdi>{{ form.password.errors.0 }}</bdi></b>
    {% else %}
    	<b style="color:white;text-shadow:1px 1px #009940;" class="cxl"><bdo dir="rtl">نیا پاس ورڈ:</bdo></b>
    {% endif %}
    </div>
    {{ form.password }}
  	<button class="mtl mbl bs cl sp pg_ok_res" style="color:white;background-color:#ffd332;border:solid 1px #ffc800;text-shadow:1px 1px #9f4d10;font-weight:bold;height:30px" type="submit">OK</button>
  
</form>

</div>

</div>
{% endblock %}
