{% extends "base_verification.html" %}
{% block content %}
<head><title>Create new password | Damadam.pk</title></head>
<style>body{background: #fefbfb}</style>
{% include "fb_analytics.html" %}

<!-- {% include "unauth/title.html" with lang='' translate='0' %} -->
<div class="bizcard " style="background-color:#FEFCFC;padding:3px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden;text-align:center"><br>Thank you!<br>

<form method="post" style="padding:5px 10px 10px 10px" action="{% url 'set_forgetters_password' %}">
  {% csrf_token %}
 	<div class="mtl mbl lsp">
    {% if form.password.errors %}
    	<b class="cr sp cxs mtl mbl">{{ form.password.errors.0 }}</b>
    {% else %}
      	<div class="cm sp"> Ab apney account ke liye naya password likhein</div>
    {% endif %}
    </div>
    {{ form.password }}
  	<button class="btn bct mtl mbs bl cs sp pg_ok_res" style="height:35px;width:100%;padding:10px;">OK</button>
  
</form>

</div>

</div>
{% endblock %}
