{% load google_analytics %}
<!DOCTYPE html>
<html style="background-image: url('{{ STATIC_URL }}img/wallpaper.png')">
<head>

    <!-- has to be the first tag in head -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {% include "favicons.html" %}
    {% include "css.html" %}
       <!-- <meta charset="utf-8"> THIS IS AN HTML5 TAG-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Damadam is a desi social networking website where there are no barriers in socializing. It is like a desi Burning Man festival on the internet! Join now">
        <meta property="og:site_name" content="Damadam">
        <meta property="og:title" content="Damadam">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.damadam.pk/login/ur/">
        <meta property="og:description" content="Damadam is a desi social networking website where there are no barriers in socializing. It is like a desi Burning Man festival on the internet! Join now">
        <meta property="og:image" content="https://damadam.pk/static/img/og_image.png">
        <meta property="og:image:width" content="300">
        <meta property="og:image:height" content="300">
        <meta property="fb:app_id" content="1758220174446684" />
        <meta name="google-site-verification" content="zS-_T9VgNM06nRZnT3XawfMeE2OI7oZHpqx0oU8h32E" />
        <meta name="author" content="mhb">
        <link rel="canonical" href="https://www.damadam.pk/login/ur/">
        <title>Sign in (Urdu) | Damadam</title>
        {% google_analytics %}

</head>

<body>
{% include "ga_user_analytics.html" %}
{% include "min_service_worker.html" %}
<a name="section0"></a>

<div style="margin-top:5%">
{% include "unauth/title.html" with lang='ur' translate='1' login='1' %}

<div class="clb bizcard mbl" style="margin-right: auto; margin-left:auto;max-width:400px;width:93%;background-color:#2de0ae;text-align:center">

  {% if form.errors %}
  <div class="mt mbs" style="padding:10px;border-bottom:1px dashed #c0f4d5;background-color:#26d5ab;border-top-left-radius:6px;border-top-right-radius:6px">
    <b style="color:#f9ef6c;text-shadow:1px 1px #009940;font-size:23px"><bdi>{{ form.errors.items.0.1.0 }}</bdi></b>
  </div>
  {% else %}
   {% if just_logged_out %}
    <div class="mt mbs" style="padding:10px;border-bottom:1px dashed #c0f4d5;background-color:#26d5ab;border-top-left-radius:6px;border-top-right-radius:6px">
      <div style="color:#f9ef6c;text-shadow:1px 1px #009940;padding-bottom:10px;border-bottom:1px dashed #c0f4d5;font-weight:bold;font-size:23px" class="lsp"><bdo dir="rtl">آپ لاگ آؤٹ ہو گئے!</bdo></div>
      <div style="color:white;text-shadow:1px 1px #009940;font-weight:bold" class="mt cxl"><bdo dir="rtl">لاگ ان کرنے کے لئے اپنا نک نیم اور پاس ورڈ لکھ کے <bdo dir="ltr">OK</bdo> دبایں</bdo></div>
    </div>
   {% else %}
    <div class="mt mbs" style="padding:10px;border-bottom:1px dashed #c0f4d5;background-color:#26d5ab;border-top-left-radius:6px;border-top-right-radius:6px">
    <b style="color:white;text-shadow:1px 1px #009940;font-size:23px"><bdo dir="rtl">اپنا نک نیم اور پاس ورڈ لکھ کے <bdo dir="ltr">OK</bdo> دبایں</bdo></b>
  </div>
   {% endif %}
  {% endif %}
  <form method="post" action="{% url 'login' 'ur' %}" style="padding:0 10px 10px 10px;border-bottom:1px dashed #c0f4d5">
    {% csrf_token %}
   	
   	<div class="mtl mbl">
      <b class="cxl" style="color:white;text-shadow:1px 1px #009940;"><bdo dir="rtl">نک نیم:</bdo></b><br>
        <div class="mt">{{ form.username }}</div>
    	</div>
    	<div class="mbl">
      <b class="cxl" style="color:white;text-shadow:1px 1px #009940;"><bdo dir="rtl">پاس ورڈ:</bdo></b><br>
        <div class="mt">{{ form.password }}</div>
     </div>
    <button class="mt mbl bs cl sp pg_ok_res" style="color:white;background-color:#ffd332;border:solid 1px #ffc800;text-shadow:1px 1px #9f4d10;font-weight:bold;height:30px" type="submit">OK</button>
    
  </form>

<a href="{% url 'forgot_password' 'ur' %}"><button class="cxl pg_ok_res" style="background:0 0;border:none;padding:0;width:100%"><div style="padding:15px 0;background-color:#26d5ab;border-bottom-left-radius:6px;border-bottom-right-radius:6px"><b style="color:white;text-shadow:1px 1px #009940;border-bottom:2px dotted #dcf9e8" class="lsp sp">پاس ورڈ بھول گۓ</b></div></button></a>

</div>

{% include "unauth/new_account_button.html" with lang='ur' %}
</div>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css">
</body>
</html>
