{% extends "base_signup.html" %}
{% block content %}

<head><title>Forgot password | Damadam.pk</title></head>
<div style="margin-top: 5%;">
{% include "unauth/title.html" with lang='' translate='0' %}

<div class="clb bizcard mbl" style="margin-right: auto; margin-left:auto;max-width:400px;width:93%;background-color:#2de0ae;text-align:center">

<div class="lsp cxl" style="color:white;text-shadow:1px 1px #009940;padding:10px;border-bottom:1px dashed #c0f4d5;font-weight:bold;background-color:#26d5ab;border-top-left-radius:6px;border-top-right-radius:6px">Ab apka mobile number confirm kia jaye ga</div>

<form method="POST" style="padding:0px 10px 10px 10px" class="mts mbs" action="{% url 'send_SMS_to_forgetter' %}">
	{% csrf_token %}
	<div class="mtl mbs lsp">{% if form.phonenumber.errors %}<b style="color:#f9ef6c;text-shadow:1px 1px #009940;" class="cxl lsp">{{ form.phonenumber.errors.0 }}</b>{% else %}<b style="color:white;text-shadow:1px 1px #009940;" class="cl sp lsp">Wohi mobile number likhein jo pehlay se Damadam pe verified ho</b>{% endif %}</div>
	{{ form.phonenumber }}
  	<button class="mtl mbl bs cl sp pg_ok_res" style="color:white;background-color:#ffd332;border:solid 1px #ffc800;text-shadow:1px 1px #9f4d10;font-weight:bold;height:30px" type="submit">OK</button>
</form>

</div>
{% include "unauth/old_account_button.html" with lang='' %}
</div>
{% endblock %}