{% extends "base_signup.html" %}
{% block content %}
<head><title>User verification | Damadam.pk</title></head>
<style>body{background: #fefbfb}</style>
{% include "fb_analytics.html" %}



<div class="lsp cm" style="color:white;padding:10px;border-bottom:1px #c0f4d5;font-weight:bold;background-color:#26d5ab;text-align:center"><bdo dir="rtl">اب آپکے موبائل نمبر کی تصدیق ہو گی</bdo></div>

<div class="bizcard" style="background-color:#FEFCFC;padding:3px 8px;max-width:500px;width:92%;margin:0 auto;overflow: hidden;text-align:center">	

	<form method="POST" action="{% url 'prelim_mobile_verification' 'ur' %}" class="mtl cgy">

			{% csrf_token %}
			{% if form.phonenumber.errors %}<b class="cr sp cxs mtl mbl">{{ form.phonenumber.errors.0 }}</b><br>{% endif %}
			{{ form.phonenumber }}<br>
			<div class="cxs mt clb"><bdo dir="rtl">وہ موبائل نمبر لکھیں جو پہلے تصدیق کروایا تھا ( مثال :<bdo dir="ltr"> 03451234567</bdo>)</bdo></div>
			    <button class="btn bct mtl mbs bl cs sp pg_ok_res" style="height:35px;width:100%;padding:10px;">OK</button>
	</form>
	<hr size=1 COLOR="#e6e6e6">
		<div class="cs lsp" style="text-align:right;padding:5px 5px;"><span class="cgy"><bdo dir="rtl"><b>ٹپ I:</b> موبائل نمبر ’ 0 ’ سے اسٹارٹ ہونا چاہیے ، ’  29 +’ سے نہیں</bdo><br><bdo dir="rtl"><b>ٹپ II:</b>اگلی اسکریں پر نمبر تبدیل نا کریں صرف SMS یا <bdo dir='ltr'>WhatsApp</bdo> سے پن منگوانے کا بٹن دابایین</bdo><br><bdo dir='rtl'><b>ٹپ III:</b>اوپر صرف نمبرز لکھ سکتے ہیں ، ڈیش یا اسپیس کی ضرورت نہیں</bdo></span></div>


</div>
	{% include "unauth/old_account_button.html" with lang='ur' %}
<br><br><br><br><br><br>
{% endblock %}