{% extends "base.html" %}
{% block content %}
{% load cache %}
{% cache 6000 announcement_page %}
<head><title>Coming soon!</title></head>

<style>body{background: #E9EBEE}</style>

<h1 class="clb cxl lsp" style="text-align:center">Coming soon!</h1>

<div class="bizcard clb" style="background-color:#FEFCFC;max-width:450px;width:92%;margin:0 auto;overflow: hidden;text-align:center;">


	<img src="{{ STATIC_URL }}img/wassap_small.svg" width="52" height="52" class="mtl">
	<div class="cxl lsp" style="border-bottom:1px dashed darkgray;padding:0 10px 10px 10px;text-align:center">
  	<b>Aik new Damadam ke liye tyar ho jaien!</b>
  	</div>

  <div class="sp lsp clb">
    <div style="padding:0 12px">
      <ul style="display:inline-block;padding: 0;list-style-type: circle;padding-left:15px">
        <li style="text-align:left" class="mbl">New design of 'Home', 'Fotos' and 'Profile'</li>
        <li style="text-align:left" class="mbl">'Private chat' name changed to '1 on 1 messaging'</li>
        <li style="text-align:left" class="mbl">'Likho' and 'Foto uploading' from the same page</li>
        <li style="text-align:left">And many more changes!</li>
      </ul>
    </div>
  </div>

</div>
<br>

<br>
{% endcache %}
{% endblock %}