{% extends "base.html" %}
{% block content %}
{% load cache %}
{% cache 6000 announcement %}
<head><title>New feature</title></head>

<style>body{background: #E9EBEE}</style>

<h1 class="clb cxl lsp" style="text-align:center">The new <span style="color:#ff421d">Red Star</span> is here!</h1>

<div class="bizcard clb" style="background-color:whitesmoke;max-width:750px;width:97%;margin:0 auto;overflow: hidden;text-align:center;">


  <button class="vt mtl mbs" style="background:white;border:3px solid #F0F0F0;width:100px;height:84px;padding:0;text-align:center;border-radius:8px"><div><img src="{{ STATIC_URL }}img/gstar.svg" class="mt" width="30" height="30"></div><div style="font-size:16px;color:#ff421d" class="mt">RED STAR</div></button>

	<div class="cxl mts lsp" style="border-bottom:1px solid #e4e5e8;padding:0 10px 10px 10px;text-align:center">
  	<span>Pink Star ki jagah <b style="color:#ff421d">Red Star</b> ne le li hai</span>
  	</div>

  <div class="sp lsp clb" style="background:white">
    <div style="padding:0 12px">
      <ul style="display:inline-block;padding: 0;list-style-type: circle;padding-left:15px">
        <li style="text-align:left" class="mbl">Red star un IDs ko mile ga jo top star list mein hain</li>
        <li style="text-align:left" class="mbl">Jab tak ID top star list mein rehay gi, red star show hota rehay ga</li>
        <li style="text-align:left" class="mbl">Jab koi ID top star list se nikl jaye gi, tou red star bhi khatam</li>
        <li style="text-align:left">Top star list mein ana hai? Tareeqa <a href="{% url 'top_photo_help' %}" style="color:#ff421d;border-bottom:1px dotted #ff421d"><b>ye hai</b></a></li>
      </ul>
    </div>
  </div>

</div>
<br>

<br>
{% endcache %}
{% endblock %}