<div class="bizcard" style="background:#fff169;text-align:center;padding:8px;color:black">
	<img src="{{ static_url }}img/cool.svg" width="70" height="70">
	<div class="cxl lsp" style="font-weight:bold;border-bottom:1px solid #fffcb9;padding-bottom:5px">Sunn yar!</div>
	<div class="cxl lsp mt">Damadam ki new changes ki wajuhaat kya hain?</div>
	<a href="{% url 'coming_soon' %}" target="_blank"><button class="mls bcb btn bl sp pg_ok_res mtl mbs" style="height:28px"><b>Find&nbsp;out!</b></button></a>
	</span>
</div><br>