<div class="bizcard" style="background:#79d9ff ;text-align:center;padding:8px;color:white;text-shadow:1px 1px #336daa">
	<img src="{{ static_url }}img/cool.svg" width="70" height="70">
	<div class="cxl lsp" style="font-weight:bold;border-bottom:1px solid #96ecff;padding-bottom:5px">PAPPU OYE!</div>
	<div class="cxl lsp mt" style="font-weight:bold">New mehfils ka sunna hai?!</div>
	<a href="{% url 'coming_soon' %}" target="_blank"><button class="mls bct btn bl sp pg_ok_res mtl mbs" style="background-color:tomato;height:28px"><b>Find&nbsp;out!</b></button></a>
	</span>
</div>