{% extends "base/base.html" %}
{% block content %}
<head><title>کورونا وائرس</title></head>
<main itemscope itemtype="https://schema.org/HealthTopicContent" class="mbl" style="display:block;max-width:750px;margin-left:auto;margin-right:auto">

<section style="display:block" itemprop="text">

<h1 style="text-align:center" class="cxl clb"><bdo dir="rtl"><span itemprop="headline">کورونا وائرس کے بارے میں معلومات</span> :</bdo></h1>

	<div style="background:white;padding:8px 10px;text-align:right">
	<div class="lsp sp cs mbs clb" style="text-align:center"><a href="{% url 'corona_virus' %}" class="cb">urdu</a>&nbsp;&nbsp;|&nbsp;&nbsp;اردو</div>
	<span class="lsp cm cgy sp"><bdo dir="rtl">نوٹ: <bdo dir="ltr">1166</bdo> حکومت کی کورونا وائرس ہیلپ لائن ہے جس پر پورے پاکستان سے رابطہ کیا جاسکتا ہے</bdo></span>

	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">کورونا وائرس کیا ہے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/corona-virus-kya-hai.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">یہ زکام یا فلو کی طرح کی بیماری ہے۔ زیادہ تر لوگ کچھ دن کے بعد خود سے صحت یاب ہو جاتے ہیں ۔ لیکن چند لوگ موت کا شکار ہو جاتے ہیں۔</bdo></div> 
	<div class="cm sp mt mbs"><bdo dir="rtl">اس بیماری کا اصل نام <bdo dir="ltr">'COVID-19'</bdo> ہے۔ یہ کورونا وائرس کے نام سے مشہور ہے۔</bdo></div>

	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">کورونا وائرس خطرناک کیوں ہے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/corona-virus-khatarnaak-kyun-hai.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">یہ وائرس شدید تیزی سے پھیلتا ہے۔ گھر میں صرف ایک انسان کو ہو جائے تو پورے خاندان کو ہو سکتا ہے۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">جوان لوگ زیادہ تر خود بخود صحت یاب ہو جاتے ہیں , لیکن جن کی عمر <bdo dir="ltr">60</bdo> یا اس سے زائد ہے , یہ وائرس ان کی جان لے سکتا ہے۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">لہذا ہمارے والدین اور ہمارے بزرگوں کو بہت خطرہ ہے۔ اس کے علاوہ ان لوگوں کو بھی خطرہ ہے جو کسی اور بیماری کی وجہ سے بیمار ہیں</bdo></div>

	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">کیسے پتہ چلتا ہے کہ کورونا وائرس ہو گیا ہے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/kesey-pata-chalta-hai-corona-virus-ho-gaya-hai.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">اسکی اہم علامات کھانسی اور بخار ہیں۔ سانس کی دشواری بھی ایک علامت ہے۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">اگر آپ کو شک ہے کہ آپ کو کورونا وائرس ہے تو دوسروں کو ہرگز اپنے قریب نہیں آنے دیں۔ چند روز کے لیے اپنے آپ کو کمرے میں بند کر لیں۔ اپنے برتن علیحدہ کر لیں۔ ورنہ اپ کے گھر کے کسی فرد کو بھی ہو جاۓ گا۔</bdo></div> 
	<div class="cm sp mt mbs"><bdo dir="rtl">تقریباً دو ہفتے لگتے ہیں مکمل صحت یابی کے لیے۔ طبعیت زیادہ خراب ہو تو ہسپتال  جايۓ، یا <bdo dir="ltr">1166</bdo> پہ کال کریں۔</bdo></div>

	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">کورونا وائرس اور فلو کی علامات میں کیا فرق ہے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/corona-virus-aur-flu-mein-farq.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">فلو اور کورونا وائرس میں فرق بتانا بہت مشکل ہے۔ بہتر یہی ہے کہ خطرہ مول نہ لیں اور بچاٶ کے طریقے پہ مکمل عمل کریں۔</bdo></div>

	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">کرونا وائرس سے بچاؤ کیسے ممکن ہے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/corona-virus-se-bachao.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl"><bdo dir="ltr">۱۰۰٪</bdo> بچاؤ مشکل ہے۔ لیکن خطرہ کافی کم ہو سکتا ہے اگر آپ دو احتیاطی تدابیر اختیار کریں:</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">۱) ہر کچھ وقت بعد ہاتھ صابن سے دھوئیں۔ جلد کو <bdo dir="ltr">20</bdo> سیکنڈ تک صابن سے رگڑیں۔ اچھے صابن ڈیٹول، لائف بوائے، سیف گارڈ، وغیرہ ہیں۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">۲) دوسروں سے دو بازو (يا ڈیڑھ) بازو کے فاصلے پر رہیں۔ ہاتھ ملانے یا گلے ملنے کے بجائے  دور سے سلام کریں۔ اس چیز کو <bdo dir="ltr">'social distancing'</bdo> کہتے ہیں۔</bdo></div>

	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">وضو، پیاز اور دیگر چیزیں جو سوشل میڈیا پر شیئر کی جا رہی ہیں، کیا اُن میں کرونا کا علاج ہے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/wuzu-pyaz-klonji-corona-ilaj.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">وضو نہایت مفید ہے لیکن ساتھ میں صابن ضروری استمعال کریں۔ ورنہ گارنٹی نہیں کورونا سے بچنے کی۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">پیاز علاج نہیں ہے۔ ہومیو پیتھی، پیر یا عامل کے پاس بھی علاج نہیں۔ زیادہ تر لوگ ویسے ہی صحتیاب ہو جاتے ہیں۔ ان کو شفا براہ راست اللہ تعالیٰ نے دی ہوتی ہے۔ نہ پیر نے اور نہ پیاز وغیرہ نے۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">حرم شریف میں لوگ ہر وقت باوضو رہتے ہیں۔ وہاں کلونجی اور اب زم زم ہر وقت دستیاب ہے۔ لیکن اس بیماری سے حرم شریف کے طواف میں بھی رکاوٹیں آئیں۔ لہٰذا ہم سب کے لیے ضروری ہے کہ بیماری سے بچاؤ کی بھرپور کوشش کریں۔</bdo></div>

	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">کورونا وائرس سے بچاؤ کی حکمتِ عملی کیا ہے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/corona-se-bachao-hikmat-e-amli.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">اگر ہم نے گرمیوں تک اس بیماری کو روک لیا, تو شائد یہ خودبخود غائب ہو جاے۔ لہذا اپنے خاندان اور دوستوں کو تلقین کریں کہ کورونا کی احتیاطی تدابیر پہ سنجیدگی سے عمل کریں۔</bdo></div> 
	<div class="cm sp mt mbs"><bdo dir="rtl">کوشش کریں اپریل میں گھر سے باہر نا نکلیں۔ اگر روزی روٹی کیلئے جانا ضروری ہے تو <bdo dir="ltr">'Dettol Hand Sanitizer'</bdo> وغیرہ جیب میں رکھیں۔ ہر کچھ وقت بعد ہاتھ صاف کرتے رہیں. اور لوگوں سے دو یا ڈیڑھ بازو دور رہیں۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">اگر کوئی شخص بیمار لگ رہا ہے تو ہرگز اسکے قریب نا جائیں , ایسا نہ ہو کہ آپ اپنے پورے خاندان میں بیماری پھیلا دیں۔</bdo></div> 
	<div class="cm sp mt mbs"><bdo dir="rtl"><bdo dir="ltr">1166</bdo> پہ کال کریں اگر کوئی بھی خوف یا خدشہ ہو۔</bdo></div>
	<hr size=1 COLOR="#dddddd">
	<div class="lsp cm cgy sp"><bdo dir="rtl">اہم لنکس:</bdo></div>

	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs"><bdo dir="rtl">&bull; <span itemprop="description">پاکستان میں کورونا وائرس کی جانچ کے مراکز</span>: <a href="https://www.thenews.com.pk/latest/628597-coronavirus-how-do-i-get-tested-in-pakistan" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target"><bdo dir="ltr">link</bdo></a></bdo></div></span>
	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs"><bdo dir="rtl">&bull; <span itemprop="description">پاکستان کی موجودہ صورتحال</span>: <a href="https://www.google.com/search?hl=ur&q=pakistan+coronavirus&ie=utf-8&oe=utf-8" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target"><bdo dir="ltr">link</bdo></a></bdo></div></span>
	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs"><bdo dir="rtl">&bull; <span itemprop="description">ڈاکٹر سومیہ اقتدار کی جانب سے کورونا وائرس پر بنائی گئی ویڈیو</span>: <a href="https://www.youtube.com/watch?v=uZ6ieK9i5Y0" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target"><bdo dir="ltr">link</bdo></a></bdo></div></span>
	<hr size=1 COLOR="#dddddd">
	<div style="text-align:center" class="bw sp lsp cs">translation by: <a href="{% url 'user_profile' 'Meerub_khan' %}" class="cb">Meerub_khan</a>, <a href="{% url 'user_profile' 'Ahmed-Faraz' %}" class="cb">Ahmed-Faraz</a>, <a href="{% url 'user_profile' 'Tere.bin.jeena.muskil.hai' %}" class="cb">Tere.bin.jeena.muskil.hai</a></div>

	</div>
</section>
</main>
<br><br>
{% endblock %}