{% extends "base/base.html" %}
{% block content %}
<head><title>Corona Virus | Damadam</title></head>
<main itemscope itemtype="https://schema.org/HealthTopicContent" class="mbl" style="display:block;max-width:750px;margin-left:auto;margin-right:auto">

<section style="display:block" itemprop="text">

<h1 style="text-align:center" class="cxl lsp clb"><span itemprop="headline">Information about Corona Virus</span>:</h1>

	<div class="lsp" style="background:white;padding:8px 10px">
	<div class="lsp sp cs mbs clb" style="text-align:center">urdu&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'corona_virus' 'ur' %}" class="cb">اردو</a></div>
	<span class="lsp cm cgy sp">Note: 1166 hakoomat ki Corona Helpline hai, is pe puray Pakistan se call ho sakti hai</span>

	<div class="mts cxl" style="font-weight:600">Corona Virus kya hai?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/corona-virus-kya-hai.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Ye zukaam ya Flu ki terah ki bimari hai. Zyada tar log kuch din baad khud se recover kar jatey hain. Lekin chand logoon ki death bhi ho jati hai.</div> 
	<div class="cm sp mt mbs">Is bimari ka real name COVID-19 hai. Ye "Corona Virus" ke naam se mashoor hai.</div>

	<div class="mts cxl" style="font-weight:600">Corona Virus khatarnaak kyun hai?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/corona-virus-khatarnaak-kyun-hai.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Ye virus shadeed tezi se phelta hai. Ghar mein sirf aik insan ko ho jaye, tou poori family ko ho sakta hai.</div> 
	<div class="cm sp mt mbs">Young log zyada tar khud bakhud sehat-yaab ho jatey hain. Lekin jinki umar 60+ hai, ye virus unki jaan le sakta hai.</div> 
	<div class="cm sp mt mbs">Lehaza hamare parents aur grand parents ko buhut khatra hai. Iske ilawa un logoon ko bhi khatra hai jo kisi aur bimari se weak hain (e.g. diabetes, asthma etc).</div>

	<div class="mts cxl" style="font-weight:600">Kesay pata chalta hai ke Corona Virus ho gaya hai?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/kesey-pata-chalta-hai-corona-virus-ho-gaya-hai.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Iski main alaamat khansi aur bukhar hain. Sans ki dushwari bhi aik alamat hai.</div>
	<div class="cm sp mt mbs">Agar apko shak hai ke apko Corona Virus hai, tou dusroon ko hargiz apney kareeb nahi aney dein. Chand roz ke liye apney apko room mein lock kar lein. Apney bartan alehda kar lein. Warna apki family ko bhi ho jaye ga.</div> 
	<div class="cm sp mt mbs">Takreeban 2 weeks lagtey hain mukammal sehat-yaabi ke liye. Tabiyat zyada kharab ho tou hospital jaien, ya 1166 pe call karein.</div>

	<div class="mts cxl" style="font-weight:600">Corona Virus aur Flu ki alamaat mein kya farq hai?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/corona-virus-aur-flu-mein-farq.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Flu aur Corona Virus mein farq batana mushkil hai. Behtar yehi hai ke chance nahi lein, aur mukammal procedure follow karein.</div>

	<div class="mts cxl" style="font-weight:600">Corona Virus se bachao kese mumqin hai?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/corona-virus-se-bachao.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">100% bachao mushkil hai. Lekin risk kaafi kamm ho sakta hai agr ap 2 steps lein:</div>
	<div class="cm sp mt mbs">1) Har kuch waqt baad haath soap se dhoien. Jild ko 20-30 seconds tak soap se rub karein. Best soaps: Dettol, Lifebuoy, Safeguard waghera.</div>
	<div class="cm sp mt mbs">2) Dusroon se 2 (ya dedh) bazu ke fasle pe rehain. Hath milaney (ya galey milney) ke bajai dur se Salam karein. Is cheez ko "social distancing" kehtay hain.</div>

	<div class="mts cxl" style="font-weight:600">Wuzu, peyaz aur deegar cheezain (jo social media pe share ho rahi hain), kya woh Corona ka ilaaj hain?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/wuzu-pyaz-klonji-corona-ilaj.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Wuzu safai ke liye nehayat mufeed hai. Lekin saath mein soap zaruri istemal karein. Warna guarantee nahi Corona se bachne ki. Aur agr ap kisi Corona patient ke qareeb thay, tou phir bhi bimari ho jaye gi.</div>
	<div class="cm sp mt mbs">Pehyaz ilaaj nahi hai. Homeopathy, pir ya alim ke pas bhi ilaaj nahi. Zyada tar log wesay hi sehat-yaab ho jatey hain. Unko shifa barai-raast Allah Ta'ala ne di hoti hai. Na kisi pir ne, aur na peyaz waghera ne.</div>
	<div class="cm sp mt mbs">Harram Shareef mein log har waqt ba-wuzu rehtay hain. Wahan kolnji aur aab-e-zamzam aam dastyaab hain. Lekin is bimari se Harram Shareef ke tawaf mein bhi rukawatein aien. Lehaza hum sab ke liye zaruri hai ke is bimari se bachao ke liye bharpur koshish karein.</div>

	<div class="mts cxl" style="font-weight:600">Corona Virus se bachao ki hikmat-e-amli kya hai?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/corona-se-bachao-hikmat-e-amli.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Agar ham ne garmiyun tak is bimari ko rok liya, tou shayed ye khud bakhud ghayeb ho jaye. Lehaza apni family and friends ko talqeen karein ke Corona ki ehtyaati tadabeer pe sanjeedgi se amal karein.</div> 
	<div class="cm sp mt mbs">Koshish karein April mein ghar se bahir nahi niklein. Agar rozi-roti ke liye jana zaruri hai, tou Dettol Hand Sanitizer (waghera) jaeb mein rakhein. Har kuch waqt baad hath saaf kartey rehain. Aur logoon se 2 (ya dedh) bazu dur rehain.</div>
	<div class="cm sp mt mbs">Agar koi shaks bimar lag raha ho tou hargiz chance nahi lein. Aisa na ho ap apni poori family tak bimari phela dein.</div> 
	<div class="cm sp mt mbs">1166 pe call karein agar koi bhi khof ya khadsha ho. Good luck.</div>
	<hr size=1 COLOR="#dddddd">
	<div class="lsp cm cgy sp">Important links:</div>

	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs">&bull; <span itemprop="description">Corona Virus testing locations in Pakistan</span>: <a href="https://www.thenews.com.pk/latest/628597-coronavirus-how-do-i-get-tested-in-pakistan" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target">link</a></div></span>
	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs">&bull; <span itemprop="description">Situation in Pakistan right now</span>: <a href="https://www.google.com/search?q=pakistan+coronavirus&ie=utf-8&oe=utf-8" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target">link</a></div></span>
	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs">&bull; <span itemprop="description">Urdu video on Corona Virus by Dr. Somia Iqtadar</span>: <a href="https://www.youtube.com/watch?v=uZ6ieK9i5Y0" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target">link</a></div></span>
	

	</div>
</section>
</main>
<br><br>
{% endblock %}