{% extends "base/base.html" %}
{% block content %}
<head><title>Corona Virus | Damadam</title></head>
<main itemscope itemtype="https://schema.org/HealthTopicContent" class="mbl" style="display:block;max-width:750px;margin-left:auto;margin-right:auto">

<section style="display:block" itemprop="text">

<h1 style="text-align:center" class="cxl clb"><bdo dir="rtl"><span itemprop="headline">کورونا وائرس کا علاج</span> :</bdo></h1>

	<div style="background:white;padding:8px 10px;text-align:right">

	<div class="lsp sp cs mbs clb" style="text-align:center"><a href="{% url 'corona_virus_management' %}" class="cb">urdu</a>&nbsp;&nbsp;|&nbsp;&nbsp;اردو</div>
	
	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">کورونا وائرس کا علاج کیا ہے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/corona-virus-ilaj.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">کورونا کی بیماری لاعلاج ہے۔ لیکن اگر آپکو کورونا ہوجاۓ تو گھبرايےنہیں۔ کورونا کی علامات کو قابلِ برداشت بنایا جاسکتا ہے۔</bdo></div>

	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">کورونا کی بیماری کے لیے پہلے سے کیا تیاری کرنی چاہئے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/corona-preparation.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">کورونا کے لیے وہی چیزیں مفید ہیں جو دیگر سانس کی بیماریوں میں بھی آرام دیتی ہیں (مثلا ً نمونیا یا پھیپھڑوں کا ورم)۔ مندرجہ ذیل کا انتظام کر لیں:</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">• پینے کے لیے صاف پانی</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">• پیراسیٹامول اور ٹیشو پیپر</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">• کھانسی کا شربت (جو <bdo dir="ltr">'mucus'</bdo> ختم کرتا ہو) </bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">• شہد اور لیموں (گرم پانی میں ملا کر پینے کے لیے)</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">• <bdo dir="ltr">Vicks VapoRub</bdo> اور <bdo dir="ltr">Vitamin C</bdo> کی گولیاں</bdo></bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">• کمرے  کے لیے <bdo dir="ltr">'humidifier'</bdo> (ابلتے پانی کی بھاپ بھی استعمال کر سکتے ہیں)</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">• اگر آپکو دمہٰ ہے تو اپنے ڈاکٹر کا تجویز کردہ <bdo dir="ltr">'inhaler'</bdo> خرید لیں</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">• اپنا پسندیدہ سوپ بنا کے فریز کر لیں۔</bdo></div>
 
	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">کورونا ہونے کی صورت میں کیا کرنا چاہئے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/corona-management.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">بخار ہو تو پیراسیٹامول لیں۔ کھانسی کی صورت میں کھانسی کا شربت اور شہد یا لیموں والا پانی پیئں۔ گرما گرم سوپ بھی آرام دے گا، اور گرم پانی کی بھاپ بھی۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">کورونا سے جسم میں پانی کی کمی ہوسکتی ہے۔ جس سے مزید مسائل پیدا ہو جاتے ہیں۔ لہذا جتنا پانی پی سکتے ہیں پیئں۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">پانی میں <bdo dir="ltr">Vitamin C</bdo> کی گولیاں بھی ملا کے پی سکتے ہیں ۔<bdo dir="ltr">Vitamin C</bdo> شفا نہیں دیتی، لیکن جسم کی <bdo dir="ltr">'immunity'</bdo> (قوتِ مدافعت ) کو بہتر کردیتی ہے۔</bdo></div>
	<div class="cm sp mt mbs"><bdo dir="rtl">آپ <bdo dir="ltr">14</bdo> دن تک کورونا وائرس کا شکار رہ سکتے ہیں، اور دوسروں کو بھی یہ مرض لگا سکتے ہیں۔ لہذا تنہائی میں آرام کریں، اور کمرے سے باہر نہیں نکلیں (بیشک طبعیت زیادہ خراب نہ ہو)۔</bdo></div>

	<div class="mts cxl" style="font-weight:600"><bdo dir="rtl">اگر طبعیت زیادہ خراب ہو تو کیا کرنا چاہئے؟</bdo></div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur/call-1166.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cm sp lsp"><span style="border-bottom:1px dotted blue;">ڈاؤنلوڈ کریں</span></button></a></span>
	<div class="cm sp mt mbs"><bdo dir="rtl">فوراً <bdo dir="ltr">1166</bdo> پہ کال کریں۔ کورونا جان بھی لے سکتا ہے، اس لیے کال کرنے میں تاخیر نہیں کریں۔ <bdo dir="ltr">1166</bdo> پہ کال کر کے آپ کو پتہ چلے گا کہ آپ کو ہسپتال جانا چاہئے یا نہیں۔</bdo></div>

	<hr size=1 COLOR="#dddddd">
	<div class="lsp cm cgy sp"><bdo dir="rtl">اہم لنکس:</bdo></div>

	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs"><bdo dir="rtl">&bull; <span itemprop="description">پاکستان میں کورونا وائرس کی جانچ کے مراکز</span>: <a href="https://www.thenews.com.pk/latest/628597-coronavirus-how-do-i-get-tested-in-pakistan" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target"><bdo dir="ltr">link</bdo></a></bdo></div></span>
	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs"><bdo dir="rtl">&bull; <span itemprop="description">پاکستان کی موجودہ صورتحال</span>: <a href="https://www.google.com/search?hl=ur&q=pakistan+coronavirus&ie=utf-8&oe=utf-8" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target"><bdo dir="ltr">link</bdo></a></bdo></div></span>
	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs"><bdo dir="rtl">&bull; <span itemprop="description">ڈاکٹر سومیہ اقتدار کی جانب سے کورونا وائرس پر بنائی گئی ویڈیو</span>: <a href="https://www.youtube.com/watch?v=uZ6ieK9i5Y0" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target"><bdo dir="ltr">link</bdo></a></bdo></div></span>
	<hr size=1 COLOR="#dddddd">
	<div style="text-align:center" class="bw sp lsp cs">translation by: <a href="{% url 'user_profile' 'Tere.bin.jeena.muskil.hai' %}" class="cb">Tere.bin.jeena.muskil.hai</a></div>
	

	</div>
</section>
</main>
<br><br>
{% endblock %}