{% extends "base/base.html" %}
{% block content %}
<head><title>Corona Virus | Damadam</title></head>
<main itemscope itemtype="https://schema.org/HealthTopicContent" class="mbl" style="display:block;max-width:750px;margin-left:auto;margin-right:auto">

<section style="display:block" itemprop="text">

<h1 style="text-align:center" class="cxl lsp clb"><span itemprop="headline">Corona Virus ka Ilaaj</span>:</h1>

	<div class="lsp" style="background:white;padding:8px 10px">

	<div class="lsp sp cs mbs clb" style="text-align:center">urdu&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'corona_virus_management' 'ur' %}" class="cb">اردو</a></div>
	
	<div class="mts cxl" style="font-weight:600">Corona Virus ka ilaaj kia hai?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/corona-virus-ilaj.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Corona ki bimari la-ilaaj hai. Lekin agr apko Corona ho jaye tou ghabrain nahi. Corona ki alamat ko qabil-e-bardasht banaya ja sakta hai.</div>

	<div class="mts cxl" style="font-weight:600">Corona ki bimari ke liye pehle se kya tyaari karni chahiye?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/corona-preparation.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Corona ke liye wohi cheezain mufeed hain jo deegar saans ki bimariyun mein bhi aram deti hain (maslan 'pneumonia' ya 'bronchitis'). Inka intezam kar lein:
	<ul style="margin:0">
		<li>Peenay ke liye saaf pani</li>
		<li>Paracetamol aur tissue paper</li>
		<li>Cough syrup (jo khaas taur pe 'mucus' khatam karta ho)</li>
		<li>Honey aur lemon (garam pani mein mix kar ke peenay ke liye)</li>
		<li>Vicks VapoRub aur Vitamin C tablets</li>
		<li>Room ke liye 'humidifier' (ubaltey pani ki bhaap bhi istemal ho sakti hai)</li>
		<li>Agr asthma hai tou apney doctor ka tajweez karda 'inhaler' khareed lein</li>
		<li>Apna pasandida soup bana ke freeze kar lein</li>
	</ul>
	</div> 

	<div class="mts cxl" style="font-weight:600">Corona honay ki surat mein kya karna chahiye?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/corona-management.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Fever ho tou paracetamol lein. Cough ki surat mein cough syrup aur honey/lemon water piyen. Garma garam soup bhi aram de ga, aur ubaltey pani ki bhaap bhi.</div>
	<div class="cm sp mt mbs">Corona se jism mein paani ki kammi ho sakti hai. Jis se mazeed masail paida ho jatey hain. Lehaza jitna pani pee saktey hain piyen.</div>
	<div class="cm sp mt mbs">Pani mein vitamin C tablets bhi mila ke pee saktey hain. Vitamin C shifa nahi deti. Lekin jism ki 'immunity' (quwat-e-madafiyat) behtar kar deti hai.</div>
	<div class="cm sp mt mbs">Ap 14 days tak Corona Virus ka shikaar reh saktey hain, aur dusroon ko bhi yeh marz laga saktey hain. Lehaza tanhai mein rest karein. Aur kamrey se bahir nahi niklein (beshak tabiyat itni kharab na ho).</div>

	<div class="mts cxl" style="font-weight:600">Agr tabiyat zyada kharab ho tou kya karna chahiye?</div>
	<span itemscope itemtype="https://schema.org/ViewAction"><a href="{{ STATIC_URL }}img/corona/ur-en/call-1166.png" download itemprop="image"><button style="border:none;padding:4px 8px 4px 0;background:0 0" class="cb cxs sp lsp"><span style="border-bottom:1px dotted blue;">DOWNLOAD THIS <img src="{{ STATIC_URL }}img/redirect.svg" width="12" height="12"></span></button></a></span>
	<div class="cm sp mt mbs">Forun 1166 pe call karein. Corona jaan bhi le sakta hai iss liye call karney mein takheer nahi karein. 1166 se apko pata chaley ga ke apko hospital jana chahiye ke nahi. Good luck.</div>

	<hr size=1 COLOR="#dddddd">
	<div class="lsp cm cgy sp">Important links:</div>

	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs">&bull; <span itemprop="description">Corona Virus testing locations in Pakistan</span>: <a href="https://www.thenews.com.pk/latest/628597-coronavirus-how-do-i-get-tested-in-pakistan" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target">link</a></div></span>
	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs">&bull; <span itemprop="description">Situation in Pakistan right now</span>: <a href="https://www.google.com/search?q=pakistan+coronavirus&ie=utf-8&oe=utf-8" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target">link</a></div></span>
	<span itemscope itemtype="https://schema.org/ViewAction"><div class="cm sp mt mbs">&bull; <span itemprop="description">Urdu video on Corona Virus by Dr. Somia Iqtadar</span>: <a href="https://www.youtube.com/watch?v=uZ6ieK9i5Y0" target="_blank" rel="nofollow" class="cb" style="border-bottom:1px dotted blue" itemprop="target">link</a></div></span>
	

	</div>
</section>
</main>
<br><br>
{% endblock %}